workflows/(Agente_Atus)_-_Corretor_de_Participantes_BBFwS5JGel2l4ifQ.json
{"createdAt":"2025-11-12T14:29:04.118Z","id":"BBFwS5JGel2l4ifQ","name":"(Agente Atus) - Corretor de Participantes","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"be1510d6-77a1-464c-800b-bbd4f03bf2af","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-80,208],"id":"01f247b2-9f49-44b8-9524-25e0db7ffaf7","name":"Webhook","webhookId":"be1510d6-77a1-464c-800b-bbd4f03bf2af"},{"parameters":{"promptType":"define","text":"={{ $json.resultado }}","options":{"systemMessage":"=# Objetivo\n\nCorrija o conteúdo do campo resumo:\n{{ $('Webhook').item.json.body.resumo }}\n\n**Utilize as informações de nomes e participantes contidas em:**\n{{ $json.output.resultado }}\n\nAssocie aos nomes encontrados dos participantes e nunca do resumo.\n\n# Regras\n**Você não deve criar departamentos ou inventar se eles ja existirem, você deve associar ao resultado encontrado em:** {{ $json.output.resultado }}\n\n- Associe ao nomes do resumo ao encontrados em: {{ $json.output.resultado }}\n- Coloque todos os nomes do resumo em \"Participantes\"\n- Substitua ou corrija os nomes no resumo conforme os nomes corretos fornecidos.\n- Nunca crie o invente nomes.\n- Inclua todos os nomes recebidos na seção intitulada \"Participantes\", garantindo que estejam corretamente listados.\n- Não coloque sobrenome, apenas um único nome.\n\n## Retorno\n\nPara individuos com departamento (Desconhecido) retorne apenas o nome, para individuos com departamentos definidos retorne o seu nome e departamento em pareteses:\n\nExemplo:\n```\n\"Igor\",\"(Desconhecido)\" = Igor\n\"Samuel\",\"(Marketing)\" = Samuel (Marketing)\n```\n\nResultado Errado:\n\n```\n**Representantes da Contabilidade:** Jéssica, Tânia, Adilio — Responsáveis pela execução dos processos contábeis e fiscais. \n```\n\nResutlado Correto:\n```\n**Representantes da Contabilidade:** Jéssica, Tânia, Adilio (Diretoria) — Responsáveis pela execução dos processos contábeis e fiscais. \n```\n\n## Data e Hora:\nEm \"Data e Hora da Reunião:\" coloque o mesmo que: {{ $('Webhook').item.json.body.data }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[1856,208],"id":"fda10ec3-e181-4828-9cb5-2375f500cdbc","name":"Corretor de Participantes"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[128,432],"id":"ad92516a-cb98-4823-9213-ba31c5296592","name":"4.1 Mini"},{"parameters":{"jsonSchemaExample":"[\n  {\n    \"nome\": \"Adilio Castelo Branco\",\n    \"departamento\": \"RH\"\n  },\n  {\n    \"nome\": \"Jéssica Silva\",\n    \"departamento\": \"Financeiro\"\n  },\n  {\n    \"nome\": \"Edgar\",\n    \"departamento\": \"none\"\n  }\n]"},"type":"[REDACTED]","typeVersion":1.3,"position":[272,432],"id":"b6748a4b-6baf-41e5-976f-b158331b9d05","name":"Saida Json"},{"parameters":{"workflowId":{"__rl":true,"value":"eBzDDxnFxkZ9Ba2w","mode":"list","cachedResultUrl":"[REDACTED]","cachedResultName":"Agente Atus (Zapier Version) - Com Corretor"},"workflowInputs":{"mappingMode":"defineBelow","value":{"resumo":"={{ $json.output }}","data":"={{ $('Webhook').item.json.body.data }}","titulo":"={{ $('Webhook').item.json.body.titulo }}"},"matchingColumns":[],"schema":[{"id":"titulo","displayName":"titulo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"resumo","displayName":"resumo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data","displayName":"data","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[2208,208],"id":"6474ce63-a511-4b1b-b52d-bd16df1406ac","name":"Call 'Agente Atus (Zapier Version) - Com Corretor'"},{"parameters":{"promptType":"define","text":"={{ $json.body.resumo }}","hasOutputParser":true,"options":{"systemMessage":"A partir do texto a seguir, extraia todos os nomes próprios de pessoas mencionadas na reunião  e possiveis funções/departamentos e retorne o resultado em formato JSON, com a seguinte estrutura:\n\n```\n[\n  {\n    \"nome\": \"Adilio Castelo Branco\",\n    \"departamento\": \"RH\"\n  },\n  {\n    \"nome\": \"Jéssica Silva\",\n    \"departamento\": \"Financeiro\"\n  },\n  {\n    \"nome\": \"Edgar\",\n    \"departamento\": \"none\"\n  }\n]\n```\n\nApenas inclua nomes de pessoas. Ignore nomes de empresas, projetos ou locais. Não adicione comentários ou explicações fora do JSON."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[128,208],"id":"1a5a6b51-d555-4e6a-b1c0-0c365e145965","name":"Extrator de Nomes"},{"parameters":{"language":"python","pythonCode":"# resultado = []\n# output_referencia = None  # Guarda o primeiro \"output\"\n# lista_completa = []       # Armazena todos os registros seguintes\n\n# # Percorre todos os itens recebidos no n8n\n# for item in items:\n#     dados = item.get(\"json\", {})\n\n#     # Captura o primeiro output e usa como referência\n#     if output_referencia is None and \"output\" in dados:\n#         output_referencia = dados[\"output\"]\n#     else:\n#         # Adiciona os demais registros à lista completa\n#         lista_completa.append({\n#             \"nome\": dados.get(\"nome\", \"\").strip(),\n#             \"departamento\": dados.get(\"departamento\", \"\").strip(),\n#             \"funcao\": dados.get(\"funcao\", \"\").strip()\n#         })\n\n# # Se não encontrou um output, encerra\n# if not output_referencia:\n#     return [{\"json\": {\"erro\": \"Nenhum campo 'output' encontrado\"}}]\n\n# # Função auxiliar para comparar nomes (tolerante a diferenças)\n# def nome_bate(nome_output, nome_lista):\n#     return nome_output.lower() in nome_lista.lower() or nome_lista.lower() in nome_output.lower()\n\n# # Monta o resultado final\n# resultado_final = []\n# for pessoa_output in output_referencia:\n#     nome_saida = pessoa_output.get(\"nome\", \"\").strip()\n#     encontrado = None\n\n#     # Procura correspondência\n#     for pessoa_lista in lista_completa:\n#         if nome_bate(nome_saida, pessoa_lista[\"nome\"]):\n#             encontrado = pessoa_lista\n#             break\n\n#     # Se encontrou, usa os dados; senão, preenche vazio\n#     if encontrado:\n#         resultado_final.append({\n#             \"nome\": encontrado[\"nome\"],\n#             \"departamento\": encontrado[\"departamento\"],\n#             \"funcao\": encontrado[\"funcao\"]\n#         })\n#     else:\n#         resultado_final.append({\n#             \"nome\": nome_saida,\n#             \"departamento\": \"\",\n#             \"funcao\": \"\"\n#         })\n\n# # Retorna resultado consolidado\n# return [{\"json\": {\"resultado\": resultado_final}}]\n\n# Este script:\n# 1. Mantém apenas a primeira ocorrência do campo \"output\"\n# 2. Compara os nomes do \"output\" com a lista completa\n# 3. Usa apenas o primeiro nome na comparação\n# 4. Retorna todos os nomes, preenchendo departamento e função vazios se não encontrados\n\nresultado = []\noutput_referencia = None  # Guarda o primeiro \"output\"\nlista_completa = []       # Armazena todos os registros seguintes\n\n# Percorre todos os itens recebidos no n8n\nfor item in items:\n    dados = item.get(\"json\", {})\n\n    # Captura o primeiro output e usa como referência\n    if output_referencia is None and \"output\" in dados:\n        output_referencia = dados[\"output\"]\n    else:\n        # Adiciona os demais registros à lista completa\n        lista_completa.append({\n            \"nome\": dados.get(\"nome\", \"\").strip(),\n            \"departamento\": dados.get(\"departamento\", \"\").strip(),\n            \"funcao\": dados.get(\"funcao\", \"\").strip()\n        })\n\n# Se não encontrou um output, encerra\nif not output_referencia:\n    return [{\"json\": {\"erro\": \"Nenhum campo 'output' encontrado\"}}]\n\n# Função para extrair o primeiro nome\ndef primeiro_nome(nome):\n    return nome.strip().split(\" \")[0].lower() if nome else \"\"\n\n# Monta o resultado final\nresultado_final = []\nfor pessoa_output in output_referencia:\n    nome_saida = pessoa_output.get(\"nome\", \"\").strip()\n    primeiro_output = primeiro_nome(nome_saida)\n    encontrado = None\n\n    # Procura correspondência exata de primeiro nome\n    for pessoa_lista in lista_completa:\n        if primeiro_output == primeiro_nome(pessoa_lista[\"nome\"]):\n            encontrado = pessoa_lista\n            break\n\n    # Se encontrou, usa os dados; senão, preenche vazio\n    if encontrado:\n        resultado_final.append({\n            \"nome\": encontrado[\"nome\"],\n            \"departamento\": encontrado[\"departamento\"],\n            \"funcao\": encontrado[\"funcao\"]\n        })\n    else:\n        resultado_final.append({\n            \"nome\": nome_saida,\n            \"departamento\": \"\",\n            \"funcao\": \"\"\n        })\n\n# Retorna resultado consolidado\nreturn [{\"json\": {\"resultado\": resultado_final}}]\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1072,224],"id":"6e74a519-a3f8-4e58-bb4a-387b925a4361","name":"Limpar Duplicados"},{"parameters":{"language":"python","pythonCode":"# Este script recebe dois conjuntos:\n# - resultado: nomes com possivelmente campos vazios\n# - output: lista auxiliar com nomes, departamento e função corretos\n# Ele complementa os dados do resultado com o que encontrar em output.\n\ndados = items[0].get(\"json\", {})\n\nresultado = dados.get(\"resultado\", [])\noutput = dados.get(\"output\", [])\n\n# Função auxiliar para comparar nomes (tolerante a maiúsculas, minúsculas e trechos)\ndef nome_bate(nome1, nome2):\n    n1, n2 = nome1.strip().lower(), nome2.strip().lower()\n    return n1 in n2 or n2 in n1\n\n# Percorre o resultado e complementa dados faltantes\nresultado_corrigido = []\nfor pessoa in resultado:\n    nome = pessoa.get(\"nome\", \"\").strip()\n    departamento = pessoa.get(\"departamento\", \"\").strip()\n    funcao = pessoa.get(\"funcao\", \"\").strip()\n\n    # Busca no output correspondente\n    encontrado = None\n    for possivel in output:\n        if nome_bate(nome, possivel.get(\"nome\", \"\")):\n            encontrado = possivel\n            break\n\n    # Se achou, complementa os campos vazios\n    if encontrado:\n        if not departamento:\n            departamento = encontrado.get(\"departamento\", \"\").strip()\n        if not funcao:\n            funcao = encontrado.get(\"funcao\", \"\").strip()\n\n    resultado_corrigido.append({\n        \"nome\": nome,\n        \"departamento\": departamento,\n        \"funcao\": funcao\n    })\n\n# Retorna o JSON final\nreturn [{\"json\": {\"resultado\": resultado_corrigido}}]\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1456,176],"id":"e69b10e6-4950-4ea5-a384-01d9274d58f1","name":"Complementar"},{"parameters":{"content":"# Corretor de Participantes\n- Extrai nomes das Reuniões e Compara com o Banco de Dados da Empresa, no intuito de tentar identificar os colaboradores.\n- Nomes desconhecidos, são tratados colocando identificadores de \"departamento\" que nesse caso serio identificado com área de atuação e função.","height":560,"width":1360},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[432,0],"id":"fbb45e1e-b194-48df-88d4-dcc47bd6d05d","name":"Sticky Note"},{"parameters":{"assignments":{"assignments":[{"id":"ea9ce9c1-efa6-48ec-935b-0d88450fb8d8","name":"nome","value":"={{ $json.nome }}","type":"string"},{"id":"31df600f-c48f-4437-9dcf-7f18498ab665","name":"departamento","value":"={{ $json.departamento }}","type":"string"},{"id":"5a6aa103-9d40-4f83-9c4e-4c624afcdf19","name":"funcao","value":"={{ $json.funcao }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[672,304],"id":"78da972f-bde4-49f0-8d93-180fc4dd2bda","name":"Filtro"},{"parameters":{"operation":"getAll","tableId":"colaboradores","returnAll":true},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[480,304],"id":"0080d5e9-3821-40ea-85f4-eea13c0edc1d","name":"Colaboradores"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[880,224],"id":"c2372436-fe97-45c9-a117-2cc25b9f5caa","name":"Unir Dados"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1264,128],"id":"3a51f9eb-b5ce-4dac-9bf8-d34911ebc440","name":"Unir Dados1"},{"parameters":{"content":"# Extrator de Nomes\n- **Extrai** nomes encontrados nas **Atas**","height":560,"width":320,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[96,0],"id":"748d7213-1346-4f8d-a567-467693a3d246","name":"Sticky Note1"},{"parameters":{"promptType":"define","text":"={{ $json.body.resumo }}","hasOutputParser":true,"options":{"systemMessage":"Você receberá um texto contendo a transcrição ou o resumo de uma reunião.\nSua tarefa é identificar todos os participantes mencionados no texto e determinar, quando possível:\n\nnome completo ou primeiro nome,\n\ndepartamento ou área de atuação,\n\nfunção ou papel desempenhado na reunião.\n\nCaso alguma dessas informações não esteja disponível no texto, preencha com uma string vazia \"\".\n\nRetorne somente um JSON válido com a seguinte estrutura:\n\n[\n  {\n    \"nome\": \"Tânia\",\n    \"departamento\": \"\",\n    \"funcao\": \"\"\n  },\n  {\n    \"nome\": \"Rafael\",\n    \"departamento\": \"Advocacia\",\n    \"funcao\": \"Consultoria jurídica\"\n  }\n]\n\n\nRegras importantes:\n\nNão invente nomes; só use os que aparecem no texto.\n\nSe identificar apenas o primeiro nome, mantenha assim.\n\nO campo departamento deve refletir a área principal (ex.: “Contabilidade”, “Jurídico”, “Fiscal”, “Comercial”, “Diretoria”, “Cliente”).\n\nO campo funcao deve descrever a principal responsabilidade ou papel da pessoa (ex.: “Contadora responsável”, “Advogado”, “Diretora Financeira”, “Cliente”).\n\nSe houver mais de uma pessoa da mesma área ou função, liste cada uma separadamente.\n\nRetorne somente o JSON — sem texto explicativo, títulos ou comentários."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[144,672],"id":"df27d58e-8dcc-4edd-b829-3cc353a9b54d","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[144,832],"id":"d5861dbc-87a7-47f8-b49a-f9d0f146f38a","name":"Modelo 4.1 mini"},{"parameters":{"jsonSchemaExample":"[\n  {\n    \"nome\": \"Tânia\",\n    \"departamento\": \"\",\n    \"funcao\": \"\"\n  },\n  {\n    \"nome\": \"Rafael\",\n    \"departamento\": \"Advocacia\",\n    \"funcao\": \"Consultoria jurídica\"\n  }\n]\n"},"type":"[REDACTED]","typeVersion":1.3,"position":[288,832],"id":"76d0bdd8-9322-4db2-8cff-5d0a2f6eb4fe","name":"Output Parser"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1504,400],"id":"6f1fe364-b1f9-45ad-8ae7-7a4544eacaac","name":"Merge"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1856,400],"id":"b4aad6c4-bdcd-4302-b345-49971bc26ce2","name":"(4.1 mini)"},{"parameters":{"language":"python","pythonCode":"# Este script recebe dois conjuntos:\n# - resultado: nomes com possivelmente campos vazios ou \"none\"\n# - output: lista auxiliar com nomes, departamento e função corretos\n# Ele complementa os dados do resultado com o que encontrar em output.\n\ndados = items[0].get(\"json\", {})\n\nresultado = dados.get(\"resultado\", [])\noutput = dados.get(\"output\", [])\n\n# Função auxiliar para comparar nomes (tolerante a maiúsculas, minúsculas e trechos)\ndef nome_bate(nome1, nome2):\n    n1, n2 = nome1.strip().lower(), nome2.strip().lower()\n    return n1 in n2 or n2 in n1\n\n# Função auxiliar para verificar se um campo é vazio ou \"none\"\ndef vazio_ou_none(valor):\n    if not valor:\n        return True\n    v = valor.strip().lower()\n    return v == \"\" or v == \"none\" or v == \"null\"\n\n# Percorre o resultado e complementa dados faltantes\nresultado_corrigido = []\nfor pessoa in resultado:\n    nome = pessoa.get(\"nome\", \"\").strip()\n    departamento = pessoa.get(\"departamento\", \"\").strip()\n    funcao = pessoa.get(\"funcao\", \"\").strip()\n\n    # Busca no output correspondente\n    encontrado = None\n    for possivel in output:\n        if nome_bate(nome, possivel.get(\"nome\", \"\")):\n            encontrado = possivel\n            break\n\n    # Se achou, complementa os campos vazios ou \"none\"\n    if encontrado:\n        if vazio_ou_none(departamento):\n            departamento = encontrado.get(\"departamento\", \"\").strip()\n        if vazio_ou_none(funcao):\n            funcao = encontrado.get(\"funcao\", \"\").strip()\n\n    resultado_corrigido.append({\n        \"nome\": nome,\n        \"departamento\": departamento,\n        \"funcao\": funcao\n    })\n\n# Retorna o JSON final\nreturn [{\"json\": {\"resultado\": resultado_corrigido}}]\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1680,400],"id":"45b4b418-3f86-4752-9c99-d3b3d4bfbe25","name":"Ultima Correção"},{"parameters":{"content":"## Recebe Atas via Zapier\n- As atas do **PLAUD** a pos serem geradas e resumidas, são passadas para o Zapier","height":560,"width":224,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-144,0],"id":"07727d45-da50-4f6a-8cef-60191279471c","name":"Sticky Note3"},{"parameters":{"content":"## Recebe Atas via Zapier\n- As atas do **PLAUD** a pos serem geradas e resumidas, são passadas para o Zapier","height":560,"width":224,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2144,0],"id":"ef4b7985-8c95-4e14-be26-4baec33f1b8a","name":"Sticky Note4"},{"parameters":{"content":"# Correto de Atas\n- **Corrrigi** nomes, funções e depatamentos encontrados nas **Atas**.","height":560,"width":320,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1808,0],"id":"ab29766c-c953-4bac-9c84-5ae33e2d3cd6","name":"Sticky Note5"},{"parameters":{"content":"### Coletor Secundário de Funções\n- Coleta funções e departamento de cada participante.","height":368,"width":320,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[96,576],"id":"c0dafd4d-528e-4e00-8eb8-8d517b2f96b3","name":"Sticky Note2"}],"connections":{"Webhook":{"main":[[{"node":"Extrator de Nomes","type":"main","index":0},{"node":"AI Agent","type":"main","index":0}]]},"Corretor de Participantes":{"main":[[{"node":"Call 'Agente Atus (Zapier Version) - Com Corretor'","type":"main","index":0}]]},"4.1 Mini":{"ai_languageModel":[[{"node":"Extrator de Nomes","type":"ai_languageModel","index":0}]]},"Saida Json":{"ai_outputParser":[[{"node":"Extrator de Nomes","type":"ai_outputParser","index":0}]]},"Extrator de Nomes":{"main":[[{"node":"Colaboradores","type":"main","index":0},{"node":"Unir Dados","type":"main","index":0},{"node":"Unir Dados1","type":"main","index":0}]]},"Limpar Duplicados":{"main":[[{"node":"Unir Dados1","type":"main","index":1}]]},"Complementar":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Filtro":{"main":[[{"node":"Unir Dados","type":"main","index":1}]]},"Colaboradores":{"main":[[{"node":"Filtro","type":"main","index":0}]]},"Unir Dados":{"main":[[{"node":"Limpar Duplicados","type":"main","index":0}]]},"Unir Dados1":{"main":[[{"node":"Complementar","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Modelo 4.1 mini":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"Merge":{"main":[[{"node":"Ultima Correção","type":"main","index":0}]]},"(4.1 mini)":{"ai_languageModel":[[{"node":"Corretor de Participantes","type":"ai_languageModel","index":0}]]},"Ultima Correção":{"main":[[{"node":"Corretor de Participantes","type":"main","index":0}]]}},"versionCounter":2}