workflows/(Melhor_Ofertar)_-_Corrigir_PDF_Corrompido_MRMXAGAxRJvMvgqO.json
{"createdAt":"2025-11-05T14:48:37.020Z","id":"MRMXAGAxRJvMvgqO","name":"(Melhor Ofertar) - Corrigir PDF Corrompido","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"=57db86ef-baf6-4436-baa6-28302876e237","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-160,0],"id":"9d03383e-386b-48ea-9256-cc8001188c6f","name":"Webhook","webhookId":"57db86ef-baf6-4436-baa6-28302876e237"},{"parameters":{"inputDataFieldName":"={{ $('Webhook').item.json.body.filename }}","options":{}},"type":"n8n-nodes-tesseractjs.tesseractNode","typeVersion":1,"position":[384,0],"id":"b35a7a5f-ea0a-4cd4-a1ce-9f531e7c2811","name":"Tesseract"},{"parameters":{"operation":"toBinary","sourceProperty":"body.image","binaryPropertyName":"={{ $json.body.filename }}","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[112,0],"id":"d7519f7e-838b-4998-9675-5fc163932eab","name":"Convert to File"},{"parameters":{"content":"## Receber Imagem\n- **Recebe** pdfs enviado pelo aplicativo.\n- Os arquivos que são recebidos são sempre imagens de cada página do pdf corrompido.\n\n\n","height":352,"width":256,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-240,-176],"id":"48c674d7-c4a7-4408-ae91-6ff3b8e70a0e","name":"Sticky Note"},{"parameters":{"content":"## Conversor\n- Converte o arquivo **base64** para PNG, para a **OCR** ler.","height":352,"width":256},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[32,-176],"id":"1ca9bfb3-655e-45e9-8484-c7158a3c7510","name":"Sticky Note1"},{"parameters":{"content":"## OCR - Transformar em TXT\n- **Transforma** as imagens em **arquivos txt** ( A ocr extrai o texto da imagem).","height":352,"width":256,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[304,-176],"id":"2e6d2bae-c9c0-491e-9640-b2f9a7c373a8","name":"Sticky Note2"},{"parameters":{"content":"## Enviar de Volta\n- Envia de volta o arquivo que foi tratado, mas dessa vez em txt. O código depois ira juntar todas as páginas em um único arquivo txt.","height":352,"width":256,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[576,-176],"id":"90ab5598-6293-446c-88fe-b08d3c41d540","name":"Sticky Note3"},{"parameters":{"respondWith":"text","responseBody":"={{ $json.text }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[656,0],"id":"a7a4244a-09f6-4f9b-8692-84f360073288","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Tesseract":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Tesseract","type":"main","index":0}]]}},"versionCounter":26}