workflows/1_Dia_Atrasado_nKJiWl5TnMtDb13D.json
{"createdAt":"2025-10-13T12:28:42.703Z","id":"nKJiWl5TnMtDb13D","name":"1 Dia Atrasado","active":false,"isArchived":false,"nodes":[{"parameters":{"jsCode":"function isFeriado(date) {\n  // Feriados FIXOS (DD/MM) — ajuste à sua realidade\n  const fixos = [\"01/01\",\"21/04\",\"01/05\",\"07/09\",\"12/10\",\"02/11\",\"15/11\",\"25/12\"];\n\n  // Feriados MÓVEIS por data completa (YYYY-MM-DD)\n  const moveis = new Set([\n    // Ex.: \"2025-02-03\", \"2025-02-04\", \"2025-04-18\"\n  ]);\n\n  const diaMes = date.toLocaleDateString('pt-BR').substring(0, 5);\n  const iso = date.toISOString().slice(0, 10);\n  return fixos.includes(diaMes) || moveis.has(iso);\n}\n\nconst isFdsOuFeriado = (d) => [0, 6].includes(d.getDay()) || isFeriado(d);\n\nfunction addDiasUteis(date, qtd) {\n  const d = new Date(date);\n  let restantes = qtd;\n  while (restantes > 0) {\n    d.setDate(d.getDate() + 1);\n    if (!isFdsOuFeriado(d)) restantes--;\n  }\n  return d;\n}\n\nconst hoje = new Date();\nconst hojeBR = hoje.toLocaleDateString('pt-BR');\n\n// Pega os títulos retornados do Omie\nconst data = items.flatMap(item => item.json.conta_receber_cadastro || []);\n\nconst filtrado = data.filter(item => {\n  if (!item?.data_vencimento || !item?.codigo_lancamento_omie) return false;\n\n  // Garante que o título está marcado como ATRASADO no Omie\n  if ((item.status_titulo || '').toUpperCase() !== 'ATRASADO') return false;\n\n  // Parse dd/mm/yyyy -> Date\n  const [dia, mes, ano] = item.data_vencimento.split('/');\n  const vencimento = new Date(`${ano}-${mes}-${dia}T00:00:00`);\n\n  let envio;\n  if (isFdsOuFeriado(vencimento)) {\n    // Venceu em fds/feriado → enviar após 2 dias úteis\n    envio = addDiasUteis(vencimento, 2);\n  } else {\n    // Venceu em dia útil → +1 dia e, se necessário, ajusta ao próximo dia útil\n    envio = new Date(vencimento);\n    envio.setDate(envio.getDate() + 1);\n    while (isFdsOuFeriado(envio)) {\n      envio.setDate(envio.getDate() + 1);\n    }\n  }\n\n  const envioBR = envio.toLocaleDateString('pt-BR');\n\n  // (Opcional) Só envie se o boleto foi gerado no Omie\n  const boletoOk = (item.boleto?.cGerado?.toUpperCase() ?? 'S') === 'S';\n\n  return hojeBR === envioBR && boletoOk;\n});\n\nreturn filtrado.map(item => ({ json: item }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,0],"id":"3ae3eccc-7f57-45ae-8a7b-99b14b06b93e","name":"FiltroAtrasado","executeOnce":false,"alwaysOutputData":false,"retryOnFail":true},{"parameters":{"documentId":{"__rl":true,"value":"[REDACTED]","mode":"list","cachedResultName":"Contatos Omie","cachedResultUrl":"[REDACTED]"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"[REDACTED]"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[416,0],"id":"8ba68ab6-0419-4d23-8831-db986516474a","name":"PlanilhaNomes2"},{"parameters":{"jsCode":"// 1️⃣ Recebe os códigos válidos da etapa anterior (filtro do Omie)\nconst codigosValidos = $items(\"FiltroAtrasado\", 0).map(item => item.json.codigo_cliente_fornecedor);\n\n// 2️⃣ Filtra os dados da planilha atual (entrada desse Function)\nreturn items.filter(item =>\n  codigosValidos.includes(item.json.codigo_cliente_omie)\n);\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[640,0],"id":"020cf1b5-e4f6-4db1-9a66-a12df08402fc","name":"Clientes2"},{"parameters":{"jsCode":"return [{ json: {} }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[224,0],"id":"8222b9b8-0abd-4748-9db6-e43b3a36e3b5","name":"Zerando Item2"},{"parameters":{"jsCode":"return items.map(item => {\n    const nome = item.json.nome || 'Cliente';\n    const contato = item.json.contato || '';\n    const valor = item.json.valor?.toFixed(2).replace('.', ',') || '0,00';\n    const vencimento = item.json.vencimento || 'data não informada';\n    const linkBoleto = item.json.cLinkBoleto || '';\n\n    let telefone = item.json.telefone1 || item.json.telefone2 || '';\n    telefone = telefone.toString().replace(/\\D/g, '');\n    telefone = telefone.replace(/\\s+/g, '');\n    telefone = `55${telefone}`;\n\n    const mensagem = `Olá *${nome}*,\\n\\n` +\n                     `Seu boleto está atrasado, lembre do pagamento!\\n\\n` +\n                     `Qualquer dúvida, estamos à disposição.`;\n\n    return {\n        json: {\n            telefone: telefone,\n            mensagem: mensagem\n        }\n    };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[880,0],"id":"0d4008f3-c787-4070-aacc-2ef4027ce836","name":"Mensagem Atrasado"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"[REDACTED]","mode":"list","cachedResultName":"Mensagens Boletos","cachedResultUrl":"[REDACTED]"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"[REDACTED]"},"columns":{"mappingMode":"defineBelow","value":{"cliente":"={{ $json.nome }}","contato":"={{ $json.telefone1 }}"},"matchingColumns":[],"schema":[{"id":"cliente","displayName":"cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"contato","displayName":"contato","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"valor","displayName":"valor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"vencimento","displayName":"vencimento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"numero_boleto","displayName":"numero_boleto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[880,-176],"id":"a7c8d290-1935-4a1f-9160-22bad7297050","name":"Append or update row in sheet3","onError":"[REDACTED]"},{"parameters":{"inputSource":"passthrough"},"type":"[REDACTED]","typeVersion":1.1,"position":[-160,0],"id":"216a7c96-7fc4-4a85-b02c-cc11e20d0b87","name":"When Executed by Another Workflow"}],"connections":{"FiltroAtrasado":{"main":[[{"node":"Zerando Item2","type":"main","index":0}]]},"PlanilhaNomes2":{"main":[[{"node":"Clientes2","type":"main","index":0}]]},"Clientes2":{"main":[[{"node":"Mensagem Atrasado","type":"main","index":0},{"node":"Append or update row in sheet3","type":"main","index":0}]]},"Zerando Item2":{"main":[[{"node":"PlanilhaNomes2","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"FiltroAtrasado","type":"main","index":0}]]}}}