workflows/1_Dia_antes_do_vencimento_woDdCbdJss5YPbTO.json
{"createdAt":"2025-10-13T12:33:50.808Z","id":"woDdCbdJss5YPbTO","name":"1 Dia antes do vencimento","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[336,0],"id":"cbd930cd-5533-448c-98f6-c69f1ee4dfc2","name":"Loop Over Items1"},{"parameters":{"amount":3.5},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1440,96],"id":"3658a9d2-6820-4939-83b9-eb96cea835ce","name":"Wait","webhookId":"d8c60c36-6959-4acf-ab90-96589b27617f"},{"parameters":{"documentId":{"__rl":true,"value":"[REDACTED]","mode":"list","cachedResultName":"Contatos Omie","cachedResultUrl":"[REDACTED]"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"[REDACTED]"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[736,352],"id":"61fc41e9-3a27-4ed1-a51a-e1ab83687a08","name":"PlanilhaNomes"},{"parameters":{"jsCode":"// 1️⃣ Recebe os códigos válidos da etapa anterior (filtro do Omie)\nconst codigosValidos = $items(\"FiltroVencer\", 0).map(item => item.json.codigo_cliente_fornecedor);\n\n// 2️⃣ Filtra os dados da planilha atual (entrada desse Function)\nreturn items.filter(item =>\n  codigosValidos.includes(item.json.codigo_cliente_omie)\n);\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1568,352],"id":"47b6c5a6-eddb-4bd5-a4c0-96a58c6e3f6b","name":"Clientes"},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"codigo_cliente_fornecedor","field2":"codigo_cliente_omie"}]},"joinMode":"keepEverything","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[1792,176],"id":"6955438d-0e57-4e8f-a0b8-e4dd8bff3c29","name":"Merge1"},{"parameters":{"jsCode":"return items.map(item => {\n  return {\n    json: {\n      codigo_cliente_fornecedor: item.json.codigo_cliente_fornecedor,\n      codigo_lancamento_omie: item.json.codigo_lancamento_omie,\n      valor: item.json.valor,\n      vencimento: item.json.vencimento,\n      parcela: item.json.parcela,\n      // ... passe tudo que precisa junto\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[512,96],"id":"beaf88a2-8f96-44d5-a228-8c66d7325e45","name":"Code3"},{"parameters":{"jsCode":"return items.map((item, index) => {\n  const boletoData = item.json;\n  const codigoData = $items(\"Code3\")[index].json; // ajuste o nome do nó aqui\n\n  return {\n    json: {\n      codigo_cliente_fornecedor: codigoData.codigo_cliente_fornecedor,\n      codigo_lancamento_omie: codigoData.codigo_lancamento_omie,\n      valor: codigoData.valor,\n      vencimento: codigoData.vencimento,\n      parcela: codigoData.parcela,\n      // Dados do boleto\n      cLinkBoleto: boletoData.cLinkBoleto,\n      codBarras: boletoData.cCodBarras,\n      cCodStatus: boletoData.cCodStatus,\n      cDesStatus: boletoData.cDesStatus,\n      // outros campos do boleto, se quiser\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[832,96],"id":"afb6d48b-4949-4363-bc44-a127160d2699","name":"Code4"},{"parameters":{"jsCode":"return [{ json: {} }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[336,352],"id":"ade4b288-a718-47ed-8c9c-bf43f05b25d8","name":"Zerando Item"},{"parameters":{"jsCode":"// Sempre força existir apenas item.binary.data\nconst desiredBinaryKey = 'data';\n\nreturn items.map((item) => {\n  const j = item.json || {};\n  const b = item.binary || {};\n\n  // ---- campos básicos do seu input ----\n  const codigoCliente = j.codigo_cliente_fornecedor ?? null;\n  const codigoLanc    = j.codigo_lancamento_omie != null ? String(j.codigo_lancamento_omie) : '';\n  const vencimento    = j.vencimento || 'data não informada';\n  const parcela       = j.parcela || '';\n  const codBarras     = j.cCodBarras || j.codBarras || 'código não disponível';\n\n  // valor -> formatação pt-BR\n  let valorNum = j.valor;\n  if (typeof valorNum === 'string') {\n    valorNum = parseFloat(valorNum.replace(/\\./g, '').replace(',', '.'));\n  }\n  const valorFmt = isNaN(valorNum) ? '0,00' : valorNum.toFixed(2).replace('.', ',');\n\n  // telefone (se existir nos dados)\n  let telefone = (j.telefone || j.telefone1 || j.telefone2 || '')\n    .toString()\n    .replace(/\\D/g, '');\n  if (telefone && !telefone.startsWith('55')) telefone = `55${telefone}`;\n  const nacional = telefone.replace(/^55/, '');\n  const telefoneValido =\n    telefone && (nacional.length === 10 || nacional.length === 11) ? telefone : '';\n\n  // caption\n  let caption =\n    `Olá *${j.nome || 'Cliente'}*,\\n\\n` +\n    `Segue seu boleto para pagamento:\\n\\n` +\n    `💰 *Valor:* R$ ${valorFmt}\\n` +\n    `📅 *Vencimento:* ${vencimento}\\n` +\n    `📄 *Código de Barras:* ${codBarras}\\n`;\n\n  if (j.pdf_text) caption += `\\n(Documento processado automaticamente)`;\n  caption += `\\n\\nObrigado! Qualquer dúvida, estamos à disposição.`;\n\n  // filename\n  let filename = 'boleto.pdf';\n  const linkBoleto = j.cLinkBoleto || '';\n  const m = (linkBoleto || '').match(/([^\\/\\?]+\\.pdf)(?:\\?|$)/i);\n  if (m) filename = m[1];\n  if (b?.file?.fileName && (!m || !m[1])) filename = b.file.fileName;\n\n  // ---- BINÁRIO: força apenas binary.data ----\n  const newBinary = {};\n  if (b?.file) {\n    newBinary[desiredBinaryKey] = b.file;           // vem do Extract/Download com chave 'file'\n  } else if (b && Object.keys(b).length > 0) {\n    const firstKey = Object.keys(b)[0];             // qualquer outra chave\n    newBinary[desiredBinaryKey] = b[firstKey];\n  }\n\n  // ---- JSON final (mantendo campos do input) ----\n  const out = {\n    json: {\n      codigo_cliente_fornecedor: codigoCliente,\n      codigo_lancamento_omie:    codigoLanc,\n      valor:                     j.valor,\n      vencimento:                j.vencimento,\n      parcela:                   parcela,\n\n      // extras úteis para o envio\n      telefone: telefoneValido,\n      caption,\n      filename,\n      url_pdf: linkBoleto || null,\n      has_pdf: !!linkBoleto || !!newBinary[desiredBinaryKey],\n\n      // mantém texto extraído se houver\n      pdf_text: j.pdf_text || null,\n\n      // se seu item vier com \"data\" em JSON, preserva sem quebrar\n      data: j.data ?? null,\n    },\n  };\n\n  if (newBinary[desiredBinaryKey]) {\n    out.binary = newBinary;\n  }\n\n  return out;\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2048,176],"id":"02196039-24a0-4c6d-9aee-9a17b092e0c8","name":"Mensagem para Evolution"},{"parameters":{"method":"POST","url":"[REDACTED]","sendBody":true,"specifyBody":"json","jsonBody":"[REDACTED]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[672,96],"id":"b465333f-f048-46de-8c3b-752eb6cd2ff4","name":"ObterBoleto"},{"parameters":{"jsCode":"function isFeriado(date) {\n  const fixos = [\"01/01\",\"21/04\",\"01/05\",\"07/09\",\"12/10\",\"02/11\",\"15/11\",\"25/12\"];\n  const moveis = new Set([\n    // Ex.: \"2025-02-03\", \"2025-02-04\", \"2025-04-18\"\n  ]);\n  const diaMes = date.toLocaleDateString('pt-BR').substring(0, 5);\n  const iso = date.toISOString().slice(0, 10);\n  return fixos.includes(diaMes) || moveis.has(iso);\n}\n\nconst hoje = new Date();\nconst hojeBR = hoje.toLocaleDateString('pt-BR');\n\nconst data = items.flatMap(item => item.json.conta_receber_cadastro || []);\n\nconst filtrado = data.filter(item => {\n  if (!item?.data_vencimento || !item?.codigo_lancamento_omie) return false;\n\n  // ✅ só passa títulos com status \"A VENCER\"\n  if (item?.status_titulo?.toUpperCase() !== \"A VENCER\") return false;\n\n  const [dia, mes, ano] = item.data_vencimento.split('/');\n  const vencimento = new Date(`${ano}-${mes}-${dia}T00:00:00`);\n\n  // 7 dias antes\n  const envio = new Date(vencimento);\n  envio.setDate(envio.getDate() - 7);\n\n  // Recuar até o último dia útil se cair em fds/feriado\n  while ([0, 6].includes(envio.getDay()) || isFeriado(envio)) {\n    envio.setDate(envio.getDate() - 1);\n  }\n\n  const envioBR = envio.toLocaleDateString('pt-BR');\n  return hojeBR === envioBR && (item.boleto?.cGerado?.toUpperCase() ?? 'S') === 'S';\n});\n\n// 🔁 Mapeia campos esperados pelos próximos nós\nreturn filtrado.map(item => {\n  const raw = item.valor_documento ?? item.valor ?? null;\n  let valor = null;\n  if (raw != null) {\n    valor = (typeof raw === 'number') ? raw :\n      parseFloat(String(raw).replace(/\\./g, '').replace(',', '.'));\n    if (Number.isNaN(valor)) valor = null;\n  }\n\n  return {\n    json: {\n      ...item,\n      vencimento: item.data_vencimento,\n      valor\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,0],"id":"7513306c-d843-41e3-8846-a3b582ce6648","name":"FiltroVencer","executeOnce":false,"alwaysOutputData":false,"retryOnFail":true},{"parameters":{"url":"={{ $('ObterBoleto').item.json.cLinkBoleto }}","options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"={{$json[\"filename\"] || \"boleto.pdf\"}}"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[992,96],"id":"f49b4438-e52a-40d5-b8ef-b87100d7bb02","name":"Baixar"},{"parameters":{"operation":"binaryToPropery","binaryPropertyName":"boleto.pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1152,96],"id":"b2580966-47b4-47d5-b580-846f16e484de","name":"Extract from File1"},{"parameters":{"jsCode":"return items.map((item, index) => {\n  // Output do Code3 (dados base)\n  const c3 = ($items(\"Code3\")[index] || { json: {} }).json;\n  // Output do Code4 (onde sai o código de barras)\n  const c4 = ($items(\"Code4\")[index] || { json: {} }).json;\n\n  const out = {\n    json: {\n      // ---- do Code3 ----\n      codigo_cliente_fornecedor: c3.codigo_cliente_fornecedor,\n      codigo_lancamento_omie: String(c3.codigo_lancamento_omie ?? ''),\n      valor: c3.valor,\n      vencimento: c3.vencimento,\n      parcela: c3.parcela,\n\n      // ---- do item atual ----\n      data: item.json.data,\n\n      // ---- do Code4 (código de barras) ----\n      codBarras: c4.cCodBarras ?? c4.codBarras ?? item.json.cCodBarras ?? null,\n      // se quiser manter também com o nome original:\n      cCodBarras: c4.cCodBarras ?? item.json.cCodBarras ?? null,\n    }\n  };\n\n  // preserva o binário como binary.data, se existir\n  const b = item.binary || {};\n  const chosen =\n    b.data || b.file || (Object.keys(b).length ? b[Object.keys(b)[0]] : null);\n  if (chosen) out.binary = { data: chosen };\n\n  return out;\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1312,96],"id":"cbf488d4-1fa7-48e7-81af-e8d0e9ee54f7","name":"Code7"},{"parameters":{"mode":"combine","fieldsToMatchString":"codigo_lancamento_omie","joinMode":"enrichInput1","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[1568,0],"id":"29245fc3-2ddf-4017-8fcc-afa3284ff533","name":"Boletos"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"[REDACTED]","mode":"list","cachedResultName":"Mensagens Boletos","cachedResultUrl":"[REDACTED]"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"[REDACTED]"},"columns":{"mappingMode":"defineBelow","value":{"cliente":"={{ $json.nome }}","contato":"={{ $json.telefone1 }}"},"matchingColumns":[],"schema":[{"id":"cliente","displayName":"cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"contato","displayName":"contato","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"valor","displayName":"valor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"vencimento","displayName":"vencimento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"numero_boleto","displayName":"numero_boleto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2048,-16],"id":"509ff10a-a6d3-4aaa-ba3a-842d8f7ed343","name":"Append or update row in sheet5","onError":"[REDACTED]"},{"parameters":{"inputSource":"passthrough"},"type":"[REDACTED]","typeVersion":1.1,"position":[-176,0],"id":"33e8504c-03b1-4edb-96ce-a4562582fb4f","name":"When Executed by Another Workflow"}],"connections":{"Loop Over Items1":{"main":[[{"node":"Boletos","type":"main","index":0}],[{"node":"Code3","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"PlanilhaNomes":{"main":[[{"node":"Clientes","type":"main","index":0}]]},"Clientes":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Merge1":{"main":[[{"node":"Mensagem para Evolution","type":"main","index":0},{"node":"Append or update row in sheet5","type":"main","index":0}]]},"Code3":{"main":[[{"node":"ObterBoleto","type":"main","index":0}]]},"Code4":{"main":[[{"node":"Baixar","type":"main","index":0}]]},"Zerando Item":{"main":[[{"node":"PlanilhaNomes","type":"main","index":0}]]},"ObterBoleto":{"main":[[{"node":"Code4","type":"main","index":0}]]},"FiltroVencer":{"main":[[{"node":"Zerando Item","type":"main","index":0},{"node":"Loop Over Items1","type":"main","index":0}]]},"Baixar":{"main":[[{"node":"Extract from File1","type":"main","index":0}]]},"Extract from File1":{"main":[[{"node":"Code7","type":"main","index":0}]]},"Code7":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Boletos":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"FiltroVencer","type":"main","index":0}]]}}}