workflows/3_Dias_antes_do_vencimento_kpzxMwx3TFrrPFTc.json
{"createdAt":"2025-10-13T12:31:35.377Z","id":"kpzxMwx3TFrrPFTc","name":"3 Dias antes do vencimento","active":false,"isArchived":false,"nodes":[{"parameters":{"documentId":{"__rl":true,"value":"[REDACTED]","mode":"list","cachedResultName":"Contatos Omie","cachedResultUrl":"[REDACTED]"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"[REDACTED]"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[368,0],"id":"4b192528-0442-4fc1-83ba-eb2419aa7189","name":"PlanilhaNomes3"},{"parameters":{"jsCode":"// 1️⃣ Recebe os códigos válidos da etapa anterior (filtro do Omie)\nconst codigosValidos = $items(\"Filtro3Dias\", 0).map(item => item.json.codigo_cliente_fornecedor);\n\n// 2️⃣ Filtra os dados da planilha atual (entrada desse Function)\nreturn items.filter(item =>\n  codigosValidos.includes(item.json.codigo_cliente_omie)\n);\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[576,0],"id":"49a42101-76c2-420a-981c-237507195722","name":"Clientes3"},{"parameters":{"jsCode":"return [{ json: {} }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[192,0],"id":"f5c5d7b1-ab25-475e-9c75-4106a2b15f9a","name":"Zerando Item3"},{"parameters":{"jsCode":"return items.map(item => {\n    const nome = item.json.nome || 'Cliente';\n    const contato = item.json.contato || '';\n    const valor = item.json.valor?.toFixed(2).replace('.', ',') || '0,00';\n    const vencimento = item.json.vencimento || 'data não informada';\n    const linkBoleto = item.json.cLinkBoleto || '';\n\n    let telefone = item.json.telefone1 || item.json.telefone2 || '';\n    telefone = telefone.toString().replace(/\\D/g, '');\n    telefone = telefone.replace(/\\s+/g, '');\n    telefone = `55${telefone}`;\n\n    const mensagem = `Olá *${nome}*,\\n\\n` +\n                     `Seu boleto vence em 3 dias, lembre de realizar o pagamento!\\n\\n` +\n                     `Qualquer dúvida, estamos à disposição.`;\n\n    return {\n        json: {\n            telefone: telefone,\n            mensagem: mensagem\n        }\n    };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[832,0],"id":"d247e597-1387-4ad7-b605-9eef26c45144","name":"Mensagem 3dias"},{"parameters":{"jsCode":"// ---- Helpers ----\nfunction parseDataBR(d) {\n  if (typeof d !== \"string\") return null;\n  const m = d.match(/^(\\d{2})\\/(\\d{2})\\/(\\d{4})$/);\n  if (!m) return null;\n  const dia = Number(m[1]), mes = Number(m[2]), ano = Number(m[3]);\n  const dt = new Date(ano, mes - 1, dia, 0, 0, 0, 0);\n  if (dt.getFullYear() !== ano || dt.getMonth() !== mes - 1 || dt.getDate() !== dia) return null;\n  return dt;\n}\n\nfunction dateKey(d) {\n  const y = d.getFullYear();\n  const m = String(d.getMonth() + 1).padStart(2, \"0\");\n  const day = String(d.getDate()).padStart(2, \"0\");\n  return `${y}-${m}-${day}`;\n}\n\nconst FERIADOS = new Set([\n  // Exemplo: '2025-01-01', '2025-04-18', '2025-05-01'\n]);\n\nfunction isFeriado(d) {\n  return FERIADOS.has(dateKey(d));\n}\n\nfunction isFimDeSemana(d) {\n  const dow = d.getDay();\n  return dow === 0 || dow === 6; // 0=Dom, 6=Sáb\n}\n\nfunction ultimoDiaUtil(d0) {\n  const d = new Date(d0);\n  while (isFimDeSemana(d) || isFeriado(d)) {\n    d.setDate(d.getDate() - 1);\n  }\n  return d;\n}\n\n// ---- Hoje normalizado ----\nconst hoje = new Date();\nhoje.setHours(0, 0, 0, 0);\n\n// ---- Filtra itens ----\nconst out = [];\n\nfor (const it of items) {\n  const item = it.json || {};\n\n  // Validações básicas\n  if (!item?.data_vencimento || !item?.codigo_lancamento_omie) continue;\n  if (String(item.status_titulo || \"\").toUpperCase().trim() !== \"A VENCER\") continue;\n\n  const boletoGerado = String(item?.boleto?.cGerado ?? \"\").toUpperCase().trim() === \"S\";\n  if (!boletoGerado) continue;\n\n  const vencOriginal = parseDataBR(item.data_vencimento);\n  if (!vencOriginal) continue;\n\n  // Calcula 3 dias antes do vencimento\n  const envioPrevisto = new Date(vencOriginal);\n  envioPrevisto.setDate(vencOriginal.getDate() - 3);\n\n  // Se cair no fim de semana ou feriado → último dia útil anterior\n  const envioEfetivo = ultimoDiaUtil(envioPrevisto);\n\n  // Envia somente se hoje for o dia do envio efetivo\n  if (dateKey(envioEfetivo) === dateKey(hoje)) {\n    out.push({ json: item });\n  }\n}\n\nreturn out;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,0],"id":"667b756a-8690-4536-9614-42f32b7221c4","name":"Filtro3Dias","executeOnce":false,"alwaysOutputData":false,"retryOnFail":true},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"[REDACTED]","mode":"list","cachedResultName":"Mensagens Boletos","cachedResultUrl":"[REDACTED]"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"[REDACTED]"},"columns":{"mappingMode":"defineBelow","value":{"cliente":"={{ $json.nome }}","contato":"={{ $json.telefone1 }}"},"matchingColumns":[],"schema":[{"id":"cliente","displayName":"cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"contato","displayName":"contato","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"valor","displayName":"valor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"vencimento","displayName":"vencimento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"numero_boleto","displayName":"numero_boleto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[832,-192],"id":"c5fd05e2-1b57-4003-986f-b3124bce86c5","name":"Append or update row in sheet4","onError":"[REDACTED]"},{"parameters":{"inputSource":"passthrough"},"type":"[REDACTED]","typeVersion":1.1,"position":[-176,0],"id":"09289fec-77a5-4e51-9d48-a0afcf29f4f3","name":"When Executed by Another Workflow"}],"connections":{"PlanilhaNomes3":{"main":[[{"node":"Clientes3","type":"main","index":0}]]},"Clientes3":{"main":[[{"node":"Mensagem 3dias","type":"main","index":0},{"node":"Append or update row in sheet4","type":"main","index":0}]]},"Zerando Item3":{"main":[[{"node":"PlanilhaNomes3","type":"main","index":0}]]},"Filtro3Dias":{"main":[[{"node":"Zerando Item3","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Filtro3Dias","type":"main","index":0}]]}}}