workflows/3_Dias_Atrasados_CMCstGTQ1xfgEHJc.json
{"createdAt":"2025-10-13T12:12:42.403Z","id":"CMCstGTQ1xfgEHJc","name":"3 Dias Atrasados","active":false,"isArchived":false,"nodes":[{"parameters":{"documentId":{"__rl":true,"value":"[REDACTED]","mode":"list","cachedResultName":"Contatos Omie","cachedResultUrl":"[REDACTED]"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"[REDACTED]"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[400,0],"id":"03813a33-e319-449e-868b-cb6d60ae7bf8","name":"PlanilhaNomes4"},{"parameters":{"jsCode":"// 1️⃣ Recebe os códigos válidos da etapa anterior (filtro do Omie)\nconst codigosValidos = $items(\"FiltroAtrasado3dias\", 0).map(item => item.json.codigo_cliente_fornecedor);\n\n// 2️⃣ Filtra os dados da planilha atual (entrada desse Function)\nreturn items.filter(item =>\n  codigosValidos.includes(item.json.codigo_cliente_omie)\n);\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[592,0],"id":"b671b04e-d48d-44f3-b80c-4f9e592b73af","name":"Clientes4"},{"parameters":{"jsCode":"return [{ json: {} }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[192,0],"id":"7d6283c7-9f2a-4347-b33b-38392dba8ae2","name":"Zerando Item4"},{"parameters":{"jsCode":"return items.map(item => {\n    const nome = item.json.nome || 'Cliente';\n    const contato = item.json.contato || '';\n    const valor = item.json.valor?.toFixed(2).replace('.', ',') || '0,00';\n    const vencimento = item.json.vencimento || 'data não informada';\n    const linkBoleto = item.json.cLinkBoleto || '';\n\n    let telefone = item.json.telefone1 || item.json.telefone2 || '';\n    telefone = telefone.toString().replace(/\\D/g, '');\n    telefone = telefone.replace(/\\s+/g, '');\n    telefone = `55${telefone}`;\n\n    const mensagem = `Olá *${nome}*,\\n\\n` +\n                     `Seu boleto está atrasado, lembre do pagamento!\\n\\n` +\n                     `Qualquer dúvida, estamos à disposição.`;\n\n    return {\n        json: {\n            telefone: telefone,\n            mensagem: mensagem\n        }\n    };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[928,0],"id":"0d0e69d8-8d36-4638-8815-712bd2a398f2","name":"Mensagem Atrasado1"},{"parameters":{"jsCode":"function isFeriado(date) {\n  // Feriados FIXOS (DD/MM) — ajuste à sua realidade\n  const fixos = [\"01/01\",\"21/04\",\"01/05\",\"07/09\",\"12/10\",\"02/11\",\"15/11\",\"25/12\"];\n\n  // Feriados MÓVEIS por data completa (YYYY-MM-DD)\n  const moveis = new Set([\n    // Ex.: \"2025-02-03\", \"2025-02-04\", \"2025-04-18\"\n  ]);\n\n  const diaMes = date.toLocaleDateString('pt-BR').substring(0, 5);\n  const iso = date.toISOString().slice(0, 10);\n  return fixos.includes(diaMes) || moveis.has(iso);\n}\n\nconst isFdsOuFeriado = (d) => [0, 6].includes(d.getDay()) || isFeriado(d);\n\nfunction addDiasUteis(date, qtd) {\n  const d = new Date(date);\n  let restantes = qtd;\n  while (restantes > 0) {\n    d.setDate(d.getDate() + 3);\n    if (!isFdsOuFeriado(d)) restantes--;\n  }\n  return d;\n}\n\nconst hoje = new Date();\nconst hojeBR = hoje.toLocaleDateString('pt-BR');\n\n// Pega os títulos retornados do Omie\nconst data = items.flatMap(item => item.json.conta_receber_cadastro || []);\n\nconst filtrado = data.filter(item => {\n  if (!item?.data_vencimento || !item?.codigo_lancamento_omie) return false;\n\n  // Garante que o título está marcado como ATRASADO no Omie\n  if ((item.status_titulo || '').toUpperCase() !== 'ATRASADO') return false;\n\n  // Parse dd/mm/yyyy -> Date\n  const [dia, mes, ano] = item.data_vencimento.split('/');\n  const vencimento = new Date(`${ano}-${mes}-${dia}T00:00:00`);\n\n  let envio;\n  if (isFdsOuFeriado(vencimento)) {\n    // Venceu em fds/feriado → enviar após 2 dias úteis\n    envio = addDiasUteis(vencimento, 2);\n  } else {\n    // Venceu em dia útil → +1 dia e, se necessário, ajusta ao próximo dia útil\n    envio = new Date(vencimento);\n    envio.setDate(envio.getDate() + 1);\n    while (isFdsOuFeriado(envio)) {\n      envio.setDate(envio.getDate() + 1);\n    }\n  }\n\n  const envioBR = envio.toLocaleDateString('pt-BR');\n\n  // (Opcional) Só envie se o boleto foi gerado no Omie\n  const boletoOk = (item.boleto?.cGerado?.toUpperCase() ?? 'S') === 'S';\n\n  return hojeBR === envioBR && boletoOk;\n});\n\nreturn filtrado.map(item => ({ json: item }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,0],"id":"bad39a0a-2957-48f6-bc8c-d6612b91380d","name":"FiltroAtrasado3dias","executeOnce":false,"alwaysOutputData":false,"retryOnFail":true},{"parameters":{"inputSource":"passthrough"},"type":"[REDACTED]","typeVersion":1.1,"position":[-176,0],"id":"c48711f0-e407-4ad8-b247-135d662e5822","name":"When Executed by Another Workflow"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"[REDACTED]","mode":"list","cachedResultName":"Mensagens Boletos","cachedResultUrl":"[REDACTED]"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"[REDACTED]"},"columns":{"mappingMode":"defineBelow","value":{"cliente":"={{ $json.nome }}","telefone":"={{ $json.telefone1 }}"},"matchingColumns":["cliente"],"schema":[{"id":"cliente","displayName":"cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"valor","displayName":"valor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"vencimento","displayName":"vencimento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[768,-160],"id":"cd2a228b-db6d-4a4e-a120-c4ab0671c436","name":"Append row in sheet","onError":"[REDACTED]"}],"connections":{"PlanilhaNomes4":{"main":[[{"node":"Clientes4","type":"main","index":0}]]},"Clientes4":{"main":[[{"node":"Mensagem Atrasado1","type":"main","index":0},{"node":"Append row in sheet","type":"main","index":0}]]},"Zerando Item4":{"main":[[{"node":"PlanilhaNomes4","type":"main","index":0}]]},"FiltroAtrasado3dias":{"main":[[{"node":"Zerando Item4","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"FiltroAtrasado3dias","type":"main","index":0}]]},"Append row in sheet":{"main":[[]]}}}