workflows/Adicional_Anual_19xtm1CuLu19KsuY.json
{"createdAt":"2025-11-11T14:18:50.360Z","id":"19xtm1CuLu19KsuY","name":"Adicional Anual","active":false,"isArchived":false,"nodes":[{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[192,272],"id":"bbb5d35e-485a-4900-8856-c60748f70554","name":"Tempo de espera","webhookId":"67385d61-7b55-406e-8220-db0eb81b8752"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-272,144],"id":"6c248539-ae82-40c5-abaf-f6697d905c79","name":"Loop Ler Pag"},{"parameters":{"method":"POST","url":"[REDACTED]","sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"[REDACTED]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-656,144],"id":"209f0c6e-35d4-4e16-a4b8-4dd7bc33ac71","name":"BuscarTotalPaginas","alwaysOutputData":true,"retryOnFail":true},{"parameters":{"method":"POST","url":"[REDACTED]","sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"[REDACTED]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-32,224],"id":"b540cb27-a042-4116-8227-4f5e055bdda5","name":"ContasReceber","alwaysOutputData":true,"retryOnFail":true},{"parameters":{"jsCode":"// Pega o total de páginas do nó anterior (troque pelo nome real do nó se for diferente)\nconst totalPaginas = $items(\"BuscarTotalPaginas\", 0)[0].json.total_de_paginas;\n\n// Define quantas últimas páginas você quer processar\nconst ultimasPaginas = 11;\n\n// Garante que o valor mínimo da primeira página seja 1\nconst primeiraPagina = Math.max(1, totalPaginas - ultimasPaginas + 1);\n\n// Gera os itens para as últimas páginas\nconst items = [];\n\nfor (let i = primeiraPagina; i <= totalPaginas; i++) {\n  items.push({ json: { pagina: i } });\n}\n\nreturn items;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-480,144],"id":"c10eb669-5106-4e1d-a5cb-4d283e7bbc56","name":"GerarUltimasPaginas"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[336,144],"id":"c2e1e996-ad1f-4535-9111-fb0642c73672","name":"MergeContas"},{"parameters":{"jsCode":"const desiredBinaryKey = 'data';\nconst mensagemBase = \n\"Olá, tudo bem?\\n\\n\" +\n\"Estou enviando os boletos referentes à *mensalidade adicional de encerramento contábil e declarações acessórias de fim de ano*, conforme previsto em contrato.\\n\\n\" +\n\"Essa cobrança contempla o aumento do volume de serviços contábeis típicos do fim de exercício, como elaboração das demonstrações contábeis (*Balanço, DRE, ECD e ECF*), processamento da folha do *13º salário*, apoio no *inventário de estoques* e transmissão das obrigações fiscais e acessórias (*PGDAS-D, DCTFWeb, EFD-Reinf, eSocial*, entre outras).\\n\\n\" +\n\"Esses procedimentos são exigências legais e garantem que sua empresa permaneça em conformidade com a *Receita Federal* e demais órgãos fiscalizadores.\\n\\n\" +\n\"O valor foi dividido em *duas parcelas*, com vencimentos em *14/11/25* e *14/12/25*, para facilitar seu planejamento financeiro.\\n\\n\" +\n\"*Castelo Branco Contabilidade Avançada!*\";\n\n// --- Agrupa por cliente ---\nconst agrupado = {};\n\nfor (const item of items) {\n  const j = item.json || {};\n  const b = item.binary || {};\n  const codigo = j.codigo_cliente_fornecedor ?? 'sem_codigo';\n\n  if (!agrupado[codigo]) {\n    agrupado[codigo] = {\n      nome: j.nome || 'Cliente',\n      telefone: (j.telefone || j.telefone1 || j.telefone2 || '').toString().replace(/\\D/g, ''),\n      boletos: []\n    };\n  }\n\n  let bin = null;\n  if (b?.file) bin = b.file;\n  else if (b?.data) bin = b.data;\n  else if (Object.keys(b).length) bin = b[Object.keys(b)[0]];\n\n  agrupado[codigo].boletos.push({\n    filename: j.filename || 'boleto.pdf',\n    binary: bin\n  });\n}\n\n// --- Gera a saída ---\nreturn Object.values(agrupado).map(cli => {\n  let telefone = cli.telefone;\n  if (telefone && !telefone.startsWith('55')) telefone = `55${telefone}`;\n  const nacional = telefone.replace(/^55/, '');\n  const telefoneValido =\n    telefone && (nacional.length === 10 || nacional.length === 11) ? telefone : '';\n\n  const out = {\n    json: {\n      nome: cli.nome,\n      telefone: telefoneValido,\n      caption: mensagemBase\n    },\n    binary: {}\n  };\n\n  cli.boletos.forEach((b, i) => {\n    if (b?.binary) out.binary[`${desiredBinaryKey}_${i + 1}`] = b.binary;\n  });\n\n  return out;\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2832,144],"id":"c78aae91-8312-447e-9d5f-4bf7758ba062","name":"Mensagem Atrasado"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[912,144],"id":"aa48a204-b5cd-4157-96ee-4f44e5414690","name":"Loop Over Items7"},{"parameters":{"amount":6},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2016,240],"id":"5409b217-a73a-4654-ba1b-5e6e3f93ff35","name":"Wait7","webhookId":"d8c60c36-6959-4acf-ab90-96589b27617f"},{"parameters":{"documentId":{"__rl":true,"value":"[REDACTED]","mode":"list","cachedResultName":"Contatos Omie","cachedResultUrl":"[REDACTED]"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"[REDACTED]"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1312,496],"id":"ad136e20-58f8-4453-b3a5-931cd664b94d","name":"PlanilhaNomes5"},{"parameters":{"jsCode":"// 1️⃣ Recebe os códigos válidos da etapa anterior (filtro do Omie)\nconst codigosValidos = $items(\"FiltroVencer1\", 0).map(item => item.json.codigo_cliente_fornecedor);\n\n// 2️⃣ Filtra os dados da planilha atual (entrada desse Function)\nreturn items.filter(item =>\n  codigosValidos.includes(item.json.codigo_cliente_omie)\n);\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2144,496],"id":"0d9d13b0-ce43-4c9d-ac5f-9d8c31d87de3","name":"Clientes5"},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"codigo_cliente_fornecedor","field2":"codigo_cliente_omie"}]},"joinMode":"keepEverything","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[2496,352],"id":"d5da81a8-040e-430e-becc-a5dc31c850fd","name":"Merge2"},{"parameters":{"jsCode":"return items.map(item => {\n  return {\n    json: {\n      codigo_cliente_fornecedor: item.json.codigo_cliente_fornecedor,\n      codigo_lancamento_omie: item.json.codigo_lancamento_omie,\n      valor: item.json.valor_documento,\n      vencimento: item.json.data_vencimento,\n      parcela: item.json.parcela,\n      // ... passe tudo que precisa junto\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1088,240],"id":"7c9bf894-79ca-49f0-abf5-c869b0ba0db8","name":"Code"},{"parameters":{"jsCode":"return items.map((item, index) => {\n  const boletoData = item.json;\n  const codigoData = $items(\"Code\")[index].json; // ajuste o nome do nó aqui\n\n  return {\n    json: {\n      codigo_cliente_fornecedor: codigoData.codigo_cliente_fornecedor,\n      codigo_lancamento_omie: codigoData.codigo_lancamento_omie,\n      valor: codigoData.valor,\n      vencimento: codigoData.vencimento,\n      parcela: codigoData.parcela,\n      // Dados do boleto\n      cLinkBoleto: boletoData.cLinkBoleto,\n      codBarras: boletoData.cCodBarras,\n      cCodStatus: boletoData.cCodStatus,\n      cDesStatus: boletoData.cDesStatus,\n      // outros campos do boleto, se quiser\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1408,240],"id":"b51a4bb5-1473-48b5-8b5b-87f2d76d6256","name":"Code9"},{"parameters":{"jsCode":"return [{ json: {} }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[912,496],"id":"80604a63-c541-4dc9-bc82-4e54ece4bac2","name":"Zerando Item5"},{"parameters":{"method":"POST","url":"[REDACTED]","sendBody":true,"specifyBody":"json","jsonBody":"[REDACTED]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1248,240],"id":"c13abc01-9382-4979-92a2-435f3d509c88","name":"ObterBoleto2"},{"parameters":{"jsCode":"// Lista de datas alvo (formato dd/mm/yyyy)\nconst ALVOS = [\n  '14/11/2025',\n  '14/12/2025'\n];\n\n// Coleta dos títulos\nconst data = items.flatMap(i => i.json.conta_receber_cadastro || []);\n\nfunction normalizaDMY(raw) {\n  const s = String(raw || '').trim();\n\n  // yyyy-mm-dd -> dd/mm/yyyy\n  if (/^\\d{4}-\\d{2}-\\d{2}$/.test(s)) {\n    const [Y, M, D] = s.split('-');\n    return `${D}/${M}/${Y}`;\n  }\n  // dd/mm/yy -> dd/mm/20yy\n  if (/^\\d{2}\\/\\d{2}\\/\\d{2}$/.test(s)) {\n    const [D, M, YY] = s.split('/');\n    return `${D}/${M}/20${YY}`;\n  }\n  // assume dd/mm/yyyy\n  return s;\n}\n\nconst filtrado = data.filter(item => {\n  const statusOK = String(item?.status_titulo || '').toUpperCase() === 'A VENCER';\n  const boletoOK = String(item?.boleto?.cGerado || '').toUpperCase() === 'S';\n  const vencBR = normalizaDMY(item?.data_vencimento);\n\n  return statusOK && boletoOK && ALVOS.includes(vencBR);\n});\n\n// Saída para o n8n\nreturn filtrado.map(item => ({ json: item }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[576,144],"id":"4f1f397b-c3e6-449c-bcf7-2f3d73a540c3","name":"FiltroVencer1","executeOnce":false,"alwaysOutputData":false,"retryOnFail":true},{"parameters":{"url":"={{ $('ObterBoleto2').item.json.cLinkBoleto }}","options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"={{$json[\"filename\"] || \"boleto.pdf\"}}"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1568,240],"id":"efe289bd-fc71-40ae-bccd-1da11242b372","name":"Baixar2"},{"parameters":{"operation":"binaryToPropery","binaryPropertyName":"boleto.pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1728,240],"id":"8afdec8b-1ab9-4de4-8ff1-32b8b5879ffb","name":"Extract from File"},{"parameters":{"jsCode":"return items.map((item, index) => {\n  // Output do Code3 (dados base)\n  const c3 = ($items(\"Code\")[index] || { json: {} }).json;\n  // Output do Code4 (onde sai o código de barras)\n  const c4 = ($items(\"Code9\")[index] || { json: {} }).json;\n\n  const out = {\n    json: {\n      // ---- do Code3 ----\n      codigo_cliente_fornecedor: c3.codigo_cliente_fornecedor,\n      codigo_lancamento_omie: String(c3.codigo_lancamento_omie ?? ''),\n      valor: c3.valor,\n      vencimento: c3.vencimento,\n      parcela: c3.parcela,\n\n      // ---- do item atual ----\n      data: item.json.data,\n\n      // ---- do Code4 (código de barras) ----\n      codBarras: c4.cCodBarras ?? c4.codBarras ?? item.json.cCodBarras ?? null,\n      // se quiser manter também com o nome original:\n      cCodBarras: c4.cCodBarras ?? item.json.cCodBarras ?? null,\n    }\n  };\n\n  // preserva o binário como binary.data, se existir\n  const b = item.binary || {};\n  const chosen =\n    b.data || b.file || (Object.keys(b).length ? b[Object.keys(b)[0]] : null);\n  if (chosen) out.binary = { data: chosen };\n\n  return out;\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1888,240],"id":"e29c8b5f-a905-47f6-9ee3-d0843082342e","name":"Code10"},{"parameters":{"mode":"combine","fieldsToMatchString":"codigo_lancamento_omie","joinMode":"enrichInput1","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[2144,144],"id":"4a482228-59dd-44c9-941a-c51dd9ffcda3","name":"Boletos2"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[3136,144],"id":"7bff0985-54ad-4172-8619-46b6ca2f860e","name":"Loop Over Items8"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3648,160],"id":"b088fc70-c99d-4230-999e-c7322a93b08a","name":"Wait8","webhookId":"35732a36-53f9-4363-b0f3-6a4430104193"},{"parameters":{"resource":"messages-api","operation":"send-document","instanceName":"Financeiro CB","remoteJid":"={{ $json.telefone }}","media":"={{ $json.data }}","caption":"={{ $json.caption }}","fileName":"BOLETO CASTELO BRANCO CONTABILIDADE.pdf","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[3424,160],"id":"4dee4fa9-abd0-4a05-9959-02ead39836b2","name":"Evolution API5","onError":"[REDACTED]"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[128,-144],"id":"e1203987-19c4-4e0f-bf8e-9bc5fa9cc097","name":"When clicking ‘Execute workflow’"}],"connections":{"Tempo de espera":{"main":[[{"node":"Loop Ler Pag","type":"main","index":0}]]},"Loop Ler Pag":{"main":[[{"node":"MergeContas","type":"main","index":0}],[{"node":"ContasReceber","type":"main","index":0}]]},"BuscarTotalPaginas":{"main":[[{"node":"GerarUltimasPaginas","type":"main","index":0}]]},"ContasReceber":{"main":[[{"node":"Tempo de espera","type":"main","index":0}]]},"GerarUltimasPaginas":{"main":[[{"node":"Loop Ler Pag","type":"main","index":0}]]},"MergeContas":{"main":[[{"node":"FiltroVencer1","type":"main","index":0}]]},"Loop Over Items7":{"main":[[{"node":"Boletos2","type":"main","index":0}],[{"node":"Code","type":"main","index":0}]]},"Wait7":{"main":[[{"node":"Loop Over Items7","type":"main","index":0}]]},"PlanilhaNomes5":{"main":[[{"node":"Clientes5","type":"main","index":0}]]},"Clientes5":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"Merge2":{"main":[[{"node":"Mensagem Atrasado","type":"main","index":0}]]},"Code":{"main":[[{"node":"ObterBoleto2","type":"main","index":0}]]},"Code9":{"main":[[{"node":"Baixar2","type":"main","index":0}]]},"Zerando Item5":{"main":[[{"node":"Clientes5","type":"main","index":0},{"node":"PlanilhaNomes5","type":"main","index":0}]]},"ObterBoleto2":{"main":[[{"node":"Code9","type":"main","index":0}]]},"FiltroVencer1":{"main":[[{"node":"Zerando Item5","type":"main","index":0},{"node":"Loop Over Items7","type":"main","index":0}]]},"Baixar2":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Code10","type":"main","index":0}]]},"Code10":{"main":[[{"node":"Wait7","type":"main","index":0}]]},"Boletos2":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Loop Over Items8":{"main":[[],[{"node":"Evolution API5","type":"main","index":0}]]},"Wait8":{"main":[[{"node":"Loop Over Items8","type":"main","index":0}]]},"Evolution API5":{"main":[[{"node":"Wait8","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"MergeContas","type":"main","index":0}]]}},"versionCounter":4}