workflows/Agente_Atus_(Zapier_Version)_6rf4Y4zCLDsAdhgt.json
{"createdAt":"2025-10-21T11:26:13.239Z","id":"6rf4Y4zCLDsAdhgt","name":"Agente Atus (Zapier Version)","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-976,-224],"id":"5f81b24f-0abd-4d32-a28b-4419d2e40be5","name":"Extract from File"},{"parameters":{"assignments":{"assignments":[{"id":"8cf68bfd-280d-49ee-9657-6ce8113b7ff3","name":"resumo","value":"={{ $json.output }}","type":"string"},{"id":"de0f607c-db4b-4439-82b3-c94aca60095d","name":"","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1520,128],"id":"16b85b15-dc9d-4e6f-9605-f474d221baf2","name":"Edit Fields"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-240,-384],"id":"68ee1649-9d0d-453e-84e4-2f117a0b4957","name":"When clicking ‘Execute workflow’","disabled":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[464,144],"id":"95c4aadd-234d-4073-b4ae-6caf96dd9742","name":"Loop Over Items"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1248,368],"id":"e58a7457-23ff-4cbc-8e85-17c7050f8b0d","name":"Wait","webhookId":"f98dc75d-c1cb-4544-82ca-bf71790b5719"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"={{ $json.resumo }}"},{"content":"=# Persona\nAja como um **Analista Sênior de Reuniões Corporativas**, especializado em análise e síntese de reuniões de diversos segmentos. \n\n\n# Objetivo\nSua função é ler atentamente o conteúdo do PDF fornecido (que pode conter a ata ou transcrição de uma reunião formal) e produzir um resumo claro, organizado e formal, sem perder nenhuma informação importante. Segue os parâmetros importantes:\n\n- Título da Reunião: Com base no Assunto abordado na Reunião.\n\n- Data e Hora da Reunião: Se não informado coloque, pela data de recebimento do VPS.\n\n- Participantes (se for possível identificar pelo texto ou pelo contexto do PDF)\n\n- Tópicos Tratados (liste de forma objetiva e clara cada tema discutido)\n\n- Tópicos Secundários (tudo que surgir fora do roteiro oficial da reunião)\n\n- Listagem de Tarefas, divida por:\n\n    - Pessoas (Clientes, Diretores ou demais mencionados)\n\n    - Departamentos da Empresa\n\n    - Unifique as tarefas por departamento, se forem mencionadas múltiplas vezes.\n\n> Atenção: Só liste tarefas se realmente forem tratadas na reunião.\n\nO tom deve ser sempre formal e objetivo. Você DEVE manter a integridade do conteúdo, sem cortar ou interpretar excessivamente. **Sua tarefa é resumir sem perder o conteúdo essencial da reunião.**\n\n\n# Modelo de Reposta\nEssa será a resposta que você deve encaminhas depois de realizar a analise da reunião.\n\n### INÍCIO DO RESUMO\n\n**1. Título da Reunião:**  \n[Insira aqui]\n\n**2. Data e Hora da Reunião:**  \n[Insira aqui]\n\n**3. Participantes:**  \nListe os nomes e cargos se estiverem disponíveis. Caso não estejam explícitos, **tente inferir** nomes e cargos mencionados ao longo do conteúdo.\n\n**4. Tópicos Tratados:**  \nListe de forma objetiva e clara todos os assuntos discutidos durante a reunião principal.\n\n**5. Tópicos Secundários:**  \nInclua aqui assuntos paralelos ou não previstos no roteiro da reunião, mas que foram tratados.\n\n**6. Listagem de Tarefas:**  \nDivida da seguinte forma:\n- **Por Pessoa** (Cliente, Diretor ou qualquer outra pessoa específica mencionada)\n- **Por Departamento da Empresa** (unifique tarefas por departamento, evitando repetições)\n\n- **Tarefas de Tabelas:** Caso haja tabelas de tarefas, você deve cruzar os papéis e responsabilidades dos participantes (descritos no início da reunião ou mencionados no texto) para atribuir as tarefas ao responsável correto.\n\n- Confira no Topico **(Tarefas de Tabelas)**\n\nSempre apresentar o resultado final em markdown para fácil cópia.\nSomente liste tarefas se elas forem explicitamente tratadas no conteúdo da reunião.\n\n### Tabelas de Tatefas\n\nCaso o conteúdo da reunião traga uma tabela de tarefas (com Nº, descrição, recursos e status), você deve:\n\n- Ler a tabela completa e identificar as tarefas.\n\n- Cruzar os papéis e responsabilidades dos participantes (descritos no início da reunião ou mencionados no texto) para atribuir as tarefas ao responsável correto.\n\nOrganizar uma lista de tarefas por participante, no formato de tabela com as colunas:\n\n- Nº da tarefa\n\n- Descrição da tarefa\n\n- Status\n\n- Participante Encarregado\n\nCaso não seja possível identificar exatamente o responsável, atribuir ao departamento correspondente (ex.: Marketing, Comercial, Financeiro, Tecnologia, Treinamento).\n\n---\n\n### FIM DO RESUMO\n\n**Regras adicionais:**  \n- Mantenha sempre o tom formal e profissional, mesmo que o conteúdo seja descontraído.  \n- Seja objetivo e claro. Não invente nem interprete subjetivamente.  \n- Mantenha a integridade do conteúdo da reunião.  ","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1248,-928],"id":"5bb30217-2a3f-4780-bdcc-72b0eb3cf01b","name":"Message a model3"},{"parameters":{"descriptionType":"manual","toolDescription":"Tabela com informação dos colaboradores, departamento e suas funções","operation":"get","dataTableId":{"__rl":true,"value":"RBllNq3zLJStFz5T","mode":"list","cachedResultName":"agente_atus_membros","cachedResultUrl":"[REDACTED]"},"filters":{"conditions":[{"condition":"isNotEmpty"}]},"returnAll":true},"type":"n8n-nodes-base.dataTableTool","typeVersion":1,"position":[848,320],"id":"34d534f2-d180-408a-a42b-0923fe74bf45","name":"consultar_membros"},{"parameters":{"promptType":"define","text":"={{ $json.texto_original }}","options":{"systemMessage":"[REDACTED]"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[784,160],"id":"9394c379-a75e-4887-aefc-cc5887813dfe","name":"AI Agent2"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{"temperature":0.6}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[624,320],"id":"9c39b2c6-9dab-44a8-8ff4-6a05a64aab82","name":"OpenAI Chat Model1"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{},{"role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[880,-928],"id":"c06583ca-67b9-413b-bc0f-75b9a9f9671a","name":"Message a model2"},{"parameters":{"sessionIdType":"customKey","sessionKey":"[REDACTED]"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[736,320],"id":"06de4510-5f62-4a02-821a-47b878f9e4b2","name":"Simple Memory"},{"parameters":{"httpMethod":"POST","path":"d6b4fddb-cfcc-45d4-9b75-ae142ec3c87c","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1728,144],"id":"50b30ae3-de3c-4132-a4f3-0707690aa96f","name":"Webhook","webhookId":"d6b4fddb-cfcc-45d4-9b75-ae142ec3c87c"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"[REDACTED]","mode":"list","cachedResultName":"Atas","cachedResultUrl":"[REDACTED]"},"event":"fileCreated","options":{"fileType":"all"}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-2176,-176],"id":"964b43d6-eab7-4cdd-ac80-721b17838c67","name":"Google Drive Trigger","disabled":true},{"parameters":{"operation":"createFromText","content":"={{ $('Merge').item.json.resumo }}","name":"=TAREFAS - {{ $json.name.split('.pdf')[0] }}.txt","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Create folder').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2768,-208],"id":"916d61c2-5fa9-48b7-b601-621e49014094","name":"cria_listagem_tarefas"},{"parameters":{"resource":"fileFolder","returnAll":true,"filter":{"folderId":{"__rl":true,"value":"[REDACTED]","mode":"list","cachedResultName":"Atas","cachedResultUrl":"[REDACTED]"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1488,-224],"id":"82270557-bb3c-48aa-9ee0-d08642289ff9","name":"Search files and folders"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-nano","mode":"list","cachedResultName":"GPT-4.1-NANO"},"messages":{"values":[{"content":"=Aja como um extrator de dados especializado em transcrições de reuniões empresariais. Sua tarefa é identificar e retornar em formato JSON dois dados específicos a partir do conteúdo da transcrição de uma única reunião:\n\n**Tipo de Reunião**\n - Cliente (Reunião com uma empresa de fora, que não seja a castelo branco)\n - Time ()\n\n\nApenas retorne o JSON com a seguinte estrutura e nada mais:\n\n{\n\"Tipo de reunião\": \"(Cliente ou Time)\"\n}\n\nExemplo de título do arquivo de origem: \"09-09 Consultoria: Diagnóstico Financeiro e Plano de Reestruturação para Farmácia\"\n\nMesmo que os dados estejam no título, transcrição ou em qualquer parte do conteúdo, identifique-os corretamente.","role":"system"},{"content":"={{ $json.texto_original }}"}]},"jsonOutput":true,"options":{"temperature":0.1}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-128,16],"id":"5a3b89a5-bde1-4894-9a5c-7155521a00f7","name":"Message a model5"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c01d7d35-b510-452e-bb77-2e1cc298ae44","leftValue":"={{ $json.message.content['Tipo de reunião'] }}","rightValue":"Time","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1984,320],"id":"84b30cf6-805d-4681-a451-e5471cc53b3a","name":"If1"},{"parameters":{"assignments":{"assignments":[{"id":"aba958ad-779a-46ef-a97e-fd9a291010c6","name":"message.content['Tipo de reunião']","value":"={{ $json.message.content['Tipo de reunião'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,16],"id":"2073c315-0d2f-4a47-aea4-afd7d2679dda","name":"tipo_reuniao"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","numberInputs":3,"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1760,304],"id":"f294b894-bd3f-4eae-bba0-4a19f223be08","name":"Merge"},{"parameters":{"operation":"createFromText","content":"={{ $('Merge').item.json.resumo }}","name":"=TAREFAS - {{ $json.name.split('.pdf')[0] }}.txt","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Create folder1').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[3360,1168],"id":"00135c02-495a-4e18-841a-bffac1ef3a95","name":"cria_listagem_tarefas1"},{"parameters":{"url":"=https://www.googleapis.com/drive/v3/files/{{ $json.id }}?alt=media&supportsAllDrives=true","authentication":"[REDACTED]","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1232,-224],"id":"d13e6584-9d70-4400-8338-3593f20a80e2","name":"BAIXA ARQUIVOS","retryOnFail":false},{"parameters":{"assignments":{"assignments":[{"id":"94645848-25c4-4d22-9412-cbf3f2426387","name":"body.titulo","value":"={{ $json.body.titulo }}","type":"string"},{"id":"ba0dd6cd-a09c-444e-9508-5c8d52405614","name":"texto_original","value":"={{ $json.body.resumo }}","type":"string"},{"id":"6a3d2228-5c7d-4809-bd1a-c479dc25df6c","name":"body.data_hora","value":"={{ $json.body.data_hora }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1136,144],"id":"dc4d7b83-93a8-4f89-b307-e7a98770ef22","name":"Edit Fields2"},{"parameters":{"resource":"folder","name":"={{ $json.name.split('.pdf')[0] }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"[REDACTED]","mode":"list","cachedResultName":"TIME","cachedResultUrl":"[REDACTED]"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2208,64],"id":"a8623159-271a-4e4e-a7f3-0f15c08326e0","name":"Create folder"},{"parameters":{"resource":"folder","name":"={{ $json.body.titulo }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1tDRk2DbP5F2Jd_f862Qh44G8Depv0eIm","mode":"list","cachedResultName":"CLIENTE","cachedResultUrl":"[REDACTED]"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2208,544],"id":"065122a9-427f-4b96-b641-a6dcf56bba69","name":"Create folder1"},{"parameters":{"operation":"copy","fileId":{"__rl":true,"value":"={{ $('Search files and folders').item.json.id }}","mode":"id"},"name":"={{ $json.name }}","sameFolder":false,"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2496,-528],"id":"0b032e16-cdf0-4c35-a5a5-8c1ead191374","name":"Copy file2"},{"parameters":{"operation":"update","fileId":{"__rl":true,"value":"={{ $('Search files and folders').item.json.id }}","mode":"id"},"options":{"appPropertiesUi":{"appPropertyValues":[{"key":"[REDACTED]","value":"={{ true }}"}]}}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[4144,288],"id":"dd7653cf-6131-4826-89f5-9297cb2b67df","name":"Update file1"},{"parameters":{"method":"POST","url":"http://147.93.66.91:55503/timbrar","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"arquivo","inputDataFieldName":"arquivo"}]},"options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"=timbrado_tarefas"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3392,544],"id":"4c71a4ef-a15e-4e01-afb4-fb226ddb9932","name":"HTTP Request"},{"parameters":{"operation":"toText","sourceProperty":"=resumo","binaryPropertyName":"arquivo","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[3216,544],"id":"9f83c1ed-9440-4ebc-9213-59213a0c48a9","name":"Convert to File"},{"parameters":{"inputDataFieldName":"timbrado_tarefas","name":"=TAREFAS - {{ $('Merge').item.json.body.titulo }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Create folder1').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[3552,544],"id":"04a88e1c-f0a0-49d9-8c2b-2b852ad3d6b0","name":"Upload file"},{"parameters":{"assignments":{"assignments":[{"id":"aef3a46f-b775-4504-93b6-b09aab6cc4d6","name":"=resumo","value":"={{ $('Merge').item.json.resumo }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3040,544],"id":"cd38248e-3398-40d1-8404-26e66a404a78","name":"texto_resumo"},{"parameters":{"assignments":{"assignments":[{"id":"58de85bd-7935-4132-9f27-d2a6af7e50a3","name":"resumo","value":"={{ $('Merge').item.json.resumo }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3040,64],"id":"6594f06b-9fa1-4aa0-9d71-cf9a265c5305","name":"Edit Fields1"},{"parameters":{"operation":"toText","sourceProperty":"=resumo","binaryPropertyName":"arquivo","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[3216,64],"id":"1e3c0c2d-36ef-4dd8-a0bc-19b6d117172e","name":"Convert to File1"},{"parameters":{"method":"POST","url":"http://147.93.66.91:55503/timbrar","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"arquivo","inputDataFieldName":"arquivo"}]},"options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"=timbrado_tarefas"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3392,64],"id":"cead48e4-f1c3-4533-aaf4-cb94ec70c67a","name":"HTTP Request1"},{"parameters":{"inputDataFieldName":"timbrado_tarefas","name":"=TAREFAS - {{ $('Merge').item.json.name }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Create folder').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[3552,64],"id":"5c2cecf8-7488-4bad-8114-3fdfcd460fde","name":"Upload file1"},{"parameters":{"assignments":{"assignments":[{"id":"3fe9d0fa-fcc9-498a-9897-79dc3a94e71b","name":"texto_original","value":"={{ $('Merge').item.json.texto_original }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2352,544],"id":"5f14957c-de04-41b5-a0cb-67c1cce005a6","name":"texto_original"},{"parameters":{"method":"POST","url":"http://147.93.66.91:55503/timbrar","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"arquivo","inputDataFieldName":"arquivo"}]},"options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"=timbrado_tarefas"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2688,544],"id":"2840944d-3b53-4696-9c0c-bc188dcd554a","name":"HTTP Request2"},{"parameters":{"inputDataFieldName":"timbrado_tarefas","name":"=ATA - {{ $('Merge').item.json.body.titulo }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Create folder1').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2848,544],"id":"b42ea360-4c89-453d-a44e-2d4022278ca4","name":"Upload file2"},{"parameters":{"operation":"toText","sourceProperty":"=texto_original","binaryPropertyName":"arquivo","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[2512,544],"id":"788811d6-e36d-4110-b11d-2e8a344c58d9","name":"Convert to File2"},{"parameters":{"assignments":{"assignments":[{"id":"3fe9d0fa-fcc9-498a-9897-79dc3a94e71b","name":"texto_original","value":"={{ $('Merge').item.json.texto_original }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2352,64],"id":"b53380ba-2584-4ee2-8f01-0f74129cb4fb","name":"texto_original1"},{"parameters":{"method":"POST","url":"http://147.93.66.91:55503/timbrar","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"arquivo","inputDataFieldName":"arquivo"}]},"options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"=timbrado_tarefas"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2688,64],"id":"ef27c9ca-c999-4de9-9b29-eeb96cbc9859","name":"HTTP Request3"},{"parameters":{"operation":"toText","sourceProperty":"=texto_original","binaryPropertyName":"arquivo","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[2512,64],"id":"9687f78c-bd37-4d5f-bbad-92174fd2483a","name":"Convert to File3"},{"parameters":{"inputDataFieldName":"timbrado_tarefas","name":"=ATA - {{ $('Merge').item.json.body.titulo }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Create folder').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2848,64],"id":"0284664b-25c9-44b9-9a92-f645adfea731","name":"Upload file3"}],"connections":{"Extract from File":{"main":[[]]},"Edit Fields":{"main":[[{"node":"Merge","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[]]},"Loop Over Items":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"AI Agent2","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"consultar_membros":{"ai_tool":[[{"node":"AI Agent2","type":"ai_tool","index":0}]]},"AI Agent2":{"main":[[{"node":"Wait","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent2","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent2","type":"ai_memory","index":0}]]},"Webhook":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Google Drive Trigger":{"main":[[]]},"Search files and folders":{"main":[[{"node":"BAIXA ARQUIVOS","type":"main","index":0}]]},"Message a model5":{"main":[[{"node":"tipo_reuniao","type":"main","index":0}]]},"tipo_reuniao":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Merge":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Create folder","type":"main","index":0}],[{"node":"Create folder1","type":"main","index":0}]]},"BAIXA ARQUIVOS":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Loop Over Items","type":"main","index":0},{"node":"Message a model5","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Create folder":{"main":[[{"node":"texto_original1","type":"main","index":0}]]},"Create folder1":{"main":[[{"node":"texto_original","type":"main","index":0}]]},"Copy file2":{"main":[[]]},"cria_listagem_tarefas":{"main":[[]]},"cria_listagem_tarefas1":{"main":[[]]},"HTTP Request":{"main":[[{"node":"Upload file","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"texto_resumo":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Upload file1","type":"main","index":0}]]},"Upload file":{"main":[[]]},"texto_original":{"main":[[{"node":"Convert to File2","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"Upload file2","type":"main","index":0}]]},"Convert to File2":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"Upload file2":{"main":[[{"node":"texto_resumo","type":"main","index":0}]]},"texto_original1":{"main":[[{"node":"Convert to File3","type":"main","index":0}]]},"Convert to File3":{"main":[[{"node":"HTTP Request3","type":"main","index":0}]]},"HTTP Request3":{"main":[[{"node":"Upload file3","type":"main","index":0}]]},"Upload file3":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]}}}