workflows/Agente_Corretor_Participantes_y1Ab7HOwFILZmiEA.json
{"createdAt":"2025-11-06T17:45:53.504Z","id":"y1Ab7HOwFILZmiEA","name":"Agente Corretor_Participantes","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"be1510d6-77a1-464c-800b-bbd4f03bf2af","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-224,16],"id":"90098a38-7122-43f6-b199-6a87fdafb19f","name":"Webhook","webhookId":"be1510d6-77a1-464c-800b-bbd4f03bf2af"},{"parameters":{"promptType":"define","text":"={{ $json.body.resumo }}","hasOutputParser":true,"options":{"systemMessage":"A partir do texto a seguir, extraia todos os nomes próprios de pessoas mencionadas na reunião e retorne o resultado em formato JSON, com a seguinte estrutura:\n\n```\n{\n  \"nomes\": [\"Nome1\", \"Nome2\", \"Nome3\"]\n}\n```\n\nApenas inclua nomes de pessoas. Ignore nomes de empresas, projetos ou locais. Não adicione comentários ou explicações fora do JSON."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[0,16],"id":"675d5846-1184-4417-b503-ed43cc098e30","name":"Extrator de Nomes"},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","hasOutputParser":true,"options":{"systemMessage":"=# Objetivo\nAssocie os nomes({{ $json.output }}) mencionados na ata da reunião com os nomes completos encontrados na ferramenta ver_departamentos. Para cada correspondência, retorne o nome completo seguido da função entre parênteses.\n\n- Se o nome for semelhante (ex: \"Adilio\" → \"Adilio Castelo Branco\"), considere como uma correspondência.\n\n- Se a função estiver disponível na ferramenta, exiba-a entre parênteses.\n\n- Caso a função não esteja listada, use \"(Desconhecido)\".\n\n## Exemplo de saída esperada:\n\n- Adilio Castelo Branco (Diretoria)\n- Maria Fernanda Souza (Financeiro)\n- Carlos Silva (Desconhecido)\n\n\n## Entrada:\n\n- Lista de nomes da reunião\n\n- Acesso à ferramenta ver_departamentos para buscar nome completo e função\n\n- Saída esperada:\nLista em Json com os nomes completos e respectivas funções, formatados conforme o exemplo. "}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[336,16],"id":"32c14922-bda7-4265-a723-6f1a9bd57caa","name":"Identificador de Participantes"},{"parameters":{"promptType":"define","text":"={{ $('Webhook').item.json.body.resumo }}\n\n{{ $json.output.resultado }}","options":{"systemMessage":"=# Objetivo\n\nCorrija o conteúdo do campo resumo:\n{{ $('Webhook').item.json.body.resumo }}\n\n**Utilize as informações de nomes e participantes contidas em:**\n{{ $json.output.resultado }}\n\nAssocie aos nomes encontrados dos participantes e nunca do resumo.\n\n# Regras\n**Você não deve criar departamentos ou inventar se eles ja existirem, você deve associar ao resultado encontrado em:** {{ $json.output.resultado }}\n\n- Associe ao nomes do resumo ao encontrados em: {{ $json.output.resultado }}\n- Coloque todos os nomes do resumo em \"Participantes\"\n- Substitua ou corrija os nomes no resumo conforme os nomes corretos fornecidos.\n- Nunca crie o invente nomes.\n- Inclua todos os nomes recebidos na seção intitulada \"Participantes\", garantindo que estejam corretamente listados.\n- Não coloque sobrenome, apenas um único nome.\n\n## Retorno\n\nPara individuos com departamento (Desconhecido) retorne apenas o nome, para individuos com departamentos definidos retorne o seu nome e departamento em pareteses:\n\nExemplo:\n```\n\"Igor\",\"(Desconhecido)\" = Igor\n\"Samuel\",\"(Marketing)\" = Samuel (Marketing)\n```\n\nResultado Errado:\n\n```\n**Representantes da Contabilidade:** Jéssica, Tânia, Adilio — Responsáveis pela execução dos processos contábeis e fiscais. \n```\n\nResutlado Correto:\n```\n**Representantes da Contabilidade:** Jéssica, Tânia, Adilio (Diretoria) — Responsáveis pela execução dos processos contábeis e fiscais. \n```\n\n## Data e Hora:\nEm \"Data e Hora da Reunião:\" coloque o mesmo que: {{ $('Webhook').item.json.body.data }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[672,16],"id":"467d5f95-5cfc-48c9-9894-5a29fd068b0a","name":"Corretor de Participantes"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[0,208],"id":"e9b40932-b7de-4a84-b6da-6ab4762b3a0d","name":"4.1 Mini"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[304,208],"id":"d8707297-a462-4dca-90a5-57c01a2453d1","name":"4.1 Mini1"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[672,208],"id":"8444c5ea-8f83-4154-9b90-fec4cd52de55","name":"4.1 Mini2"},{"parameters":{"jsonSchemaExample":"{\n  \"nomes\": [\"Nome1\", \"Nome2\", \"Nome3\"]\n}"},"type":"[REDACTED]","typeVersion":1.3,"position":[144,208],"id":"ca1f1730-9c3e-4643-81ed-68a8069f1552","name":"Saida Json"},{"parameters":{"jsonSchemaExample":"{\n  \"resultado\": [\n    {\n      \"nome\": \"Igor\",\n      \"departamento\": \"Desconhecido\"\n    },\n    {\n      \"nome\": \"Silva\",\n      \"departamento\": \"RH\"\n    }\n  ]\n}\n"},"type":"[REDACTED]","typeVersion":1.3,"position":[528,208],"id":"780bfed4-d50d-435d-aa4c-31c7bc91b0da","name":"json"},{"parameters":{"workflowId":{"__rl":true,"value":"eBzDDxnFxkZ9Ba2w","mode":"list","cachedResultUrl":"[REDACTED]","cachedResultName":"Agente Atus (Zapier Version) - Com Corretor"},"workflowInputs":{"mappingMode":"defineBelow","value":{"resumo":"={{ $json.output }}","data":"={{ $('Webhook').item.json.body.data }}","titulo":"={{ $('Webhook').item.json.body.titulo }}"},"matchingColumns":[],"schema":[{"id":"titulo","displayName":"titulo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"resumo","displayName":"resumo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data","displayName":"data","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1072,16],"id":"5e498c33-2a6f-4923-b84c-409633f54b86","name":"Call 'Agente Atus (Zapier Version) - Com Corretor'"},{"parameters":{"operation":"getAll","tableId":"colaboradores","limit":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}"},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[416,208],"id":"d9836cd6-32a8-4932-aca6-524e9ffd81be","name":"ver_colaboradores"}],"connections":{"Webhook":{"main":[[{"node":"Extrator de Nomes","type":"main","index":0}]]},"Extrator de Nomes":{"main":[[{"node":"Identificador de Participantes","type":"main","index":0}]]},"Identificador de Participantes":{"main":[[{"node":"Corretor de Participantes","type":"main","index":0}]]},"4.1 Mini":{"ai_languageModel":[[{"node":"Extrator de Nomes","type":"ai_languageModel","index":0}]]},"4.1 Mini1":{"ai_languageModel":[[{"node":"Identificador de Participantes","type":"ai_languageModel","index":0}]]},"4.1 Mini2":{"ai_languageModel":[[{"node":"Corretor de Participantes","type":"ai_languageModel","index":0}]]},"Saida Json":{"ai_outputParser":[[{"node":"Extrator de Nomes","type":"ai_outputParser","index":0}]]},"json":{"ai_outputParser":[[{"node":"Identificador de Participantes","type":"ai_outputParser","index":0}]]},"Corretor de Participantes":{"main":[[{"node":"Call 'Agente Atus (Zapier Version) - Com Corretor'","type":"main","index":0}]]},"ver_colaboradores":{"ai_tool":[[{"node":"Identificador de Participantes","type":"ai_tool","index":0}]]}},"versionCounter":36}