workflows/Agente_Atus_(Google_Drive)_ENVIO_EM_MASSA_ZGl6jYNVYZpkuZu2.json
{"createdAt":"2025-11-03T19:22:02.332Z","id":"ZGl6jYNVYZpkuZu2","name":"Agente Atus (Google Drive) ENVIO EM MASSA","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-1248,144],"id":"30a34202-bc0c-4b8d-8e31-5872cf6af641","name":"Extract from File"},{"parameters":{"assignments":{"assignments":[{"id":"8cf68bfd-280d-49ee-9657-6ce8113b7ff3","name":"resumo","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1728,128],"id":"19a102e5-2613-4f70-8927-609740a56aa9","name":"Edit Fields"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2208,144],"id":"7b314e0f-349d-4c16-acb7-393a82bcfb2c","name":"When clicking ‘Execute workflow’"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[672,144],"id":"69c29422-a881-48a1-b111-d57a37bd1739","name":"Loop Over Items"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1456,368],"id":"6205e388-4480-4ccf-8ca4-38874ef4da79","name":"Wait","webhookId":"37414788-814f-4354-bb85-ebcf9dc8530e"},{"parameters":{"descriptionType":"manual","toolDescription":"Tabela com informação dos colaboradores, departamento e suas funções","operation":"get","dataTableId":{"__rl":true,"value":"RBllNq3zLJStFz5T","mode":"list","cachedResultName":"agente_atus_membros","cachedResultUrl":"[REDACTED]"},"filters":{"conditions":[{"condition":"isNotEmpty"}]},"returnAll":true},"type":"n8n-nodes-base.dataTableTool","typeVersion":1,"position":[1088,320],"id":"fea1a601-38af-4536-8cad-04b6ef362049","name":"consultar_membros"},{"parameters":{"promptType":"define","text":"={{ $json.texto_original }}","options":{"systemMessage":"=# Persona\nAja como um Analista Sênior de Reuniões Corporativas, especializado em análise e síntese de reuniões.\n\n# Objetivo\nLer o PDF (ata/transcrição) e produzir um resumo claro, organizado e formal, sem perder informações importantes, seguindo rigorosamente as regras abaixo.\n\n# Regras de Identificação (Guardrails)\n\n1. **Obrigatório usar a ferramenta consultar_membros** para validar **todo nome** e **todo departamento** citado antes de incluí-los na saída.\n\n2. **Participantes só podem ser listados se:**\n\n   - Houver **menção explícita** por nome/apelido na transcrição; e\n\n   - A consultar_membros confirmar o registro com score ≥ 0,82 (abaixo disso, não incluir).\n\n3. **Nunca** considerar que **todo um departamento participou**. Cada pessoa deve ter menção individual e confirmação pela ferramenta.\n\n4. **Whitelist de Departamentos (somente estes são válidos)**:\nTriagem; Marketing (MKT); Pessoal; Fiscal; IA (Incubadora IA); Atendimento; RH (Recursos Humanos); Contábil; Regularize; Comercial; Manutenção; TI; Financeiro; Parcelamento; Diretoria.\nQualquer outro nome de departamento deve ser ignorado e não colocado no resumo.\n\n5. **Correções fixas de nomes** (exemplos):\n\n   - Yuri/Uri → **Yure Cerqueira** (Comercial)\n\n   - Rosana/Osana → **Hosana Jennifer Souza Palmeira** (Atendimento)\n\n   - Elino → **Lino Menezes de Castro** (IA)\n\n   - Claudio/Plaudio → **Plaud** (ferramenta de tecnologia/multimídia); nunca listar “Claudio/Plaudio” como participante.\n\n6. **Sem invenções**: não crie departamentos, nomes, cargos ou tópicos que **não constem** na ata ou na consultar_membros.\n\n7. **Se o responsável direto da tarefa não estiver claro**, atribua a tarefa ao **departamento** correspondente (validado na ferramenta).\n\n# Fluxo de Saída (2 etapas)\n\n**Etapa A – JSON canônico** (obrigatório):\nResponda primeiro com apenas este JSON (sem Markdown) para validação externa:\n```\n{\n  \"meta\": {\n    \"data_hora\": \"YYYY-MM-DD HH:mm (da ata; se ausente, use data/hora atuais)\",\n    \"titulo\": \"...\"\n  },\n  \"participantes\": [\n    {\n      \"nome_detectado\": \"apelido/no texto\",\n      \"confirmado\": true,\n      \"nome\": \"oficial da ferramenta\",\n      \"departamento\": \"oficial (whitelist)\",\n      \"funcao\": \"da ferramenta\",\n      \"score\": 0.93\n    }\n  ],\n  \"tarefas\": [\n    {\n      \"departamento\": \"oficial (whitelist)\",\n      \"descricao\": \"tarefa...\",\n      \"responsavel\": \"nome oficial OU ausente se não confirmado\"\n    }\n  ],\n  \"nao_identificados\": [\"nomes duvidosos ou abaixo de score (não entram)\"],\n  \"referencias_ferramentas\": [\"Plaud (Tecnologia/Multimídia)\"]\n}\n```\n\n**Regras desta etapa:**\n\n- Inclua em participantes apenas quem tiver menção e confirmação (score ≥ 0,82).\n\n- Se “Claudio/Plaudio” aparecer, não incluir em participantes; em vez disso, registre em referencias_ferramentas como “Plaud (Tecnologia/Multimídia)”.\n\n- Em tarefas, se o responsavel não for um participante confirmado, remova o responsável e mantenha a tarefa apenas no departamento.\n\n- Departamento deve estar no whitelist. Caso contrário, remova a tarefa.\n\n**Etapa B – Markdown final (modelo abaixo)**:\nSomente após a validação externa do JSON, gere o Markdown exatamente no formato a seguir.\n\n## Modelo de Resposta (Markdown)\n\n```\n### INÍCIO DO RESUMO\n\n**Data e Hora**\n[Usar a data/hora da ata; se ausentes, data/hora atuais]\n\n**Titulo da reunião**\n[Título identificado]\n\n**2. Participantes:**  \n[Listar **apenas** os participantes confirmados (nome — departamento — função)]\n\n**3. Listagem de Tarefas:**\n\n- **Por Departamento da Empresa:**\n  - **[Nome do Departamento]**\n    - [Tarefa 1]\n    - [Tarefa 2]\n    - [Tarefa 3]\n\n### FIM DO RESUMO\n```\n\n### Regras Adicionais de Estilo\n\n- Tom formal e profissional.\n\n- Claro, objetivo e completo, sem subjetividade.\n\n- Nunca invente dados.\n\n- Nunca crie novos tópicos além de: Data e Hora, Título da Reunião, Participantes, Listagem de Tarefas.\n\n- Sempre usar consultar_membros para validar nomes, departamentos e funções.\n\n- Variantes de nomes devem ser corrigidas para o oficial retornado pela ferramenta."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[1008,160],"id":"5b8d43d4-aecf-4abe-839e-fcf8c1405484","name":"AI Agent2"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{"temperature":0.6,"timeout":600000}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[832,320],"id":"4b36279a-123d-4c02-9275-7636aef8cc00","name":"OpenAI Chat Model1"},{"parameters":{"sessionIdType":"customKey","sessionKey":"[REDACTED]"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[944,320],"id":"4c0da0da-11cb-4cef-ac87-db55b9db72c5","name":"Simple Memory"},{"parameters":{"resource":"fileFolder","limit":11,"filter":{"folderId":{"__rl":true,"value":"[REDACTED]","mode":"list","cachedResultName":"Atas","cachedResultUrl":"[REDACTED]"}},"options":{"fields":["*"]}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1952,144],"id":"e4e54dd3-0215-42e6-b15e-ee054308ee9a","name":"Search files and folders"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-nano","mode":"list","cachedResultName":"GPT-4.1-NANO"},"messages":{"values":[{"content":"[REDACTED]","role":"system"},{"content":"={{ $json.texto_original }}"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[80,16],"id":"d8331542-6137-42c1-a240-67482c1e1a7b","name":"Message a model5"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c01d7d35-b510-452e-bb77-2e1cc298ae44","leftValue":"={{ $('Merge').item.json.message.content['Tipo de reunião'] }}","rightValue":"Time","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2432,320],"id":"c0f23879-462b-4750-86f6-ee7b3c3b89c2","name":"If1"},{"parameters":{"assignments":{"assignments":[{"id":"aba958ad-779a-46ef-a97e-fd9a291010c6","name":"message.content['Tipo de reunião']","value":"={{ $json.message.content['Tipo de reunião'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[448,16],"id":"a4e93d22-d26f-4819-9d9b-61f8b56d54c2","name":"tipo_reuniao"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","numberInputs":3,"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1904,304],"id":"2c19454f-8513-4c0b-aa39-ca6729fbd6dc","name":"Merge"},{"parameters":{"url":"=https://www.googleapis.com/drive/v3/files/{{ $json.id }}?alt=media&supportsAllDrives=true","authentication":"[REDACTED]","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1488,144],"id":"37e06570-559b-433c-8493-daf3ad91a7dd","name":"BAIXA ARQUIVOS","retryOnFail":false},{"parameters":{"assignments":{"assignments":[{"id":"80839884-e7b9-4171-8a11-c30c02b347a7","name":"texto_original","value":"={{ $json.text }}","type":"string"},{"id":"26b54ace-4067-4f92-a1f9-ce813706070f","name":"name","value":"={{ $('Search files and folders').item.json.name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-992,144],"id":"75d0ca0c-953c-4478-8592-307ac350d7f6","name":"Edit Fields2"},{"parameters":{"method":"POST","url":"http://147.93.66.91:55503/timbrar","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"arquivo","inputDataFieldName":"arquivo"}]},"options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"=timbrado_tarefas"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3776,528],"id":"748208d1-2eaf-449d-9b64-e3e1b0f6660c","name":"HTTP Request"},{"parameters":{"operation":"toText","sourceProperty":"=resumo","binaryPropertyName":"arquivo","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[3600,528],"id":"0ba06df3-f047-4f27-bad5-8d468b42a24a","name":"Convert to File"},{"parameters":{"assignments":{"assignments":[{"id":"aef3a46f-b775-4504-93b6-b09aab6cc4d6","name":"=resumo","value":"={{ $('Agente_formatador').item.json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3424,528],"id":"d8c195d9-16f6-4aaf-8012-43a80bbfd482","name":"texto_resumo"},{"parameters":{"operation":"toText","sourceProperty":"=resumo","binaryPropertyName":"arquivo","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[3600,48],"id":"896ef6af-ad85-4f2b-a712-6124ee1f78b7","name":"Convert to File1"},{"parameters":{"method":"POST","url":"http://147.93.66.91:55503/timbrar","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"arquivo","inputDataFieldName":"arquivo"}]},"options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"=timbrado_tarefas"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3776,48],"id":"793bd8d2-a978-47d5-b79d-ae0133f31e5a","name":"HTTP Request1"},{"parameters":{"assignments":{"assignments":[{"id":"3fe9d0fa-fcc9-498a-9897-79dc3a94e71b","name":"texto_original","value":"={{ $('Merge').item.json.texto_original }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2736,528],"id":"3de488aa-6467-4742-888c-049f6fac4a59","name":"texto_original"},{"parameters":{"method":"POST","url":"http://147.93.66.91:55503/timbrar","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"arquivo","inputDataFieldName":"arquivo"}]},"options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"=timbrado_tarefas"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3072,528],"id":"b55ed5ad-3b3d-4e3c-a355-915056b90c10","name":"HTTP Request2"},{"parameters":{"operation":"toText","sourceProperty":"=texto_original","binaryPropertyName":"arquivo","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[2896,528],"id":"56fa3330-d21f-467b-b11f-d4131e10bc33","name":"Convert to File2"},{"parameters":{"assignments":{"assignments":[{"id":"3fe9d0fa-fcc9-498a-9897-79dc3a94e71b","name":"texto_original","value":"={{ $('Merge').item.json.texto_original }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2736,48],"id":"c3e27e15-c485-498e-939c-19a8b6ee8e61","name":"texto_original1"},{"parameters":{"method":"POST","url":"http://147.93.66.91:55503/timbrar","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"arquivo","inputDataFieldName":"arquivo"}]},"options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"=timbrado_tarefas"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3072,48],"id":"4fa67366-9db4-4680-910c-b5ecaf008ae5","name":"HTTP Request3"},{"parameters":{"operation":"toText","sourceProperty":"=texto_original","binaryPropertyName":"arquivo","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[2896,48],"id":"7b270835-db74-4407-b691-e90d64566f4e","name":"Convert to File3"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{"timeout":600000}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2112,512],"id":"756468a6-094c-4e2b-bd5a-8b367f4dc0ae","name":"OpenAI Chat Model"},{"parameters":{"assignments":{"assignments":[{"id":"58de85bd-7935-4132-9f27-d2a6af7e50a3","name":"resumo","value":"={{ $('Agente_formatador').item.json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3424,48],"id":"f9e68202-c5d4-478e-87d9-dd9e9fd2bb3a","name":"texto_formatado"},{"parameters":{"promptType":"define","text":"={{ $json.resumo }}","options":{"systemMessage":"=# Persona\n\nAja como um **Gerador de Relatórios de Reunião Corporativa**, especializado em formatar dados estruturados em relatórios formais.\n\n# Objetivo\n\nSua função é **converter um JSON validado** (que contém participantes, tarefas e metadados da reunião) em um **resumo em formato Markdown** fiel, organizado e formal.  \n\nVocê **NÃO deve interpretar o conteúdo**, **nem criar informações novas**.  \nApenas **formate os dados exatamente como vierem no JSON**.\n\n## Regras Gerais\n\n1. **NUNCA invente ou modifique dados** — utilize somente o que está no JSON.\n2. Se algum campo estiver vazio, **omite-o**, não substitua por “-”.\n3. O resumo deve conter **somente** os tópicos:\n   - Data e Hora  \n   - Título da Reunião  \n   - Participantes (Não incluir funções) \n   - Listagem de Tarefas  \n4. Sempre inicie com `### INÍCIO DO RESUMO` e finalize com `### FIM DO RESUMO`.\n5. As listas devem estar formatadas com **bullets (-)** e subtítulos em **negrito**.\n6. As tarefas devem estar **agrupadas por departamento**.\n7. Mantenha o tom **formal, limpo e corporativo** (sem emojis, comentários ou observações adicionais).\n8. Se não houver participantes ou tarefas, escreva **(não identificados)** no lugar.\n\n## Modelo de Resposta\n\n```\nINÍCIO DO RESUMO\n\n**Data e Hora**\n[${data_hora}]\n\n**Título da Reunião**\n[${titulo}]\n\n**2. Participantes:**\n\n[Nome] ([Departamento])\n\n[Nome] ([Departamento])\n\n**3. Listagem de Tarefas:**\n\n**Por Departamento da Empresa:**\n\n**[Nome do Departamento]**\n\n[Tarefa 1]\n\n[Tarefa 2]\n\n\nFIM DO RESUMO\n```\n\n## Tratamento de Dados\n\nVocê receberá um arquivo json dessa maneira: \n```\n{\n  \"meta\": {\n    \"data_hora\": \"YYYY-MM-DD HH:mm (da ata; se ausente, use data/hora atuais)\",\n    \"titulo\": \"...\"\n  },\n  \"participantes\": [\n    {\n      \"nome_detectado\": \"apelido/no texto\",\n      \"confirmado\": true,\n      \"nome\": \"oficial da ferramenta\",\n      \"departamento\": \"oficial (whitelist)\",\n      \"funcao\": \"da ferramenta\",\n      \"score\": 0.93\n    }\n  ],\n  \"tarefas\": [\n    {\n      \"departamento\": \"oficial (whitelist)\",\n      \"descricao\": \"tarefa...\",\n      \"responsavel\": \"nome oficial OU ausente se não confirmado\"\n    }\n  ],\n  \"nao_identificados\": [\"nomes duvidosos ou abaixo de score (não entram)\"],\n  \"referencias_ferramentas\": [\"Plaud (Tecnologia/Multimídia)\"]\n}\n```\n\n**Regras de Tratamento de Json para TxT Markdown:**\n\n- Inclua em participantes apenas quem tiver menção e confirmação (score ≥ 0,82).\n\n- Se “Claudio/Plaudio” aparecer, não incluir em participantes; em vez disso, registre em referencias_ferramentas como “Plaud (Tecnologia/Multimídia)”.\n\n- Em tarefas, se o responsavel não for um participante confirmado, remova o responsável e mantenha a tarefa apenas no departamento.\n\n- Departamento deve estar no whitelist. Caso contrário, remova a tarefa.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[2112,320],"id":"12f54f1b-acae-4278-a45f-5a521f0d22fc","name":"Agente_formatador"},{"parameters":{"operation":"update","fileId":{"__rl":true,"value":"={{ $('Search files and folders').item.json.id }}","mode":"id"},"options":{"appPropertiesUi":{"appPropertyValues":[{"key":"[REDACTED]","value":"={{ true }}"},{"key":"[REDACTED]","value":"={{ true }}"}]}}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[4144,48],"id":"5720eb30-20ee-4404-adb1-19f27aa1cdc4","name":"Update file"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"6c88383a-47d3-4005-942d-567eba705ad2","leftValue":"={{ $json.appProperties.EnvioMassa }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-1712,144],"id":"16f7edbf-2969-48e7-ae73-a213c8366ca4","name":"Filter"},{"parameters":{"operation":"update","fileId":{"__rl":true,"value":"={{ $('Search files and folders').item.json.id }}","mode":"id"},"options":{"appPropertiesUi":{"appPropertyValues":[{"key":"[REDACTED]","value":"={{ true }}"},{"key":"[REDACTED]","value":"={{ true }}"}]}}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[4144,528],"id":"30d55d04-bd7a-41cf-bb17-00f6de51cb27","name":"Update file1"},{"parameters":{"workflowId":{"__rl":true,"value":"Lgb518t80SVqXqbx","mode":"list","cachedResultUrl":"[REDACTED]","cachedResultName":"salva_reuniao_tarefas"},"workflowInputs":{"mappingMode":"defineBelow","value":{"titulo":"={{ $json.name.split('.pdf')[0] }}","resumo_completo":"={{ $('Edit Fields2').item.json.texto_original }}","tarefas":"={{ JSON.parse($('AI Agent2').item.json.output).tarefas }}","data_hora":"={{ $('texto_resumo').item.json.resumo.match(/\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}/)?.[0] || '' }}\n"},"matchingColumns":[],"schema":[{"id":"resumo_completo","displayName":"resumo_completo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data_hora","displayName":"data_hora","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"titulo","displayName":"titulo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"tarefas","displayName":"tarefas","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":false}],"attemptToConvertTypes":true,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[4656,544],"id":"df213fbe-c7b2-473d-a2fa-df90fb059097","name":"Call 'salva_reuniao_tarefas'"},{"parameters":{"workflowId":{"__rl":true,"value":"Lgb518t80SVqXqbx","mode":"list","cachedResultUrl":"[REDACTED]","cachedResultName":"salva_reuniao_tarefas"},"workflowInputs":{"mappingMode":"defineBelow","value":{"titulo":"={{ $('Edit Fields2').item.json.body.titulo }}","resumo_completo":"={{ $('Edit Fields2').item.json.texto_original }}","tarefas":"={{ JSON.parse($('AI Agent2').item.json.output).tarefas }}","data_hora":"={{ $('texto_formatado').item.json.resumo.match(/\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}/)?.[0] || '' }}\n"},"matchingColumns":[],"schema":[{"id":"resumo_completo","displayName":"resumo_completo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data_hora","displayName":"data_hora","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"titulo","displayName":"titulo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"tarefas","displayName":"tarefas","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[4656,64],"id":"e2c39434-d34e-4c31-acfd-9e1af42efe86","name":"Call 'salva_reuniao_tarefas'2"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[4368,528],"id":"60193374-aee1-465b-8a5c-b0d92eb4da81","name":"Loop Over Items1"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[4864,544],"id":"7364c52b-e819-4bd2-8f1a-7370105a3438","name":"Wait1","webhookId":"fbf2c3ab-4d33-4cbe-83e0-f094483ea672"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[4368,48],"id":"076da085-3dbe-43d7-917e-d53ec6088cd0","name":"Loop Over Items2"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[4864,64],"id":"88f41c9f-8728-4979-bb00-241b4d7c8be5","name":"Wait2","webhookId":"49c3d14d-bf64-4c68-ada4-7b7392d15901"}],"connections":{"Extract from File":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Merge","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Search files and folders","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"AI Agent2","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"consultar_membros":{"ai_tool":[[{"node":"AI Agent2","type":"ai_tool","index":0}]]},"AI Agent2":{"main":[[{"node":"Wait","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent2","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent2","type":"ai_memory","index":0}]]},"Search files and folders":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Message a model5":{"main":[[{"node":"tipo_reuniao","type":"main","index":0}]]},"tipo_reuniao":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Merge":{"main":[[{"node":"Agente_formatador","type":"main","index":0}]]},"If1":{"main":[[{"node":"texto_original1","type":"main","index":0}],[{"node":"texto_original","type":"main","index":0}]]},"BAIXA ARQUIVOS":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Loop Over Items","type":"main","index":0},{"node":"Message a model5","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"HTTP Request":{"main":[[{"node":"Update file1","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"texto_resumo":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Update file","type":"main","index":0}]]},"texto_original":{"main":[[{"node":"Convert to File2","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"texto_resumo","type":"main","index":0}]]},"Convert to File2":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"texto_original1":{"main":[[{"node":"Convert to File3","type":"main","index":0}]]},"HTTP Request3":{"main":[[{"node":"texto_formatado","type":"main","index":0}]]},"Convert to File3":{"main":[[{"node":"HTTP Request3","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Agente_formatador","type":"ai_languageModel","index":0}]]},"texto_formatado":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"Agente_formatador":{"main":[[{"node":"If1","type":"main","index":0}]]},"Filter":{"main":[[{"node":"BAIXA ARQUIVOS","type":"main","index":0}]]},"Update file":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Update file1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Call 'salva_reuniao_tarefas'","type":"main","index":0}]]},"Call 'salva_reuniao_tarefas'":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items2":{"main":[[],[{"node":"Call 'salva_reuniao_tarefas'2","type":"main","index":0}]]},"Call 'salva_reuniao_tarefas'2":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]}},"versionCounter":1}