workflows/AGENTE_RELATORIO_FINAL_2BjVxF2aTIGFPvkd.json
{"createdAt":"2025-07-07T12:37:33.921Z","id":"2BjVxF2aTIGFPvkd","name":"AGENTE RELATORIO FINAL","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"receber-csv-final","responseMode":"responseNode","options":{"binaryPropertyName":"data"}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"f5ce2c62-81ac-43ea-af05-2e00a6b774d5","name":"Webhook","webhookId":"276b210d-afc3-40e2-82d2-fa9e6cedcd69"},{"parameters":{"binaryPropertyName":"data0","options":{"delimiter":";","readAsString":false}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[220,0],"id":"0600f072-2259-4eb1-a8c4-975955e128d6","name":"Extract from File"},{"parameters":{"promptType":"define","text":"=Você é um agente especializado em identificar valores menores de produtos em um texto com as colunas: Referência;Descrição;Vlr_Unit;Fornecedor\n\n\n##Objetivo \n\n1. Gerar um Relatorio Final com os produtos e em qual fornecedor está mais barato com o referência, a descrição, valor e o fornecedor mais barato \n\n##Regras\n- Não explique nada do que foi feito, retorne somente o relatorio final\n- Utilize os codigos de referência para comparar os produtos, caso o codigo não esteja presente mais de uma vez para comparar pode por o item no resultado final\n- Caso o valor do item seja o mesmo nos fornecedores pode retornar na coluna fornecedor \"A decidir\"\n- Se o codigo do produto tiver um \"/\" seguido de um numero, ignore o \"/\" e o número pois o codigo real do item é só os números antes de qualquer caractere como o '/'\n\n\n\n##Input \n{{ $json.texto }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[660,0],"id":"ccb33110-19dd-4e09-aa2f-cbb570d0116d","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[748,220],"id":"3284cc11-0c40-4b5a-986e-a343767f6a97","name":"OpenAI Chat Model"},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.3,"position":[1036,0],"id":"95cef8a9-50d6-429b-b399-bbd7bbcecd44","name":"Respond to Webhook"},{"parameters":{"jsCode":"let texto = '';\nconst headers = Object.keys(items[0].json);\ntexto += headers.join(';') + '\\n';\n\nfor (const item of items) {\n  const valores = headers.map(h => item.json[h]);\n  texto += valores.join(';') + '\\n';\n}\n\nreturn [{\n  json: {\n    texto\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[440,0],"id":"3c99b2f3-a27a-4548-bb3e-97e287d010c5","name":"Code"}],"connections":{"Webhook":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Code","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Code":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}}}