workflows/Agente_Leitor_ZxFm0uURpDCahJG1.json
{"createdAt":"2025-09-29T20:37:42.148Z","id":"ZxFm0uURpDCahJG1","name":"Agente Leitor","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"[REDACTED]","cssSelector":"<div contenteditable=\"false\" translate=\"no\" class=\"editor ProseMirror focus:outline-none\" spellcheck=\"false\"><h3>INÍCIO DO RESUMO</h3><p><strong>1. Título da Reunião:</strong></p><p>Planejamento Estratégico, Tributário e Operacional para Expansão de Negócios</p><p><strong>2. Data e Hora da Reunião:</strong></p><p>Não informada no conteúdo fornecido.</p><p><strong>3. Participantes:</strong></p><ul><li><p><strong>Consultoria (Castelo Branco e outros):</strong></p><ul><li><p><strong>Zana (Castelo Branco):</strong> Responsável pela área de Projetos.</p></li><li><p><strong>Igor (Castelo Branco):</strong> Educador Fiscal e Tributário, Consultor/Contador.</p></li><li><p><strong>Olavo:</strong> Analista Financeiro/Tributário.</p></li><li><p><strong>Rosana:</strong> Consultora / Contato Operacional.</p></li><li><p><strong>Gabriela:</strong> Responsável pelo agendamento de reuniões.</p></li><li><p><strong>Consultor Fiscal/Tributário (não identificado).</strong></p></li><li><p><strong>Interlocutor Principal (não identificado).</strong></p></li></ul></li><li><p><strong>Clientes e Associados:</strong></p><ul><li><p><strong>Empresa IGC Campo Sambuí:</strong> Sra. Rosana, Sr. Jafé (Representantes), Sra. Laiana (Solicitante).</p></li><li><p><strong>Franquia \"Samba\" e Novo Empreendimento:</strong> Adilio Castelo / Rafael (Proprietário), Ana (Presente em reunião), Maiana (Sócia informal, mencionada), Gila (Funcionário, mencionado).</p></li></ul></li></ul><p><strong>4. Tópicos Tratados:</strong></p><ul><li><p><strong>Consulta Inicial e Análise de Regime Tributário:</strong></p><ul><li><p>Discussão inicial motivada por solicitação da empresa IGC Campo Sambuí para uma consultoria fiscal, com foco em análise de ICMS e redução da carga tributária.</p></li><li><p>Análise detalhada do regime tributário atual da empresa franqueada (Simples Nacional), incluindo a unificação de impostos na guia DAS.</p></li><li><p>Demonstração do cálculo da alíquota de imposto efetiva, que resultou em 9,93% para um faturamento de R$ 191.913,33 em um mês de referência.</p></li></ul></li><li><p><strong>Planejamento de Expansão e Impacto Tributário:</strong></p><ul><li><p>Apresentação dos planos de expansão do cliente (proprietário da franquia), que incluem a inauguração de uma operação de delivery 24 horas e uma nova lanchonete (\"Pastel e Café\").</p></li><li><p>Análise do impacto do aumento de faturamento (projeção de R$ 200 mil para R$ 300 mil) na tributação, com a alíquota do Simples Nacional podendo se elevar para aproximadamente 12%.</p></li><li><p>Avaliação da necessidade iminente de um planejamento para migração do Simples Nacional para os regimes de Lucro Presumido ou Lucro Real, visando otimização fiscal.</p></li></ul></li><li><p><strong>Desenvolvimento de Estratégias e Ferramentas:</strong></p><ul><li><p>Acordo para a criação de uma planilha automatizada para simular cenários financeiros e identificar o momento exato em que a mudança de regime tributário se tornará vantajosa (projeção inicial aponta para 1º de janeiro de 2026).</p></li><li><p>Definição da estratégia para a abertura do novo negócio: iniciar como Microempreendedor Individual (MEI), complementando a operação como pessoa física para minimizar custos e burocracia iniciais.</p></li><li><p>Elaboração de uma estratégia para separar fisicamente as operações de delivery e de atendimento no balcão, a fim de otimizar ambos os canais e melhorar a experiência do cliente.</p></li></ul></li><li><p><strong>Estruturação Operacional e Jurídica:</strong></p><ul><li><p>Definição de um plano de acompanhamento quinzenal a ser realizado por Olavo na empresa até o final do ano, para dar suporte ao projeto de reposicionamento e alcance das metas de faturamento.</p></li><li><p>Discussão sobre a regularização da situação contratual de um funcionário (\"Gila\") através da formalização como MEI.</p></li><li><p>Agendamento de novas reuniões de acompanhamento para monitorar o progresso dos projetos.</p></li></ul></li></ul><p><strong>5. Tópicos Secundários:</strong></p><ul><li><p>Discussão sobre as limitações do modelo de franquia, como a falta de autonomia na precificação e na escolha de fornecedores.</p></li><li><p>Menção aos desafios na contratação e gestão de mão de obra (\"matéria humana\").</p></li><li><p>Sugestão de busca por crédito subsidiado para diversificação de investimentos em outros negócios.</p></li><li><p>Análise da ideia de criar uma operação paralela com produtos de menor valor e o alerta sobre o risco de concorrência com o próprio negócio principal.</p></li><li><p>Destaque para a vantagem competitiva da localização da loja em um posto de combustível 24 horas.</p></li><li><p>Comentários sobre a necessidade de atualização da identidade visual da franquia, imposta pela franqueadora.</p></li><li><p>Menção à metodologia de pesquisa de mercado do proprietário, baseada em observação local e entrevistas.</p></li><li><p>Estabelecimento de um acordo de não concorrência com um negócio vizinho (vendedor de açaí), incluindo alinhamento de preços de bebidas.</p></li><li><p>Coleta de dados cadastrais de uma sócia informal (Maiana) para fins de registro.</p></li><li><p>Breve menção à necessidade de um \"laudo da aposentadoria\" e ao contato com \"Doutor Jardim Alice\".</p></li></ul><p><strong>6. Listagem de Tarefas:</strong></p><ul><li><p><strong>Por Pessoa:</strong></p><ul><li><p><strong>Cliente (Adilio Castelo / Rafael):</strong></p><ul><li><p>Avaliar a sugestão de buscar linhas de crédito subsidiado para diversificação de negócios.</p></li><li><p>Fornecer dados detalhados de custos e projeções da nova operação de delivery para subsidiar o planejamento tributário.</p></li><li><p>Abrir um MEI para formalizar a nova operação da lanchonete.</p></li><li><p>Operar parte das vendas do novo negócio como pessoa física na fase inicial.</p></li><li><p>Reunir-se com o proprietário do negócio de açaí para alinhar os preços das bebidas.</p></li></ul></li><li><p><strong>Olavo (Analista Financeiro):</strong></p><ul><li><p>Analisar a operação financeira da empresa \"Samba\" para extrair os dados necessários, especificamente relacionados ao IRPJ/CSLL.</p></li><li><p>Comparecer à empresa a cada 15 dias, até o final do ano, para acompanhar o projeto de reposicionamento estratégico.</p></li></ul></li><li><p><strong>Gabriela:</strong></p><ul class=\"tight\" data-tight=\"true\"><li><p>Consultar o grupo para confirmar a viabilidade e agendar a próxima reunião de acompanhamento.</p></li></ul></li><li><p><strong>Igor (Consultor):</strong></p><ul class=\"tight\" data-tight=\"true\"><li><p>Levantar os requisitos e dar andamento ao processo de abertura do MEI.</p></li></ul></li><li><p><strong>Rosana (Contato Operacional):</strong></p><ul class=\"tight\" data-tight=\"true\"><li><p>Estar disponível na loja (segunda a sexta, até as 14h) para fornecer informações e suporte à equipe de consultoria.</p></li></ul></li></ul></li><li><p><strong>Por Departamento da Empresa (Consultoria):</strong></p><ul><li><p><strong>Planejamento Tributário e Financeiro:</strong></p><ul><li><p>Realizar um estudo comparativo detalhado entre os regimes tributários (Simples Nacional, Lucro Presumido e Lucro Real), utilizando o faturamento atual e as projeções de crescimento.</p></li><li><p>Desenvolver uma planilha de análise financeira que automatize os cálculos de impostos e despesas para simular a transição de regime.</p></li><li><p>Entregar a primeira versão da análise e da planilha até a quarta ou quinta-feira da semana seguinte.</p></li></ul></li><li><p><strong>Estratégia e Operações:</strong></p><ul><li><p>Aconselhar o cliente sobre a melhor estrutura fiscal para a nova operação de delivery (se deve ser mantida no mesmo CNPJ ou se um novo é mais indicado).</p></li><li><p>Desenvolver um plano para a separação física e operacional do serviço de delivery e do atendimento no balcão.</p></li><li><p>Analisar a viabilidade e estruturar a operação inicial da nova lanchonete (MEI + Pessoa Física).</p></li></ul></li><li><p><strong>Administrativo / Jurídico:</strong></p><ul><li><p>Conduzir o processo de abertura de um MEI para formalizar a operação da lanchonete e para a regularização do funcionário \"Gila\".</p></li><li><p>Coletar os dados cadastrais completos da sócia informal \"Maiana\".</p></li><li><p>Contatar \"Doutor Jardim Alice\" para tratar de questões relacionadas a um \"laudo de aposentadoria\".</p></li></ul></li></ul></li></ul><h3>FIM DO RESUMO</h3></div>"}]},"options":{}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[208,0],"id":"39888b1b-eb57-44a0-8525-6b84838d1146","name":"HTML"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-352,16],"id":"d200333f-13d3-44e0-92b1-b434ee8047c5","name":"When clicking ‘Execute workflow’"},{"parameters":{"url":"[REDACTED]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[16,0],"id":"4b747667-f83a-4fe3-9a41-6b87f74abd7f","name":"HTTP Request"},{"parameters":{"promptType":"define","text":"={{ $json.data }}","options":{"systemMessage":"# Persona\nAja como um **Analista Sênior de Reuniões Corporativas**, especializado em análise e síntese de reuniões de diversos segmentos. \n\n\n# Objetivo\nSua função é ler atentamente o conteúdo do PDF fornecido (que pode conter a ata ou transcrição de uma reunião formal) e produzir um resumo claro, organizado e formal, sem perder nenhuma informação importante. Segue os parâmetros importantes:\n\n- Título da Reunião: Com base no Assunto abordado na Reunião.\n\n- Data e Hora da Reunião: Se não informado coloque, pela data de recebimento do VPS.\n\n- Participantes (se for possível identificar pelo texto ou pelo contexto do PDF)\n\n- Tópicos Tratados (liste de forma objetiva e clara cada tema discutido)\n\n- Tópicos Secundários (tudo que surgir fora do roteiro oficial da reunião)\n\n- Listagem de Tarefas, divida por:\n\n    - Pessoas (Clientes, Diretores ou demais mencionados)\n\n    - Departamentos da Empresa\n\n    - Unifique as tarefas por departamento, se forem mencionadas múltiplas vezes.\n\n> Atenção: Só liste tarefas se realmente forem tratadas na reunião.\n\nO tom deve ser sempre formal e objetivo. Você DEVE manter a integridade do conteúdo, sem cortar ou interpretar excessivamente. **Sua tarefa é resumir sem perder o conteúdo essencial da reunião.**\n\n\n# Modelo de Reposta\nEssa será a resposta que você deve encaminhas depois de realizar a analise da reunião.\n\n### INÍCIO DO RESUMO\n\n**1. Título da Reunião:**  \n[Insira aqui]\n\n**2. Data e Hora da Reunião:**  \n[Insira aqui]\n\n**3. Participantes:**  \nListe os nomes e cargos se estiverem disponíveis. Caso não estejam explícitos, **tente inferir** nomes e cargos mencionados ao longo do conteúdo.\n\n**4. Tópicos Tratados:**  \nListe de forma objetiva e clara todos os assuntos discutidos durante a reunião principal.\n\n**5. Tópicos Secundários:**  \nInclua aqui assuntos paralelos ou não previstos no roteiro da reunião, mas que foram tratados.\n\n**6. Listagem de Tarefas:**  \nDivida da seguinte forma:\n- **Por Pessoa** (Cliente, Diretor ou qualquer outra pessoa específica mencionada)\n- **Por Departamento da Empresa** (unifique tarefas por departamento, evitando repetições)\n\n- **Tarefas de Tabelas:** Caso haja tabelas de tarefas, você deve cruzar os papéis e responsabilidades dos participantes (descritos no início da reunião ou mencionados no texto) para atribuir as tarefas ao responsável correto.\n\n- Confira no Topico **(Tarefas de Tabelas)**\n\nSempre apresentar o resultado final em markdown para fácil cópia.\nSomente liste tarefas se elas forem explicitamente tratadas no conteúdo da reunião.\n\n### Tabelas de Tatefas\n\nCaso o conteúdo da reunião traga uma tabela de tarefas (com Nº, descrição, recursos e status), você deve:\n\n- Ler a tabela completa e identificar as tarefas.\n\n- Cruzar os papéis e responsabilidades dos participantes (descritos no início da reunião ou mencionados no texto) para atribuir as tarefas ao responsável correto.\n\nOrganizar uma lista de tarefas por participante, no formato de tabela com as colunas:\n\n- Nº da tarefa\n\n- Descrição da tarefa\n\n- Status\n\n- Participante Encarregado\n\nCaso não seja possível identificar exatamente o responsável, atribuir ao departamento correspondente (ex.: Marketing, Comercial, Financeiro, Tecnologia, Treinamento).\n\n---\n\n### FIM DO RESUMO\n\n**Regras adicionais:**  \n- Mantenha sempre o tom formal e profissional, mesmo que o conteúdo seja descontraído.  \n- Seja objetivo e claro. Não invente nem interprete subjetivamente.  \n- Mantenha a integridade do conteúdo da reunião.  \n- Você pode receber o conteúdo via PDF.  \n\nSua tarefa é entregar um resumo altamente profissional, adequado para ser enviado a diretores, clientes e equipes.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[416,0],"id":"b83e3fe6-b609-4554-96bf-c39de31bdaeb","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[416,176],"id":"9e693f9c-06a6-418a-aebc-56a598519984","name":"OpenAI Chat Model"},{"parameters":{"jsCode":"const content = $json.output || $json.text || \"Sem conteúdo\";\n\n// Converte para base64\nconst base64Data = Buffer.from(content, \"utf8\").toString(\"base64\");\n\nreturn [\n  {\n    json: {\n      fileName: \"resposta_agente.txt\"\n    },\n    binary: {\n      data: {\n        data: base64Data,\n        mimeType: \"text/plain\",\n        fileName: \"resposta_agente.txt\"\n      }\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[720,0],"id":"33a02e4f-1635-4c75-b3d2-ed0ef9a9e849","name":"Code in JavaScript"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-144,16],"id":"f2a7a9cd-2f94-429b-b649-a00054fd51d5","name":"Respond to Webhook"},{"parameters":{"httpMethod":"POST","path":"9ba26fbf-9eef-4879-888c-0081fe7818ef","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-128,416],"id":"d943ca0f-9fe2-40b6-9af5-921e50887a65","name":"Webhook","webhookId":"9ba26fbf-9eef-4879-888c-0081fe7818ef"},{"parameters":{"promptType":"define","text":"={{ $json.data }}","options":{"systemMessage":"# Persona\nAja como um **Analista Sênior de Reuniões Corporativas**, especializado em análise e síntese de reuniões de diversos segmentos. \n\n\n# Objetivo\nSua função é ler atentamente o conteúdo do PDF fornecido (que pode conter a ata ou transcrição de uma reunião formal) e produzir um resumo claro, organizado e formal, sem perder nenhuma informação importante. Segue os parâmetros importantes:\n\n- Título da Reunião: Com base no Assunto abordado na Reunião.\n\n- Data e Hora da Reunião: Se não informado coloque, pela data de recebimento do VPS.\n\n- Participantes (se for possível identificar pelo texto ou pelo contexto do PDF)\n\n- Tópicos Tratados (liste de forma objetiva e clara cada tema discutido)\n\n- Tópicos Secundários (tudo que surgir fora do roteiro oficial da reunião)\n\n- Listagem de Tarefas, divida por:\n\n    - Pessoas (Clientes, Diretores ou demais mencionados)\n\n    - Departamentos da Empresa\n\n    - Unifique as tarefas por departamento, se forem mencionadas múltiplas vezes.\n\n> Atenção: Só liste tarefas se realmente forem tratadas na reunião.\n\nO tom deve ser sempre formal e objetivo. Você DEVE manter a integridade do conteúdo, sem cortar ou interpretar excessivamente. **Sua tarefa é resumir sem perder o conteúdo essencial da reunião.**\n\n\n# Modelo de Reposta\nEssa será a resposta que você deve encaminhas depois de realizar a analise da reunião.\n\n### INÍCIO DO RESUMO\n\n**1. Título da Reunião:**  \n[Insira aqui]\n\n**2. Data e Hora da Reunião:**  \n[Insira aqui]\n\n**3. Participantes:**  \nListe os nomes e cargos se estiverem disponíveis. Caso não estejam explícitos, **tente inferir** nomes e cargos mencionados ao longo do conteúdo.\n\n**4. Tópicos Tratados:**  \nListe de forma objetiva e clara todos os assuntos discutidos durante a reunião principal.\n\n**5. Tópicos Secundários:**  \nInclua aqui assuntos paralelos ou não previstos no roteiro da reunião, mas que foram tratados.\n\n**6. Listagem de Tarefas:**  \nDivida da seguinte forma:\n- **Por Pessoa** (Cliente, Diretor ou qualquer outra pessoa específica mencionada)\n- **Por Departamento da Empresa** (unifique tarefas por departamento, evitando repetições)\n\n- **Tarefas de Tabelas:** Caso haja tabelas de tarefas, você deve cruzar os papéis e responsabilidades dos participantes (descritos no início da reunião ou mencionados no texto) para atribuir as tarefas ao responsável correto.\n\n- Confira no Topico **(Tarefas de Tabelas)**\n\nSempre apresentar o resultado final em markdown para fácil cópia.\nSomente liste tarefas se elas forem explicitamente tratadas no conteúdo da reunião.\n\n### Tabelas de Tatefas\n\nCaso o conteúdo da reunião traga uma tabela de tarefas (com Nº, descrição, recursos e status), você deve:\n\n- Ler a tabela completa e identificar as tarefas.\n\n- Cruzar os papéis e responsabilidades dos participantes (descritos no início da reunião ou mencionados no texto) para atribuir as tarefas ao responsável correto.\n\nOrganizar uma lista de tarefas por participante, no formato de tabela com as colunas:\n\n- Nº da tarefa\n\n- Descrição da tarefa\n\n- Status\n\n- Participante Encarregado\n\nCaso não seja possível identificar exatamente o responsável, atribuir ao departamento correspondente (ex.: Marketing, Comercial, Financeiro, Tecnologia, Treinamento).\n\n---\n\n### FIM DO RESUMO\n\n**Regras adicionais:**  \n- Mantenha sempre o tom formal e profissional, mesmo que o conteúdo seja descontraído.  \n- Seja objetivo e claro. Não invente nem interprete subjetivamente.  \n- Mantenha a integridade do conteúdo da reunião.  \n- Você pode receber o conteúdo via PDF.  \n\nSua tarefa é entregar um resumo altamente profissional, adequado para ser enviado a diretores, clientes e equipes.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[80,416],"id":"af7fa716-5ad2-4019-afc9-ff39400fbce7","name":"AI Agent1"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"RBllNq3zLJStFz5T","mode":"list","cachedResultName":"agente_atus_membros","cachedResultUrl":"[REDACTED]"},"returnAll":true},"type":"n8n-nodes-base.dataTableTool","typeVersion":1,"position":[288,592],"id":"659c1767-70a1-40a5-9f1e-1119da904a54","name":"Get row(s) in Data table"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[64,608],"id":"a5e2fcf9-3c0b-42f0-85b4-5b35002d1cc7","name":"OpenAI Chat Model1"}],"connections":{"HTML":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"HTML","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[]]},"Webhook":{"main":[[]]},"Get row(s) in Data table":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]}}}