workflows/Agente_de_gcDgdvXwOVUhIXcW.json
{"createdAt":"2025-11-13T18:17:18.232Z","id":"gcDgdvXwOVUhIXcW","name":"Agente de","active":false,"isArchived":false,"nodes":[{"parameters":{"resource":"folder","name":"=","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"[REDACTED]","mode":"list","cachedResultName":"TIME","cachedResultUrl":"[REDACTED]"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2048,112],"id":"e945729b-24d4-48c5-9b7f-0abd8cabee8b","name":"Create folder"},{"parameters":{"resource":"folder","name":"={{ $('When Executed by Another Workflow').item.json.titulo }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1tDRk2DbP5F2Jd_f862Qh44G8Depv0eIm","mode":"list","cachedResultName":"CLIENTE","cachedResultUrl":"[REDACTED]"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2064,624],"id":"4d988888-496c-4c7b-a3f5-79cc56e420d8","name":"Create folder1"},{"parameters":{"method":"POST","url":"http://147.93.66.91:55503/timbrar","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"arquivo","inputDataFieldName":"arquivo"}]},"options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"=timbrado_tarefas"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3248,624],"id":"59d00224-69ba-4469-a709-3ed4da114fc3","name":"HTTP Request"},{"parameters":{"operation":"toText","sourceProperty":"=resumo","binaryPropertyName":"arquivo","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[3072,624],"id":"fa58708e-5452-4f55-9301-2a4e5164422c","name":"Convert to File"},{"parameters":{"inputDataFieldName":"timbrado_tarefas","name":"=TAREFAS - {{ $('Fitro de Dados').item.json.titulo }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Create folder1').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[3424,624],"id":"6f1becbd-9597-43a0-b7fe-552c6c4202f4","name":"Upload file"},{"parameters":{"assignments":{"assignments":[{"id":"aef3a46f-b775-4504-93b6-b09aab6cc4d6","name":"=resumo","value":"={{ $('Fitro de Dados').item.json.resumo }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2896,624],"id":"b9386a5e-6310-4ac6-96f8-5a7857cea776","name":"texto_resumo"},{"parameters":{"assignments":{"assignments":[{"id":"58de85bd-7935-4132-9f27-d2a6af7e50a3","name":"resumo","value":"={{ $('Agente_formatador').item.json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2896,112],"id":"cc0c98aa-aa32-4171-b1fc-1b690f08b223","name":"Edit Fields1"},{"parameters":{"operation":"toText","sourceProperty":"=resumo","binaryPropertyName":"arquivo","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[3056,112],"id":"107e4120-740b-43fd-9cfe-51ad5b6afe5a","name":"Convert to File1"},{"parameters":{"method":"POST","url":"http://147.93.66.91:55503/timbrar","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"arquivo","inputDataFieldName":"arquivo"}]},"options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"=timbrado_tarefas"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3232,112],"id":"96177c16-b04f-461b-9c36-eab2b5eed6cc","name":"HTTP Request1"},{"parameters":{"inputDataFieldName":"timbrado_tarefas","name":"=TAREFAS - {{ $('Webhook').item.json.body.titulo }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Create folder').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[3408,112],"id":"e70ac77b-f8a1-41a8-8e97-cc7abc88aa4b","name":"Upload file1"},{"parameters":{"assignments":{"assignments":[{"id":"a09c5624-7886-4682-88a4-294f0d03b547","name":"resumo","value":"={{ $('When Executed by Another Workflow').item.json.resumo }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2208,624],"id":"2814b19c-ae22-4085-bcdc-c206325afb49","name":"texto_original"},{"parameters":{"method":"POST","url":"http://147.93.66.91:55503/timbrar","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"arquivo","inputDataFieldName":"arquivo"}]},"options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"=timbrado_tarefas"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2544,624],"id":"8e7f57fa-bee1-4d46-909d-b8286e433e36","name":"HTTP Request2"},{"parameters":{"inputDataFieldName":"timbrado_tarefas","name":"=ATA - {{ $('Fitro de Dados').item.json.titulo }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Create folder1').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2720,624],"id":"d1ef62ec-7010-4bbf-b120-31d358fbb8c3","name":"Upload file2"},{"parameters":{"assignments":{"assignments":[{"id":"3fe9d0fa-fcc9-498a-9897-79dc3a94e71b","name":"resumo","value":"={{ $('Fitro de Dados').item.json.resumo }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2208,112],"id":"ea3162d4-dafa-4e72-8c13-8589add382d1","name":"texto_original1"},{"parameters":{"method":"POST","url":"http://147.93.66.91:55503/timbrar","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"arquivo","inputDataFieldName":"arquivo"}]},"options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"=timbrado_tarefas"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2560,112],"id":"2019ccf5-242f-4476-8964-ee042a524bf8","name":"HTTP Request3"},{"parameters":{"operation":"toText","sourceProperty":"=resumo","binaryPropertyName":"arquivo","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[2384,112],"id":"36d832ae-4964-4fdf-b9d6-48c90e2c388a","name":"Convert to File3"},{"parameters":{"inputDataFieldName":"timbrado_tarefas","name":"=ATA - {{ $('Merge').item.json.body.titulo }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Create folder').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2736,112],"id":"a848f81f-eaf4-4e8f-b05d-83b7f4b54783","name":"Upload file3"},{"parameters":{"workflowId":{"__rl":true,"value":"Lgb518t80SVqXqbx","mode":"list","cachedResultUrl":"[REDACTED]","cachedResultName":"salva_reuniao_tarefas"},"workflowInputs":{"mappingMode":"defineBelow","value":{"titulo":"={{ $('Fitro de Dados').item.json.body.titulo }}","resumo_completo":"={{ $('Fitro de Dados').item.json.texto_original }}","tarefas":"={{ JSON.parse($('Extrator de Tarefas').item.json.output).tarefas }}","data_hora":"={{ $('Fitro de Dados').item.json.body.data_hora }}"},"matchingColumns":[],"schema":[{"id":"resumo_completo","displayName":"resumo_completo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data_hora","displayName":"data_hora","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"titulo","displayName":"titulo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"tarefas","displayName":"tarefas","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":false}],"attemptToConvertTypes":true,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[3600,624],"id":"4b345707-757d-4a74-9b78-08d603d3b10b","name":"Call 'salva_reuniao_tarefas'","disabled":true},{"parameters":{"workflowId":{"__rl":true,"value":"Lgb518t80SVqXqbx","mode":"list","cachedResultUrl":"[REDACTED]","cachedResultName":"salva_reuniao_tarefas"},"workflowInputs":{"mappingMode":"defineBelow","value":{"titulo":"={{ $('Fitro de Dados').item.json.body.titulo }}","resumo_completo":"={{ $('Fitro de Dados').item.json.texto_original }}","tarefas":"={{ JSON.parse($('Extrator de Tarefas').item.json.output).tarefas }}","data_hora":"={{ $('Fitro de Dados').item.json.body.data_hora }}"},"matchingColumns":[],"schema":[{"id":"resumo_completo","displayName":"resumo_completo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data_hora","displayName":"data_hora","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"titulo","displayName":"titulo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"tarefas","displayName":"tarefas","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[3584,112],"id":"c3010cfd-dfd3-4967-bd9a-366620ca3739","name":"Call 'salva_reuniao_tarefas'2","disabled":true},{"parameters":{"workflowInputs":{"values":[{"name":"titulo"},{"name":"resumo"},{"name":"data"},{"name":"participantes","type":"array"}]}},"type":"[REDACTED]","typeVersion":1.1,"position":[-176,256],"id":"4ea0cf62-1e67-4988-9426-08f7e6d13337","name":"When Executed by Another Workflow"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{"temperature":0.6,"timeout":600000}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[576,336],"id":"a313ce51-b2fa-4e33-944b-c39307791e36","name":"4.1 Mini"},{"parameters":{"content":"# Recebe Ata e Tarefas \n- **Recebe do fluxo anterior** o resumo da ata e tarefas geradas na reunião.","height":1088,"width":288,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-272,-144],"id":"fc224d9e-3920-44ab-84cf-8f2836d90278","name":"Sticky Note"},{"parameters":{"jsonSchemaExample":"[\n  {\n    \"departamento\": \"Comercial\",\n    \"descricao\": \"Especificar se as vendas serão para pessoa jurídica (PJ) ou consumidor final, e se serão em loja física ou online.\",\n    \"responsavel\": \"Edgar\",\n    \"colaborador\": false\n  },\n  {\n    \"departamento\": \"Diretoria\",\n    \"descricao\": \"Acompanhar com os advogados Rafael e Batista a resolução da pendência da Jeft na dívida ativa da União, visando a regularização até dezembro.\",\n    \"responsavel\": \"Francisco\",\n    \"colaborador\": true\n  }\n]"},"type":"[REDACTED]","typeVersion":1.3,"position":[720,336],"id":"e83afdef-44e7-4225-9cd2-cebd3aa85661","name":"Structured Output Parser"},{"parameters":{"assignments":{"assignments":[{"id":"a9ce8611-32f2-45b6-9a44-b78de84e36c1","name":"participantes","value":"={{ $json.participantes }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[576,-16],"id":"5b9eaba8-d9e5-46eb-9a19-fa8f4558f923","name":"Fitro de Dados1"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1136,64],"id":"84037ff5-7bd7-47b9-bbcf-8022e1048dbf","name":"Merge2"},{"parameters":{"content":"# Pipelines de Tarefas (Tratamento)\n- **Retira** apenas as **tarefas de colaboradores** da empresa e de **clientes**.\n- **Exclui tarefas** que não são responsabildiades dos colaboradores da Empresa\n","height":1088,"width":1328,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[32,-144],"id":"606b9df7-4ef4-47ff-84ca-292a8b08bb75","name":"Sticky Note1"},{"parameters":{"content":"# Seletor de Envio\n- Com base no **tipo de reunião**, ele determina a rota de envio para a **pasta do google drive** e depois para os repectivos lideres de departamentos, eles serão enviados para outros fluxos que farão todo esse trabalho.\n","height":1088,"width":246},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1370,-144],"id":"4f6bec95-2ae4-4c03-bde8-17c930aa2bdd","name":"Sticky Note2"},{"parameters":{"language":"python","pythonCode":"# Este script:\n# - Recebe \"output\" e \"participantes\"\n# - Mantém apenas tarefas do mesmo departamento de participantes com colaborador=True\n# - Substitui o \"responsavel\" pelo nome do colaborador verdadeiro\n# - Retorna apenas os campos: responsavel, departamento, descricao\n\ndados = items[0].get(\"json\", {})\n\noutput = dados.get(\"output\", [])\nparticipantes = dados.get(\"participantes\", [])\n\n# Normaliza o valor booleano do campo \"colaborador\"\ndef eh_colaborador(valor):\n    if isinstance(valor, bool):\n        return valor\n    if isinstance(valor, str):\n        return valor.strip().lower() == \"true\"\n    return False\n\n# Encontra os colaboradores verdadeiros e seus departamentos\ncolaboradores = [\n    {\n        \"nome\": p.get(\"nome\", \"\").strip(),\n        \"departamento\": p.get(\"departamento\", \"\").strip()\n    }\n    for p in participantes\n    if eh_colaborador(p.get(\"colaborador\", False)) and p.get(\"departamento\")\n]\n\n# Extrai os departamentos válidos\ndepartamentos_validos = {c[\"departamento\"] for c in colaboradores}\n\n# Filtra tarefas do mesmo departamento e troca o responsável\ntarefas_filtradas = []\nfor tarefa in output:\n    dep = tarefa.get(\"departamento\", \"\").strip()\n    if dep in departamentos_validos:\n        # Encontra o colaborador que pertence a este departamento\n        colab = next((c for c in colaboradores if c[\"departamento\"] == dep), None)\n        if colab:\n            tarefas_filtradas.append({\n                \"responsavel\": colab[\"nome\"],\n                \"departamento\": dep,\n                \"descricao\": tarefa.get(\"descricao\", \"\").strip()\n            })\n\n# Retorna o resultado no formato esperado pelo n8n\nreturn [{\"json\": {\"tarefas_filtradas\": tarefas_filtradas}}]\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1024,288],"id":"50d59080-a3bd-48d9-bbe1-f03b616db2f3","name":"Filtro de Tarefas (Colaboradores)"},{"parameters":{"assignments":{"assignments":[{"id":"aba958ad-779a-46ef-a97e-fd9a291010c6","name":"message.content['Tipo de reunião']","value":"={{ $json.output.tipo_de_reuniao }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1152,784],"id":"818e96fc-25e0-497c-9cdf-ed93ce7eaa4d","name":"\"Tipar\" Reunião"},{"parameters":{"content":"# Pipeline Reunião Cliente\n-  Realiza tratamento de reunião com cliente:\n    - Cria e Salva Pasta no Google Drive;\n    - Envia para outros fluxos que vão salvar as reuniões no banco de dados e envia para colaboradores;","height":544,"width":1952,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1632,400],"id":"5d2fbf71-8797-4673-a752-37fc9eb2f341","name":"Sticky Note3"},{"parameters":{"content":"# Pipeline Reunião Time\n-  Realiza tratamento de reunião com cliente:\n    - Cria e Salva Pasta no Google Drive;\n    - Envia para outros fluxos que vão salvar as reuniões no banco de dados e envia para colaboradores;","height":528,"width":1952,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1632,-144],"id":"2bb3a524-0ae6-48c3-90bf-2ede3bea7119","name":"Sticky Note4"},{"parameters":{"operation":"toText","sourceProperty":"=resumo","binaryPropertyName":"arquivo","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[2368,624],"id":"26204bf1-1790-4b01-ba71-b03ebd5dc697","name":"Converter PNG"},{"parameters":{"assignments":{"assignments":[{"id":"10d6a199-3440-44f0-b4de-c8e69ccf4f77","name":"resumo","value":"={{ $('When Executed by Another Workflow').item.json.resumo }}","type":"string"},{"id":"82a8baa4-313f-4653-9b83-0186a3370071","name":"titulo","value":"={{ $('When Executed by Another Workflow').item.json.titulo }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1904,624],"id":"a4f88ace-d189-4ff6-9f1b-03b33741ef78","name":"Enviar Resumo1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c01d7d35-b510-452e-bb77-2e1cc298ae44","leftValue":"={{ $('\"Tipar\" Reunião').item.json.message.content['Tipo de reunião'] }}","rightValue":"Time","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1440,400],"id":"d1c42ffe-a03a-429a-9e3f-0f7afb4caa2e","name":"Separa Reuniões"},{"parameters":{"assignments":{"assignments":[{"id":"7fa53943-9f93-437c-8756-f6e183722340","name":"resumo","value":"={{ $json.resumo }}","type":"string"},{"id":"ba3892cb-8d0f-4053-b37f-f7293cb8fb2a","name":"titulo","value":"={{ $json.titulo }}","type":"string"},{"id":"3da20017-9d50-4e30-a59e-dac0c4c977e0","name":"participantes","value":"={{ $json.participantes }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[96,256],"id":"ce1c94e2-9f5f-48d9-80eb-d2d4af0bb3fc","name":"Fitro de Dados"},{"parameters":{"promptType":"define","text":"={{ $json.resumo }}","hasOutputParser":true,"options":{"systemMessage":"=# 🎯 Prompt – Agente de Extração de Tarefas das Atas\n\nVocê é um agente responsável por **ler atas de reuniões** e **listar todas as tarefas mencionadas** de forma estruturada.\n\n## 🧠 Instruções\n\n1. Inteprete 2x e Pense passo a passo e Leia atentamente o conteúdo da ata fornecida.\n2. Identifique **todas as tarefas** mencionadas, independentemente do formato (texto corrido, lista, etc.).\n3. Para cada tarefa, extraia as seguintes informações:\n\n   - **departamento**: setor ou área responsável (ex: Fiscal, Contábil, Comercial, Diretoria, etc.)\n   - **descricao**: resumo claro e direto da tarefa a ser executada\n   - **responsavel**: nome da pessoa responsável pela execução\n   - **colaborador**: valor booleano (true ou false)  \n     - true → se o nome do responsável for de um colaborador oficial da empresa  \n     - false → se não for um colaborador cadastrado\n\n4. Retorne **somente em JSON**, sem comentários, textos adicionais ou explicações.\n\n## 🧩 Exemplo de saída\n\n[\n  {\n    \"departamento\": \"Comercial\",\n    \"descricao\": \"Especificar se as vendas serão para pessoa jurídica (PJ) ou consumidor final, e se serão em loja física ou online.\",\n    \"responsavel\": \"Edgar\",\n    \"colaborador\": false\n  },\n  {\n    \"departamento\": \"Diretoria\",\n    \"descricao\": \"Acompanhar com os advogados Rafael e Batista a resolução da pendência da Jeft na dívida ativa da União, visando a regularização até dezembro.\",\n    \"responsavel\": \"Francisco\",\n    \"colaborador\": true\n  }\n]\n\n## ⚙️ Observações\n\n- Caso o texto não mencione explicitamente o departamento, **deduza com base no contexto** ou deixe `\"departamento\": \"Indefinido\"`.\n- Sempre que houver múltiplas tarefas, **retorne todas em um array JSON**.\n- Não repita tarefas idênticas.\n- Se nenhuma tarefa for encontrada, retorne um array vazio `[]`.\n- Se uma pessoa conter mais de uma "}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[576,128],"id":"79b5d5fa-d75a-4ea0-8ab8-d16f41eaca96","name":"Extrator de Tarefas"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[512,784],"id":"0043fa31-7df4-4490-bd0a-3d704791ec5c","name":"OpenAI Chat Model"},{"parameters":{"jsonSchemaExample":"{\n\t\"tipo_de_reuniao\": \"Cliente\"\n}"},"type":"[REDACTED]","typeVersion":1.3,"position":[656,784],"id":"a9843636-2418-44d3-82a0-f5e7aa00207c","name":"Structured Output Parser1"},{"parameters":{"promptType":"define","text":"={{ $json.resumo }}","hasOutputParser":true,"options":{"systemMessage":"[REDACTED]"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[512,608],"id":"947346b8-bf11-44e4-bed9-87402e570997","name":"Identificar Reunião"},{"parameters":{"assignments":{"assignments":[{"id":"10d6a199-3440-44f0-b4de-c8e69ccf4f77","name":"resumo","value":"={{ $('When Executed by Another Workflow').item.json.resumo }}","type":"string"},{"id":"82a8baa4-313f-4653-9b83-0186a3370071","name":"titulo","value":"={{ $('When Executed by Another Workflow').item.json.titulo }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1904,112],"id":"957c1f10-f5c8-4ba6-8dea-67e4ab563651","name":"Enviar Resumo2"},{"parameters":{"content":"# Tarefas","height":368,"width":544},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2656,480],"id":"93562665-2d58-4fd7-a4b0-308c40bb81b3","name":"Sticky Note5"},{"parameters":{"content":"# Tarefas","height":368,"width":528},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2656,-80],"id":"0b7f57c6-4b3e-4430-bfbd-0a80c809172a","name":"Sticky Note6"},{"parameters":{"promptType":"=","text":"","options":{"systemMessage":"Formate para Texto como:\n\nDeparatamento:\nTarefa:(Descrição)"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[1024,496],"id":"0bc033c5-872c-48d7-a920-4a298bfdbc98","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1008,656],"id":"b2e12487-d24e-4b95-8541-91caf97b5fcd","name":"OpenAI Chat Model1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1232,288],"id":"57c31789-4574-43d3-86bb-54bb14efb79e","name":"Edit Fields"}],"connections":{"Create folder":{"main":[[{"node":"texto_original1","type":"main","index":0}]]},"Create folder1":{"main":[[{"node":"texto_original","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Upload file","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Upload file":{"main":[[{"node":"Call 'salva_reuniao_tarefas'","type":"main","index":0}]]},"texto_resumo":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Upload file1","type":"main","index":0}]]},"Upload file1":{"main":[[{"node":"Call 'salva_reuniao_tarefas'2","type":"main","index":0}]]},"texto_original":{"main":[[{"node":"Converter PNG","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"Upload file2","type":"main","index":0}]]},"Upload file2":{"main":[[{"node":"texto_resumo","type":"main","index":0}]]},"texto_original1":{"main":[[{"node":"Convert to File3","type":"main","index":0}]]},"HTTP Request3":{"main":[[{"node":"Upload file3","type":"main","index":0}]]},"Convert to File3":{"main":[[{"node":"HTTP Request3","type":"main","index":0}]]},"Upload file3":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Fitro de Dados","type":"main","index":0}]]},"4.1 Mini":{"ai_languageModel":[[{"node":"Extrator de Tarefas","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Extrator de Tarefas","type":"ai_outputParser","index":0}]]},"Fitro de Dados1":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Merge2":{"main":[[{"node":"Filtro de Tarefas (Colaboradores)","type":"main","index":0}]]},"Filtro de Tarefas (Colaboradores)":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Converter PNG":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"Enviar Resumo1":{"main":[[{"node":"Create folder1","type":"main","index":0}]]},"Separa Reuniões":{"main":[[{"node":"Enviar Resumo2","type":"main","index":0}],[{"node":"Enviar Resumo1","type":"main","index":0}]]},"Fitro de Dados":{"main":[[{"node":"Extrator de Tarefas","type":"main","index":0},{"node":"Fitro de Dados1","type":"main","index":0},{"node":"Identificar Reunião","type":"main","index":0}]]},"Extrator de Tarefas":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Identificar Reunião","type":"ai_languageModel","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"Identificar Reunião","type":"ai_outputParser","index":0}]]},"Identificar Reunião":{"main":[[{"node":"\"Tipar\" Reunião","type":"main","index":0}]]},"\"Tipar\" Reunião":{"main":[[{"node":"Separa Reuniões","type":"main","index":0}]]},"Enviar Resumo2":{"main":[[{"node":"Create folder","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"versionCounter":10}