workflows/Agente_Atus_I2LJ8C9FhrNzAzYP.json
{"createdAt":"2025-09-23T16:58:42.215Z","id":"I2LJ8C9FhrNzAzYP","name":"Agente Atus","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-592,144],"id":"3f93ec59-c039-410e-9345-e2d9f74764c4","name":"Extract from File"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-816,144],"id":"366bcac8-3eab-4040-b792-1ba5f7a8c14e","name":"Download file"},{"parameters":{"assignments":{"assignments":[{"id":"8cf68bfd-280d-49ee-9657-6ce8113b7ff3","name":"resumo","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[560,128],"id":"32e0079f-9544-464c-b3db-20834d4a85f4","name":"Edit Fields"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-nano","mode":"list","cachedResultName":"GPT-4.1-NANO"},"messages":{"values":[{"content":"=Aja como um extrator de dados especializado em transcrições de reuniões empresariais. Sua tarefa é identificar e retornar em formato JSON dois dados específicos a partir do conteúdo da transcrição de uma única reunião:\n\nO nome da empresa mencionada na reunião, mesmo que citado de forma informal.\n\nA data da reunião, independente do formato original no texto, e padronizar no formato DD.MM.AAAA.\n\nApenas retorne o JSON com a seguinte estrutura e nada mais:\n\n{\n\"nome_empresa\":\"\",\n\"data_reuniao\":\"\"\n\"Tipo de reunião\": \"(Cliente ou Time)\",\n\"titulo_da_reuniao\": \"Titulo\",\n\n\n}\n\nExemplo de título do arquivo de origem: \"09-09 Consultoria: Diagnóstico Financeiro e Plano de Reestruturação para Farmácia\"\n\nMesmo que os dados estejam no título, transcrição ou em qualquer parte do conteúdo, identifique-os corretamente.","role":"system"},{"content":"={{ $json.resumo }}"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1264,144],"id":"7fbc5c0f-06e2-4464-bec6-380d314d510c","name":"Message a model"},{"parameters":{"assignments":{"assignments":[{"id":"76a8e5c6-a9a7-4c87-96d9-1d0abff9296d","name":"message.content.dataReuniao","value":"={{ $json.message.content.data_reuniao }}","type":"string"},{"id":"a43b9a91-9e98-4e6f-a695-7918be2cbde0","name":"message.content.nomeEmpresa","value":"={{ $json.message.content.nome_empresa }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3440,1376],"id":"db1360c6-a02e-4347-b747-5860fb5e0ac3","name":"Edit Fields1"},{"parameters":{"resource":"fileFolder","returnAll":true,"filter":{"folderId":{"__rl":true,"value":"[REDACTED]","mode":"list","cachedResultName":"Atas","cachedResultUrl":"[REDACTED]"}},"options":{"fields":["*"]}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1520,144],"id":"bbdc891a-b5c0-4213-9873-667cae05e9cd","name":"Search files and folders"},{"parameters":{"assignments":{"assignments":[{"id":"9e92838b-f854-4931-99fe-a601d9794a85","name":"id","value":"={{ $json.id }}","type":"string"},{"id":"8de95f61-fd89-4be2-8b52-35997dfabbb1","name":"name","value":"={{ $json.name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1040,144],"id":"4aaf02aa-a874-4eb6-850c-c48129e4874c","name":"Atas"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1760,144],"id":"e9c15c36-24c2-43b3-bf3e-4a4a3a0e6230","name":"When clicking ‘Execute workflow’"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2b034ad0-de03-433b-9f6a-b734ce1a05fd","leftValue":"={{ $json.properties?.Analizado }}","rightValue":"true","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-1264,144],"id":"c184f521-09a4-4c42-b8ec-dfa8b8d810af","name":"Filter"},{"parameters":{"assignments":{"assignments":[{"id":"7ceecef0-f961-4937-9b7b-2fef23789175","name":"id","value":"={{ $json.id }}","type":"string"},{"id":"3fb4970c-2bf5-40e0-a690-95998baddfd8","name":"properties.Analizado","value":"={{ $json.properties.Analizado }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4192,1104],"id":"b8ce817a-b2be-4eed-b6f6-b24c25b5b46b","name":"informacoes_necessarias"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-nano","mode":"list","cachedResultName":"GPT-4.1-NANO"},"messages":{"values":[{"content":"=Aja como um extrator de dados especializado em transcrições de reuniões empresariais. Sua tarefa é identificar e retornar em formato JSON um dado específicos a partir do conteúdo da transcrição de uma única reunião:\n\nO tipo de reunião, se é uma reunião interna(Equipe) ou externa(Cliente)..\n\nApenas retorne o JSON com a seguinte estrutura e nada mais:\n\n{\n\"Tipo de reunião\": \"(Cliente ou Equipe)\"\n}\n\nExemplo de tipo de ruenião: \"Cliente ou Equipe \"\n\nO dado do tipo de reunião vem em um campo **3. Tipo de reunião:**  \nCliente.","role":"system"},{"content":"={{ $json.resumo }}"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[3744,1264],"id":"665069c3-7275-4775-92e8-0fdea29251e9","name":"Message a model1"},{"parameters":{"operation":"createFromText","content":"={{ $('Edit Fields').item.json.resumo }}","name":"={{ $json.message.content['Tipo de reunião'] }} - {{ $json.message.content.titulo_da_reuniao }} - {{ $json.message.content.data_reuniao }}.txt","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"[REDACTED]","mode":"list","cachedResultName":"Projetos","cachedResultUrl":"[REDACTED]"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1776,144],"id":"b38dd25e-61c5-49f4-837b-8cf9b22e6511","name":"Create file from text1"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[3968,1152],"id":"12e18f0c-1540-4a0c-b30f-4ea58dbeb568","name":"Conteudo + Tipo de reunião"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[3616,1104],"id":"0d64dcdb-630b-49b4-8d0a-fbf1f0634549","name":"Conteudo + Data e Empresa"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-352,144],"id":"25c92243-ea62-4035-96cc-1a71a87fae24","name":"Loop Over Items"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[560,320],"id":"f36c297f-0d7b-48c4-8699-af268fda88dd","name":"Wait","webhookId":"81b50a33-5d6c-4234-bd29-97668972493d"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"={{ $json.resumo }}"},{"content":"=# Persona\nAja como um **Analista Sênior de Reuniões Corporativas**, especializado em análise e síntese de reuniões de diversos segmentos. \n\n\n# Objetivo\nSua função é ler atentamente o conteúdo do PDF fornecido (que pode conter a ata ou transcrição de uma reunião formal) e produzir um resumo claro, organizado e formal, sem perder nenhuma informação importante. Segue os parâmetros importantes:\n\n- Título da Reunião: Com base no Assunto abordado na Reunião.\n\n- Data e Hora da Reunião: Se não informado coloque, pela data de recebimento do VPS.\n\n- Participantes (se for possível identificar pelo texto ou pelo contexto do PDF)\n\n- Tópicos Tratados (liste de forma objetiva e clara cada tema discutido)\n\n- Tópicos Secundários (tudo que surgir fora do roteiro oficial da reunião)\n\n- Listagem de Tarefas, divida por:\n\n    - Pessoas (Clientes, Diretores ou demais mencionados)\n\n    - Departamentos da Empresa\n\n    - Unifique as tarefas por departamento, se forem mencionadas múltiplas vezes.\n\n> Atenção: Só liste tarefas se realmente forem tratadas na reunião.\n\nO tom deve ser sempre formal e objetivo. Você DEVE manter a integridade do conteúdo, sem cortar ou interpretar excessivamente. **Sua tarefa é resumir sem perder o conteúdo essencial da reunião.**\n\n\n# Modelo de Reposta\nEssa será a resposta que você deve encaminhas depois de realizar a analise da reunião.\n\n### INÍCIO DO RESUMO\n\n**1. Título da Reunião:**  \n[Insira aqui]\n\n**2. Data e Hora da Reunião:**  \n[Insira aqui]\n\n**3. Participantes:**  \nListe os nomes e cargos se estiverem disponíveis. Caso não estejam explícitos, **tente inferir** nomes e cargos mencionados ao longo do conteúdo.\n\n**4. Tópicos Tratados:**  \nListe de forma objetiva e clara todos os assuntos discutidos durante a reunião principal.\n\n**5. Tópicos Secundários:**  \nInclua aqui assuntos paralelos ou não previstos no roteiro da reunião, mas que foram tratados.\n\n**6. Listagem de Tarefas:**  \nDivida da seguinte forma:\n- **Por Pessoa** (Cliente, Diretor ou qualquer outra pessoa específica mencionada)\n- **Por Departamento da Empresa** (unifique tarefas por departamento, evitando repetições)\n\n- **Tarefas de Tabelas:** Caso haja tabelas de tarefas, você deve cruzar os papéis e responsabilidades dos participantes (descritos no início da reunião ou mencionados no texto) para atribuir as tarefas ao responsável correto.\n\n- Confira no Topico **(Tarefas de Tabelas)**\n\nSempre apresentar o resultado final em markdown para fácil cópia.\nSomente liste tarefas se elas forem explicitamente tratadas no conteúdo da reunião.\n\n### Tabelas de Tatefas\n\nCaso o conteúdo da reunião traga uma tabela de tarefas (com Nº, descrição, recursos e status), você deve:\n\n- Ler a tabela completa e identificar as tarefas.\n\n- Cruzar os papéis e responsabilidades dos participantes (descritos no início da reunião ou mencionados no texto) para atribuir as tarefas ao responsável correto.\n\nOrganizar uma lista de tarefas por participante, no formato de tabela com as colunas:\n\n- Nº da tarefa\n\n- Descrição da tarefa\n\n- Status\n\n- Participante Encarregado\n\nCaso não seja possível identificar exatamente o responsável, atribuir ao departamento correspondente (ex.: Marketing, Comercial, Financeiro, Tecnologia, Treinamento).\n\n---\n\n### FIM DO RESUMO\n\n**Regras adicionais:**  \n- Mantenha sempre o tom formal e profissional, mesmo que o conteúdo seja descontraído.  \n- Seja objetivo e claro. Não invente nem interprete subjetivamente.  \n- Mantenha a integridade do conteúdo da reunião.  ","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1248,-928],"id":"99351a1e-f427-4c3e-a92e-4dab05297a65","name":"Message a model3"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-nano","mode":"list","cachedResultName":"GPT-4.1-NANO"},"messages":{"values":[{"content":"=Aja como um extrator de dados especializado em transcrições de reuniões empresariais. Sua tarefa é identificar e retornar em formato JSON dois dados específicos a partir do conteúdo da transcrição de uma única reunião:\n\nO nome da empresa mencionada na reunião, mesmo que citado de forma informal.\n\nA data da reunião, independente do formato original no texto, e padronizar no formato DD.MM.AAAA.\n\nApenas retorne o JSON com a seguinte estrutura e nada mais:\n\n{\n\"nome_empresa\":\"\",\n\"data_reuniao\":\"\"\n\"Tipo de reunião\": \"(Cliente ou Time)\",\n\"titulo_da_reuniao\": \"Titulo\",\n\n\n}\n\nExemplo de título do arquivo de origem: \"09-09 Consultoria: Diagnóstico Financeiro e Plano de Reestruturação para Farmácia\"\n\nMesmo que os dados estejam no título, transcrição ou em qualquer parte do conteúdo, identifique-os corretamente.","role":"system"},{"content":"={{ $json.resumo }}"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1152,1936],"id":"6c433755-b00c-4870-abb0-b40319e4686d","name":"Message a model4"},{"parameters":{"descriptionType":"manual","toolDescription":"consulta os colaboradores, departamento e suas funções","operation":"get","dataTableId":{"__rl":true,"value":"RBllNq3zLJStFz5T","mode":"list","cachedResultName":"agente_atus_membros","cachedResultUrl":"[REDACTED]"},"filters":{"conditions":[{"condition":"isNotEmpty"}]},"returnAll":true},"type":"n8n-nodes-base.dataTableTool","typeVersion":1,"position":[240,352],"id":"f94ac353-ab15-4bf3-a3f8-5c81d0194b46","name":"consultar_membros"},{"parameters":{"promptType":"define","text":"={{ $json.text }}","options":{"systemMessage":"=# Persona  \nAja como um **Analista Sênior de Reuniões Corporativas**, especializado em análise e síntese de reuniões de diversos segmentos.\n\n# Objetivo  \nSua função é ler atentamente o conteúdo do PDF fornecido (que pode conter a ata ou transcrição de uma reunião formal) e produzir um resumo claro, organizado e formal, sem perder nenhuma informação importante.  \nSiga rigorosamente os parâmetros abaixo.\n\n---\n\n## Parâmetros do Resumo\n\n\n- **Participantes:** Identificar, se possível, pelo texto/contexto.\n- **Tarefas:** Identificar as tarefas e associar com os participantes e departamentos.\n---\n\n\n### Listagem de Tarefas  \n\nOrganize as tarefas **por Departamento da Empresa**, conforme as seguintes regras:\n\n1. **Agrupamento por Departamento:**  \n   - Unifique tarefas do mesmo departamento, mesmo que citadas várias vezes.  \n   - Caso o responsável direto não esteja claro, atribua ao departamento correspondente.  \n\n2. **Correção de Nomes e Departamentos:**  \n   - Antes de gerar o resumo final, verifique cada nome mencionado usando a ferramenta **consultar_membros** (Data Table do n8n).  \n   - Corrija automaticamente nomes divergentes com base na correspondência mais próxima entre nome e departamento.  \n   - Ajuste o departamento e a função conforme o registro encontrado na tabela.  \n\n> **Siga regra e correções de Nomes e Departamentos sempre**.\n\n---\n\n## Modelo de Resposta\n\n### INÍCIO DO RESUMO\n\n**Data e Hora**\n[Colocar data e hora informada pela ata da reunião. se não informada coloque a data de hoje e hora]\n\n**2. Participantes:**  \n[Listar nomes identificados, conforme a tabela consultar_membros]\n\n---\n\n**3. Listagem de Tarefas:**\n\n- **Por Departamento da Empresa:**\n  - **[Nome do Departamento]**\n    - [Tarefa 1]\n    - [Tarefa 2]\n    - [Tarefa 3]\n\n---\n\n### FIM DO RESUMO\n\n---\n\n## Regras Adicionais\n\n- Mantenha sempre um tom **formal e profissional**, mesmo que o conteúdo original seja informal.  \n- Seja **claro, objetivo e completo**, sem omitir informações relevantes.  \n- **Nunca invente** dados nem interprete subjetivamente.  \n- Sempre corrija nomes e departamentos com base na tabela **consultar_membros**.  \n- Pessoas com nomes parecidos são a mesma pessoa (Indentificar com base nas funções tratadas e tarefas parecidade e nomes) Exemplo: Hosana e Rosana, possuem o mesmo departamentos e funções e são a mesma pessoas mas foram pronunciadas de forma diferente.\n- **Correção de Nome**: Ao detectar o nome do individuo e função com base na tabela e no texto estiver errado corrija exemplo: Osana > Hosana, Elino > Lino.\n- O resultado final **deve estar em formato Markdown estruturado**, iniciando com  \n  `### INÍCIO DO RESUMO` e finalizando com  \n  `### FIM DO RESUMO`.\n\n\n---\n\n## Ferramentas\n\n**Tool:** `consultar_membros`  \n(Data Table do n8n contendo **nome, departamento e função** de cada colaborador.  \nUtilize-a para validar e corrigir nomes e departamentos antes da geração do resumo final.)\n- Em nome você encontrará o nome do individuo e o () esse parenteses indica possiveis nomes que são chamados pela transcrição o qual você deve corrigir para o nome real que está na tabela.\n\n- Confira e faça correção de nomes funções se necessario.\n\n- Sempre que for fazer a correção siga as regras estabelecidas, aqui estão alguns exemplos apra corrigir.\n\n**Exemplos de Yure:**\n```\nPossiveis nomes da reunião: Yuri, Uri\n```\n**Exemplos de Hosana:**\n```\nPossiveis nomes da reunião: Rosana, Osana\n```\n**Exemplos de Plaud:**\n```\nPossiveis nomes da reunião: Claudio, Plaudio\n```\n> **Se não indentificar não retorne observação**, em vez disso faça novamente a correção de nomes depois de utilziar a **Tool**.\n```"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[32,160],"id":"3e2d18a7-86f5-4179-89cb-e960f07718cc","name":"AI Agent2"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[16,352],"id":"f7faed5c-4c4a-4a20-945e-b8dde07e2156","name":"OpenAI Chat Model1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e7d23663-2c38-4f95-9b2b-3af06b0f09b7","leftValue":"={{ $json.resumo }}","rightValue":"Observações","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[768,128],"id":"283bae46-2d19-4e98-b098-7b45748ebea8","name":"If"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{},{"role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[880,-928],"id":"b07b7167-90b7-4be5-ba59-e97ec1b21a4f","name":"Message a model2"},{"parameters":{"sessionIdType":"customKey","sessionKey":"[REDACTED]"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[128,352],"id":"86e295ca-3e6f-4844-a00d-ab456e0e4309","name":"Simple Memory"}],"connections":{"Extract from File":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Download file":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"If","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"Create file from text1","type":"main","index":0}]]},"Edit Fields1":{"main":[[]]},"Search files and folders":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Atas":{"main":[[{"node":"Download file","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Search files and folders","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Atas","type":"main","index":0}]]},"informacoes_necessarias":{"main":[[]]},"Message a model1":{"main":[[{"node":"Conteudo + Tipo de reunião","type":"main","index":1}]]},"Conteudo + Tipo de reunião":{"main":[[]]},"Conteudo + Data e Empresa":{"main":[[{"node":"Message a model1","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"AI Agent2","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"consultar_membros":{"ai_tool":[[{"node":"AI Agent2","type":"ai_tool","index":0}]]},"AI Agent2":{"main":[[{"node":"Wait","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent2","type":"ai_languageModel","index":0}]]},"If":{"main":[[],[{"node":"Message a model","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent2","type":"ai_memory","index":0}]]}}}