workflows/Agente_IA_KrnAl8bSpRI835SM.json
{"createdAt":"2025-06-12T12:47:11.062Z","id":"KrnAl8bSpRI835SM","name":"Agente IA","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"=Você é um assistente pessoal chamado Bit.\n\nVocê é responsável por me ajudar em taréfas do dia a dia.\nVocê tem acesso:\n- Ao meu gmail\n- A minha Agenda\n\nPara criar eventos se baseie na data passada abaixo\n\nPara cancelar/deletar eventos, primeiro consulte na agenda baseado no que o usuario pedir e com esse ID faça o cancelamento \n\nMensagem do Usuario: {{ $json.chatInput }}\nData da mensagem : {{ $now }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[144,0],"id":"059ebaf5-a560-4c60-b296-4937d21b3775","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-16,240],"id":"cae63de5-2831-4f63-a43d-a2fb33ad88ed","name":"OpenAI Chat Model"},{"parameters":{"sessionIdType":"customKey","sessionKey":"[REDACTED]","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[112,240],"id":"ec7fd532-9fb9-421a-8907-c00320879c83","name":"Simple Memory"},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-448,0],"id":"eea0bf31-962b-48fa-b801-b93727a548d8","name":"Telegram Trigger","webhookId":"aae2ce17-44bd-478a-ba1e-a1c9b3d0bf08"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[624,0],"id":"ebe1061d-ab7f-411f-a1f3-0d9b8fef0170","name":"Telegram","webhookId":"ae1104d3-11c2-4511-b227-3c4e85562946"},{"parameters":{"sseEndpoint":"https://webhook.iapessoas.com.br/mcp/772448cc-2042-4d3f-a852-75a69e61c3d5/sse"},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[448,240],"id":"aa829396-8c55-4ef1-81e0-4762b8075525","name":"MCP Agenda"},{"parameters":{"sseEndpoint":"https://webhook.iapessoas.com.br/mcp/7ba48430-fd6e-48e6-a4c3-3d61b43db251/sse"},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[272,240],"id":"3cfeb9f6-aa05-423f-b088-1b2f5cc07cbc","name":"MCP Email"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-80,0],"id":"4720b204-26fb-4f60-a1e6-5ea5504f9180","name":"When chat message received","webhookId":"197da886-4cc9-4b83-805e-7aca05cab03b"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Telegram Trigger":{"main":[[]]},"AI Agent":{"main":[[]]},"MCP Agenda":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"MCP Email":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}}}