workflows/agent_db_admin_atus_sgIOCRGx7AC56sPu.json
{"createdAt":"2025-10-23T16:30:47.126Z","id":"sgIOCRGx7AC56sPu","name":"agent_db_admin_atus","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"prompt"},{"name":"is_admin","type":"boolean"},{"name":"phone"}]}},"type":"[REDACTED]","typeVersion":1.1,"position":[-1328,112],"id":"4762571e-1da7-4956-b516-4ce10ccdbc17","name":"Start","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e863d0bf-110f-4c07-a06d-29a2e35e6b91","leftValue":"={{ $json.is_admin }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"11947a04-eaa0-4b40-8f6e-50ff7c6ebcc9","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-1056,112],"id":"1cbec3fb-ff2f-4f52-9344-7a3c10c7b4d9","name":"Filter"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1104,336],"id":"bf21385b-8592-4efe-9550-c6051f308d53","name":"OpenAI Chat Model"},{"parameters":{"sessionIdType":"customKey","sessionKey":"[REDACTED]"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-944,336],"id":"0c7bf65c-373e-40ee-81ba-0368ab74113a","name":"Simple Memory"},{"parameters":{"assignments":{"assignments":[{"id":"f28a28a4-9dd5-4a41-bba7-df25713c118e","name":"response","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-128,16],"id":"34fa3310-b1f6-464b-aa61-b6595c8a00f9","name":"resposta_sucesso"},{"parameters":{"assignments":{"assignments":[{"id":"f28a28a4-9dd5-4a41-bba7-df25713c118e","name":"response","value":"={{ $json.error }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-128,208],"id":"c5584e90-e390-4a1a-960c-b939fb9f1d3a","name":"resposta_erro"},{"parameters":{"toolDescription":"[REDACTED]","url":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', ``, 'string') }}","authentication":"[REDACTED]","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[-784,336],"id":"3ea6dec8-7263-4e7d-a447-3360c58d7594","name":"consultar_registro_db"},{"parameters":{"toolDescription":"[REDACTED]","method":"POST","url":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', ``, 'string') }}","authentication":"[REDACTED]","sendBody":true,"specifyBody":"json","jsonBody":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('JSON', ``, 'json') }}","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[-624,336],"id":"84e44d99-d3b4-4932-876e-9ce13c5da24c","name":"criar_registro_db"},{"parameters":{"toolDescription":"[REDACTED]","method":"PATCH","url":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', ``, 'string') }}","authentication":"[REDACTED]","sendBody":true,"specifyBody":"json","jsonBody":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('JSON', ``, 'json') }}","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[-464,336],"id":"f2dbda2f-1ceb-442e-b773-f9f6c73eb168","name":"atualizar_registro_db"},{"parameters":{"toolDescription":"[REDACTED]","method":"DELETE","url":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', ``, 'string') }}","authentication":"[REDACTED]","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[-272,336],"id":"3d8b224b-a506-48ee-bcdc-99152a733466","name":"remover_registro_db"},{"parameters":{"promptType":"define","text":"[REDACTED]","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-752,112],"id":"15d77f81-2e98-477d-86a3-be8b5483782e","name":"agente_db_admin","onError":"continueErrorOutput"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[-1920,224],"id":"1eaf540d-1765-4650-95d6-1dbacf5a616b","name":"When chat message received","webhookId":"294e4010-05c1-48af-9fe5-5f8cb627c795","disabled":true}],"connections":{"Start":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"agente_db_admin","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"agente_db_admin","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"agente_db_admin","type":"ai_memory","index":0}]]},"consultar_registro_db":{"ai_tool":[[{"node":"agente_db_admin","type":"ai_tool","index":0}]]},"criar_registro_db":{"ai_tool":[[{"node":"agente_db_admin","type":"ai_tool","index":0}]]},"atualizar_registro_db":{"ai_tool":[[{"node":"agente_db_admin","type":"ai_tool","index":0}]]},"remover_registro_db":{"ai_tool":[[{"node":"agente_db_admin","type":"ai_tool","index":0}]]},"agente_db_admin":{"main":[[{"node":"resposta_sucesso","type":"main","index":0}],[{"node":"resposta_erro","type":"main","index":0}]]},"When chat message received":{"main":[[]]}}}