workflows/Agente_Atus_(Zapier_Version)_-_Com_Corretor_eBzDDxnFxkZ9Ba2w.json
{"createdAt":"2025-11-06T20:11:10.181Z","id":"eBzDDxnFxkZ9Ba2w","name":"Agente Atus (Zapier Version) - Com Corretor","active":false,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"8cf68bfd-280d-49ee-9657-6ce8113b7ff3","name":"resumo","value":"={{ $json.output }}","type":"string"},{"id":"de0f607c-db4b-4439-82b3-c94aca60095d","name":"","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1408,128],"id":"3db15a9c-8b42-4a1a-b12f-d112f5db8779","name":"Edit Fields"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[464,144],"id":"4474197c-332d-47ca-855d-d64afedb9361","name":"Loop Over Items"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1248,368],"id":"ce13825b-20f2-4826-995e-a2ab11765bca","name":"Wait","webhookId":"29b0c44b-0d5e-41f6-92c3-3857d8636780"},{"parameters":{"descriptionType":"manual","toolDescription":"Tabela com informação dos colaboradores, departamento e suas funções","operation":"get","dataTableId":{"__rl":true,"value":"RBllNq3zLJStFz5T","mode":"list","cachedResultName":"agente_atus_membros","cachedResultUrl":"[REDACTED]"},"filters":{"conditions":[{"condition":"isNotEmpty"}]},"returnAll":true},"type":"n8n-nodes-base.dataTableTool","typeVersion":1,"position":[928,400],"id":"f8b8e5b8-d3d3-41dc-a7c4-82d939a76169","name":"consultar_membros"},{"parameters":{"promptType":"define","text":"={{ $json.texto_original }}","options":{"systemMessage":"=# Persona\nAja como um Analista Sênior de Reuniões Corporativas, especializado em análise e síntese de reuniões.\n\n# Objetivo\nLer o PDF (ata/transcrição) e produzir um resumo claro, organizado e formal, sem perder informações importantes, seguindo rigorosamente as regras abaixo.\n\n# Regras de Identificação (Guardrails)\n\n1. **Obrigatório usar a ferramenta consultar_membros** para validar **todo nome** e **todo departamento** citado antes de incluí-los na saída.\n\n2. **Participantes só podem ser listados se:**\n\n   - Houver **menção explícita** por nome/apelido na transcrição; e\n\n   - A consultar_membros confirmar o registro com score ≥ 0,82 (abaixo disso, não incluir).\n\n3. **Nunca** considerar que **todo um departamento participou**. Cada pessoa deve ter menção individual e confirmação pela ferramenta.\n\n4. **Whitelist de Departamentos (somente estes são válidos)**:\nTriagem; Marketing; Pessoal; Fiscal; IA (Incubadora IA); Atendimento; RH (Recursos Humanos); Contábil; Regularize; Comercial; Manutenção; TI; Financeiro; Parcelamento; Diretoria.\nQualquer outro nome de departamento deve ser ignorado e não colocado no resumo.\n\n5. **Correções fixas de nomes** (exemplos):\n\n   - Yuri/Uri → **Yure Cerqueira** (Comercial)\n\n   - Rosana/Osana → **Hosana Jennifer Souza Palmeira** (Atendimento)\n\n   - Elino → **Lino Menezes de Castro** (IA)\n\n   - Claudio/Plaudio → **Plaud** (ferramenta de tecnologia/multimídia); nunca listar “Claudio/Plaudio” como participante.\n\n6. **Sem invenções**: não crie departamentos, nomes, cargos ou tópicos que **não constem** na ata ou na consultar_membros.\n\n7. **Se o responsável direto da tarefa não estiver claro**, atribua a tarefa ao **departamento** correspondente (validado na ferramenta).\n\n# Fluxo de Saída (2 etapas)\n\n**Etapa A – JSON canônico** (obrigatório):\nResponda primeiro com apenas este JSON (sem Markdown) para validação externa:\n```\n{\n  \"meta\": {\n    \"data_hora\": \"YYYY-MM-DD HH:mm (da ata; se ausente, use data/hora atuais)\",\n    \"titulo\": \"...\"\n  },\n  \"participantes\": [\n    {\n      \"nome_detectado\": \"apelido/no texto\",\n      \"confirmado\": true,\n      \"nome\": \"oficial da ferramenta\",\n      \"departamento\": \"oficial (whitelist)\",\n      \"funcao\": \"da ferramenta\",\n      \"score\": 0.93\n    }\n  ],\n  \"tarefas\": [\n    {\n      \"departamento\": \"oficial (whitelist)\",\n      \"descricao\": \"tarefa...\",\n      \"responsavel\": \"nome oficial OU ausente se não confirmado\"\n    }\n  ],\n  \"nao_identificados\": [\"nomes duvidosos ou abaixo de score (não entram)\"],\n  \"referencias_ferramentas\": [\"Plaud (Tecnologia/Multimídia)\"]\n}\n```\n\n**Regras desta etapa:**\n\n- Inclua em participantes apenas quem tiver menção e confirmação (score ≥ 0,82).\n\n- Se “Claudio/Plaudio” aparecer, não incluir em participantes; em vez disso, registre em referencias_ferramentas como “Plaud (Tecnologia/Multimídia)”.\n\n- Em tarefas, se o responsavel não for um participante confirmado, remova o responsável e mantenha a tarefa apenas no departamento.\n\n- Departamento deve estar no whitelist. Caso contrário, remova a tarefa.\n\n**Etapa B – Markdown final (modelo abaixo)**:\nSomente após a validação externa do JSON, gere o Markdown exatamente no formato a seguir.\n\n## Modelo de Resposta (Markdown)\n\n```\n### INÍCIO DO RESUMO\n\n**Data e Hora**\n[Usar a data/hora da ata; se ausentes, data/hora atuais]\n\n**Titulo da reunião**\n[Título identificado]\n\n**2. Participantes:**  \n[Listar **apenas** os participantes confirmados (nome — departamento — função)]\n\n**3. Listagem de Tarefas:**\n\n- **Por Departamento da Empresa:**\n  - **[Nome do Departamento]**\n    - [Tarefa 1]\n    - [Tarefa 2]\n    - [Tarefa 3]\n\n### FIM DO RESUMO\n```\n\n### Regras Adicionais de Estilo\n\n- Tom formal e profissional.\n\n- Claro, objetivo e completo, sem subjetividade.\n\n- Nunca invente dados.\n\n- Nunca crie novos tópicos além de: Data e Hora, Título da Reunião, Participantes, Listagem de Tarefas.\n\n- Sempre usar consultar_membros para validar nomes, departamentos e funções.\n\n- Variantes de nomes devem ser corrigidas para o oficial retornado pela ferramenta."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[784,160],"id":"2743b459-82b6-42bb-ac5f-1ccbb6f88a4a","name":"AI Agent2"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{"temperature":0.6,"timeout":600000}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[640,320],"id":"b6924f36-6dae-4da5-9439-6b45cf45d085","name":"OpenAI Chat Model1"},{"parameters":{"sessionIdType":"customKey","sessionKey":"[REDACTED]"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[784,352],"id":"5c82ae15-99ea-461e-86d2-eec57529d9e4","name":"Simple Memory"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-nano","mode":"list","cachedResultName":"GPT-4.1-NANO"},"messages":{"values":[{"content":"[REDACTED]","role":"system"},{"content":"={{ $json.texto_original }}"}]},"jsonOutput":true,"options":{"temperature":0.1}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-128,16],"id":"4df019af-b842-4e53-9749-0bf38e63c7de","name":"Message a model5"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c01d7d35-b510-452e-bb77-2e1cc298ae44","leftValue":"={{ $('tipo_reuniao').item.json.message.content['Tipo de reunião'] }}","rightValue":"Time","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2288,320],"id":"834ee2aa-aa95-4cbd-b9ee-b1025d0da558","name":"If1"},{"parameters":{"assignments":{"assignments":[{"id":"aba958ad-779a-46ef-a97e-fd9a291010c6","name":"message.content['Tipo de reunião']","value":"={{ $json.message.content['Tipo de reunião'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,16],"id":"6442dae1-2fb5-4283-a01f-5ff2bdb1b834","name":"tipo_reuniao"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","numberInputs":3,"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1552,304],"id":"0c0b3fdf-b312-46f6-bb36-9a502da0808d","name":"Merge"},{"parameters":{"assignments":{"assignments":[{"id":"94645848-25c4-4d22-9412-cbf3f2426387","name":"body.titulo","value":"={{ $json.titulo }}","type":"string"},{"id":"ba0dd6cd-a09c-444e-9508-5c8d52405614","name":"texto_original","value":"={{ $json.resumo }}","type":"string"},{"id":"6a3d2228-5c7d-4809-bd1a-c479dc25df6c","name":"body.data_hora","value":"={{ $json.data }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-448,144],"id":"1efd09cd-14ea-4d08-aa59-5fb0078a3ebe","name":"Edit Fields2"},{"parameters":{"resource":"folder","name":"={{ $('Webhook').item.json.body.titulo }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"[REDACTED]","mode":"list","cachedResultName":"TIME","cachedResultUrl":"[REDACTED]"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2416,64],"id":"fa052c3d-ee78-4b6c-b9dd-181fdd9218ba","name":"Create folder"},{"parameters":{"resource":"folder","name":"={{ $('When Executed by Another Workflow').item.json.titulo }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1tDRk2DbP5F2Jd_f862Qh44G8Depv0eIm","mode":"list","cachedResultName":"CLIENTE","cachedResultUrl":"[REDACTED]"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2416,544],"id":"69cbb708-a0c6-482f-9560-44e846b22715","name":"Create folder1"},{"parameters":{"method":"POST","url":"http://147.93.66.91:55503/timbrar","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"arquivo","inputDataFieldName":"arquivo"}]},"options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"=timbrado_tarefas"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3600,544],"id":"8148c5e9-e90e-4378-88f4-e880e5cf25a6","name":"HTTP Request"},{"parameters":{"operation":"toText","sourceProperty":"=resumo","binaryPropertyName":"arquivo","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[3424,544],"id":"ef50e297-5c25-4d1d-808f-9137984039fb","name":"Convert to File"},{"parameters":{"inputDataFieldName":"timbrado_tarefas","name":"=TAREFAS - {{ $('Merge').item.json.body.titulo }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Create folder1').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[3760,544],"id":"5762ab05-927e-4395-9908-8438ff448c20","name":"Upload file"},{"parameters":{"assignments":{"assignments":[{"id":"aef3a46f-b775-4504-93b6-b09aab6cc4d6","name":"=resumo","value":"={{ $('Agente_formatador').item.json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3248,544],"id":"00e850ff-2cdf-4507-9252-cb9d4319bbc0","name":"texto_resumo"},{"parameters":{"assignments":{"assignments":[{"id":"58de85bd-7935-4132-9f27-d2a6af7e50a3","name":"resumo","value":"={{ $('Agente_formatador').item.json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3248,64],"id":"c469d9c2-ab48-4d3e-befa-2efdd7bbb240","name":"Edit Fields1"},{"parameters":{"operation":"toText","sourceProperty":"=resumo","binaryPropertyName":"arquivo","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[3424,64],"id":"fe26858c-4815-4bec-9a85-673350303f90","name":"Convert to File1"},{"parameters":{"method":"POST","url":"http://147.93.66.91:55503/timbrar","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"arquivo","inputDataFieldName":"arquivo"}]},"options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"=timbrado_tarefas"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3600,64],"id":"5c3ec5fb-bd0f-48cb-9e86-a71146b3fd19","name":"HTTP Request1"},{"parameters":{"inputDataFieldName":"timbrado_tarefas","name":"=TAREFAS - {{ $('Webhook').item.json.body.titulo }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Create folder').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[3760,64],"id":"133093fc-b2d1-4d6b-83ff-6e4df4f4b0d9","name":"Upload file1"},{"parameters":{"assignments":{"assignments":[{"id":"3fe9d0fa-fcc9-498a-9897-79dc3a94e71b","name":"texto_original","value":"={{ $('Merge').item.json.texto_original }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2560,544],"id":"5a51df7c-0aab-4dc9-8afb-b7d51675e7f7","name":"texto_original"},{"parameters":{"method":"POST","url":"http://147.93.66.91:55503/timbrar","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"arquivo","inputDataFieldName":"arquivo"}]},"options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"=timbrado_tarefas"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2896,544],"id":"91496162-9641-4959-82ce-3664037411ff","name":"HTTP Request2"},{"parameters":{"inputDataFieldName":"timbrado_tarefas","name":"=ATA - {{ $('Merge').item.json.body.titulo }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Create folder1').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[3056,544],"id":"930f76a6-6bcb-47b4-98f8-aa393d7fd28c","name":"Upload file2"},{"parameters":{"operation":"toText","sourceProperty":"=texto_original","binaryPropertyName":"arquivo","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[2720,544],"id":"663b3167-dc46-4317-bd36-7f8646cb0842","name":"Convert to File2"},{"parameters":{"assignments":{"assignments":[{"id":"3fe9d0fa-fcc9-498a-9897-79dc3a94e71b","name":"texto_original","value":"={{ $('Merge').item.json.texto_original }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2560,64],"id":"3e8c49f2-8ad3-4641-9731-1087378a54bb","name":"texto_original1"},{"parameters":{"method":"POST","url":"http://147.93.66.91:55503/timbrar","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"arquivo","inputDataFieldName":"arquivo"}]},"options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"=timbrado_tarefas"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2896,64],"id":"c6224059-f7bd-4c9c-8d8f-3ed2b6ab36bb","name":"HTTP Request3"},{"parameters":{"operation":"toText","sourceProperty":"=texto_original","binaryPropertyName":"arquivo","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[2720,64],"id":"32fe1bcc-5122-4719-af6e-0b523c075cea","name":"Convert to File3"},{"parameters":{"inputDataFieldName":"timbrado_tarefas","name":"=ATA - {{ $('Merge').item.json.body.titulo }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Create folder').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[3056,64],"id":"d88fd749-b511-42e4-bfe4-cafbbbb8bbf5","name":"Upload file3"},{"parameters":{"workflowId":{"__rl":true,"value":"Lgb518t80SVqXqbx","mode":"list","cachedResultUrl":"[REDACTED]","cachedResultName":"salva_reuniao_tarefas"},"workflowInputs":{"mappingMode":"defineBelow","value":{"titulo":"={{ $('Edit Fields2').item.json.body.titulo }}","resumo_completo":"={{ $('Edit Fields2').item.json.texto_original }}","tarefas":"={{ JSON.parse($('AI Agent2').item.json.output).tarefas }}","data_hora":"={{ $('Edit Fields2').item.json.body.data_hora }}"},"matchingColumns":[],"schema":[{"id":"resumo_completo","displayName":"resumo_completo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data_hora","displayName":"data_hora","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"titulo","displayName":"titulo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"tarefas","displayName":"tarefas","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":false}],"attemptToConvertTypes":true,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[3952,544],"id":"f78f29d0-71a4-4dcb-8b4e-e1bc8aeede9f","name":"Call 'salva_reuniao_tarefas'"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{"timeout":600000}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1840,512],"id":"91cbb48a-0808-4e86-98a8-e6543ae8f965","name":"OpenAI Chat Model"},{"parameters":{"promptType":"define","text":"={{ $json.resumo }}","options":{"systemMessage":"=# Persona\n\nAja como um **Gerador de Relatórios de Reunião Corporativa**, especializado em formatar dados estruturados em relatórios formais.\n\n# Objetivo\n\nSua função é **converter um JSON validado** (que contém participantes, tarefas e metadados da reunião) em um **resumo em formato Markdown** fiel, organizado e formal.  \n\nVocê **NÃO deve interpretar o conteúdo**, **nem criar informações novas**.  \nApenas **formate os dados exatamente como vierem no JSON**.\n\n## Regras Gerais\n\n1. **NUNCA invente ou modifique dados** — utilize somente o que está no JSON.\n2. Se algum campo estiver vazio, **omite-o**, não substitua por “-”.\n3. O resumo deve conter **somente** os tópicos:\n   - Data e Hora  \n   - Título da Reunião  \n   - Participantes (Não incluir funções) \n   - Listagem de Tarefas  \n4. Sempre inicie com `### INÍCIO DO RESUMO` e finalize com `### FIM DO RESUMO`.\n5. As listas devem estar formatadas com **bullets (-)** e subtítulos em **negrito**.\n6. As tarefas devem estar **agrupadas por departamento**.\n7. Mantenha o tom **formal, limpo e corporativo** (sem emojis, comentários ou observações adicionais).\n8. Se não houver participantes ou tarefas, escreva **(não identificados)** no lugar.\n\n## Modelo de Resposta\n\n```\nINÍCIO DO RESUMO\n\n**Data e Hora**\n[${data_hora}]\n\n**Título da Reunião**\n[${titulo}]\n\n**2. Participantes:**\n\n[Nome] ([Departamento])\n\n[Nome] ([Departamento])\n\n**3. Listagem de Tarefas:**\n\n**Por Departamento da Empresa:**\n\n**[Nome do Departamento]**\n\n[Tarefa 1]\n\n[Tarefa 2]\n\n\nFIM DO RESUMO\n```\n\n## Tratamento de Dados\n\nVocê receberá um arquivo json dessa maneira: \n```\n{\n  \"meta\": {\n    \"data_hora\": \"YYYY-MM-DD HH:mm (da ata; se ausente, use data/hora atuais)\",\n    \"titulo\": \"...\"\n  },\n  \"participantes\": [\n    {\n      \"nome_detectado\": \"apelido/no texto\",\n      \"confirmado\": true,\n      \"nome\": \"oficial da ferramenta\",\n      \"departamento\": \"oficial (whitelist)\",\n      \"funcao\": \"da ferramenta\",\n      \"score\": 0.93\n    }\n  ],\n  \"tarefas\": [\n    {\n      \"departamento\": \"oficial (whitelist)\",\n      \"descricao\": \"tarefa...\",\n      \"responsavel\": \"nome oficial OU ausente se não confirmado\"\n    }\n  ],\n  \"nao_identificados\": [\"nomes duvidosos ou abaixo de score (não entram)\"],\n  \"referencias_ferramentas\": [\"Plaud (Tecnologia/Multimídia)\"]\n}\n```\n\n**Regras de Tratamento de Json para TxT Markdown:**\n\n- Inclua em participantes apenas quem tiver menção e confirmação (score ≥ 0,82).\n\n- Se “Claudio/Plaudio” aparecer, não incluir em participantes; em vez disso, registre em referencias_ferramentas como “Plaud (Tecnologia/Multimídia)”.\n\n- Em tarefas, se o responsavel não for um participante confirmado, remova o responsável e mantenha a tarefa apenas no departamento.\n\n- Departamento deve estar no whitelist. Caso contrário, remova a tarefa.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[1840,320],"id":"a586d492-998d-4a6c-bb3b-f189d89f92fe","name":"Agente_formatador"},{"parameters":{"workflowId":{"__rl":true,"value":"Lgb518t80SVqXqbx","mode":"list","cachedResultUrl":"[REDACTED]","cachedResultName":"salva_reuniao_tarefas"},"workflowInputs":{"mappingMode":"defineBelow","value":{"titulo":"={{ $('Edit Fields2').item.json.body.titulo }}","resumo_completo":"={{ $('Edit Fields2').item.json.texto_original }}","tarefas":"={{ JSON.parse($('AI Agent2').item.json.output).tarefas }}","data_hora":"={{ $('Edit Fields2').item.json.body.data_hora }}"},"matchingColumns":[],"schema":[{"id":"resumo_completo","displayName":"resumo_completo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data_hora","displayName":"data_hora","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"titulo","displayName":"titulo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"tarefas","displayName":"tarefas","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[3952,64],"id":"06159c94-2155-4edc-b3d0-bdea6f131711","name":"Call 'salva_reuniao_tarefas'2"},{"parameters":{"workflowInputs":{"values":[{"name":"titulo"},{"name":"resumo"},{"name":"data"}]}},"type":"[REDACTED]","typeVersion":1.1,"position":[-880,144],"id":"26ad55bc-c4e2-4431-920b-5f13395a1c9f","name":"When Executed by Another Workflow"}],"connections":{"Edit Fields":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"AI Agent2","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"consultar_membros":{"ai_tool":[[{"node":"AI Agent2","type":"ai_tool","index":0}]]},"AI Agent2":{"main":[[{"node":"Wait","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent2","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent2","type":"ai_memory","index":0}]]},"Message a model5":{"main":[[{"node":"tipo_reuniao","type":"main","index":0}]]},"tipo_reuniao":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Merge":{"main":[[{"node":"Agente_formatador","type":"main","index":0}]]},"If1":{"main":[[{"node":"Create folder","type":"main","index":0}],[{"node":"Create folder1","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Loop Over Items","type":"main","index":0},{"node":"Message a model5","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Create folder":{"main":[[{"node":"texto_original1","type":"main","index":0}]]},"Create folder1":{"main":[[{"node":"texto_original","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Upload file","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"texto_resumo":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Upload file1","type":"main","index":0}]]},"Upload file":{"main":[[{"node":"Call 'salva_reuniao_tarefas'","type":"main","index":0}]]},"texto_original":{"main":[[{"node":"Convert to File2","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"Upload file2","type":"main","index":0}]]},"Convert to File2":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"Upload file2":{"main":[[{"node":"texto_resumo","type":"main","index":0}]]},"texto_original1":{"main":[[{"node":"Convert to File3","type":"main","index":0}]]},"Convert to File3":{"main":[[{"node":"HTTP Request3","type":"main","index":0}]]},"HTTP Request3":{"main":[[{"node":"Upload file3","type":"main","index":0}]]},"Upload file3":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Upload file1":{"main":[[{"node":"Call 'salva_reuniao_tarefas'2","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Agente_formatador","type":"ai_languageModel","index":0}]]},"Agente_formatador":{"main":[[{"node":"If1","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]}},"versionCounter":8}