workflows/Agente_Atus_copy_tVntnmO8zksgy38S.json
{"createdAt":"2025-10-20T11:49:21.296Z","id":"tVntnmO8zksgy38S","name":"Agente Atus copy","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-1440,144],"id":"3cd41b09-6abc-4abb-b6be-57558640270c","name":"Extract from File"},{"parameters":{"assignments":{"assignments":[{"id":"8cf68bfd-280d-49ee-9657-6ce8113b7ff3","name":"resumo","value":"={{ $json.output }}","type":"string"},{"id":"de0f607c-db4b-4439-82b3-c94aca60095d","name":"","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1536,128],"id":"eb00317b-06ec-4b5f-997f-b3ee1e5f3af6","name":"Edit Fields"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2240,144],"id":"e8f4efa5-7a23-46f1-a241-e0e20eba0891","name":"When clicking ‘Execute workflow’"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[464,144],"id":"c28d1840-34f7-4245-a8c3-15aed9092093","name":"Loop Over Items"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1248,368],"id":"2bfff540-a26a-4d53-bc66-5e87c9392a5b","name":"Wait","webhookId":"8bef464f-6cf9-4f3c-a94c-01a043cb3105"},{"parameters":{"descriptionType":"manual","toolDescription":"Tabela com informação dos colaboradores, departamento e suas funções","operation":"get","dataTableId":{"__rl":true,"value":"RBllNq3zLJStFz5T","mode":"list","cachedResultName":"agente_atus_membros","cachedResultUrl":"[REDACTED]"},"filters":{"conditions":[{"condition":"isNotEmpty"}]},"returnAll":true},"type":"n8n-nodes-base.dataTableTool","typeVersion":1,"position":[848,320],"id":"6320f106-cf5f-4745-82cc-1f99f45c2dfa","name":"consultar_membros"},{"parameters":{"promptType":"define","text":"={{ $json.texto }}","options":{"systemMessage":"[REDACTED]"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[784,160],"id":"63533c27-2c45-45c3-b144-54bdcfda7a65","name":"AI Agent2"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{"temperature":0.6}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[624,320],"id":"c27ef68d-c90b-46a5-b030-c017c785a221","name":"OpenAI Chat Model1"},{"parameters":{"sessionIdType":"customKey","sessionKey":"[REDACTED]"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[736,320],"id":"708bc983-2918-45f0-aa6c-ed901ea3f0bc","name":"Simple Memory"},{"parameters":{"httpMethod":"POST","path":"8712115c-c337-4caf-a7fd-a22e9f6aebd1","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-2656,64],"id":"b4ad326d-b323-4067-bd89-df5cad65010e","name":"Webhook","webhookId":"8712115c-c337-4caf-a7fd-a22e9f6aebd1","disabled":true},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"[REDACTED]","mode":"list","cachedResultName":"Atas","cachedResultUrl":"[REDACTED]"},"event":"fileCreated","options":{"fileType":"all"}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-2096,-240],"id":"b82f904c-7467-47de-954f-b915511eba45","name":"Google Drive Trigger","disabled":true},{"parameters":{"operation":"createFromText","content":"={{ $('Merge').item.json.resumo }}","name":"=TAREFAS - {{ $json.name.split('.pdf')[0] }}.txt","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Create folder').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2464,48],"id":"b5b0f8e2-f09f-4142-8054-4ce41a480b5b","name":"cria_listagem_tarefas"},{"parameters":{"resource":"fileFolder","returnAll":true,"filter":{"folderId":{"__rl":true,"value":"[REDACTED]","mode":"list","cachedResultName":"Atas","cachedResultUrl":"[REDACTED]"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1952,144],"id":"aa86fdb8-0cdd-4d66-9e15-fcdf0b659643","name":"Search files and folders"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-nano","mode":"list","cachedResultName":"GPT-4.1-NANO"},"messages":{"values":[{"content":"=Aja como um extrator de dados especializado em transcrições de reuniões empresariais. Sua tarefa é identificar e retornar em formato JSON dois dados específicos a partir do conteúdo da transcrição de uma única reunião:\n\n**Tipo de Reunião**\n - Cliente (Reunião com uma empresa de fora, que não seja a castelo branco)\n - Time ()\n\n\nApenas retorne o JSON com a seguinte estrutura e nada mais:\n\n{\n\"Tipo de reunião\": \"(Cliente ou Time)\"\n}\n\nExemplo de título do arquivo de origem: \"09-09 Consultoria: Diagnóstico Financeiro e Plano de Reestruturação para Farmácia\"\n\nMesmo que os dados estejam no título, transcrição ou em qualquer parte do conteúdo, identifique-os corretamente.","role":"system"},{"content":"={{ $json.texto }}"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-128,16],"id":"5ec9ffc8-4ed8-4795-b851-849f14c5fee8","name":"Message a model5"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c01d7d35-b510-452e-bb77-2e1cc298ae44","leftValue":"={{ $json.message.content['Tipo de reunião'] }}","rightValue":"Time","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1936,320],"id":"25a82139-a854-4c7a-b03d-75de3dee7400","name":"If1"},{"parameters":{"assignments":{"assignments":[{"id":"aba958ad-779a-46ef-a97e-fd9a291010c6","name":"message.content['Tipo de reunião']","value":"={{ $json.message.content['Tipo de reunião'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,16],"id":"8a34e705-b714-4119-a359-5ffa3d02ec75","name":"tipo_reuniao"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","numberInputs":3,"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1744,320],"id":"6e59af1f-017e-458a-a8be-33a7896ff805","name":"Merge"},{"parameters":{"operation":"createFromText","content":"={{ $('Merge').item.json.resumo }}","name":"=TAREFAS - {{ $json.name.split('.pdf')[0] }}.txt","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Create folder1').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2464,480],"id":"9495b41e-e97f-45bd-8d86-501abd6862a5","name":"cria_listagem_tarefas1"},{"parameters":{"url":"=https://www.googleapis.com/drive/v3/files/{{ $json.id }}?alt=media&supportsAllDrives=true","authentication":"[REDACTED]","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1696,144],"id":"75350006-0dc0-4470-9e49-57059bc2df25","name":"BAIXA ARQUIVOS","retryOnFail":false},{"parameters":{"assignments":{"assignments":[{"id":"80839884-e7b9-4171-8a11-c30c02b347a7","name":"texto","value":"={{ $json.text }}","type":"string"},{"id":"26b54ace-4067-4f92-a1f9-ce813706070f","name":"name","value":"={{ $('Search files and folders').item.json.name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1136,144],"id":"bc3a2f0c-1b9a-4a8f-9924-a3ccf5ceb24d","name":"Edit Fields2"},{"parameters":{"resource":"folder","name":"={{ $json.name.split('.pdf')[0] }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"[REDACTED]","mode":"list","cachedResultName":"TIME","cachedResultUrl":"[REDACTED]"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2160,48],"id":"7552775d-98ab-42b0-b759-06f04609c15b","name":"Create folder"},{"parameters":{"operation":"copy","fileId":{"__rl":true,"value":"={{ $('Search files and folders').item.json.id }}","mode":"id"},"name":"={{ $json.name }}","sameFolder":false,"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2320,480],"id":"9cacd814-f77c-4153-82da-658140e589af","name":"Copy file1"},{"parameters":{"resource":"folder","name":"={{ $json.name.split('.pdf')[0] }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1tDRk2DbP5F2Jd_f862Qh44G8Depv0eIm","mode":"list","cachedResultName":"CLIENTE","cachedResultUrl":"[REDACTED]"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2160,480],"id":"cc6d7758-e053-4cff-bfbd-770169e55ed7","name":"Create folder1"},{"parameters":{"operation":"copy","fileId":{"__rl":true,"value":"={{ $('Search files and folders').item.json.id }}","mode":"id"},"name":"={{ $json.name }}","sameFolder":false,"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2304,48],"id":"882d170d-4150-4992-ace7-7aa42cdadb93","name":"Copy file2"},{"parameters":{"operation":"update","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{"appPropertiesUi":{"appPropertyValues":[{"key":"[REDACTED]","value":"={{ true }}"}]}}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2960,240],"id":"455bef94-8301-4512-a316-8157c16dea05","name":"Update file1"}],"connections":{"Extract from File":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Merge","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Search files and folders","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"AI Agent2","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"consultar_membros":{"ai_tool":[[{"node":"AI Agent2","type":"ai_tool","index":0}]]},"AI Agent2":{"main":[[{"node":"Wait","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent2","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent2","type":"ai_memory","index":0}]]},"Webhook":{"main":[[]]},"Google Drive Trigger":{"main":[[]]},"Search files and folders":{"main":[[{"node":"BAIXA ARQUIVOS","type":"main","index":0}]]},"Message a model5":{"main":[[{"node":"tipo_reuniao","type":"main","index":0}]]},"tipo_reuniao":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Merge":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Create folder","type":"main","index":0}],[{"node":"Create folder1","type":"main","index":0}]]},"BAIXA ARQUIVOS":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Loop Over Items","type":"main","index":0},{"node":"Message a model5","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Create folder":{"main":[[{"node":"Copy file2","type":"main","index":0}]]},"Copy file1":{"main":[[{"node":"cria_listagem_tarefas1","type":"main","index":0}]]},"Create folder1":{"main":[[{"node":"Copy file1","type":"main","index":0}]]},"Copy file2":{"main":[[{"node":"cria_listagem_tarefas","type":"main","index":0}]]},"cria_listagem_tarefas":{"main":[[]]},"cria_listagem_tarefas1":{"main":[[]]}}}