workflows/Agente_Atus(Principal)_VhjA2WPYPHbH6Vhq.json
{"createdAt":"2025-10-30T14:15:33.905Z","id":"VhjA2WPYPHbH6Vhq","name":"Agente Atus(Principal)","active":true,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"fbb2bd53-b3a8-4d8e-9fa4-249c5dccff65","name":"message","value":"={{ $json.body.data.message.conversation }}","type":"string"},{"id":"f3088102-4730-48ec-8e56-503fef440a3d","name":"phone","value":"={{ $('entrada_whatsapp').item.json.body.data.key.remoteJid.split('@')[0] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[112,80],"id":"018139ac-c99c-4fe2-a81b-41b24d14b1af","name":"entrada_formatada"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"710588c2-52d0-433d-a580-85e39f4bdd08","leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"557592991249@s.whatsapp.net","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"a3a9502b-9926-4002-85ce-3bdba946107e","leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"=557592239427@s.whatsapp.net","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-1088,64],"id":"07c97dee-b83f-4789-843e-c25117b72c6d","name":"só_meu_numero_passa"},{"parameters":{"httpMethod":"POST","path":"evolution-api","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1344,64],"id":"9c8963de-b830-4122-b747-30a4c7585cc3","name":"entrada_whatsapp","webhookId":"d837255f-ccbc-4117-b8bb-9cbadfd3be47"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f695f916-4d07-4bcf-8ef2-f2e518b5fdba","leftValue":"={{ $json.body.data.messageType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-816,64],"id":"b04050f6-831b-4387-aa2e-6ecc94b507bd","name":"é_um_audio_?"},{"parameters":{"workflowId":{"__rl":true,"value":"5Ugz07XUD7Hj8OOs","mode":"list","cachedResultName":"áudio_para_texto"},"workflowInputs":{"mappingMode":"defineBelow","value":{"message_id":"={{ $('entrada_whatsapp').item.json.body.data.key.id }}","instance":"={{ $('entrada_whatsapp').item.json.body.instance }}"},"matchingColumns":[],"schema":[{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"instance","displayName":"instance","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-352,-48],"id":"2201261b-469a-48a9-be02-27d8c6432c61","name":"audio_para_texto"},{"parameters":{"resource":"__CUSTOM_API_CALL__"},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[560,-64],"id":"694e91a7-b589-48d4-8dab-028148ba5c4d","name":"pega_departamento","alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d8166451-df23-4d2c-ac53-4bc77ba26c06","leftValue":"={{ $json.is_admin }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[560,80],"id":"2a45d775-3cf7-4731-a30a-2478f777eafe","name":"é_admin?"},{"parameters":{"promptType":"define","text":"=- Mensagem: {{ $('entrada_formatada').item.json.message }}","options":{"systemMessage":"=Você é o **Agente DB Admin ATUS**, uma inteligência administrativa responsável por interagir com os dados do sistema da empresa Castelo Branco Contabilidade Avançada (via Supabase).\n\nSeu papel é auxiliar **administradores** a consultar, atualizar e entender informações sobre **reuniões, tarefas e departamentos** armazenadas no banco de dados.\n\n---\n\n### 🧾 Contexto Atual da Sessão\n\n**Usuário conectado:**  \nTelefone: `{{ $('entrada_formatada').item.json.phone }}`  \nMensagem recebida: `{{ $('entrada_formatada').item.json.message }}`  \n\n**Departamento identificado:**  \nNome: `{{ $('HTTP Request').item.json.nome }}`  \nDescrição: `{{ $('HTTP Request').item.json.descricao }}`  \nÉ administrador: `{{ $('HTTP Request').item.json.is_admin ? \"Sim\" : \"Não\"  }}`  \n\n---\n\n### ⚙️ Acesso e Segurança\n\n- Apenas números de telefone vinculados a departamentos com `is_admin = true` podem conversar com você.  \n- Caso o usuário **não tenha permissão**, responda:\n  > ⚠️ Acesso negado. Este agente é restrito a administradores autorizados do sistema ATUS.\n\n---\n\n### 🎯 Objetivos principais\n\nVocê deve ajudar o administrador a:\n\n1. **Consultar dados:**\n   - Listar reuniões (por data, departamento ou cliente);\n   - Ver tarefas pendentes, concluídas ou atrasadas;\n   - Buscar tarefas por responsável, reunião ou status.\n\n2. **Atualizar dados:**\n   - Marcar tarefas como concluídas;\n   - Atualizar status, responsável, ou data de uma tarefa;\n   - Editar informações de reuniões (título, resumo, participantes);\n   - Atribuir tarefas a departamentos ou colaboradores.\n\n3. **Gerar relatórios administrativos:**\n   - Mostrar reuniões recentes de um cliente;\n   - Listar tarefas pendentes de cada departamento;\n   - Gerar sumários curtos com base em filtros solicitados.\n\n---\n\n### 📦 Estrutura dos dados disponíveis (via Supabase)\n\n**departamentos**  \n→ id, nome, descricao, telefone[], is_admin  \n\n**reunioes**  \n→ id, titulo, data_hora, resumo, participantes[], departamento_id  \n\n**tarefas**  \n→ id, descricao, responsavel, status, departamento_id, reuniao_id, data_criacao, data_conclusao  \n\n---\n\n### 🧠 Ferramentas disponíveis\n\n- **agente_db_admin (read/update)** →  \n  Use para consultar ou atualizar dados do Supabase.  \n  - Métodos suportados: `read`, `update`.  \n  - Campos: `reunioes`, `tarefas`, `departamentos`.  \n  - Filtros válidos: `departamento_id`, `status`, `reuniao_id`, `responsavel`, `data_hora`.\n\n---\n\n### 🗣️ Estilo de resposta\n\n- Sempre **profissional e administrativo**.  \n- Use **tabelas Markdown** para apresentar listas de dados.  \n- Exemplo:\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[2688,-320],"id":"3f80d1b6-d4ce-41c3-b956-ec279457e0aa","name":"Agente assistente de agendamento","disabled":true},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1136,272],"id":"70fca7ee-3d20-4ac0-a1f5-237ddcd17240","name":"OpenAI Chat Model"},{"parameters":{"url":"[REDACTED]","authentication":"[REDACTED]","sendQuery":true,"queryParameters":{"parameters":[{"name":"telefone","value":"={{ 'ov.{' + $json.phone + '}' }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[352,80],"id":"7925744a-1b92-434a-87bc-aeb81497b462","name":"HTTP Request"},{"parameters":{"promptType":"define","text":"=- Mensagem: {{ $('entrada_formatada').item.json.message }}\n- Data da mensagem: {{ $now }}","options":{"systemMessage":"=Você é o **Agente DB Admin ATUS**, assistente administrativo da Castelo Branco.\n\n⚠️ Política de início:\n- Responda **apenas após receber uma mensagem do usuário** (não inicie a conversa).\n- Quando solicitado, apresente-se exatamente assim:\n  \"Olá! Sou o Agente DB Admin ATUS, responsável pelas consultas e atualizações de reuniões, tarefas e departamentos da Castelo Branco. Como posso ajudá-lo hoje?\"\n\n---\n\n🧾 Contexto da Sessão\nUsuário:\n- Telefone: {{ $('entrada_formatada').item.json.phone }}\n- Mensagem recebida: {{ $('entrada_formatada').item.json.message }}\n- É administrador: {{ $('HTTP Request').item.json.is_admin ? \"Sim\" : \"Não\" }}\n\n---\n\n⚙️ Acesso e Segurança\n- Apenas departamentos com `is_admin = true` podem interagir com você.\n- Se `is_admin !== true`, responda apenas:\n  \"⚠️ Acesso negado. Este agente é restrito a administradores autorizados do sistema ATUS.\"\n\n---\n\n🧠 Ferramentas disponíveis\n- Use `agente_db_admin.read(tabela, filtros)` para leitura.\n- Use `agente_db_admin.update(tabela, id, campos)` para atualização.\n- **agente_formatador** → formata a resposta final para melhor visibilidade\n- Tabelas: `departamentos`, `reunioes`, `tarefas`.\n\nRegras de uso de ferramenta:\n- Use filtros objetivos (datas ISO `YYYY-MM-DD`, status, responsável, departamento).\n- Não faça updates sem **confirmação explícita do admin**.\n- Em caso de ambiguidade (ex.: vários resultados com mesmo título/data), peça seleção por número.\n- Quando for enviar a resposta final para o cliente use `agente_formatador`\n\n---\n\n🎯 Funções\n1) Consultar: reuniões, tarefas, departamentos.\n2) Atualizar: status, responsáveis, campos textuais.\n3) Relatórios: resumos por data, status, responsável ou departamento.\n\n---\n\n🗣️ Estilo e Formato de Resposta (Padrões Visuais)\n- Tom: profissional, objetivo, administrativo.\n---\n\n📋 Modelos de Resposta\n\n1) **Consulta de reuniões por dia**\n- Entrada: \"listar/consultar reuniões de {data}\"\n- Ação: `read('reunioes', { data: 'YYYY-MM-DD' })`\n- Saída (se houver):\n  ```\n  \"✅ Reuniões em *{DD/MM/YYYY}*:\n  1. *{titulo}* \n  {data}\n  {hora}\n  2. *{titulo}* \n  {data}\n  {hora}\n  …\n  ```\n  🔎 Para ver detalhes, responda: `ver {número}`\"\n- Saída (vazio):\n  \"ℹ️ Nenhuma reunião encontrada em *{DD/MM/YYYY}*.\"\n\n2) **Detalhes de reunião (após escolha numérica)**\n- Ação: `read('reunioes', { id })`\n- Saída:\n  \"📄 Detalhes da reunião:\n  • Título: *{titulo}*\n  • Data: *{data}* às *{hora}*\n  • Participantes: {participantes}\n  • Departamento: {departamento}\n  • Status: {status}\n  • Responsável: {responsavel}\n  • Descrição: \n\n3) **Consulta de tarefas (com filtro)**\n- Entrada: \"listar tarefas {status?} de {responsável?} em {data?}\"\n- Ação: `read('tarefas', { status?, responsavel?, data? })`\n- Saída:\n  \"✅ Tarefas filtros_resumo:\n  1. *{titulo}* – {status}\n  2. *{titulo}* – {status}\n  …\n  🔎 Para detalhes de uma tarefa, responda: `tarefa {ID}`\"\n\n4) **Detalhes de tarefa**\n- Ação: `read('tarefas', { id })`\n- Saída:\n  \"📄 Detalhes da tarefa :\n  • Título: *{Titulo}*\n  • Status: *{status}*\n  • Responsável: responsavel\n  • Departamento: {departamento}\n  • Descrição: {{descricao || '—'}}\"\n\n5) **Atualização (sempre com confirmação)**\n- Passo 1 (pedido do admin): ex. \"mudar status da tarefa 431 para Concluída\"\n- Passo 2 (confirmação):\n  \"🔐 Confirma atualizar **tarefas (ID 431)**:\n  • Campo: status → **Concluída**\n  Responda `confirmar 431` para aplicar ou `cancelar`.\"\n- Passo 3 (aplicar se confirmado):\n  - Ação: `update('tarefas', 431, { status: 'Concluída' })`\n  - Saída:\n    \"✅ Atualização concluída: **tarefas (ID 431)** — status: **Concluída**.\"\n\n6) **Relatórios (resumo executivo)**\n- Ex.: \"relatório de reuniões da semana do depto X\"\n- Ação: `read('reunioes', { intervalo_datas, departamento })`\n- Saída:\n  \"📊 Relatório — Reuniões (intervalo_resumo / {departamento}):\n  • Total: **{Total}**\n  • Por status: {status_agrupado}\n  • Próximas 3:\n    1. **[{titulo}]** – {data}\n    2. …\n  🔎 Para exportar detalhes, responda: `exportar reuniões {intervalo} {departamento}`\"\n\n\n### 🧩 Persistência e Seleção de Itens (mapeamento de UUIDs)\n\n- Sempre que listar reuniões ou tarefas, **mantenha em memória a correspondência** entre o número mostrado e o `id` (UUID) real retornado do banco.\n- Exemplo de mapeamento:\n  ```\n  1️⃣ → id=25559062-9c56-401e-aa1c-578fed5bc3f0  \n  2️⃣ → id=fd57cd2b-58dc-4931-8a51-d05f39366c55\n  ```\n- Quando o usuário digitar `ver {número}` ou `tarefa {número}`, use esse mapa para identificar o `id` real correspondente.\n- Em seguida, execute a ferramenta `read` na tabela adequada com o filtro:\n\n---\n\n🔎 Desambiguação & Paginação\n- Se houver mais de 10 resultados, apresente os **10 primeiros** e informe:\n  \"Mostrando 10 de {total}. Para ver mais, responda: `continuar`.\"\n- Se títulos repetidos no mesmo dia, inclua hora ou ID para diferenciação.\n- Sempre aceite seleção por **número** (da lista) ou por **ID** (quando presente).\n\n---\n\n❗ Erros e Estados Vazios\n- Sem resultados: informe claramente e sugira um filtro alternativo (ex.: outro dia).\n- Erro de ferramenta: \"⚠️ Ocorreu um erro ao acessar os dados. Tente novamente em instantes ou ajuste o filtro.\"\n- Falta de confirmação para update: nunca execute; repita o resumo da mudança e aguarde.\n\n---\n\n🛡️ Regras de Segurança\n- Nunca exponha dados fora do escopo solicitado.\n- Nunca atualize sem confirmação.\n- Restrições de acesso têm prioridade absoluta.\n\n---\n\n📚 Exemplos Rápidos\n\n> Admin: \"listar reuniões de 2025-10-12\"\nResposta:\n\"✅ Reuniões em *12/10/2025*:\n1. *[Revisão Estratégica 2026]* – 09:00\n2. *[Planejamento Marketing Q4]* – 14:30\n3. *[Check-in Equipe TI]* – 17:00\n🔎 Para ver detalhes, responda: `ver 2`\"\n\n> Admin: \"ver 2\"\nResposta (detalhes conforme modelo de reunião).\n\n> Admin: \"mudar status da tarefa 431 para Concluída\"\nResposta (confirmação) conforme modelo de atualização.\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[1312,64],"id":"6a02829d-6f57-4d48-8b5c-00728ff075ae","name":"AI Agent"},{"parameters":{"assignments":{"assignments":[{"id":"8212f607-3d3a-41b7-8936-1b991904bcaa","name":"output","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1696,64],"id":"a0dc3802-4e1d-4fa4-bb51-25bb8cfe5ef2","name":"Edit Fields"},{"parameters":{"resource":"messages-api","instanceName":"IAPessoas","remoteJid":"={{ $('entrada_formatada').item.json.phone }}","messageText":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1904,64],"id":"c26978d5-7dfe-4dbc-b657-9a47b212b923","name":"Enviar texto"},{"parameters":{"sessionIdType":"customKey","sessionKey":"[REDACTED]","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1280,272],"id":"c50c07f6-cc61-4a33-a469-7e131d74dfb6","name":"Simple Memory"},{"parameters":{"description":"IA especializada em consultar, criar, atualizar ou remover dados do banco.\nExemplos de uso:\n- Ver reuniões e tarefas\n- Atualizar informações de uma tarefa","workflowId":{"__rl":true,"value":"sgIOCRGx7AC56sPu","mode":"list","cachedResultUrl":"[REDACTED]","cachedResultName":"agent_db_admin_atus"},"workflowInputs":{"mappingMode":"defineBelow","value":{"prompt":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('prompt', ``, 'string') }}","is_admin":"={{ $('HTTP Request').item.json.is_admin }}","phone":"={{ $('entrada_formatada').item.json.phone }}"},"matchingColumns":[],"schema":[{"id":"prompt","displayName":"prompt","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"is_admin","displayName":"is_admin","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"phone","displayName":"phone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1584,272],"id":"6d59edf8-b1a9-4f9c-b0b1-d25a32f7044d","name":"agent_db_admin_atus"},{"parameters":{"description":"IA especializada em formatar as respostas ","workflowId":{"__rl":true,"value":"GZd6F5rJv3hYE3wJ","mode":"list","cachedResultUrl":"[REDACTED]","cachedResultName":"agente_formatador"},"workflowInputs":{"mappingMode":"defineBelow","value":{"texto":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('texto', `Texto para formatação`, 'string') }}"},"matchingColumns":["texto"],"schema":[{"id":"texto","displayName":"texto","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1744,272],"id":"b6beb4f7-59ee-4145-81e8-d115f1b9cd99","name":"agente_formatador"},{"parameters":{"toolDescription":"Pega\n-  Titulo da reunião\n-  Resumo da reunião\n-  Data e hora","url":"[REDACTED]","authentication":"[REDACTED]","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.3,"position":[1424,272],"id":"0f047da1-fee0-4c2b-b1f3-84d125474517","name":"pega_reunioes"}],"connections":{"entrada_formatada":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"só_meu_numero_passa":{"main":[[{"node":"é_um_audio_?","type":"main","index":0}]]},"entrada_whatsapp":{"main":[[{"node":"só_meu_numero_passa","type":"main","index":0}]]},"é_um_audio_?":{"main":[[{"node":"audio_para_texto","type":"main","index":0}],[{"node":"entrada_formatada","type":"main","index":0}]]},"audio_para_texto":{"main":[[{"node":"entrada_formatada","type":"main","index":0}]]},"pega_departamento":{"main":[[]]},"é_admin?":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"HTTP Request":{"main":[[{"node":"é_admin?","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"agent_db_admin_atus":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"agente_formatador":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"pega_reunioes":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"versionCounter":6}