workflows/agente_db_admin_sMp9fq5pHs7ifE0e.json
{"createdAt":"2025-08-07T14:22:02.911Z","id":"sMp9fq5pHs7ifE0e","name":"agente_db_admin","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"prompt"},{"name":"is_admin","type":"boolean"},{"name":"phone"}]}},"type":"[REDACTED]","typeVersion":1.1,"position":[-128,-64],"id":"0c6cc881-c8d5-4a48-a0ec-9c44927badd6","name":"Start"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e863d0bf-110f-4c07-a06d-29a2e35e6b91","leftValue":"={{ $json.is_admin }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[112,-64],"id":"2070ca6d-da81-48c4-9242-251b5ca7df0e","name":"Filter"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[192,160],"id":"755799af-d45b-4585-a75a-01dca707373d","name":"OpenAI Chat Model"},{"parameters":{"sessionIdType":"customKey","sessionKey":"[REDACTED]"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[352,160],"id":"3da2fa2a-6d42-4733-980b-367021d24d00","name":"Simple Memory"},{"parameters":{"assignments":{"assignments":[{"id":"f28a28a4-9dd5-4a41-bba7-df25713c118e","name":"response","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1120,-160],"id":"1f5cca5d-ec0d-4621-b9cd-38e15ffc6b03","name":"resposta_sucesso"},{"parameters":{"assignments":{"assignments":[{"id":"f28a28a4-9dd5-4a41-bba7-df25713c118e","name":"response","value":"={{ $json.error }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1120,48],"id":"c8f902c4-eb9d-489e-89b7-e1ada5a36f69","name":"resposta_erro"},{"parameters":{"toolDescription":"[REDACTED]","url":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', ``, 'string') }}","authentication":"[REDACTED]","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[512,160],"id":"aec22f36-dff2-4839-ad1c-70f4b763c107","name":"consultar_registro_db"},{"parameters":{"toolDescription":"[REDACTED]","method":"POST","url":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', ``, 'string') }}","authentication":"[REDACTED]","sendBody":true,"specifyBody":"json","jsonBody":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('JSON', ``, 'json') }}","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[672,160],"id":"f23d5415-e3f3-43e5-9b0b-be8b2bd3a3aa","name":"criar_registro_db"},{"parameters":{"toolDescription":"[REDACTED]","method":"PATCH","url":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', ``, 'string') }}","authentication":"[REDACTED]","sendBody":true,"specifyBody":"json","jsonBody":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('JSON', ``, 'json') }}","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[832,160],"id":"438a61b4-ef17-42aa-9be0-9e9893e50b85","name":"atualizar_registro_db"},{"parameters":{"toolDescription":"[REDACTED]","method":"DELETE","url":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', ``, 'string') }}","authentication":"[REDACTED]","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[1024,160],"id":"73ad7478-436a-4a18-bc7f-f0bc5f08c87f","name":"remover_registro_db"},{"parameters":{"promptType":"define","text":"[REDACTED]","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[544,-64],"id":"4a4e7294-e093-40b2-b569-9cfbb74adf77","name":"agente_db_admin","onError":"continueErrorOutput"}],"connections":{"Start":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"agente_db_admin","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"agente_db_admin","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"agente_db_admin","type":"ai_memory","index":0}]]},"consultar_registro_db":{"ai_tool":[[{"node":"agente_db_admin","type":"ai_tool","index":0}]]},"criar_registro_db":{"ai_tool":[[{"node":"agente_db_admin","type":"ai_tool","index":0}]]},"atualizar_registro_db":{"ai_tool":[[{"node":"agente_db_admin","type":"ai_tool","index":0}]]},"remover_registro_db":{"ai_tool":[[{"node":"agente_db_admin","type":"ai_tool","index":0}]]},"agente_db_admin":{"main":[[{"node":"resposta_sucesso","type":"main","index":0}],[{"node":"resposta_erro","type":"main","index":0}]]}}}