workflows/Analise de Speds da JTD_ZZjkeTVzSboTXEzZ.json
{"createdAt":"2025-06-12T12:07:42.128Z","updatedAt":"2025-10-08T18:08:10.631Z","id":"ZZjkeTVzSboTXEzZ","name":"Analise de Speds da JTD","active":true,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"=## Persona:\nVocê é um especialista em analisar dados em JSON, capaz de validar notas fiscais seguindo regras estritas.\n\n## Objetivo:\nA partir de um array de objetos JSON representando notas fiscais, gere um relatório padronizado indicando quais notas estão corretas e quais apresentaram erros, detalhando cada item conforme as regras abaixo.\n\n---\n\n1. *Tipos de Dados*  \n   - `id_nota`: inteiro  \n   - `codigo_participante`: string  \n   - `participante_e_do_estado`: booleano (`true` ou `false`)  \n   - `dados_itens`: lista de objetos, cada um com:  \n     - `numero_item`: string  \n     - `desc_item`: string (será usado como “Tipo”)  \n     - `codigo_cfop`: string de 4 dígitos  \n     - `gera_credito`: booleano (`true` ou `false`)  \n     - `valor_pis`, `valor_cofins`: strings numéricas  \n\n2. *Regras de CFOP*  \n   - Se `participante_e_do_estado == true`, *aceitar somente* `[\"1126\",\"1653\"]`.  \n   - Se `participante_e_do_estado == false`, *aceitar somente* `[\"2126\",\"2653\"]`.  \n   - Se `codigo_cfop` *não estiver* na lista correspondente, marque no relatório:  \n     ```\n     Erro: CFOP incorreto para fornecedor [dentro|fora] do estado.\n     Observação: CFOP informado X; o correto seria Y.\n     ```  \n\n3. *Geração de Crédito*  \n   - Se `gera_credito == true`, escreva `Gera Credito: Sim`.  \n   - Se `gera_credito == false`, escreva `Gera Credito: Não`.  \n\n4. *Verificação de Duplicidade*  \n   - Se o mesmo `numero_item` aparecer mais de uma vez na mesma nota, marque:  \n     ```\n     Erro: Item Duplicado na mesma nota.\n     Observação: O item N°XXXX aparece mais de uma vez na Nota N.\n     ```  \n\n5. *Estrutura do Relatório*  \n   - Inicie cada nota com:  \n     ```\n     - Nota Fiscal:  – [Correto|Erro Encontrado]\n     ```  \n   - Para *cada* item em `dados_itens`, gere *uma única* entrada com:  \n     - `Item: N°`  \n     - `Tipo: `  \n     - Se estiver correto: `Gera Credito: Sim` ou `Gera Credito: Não`  \n     - Se houver erro:  \n       ```\n       Erro: \n       Observação: \n       ```  \n\n> *ATENÇÃO:* Nunca invente dados. Informe todos os itens presentes na nota, mesmo que sejam muitos.  \n> *SIGA ESTRITAMENTE* essas regras e o formato de saída.\n\n## Segue o texto para analise :\n\n{{ $json.textoParaIA }}\n","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[400,-20],"id":"f910b577-dd5c-42bb-9aed-5f2fbaf4f27c","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{"temperature":0.4}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[400,100],"id":"8d4aa295-3a8e-435e-98ec-4b9f2ac24fbc","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"KmxPJCVo0EDgxnqi","name":"API IA PESSOAS OG"}}},{"parameters":{"httpMethod":"POST","path":"865577a2-1436-4f5d-a830-e480d629a3ee","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-320,-20],"id":"0976e32a-1095-4271-b29c-6626aa0e4294","name":"Webhook","webhookId":"865577a2-1436-4f5d-a830-e480d629a3ee"},{"parameters":{"respondWith":"text","responseBody":"={{ $json.output }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.3,"position":[700,-20],"id":"d149bd07-023b-445b-abec-b5b4810c417a","name":"Respond to Webhook"},{"parameters":{"operation":"fromJson","binaryPropertyName":"file","destinationKey":"file","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-120,-20],"id":"e08446f4-3a26-4aee-98dc-a2a4acfa7357","name":"Extrair Informações do JSON"},{"parameters":{"jsCode":"const notas = items[0].json.file || [];\nlet relatorio = '';\n\nfor (const nota of notas) {\n  relatorio += `## Nota Fiscal: ${nota.id_nota}\\n`;\n  relatorio += `- Código Participante: ${nota.codigo_participante}\\n`;\n  relatorio += `- Dados Participante: ${nota.dados_participante}\\n`;\n  relatorio += `- Participante do Estado: ${nota.participante_e_do_estado ? 'Sim' : 'Não'}\\n`;\n  relatorio += `- Itens:\\n`;\n\n  for (const item of nota.dados_itens || []) {\n    relatorio += `  • Item ${item.numero_item} - ${item.desc_item} (NCM: ${item.cod_ncm})\\n`;\n    relatorio += `    CFOP: ${item.codigo_cfop}, PIS: ${item.valor_pis}, COFINS: ${item.valor_cofins}\\n`;\n    relatorio += `    Tipo: ${item.combustivel_ou_lubrificante ? 'Combustível ou Lubrificante' : 'Outro'}\\n\\n`;\n  }\n\n  relatorio += '\\n---\\n\\n';\n}\n\nreturn [{\n  json: {\n    textoParaIA: relatorio\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[80,-20],"id":"3c6427e1-d0b4-43a3-a619-8cd980be7a71","name":"Transformar o JSON em Texto"},{"parameters":{"content":"## RECEBE O JSON, EXTRAI INFORMAÇÕES E TRANSFORMA EM TEXTO\n\n","height":280,"width":580},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-360,-100],"id":"ebabf741-0e4c-4551-815b-470bd5b9c56a","name":"Sticky Note"},{"parameters":{"content":"## ANALISA AS INFORMAÇÕES E RETORNA UM RELATORIO EM TXT\n\n\n","height":280,"width":600},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[320,-100],"id":"5d4656ee-102a-45ca-ba60-7cacb0978a06","name":"Sticky Note1"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Extrair Informações do JSON","type":"main","index":0}]]},"Extrair Informações do JSON":{"main":[[{"node":"Transformar o JSON em Texto","type":"main","index":0}]]},"Transformar o JSON em Texto":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"GJoEkByGgHbx83q5"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"webhook.iapessoas.com.br","user-agent":"python-requests/2.32.3","content-length":"73864","accept":"*/*","accept-encoding":"gzip, br","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"2804:5e74:12a7:8900:8410:980d:21ee:d016","cf-ipcountry":"BR","cf-ray":"9564c0dce8e61b2e-GRU","cf-visitor":"{\"scheme\":\"https\"}","content-type":"multipart/form-data; boundary=078df744e8edee96ffb7766a8790f08d","x-forwarded-for":"172.71.238.193","x-forwarded-host":"webhook.iapessoas.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"aa4276debace","x-real-ip":"172.71.238.193"},"params":{},"query":{},"body":{},"webhookUrl":"https://webhook.iapessoas.com.br/webhook/865577a2-1436-4f5d-a830-e480d629a3ee","executionMode":"production"}}]},"versionId":"2ca2797f-b5c3-4523-b3c0-4dba5371392e","triggerCount":1,"shared":[{"createdAt":"2025-06-12T12:07:42.128Z","updatedAt":"2025-06-12T12:07:42.128Z","role":"workflow:owner","workflowId":"ZZjkeTVzSboTXEzZ","projectId":"g8BnYlos8HJUUVcr","project":{"createdAt":"2025-05-28T13:28:04.746Z","updatedAt":"2025-05-28T13:31:33.202Z","id":"g8BnYlos8HJUUVcr","name":"IA Pessoas <comercial@castelobrancocontabilidade.com.br>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-05-28T13:28:04.746Z","updatedAt":"2025-05-28T13:28:04.746Z","userId":"17ee4480-754a-4392-9fc2-a6bc3c46ebad","projectId":"g8BnYlos8HJUUVcr","user":{"createdAt":"2025-05-28T13:28:03.022Z","updatedAt":"2025-10-09T03:00:30.587Z","id":"17ee4480-754a-4392-9fc2-a6bc3c46ebad","email":"comercial@castelobrancocontabilidade.com.br","firstName":"IA","lastName":"Pessoas","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-05-28T13:31:41.717Z","personalization_survey_n8n_version":"1.94.1"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"fN5uSWvKRujKur6R","userActivatedAt":1757621781409,"npsSurvey":{"responded":true,"lastShownAt":1749478378830},"dismissedCallouts":{"preBuiltAgentsCalloutHttpRequest":true,"preBuiltAgentsCalloutGoogleDrive":true,"preBuiltAgentsModalCallout":true,"preBuiltAgentsCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-10-09","isPending":false}}]}}],"tags":[{"createdAt":"2025-05-28T13:35:47.754Z","updatedAt":"2025-05-28T13:35:47.754Z","id":"1DfavlTBWEW637E1","name":"Davi Araujo"},{"createdAt":"2025-05-28T13:42:36.788Z","updatedAt":"2025-05-28T13:42:36.788Z","id":"WAZjBah3dok1fH3o","name":"Lino Menezes"}]}