workflows/Analista-Crédito_copy_a7XDXx8xbNxlJgVw.json
{"createdAt":"2025-06-05T18:12:53.681Z","id":"a7XDXx8xbNxlJgVw","name":"Analista-Crédito copy","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{"allowFileUploads":true}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[0,0],"id":"fb50c4b6-3870-464a-a5d1-f704ca996512","name":"When chat message received","webhookId":"7f86a17b-a4de-4c65-9827-cc2e31642e73"},{"parameters":{"options":{"systemMessage":"=##Persona\nVocê é um assistente virtual focado na analise documental para crédito. \n\n##Tarefa\nAnalisar dados de uma empresa e gerar um relatório apontando os principais pontos.\n\nListe pontos fortes e fracos da situação da empresa, além de verificar o melhor cenário possível incluindo melhor linha de crédito e melhores bancos para relacionamento.\n\nBaseado nessas intruções, elabore o relatorio de uma empresa com esses dados: {{ $json.chatInput }}\n\nSempre comece o relatório com esse formato: Relatório de Análise Documental da [nome da empresa]"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[220,0],"id":"b595903e-edd9-4acc-a079-c061432c90fb","name":"AI Agent"},{"parameters":{"tableId":"Registros","fieldsUi":{"fieldValues":[{"fieldId":"Relatorio","fieldValue":"={{ $json.output }}"},{"fieldId":"Nome da Empresa","fieldValue":"={{ $json.nomeEmpresa }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[780,0],"id":"3dfe6a38-8e22-43d3-80f3-5ae1d103d315","name":"Supabase"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[220,180],"id":"c7ce3c6d-44b2-4837-b797-32c326010fd7","name":"Groq Chat Model"},{"parameters":{"jsCode":"const texto = $input.first().json.output;\n\n// Expressão regular corrigida para capturar após \"da\", considerando possível presença de \"**\"\nconst match = texto.match(/Relatório de Análise Documental da\\s+([^\\n\\*]+)/i);\n\n// Limpeza do nome\nconst nomeEmpresa = match ? match[1].trim() : 'Empresa Desconhecida';\n\nreturn [\n  {\n    json: {\n      output: texto,\n      nomeEmpresa\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[580,0],"id":"963c06a3-0f33-47dc-b502-633f70c07558","name":"Code"}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Code","type":"main","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Code":{"main":[[{"node":"Supabase","type":"main","index":0}]]}}}