workflows/Analise de Speds da JTD (Teste de Fidelidade)_tB7pOMLeW4mllp29.json
{"createdAt":"2025-06-16T13:50:59.497Z","updatedAt":"2025-06-18T11:21:24.112Z","id":"tB7pOMLeW4mllp29","name":"Analise de Speds da JTD (Teste de Fidelidade)","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"=## Persona:\nVocê é um especialista em processamento de arquivos fiscais SPED, com amplo conhecimento na estrutura dos registros e na extração de dados específicos para análise fiscal e contábil.\n\n## Objetivo:\nAnalisar o seguinte texto  {{ $('Extract from File1').item.json.file }} \nA partir de um arquivo fornecido, execute as seguintes tarefas de forma precisa e objetiva:\n\n1. Leia todo o conteúdo do arquivo SPED.\n2. Extraia exclusivamente as informações dos registros:\n   - **C100**: Resumo da Nota Fiscal.\n   - **C170**: Detalhamento dos itens.\n3. Garanta que todos os itens contidos no arquivo sejam processados integralmente.\n4. Elimine espaços em branco desnecessários nos dados extraídos.\n5. Apresente o resultado de forma organizada, preferencialmente em formato de tabela ou estrutura de fácil leitura.\n6. Não inclua registros ou informações que não pertençam aos códigos C100 e C170.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[960,-20],"id":"3da0b39b-8a2a-418f-89bc-4bbbf7eaf0ae","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{"temperature":0.7}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[960,180],"id":"4ddd2c73-d87b-4390-b674-3f6e8c72afe1","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"tt7ZuQiKAHQoVWEc","name":"API IA PESSOAS"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1lBmXG83jCFHZfXhR8kfx7JCM0ofEESss","mode":"list","cachedResultName":"SPEDS","cachedResultUrl":"https://drive.google.com/drive/folders/1lBmXG83jCFHZfXhR8kfx7JCM0ofEESss"},"event":"fileCreated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[120,580],"id":"64e72219-a2ff-466c-a6c0-e665db34f509","name":"Google Drive Trigger","credentials":{"googleDriveOAuth2Api":{"id":"rzP1eQCZan8TdHlL","name":"API IA PESSOAS"}},"disabled":true},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[280,580],"id":"1aa8711e-8eae-41da-8307-541a5d26f927","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"rzP1eQCZan8TdHlL","name":"API IA PESSOAS"}}},{"parameters":{"operation":"text","binaryPropertyName":"file","destinationKey":"file","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[280,-20],"id":"ad8faf9e-0a70-41b2-aaa4-ec72f4a2cf4c","name":"Extract from File1"},{"parameters":{"operation":"createFromText","content":"={{ $json.output }}","name":"=JTD Erros {{ $('Edit Fields').item.json.data }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"10mgtkJlQrJ4wwJ74EaJOTl6Hf-U7HcPy","mode":"list","cachedResultName":"Relatorios Fiscais SPED","cachedResultUrl":"https://drive.google.com/drive/folders/10mgtkJlQrJ4wwJ74EaJOTl6Hf-U7HcPy"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[500,580],"id":"3dfa2316-d5ec-4d48-90ec-e4502f8e7ead","name":"Google Drive1","credentials":{"googleDriveOAuth2Api":{"id":"rzP1eQCZan8TdHlL","name":"API IA PESSOAS"}}},{"parameters":{"sseEndpoint":"https://webhook.iapessoas.com.br/mcp/9ae6658f-2b13-40bc-abdd-3ce450764a2b/sse"},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[1560,280],"id":"e3ad4864-f89c-42bd-99eb-747b5410d9bb","name":"MCP GoogleDrive"},{"parameters":{"sseEndpoint":"https://webhook.iapessoas.com.br/mcp/13beb616-b026-47c1-b1a7-372890027317/sse"},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[1380,280],"id":"05a5af5a-5c10-43af-bfc2-2356b34700d1","name":"MCP Google Sheets"},{"parameters":{"assignments":{"assignments":[{"id":"c0b12dfd-4698-474b-9886-75357679eece","name":"data","value":"={{ $json.periodo }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[740,-20],"id":"d3aae9b6-adb7-4371-8dcf-0c309242cff4","name":"Edit Fields"},{"parameters":{"jsCode":"const texto = $input.first().json.file || '';\n\n// Encontrar a linha do bloco 0000\nconst linha0000 = texto.split('\\n').find(l => l.startsWith('|0000|'));\n\nif (!linha0000) {\n  throw new Error(\"Bloco 0000 não encontrado.\");\n}\n\n// Separar os campos\nconst campos = linha0000.split('|');\n\n// Extrair as datas (posições 3 e 4 do padrão SPED)\nconst dataInicio = campos[3]; // Ex: 01012025\nconst dataFim = campos[4];    // Ex: 31012025\n\n// Converter para formato ISO (yyyy-mm-dd)\nfunction formatar(data) {\n  return `${data.slice(4)}-${data.slice(2, 4)}-${data.slice(0, 2)}`;\n}\n\nreturn [\n  {\n    json: {\n      data_inicio: formatar(dataInicio),\n      data_fim: formatar(dataFim),\n      periodo: `${dataInicio}_${dataFim}`\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[520,-20],"id":"d5d82fa5-c1be-4a49-a0dd-bcbbb92b23c0","name":"Code"},{"parameters":{"httpMethod":"POST","path":"25c7c020-afa2-4a9d-b3e7-b7096d792232coisa","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,-20],"id":"3125a8be-b7da-4351-a5e0-913754aa57cc","name":"Webhook","webhookId":"25c7c020-afa2-4a9d-b3e7-b7096d792232"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.3,"position":[1320,-20],"id":"9d29b523-a2ef-45d9-b857-625bf27d0a77","name":"Respond to Webhook"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Google Drive Trigger":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Google Drive1","type":"main","index":0}]]},"Extract from File1":{"main":[[{"node":"Code","type":"main","index":0}]]},"MCP GoogleDrive":{"ai_tool":[[]]},"MCP Google Sheets":{"ai_tool":[[]]},"Edit Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Code":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Extract from File1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"webhook.iapessoas.com.br","user-agent":"python-requests/2.32.3","content-length":"9058","accept":"*/*","accept-encoding":"gzip, br","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"2804:5e74:12a7:8900:21cb:fe1c:fa75:59e3","cf-ipcountry":"BR","cf-ray":"94f24e2f0f051b27-GRU","cf-visitor":"{\"scheme\":\"https\"}","content-type":"multipart/form-data; boundary=af8bc375aa5dbb031de199caa1de9f14","x-forwarded-for":"172.71.238.105","x-forwarded-host":"webhook.iapessoas.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"dbf0426a8fb2","x-real-ip":"172.71.238.105"},"params":{},"query":{},"body":{},"webhookUrl":"https://webhook.iapessoas.com.br/webhook/865577a2-1436-4f5d-a830-e480d629a3ee","executionMode":"production"}}]},"versionId":"f7cd5ea7-1d92-4ea8-9158-3a5ed545e0d4","triggerCount":1,"shared":[{"createdAt":"2025-06-16T13:50:59.497Z","updatedAt":"2025-06-16T13:50:59.497Z","role":"workflow:owner","workflowId":"tB7pOMLeW4mllp29","projectId":"g8BnYlos8HJUUVcr","project":{"createdAt":"2025-05-28T13:28:04.746Z","updatedAt":"2025-05-28T13:31:33.202Z","id":"g8BnYlos8HJUUVcr","name":"IA Pessoas <comercial@castelobrancocontabilidade.com.br>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-05-28T13:28:04.746Z","updatedAt":"2025-05-28T13:28:04.746Z","userId":"17ee4480-754a-4392-9fc2-a6bc3c46ebad","projectId":"g8BnYlos8HJUUVcr","user":{"createdAt":"2025-05-28T13:28:03.022Z","updatedAt":"2025-10-09T03:00:30.587Z","id":"17ee4480-754a-4392-9fc2-a6bc3c46ebad","email":"comercial@castelobrancocontabilidade.com.br","firstName":"IA","lastName":"Pessoas","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-05-28T13:31:41.717Z","personalization_survey_n8n_version":"1.94.1"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"fN5uSWvKRujKur6R","userActivatedAt":1757621781409,"npsSurvey":{"responded":true,"lastShownAt":1749478378830},"dismissedCallouts":{"preBuiltAgentsCalloutHttpRequest":true,"preBuiltAgentsCalloutGoogleDrive":true,"preBuiltAgentsModalCallout":true,"preBuiltAgentsCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-10-09","isPending":false}}]}}],"tags":[{"createdAt":"2025-05-28T13:35:47.754Z","updatedAt":"2025-05-28T13:35:47.754Z","id":"1DfavlTBWEW637E1","name":"Davi Araujo"},{"createdAt":"2025-05-28T13:42:36.788Z","updatedAt":"2025-05-28T13:42:36.788Z","id":"WAZjBah3dok1fH3o","name":"Lino Menezes"},{"createdAt":"2025-06-05T19:11:44.213Z","updatedAt":"2025-06-05T19:11:44.213Z","id":"IQCna85tB5BpphGY","name":"Bernardo"}]}