workflows/Apaga_Reuniões_EMPTY_5undYNAGbit9xTK8.json
{"createdAt":"2025-11-04T18:57:35.174Z","id":"5undYNAGbit9xTK8","name":"Apaga Reuniões EMPTY","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":23,"triggerAtMinute":55}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"id":"04f03c0b-2fbe-43a1-b364-e232822f8855","name":"Schedule Trigger"},{"parameters":{"batchSize":5,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[672,0],"id":"41f35e49-a037-4874-9bc8-5c5e13e1db70","name":"Loop Over Items"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1120,96],"id":"4ee7bb85-29dd-4f1f-870b-ae6260d301be","name":"Wait","webhookId":"d9a350b1-1eda-4c6e-8a57-c9a1948a4554"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[896,-80],"id":"b9f8d27d-8e54-4228-bbaf-86053c3c2482","name":"No Operation, do nothing"},{"parameters":{"operation":"getAll","tableId":"reunioes","returnAll":true,"filters":{"conditions":[{"keyName":"[REDACTED]","condition":"gte","keyValue":"[REDACTED]"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[224,0],"id":"601f0d62-1a09-4274-b5f1-2d953d6b06ef","name":"Get daily rows","retryOnFail":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d6dde746-99b6-4457-8ab6-3136a58da373","leftValue":"={{ $json.resumo_completo }}","rightValue":"=","operator":{"type":"string","operation":"empty","singleValue":true}},{"id":"a8fa00aa-3261-4981-8a12-c2f1eec56a4f","leftValue":"={{ $json.resumo_completo.length }}","rightValue":100,"operator":{"type":"number","operation":"lt"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[464,0],"id":"9eb8011a-b15d-4f3b-9471-39dd61d114eb","name":"Filtra Empty"},{"parameters":{"operation":"delete","tableId":"reunioes","filters":{"conditions":[{"keyName":"[REDACTED]","condition":"eq","keyValue":"[REDACTED]"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[896,96],"id":"fc741a76-ec46-452d-b985-a5f953944ec5","name":"Delete empty row","retryOnFail":true}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get daily rows","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Delete empty row","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Get daily rows":{"main":[[{"node":"Filtra Empty","type":"main","index":0}]]},"Filtra Empty":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Delete empty row":{"main":[[{"node":"Wait","type":"main","index":0}]]}}}