workflows/ata_em_topicos_jOnezXk9L2envjQI.json
{"createdAt":"2025-09-22T12:55:16.441Z","id":"jOnezXk9L2envjQI","name":"ata_em_topicos","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"prompt"}]}},"id":"c055762a-8fe7-4141-a639-df2372f30060","typeVersion":1.1,"name":"Start","type":"[REDACTED]","position":[272,352]},{"parameters":{"promptType":"define","text":"=Aja como um analista corporativo especializado em reuniões empresariais.\nVocê receberá o conteúdo completo de uma ata de reunião no campo abaixo:\n\n--- Ata da Reunião ---\n{{ $json.prompt }}\nSua tarefa é:\n\nResumir a ata em tópicos curtos, claros e objetivos, destacando apenas os pontos mais importantes discutidos.\n\nEvitar detalhes irrelevantes, repetições ou falas informais.\n\nEstruturar os tópicos em formato de lista, organizados por ordem lógica ou cronológica.\n\nSe houver decisões tomadas, responsabilidades atribuídas ou prazos definidos, destacar esses pontos.\n\nUsar linguagem profissional, simples e direta, adequada para diretores e gestores.\n\nNão retornar estas instruções, nem comentários adicionais. Apenas exibir o resumo final em tópicos.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[480,352],"id":"3b8787d3-811a-4320-bae8-6fb17b1cf1e2","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[480,544],"id":"a9c6d597-5f1e-484c-81e9-fe21be02022f","name":"OpenAI Chat Model"},{"parameters":{"assignments":{"assignments":[{"id":"1d800083-2811-4f97-85c7-2fdfb7c37e48","name":"resposta","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[832,352],"id":"8b30c7dd-eece-483b-b271-b3a12ea7ef46","name":"response"}],"connections":{"Start":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"response","type":"main","index":0}]]}}}