workflows/Atrasados_Tb4cHFy7IBirLuie.json
{"createdAt":"2025-10-13T12:22:24.938Z","id":"Tb4cHFy7IBirLuie","name":"Atrasados","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[336,0],"id":"3645dbd8-5005-443d-bc72-f5714aca5f19","name":"Loop Over Items7"},{"parameters":{"amount":3.5},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1440,96],"id":"25359510-0a82-4503-9951-36bf1cd594d6","name":"Wait7","webhookId":"d8c60c36-6959-4acf-ab90-96589b27617f"},{"parameters":{"documentId":{"__rl":true,"value":"[REDACTED]","mode":"list","cachedResultName":"Contatos Omie","cachedResultUrl":"[REDACTED]"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"[REDACTED]"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[736,352],"id":"59f37c31-8ca4-479b-8fbd-14b625ce5083","name":"PlanilhaNomes5"},{"parameters":{"jsCode":"// 1️⃣ Recebe os códigos válidos da etapa anterior (filtro do Omie)\nconst codigosValidos = $items(\"FiltroVencer1\", 0).map(item => item.json.codigo_cliente_fornecedor);\n\n// 2️⃣ Filtra os dados da planilha atual (entrada desse Function)\nreturn items.filter(item =>\n  codigosValidos.includes(item.json.codigo_cliente_omie)\n);\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1568,352],"id":"406b0964-2452-462a-80a1-c88b23b6b7e5","name":"Clientes5"},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"codigo_cliente_fornecedor","field2":"codigo_cliente_omie"}]},"joinMode":"keepEverything","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[1792,176],"id":"5d70f98e-f24e-468d-a05a-6b17de8ab67b","name":"Merge2"},{"parameters":{"jsCode":"return items.map(item => {\n  return {\n    json: {\n      codigo_cliente_fornecedor: item.json.codigo_cliente_fornecedor,\n      codigo_lancamento_omie: item.json.codigo_lancamento_omie,\n      valor: item.json.valor,\n      vencimento: item.json.vencimento,\n      parcela: item.json.parcela,\n      // ... passe tudo que precisa junto\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[512,96],"id":"6f6ea303-5bca-4b32-b37a-029dd167003c","name":"Code"},{"parameters":{"jsCode":"return items.map((item, index) => {\n  const boletoData = item.json;\n  const codigoData = $items(\"Code\")[index].json; // ajuste o nome do nó aqui\n\n  return {\n    json: {\n      codigo_cliente_fornecedor: codigoData.codigo_cliente_fornecedor,\n      codigo_lancamento_omie: codigoData.codigo_lancamento_omie,\n      valor: codigoData.valor,\n      vencimento: codigoData.vencimento,\n      parcela: codigoData.parcela,\n      // Dados do boleto\n      cLinkBoleto: boletoData.cLinkBoleto,\n      codBarras: boletoData.cCodBarras,\n      cCodStatus: boletoData.cCodStatus,\n      cDesStatus: boletoData.cDesStatus,\n      // outros campos do boleto, se quiser\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[832,96],"id":"b5ef5e9b-b18a-4174-9a4d-d20ab138e017","name":"Code9"},{"parameters":{"jsCode":"return [{ json: {} }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[336,352],"id":"91562066-5e1a-4a2a-9c82-bc50abd15849","name":"Zerando Item5"},{"parameters":{"jsCode":"// Sempre força existir apenas item.binary.data\nconst desiredBinaryKey = 'data';\n\nreturn items.map((item) => {\n  const j = item.json || {};\n  const b = item.binary || {};\n\n  // ---- campos básicos do seu input ----\n  const codigoCliente = j.codigo_cliente_fornecedor ?? null;\n  const codigoLanc    = j.codigo_lancamento_omie != null ? String(j.codigo_lancamento_omie) : '';\n  const vencimento    = j.vencimento || 'data não informada';\n  const parcela       = j.parcela || '';\n  const codBarras     = j.cCodBarras || j.codBarras || 'código não disponível';\n\n  // valor -> formatação pt-BR\n  let valorNum = j.valor;\n  if (typeof valorNum === 'string') {\n    valorNum = parseFloat(valorNum.replace(/\\./g, '').replace(',', '.'));\n  }\n  const valorFmt = isNaN(valorNum) ? '0,00' : valorNum.toFixed(2).replace('.', ',');\n\n  // telefone (se existir nos dados)\n  let telefone = (j.telefone || j.telefone1 || j.telefone2 || '')\n    .toString()\n    .replace(/\\D/g, '');\n  if (telefone && !telefone.startsWith('55')) telefone = `55${telefone}`;\n  const nacional = telefone.replace(/^55/, '');\n  const telefoneValido =\n    telefone && (nacional.length === 10 || nacional.length === 11) ? telefone : '';\n\n  // caption\n  let caption =\n    `Olá *${j.nome || 'Cliente'}*,\\n\\n` +\n    `Seu boleto está atrasado, lembre-se de realizar o pagamento:\\n\\n` +\n    `💰 *Valor:* R$ ${valorFmt}\\n` +\n    `📅 *Vencimento:* ${vencimento}\\n` +\n    `📄 *Código de Barras:* ${codBarras}\\n`;\n\n  if (j.pdf_text) caption += `\\n(Documento processado automaticamente)`;\n  caption += `\\n\\nObrigado! Qualquer dúvida, estamos à disposição.`;\n\n  // filename\n  let filename = 'boleto.pdf';\n  const linkBoleto = j.cLinkBoleto || '';\n  const m = (linkBoleto || '').match(/([^\\/\\?]+\\.pdf)(?:\\?|$)/i);\n  if (m) filename = m[1];\n  if (b?.file?.fileName && (!m || !m[1])) filename = b.file.fileName;\n\n  // ---- BINÁRIO: força apenas binary.data ----\n  const newBinary = {};\n  if (b?.file) {\n    newBinary[desiredBinaryKey] = b.file;           // vem do Extract/Download com chave 'file'\n  } else if (b && Object.keys(b).length > 0) {\n    const firstKey = Object.keys(b)[0];             // qualquer outra chave\n    newBinary[desiredBinaryKey] = b[firstKey];\n  }\n\n  // ---- JSON final (mantendo campos do input) ----\n  const out = {\n    json: {\n      codigo_cliente_fornecedor: codigoCliente,\n      codigo_lancamento_omie:    codigoLanc,\n      valor:                     j.valor,\n      vencimento:                j.vencimento,\n      parcela:                   parcela,\n\n      // extras úteis para o envio\n      telefone: telefoneValido,\n      caption,\n      filename,\n      url_pdf: linkBoleto || null,\n      has_pdf: !!linkBoleto || !!newBinary[desiredBinaryKey],\n\n      // mantém texto extraído se houver\n      pdf_text: j.pdf_text || null,\n\n      // se seu item vier com \"data\" em JSON, preserva sem quebrar\n      data: j.data ?? null,\n    },\n  };\n\n  if (newBinary[desiredBinaryKey]) {\n    out.binary = newBinary;\n  }\n\n  return out;\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2048,352],"id":"c98c3aa9-8458-4e2e-9c75-387a4ae9e3e7","name":"Mensagem para Evolution1"},{"parameters":{"method":"POST","url":"[REDACTED]","sendBody":true,"specifyBody":"json","jsonBody":"[REDACTED]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[672,96],"id":"66904c3d-849b-49de-adf6-e841abc2e337","name":"ObterBoleto2"},{"parameters":{"jsCode":"[REDACTED]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,0],"id":"582005c2-bf12-425b-b7c7-9098e07dc7ee","name":"FiltroVencer1","executeOnce":false,"alwaysOutputData":false,"retryOnFail":true},{"parameters":{"url":"={{ $('ObterBoleto2').item.json.cLinkBoleto }}","options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"={{$json[\"filename\"] || \"boleto.pdf\"}}"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[992,96],"id":"8379b1d2-66be-4315-83f1-1bb083c522cc","name":"Baixar2"},{"parameters":{"operation":"binaryToPropery","binaryPropertyName":"boleto.pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1152,96],"id":"59570b30-09d2-4080-a88f-4b0f405213a4","name":"Extract from File"},{"parameters":{"jsCode":"return items.map((item, index) => {\n  // Output do Code3 (dados base)\n  const c3 = ($items(\"Code\")[index] || { json: {} }).json;\n  // Output do Code4 (onde sai o código de barras)\n  const c4 = ($items(\"Code9\")[index] || { json: {} }).json;\n\n  const out = {\n    json: {\n      // ---- do Code3 ----\n      codigo_cliente_fornecedor: c3.codigo_cliente_fornecedor,\n      codigo_lancamento_omie: String(c3.codigo_lancamento_omie ?? ''),\n      valor: c3.valor,\n      vencimento: c3.vencimento,\n      parcela: c3.parcela,\n\n      // ---- do item atual ----\n      data: item.json.data,\n\n      // ---- do Code4 (código de barras) ----\n      codBarras: c4.cCodBarras ?? c4.codBarras ?? item.json.cCodBarras ?? null,\n      // se quiser manter também com o nome original:\n      cCodBarras: c4.cCodBarras ?? item.json.cCodBarras ?? null,\n    }\n  };\n\n  // preserva o binário como binary.data, se existir\n  const b = item.binary || {};\n  const chosen =\n    b.data || b.file || (Object.keys(b).length ? b[Object.keys(b)[0]] : null);\n  if (chosen) out.binary = { data: chosen };\n\n  return out;\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1312,96],"id":"8979f474-0607-4d5a-9590-ce2a347ebbf9","name":"Code10"},{"parameters":{"mode":"combine","fieldsToMatchString":"codigo_lancamento_omie","joinMode":"enrichInput1","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[1568,0],"id":"3f2d80d4-3def-44fa-a76b-9df6bf00734e","name":"Boletos2"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"[REDACTED]","mode":"list","cachedResultName":"Mensagens Boletos","cachedResultUrl":"[REDACTED]"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"[REDACTED]"},"columns":{"mappingMode":"defineBelow","value":{"Nome":"{{ $json.nome }}","Telefone":"{{ $json.telefone1 }}"},"matchingColumns":[],"schema":[{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2048,0],"id":"772471e1-dc61-4385-8cc6-d5c2eb76286e","name":"Append or update row in sheet2","onError":"[REDACTED]"},{"parameters":{"inputSource":"passthrough"},"type":"[REDACTED]","typeVersion":1.1,"position":[-144,0],"id":"6bb626ac-af7f-46e6-baac-b1f1677359ef","name":"When Executed by Another Workflow"}],"connections":{"Loop Over Items7":{"main":[[{"node":"Boletos2","type":"main","index":0}],[{"node":"Code","type":"main","index":0}]]},"Wait7":{"main":[[{"node":"Loop Over Items7","type":"main","index":0}]]},"PlanilhaNomes5":{"main":[[{"node":"Clientes5","type":"main","index":0}]]},"Clientes5":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"Merge2":{"main":[[{"node":"Mensagem para Evolution1","type":"main","index":0}]]},"Code":{"main":[[{"node":"ObterBoleto2","type":"main","index":0}]]},"Code9":{"main":[[{"node":"Baixar2","type":"main","index":0}]]},"Zerando Item5":{"main":[[{"node":"PlanilhaNomes5","type":"main","index":0}]]},"ObterBoleto2":{"main":[[{"node":"Code9","type":"main","index":0}]]},"FiltroVencer1":{"main":[[{"node":"Zerando Item5","type":"main","index":0},{"node":"Loop Over Items7","type":"main","index":0}]]},"Baixar2":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Code10","type":"main","index":0}]]},"Code10":{"main":[[{"node":"Wait7","type":"main","index":0}]]},"Boletos2":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"FiltroVencer1","type":"main","index":0}]]}}}