workflows/backup-n8n_QBHaG3bu6gCeKETj.json
{"createdAt":"2025-09-30T19:04:22.548Z","id":"QBHaG3bu6gCeKETj","name":"backup-n8n","active":true,"isArchived":false,"nodes":[{"parameters":{"url":"[REDACTED]","options":{},"headerParametersUi":{"parameter":[{"name":"X-N8N-API-KEY","value":"[REDACTED]"}]}},"name":"Get Workflow","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[768,272],"id":"8dd06134-93b3-4100-84eb-086d918af556","notesInFlow":true,"notes":"Requisicao para retornar as informacoes de cada workflow"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[960,336],"id":"d46762e5-f3b0-4f94-8667-57b64b297ac3","name":"Wait","webhookId":"0739e5d0-d9ba-478b-8e22-c484165c35cb"},{"parameters":{"batchSize":10,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[592,160],"id":"f0da93fd-fbdc-4b8d-961f-be8149ec5b58","name":"Loop"},{"parameters":{"jsCode":"const workflows = items[0].json.data;\nreturn workflows.map(wf => ({ json: wf }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[384,160],"id":"ed3b9a8b-ccad-4264-92d3-805f43ce9d7c","name":"Split Workflows","notesInFlow":true,"notes":"Mapeia todos formando uma lista"},{"parameters":{"url":"https://n8n.iapessoas.com.br/api/v1/workflows?limit=100","options":{},"headerParametersUi":{"parameter":[{"name":"X-N8N-API-KEY","value":"[REDACTED]"}]}},"name":"Listar Workflows","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[176,160],"id":"e8a59df1-7632-436a-9033-70c2fe790f26","notesInFlow":true,"notes":"Requisição para lsitar todos os workflows"},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"iapessoastecnologia","mode":"list","cachedResultName":"iapessoastecnologia","cachedResultUrl":"[REDACTED]"},"repository":{"__rl":true,"value":"backup-n8n","mode":"list","cachedResultName":"backup-n8n","cachedResultUrl":"[REDACTED]"},"filePath":"={{ $json.path }}","asBinaryProperty":false,"additionalParameters":{}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[1136,144],"id":"77ab7c79-3e8a-428c-aefd-faa0f4159d31","name":"Get a file","webhookId":"f2ddec56-0ff7-4c90-9d3f-9d8fb10dd2b6","retryOnFail":false,"notesInFlow":true,"onError":"continueErrorOutput","notes":"Busca se o workflow ja existe no repo. Caso falhe, o fluxo ainda nao existe e segue para a criação do arquivo no repo, caso obtenha sucesso, o fluxo ja exista, e segue para atualização"},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"iapessoastecnologia","mode":"list","cachedResultName":"iapessoastecnologia","cachedResultUrl":"[REDACTED]"},"repository":{"__rl":true,"value":"backup-n8n","mode":"list","cachedResultName":"backup-n8n","cachedResultUrl":"[REDACTED]"},"filePath":"={{ $('Get Path e Content do N8N').item.json.path }}","fileContent":"={{ $('Get Path e Content do N8N').item.json.content.toJsonString() }}","commitMessage":"=Add workflow - {{ $json.workflowName }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[1600,-112],"id":"fef8c955-95fc-4db1-9a2a-b13d859dde1d","name":"Create a file","webhookId":"95ff2e21-ae7b-470e-9a1a-68070025f4a6"},{"parameters":{"batchSize":6,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1376,-128],"id":"4a5562c8-0e4e-48b8-9287-2a0ec3852fca","name":"Loop Over Items"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1808,-112],"id":"c5fd4902-486f-43e7-946f-565f2b444d40","name":"Wait1","webhookId":"6c7129ad-47a2-4438-aa5f-59d26a9bcb3e"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1584,-256],"id":"696f71a7-66c9-49bf-9906-e0fa029e646f","name":"No Operation, do nothing"},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"iapessoastecnologia","mode":"list","cachedResultName":"iapessoastecnologia","cachedResultUrl":"[REDACTED]"},"repository":{"__rl":true,"value":"backup-n8n","mode":"list","cachedResultName":"backup-n8n","cachedResultUrl":"[REDACTED]"},"filePath":"={{ $('Get Path e Content do N8N').all()[$itemIndex].json.path }}","fileContent":"={{ JSON.stringify($('Get Path e Content do N8N').all()[$itemIndex].json.content, null, 2) }}\n","commitMessage":"=Update workflow - {{ $('Get Path e Content do N8N').all()[$itemIndex].json.workflowName }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[2336,560],"id":"9feed354-6e4d-41a2-b0ae-8c8f48584c62","name":"Edit a file","webhookId":"df535b9a-d3f5-4cfe-ac49-2389316948a1"},{"parameters":{"batchSize":8,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2112,544],"id":"ff5e1450-db65-4128-95c9-fef0c3b8ebbe","name":"Loop Over Items1"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2544,560],"id":"a1dbffcf-2f7a-4fcb-89f0-d82801e2aab0","name":"Wait2","webhookId":"9276742c-738f-4228-b7e8-382610f56378"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2320,400],"id":"6450ca76-484c-49fe-8d1c-3d2a11d9f46d","name":"No Operation, do nothing1"},{"parameters":{"rule":{"interval":[{"triggerAtHour":12,"triggerAtMinute":45},{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-16,160],"id":"0a917bd9-2f7a-4e26-8a61-107cdcf63678","name":"Schedule Trigger"},{"parameters":{"content":"## Atualiza arquivo\n\n- Atualiza o arquivo na pasta do repositorio","height":464,"width":656,"color":4},"type":"n8n-nodes-base.stickyNote","position":[2048,288],"typeVersion":1,"id":"e6b87f4a-4b95-4959-a3bc-70467c18f70b","name":"Sticky Note"},{"parameters":{"content":"## Cria arquivo\n\n- Adiciona o novo workflow na pasta do repositorio","height":464,"width":704,"color":5},"type":"n8n-nodes-base.stickyNote","position":[1312,-368],"typeVersion":1,"id":"1ed049cb-1332-4db5-a0ef-387f3772e6d6","name":"Sticky Note1"},{"parameters":{"content":"## Informações dos workflows \n\n- Lista todos os workflows\n- Captura as informações de cada workflow\n- Separa as informações uteis (path e content)","height":544,"width":1184},"type":"n8n-nodes-base.stickyNote","position":[-64,0],"typeVersion":1,"id":"174d05f1-448a-448a-a957-2d4648ac5f7d","name":"Sticky Note2"},{"parameters":{"operation":"toBinary","sourceProperty":"content","binaryPropertyName":"content","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1360,416],"id":"6d3ed52b-cc89-40fb-a2be-3e2b5d81b4aa","name":"Convert to File"},{"parameters":{"jsCode":"const n8nItems = $items(\"Get Path e Content do N8N\", 0);\nconst githubItems = $items(\"Extração do github\", 0);\n\nfunction sanitizeNode(node) {\n  const clean = {\n    name: node.name,\n    type: node.type,\n    parameters: { ...node.parameters },\n  };\n  // remove parâmetros voláteis\n  delete clean.parameters.options;\n  delete clean.parameters.flags;\n  delete clean.parameters.propertiesUi;\n  return clean;\n}\n\nfunction extractCore(workflow) {\n  if (!workflow) return {};\n  return {\n    name: workflow.name,\n    nodes: (workflow.nodes || []).map(sanitizeNode),\n    connections: workflow.connections || {},\n  };\n}\n\nfunction normalize(obj) {\n  if (Array.isArray(obj)) {\n    return obj.map(normalize).sort((a, b) =>\n      JSON.stringify(a).localeCompare(JSON.stringify(b))\n    );\n  }\n  if (obj && typeof obj === \"object\") {\n    const sorted = {};\n    for (const k of Object.keys(obj).sort()) {\n      sorted[k] = normalize(obj[k]);\n    }\n    return sorted;\n  }\n  return obj;\n}\n\nfunction isSameWorkflow(a, b) {\n  return JSON.stringify(normalize(extractCore(a))) === JSON.stringify(normalize(extractCore(b)));\n}\n\nconst results = [];\n\nfor (let i = 0; i < n8nItems.length; i++) {\n  const wfN8n = n8nItems[i].json.content;\n  const wfGit = githubItems[i]?.json?.content;\n  const match = isSameWorkflow(wfN8n, wfGit);\n\n  results.push({\n    json: {\n      index: i,\n      workflowName: n8nItems[i].json.workflowName,\n      path: n8nItems[i].json.path,\n      match,\n      motivo: match\n        ? \"Fluxo lógico idêntico\"\n        : \"Diferença em parâmetros essenciais (nodes/conexões)\",\n    },\n  });\n}\n\nreturn results;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1728,416],"id":"fc8e8180-88e5-4567-909a-2b338859bd8c","name":"Code in JavaScript"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.match }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true},"id":"3c1797d0-58e0-4d19-b32d-d2513b6cf41d"}],"combinator":"and"},"renameOutput":true,"outputKey":"[REDACTED]"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"79080893-2fde-4c1b-aeed-80100c9843fa","leftValue":"={{ $json.match }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"[REDACTED]"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[1904,416],"id":"80c6a337-2cff-4037-a191-e570894cdb02","name":"Switch"},{"parameters":{"content":"## Compara content \n- compara o content retornado pelo git com o content presente no workflow","height":304,"width":704,"color":2},"type":"n8n-nodes-base.stickyNote","position":[1312,288],"typeVersion":1,"id":"32ec8c12-a2c8-4bae-bdd4-c85eae3e4dfd","name":"Sticky Note3"},{"parameters":{"jsCode":"return items.map(item => {\n  const workflow = item.json;\n\n  // 🧹 Função para limpar segredos e tokens detectáveis\n  function removeSecrets(obj) {\n    if (!obj || typeof obj !== 'object') return obj;\n    for (const key in obj) {\n      if (\n        /token|key|secret|password|api/i.test(key) &&\n        typeof obj[key] === 'string'\n      ) {\n        obj[key] = '[REDACTED]';\n      } else if (typeof obj[key] === 'object') {\n        obj[key] = removeSecrets(obj[key]);\n      }\n    }\n    return obj;\n  }\n\n  // 🧽 Limpa segredos do workflow\n  const wf = removeSecrets({ ...workflow });\n\n  // 🔧 Remove campos voláteis que causam diferenças constantes\n  delete wf.updatedAt;\n  delete wf.versionId;\n  delete wf.pinData;\n  delete wf.meta;\n  delete wf.staticData;\n  delete wf.tags;\n  delete wf.settings;\n  delete wf.shared;\n  delete wf.triggerCount;\n\n  // 🗂️ Define path completo e nome limpo\n  const path = `workflows/${wf.name.replace(/\\s+/g, '_')}_${wf.id}.json`;\n  const fileName = path.split('/').pop().replace('.json', '');\n  const cleanName = fileName.replace(/_[A-Za-z0-9]+$/, '');\n  const workflowName = cleanName.replace(/_/g, ' ');\n\n  return {\n    json: {\n      path,\n      content: wf,\n      workflowName: workflowName.trim(),\n    },\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[928,144],"id":"d06dba8d-d9fe-43c8-b0d0-1ed92bd144fd","name":"Get Path e Content do N8N","notesInFlow":true,"notes":"Retorna o caminho e o conteudo do workflow"},{"parameters":{"operation":"fromJson","binaryPropertyName":"content","destinationKey":"[REDACTED]","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1536,416],"id":"59801d6d-a0df-489d-9219-d0a140c3cea4","name":"Extração do github"}],"connections":{"Get Workflow":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop","type":"main","index":0}]]},"Loop":{"main":[[{"node":"Get Path e Content do N8N","type":"main","index":0}],[{"node":"Get Workflow","type":"main","index":0}]]},"Split Workflows":{"main":[[{"node":"Loop","type":"main","index":0}]]},"Listar Workflows":{"main":[[{"node":"Split Workflows","type":"main","index":0}]]},"Get a file":{"main":[[{"node":"Convert to File","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Create a file","type":"main","index":0}]]},"Create a file":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}],[{"node":"Edit a file","type":"main","index":0}]]},"Edit a file":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Listar Workflows","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Extração do github","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}],[{"node":"Loop Over Items1","type":"main","index":0}]]},"Get Path e Content do N8N":{"main":[[{"node":"Get a file","type":"main","index":0}]]},"Extração do github":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]}}}