workflows/Bot_-_Discord_CyRSlSXky3UXe6YS.json
{"createdAt":"2025-09-23T17:50:25.089Z","id":"CyRSlSXky3UXe6YS","name":"Bot - Discord","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"Atus","responseMode":"lastNode","options":{"binaryPropertyName":"rawRequest","rawBody":true}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-496,640],"id":"4fe169cb-e8af-458b-86ff-4723ab841e00","name":"Webhook","webhookId":"22b21794-d4b5-4a89-a83f-918663acfdd3"},{"parameters":{"jsCode":"const nacl = require('tweetnacl');\n\n// IMPORTANTE: Verifique se esta é a chave pública correta do seu bot Discord\n// Você pode encontrar ela no Discord Developer Portal > Seu App > General Information > Public Key\nconst PUBLIC_KEY = '[PUBLIC_KEY]';\n\nconst signature = $json.headers['x-signature-ed25519'];\nconst timestamp = $json.headers['x-signature-timestamp'];\n\n// Pegar o body cru do webhook\nconst body = $json.body;\n\n// Verificar se todos os dados necessários estão presentes\nif (!signature || !timestamp || !body) {\n    console.log('Dados faltando para verificação');\n    return [{ json: { \n        verified: false, \n        error: 'Missing signature, timestamp or body',\n        signature: !!signature,\n        timestamp: !!timestamp,\n        body: !!body\n    }}];\n}\n\ntry {\n    // Criar o payload para verificação (timestamp + body)\n    const payload = timestamp + JSON.stringify(body);\n    \n    // Converter para buffers\n    const payloadBuffer = Buffer.from(payload, 'utf8');\n    const signatureBuffer = Buffer.from(signature, 'hex');\n    const publicKeyBuffer = Buffer.from(PUBLIC_KEY, 'hex');\n\n    console.log(payloadBuffer)\n    console.log(signatureBuffer)\n    console.log(publicKeyBuffer)\n    // Verificar a assinatura\n    const isVerified = nacl.sign.detached.verify(\n        payloadBuffer,\n        signatureBuffer,\n        publicKeyBuffer\n    );\n    console.log(isVerified)\n    \n    return [{ json: { \n        verified: true, \n        raw: body,\n        debug: {\n            signatureLength: signatureBuffer.length,\n            publicKeyLength: publicKeyBuffer.length,\n            payloadLength: payloadBuffer.length,\n            timestamp: timestamp\n        }\n    }}];\n    \n} catch (error) {\n    return [{ json: { \n        verified: false, \n        error: error.message,\n        raw: body \n    }}];\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-32,16],"id":"92fdebce-0012-4284-b9b7-63deb116f038","name":"Code in JavaScript","disabled":true},{"parameters":{"respondWith":"json","responseBody":"{ \"type\": 1 }\n","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[432,0],"id":"5e61dd32-e16f-4082-8b26-4fce3c364f4e","name":"Respond to Webhook","disabled":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Webhook').item.json.body.content }}","rightValue":"={{ $json.commands[0] }}","operator":{"type":"string","operation":"equals"},"id":"38685b63-05ff-4571-a940-b24b8a210b43"}],"combinator":"and"},"renameOutput":true,"outputKey":"[REDACTED]"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ceca3d15-c566-4e3e-b17f-f0c0383168c7","leftValue":"={{ $('Webhook').item.json.body.content }}","rightValue":"={{ $json.commands[1] }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"[REDACTED]"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"292692ea-6509-4cbd-a5d9-e936899943d3","leftValue":"={{ $('Webhook').item.json.body.content }}","rightValue":"={{ $json.commands[2] }}","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"[REDACTED]"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"eea47f6c-cfe5-4c52-a574-1248443335fc","leftValue":"={{ $json.commands.includes($('Webhook').item.json.body.content)}}","rightValue":"=","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"[REDACTED]"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[256,608],"id":"d9ea0018-07b4-4b51-aae9-7a0e985a29ce","name":"Switch"},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"1412776659505119316","mode":"list","cachedResultName":"Desenvolvimento - Dep IA","cachedResultUrl":"[REDACTED]"},"channelId":{"__rl":true,"value":"={{ $('Webhook').item.json.body.channel_id }}","mode":"id"},"content":"={{$json.response_content}}","options":{"flags":["SUPPRESS_NOTIFICATIONS"]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[800,432],"id":"dd41da52-0103-4eea-bfb8-7846f2901843","name":"Send a message","webhookId":"8f01faa4-6e46-42fc-83a6-140a0c8c9345"},{"parameters":{"assignments":{"assignments":[{"id":"b6089f82-b2e9-4765-91b7-365736d7741b","name":"response_content","value":"Pong!","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[592,352],"id":"2acdfd7b-e625-46e8-9e2b-27a144ca7bc3","name":"Pong"},{"parameters":{"assignments":{"assignments":[{"id":"0bfdbbb3-e61f-425e-b447-b762c240accf","name":"response_content","value":"[REDACTED]","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[592,512],"id":"9d191eee-287a-4e51-b386-83b8e8dcf3cd","name":"credenciais"},{"parameters":{"assignments":{"assignments":[{"id":"55d31e7d-fc4e-4582-8061-93644319d589","name":"num","value":"={{ $('Webhook').item.json.body.content.replaceAll('!clear', '').toNumber()}}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[592,656],"id":"567908ce-f154-4111-b441-27a24085a5f1","name":"clear"},{"parameters":{"resource":"message","operation":"getAll","guildId":{"__rl":true,"value":"1412776659505119316","mode":"list","cachedResultName":"Desenvolvimento - Dep IA","cachedResultUrl":"[REDACTED]"},"channelId":{"__rl":true,"value":"={{ $('Webhook').item.json.body.channel_id }}","mode":"id"},"limit":"={{ $json.num }}","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[800,656],"id":"92e8038c-3381-4f59-8b80-d44d1420146a","name":"Get many messages1","webhookId":"694e9990-9e81-4bbd-95ef-d2897334a571"},{"parameters":{"resource":"message","operation":"deleteMessage","guildId":{"__rl":true,"value":"1412776659505119316","mode":"list","cachedResultName":"Desenvolvimento - Dep IA","cachedResultUrl":"[REDACTED]"},"channelId":{"__rl":true,"value":"={{ $('Webhook').item.json.body.channel_id }}","mode":"id"},"messageId":"={{ $json.id }}"},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1312,672],"id":"85b5d95e-f132-436c-92a5-7ba7877d3739","name":"Delete a message","webhookId":"90796892-e54e-461b-bf1e-59091160d67e","onError":"[REDACTED]"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2788445c-efef-445b-8109-7cdc005478e9","leftValue":"={{ $json.verified }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[176,16],"id":"dd1f3563-af07-4ee9-8d4e-ba0db7775ead","name":"If","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"eddc1512-8125-47a3-9faa-6ed3689d81c3","name":"commands","value":"[ \"!ping\", \"!credenciais\", \"!clear\"]","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,640],"id":"59af6be9-3042-4eda-9b46-719c690c6ee6","name":"Comands"},{"parameters":{"values":{"string":[{"name":"application_id","value":"1418331570728734814"},{"name":"guild_id","value":"1412776659505119316"},{"name":"bot_token","value":"[REDACTED]"}]},"options":{}},"id":"9ca1a47f-659b-498a-b6c3-c6a6b35415f1","name":"Definir IDs","type":"n8n-nodes-base.set","typeVersion":2,"position":[-272,640]},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1072,656],"id":"2a39af57-d835-4d64-ab94-ed9013753a55","name":"Loop Over Items"},{"parameters":{"amount":0.5},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1520,672],"id":"967a8da5-293c-4df3-b3d8-0f946da19b12","name":"Wait","webhookId":"87815d79-0ca0-4e8a-92a3-1fba5d4ade79"},{"parameters":{"content":"## VALIDAÇÃO ÚNICA\n\n- Nós usados para validar a url no portal de desenvolvedor do Discord","height":320,"width":720},"type":"n8n-nodes-base.stickyNote","position":[-80,-112],"typeVersion":1,"id":"cb8e2f44-56c3-49ca-9fbc-b8cf7f906c1e","name":"Sticky Note"},{"parameters":{"content":"## Set de dados\n\n- set de credenciais\n- set de comandos","height":320,"width":512,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-336,496],"typeVersion":1,"id":"98b49282-d80a-41c4-8831-57d4c2bc784d","name":"Sticky Note1"},{"parameters":{"content":"## Verificação das mensagens para direcionamento do fluxo","height":544,"width":688,"color":6},"type":"n8n-nodes-base.stickyNote","position":[240,304],"typeVersion":1,"id":"309b529f-e6dc-427f-9d1a-fbd7a16b48bf","name":"Sticky Note2"},{"parameters":{"content":"## Loop para deleção controlada de mensagens","height":288,"width":720,"color":3},"type":"n8n-nodes-base.stickyNote","position":[976,576],"typeVersion":1,"id":"2d545634-e02f-4e02-8905-295a899468c9","name":"Sticky Note3"}],"connections":{"Webhook":{"main":[[{"node":"Definir IDs","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"If","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Pong","type":"main","index":0}],[{"node":"credenciais","type":"main","index":0}],[{"node":"clear","type":"main","index":0}]]},"Pong":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"credenciais":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"clear":{"main":[[{"node":"Get many messages1","type":"main","index":0}]]},"Get many messages1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Delete a message":{"main":[[{"node":"Wait","type":"main","index":0}]]},"If":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Comands":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Definir IDs":{"main":[[{"node":"Comands","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Delete a message","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}}}