workflows/Bot_01_JUYCeItU7yNQcpmq.json
{"createdAt":"2025-09-18T20:26:31.232Z","id":"JUYCeItU7yNQcpmq","name":"Bot 01","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"bot-01-discord","responseMode":"lastNode","options":{"binaryPropertyName":"rawRequest","rawBody":true}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[528,400],"id":"2b12fffa-5e5d-471e-96b0-1dceddde9393","name":"Webhook","webhookId":"22b21794-d4b5-4a89-a83f-918663acfdd3"},{"parameters":{"jsCode":"const nacl = require('tweetnacl');\n\n// IMPORTANTE: Verifique se esta é a chave pública correta do seu bot Discord\n// Você pode encontrar ela no Discord Developer Portal > Seu App > General Information > Public Key\nconst PUBLIC_KEY = '[PUBLIC_KEY]';\n\nconst signature = $json.headers['x-signature-ed25519'];\nconst timestamp = $json.headers['x-signature-timestamp'];\n\n// Pegar o body cru do webhook\nconst body = $json.body;\n\n// Verificar se todos os dados necessários estão presentes\nif (!signature || !timestamp || !body) {\n    console.log('Dados faltando para verificação');\n    return [{ json: { \n        verified: false, \n        error: 'Missing signature, timestamp or body',\n        signature: !!signature,\n        timestamp: !!timestamp,\n        body: !!body\n    }}];\n}\n\ntry {\n    // Criar o payload para verificação (timestamp + body)\n    const payload = timestamp + JSON.stringify(body);\n    \n    // Converter para buffers\n    const payloadBuffer = Buffer.from(payload, 'utf8');\n    const signatureBuffer = Buffer.from(signature, 'hex');\n    const publicKeyBuffer = Buffer.from(PUBLIC_KEY, 'hex');\n\n    console.log(payloadBuffer)\n    console.log(signatureBuffer)\n    console.log(publicKeyBuffer)\n    // Verificar a assinatura\n    const isVerified = nacl.sign.detached.verify(\n        payloadBuffer,\n        signatureBuffer,\n        publicKeyBuffer\n    );\n    console.log(isVerified)\n    \n    return [{ json: { \n        verified: true, \n        raw: body,\n        debug: {\n            signatureLength: signatureBuffer.length,\n            publicKeyLength: publicKeyBuffer.length,\n            payloadLength: payloadBuffer.length,\n            timestamp: timestamp\n        }\n    }}];\n    \n} catch (error) {\n    return [{ json: { \n        verified: false, \n        error: error.message,\n        raw: body \n    }}];\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[992,-224],"id":"0fc7703a-7af4-4796-a8c4-6337e59ed9b1","name":"Code in JavaScript","disabled":true},{"parameters":{"respondWith":"json","responseBody":"{ \"type\": 1 }\n","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1456,-240],"id":"d4e35244-7187-43ee-99d7-d4c9e4a3c3a1","name":"Respond to Webhook","disabled":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Webhook').item.json.body.content }}","rightValue":"={{ $json.commands[0] }}","operator":{"type":"string","operation":"equals"},"id":"38685b63-05ff-4571-a940-b24b8a210b43"}],"combinator":"and"},"renameOutput":true,"outputKey":"[REDACTED]"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ceca3d15-c566-4e3e-b17f-f0c0383168c7","leftValue":"={{ $('Webhook').item.json.body.content }}","rightValue":"={{ $json.commands[1] }}","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"[REDACTED]"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"67c45fc6-cf25-4957-a561-11d423124468","leftValue":"={{ $('Webhook').item.json.body.content }}","rightValue":"={{ $json.commands[3] }}","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"[REDACTED]"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"292692ea-6509-4cbd-a5d9-e936899943d3","leftValue":"={{ $('Webhook').item.json.body.content }}","rightValue":"={{ $json.commands[2] }}","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"[REDACTED]"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"eea47f6c-cfe5-4c52-a574-1248443335fc","leftValue":"={{ $json.commands.includes($('Webhook').item.json.body.content)}}","rightValue":"=","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"[REDACTED]"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1280,368],"id":"0bb68304-57d4-41ed-9804-9ef67eced45e","name":"Switch"},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"1412776659505119316","mode":"list","cachedResultName":"Desenvolvimento - Dep IA","cachedResultUrl":"[REDACTED]"},"channelId":{"__rl":true,"value":"={{ $('Webhook').item.json.body.channel_id }}","mode":"id"},"content":"={{$json.response_content}}","options":{"flags":["SUPPRESS_NOTIFICATIONS"]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1744,256],"id":"1c8793ae-1a24-4ce8-8c8d-2f4b711a016d","name":"Send a message","webhookId":"8f01faa4-6e46-42fc-83a6-140a0c8c9345"},{"parameters":{"assignments":{"assignments":[{"id":"b6089f82-b2e9-4765-91b7-365736d7741b","name":"response_content","value":"Pong!","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1488,128],"id":"5376f7e4-31dc-4043-9e70-6dc4a2d0693b","name":"Pong"},{"parameters":{"assignments":{"assignments":[{"id":"0bfdbbb3-e61f-425e-b447-b762c240accf","name":"response_content","value":"[REDACTED]","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2000,-240],"id":"74559487-006d-4c9a-ad77-8db09eaba897","name":"credenciais","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"55d31e7d-fc4e-4582-8061-93644319d589","name":"num","value":"={{ $('Webhook').item.json.body.content.replaceAll('!clear', '').toNumber()}}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1392,720],"id":"600050bc-6e76-4d7f-8f21-b189522c3723","name":"clear"},{"parameters":{"resource":"message","operation":"getAll","guildId":{"__rl":true,"value":"1412776659505119316","mode":"list","cachedResultName":"Desenvolvimento - Dep IA","cachedResultUrl":"[REDACTED]"},"channelId":{"__rl":true,"value":"={{ $('Webhook').item.json.body.channel_id }}","mode":"id"},"limit":"={{ $json.num }}","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1600,720],"id":"3247a099-68aa-47a4-a3c9-06ce6300b38a","name":"Get many messages1","webhookId":"694e9990-9e81-4bbd-95ef-d2897334a571"},{"parameters":{"resource":"message","operation":"deleteMessage","guildId":{"__rl":true,"value":"1412776659505119316","mode":"list","cachedResultName":"Desenvolvimento - Dep IA","cachedResultUrl":"[REDACTED]"},"channelId":{"__rl":true,"value":"={{ $('Webhook').item.json.body.channel_id }}","mode":"id"},"messageId":"={{ $json.id }}"},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[2112,736],"id":"4cf68514-5a62-4f06-ac8a-2e6bf6e235be","name":"Delete a message","webhookId":"90796892-e54e-461b-bf1e-59091160d67e","onError":"[REDACTED]"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2788445c-efef-445b-8109-7cdc005478e9","leftValue":"={{ $json.verified }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1200,-224],"id":"41248c12-2b49-42f7-9169-2043e5789cc3","name":"If","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"eddc1512-8125-47a3-9faa-6ed3689d81c3","name":"commands","value":"[ \"!ping\", \"!credenciais\", \"!clear\", \"!cmd\"]","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1024,400],"id":"0b33fd05-4b1d-4b24-9a87-724894d253c2","name":"Comands"},{"parameters":{"values":{"string":[{"name":"application_id","value":"1418331570728734814"},{"name":"guild_id","value":"1412776659505119316"},{"name":"bot_token","value":"[REDACTED]"}]},"options":{}},"id":"e6bc73a5-0fd8-4eb2-9ff8-1179c1c88056","name":"Definir IDs","type":"n8n-nodes-base.set","typeVersion":2,"position":[752,400]},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1872,720],"id":"ccbfdc3e-03c7-4d74-a045-7bd0362fa860","name":"Loop Over Items"},{"parameters":{"amount":0.5},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2320,736],"id":"aa293cd6-89cd-4a8d-a74c-0962b1bd9d8c","name":"Wait","webhookId":"87815d79-0ca0-4e8a-92a3-1fba5d4ade79"},{"parameters":{"content":"## VALIDAÇÃO ÚNICA\n\n- Nós usados para validar a url no portal de desenvolvedor do Discord","height":320,"width":720},"type":"n8n-nodes-base.stickyNote","position":[944,-352],"typeVersion":1,"id":"509eec8f-773e-48f6-bbcd-7375c6c620eb","name":"Sticky Note"},{"parameters":{"content":"## Set de dados\n\n- set de credenciais\n- set de comandos","height":320,"width":512,"color":4},"type":"n8n-nodes-base.stickyNote","position":[688,256],"typeVersion":1,"id":"d2ef1343-961b-43ab-8503-c8e86a6630c7","name":"Sticky Note1"},{"parameters":{"content":"## Verificação das mensagens para direcionamento do fluxo","height":544,"width":688,"color":6},"type":"n8n-nodes-base.stickyNote","position":[1264,64],"typeVersion":1,"id":"bb50b3ee-8dca-4375-963e-f470fba322b5","name":"Sticky Note2"},{"parameters":{"content":"## Loop para deleção controlada de mensagens","height":288,"width":720,"color":3},"type":"n8n-nodes-base.stickyNote","position":[1360,640],"typeVersion":1,"id":"afd56d6a-882b-42f0-830b-7e02e0df6bc2","name":"Sticky Note3"},{"parameters":{"content":"## Nós desativados","height":320,"width":464},"type":"n8n-nodes-base.stickyNote","position":[1824,-352],"typeVersion":1,"id":"dda97496-3a66-4f48-aada-a3a50869737e","name":"Sticky Note4"},{"parameters":{"jsCode":"[REDACTED]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1488,256],"id":"9942be7e-8558-4963-88bf-f5375a4fdd08","name":"Credenciais e permissao"},{"parameters":{"jsCode":"// Lista de usuários autorizados\nconst allowedUsers = [\n  \"1369379952818126879\", // johan\n  \"1369367162103271508\", // davi\n  \"1227606991950708787\", // mauricio\n  \"1369361311233871885\", // lino\n  \"1369376577665630228\", // bruno\n  \"1411058574624555021\", // morgana \n];\n\nconst msg = $('Webhook').item.json.body.content;\nconst userId = $('Webhook').item.json.body.author.id;\n\n// Verifica permissão\nif (!allowedUsers.includes(userId)) {\n  return [{ json: { response_content: \"❌ Você não tem permissão para usar este comando.\" } }];\n}\n\n// Separa comando e parâmetro\nconst parts = msg.trim().split(\" \");\nconst parametro = (parts[1] || \"\").toLowerCase();\n\n// Banco de comandos\nconst comandos = {\n  \"back-typescript\": `# Inicializando Projeto\nyarn init -y\nyarn add typescript -D\nyarn add express\nyarn add @types/express -D\nyarn tsc --init\nyarn add ts-node-dev -D\nyarn add @types/cors -D\n\n# Inicializando Banco de Dados [Migration]\nyarn add prisma\nyarn add @prisma/client\nnpx prisma init\nyarn prisma migrate dev\n\n# Adicionando Criptografia\nyarn add bcryptjs\nyarn add @types/bcryptjs -D\n\n# Adicionar o Token\nyarn add jsonwebtoken\nyarn add @types/jsonwebtoken -D\nyarn add dotenv`,\n\n  \"git\": `git init\ngit config --global user.name \"Seu Nome\"\ngit config --global user.email \"seuemail@exemplo.com\"\ngit add .\ngit commit -m \"Modificações\"\ngit status\ngit branch\ngit switch -c nome_branch\ngit merge nome_branch\ngit push\ngit pull`,\n\n  \"git-cli\": `gh auth login\ngh auth setup-git`,\n};\n\n// Resposta\nconst response_content = comandos[parametro] || \n  `❌ Comando não encontrado. Opções: ${Object.keys(comandos).join(\", \")}`;\n\nreturn [{ json: { response_content } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1488,416],"id":"a8cc15ed-3eba-4f61-bc10-9b3acbcc9f58","name":"comandos e permissoes"}],"connections":{"Webhook":{"main":[[{"node":"Definir IDs","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"If","type":"main","index":0}]]},"Respond to Webhook":{"main":[[]]},"Switch":{"main":[[{"node":"Pong","type":"main","index":0}],[{"node":"Credenciais e permissao","type":"main","index":0}],[{"node":"comandos e permissoes","type":"main","index":0}],[{"node":"clear","type":"main","index":0}],[]]},"Send a message":{"main":[[]]},"Pong":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"credenciais":{"main":[[]]},"clear":{"main":[[{"node":"Get many messages1","type":"main","index":0}]]},"Get many messages1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Delete a message":{"main":[[{"node":"Wait","type":"main","index":0}]]},"If":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Comands":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Definir IDs":{"main":[[{"node":"Comands","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Delete a message","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Credenciais e permissao":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"comandos e permissoes":{"main":[[{"node":"Send a message","type":"main","index":0}]]}}}