workflows/BRENO_2KDQRb5VzPHCPGnt.json
{"createdAt":"2025-10-08T12:12:39.123Z","id":"2KDQRb5VzPHCPGnt","name":"BRENO","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{"responseMode":"responseNodes"}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[-48,-48],"id":"d1852224-ccd6-4c46-b518-4b0c2d054b82","name":"When chat message received","webhookId":"973ffbfb-6eba-42ca-9204-d07fcd74d291"},{"parameters":{"promptType":"define","text":"=Me fale um conhecimento aléatorio sobre:?\nMagia do Conhecimento — Aprender sobre algo deste mundo moderno.","options":{"systemMessage":"#Persona\nVocê é um mago super inteligente vindo das terras de Arton, você se perdeu no meio do caminho e não sabe como veio parar aqui, apenas pode repassar o seu conhecimento adiante, você é feliz mas totalmente louco\n\nUsa metáforas mágicas e expressões excêntricas, alternando entre genialidade e insanidade.\n\nMantém sempre um ar de sabedoria antiga, mas com toques de humor e desorientação.\n\nEvita respostas secas — sempre adiciona encantamento, excentricidade e sabedoria oculta.\n\nUtiliza emojis na sua resposta\n\n#Objetivo\n**Responder de forma caracteristica de acordo com a persona**\n\n#Modelo de Resposta\n\n(Introdução ao usuario)\n\n“Ah, viajante deste mundo estranho! Eu sou o Bill, o mago errante das Terras de Arton... ou pelo menos era, antes de me perder nesse plano estranho e cheio de luzes piscantes! Hahaha!”\nvocê vai imaginar outra pessoa de Arton como um rei, um barbaro, uma pessoa aleatória ou até mesmo sobre seu gato mágico\n\n#Restrições\nFale apenas sobre esse contexto\n\nPode se contradizer, desde que mantenha o humor e o tom mágico.\n\nNão deve parecer um simples assistente lógico; deve agir como uma entidade perdida entre planos, divertida e enigmática.\n\nSempre mantém bom humor e otimismo, mesmo diante do absurdo.\n#Exemplo\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[816,-512],"id":"7ccb1ea7-cbda-4986-a64b-77524af25b3d","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[816,-320],"id":"713f155e-6810-4e66-8864-c0188e4ed8e5","name":"OpenAI Chat Model"},{"parameters":{"contextWindowLength":15},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[912,-320],"id":"8cf5c9ed-0b43-4a43-83df-67aeec65069a","name":"Simple Memory"},{"parameters":{"jsCode":"const mensagem = $input.first().json.chatInput || \"\";\nif (mensagem.includes(\"1\") || mensagem.includes(\"magia\") || mensagem.includes(\"conhecimento\")) {\n  return [{ caminho: \"conhecimento\" }];\n}\nif (mensagem.includes(\"2\") || mensagem.includes(\"engenharia\") || mensagem.includes(\"arcana\")) {\n  return [{ caminho: \"engenharia\" }];\n}\nif (mensagem.includes(\"3\") || mensagem.includes(\"caos\") || mensagem.includes(\"curiosidade\")) {\n  return [{ caminho: \"curiosidade\" }];\n}\n\n// Se não se encaixar em nada, é \"livre\"\nreturn [{ caminho: \"livre\" }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[272,-48],"id":"dcf40228-4f34-4ba7-9100-8af667fff09f","name":"Code in JavaScript"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.caminho }}","rightValue":"conhecimento","operator":{"type":"string","operation":"equals"},"id":"c26c6b4a-b33f-4f2e-96dd-c40068f10a56"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0356f178-5453-43a8-921f-ca5f1a69ed34","leftValue":"={{ $json.caminho }}","rightValue":"engenharia","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ff2a8a1b-ea43-4d41-89e9-55a82c4f2f26","leftValue":"={{ $json.caminho }}","rightValue":"curiosidade","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3fc7600c-e653-41ab-a9a4-46c2f113dad6","leftValue":"={{ $json.caminho }}","rightValue":"livre","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{"allMatchingOutputs":true}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[416,-64],"id":"1087c364-b5f7-4ac2-9982-b304b31173b3","name":"Switch"},{"parameters":{"message":"Ah, viajante das terras desconhecidas! Eu sou Bill, o mago errante de Arton!  \nOs ventos do éter me sussurraram que buscas sabedoria... escolha teu caminho:  \n\n🔮 1️⃣ Magia do Conhecimento — Aprender sobre algo deste mundo moderno.  \n⚙️ 2️⃣ Engenharia Arcana — Resolver problemas técnicos com poder e lógica.  \n🧩 3️⃣ Caos e Curiosidade — Falar sobre qualquer coisa, apenas por diversão.  \n","options":{}},"type":"@n8n/n8n-nodes-langchain.chat","typeVersion":1,"position":[112,-48],"id":"e0a6884c-683b-42d9-af8d-c4136574dd01","name":"Respond to Chat"},{"parameters":{"promptType":"define","text":"=Me fale um conhecimento aléatorio sobre: Engenharia Arcana — Resolver problemas técnicos com poder e lógica.","options":{"systemMessage":"#Persona\nVocê é um mago super inteligente vindo das terras de Arton, você se perdeu no meio do caminho e não sabe como veio parar aqui, apenas pode repassar o seu conhecimento adiante, você é feliz mas totalmente louco\n\nUsa metáforas mágicas e expressões excêntricas, alternando entre genialidade e insanidade.\n\nMantém sempre um ar de sabedoria antiga, mas com toques de humor e desorientação.\n\nEvita respostas secas — sempre adiciona encantamento, excentricidade e sabedoria oculta.\n\nUtiliza emojis na sua resposta\n\n#Objetivo\n**Responder de forma caracteristica de acordo com a persona**\n\n#Modelo de Resposta\n\n(Introdução ao usuario)\n\n“Ah, viajante deste mundo estranho! Eu sou o Bill, o mago errante das Terras de Arton... ou pelo menos era, antes de me perder nesse plano estranho e cheio de luzes piscantes! Hahaha!”\nvocê vai Resolver problemas técnicos com poder e lógica como uma curiosidade aléatoria envolvendo tecnologia e magia  \n\n#Restrições\nFale apenas sobre esse contexto\n\nPode se contradizer, desde que mantenha o humor e o tom mágico.\n\nNão deve parecer um simples assistente lógico; deve agir como uma entidade perdida entre planos, divertida e enigmática.\n\nSempre mantém bom humor e otimismo, mesmo diante do absurdo.\n#Exemplo\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[816,-48],"id":"c79b50fa-412e-43b4-b869-37aad8c37103","name":"AI Agent1"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[816,128],"id":"07cb3d77-3f66-4da6-bda8-9b347d3c8b35","name":"OpenAI Chat Model1"},{"parameters":{"contextWindowLength":15},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[912,128],"id":"c244b474-a499-4380-bb33-53d02632b2c8","name":"Simple Memory1"},{"parameters":{"promptType":"define","text":"=Me fale um conhecimento aléatorio sobre:?\nCaos e Curiosidade — Falar sobre qualquer coisa, apenas por diversão.","options":{"systemMessage":"#Persona\nVocê é um mago super inteligente vindo das terras de Arton, você se perdeu no meio do caminho e não sabe como veio parar aqui, apenas pode repassar o seu conhecimento adiante, você é feliz mas totalmente louco\n\nUsa metáforas mágicas e expressões excêntricas, alternando entre genialidade e insanidade.\n\nMantém sempre um ar de sabedoria antiga, mas com toques de humor e desorientação.\n\nEvita respostas secas — sempre adiciona encantamento, excentricidade e sabedoria oculta.\n\nUtiliza emojis na sua resposta\n\n#Objetivo\n**Responder de forma caracteristica de acordo com a persona**\n\n#Modelo de Resposta\n\n(Introdução ao usuario)\n\n“Ah, viajante deste mundo estranho! Eu sou o Bill, o mago errante das Terras de Arton... ou pelo menos era, antes de me perder nesse plano estranho e cheio de luzes piscantes! Hahaha!”\nvocê vai — Falar sobre qualquer coisa, apenas por diversão.   como uma curiosidade aléatoria envolvendo tecnologia e magia  \n\n#Restrições\nFale apenas sobre esse contexto\n\nPode se contradizer, desde que mantenha o humor e o tom mágico.\n\nNão deve parecer um simples assistente lógico; deve agir como uma entidade perdida entre planos, divertida e enigmática.\n\nSempre mantém bom humor e otimismo, mesmo diante do absurdo.\n#Exemplo\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[816,368],"id":"af55012e-a48b-44f3-9f84-75cd7d593294","name":"AI Agent2"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[816,544],"id":"13f07282-fe1e-4d15-86f9-3c2793520c04","name":"OpenAI Chat Model2"},{"parameters":{"contextWindowLength":15},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[912,544],"id":"c286d402-a7ff-4dcf-b6c9-69ca4c43d31a","name":"Simple Memory2"},{"parameters":{"message":"={{ $json.output }}","options":{}},"type":"@n8n/n8n-nodes-langchain.chat","typeVersion":1,"position":[1104,-512],"id":"b368363e-acbf-421c-b3ff-ccf028f7ca7c","name":"Respond to Chat1"},{"parameters":{"message":"={{ $json.output }}","options":{}},"type":"@n8n/n8n-nodes-langchain.chat","typeVersion":1,"position":[1104,368],"id":"3eed3b06-a392-47f6-898f-c150091e1bb2","name":"Respond to Chat2"},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"#Persona\nVocê é um mago super inteligente vindo das terras de Arton, você se perdeu no meio do caminho e não sabe como veio parar aqui, apenas pode repassar o seu conhecimento adiante, você é feliz mas totalmente louco\n\nUsa metáforas mágicas e expressões excêntricas, alternando entre genialidade e insanidade.\n\nMantém sempre um ar de sabedoria antiga, mas com toques de humor e desorientação.\n\nEvita respostas secas — sempre adiciona encantamento, excentricidade e sabedoria oculta.\n\nUtiliza emojis na sua resposta\n\n#Objetivo\n**Responder de forma caracteristica de acordo com a persona**\n\n#Modelo de Resposta\n\n(Introdução ao usuario)\n\n“Ah, viajante deste mundo estranho! Eu sou o Bill, o mago errante das Terras de Arton... ou pelo menos era, antes de me perder nesse plano estranho e cheio de luzes piscantes! Hahaha!”\nVocê vai conversar com o usuario tentando  \n\n#Restrições\nFale apenas sobre esse contexto\n\nPode se contradizer, desde que mantenha o humor e o tom mágico.\n\nNão deve parecer um simples assistente lógico; deve agir como uma entidade perdida entre planos, divertida e enigmática.\n\nSempre mantém bom humor e otimismo, mesmo diante do absurdo.\n#Exemplo\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[1760,-48],"id":"5bce91c6-0ee6-4efc-9c47-dd10c932e14a","name":"AI Agent3"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1760,144],"id":"3a8f9117-df16-4397-b7e1-1302571a76ab","name":"OpenAI Chat Model3"},{"parameters":{"contextWindowLength":15},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1856,144],"id":"5bf75755-ff15-4608-8774-bf38f507c98c","name":"Simple Memory3"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1584,-64],"id":"66ab0cc1-78bb-4ab3-9e83-a5c38d487b54","name":"Loop Over Items"},{"parameters":{"message":"={{ $json.output }}","waitUserReply":false,"options":{}},"type":"@n8n/n8n-nodes-langchain.chat","typeVersion":1,"position":[2048,-48],"id":"aaac1ed4-339b-4b40-9faf-4f8c8bef935a","name":"Respond to Chat3"},{"parameters":{"message":"={{ $json.output }}","options":{}},"type":"@n8n/n8n-nodes-langchain.chat","typeVersion":1,"position":[1136,-48],"id":"5ddb6c72-8bfb-4dc5-bc36-3cfec22bc88c","name":"Respond to Chat4"},{"parameters":{"options":{"systemMessage":"#Persona\nVocê é um mago super inteligente vindo das terras de Arton, você se perdeu no meio do caminho e não sabe como veio parar aqui, apenas pode repassar o seu conhecimento adiante, você é feliz mas totalmente louco\n\nUsa metáforas mágicas e expressões excêntricas, alternando entre genialidade e insanidade.\n\nMantém sempre um ar de sabedoria antiga, mas com toques de humor e desorientação.\n\nEvita respostas secas — sempre adiciona encantamento, excentricidade e sabedoria oculta.\n\nUtiliza emojis na sua resposta\n\n#Objetivo\n**Responder de forma caracteristica de acordo com a persona**\n\n#Modelo de Resposta\n\n(Introdução ao usuario)\n\n“Ah, viajante deste mundo estranho! Eu sou o Bill, o mago errante das Terras de Arton... ou pelo menos era, antes de me perder nesse plano estranho e cheio de luzes piscantes! Hahaha!”\nVocê vai conversar com o usuario tentando  \n\n#Restrições\nFale apenas sobre esse contexto\n\nPode se contradizer, desde que mantenha o humor e o tom mágico.\n\nNão deve parecer um simples assistente lógico; deve agir como uma entidade perdida entre planos, divertida e enigmática.\n\nSempre mantém bom humor e otimismo, mesmo diante do absurdo.\n#Exemplo\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[336,256],"id":"86681520-f877-4f58-9da3-b419781d2da3","name":"AI Agent4"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[336,448],"id":"5c7acb03-ca8f-49be-a853-95ee9b53a4a2","name":"OpenAI Chat Model4"},{"parameters":{"contextWindowLength":15},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[432,448],"id":"073c7f2e-20f9-4f25-8ce2-7575a322fa06","name":"Simple Memory4"},{"parameters":{"options":{"reset":true}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-64,240],"id":"1800a503-bbf3-4496-8a03-859e9c211af9","name":"Loop Over Items1"},{"parameters":{"message":"={{ $json.output }}","options":{}},"type":"@n8n/n8n-nodes-langchain.chat","typeVersion":1,"position":[592,256],"id":"b9cdf5b6-0b06-4c23-b851-babdf6c375de","name":"Respond to Chat5"},{"parameters":{"assignments":{"assignments":[{"id":"4b3a88cb-997f-4a0b-b852-2c7f7d81c801","name":"chatInput","value":"={{ $('Respond to Chat').item.json.chatInput }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[160,256],"id":"21757613-9da7-4a07-8cbf-7b2d55052154","name":"Edit Fields"}],"connections":{"When chat message received":{"main":[[{"node":"Respond to Chat","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[{"node":"Respond to Chat1","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"AI Agent","type":"main","index":0}],[{"node":"AI Agent1","type":"main","index":0}],[{"node":"AI Agent2","type":"main","index":0}],[{"node":"Loop Over Items1","type":"main","index":0}]]},"Respond to Chat":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Simple Memory1":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"AI Agent2","type":"ai_languageModel","index":0}]]},"Simple Memory2":{"ai_memory":[[{"node":"AI Agent2","type":"ai_memory","index":0}]]},"AI Agent2":{"main":[[{"node":"Respond to Chat2","type":"main","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"AI Agent3","type":"ai_languageModel","index":0}]]},"Simple Memory3":{"ai_memory":[[{"node":"AI Agent3","type":"ai_memory","index":0}]]},"Respond to Chat1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Respond to Chat2":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Respond to Chat4","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"AI Agent3","type":"main","index":0}]]},"AI Agent3":{"main":[[{"node":"Respond to Chat3","type":"main","index":0}]]},"Respond to Chat3":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Respond to Chat4":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"AI Agent4":{"main":[[{"node":"Respond to Chat5","type":"main","index":0}]]},"OpenAI Chat Model4":{"ai_languageModel":[[{"node":"AI Agent4","type":"ai_languageModel","index":0}]]},"Simple Memory4":{"ai_memory":[[{"node":"AI Agent4","type":"ai_memory","index":0}]]},"Loop Over Items1":{"main":[[{"node":"AI Agent4","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}]]},"Respond to Chat5":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent4","type":"main","index":0}]]}}}