workflows/cancelar_agendamento_rJ0iIfdWHdgiiTHq.json
{"createdAt":"2025-08-07T13:56:37.511Z","id":"rJ0iIfdWHdgiiTHq","name":"cancelar_agendamento","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"appointment_id"}]}},"type":"[REDACTED]","typeVersion":1.1,"position":[0,0],"id":"33bfe771-64f3-412d-8300-ec18fd8cd263","name":"Start"},{"parameters":{"operation":"update","tableId":"Appointments","filters":{"conditions":[{"keyName":"[REDACTED]","condition":"eq","keyValue":"[REDACTED]"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status","fieldValue":"canceled"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[220,0],"id":"89af3133-7b9a-469c-b8a5-a2224f02df98","name":"cancelar_evento_no_db"},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"[REDACTED]","mode":"list","cachedResultName":"IAConsultas"},"eventId":"={{ $json.calendar_event_id }}","options":{}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[440,0],"id":"8fecddb5-cb7e-4cd8-86db-d347acb5ba64","name":"sincronizar_com_calendar"},{"parameters":{"assignments":{"assignments":[{"id":"32443d0d-7d59-4f3e-90a9-533a8efec210","name":"status","value":"success","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[660,0],"id":"87966bbc-984a-497d-9864-8bb6af7234c4","name":"Resposta: Sucesso"}],"connections":{"Start":{"main":[[{"node":"cancelar_evento_no_db","type":"main","index":0}]]},"cancelar_evento_no_db":{"main":[[{"node":"sincronizar_com_calendar","type":"main","index":0}]]},"sincronizar_com_calendar":{"main":[[{"node":"Resposta: Sucesso","type":"main","index":0}]]}}}