workflows/CasteloPayBot_Automatico_copy_5OQfi7rJl6MT1U94.json
{"createdAt":"2025-10-03T14:54:04.094Z","id":"5OQfi7rJl6MT1U94","name":"CasteloPayBot Automatico copy","active":false,"isArchived":false,"nodes":[{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2864,-288],"id":"4909b5b0-fb0e-4fe1-8769-40ff050ddc59","name":"Tempo de espera","webhookId":"3e89ccd1-79e1-4a24-8183-77d81ada3a43"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2400,-416],"id":"19eeb5de-3519-4f32-9198-2eb9648cc983","name":"Loop Ler Pag"},{"parameters":{"method":"POST","url":"[REDACTED]","sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"[REDACTED]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1904,-416],"id":"6b6b7a40-e6ab-4cb3-a394-8cfef2aaaf66","name":"BuscarTotalPaginas","alwaysOutputData":true,"retryOnFail":true},{"parameters":{"method":"POST","url":"[REDACTED]","sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"[REDACTED]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2640,-336],"id":"280322ca-2c0f-4c01-9145-9dd766297318","name":"ContasReceber","alwaysOutputData":true,"retryOnFail":true},{"parameters":{"jsCode":"// Pega o total de páginas do nó anterior (troque pelo nome real do nó se for diferente)\nconst totalPaginas = $items(\"BuscarTotalPaginas\", 0)[0].json.total_de_paginas;\n\n// Define quantas últimas páginas você quer processar\nconst ultimasPaginas = 11;\n\n// Garante que o valor mínimo da primeira página seja 1\nconst primeiraPagina = Math.max(1, totalPaginas - ultimasPaginas + 1);\n\n// Gera os itens para as últimas páginas\nconst items = [];\n\nfor (let i = primeiraPagina; i <= totalPaginas; i++) {\n  items.push({ json: { pagina: i } });\n}\n\nreturn items;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2144,-416],"id":"1100a5a7-7910-44dc-aa0d-0ddd8dda29f7","name":"GerarUltimasPaginas"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[3008,-416],"id":"df8ecf34-ae3f-40f7-a6a5-3c95be32e7a9","name":"MergeContas"},{"parameters":{"documentId":{"__rl":true,"value":"[REDACTED]","mode":"list","cachedResultName":"Contatos Omie","cachedResultUrl":"[REDACTED]"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"[REDACTED]"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[4144,-720],"id":"7aa9686a-b6d7-4a27-adea-f01a6809227a","name":"PlanilhaNomes3"},{"parameters":{"jsCode":"// 1️⃣ Recebe os códigos válidos da etapa anterior (filtro do Omie)\nconst codigosValidos = $items(\"Filtro3Dias\", 0).map(item => item.json.codigo_cliente_fornecedor);\n\n// 2️⃣ Filtra os dados da planilha atual (entrada desse Function)\nreturn items.filter(item =>\n  codigosValidos.includes(item.json.codigo_cliente_omie)\n);\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4544,-720],"id":"3bab8e27-3f75-474c-96b6-d95cda3a96c5","name":"Clientes3"},{"parameters":{"jsCode":"return [{ json: {} }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3744,-720],"id":"30baba92-7bb7-4ef3-9789-6390c13febec","name":"Zerando Item3"},{"parameters":{"jsCode":"return items.map(item => {\n    const nome = item.json.nome || 'Cliente';\n    const contato = item.json.contato || '';\n    const valor = item.json.valor?.toFixed(2).replace('.', ',') || '0,00';\n    const vencimento = item.json.vencimento || 'data não informada';\n    const linkBoleto = item.json.cLinkBoleto || '';\n\n    let telefone = item.json.telefone1 || item.json.telefone2 || '';\n    telefone = telefone.toString().replace(/\\D/g, '');\n    telefone = telefone.replace(/\\s+/g, '');\n    telefone = `55${telefone}`;\n\n    const mensagem = `Olá *${nome}*,\\n\\n` +\n                     `Seu boleto vence em 3 dias, lembre de realizar o pagamento!\\n\\n` +\n                     `Qualquer dúvida, estamos à disposição.`;\n\n    return {\n        json: {\n            telefone: telefone,\n            mensagem: mensagem\n        }\n    };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5264,-720],"id":"9f91fd15-6014-4bb3-bcfd-dd0e547bc8dc","name":"Mensagem 3dias"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[5824,-720],"id":"a714d28b-1241-47d3-97a7-616b6ac728fd","name":"Loop Over Items"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[6336,-704],"id":"9bd289ab-379e-4eb5-b2e6-1c0e14259e03","name":"Wait3","webhookId":"00533c55-0e36-485a-a611-176c0e1bd2f0"},{"parameters":{"resource":"messages-api","instanceName":"Financeiro","remoteJid":"={{$json[\"telefone\"]}}","messageText":"={{$json[\"mensagem\"]}}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[6112,-704],"id":"a2698b15-ebc2-434e-b50b-55e6968c7caa","name":"Evolution API1","onError":"[REDACTED]"},{"parameters":{"content":"Enviar Mensagens","height":260,"width":760,"color":3},"type":"n8n-nodes-base.stickyNote","position":[5744,-768],"typeVersion":1,"id":"31188361-4042-4f17-a787-debd148e47b2","name":"Sticky Note"},{"parameters":{"jsCode":"function parseDataBR(d) {\n  if (typeof d !== \"string\") return null;\n  const m = d.match(/^(\\d{2})\\/(\\d{2})\\/(\\d{4})$/);\n  if (!m) return null;\n  return new Date(Number(m[3]), Number(m[2]) - 1, Number(m[1]));\n}\n\nfunction dateKey(d) {\n  return `${d.getFullYear()}-${String(d.getMonth() + 1).padStart(2,\"0\")}-${String(d.getDate()).padStart(2,\"0\")}`;\n}\n\n// 👉 Data alvo temporária\nconst alvo = \"2025-10-05\";\n\nconst out = [];\nfor (const it of items) {\n  const item = it.json || {};\n\n  if (!item?.data_vencimento) continue;\n  if (String(item.status_titulo || \"\").toUpperCase() !== \"A VENCER\") continue;\n\n  const venc = parseDataBR(item.data_vencimento);\n  if (!venc) continue;\n\n  // Passa só se for exatamente 05/10/2025\n  if (dateKey(venc) === alvo) {\n    out.push(it);\n  }\n}\n\nreturn out;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3408,-720],"id":"0f966eb5-d8f1-4c90-a296-e4c2f3a3fef4","name":"Filtro3Dias","executeOnce":false,"alwaysOutputData":false,"retryOnFail":true}],"connections":{"Tempo de espera":{"main":[[{"node":"Loop Ler Pag","type":"main","index":0}]]},"Loop Ler Pag":{"main":[[{"node":"MergeContas","type":"main","index":0}],[{"node":"ContasReceber","type":"main","index":0}]]},"BuscarTotalPaginas":{"main":[[{"node":"GerarUltimasPaginas","type":"main","index":0}]]},"ContasReceber":{"main":[[{"node":"Tempo de espera","type":"main","index":0}]]},"GerarUltimasPaginas":{"main":[[{"node":"Loop Ler Pag","type":"main","index":0}]]},"MergeContas":{"main":[[{"node":"Filtro3Dias","type":"main","index":0}]]},"PlanilhaNomes3":{"main":[[{"node":"Clientes3","type":"main","index":0}]]},"Clientes3":{"main":[[{"node":"Mensagem 3dias","type":"main","index":0}]]},"Zerando Item3":{"main":[[{"node":"PlanilhaNomes3","type":"main","index":0}]]},"Mensagem 3dias":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Evolution API1","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Evolution API1":{"main":[[{"node":"Wait3","type":"main","index":0}]]},"Filtro3Dias":{"main":[[{"node":"Zerando Item3","type":"main","index":0}]]}}}