workflows/CasteloPayBot Automatico_1OVIStjCGdc9rwGo.json
{"createdAt":"2025-07-30T11:38:16.747Z","updatedAt":"2025-10-08T18:06:33.596Z","id":"1OVIStjCGdc9rwGo","name":"CasteloPayBot Automatico","active":true,"isArchived":false,"nodes":[{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2864,-288],"id":"f20b088a-e986-4fc5-8874-3a8a2681dfcd","name":"Tempo de espera","webhookId":"67385d61-7b55-406e-8220-db0eb81b8752"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2400,-416],"id":"3596bdbd-d60b-4976-be5b-0660bcee4713","name":"Loop Ler Pag"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[3808,0],"id":"89e3dbd6-88de-4e33-a553-15ab5103149f","name":"Loop Over Items1"},{"parameters":{"amount":3.5},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[4912,96],"id":"04bfa67c-9a9a-4106-acdc-1cd1273da88d","name":"Wait","webhookId":"d8c60c36-6959-4acf-ab90-96589b27617f"},{"parameters":{"documentId":{"__rl":true,"value":"1dx91GYdsZLRAllTDHcGckM6yuGFSI4ZK0ALiIDLtEbo","mode":"list","cachedResultName":"Contatos Omie","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1dx91GYdsZLRAllTDHcGckM6yuGFSI4ZK0ALiIDLtEbo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1dx91GYdsZLRAllTDHcGckM6yuGFSI4ZK0ALiIDLtEbo/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[4208,352],"id":"0a05fe7c-42d5-444a-9358-0e9ea3a4596b","name":"PlanilhaNomes","credentials":{"googleSheetsOAuth2Api":{"id":"tygFBBOupO6wlHLF","name":"Estagio Financeiro"}}},{"parameters":{"jsCode":"// 1️⃣ Recebe os códigos válidos da etapa anterior (filtro do Omie)\nconst codigosValidos = $items(\"FiltroVencer\", 0).map(item => item.json.codigo_cliente_fornecedor);\n\n// 2️⃣ Filtra os dados da planilha atual (entrada desse Function)\nreturn items.filter(item =>\n  codigosValidos.includes(item.json.codigo_cliente_omie)\n);\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5040,352],"id":"6e42461a-9bf2-4f7f-991c-56cb539dcc73","name":"Clientes"},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"codigo_cliente_fornecedor","field2":"codigo_cliente_omie"}]},"joinMode":"keepEverything","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[5264,176],"id":"4e7ef8ae-a181-48f9-b663-7bf642c4aee3","name":"Merge1"},{"parameters":{"jsCode":"return items.map(item => {\n  return {\n    json: {\n      codigo_cliente_fornecedor: item.json.codigo_cliente_fornecedor,\n      codigo_lancamento_omie: item.json.codigo_lancamento_omie,\n      valor: item.json.valor,\n      vencimento: item.json.vencimento,\n      parcela: item.json.parcela,\n      // ... passe tudo que precisa junto\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3984,96],"id":"2c2ee2ff-eea6-4c13-ac8e-a56dbc3dc6bc","name":"Code3"},{"parameters":{"jsCode":"return items.map((item, index) => {\n  const boletoData = item.json;\n  const codigoData = $items(\"Code3\")[index].json; // ajuste o nome do nó aqui\n\n  return {\n    json: {\n      codigo_cliente_fornecedor: codigoData.codigo_cliente_fornecedor,\n      codigo_lancamento_omie: codigoData.codigo_lancamento_omie,\n      valor: codigoData.valor,\n      vencimento: codigoData.vencimento,\n      parcela: codigoData.parcela,\n      // Dados do boleto\n      cLinkBoleto: boletoData.cLinkBoleto,\n      codBarras: boletoData.cCodBarras,\n      cCodStatus: boletoData.cCodStatus,\n      cDesStatus: boletoData.cDesStatus,\n      // outros campos do boleto, se quiser\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4304,96],"id":"bbe45dca-151b-4751-ad46-a5c29c1fdb3f","name":"Code4"},{"parameters":{"method":"POST","url":"https://app.omie.com.br/api/v1/financas/contareceber/","sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={\n  \"call\": \"ListarContasReceber\",\n  \"app_key\": \"725196941469\",\n  \"app_secret\": \"7b75a32779359d8a524278c61e13061b\",\n  \"param\": [\n    {\n      \"pagina\": \"={{$json.pagina}}\",\n      \"registros_por_pagina\": 50,\n      \"ordenar_por\": \"DATA_VENCIMENTO\"\n    }\n  ]\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1904,-416],"id":"8e48d197-801f-40f3-9540-501f4f338400","name":"BuscarTotalPaginas","alwaysOutputData":true,"retryOnFail":true},{"parameters":{"method":"POST","url":"https://app.omie.com.br/api/v1/financas/contareceber/","sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={ \"call\": \"ListarContasReceber\",   \"app_key\": \"725196941469\",   \"app_secret\": \"7b75a32779359d8a524278c61e13061b\",   \"param\": [     {      \"pagina\": {{$json.pagina}},       \"registros_por_pagina\": 50,         \"ordenar_por\": \"DATA_VENCIMENTO\"     }   ] } ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2640,-336],"id":"bb394dd6-ba33-4d2d-a8e3-1b202d2d4b4b","name":"ContasReceber","alwaysOutputData":true,"retryOnFail":true},{"parameters":{"jsCode":"return [{ json: {} }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3808,352],"id":"c1396dfb-8222-4db1-9db5-cb6b1890912e","name":"Zerando Item"},{"parameters":{"jsCode":"// Sempre força existir apenas item.binary.data\nconst desiredBinaryKey = 'data';\n\nreturn items.map((item) => {\n  const j = item.json || {};\n  const b = item.binary || {};\n\n  // ---- campos básicos do seu input ----\n  const codigoCliente = j.codigo_cliente_fornecedor ?? null;\n  const codigoLanc    = j.codigo_lancamento_omie != null ? String(j.codigo_lancamento_omie) : '';\n  const vencimento    = j.vencimento || 'data não informada';\n  const parcela       = j.parcela || '';\n  const codBarras     = j.cCodBarras || j.codBarras || 'código não disponível';\n\n  // valor -> formatação pt-BR\n  let valorNum = j.valor;\n  if (typeof valorNum === 'string') {\n    valorNum = parseFloat(valorNum.replace(/\\./g, '').replace(',', '.'));\n  }\n  const valorFmt = isNaN(valorNum) ? '0,00' : valorNum.toFixed(2).replace('.', ',');\n\n  // telefone (se existir nos dados)\n  let telefone = (j.telefone || j.telefone1 || j.telefone2 || '')\n    .toString()\n    .replace(/\\D/g, '');\n  if (telefone && !telefone.startsWith('55')) telefone = `55${telefone}`;\n  const nacional = telefone.replace(/^55/, '');\n  const telefoneValido =\n    telefone && (nacional.length === 10 || nacional.length === 11) ? telefone : '';\n\n  // caption\n  let caption =\n    `Olá *${j.nome || 'Cliente'}*,\\n\\n` +\n    `Segue seu boleto para pagamento:\\n\\n` +\n    `💰 *Valor:* R$ ${valorFmt}\\n` +\n    `📅 *Vencimento:* ${vencimento}\\n` +\n    `📄 *Código de Barras:* ${codBarras}\\n`;\n\n  if (j.pdf_text) caption += `\\n(Documento processado automaticamente)`;\n  caption += `\\n\\nObrigado! Qualquer dúvida, estamos à disposição.`;\n\n  // filename\n  let filename = 'boleto.pdf';\n  const linkBoleto = j.cLinkBoleto || '';\n  const m = (linkBoleto || '').match(/([^\\/\\?]+\\.pdf)(?:\\?|$)/i);\n  if (m) filename = m[1];\n  if (b?.file?.fileName && (!m || !m[1])) filename = b.file.fileName;\n\n  // ---- BINÁRIO: força apenas binary.data ----\n  const newBinary = {};\n  if (b?.file) {\n    newBinary[desiredBinaryKey] = b.file;           // vem do Extract/Download com chave 'file'\n  } else if (b && Object.keys(b).length > 0) {\n    const firstKey = Object.keys(b)[0];             // qualquer outra chave\n    newBinary[desiredBinaryKey] = b[firstKey];\n  }\n\n  // ---- JSON final (mantendo campos do input) ----\n  const out = {\n    json: {\n      codigo_cliente_fornecedor: codigoCliente,\n      codigo_lancamento_omie:    codigoLanc,\n      valor:                     j.valor,\n      vencimento:                j.vencimento,\n      parcela:                   parcela,\n\n      // extras úteis para o envio\n      telefone: telefoneValido,\n      caption,\n      filename,\n      url_pdf: linkBoleto || null,\n      has_pdf: !!linkBoleto || !!newBinary[desiredBinaryKey],\n\n      // mantém texto extraído se houver\n      pdf_text: j.pdf_text || null,\n\n      // se seu item vier com \"data\" em JSON, preserva sem quebrar\n      data: j.data ?? null,\n    },\n  };\n\n  if (newBinary[desiredBinaryKey]) {\n    out.binary = newBinary;\n  }\n\n  return out;\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5520,176],"id":"4f92ac55-1081-44db-be44-078244947424","name":"Mensagem para Evolution"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[5888,-672],"id":"320fcb3c-905c-4a81-b141-280f779a2388","name":"Loop Over Items2"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[6400,-656],"id":"ab904778-5ccf-464c-af4f-81b5cbc93e93","name":"Wait1","webhookId":"35732a36-53f9-4363-b0f3-6a4430104193"},{"parameters":{"resource":"messages-api","instanceName":"Financeiro","remoteJid":"={{$json[\"telefone\"]}}","messageText":"={{$json[\"mensagem\"]}}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[6176,-656],"id":"37819ac2-316d-4fb1-8d12-94c1ea2f5a0d","name":"Evolution API","credentials":{"evolutionApi":{"id":"BOdDN0nhnxIv749g","name":"Evolution Financeiro"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Pega o total de páginas do nó anterior (troque pelo nome real do nó se for diferente)\nconst totalPaginas = $items(\"BuscarTotalPaginas\", 0)[0].json.total_de_paginas;\n\n// Define quantas últimas páginas você quer processar\nconst ultimasPaginas = 11;\n\n// Garante que o valor mínimo da primeira página seja 1\nconst primeiraPagina = Math.max(1, totalPaginas - ultimasPaginas + 1);\n\n// Gera os itens para as últimas páginas\nconst items = [];\n\nfor (let i = primeiraPagina; i <= totalPaginas; i++) {\n  items.push({ json: { pagina: i } });\n}\n\nreturn items;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2144,-416],"id":"afa5e1c6-5350-4df6-b425-521fd4dd52bb","name":"GerarUltimasPaginas"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[3008,-416],"id":"ca88ecf4-0844-4441-8aa9-6b9ebe08e1ce","name":"MergeContas"},{"parameters":{"method":"POST","url":"https://app.omie.com.br/api/v1/financas/contareceberboleto/","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"call\": \"ObterBoleto\",\n  \"app_key\": \"725196941469\",\n  \"app_secret\": \"7b75a32779359d8a524278c61e13061b\",\n  \"param\": [\n    {\n      \"nCodTitulo\": {{$json.codigo_lancamento_omie}},\n      \"cCodIntTitulo\": \"\"\n    }\n  ]\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4144,96],"id":"17bbc52c-686d-44b1-ac48-178398167895","name":"ObterBoleto"},{"parameters":{"content":"Enviar Mensagens","height":260,"width":760,"color":3},"type":"n8n-nodes-base.stickyNote","position":[5824,-704],"typeVersion":1,"id":"9ef56fa0-013c-414c-93ed-b8d5b189f762","name":"Sticky Note2"},{"parameters":{"jsCode":"function isFeriado(date) {\n  const fixos = [\"01/01\",\"21/04\",\"01/05\",\"07/09\",\"12/10\",\"02/11\",\"15/11\",\"25/12\"];\n  const moveis = new Set([\n    // Ex.: \"2025-02-03\", \"2025-02-04\", \"2025-04-18\"\n  ]);\n  const diaMes = date.toLocaleDateString('pt-BR').substring(0, 5);\n  const iso = date.toISOString().slice(0, 10);\n  return fixos.includes(diaMes) || moveis.has(iso);\n}\n\nconst hoje = new Date();\nconst hojeBR = hoje.toLocaleDateString('pt-BR');\n\nconst data = items.flatMap(item => item.json.conta_receber_cadastro || []);\n\nconst filtrado = data.filter(item => {\n  if (!item?.data_vencimento || !item?.codigo_lancamento_omie) return false;\n\n  // ✅ só passa títulos com status \"A VENCER\"\n  if (item?.status_titulo?.toUpperCase() !== \"A VENCER\") return false;\n\n  const [dia, mes, ano] = item.data_vencimento.split('/');\n  const vencimento = new Date(`${ano}-${mes}-${dia}T00:00:00`);\n\n  // 7 dias antes\n  const envio = new Date(vencimento);\n  envio.setDate(envio.getDate() - 7);\n\n  // Recuar até o último dia útil se cair em fds/feriado\n  while ([0, 6].includes(envio.getDay()) || isFeriado(envio)) {\n    envio.setDate(envio.getDate() - 1);\n  }\n\n  const envioBR = envio.toLocaleDateString('pt-BR');\n  return hojeBR === envioBR && (item.boleto?.cGerado?.toUpperCase() ?? 'S') === 'S';\n});\n\n// 🔁 Mapeia campos esperados pelos próximos nós\nreturn filtrado.map(item => {\n  const raw = item.valor_documento ?? item.valor ?? null;\n  let valor = null;\n  if (raw != null) {\n    valor = (typeof raw === 'number') ? raw :\n      parseFloat(String(raw).replace(/\\./g, '').replace(',', '.'));\n    if (Number.isNaN(valor)) valor = null;\n  }\n\n  return {\n    json: {\n      ...item,\n      vencimento: item.data_vencimento,\n      valor\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3472,0],"id":"95e0bcd9-9a2c-48a8-b4ea-0671f6b1cf97","name":"FiltroVencer","executeOnce":false,"alwaysOutputData":false,"retryOnFail":true},{"parameters":{"jsCode":"function isFeriado(date) { \n  // FERIADOS FIXOS (DD/MM) — adicione os seus\n  const fixos = [\"01/01\",\"21/04\",\"01/05\",\"07/09\",\"12/10\",\"02/11\",\"15/11\",\"25/12\"];\n\n  // FERIADOS MÓVEIS (YYYY-MM-DD) — preencha conforme precisar (Carnaval, Páscoa, etc.)\n  const moveis = new Set([\n    // \"2025-02-03\", \"2025-02-04\", \"2025-04-18\",\n  ]);\n\n  const diaMes = date.toLocaleDateString('pt-BR').substring(0, 5);\n  const iso = date.toISOString().slice(0, 10);\n  return fixos.includes(diaMes) || moveis.has(iso);\n}\n\nfunction proximoDiaUtil(date) {\n  const d = new Date(date);\n  while ([0, 6].includes(d.getDay()) || isFeriado(d)) {\n    d.setDate(d.getDate() + 1);\n  }\n  return d;\n}\n\nconst up = s => (s ?? '').toString().trim().toUpperCase();\n\nconst hoje = new Date();\nconst hojeBR = hoje.toLocaleDateString('pt-BR');\n\n// Itens vindos do Omie\nconst data = items.flatMap(item => item.json.conta_receber_cadastro || []);\n\nconst filtrado = data.filter(item => {\n  if (!item?.data_vencimento || !item?.codigo_lancamento_omie) return false;\n\n  // ❌ não deixe passar títulos RECEBIDO\n  if (up(item.status_titulo) === 'RECEBIDO') return false;\n\n  // Parse dd/mm/yyyy -> Date\n  const [dia, mes, ano] = item.data_vencimento.split('/');\n  const vencimento = new Date(`${ano}-${mes}-${dia}T00:00:00`);\n\n  // Se não for dia útil, empurra para o próximo dia útil\n  const envio = ([0,6].includes(vencimento.getDay()) || isFeriado(vencimento))\n    ? proximoDiaUtil(vencimento)\n    : vencimento;\n\n  const envioBR = envio.toLocaleDateString('pt-BR');\n\n  // Opcional: só dispara se boleto gerado\n  const boletoOk = (item.boleto?.cGerado?.toUpperCase() ?? 'S') === 'S';\n\n  // ✅ somente \"vence hoje\"\n  return hojeBR === envioBR && boletoOk;\n});\n\nreturn filtrado.map(item => ({ json: item }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3472,608],"id":"5e874cd2-0ef9-4363-85e4-7d315b8dd0c7","name":"FiltroLembrete","executeOnce":false,"alwaysOutputData":false,"retryOnFail":true},{"parameters":{"jsCode":"function isFeriado(date) {\n  // Feriados FIXOS (DD/MM) — ajuste à sua realidade\n  const fixos = [\"01/01\",\"21/04\",\"01/05\",\"07/09\",\"12/10\",\"02/11\",\"15/11\",\"25/12\"];\n\n  // Feriados MÓVEIS por data completa (YYYY-MM-DD)\n  const moveis = new Set([\n    // Ex.: \"2025-02-03\", \"2025-02-04\", \"2025-04-18\"\n  ]);\n\n  const diaMes = date.toLocaleDateString('pt-BR').substring(0, 5);\n  const iso = date.toISOString().slice(0, 10);\n  return fixos.includes(diaMes) || moveis.has(iso);\n}\n\nconst isFdsOuFeriado = (d) => [0, 6].includes(d.getDay()) || isFeriado(d);\n\nfunction addDiasUteis(date, qtd) {\n  const d = new Date(date);\n  let restantes = qtd;\n  while (restantes > 0) {\n    d.setDate(d.getDate() + 1);\n    if (!isFdsOuFeriado(d)) restantes--;\n  }\n  return d;\n}\n\nconst hoje = new Date();\nconst hojeBR = hoje.toLocaleDateString('pt-BR');\n\n// Pega os títulos retornados do Omie\nconst data = items.flatMap(item => item.json.conta_receber_cadastro || []);\n\nconst filtrado = data.filter(item => {\n  if (!item?.data_vencimento || !item?.codigo_lancamento_omie) return false;\n\n  // Garante que o título está marcado como ATRASADO no Omie\n  if ((item.status_titulo || '').toUpperCase() !== 'ATRASADO') return false;\n\n  // Parse dd/mm/yyyy -> Date\n  const [dia, mes, ano] = item.data_vencimento.split('/');\n  const vencimento = new Date(`${ano}-${mes}-${dia}T00:00:00`);\n\n  let envio;\n  if (isFdsOuFeriado(vencimento)) {\n    // Venceu em fds/feriado → enviar após 2 dias úteis\n    envio = addDiasUteis(vencimento, 2);\n  } else {\n    // Venceu em dia útil → +1 dia e, se necessário, ajusta ao próximo dia útil\n    envio = new Date(vencimento);\n    envio.setDate(envio.getDate() + 1);\n    while (isFdsOuFeriado(envio)) {\n      envio.setDate(envio.getDate() + 1);\n    }\n  }\n\n  const envioBR = envio.toLocaleDateString('pt-BR');\n\n  // (Opcional) Só envie se o boleto foi gerado no Omie\n  const boletoOk = (item.boleto?.cGerado?.toUpperCase() ?? 'S') === 'S';\n\n  return hojeBR === envioBR && boletoOk;\n});\n\nreturn filtrado.map(item => ({ json: item }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3472,-672],"id":"c00ac48a-be72-4440-ae6f-5e52b7157a20","name":"FiltroAtrasado","executeOnce":false,"alwaysOutputData":false,"retryOnFail":true},{"parameters":{"documentId":{"__rl":true,"value":"1dx91GYdsZLRAllTDHcGckM6yuGFSI4ZK0ALiIDLtEbo","mode":"list","cachedResultName":"Contatos Omie","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1dx91GYdsZLRAllTDHcGckM6yuGFSI4ZK0ALiIDLtEbo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1dx91GYdsZLRAllTDHcGckM6yuGFSI4ZK0ALiIDLtEbo/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[4192,976],"id":"856ac8cc-4774-4f9a-b13a-9b9dbd673258","name":"PlanilhaNomes1","credentials":{"googleSheetsOAuth2Api":{"id":"tygFBBOupO6wlHLF","name":"Estagio Financeiro"}}},{"parameters":{"jsCode":"// 1️⃣ Recebe os códigos válidos da etapa anterior (filtro do Omie)\nconst codigosValidos = $items(\"FiltroLembrete\", 0).map(item => item.json.codigo_cliente_fornecedor);\n\n// 2️⃣ Filtra os dados da planilha atual (entrada desse Function)\nreturn items.filter(item =>\n  codigosValidos.includes(item.json.codigo_cliente_omie)\n);\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5184,976],"id":"707677d5-2303-4505-9a1d-a697baf7c069","name":"Clientes1"},{"parameters":{"jsCode":"return [{ json: {} }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3808,976],"id":"9f138d44-44e8-46ee-a979-fbbccf8a34e4","name":"Zerando Item1"},{"parameters":{"documentId":{"__rl":true,"value":"1dx91GYdsZLRAllTDHcGckM6yuGFSI4ZK0ALiIDLtEbo","mode":"list","cachedResultName":"Contatos Omie","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1dx91GYdsZLRAllTDHcGckM6yuGFSI4ZK0ALiIDLtEbo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1dx91GYdsZLRAllTDHcGckM6yuGFSI4ZK0ALiIDLtEbo/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[4208,-672],"id":"e8625fb5-ad08-4fc5-825b-f14413b18f4f","name":"PlanilhaNomes2","credentials":{"googleSheetsOAuth2Api":{"id":"tygFBBOupO6wlHLF","name":"Estagio Financeiro"}}},{"parameters":{"jsCode":"// 1️⃣ Recebe os códigos válidos da etapa anterior (filtro do Omie)\nconst codigosValidos = $items(\"FiltroAtrasado\", 0).map(item => item.json.codigo_cliente_fornecedor);\n\n// 2️⃣ Filtra os dados da planilha atual (entrada desse Function)\nreturn items.filter(item =>\n  codigosValidos.includes(item.json.codigo_cliente_omie)\n);\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4608,-672],"id":"67c15f62-4844-4f23-b652-ed8ec3c057bb","name":"Clientes2"},{"parameters":{"jsCode":"return [{ json: {} }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3808,-672],"id":"5b17e0fd-1dca-4c52-9ea1-c7389242a9de","name":"Zerando Item2"},{"parameters":{"rule":{"interval":[{"triggerAtHour":9}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[1664,-416],"id":"a2ebb203-2c1f-4dd2-94ee-fa2eda19bdb6","name":"Schedule Trigger"},{"parameters":{"documentId":{"__rl":true,"value":"1dx91GYdsZLRAllTDHcGckM6yuGFSI4ZK0ALiIDLtEbo","mode":"list","cachedResultName":"Contatos Omie","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1dx91GYdsZLRAllTDHcGckM6yuGFSI4ZK0ALiIDLtEbo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1dx91GYdsZLRAllTDHcGckM6yuGFSI4ZK0ALiIDLtEbo/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[4208,-304],"id":"a51944a5-792a-4771-86a6-8b183658af58","name":"PlanilhaNomes3","credentials":{"googleSheetsOAuth2Api":{"id":"tygFBBOupO6wlHLF","name":"Estagio Financeiro"}}},{"parameters":{"jsCode":"// 1️⃣ Recebe os códigos válidos da etapa anterior (filtro do Omie)\nconst codigosValidos = $items(\"Filtro3Dias\", 0).map(item => item.json.codigo_cliente_fornecedor);\n\n// 2️⃣ Filtra os dados da planilha atual (entrada desse Function)\nreturn items.filter(item =>\n  codigosValidos.includes(item.json.codigo_cliente_omie)\n);\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4608,-304],"id":"0ccd0265-d733-4799-b638-6fa144119aab","name":"Clientes3"},{"parameters":{"jsCode":"return [{ json: {} }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3808,-304],"id":"9d68ebf7-2485-492c-a6ef-b4f2d1fd0449","name":"Zerando Item3"},{"parameters":{"jsCode":"return items.map(item => {\n    const nome = item.json.nome || 'Cliente';\n    const contato = item.json.contato || '';\n    const valor = item.json.valor?.toFixed(2).replace('.', ',') || '0,00';\n    const vencimento = item.json.vencimento || 'data não informada';\n    const linkBoleto = item.json.cLinkBoleto || '';\n\n    let telefone = item.json.telefone1 || item.json.telefone2 || '';\n    telefone = telefone.toString().replace(/\\D/g, '');\n    telefone = telefone.replace(/\\s+/g, '');\n    telefone = `55${telefone}`;\n\n    const mensagem = `Olá *${nome}*,\\n\\n` +\n                     `Seu boleto está atrasado, lembre do pagamento!\\n\\n` +\n                     `Qualquer dúvida, estamos à disposição.`;\n\n    return {\n        json: {\n            telefone: telefone,\n            mensagem: mensagem\n        }\n    };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5328,-672],"id":"fffbb0ac-e735-4326-9427-e566ad7601a6","name":"Mensagem Atrasado"},{"parameters":{"jsCode":"return items.map(item => {\n    const nome = item.json.nome || 'Cliente';\n    const contato = item.json.contato || '';\n    const valor = item.json.valor?.toFixed(2).replace('.', ',') || '0,00';\n    const vencimento = item.json.vencimento || 'data não informada';\n    const linkBoleto = item.json.cLinkBoleto || '';\n\n    let telefone = item.json.telefone1 || item.json.telefone2 || '';\n    telefone = telefone.toString().replace(/\\D/g, '');\n    telefone = telefone.replace(/\\s+/g, '');\n    telefone = `55${telefone}`;\n\n    const mensagem = `Olá *${nome}*,\\n\\n` +\n                     `Seu boleto vence em 3 dias, lembre de realizar o pagamento!\\n\\n` +\n                     `Qualquer dúvida, estamos à disposição.`;\n\n    return {\n        json: {\n            telefone: telefone,\n            mensagem: mensagem\n        }\n    };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5328,-304],"id":"94b6f5fc-dc87-4308-97de-6d241cd60ff6","name":"Mensagem 3dias"},{"parameters":{"jsCode":"// Sempre força existir apenas item.binary.data\nconst desiredBinaryKey = 'data';\n\nreturn items.map((item) => {\n  const j = item.json || {};\n  const b = item.binary || {};\n\n  // ---- campos básicos do seu input ----\n  const codigoCliente = j.codigo_cliente_fornecedor ?? null;\n  const codigoLanc    = j.codigo_lancamento_omie != null ? String(j.codigo_lancamento_omie) : '';\n  const vencimento    = j.vencimento || 'data não informada';\n  const parcela       = j.parcela || '';\n  const codBarras     = j.cCodBarras || j.codBarras || 'código não disponível';\n\n  // valor -> formatação pt-BR\n  let valorNum = j.valor;\n  if (typeof valorNum === 'string') {\n    valorNum = parseFloat(valorNum.replace(/\\./g, '').replace(',', '.'));\n  }\n  const valorFmt = isNaN(valorNum) ? '0,00' : valorNum.toFixed(2).replace('.', ',');\n\n  // telefone (se existir nos dados)\n  let telefone = (j.telefone || j.telefone1 || j.telefone2 || '')\n    .toString()\n    .replace(/\\D/g, '');\n  if (telefone && !telefone.startsWith('55')) telefone = `55${telefone}`;\n  const nacional = telefone.replace(/^55/, '');\n  const telefoneValido =\n    telefone && (nacional.length === 10 || nacional.length === 11) ? telefone : '';\n\n  // caption\n  let caption =\n    `Olá *${j.nome || 'Cliente'}*,\\n\\n` +\n    `Seu boleto vence hoje!\\n\\n` +\n    `💰 *Valor:* R$ ${valorFmt}\\n` +\n    `📅 *Vencimento:* ${vencimento}\\n` +\n    `📄 *Código de Barras:* ${codBarras}\\n`;\n\n  if (j.pdf_text) caption += `\\n(Documento processado automaticamente)`;\n  caption += `\\n\\nObrigado! Qualquer dúvida, estamos à disposição.`;\n\n  // filename\n  let filename = 'boleto.pdf';\n  const linkBoleto = j.cLinkBoleto || '';\n  const m = (linkBoleto || '').match(/([^\\/\\?]+\\.pdf)(?:\\?|$)/i);\n  if (m) filename = m[1];\n  if (b?.file?.fileName && (!m || !m[1])) filename = b.file.fileName;\n\n  // ---- BINÁRIO: força apenas binary.data ----\n  const newBinary = {};\n  if (b?.file) {\n    newBinary[desiredBinaryKey] = b.file;           // vem do Extract/Download com chave 'file'\n  } else if (b && Object.keys(b).length > 0) {\n    const firstKey = Object.keys(b)[0];             // qualquer outra chave\n    newBinary[desiredBinaryKey] = b[firstKey];\n  }\n\n  // ---- JSON final (mantendo campos do input) ----\n  const out = {\n    json: {\n      codigo_cliente_fornecedor: codigoCliente,\n      codigo_lancamento_omie:    codigoLanc,\n      valor:                     j.valor,\n      vencimento:                j.vencimento,\n      parcela:                   parcela,\n\n      // extras úteis para o envio\n      telefone: telefoneValido,\n      caption,\n      filename,\n      url_pdf: linkBoleto || null,\n      has_pdf: !!linkBoleto || !!newBinary[desiredBinaryKey],\n\n      // mantém texto extraído se houver\n      pdf_text: j.pdf_text || null,\n\n      // se seu item vier com \"data\" em JSON, preserva sem quebrar\n      data: j.data ?? null,\n    },\n  };\n\n  if (newBinary[desiredBinaryKey]) {\n    out.binary = newBinary;\n  }\n\n  return out;\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5552,816],"id":"a3f3be0b-ef09-4b16-aac7-28fe17b9ecaf","name":"Mensagem Lembrete"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[3824,608],"id":"df3620a9-8b95-426c-b9b0-2317c5838b17","name":"Loop Over Items3"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[4992,704],"id":"994964fd-86a6-4ae6-bb4d-68ec7ca52353","name":"Wait2","webhookId":"d8c60c36-6959-4acf-ab90-96589b27617f"},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"codigo_cliente_fornecedor","field2":"codigo_cliente_omie"}]},"joinMode":"keepEverything","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[5376,816],"id":"2da764c0-3bc7-4cf5-9690-9d2d8e6c879c","name":"Merge"},{"parameters":{"jsCode":"return items.map(item => {\n  return {\n    json: {\n      codigo_cliente_fornecedor: item.json.codigo_cliente_fornecedor,\n      codigo_lancamento_omie: item.json.codigo_lancamento_omie,\n      valor: item.json.valor_documento,\n      vencimento: item.json.data_vencimento,\n      parcela: item.json.parcela,\n      // ... passe tudo que precisa junto\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4016,704],"id":"1900b7b2-b952-4076-92bd-c531e171e2d1","name":"Code5"},{"parameters":{"jsCode":"return items.map((item, index) => {\n  const boletoData = item.json;\n  const codigoData = $items(\"Code5\")[index].json;\n\n  // Debug para verificar estrutura\n  console.log(\"codigoData recebido:\", codigoData);\n\n  return {\n    json: {\n      codigo_cliente_fornecedor: codigoData?.codigo_cliente_fornecedor ?? null,\n      codigo_lancamento_omie: codigoData?.codigo_lancamento_omie ?? null,\n\n      // Tenta vários caminhos/nomeações para não perder o dado\n      valor: codigoData?.valor\n        ?? codigoData?.Valor\n        ?? codigoData?.dados?.valor\n        ?? null,\n\n      vencimento: codigoData?.vencimento\n        ?? codigoData?.Vencimento\n        ?? codigoData?.dados?.vencimento\n        ?? null,\n\n      parcela: codigoData?.parcela\n        ?? codigoData?.Parcela\n        ?? codigoData?.dados?.parcela\n        ?? null,\n\n      // Dados do boleto\n      cLinkBoleto: boletoData?.cLinkBoleto ?? null,\n      cCodBarras: boletoData?.cCodBarras ?? null,\n      cCodStatus: boletoData?.cCodStatus ?? null,\n      cDesStatus: boletoData?.cDesStatus ?? null,\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4336,704],"id":"ad11e1b3-f6be-4166-bbb4-7dd62f55c7df","name":"Code6"},{"parameters":{"mode":"combine","fieldsToMatchString":"codigo_lancamento_omie","joinMode":"enrichInput1","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[5152,608],"id":"43f8e523-8354-4b77-9f02-d03f16cb3e80","name":"Boletos1"},{"parameters":{"method":"POST","url":"https://app.omie.com.br/api/v1/financas/contareceberboleto/","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"call\": \"ObterBoleto\",\n  \"app_key\": \"725196941469\",\n  \"app_secret\": \"7b75a32779359d8a524278c61e13061b\",\n  \"param\": [\n    {\n      \"nCodTitulo\": {{$json.codigo_lancamento_omie}},\n      \"cCodIntTitulo\": \"\"\n    }\n  ]\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4176,704],"id":"e38eba69-d062-4540-bdae-00556b022d4c","name":"ObterBoleto1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[5888,-304],"id":"0fad6df2-95e6-4752-8be6-128dd858f8d7","name":"Loop Over Items"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[6400,-288],"id":"264fd601-2239-45ef-ad6f-41ad1f615a51","name":"Wait3","webhookId":"35732a36-53f9-4363-b0f3-6a4430104193"},{"parameters":{"resource":"messages-api","instanceName":"Financeiro","remoteJid":"={{$json[\"telefone\"]}}","messageText":"={{$json[\"mensagem\"]}}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[6176,-288],"id":"918b84da-c21c-4ed2-b140-642cf3edad8f","name":"Evolution API1","credentials":{"evolutionApi":{"id":"BOdDN0nhnxIv749g","name":"Evolution Financeiro"}},"onError":"continueRegularOutput"},{"parameters":{"content":"Enviar Mensagens","height":260,"width":760,"color":3},"type":"n8n-nodes-base.stickyNote","position":[5808,-352],"typeVersion":1,"id":"d714d39b-fb41-4b05-b774-23c90951e024","name":"Sticky Note"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[5888,176],"id":"49eeca3e-2cec-4451-835f-7169f22c44b5","name":"Loop Over Items4"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[6400,192],"id":"bffae86e-3ddd-42ce-bce7-e919dac86df4","name":"Wait4","webhookId":"35732a36-53f9-4363-b0f3-6a4430104193"},{"parameters":{"resource":"messages-api","operation":"send-document","instanceName":"Financeiro","remoteJid":"={{ $json.telefone }}","media":"={{ $json.data }}","caption":"={{ $json.caption }}","fileName":"BOLETO CASTELO BRANCO CONTABILIDADE.pdf","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[6176,192],"id":"7f877978-be87-4059-9cea-8c8e18bd9ab6","name":"Evolution API2","credentials":{"evolutionApi":{"id":"BOdDN0nhnxIv749g","name":"Evolution Financeiro"}},"onError":"continueRegularOutput"},{"parameters":{"content":"Enviar Mensagens","height":260,"width":760,"color":3},"type":"n8n-nodes-base.stickyNote","position":[5808,128],"typeVersion":1,"id":"89dd4117-fb65-4ce3-9c46-690afe79b577","name":"Sticky Note3"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[5888,816],"id":"8df1b95c-2a96-464b-b3b9-2efbf91fb98b","name":"Loop Over Items5"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[6400,832],"id":"e95ebadc-5c3b-4511-8bb7-c1e79f3f0d7f","name":"Wait5","webhookId":"35732a36-53f9-4363-b0f3-6a4430104193"},{"parameters":{"resource":"messages-api","operation":"send-document","instanceName":"Financeiro","remoteJid":"={{$json[\"telefone\"]}}","media":"={{ $json.data }}","caption":"={{ $json.caption }}","fileName":"BOLETO CASTELO BRANCO CONTABILIDADE.pdf","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[6176,832],"id":"dbc64837-19ec-494d-896e-4557598d8772","name":"Evolution API3","credentials":{"evolutionApi":{"id":"BOdDN0nhnxIv749g","name":"Evolution Financeiro"}},"onError":"continueRegularOutput"},{"parameters":{"content":"Enviar Mensagens","height":260,"width":760,"color":3},"type":"n8n-nodes-base.stickyNote","position":[5808,784],"typeVersion":1,"id":"9538b83c-2a86-4952-96bb-0332cf41afc1","name":"Sticky Note1"},{"parameters":{"url":"={{ $('ObterBoleto').item.json.cLinkBoleto }}","options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"={{$json[\"filename\"] || \"boleto.pdf\"}}"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4464,96],"id":"c0b6a6a7-0b35-4cfe-a384-c5e49f9ea2bc","name":"Baixar"},{"parameters":{"operation":"binaryToPropery","binaryPropertyName":"boleto.pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[4624,96],"id":"f73ba6d9-a2c0-490d-8639-5014c08171f9","name":"Extract from File1"},{"parameters":{"jsCode":"return items.map((item, index) => {\n  // Output do Code3 (dados base)\n  const c3 = ($items(\"Code3\")[index] || { json: {} }).json;\n  // Output do Code4 (onde sai o código de barras)\n  const c4 = ($items(\"Code4\")[index] || { json: {} }).json;\n\n  const out = {\n    json: {\n      // ---- do Code3 ----\n      codigo_cliente_fornecedor: c3.codigo_cliente_fornecedor,\n      codigo_lancamento_omie: String(c3.codigo_lancamento_omie ?? ''),\n      valor: c3.valor,\n      vencimento: c3.vencimento,\n      parcela: c3.parcela,\n\n      // ---- do item atual ----\n      data: item.json.data,\n\n      // ---- do Code4 (código de barras) ----\n      codBarras: c4.cCodBarras ?? c4.codBarras ?? item.json.cCodBarras ?? null,\n      // se quiser manter também com o nome original:\n      cCodBarras: c4.cCodBarras ?? item.json.cCodBarras ?? null,\n    }\n  };\n\n  // preserva o binário como binary.data, se existir\n  const b = item.binary || {};\n  const chosen =\n    b.data || b.file || (Object.keys(b).length ? b[Object.keys(b)[0]] : null);\n  if (chosen) out.binary = { data: chosen };\n\n  return out;\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4784,96],"id":"a80e8286-36d2-4325-8634-740e527b207d","name":"Code7"},{"parameters":{"mode":"combine","fieldsToMatchString":"codigo_lancamento_omie","joinMode":"enrichInput1","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[5040,0],"id":"4d0bd278-96ad-4090-9491-7f17e7af7cc6","name":"Boletos"},{"parameters":{"url":"={{ $json.cLinkBoleto }}","options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"={{$json[\"filename\"] || \"boleto.pdf\"}}"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4512,704],"id":"ac648bdc-36a1-4517-86ff-c30c5eeb241f","name":"Baixar1"},{"parameters":{"operation":"binaryToPropery","binaryPropertyName":"boleto.pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[4672,704],"id":"ec77876a-8544-498e-bb23-8b675eb1291b","name":"Extract from File2"},{"parameters":{"jsCode":"return items.map((item, index) => {\n  // Output do Code3 (dados base)\n  const c5 = ($items(\"Code5\")[index] || { json: {} }).json;\n  // Output do Code4 (onde sai o código de barras)\n  const c6 = ($items(\"Code6\")[index] || { json: {} }).json;\n\n  const out = {\n    json: {\n      // ---- do Code3 ----\n      codigo_cliente_fornecedor: c5.codigo_cliente_fornecedor,\n      codigo_lancamento_omie: String(c5.codigo_lancamento_omie ?? ''),\n      valor: c5.valor,\n      vencimento: c5.vencimento,\n      parcela: c5.parcela,\n\n      // ---- do item atual ----\n      data: item.json.data,\n\n      // ---- do Code4 (código de barras) ----\n      codBarras: c6.cCodBarras ?? c6.codBarras ?? item.json.cCodBarras ?? null,\n      // se quiser manter também com o nome original:\n      cCodBarras: c6.cCodBarras ?? item.json.cCodBarras ?? null,\n    }\n  };\n\n  // preserva o binário como binary.data, se existir\n  const b = item.binary || {};\n  const chosen =\n    b.data || b.file || (Object.keys(b).length ? b[Object.keys(b)[0]] : null);\n  if (chosen) out.binary = { data: chosen };\n\n  return out;\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4832,704],"id":"f03f7fd6-b859-462c-afe2-5e04b1997b2b","name":"Code8"},{"parameters":{"jsCode":"// ---- Helpers ----\nfunction parseDataBR(d) {\n  if (typeof d !== \"string\") return null;\n  const m = d.match(/^(\\d{2})\\/(\\d{2})\\/(\\d{4})$/);\n  if (!m) return null;\n  const dia = Number(m[1]), mes = Number(m[2]), ano = Number(m[3]);\n  const dt = new Date(ano, mes - 1, dia, 0, 0, 0, 0);\n  if (dt.getFullYear() !== ano || dt.getMonth() !== mes - 1 || dt.getDate() !== dia) return null;\n  return dt;\n}\n\nfunction dateKey(d) {\n  const y = d.getFullYear();\n  const m = String(d.getMonth() + 1).padStart(2, \"0\");\n  const day = String(d.getDate()).padStart(2, \"0\");\n  return `${y}-${m}-${day}`;\n}\n\nconst FERIADOS = new Set([\n  // Exemplo: '2025-01-01', '2025-04-18', '2025-05-01'\n]);\n\nfunction isFeriado(d) {\n  return FERIADOS.has(dateKey(d));\n}\n\nfunction isFimDeSemana(d) {\n  const dow = d.getDay();\n  return dow === 0 || dow === 6; // 0=Dom, 6=Sáb\n}\n\nfunction ultimoDiaUtil(d0) {\n  const d = new Date(d0);\n  while (isFimDeSemana(d) || isFeriado(d)) {\n    d.setDate(d.getDate() - 1);\n  }\n  return d;\n}\n\n// ---- Hoje normalizado ----\nconst hoje = new Date();\nhoje.setHours(0, 0, 0, 0);\n\n// ---- Filtra itens ----\nconst out = [];\n\nfor (const it of items) {\n  const item = it.json || {};\n\n  // Validações básicas\n  if (!item?.data_vencimento || !item?.codigo_lancamento_omie) continue;\n  if (String(item.status_titulo || \"\").toUpperCase().trim() !== \"A VENCER\") continue;\n\n  const boletoGerado = String(item?.boleto?.cGerado ?? \"\").toUpperCase().trim() === \"S\";\n  if (!boletoGerado) continue;\n\n  const vencOriginal = parseDataBR(item.data_vencimento);\n  if (!vencOriginal) continue;\n\n  // Calcula 3 dias antes do vencimento\n  const envioPrevisto = new Date(vencOriginal);\n  envioPrevisto.setDate(vencOriginal.getDate() - 3);\n\n  // Se cair no fim de semana ou feriado → último dia útil anterior\n  const envioEfetivo = ultimoDiaUtil(envioPrevisto);\n\n  // Envia somente se hoje for o dia do envio efetivo\n  if (dateKey(envioEfetivo) === dateKey(hoje)) {\n    out.push({ json: item });\n  }\n}\n\nreturn out;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3472,-304],"id":"52f7200a-70ec-43bc-a955-ad2d0869c59d","name":"Filtro3Dias","executeOnce":false,"alwaysOutputData":false,"retryOnFail":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[5872,-1088],"id":"52f9e608-61d5-42fd-b635-e8ee92811b4d","name":"Loop Over Items6"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[6384,-1072],"id":"db1e2f64-d810-468b-ae47-f4b29359a1d0","name":"Wait6","webhookId":"35732a36-53f9-4363-b0f3-6a4430104193"},{"parameters":{"resource":"messages-api","instanceName":"Financeiro","remoteJid":"={{$json[\"telefone\"]}}","messageText":"={{$json[\"mensagem\"]}}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[6160,-1072],"id":"ae5f32d0-1c80-4c46-b3f9-de959a39b04e","name":"Evolution API4","credentials":{"evolutionApi":{"id":"BOdDN0nhnxIv749g","name":"Evolution Financeiro"}},"onError":"continueRegularOutput"},{"parameters":{"content":"Enviar Mensagens","height":260,"width":760,"color":3},"type":"n8n-nodes-base.stickyNote","position":[5808,-1120],"typeVersion":1,"id":"3a37513d-ef08-4219-b95d-ef79002add35","name":"Sticky Note4"},{"parameters":{"documentId":{"__rl":true,"value":"1dx91GYdsZLRAllTDHcGckM6yuGFSI4ZK0ALiIDLtEbo","mode":"list","cachedResultName":"Contatos Omie","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1dx91GYdsZLRAllTDHcGckM6yuGFSI4ZK0ALiIDLtEbo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1dx91GYdsZLRAllTDHcGckM6yuGFSI4ZK0ALiIDLtEbo/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[4192,-1088],"id":"ecdd2076-0f37-49bc-9257-138541b792f9","name":"PlanilhaNomes4","credentials":{"googleSheetsOAuth2Api":{"id":"tygFBBOupO6wlHLF","name":"Estagio Financeiro"}}},{"parameters":{"jsCode":"// 1️⃣ Recebe os códigos válidos da etapa anterior (filtro do Omie)\nconst codigosValidos = $items(\"FiltroAtrasado3dias\", 0).map(item => item.json.codigo_cliente_fornecedor);\n\n// 2️⃣ Filtra os dados da planilha atual (entrada desse Function)\nreturn items.filter(item =>\n  codigosValidos.includes(item.json.codigo_cliente_omie)\n);\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4592,-1088],"id":"819d0097-2901-4d01-985a-ce414e6ea3ab","name":"Clientes4"},{"parameters":{"jsCode":"return [{ json: {} }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3792,-1088],"id":"66cdcaee-9bf2-469c-b96c-ed42340d17e8","name":"Zerando Item4"},{"parameters":{"jsCode":"return items.map(item => {\n    const nome = item.json.nome || 'Cliente';\n    const contato = item.json.contato || '';\n    const valor = item.json.valor?.toFixed(2).replace('.', ',') || '0,00';\n    const vencimento = item.json.vencimento || 'data não informada';\n    const linkBoleto = item.json.cLinkBoleto || '';\n\n    let telefone = item.json.telefone1 || item.json.telefone2 || '';\n    telefone = telefone.toString().replace(/\\D/g, '');\n    telefone = telefone.replace(/\\s+/g, '');\n    telefone = `55${telefone}`;\n\n    const mensagem = `Olá *${nome}*,\\n\\n` +\n                     `Seu boleto está atrasado, lembre do pagamento!\\n\\n` +\n                     `Qualquer dúvida, estamos à disposição.`;\n\n    return {\n        json: {\n            telefone: telefone,\n            mensagem: mensagem\n        }\n    };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5312,-1088],"id":"17e9ab72-5c60-40bb-84de-d9d08ba45f7c","name":"Mensagem Atrasado1"},{"parameters":{"jsCode":"function isFeriado(date) {\n  // Feriados FIXOS (DD/MM) — ajuste à sua realidade\n  const fixos = [\"01/01\",\"21/04\",\"01/05\",\"07/09\",\"12/10\",\"02/11\",\"15/11\",\"25/12\"];\n\n  // Feriados MÓVEIS por data completa (YYYY-MM-DD)\n  const moveis = new Set([\n    // Ex.: \"2025-02-03\", \"2025-02-04\", \"2025-04-18\"\n  ]);\n\n  const diaMes = date.toLocaleDateString('pt-BR').substring(0, 5);\n  const iso = date.toISOString().slice(0, 10);\n  return fixos.includes(diaMes) || moveis.has(iso);\n}\n\nconst isFdsOuFeriado = (d) => [0, 6].includes(d.getDay()) || isFeriado(d);\n\nfunction addDiasUteis(date, qtd) {\n  const d = new Date(date);\n  let restantes = qtd;\n  while (restantes > 0) {\n    d.setDate(d.getDate() + 3);\n    if (!isFdsOuFeriado(d)) restantes--;\n  }\n  return d;\n}\n\nconst hoje = new Date();\nconst hojeBR = hoje.toLocaleDateString('pt-BR');\n\n// Pega os títulos retornados do Omie\nconst data = items.flatMap(item => item.json.conta_receber_cadastro || []);\n\nconst filtrado = data.filter(item => {\n  if (!item?.data_vencimento || !item?.codigo_lancamento_omie) return false;\n\n  // Garante que o título está marcado como ATRASADO no Omie\n  if ((item.status_titulo || '').toUpperCase() !== 'ATRASADO') return false;\n\n  // Parse dd/mm/yyyy -> Date\n  const [dia, mes, ano] = item.data_vencimento.split('/');\n  const vencimento = new Date(`${ano}-${mes}-${dia}T00:00:00`);\n\n  let envio;\n  if (isFdsOuFeriado(vencimento)) {\n    // Venceu em fds/feriado → enviar após 2 dias úteis\n    envio = addDiasUteis(vencimento, 2);\n  } else {\n    // Venceu em dia útil → +1 dia e, se necessário, ajusta ao próximo dia útil\n    envio = new Date(vencimento);\n    envio.setDate(envio.getDate() + 1);\n    while (isFdsOuFeriado(envio)) {\n      envio.setDate(envio.getDate() + 1);\n    }\n  }\n\n  const envioBR = envio.toLocaleDateString('pt-BR');\n\n  // (Opcional) Só envie se o boleto foi gerado no Omie\n  const boletoOk = (item.boleto?.cGerado?.toUpperCase() ?? 'S') === 'S';\n\n  return hojeBR === envioBR && boletoOk;\n});\n\nreturn filtrado.map(item => ({ json: item }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3456,-1088],"id":"e373dd52-4688-4418-9f01-863be15fb830","name":"FiltroAtrasado3dias","executeOnce":false,"alwaysOutputData":false,"retryOnFail":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[3792,-1744],"id":"284296fd-0115-4ab2-a593-f48df5eec270","name":"Loop Over Items7"},{"parameters":{"amount":3.5},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[4896,-1648],"id":"20f22dd3-e56f-48e1-887f-9350c56d2329","name":"Wait7","webhookId":"d8c60c36-6959-4acf-ab90-96589b27617f"},{"parameters":{"documentId":{"__rl":true,"value":"1dx91GYdsZLRAllTDHcGckM6yuGFSI4ZK0ALiIDLtEbo","mode":"list","cachedResultName":"Contatos Omie","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1dx91GYdsZLRAllTDHcGckM6yuGFSI4ZK0ALiIDLtEbo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1dx91GYdsZLRAllTDHcGckM6yuGFSI4ZK0ALiIDLtEbo/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[4192,-1392],"id":"019fb4fc-7cdf-46cf-a3b4-139b76166b9d","name":"PlanilhaNomes5","credentials":{"googleSheetsOAuth2Api":{"id":"tygFBBOupO6wlHLF","name":"Estagio Financeiro"}}},{"parameters":{"jsCode":"// 1️⃣ Recebe os códigos válidos da etapa anterior (filtro do Omie)\nconst codigosValidos = $items(\"FiltroVencer1\", 0).map(item => item.json.codigo_cliente_fornecedor);\n\n// 2️⃣ Filtra os dados da planilha atual (entrada desse Function)\nreturn items.filter(item =>\n  codigosValidos.includes(item.json.codigo_cliente_omie)\n);\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5024,-1392],"id":"6aa245b8-8834-430c-9e85-97ddd2678e5d","name":"Clientes5"},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"codigo_cliente_fornecedor","field2":"codigo_cliente_omie"}]},"joinMode":"keepEverything","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[5248,-1568],"id":"bdf5a75d-0c6c-4820-94e1-3e939dad8584","name":"Merge2"},{"parameters":{"jsCode":"return items.map(item => {\n  return {\n    json: {\n      codigo_cliente_fornecedor: item.json.codigo_cliente_fornecedor,\n      codigo_lancamento_omie: item.json.codigo_lancamento_omie,\n      valor: item.json.valor,\n      vencimento: item.json.vencimento,\n      parcela: item.json.parcela,\n      // ... passe tudo que precisa junto\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3968,-1648],"id":"36ddf9c6-cb5d-4dd6-979b-15480ba2640e","name":"Code"},{"parameters":{"jsCode":"return items.map((item, index) => {\n  const boletoData = item.json;\n  const codigoData = $items(\"Code\")[index].json; // ajuste o nome do nó aqui\n\n  return {\n    json: {\n      codigo_cliente_fornecedor: codigoData.codigo_cliente_fornecedor,\n      codigo_lancamento_omie: codigoData.codigo_lancamento_omie,\n      valor: codigoData.valor,\n      vencimento: codigoData.vencimento,\n      parcela: codigoData.parcela,\n      // Dados do boleto\n      cLinkBoleto: boletoData.cLinkBoleto,\n      codBarras: boletoData.cCodBarras,\n      cCodStatus: boletoData.cCodStatus,\n      cDesStatus: boletoData.cDesStatus,\n      // outros campos do boleto, se quiser\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4288,-1648],"id":"4476e5be-266c-4ea4-966c-2c1d5b460f55","name":"Code9"},{"parameters":{"jsCode":"return [{ json: {} }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3792,-1392],"id":"d0a7766f-b2e3-4ffe-a742-2467bb5febcc","name":"Zerando Item5"},{"parameters":{"jsCode":"// Sempre força existir apenas item.binary.data\nconst desiredBinaryKey = 'data';\n\nreturn items.map((item) => {\n  const j = item.json || {};\n  const b = item.binary || {};\n\n  // ---- campos básicos do seu input ----\n  const codigoCliente = j.codigo_cliente_fornecedor ?? null;\n  const codigoLanc    = j.codigo_lancamento_omie != null ? String(j.codigo_lancamento_omie) : '';\n  const vencimento    = j.vencimento || 'data não informada';\n  const parcela       = j.parcela || '';\n  const codBarras     = j.cCodBarras || j.codBarras || 'código não disponível';\n\n  // valor -> formatação pt-BR\n  let valorNum = j.valor;\n  if (typeof valorNum === 'string') {\n    valorNum = parseFloat(valorNum.replace(/\\./g, '').replace(',', '.'));\n  }\n  const valorFmt = isNaN(valorNum) ? '0,00' : valorNum.toFixed(2).replace('.', ',');\n\n  // telefone (se existir nos dados)\n  let telefone = (j.telefone || j.telefone1 || j.telefone2 || '')\n    .toString()\n    .replace(/\\D/g, '');\n  if (telefone && !telefone.startsWith('55')) telefone = `55${telefone}`;\n  const nacional = telefone.replace(/^55/, '');\n  const telefoneValido =\n    telefone && (nacional.length === 10 || nacional.length === 11) ? telefone : '';\n\n  // caption\n  let caption =\n    `Olá *${j.nome || 'Cliente'}*,\\n\\n` +\n    `Seu boleto está atrasado, lembre-se de realizar o pagamento:\\n\\n` +\n    `💰 *Valor:* R$ ${valorFmt}\\n` +\n    `📅 *Vencimento:* ${vencimento}\\n` +\n    `📄 *Código de Barras:* ${codBarras}\\n`;\n\n  if (j.pdf_text) caption += `\\n(Documento processado automaticamente)`;\n  caption += `\\n\\nObrigado! Qualquer dúvida, estamos à disposição.`;\n\n  // filename\n  let filename = 'boleto.pdf';\n  const linkBoleto = j.cLinkBoleto || '';\n  const m = (linkBoleto || '').match(/([^\\/\\?]+\\.pdf)(?:\\?|$)/i);\n  if (m) filename = m[1];\n  if (b?.file?.fileName && (!m || !m[1])) filename = b.file.fileName;\n\n  // ---- BINÁRIO: força apenas binary.data ----\n  const newBinary = {};\n  if (b?.file) {\n    newBinary[desiredBinaryKey] = b.file;           // vem do Extract/Download com chave 'file'\n  } else if (b && Object.keys(b).length > 0) {\n    const firstKey = Object.keys(b)[0];             // qualquer outra chave\n    newBinary[desiredBinaryKey] = b[firstKey];\n  }\n\n  // ---- JSON final (mantendo campos do input) ----\n  const out = {\n    json: {\n      codigo_cliente_fornecedor: codigoCliente,\n      codigo_lancamento_omie:    codigoLanc,\n      valor:                     j.valor,\n      vencimento:                j.vencimento,\n      parcela:                   parcela,\n\n      // extras úteis para o envio\n      telefone: telefoneValido,\n      caption,\n      filename,\n      url_pdf: linkBoleto || null,\n      has_pdf: !!linkBoleto || !!newBinary[desiredBinaryKey],\n\n      // mantém texto extraído se houver\n      pdf_text: j.pdf_text || null,\n\n      // se seu item vier com \"data\" em JSON, preserva sem quebrar\n      data: j.data ?? null,\n    },\n  };\n\n  if (newBinary[desiredBinaryKey]) {\n    out.binary = newBinary;\n  }\n\n  return out;\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5504,-1568],"id":"4addf694-ccb4-4759-9707-f432acb4707d","name":"Mensagem para Evolution1"},{"parameters":{"method":"POST","url":"https://app.omie.com.br/api/v1/financas/contareceberboleto/","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"call\": \"ObterBoleto\",\n  \"app_key\": \"725196941469\",\n  \"app_secret\": \"7b75a32779359d8a524278c61e13061b\",\n  \"param\": [\n    {\n      \"nCodTitulo\": {{$json.codigo_lancamento_omie}},\n      \"cCodIntTitulo\": \"\"\n    }\n  ]\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4128,-1648],"id":"c55fabd6-7ec8-45cc-9052-059ce6415b13","name":"ObterBoleto2"},{"parameters":{"jsCode":"function isFeriado(date) {\n  // Feriados FIXOS (DD/MM) — ajuste à sua realidade\n  const fixos = [\"01/01\",\"21/04\",\"01/05\",\"07/09\",\"12/10\",\"02/11\",\"15/11\",\"25/12\"];\n\n  // Feriados MÓVEIS por data completa (YYYY-MM-DD)\n  const moveis = new Set([\n    // Ex.: \"2025-02-03\", \"2025-02-04\", \"2025-04-18\"\n  ]);\n\n  const diaMes = date.toLocaleDateString('pt-BR').substring(0, 5);\n  const iso = date.toISOString().slice(0, 10);\n  return fixos.includes(diaMes) || moveis.has(iso);\n}\n\nconst isFdsOuFeriado = (d) => [0, 6].includes(d.getDay()) || isFeriado(d);\n\nfunction addDiasUteis(date, qtd) {\n  const d = new Date(date);\n  let restantes = qtd;\n  while (restantes > 0) {\n    d.setDate(d.getDate() + 3);\n    if (!isFdsOuFeriado(d)) restantes--;\n  }\n  return d;\n}\n\nconst hoje = new Date();\nconst hojeBR = hoje.toLocaleDateString('pt-BR');\n\n// Pega os títulos retornados do Omie\nconst data = items.flatMap(item => item.json.conta_receber_cadastro || []);\n\nconst filtrado = data.filter(item => {\n  if (!item?.data_vencimento || !item?.codigo_lancamento_omie) return false;\n\n  // Garante que o título está marcado como ATRASADO no Omie\n  if ((item.status_titulo || '').toUpperCase() !== 'ATRASADO') return false;\n\n  // Parse dd/mm/yyyy -> Date\n  const [dia, mes, ano] = item.data_vencimento.split('/');\n  const vencimento = new Date(`${ano}-${mes}-${dia}T00:00:00`);\n\n  let envio;\n  if (isFdsOuFeriado(vencimento)) {\n    // Venceu em fds/feriado → enviar após 2 dias úteis\n    envio = addDiasUteis(vencimento, 2);\n  } else {\n    // Venceu em dia útil → +1 dia e, se necessário, ajusta ao próximo dia útil\n    envio = new Date(vencimento);\n    envio.setDate(envio.getDate() + 1);\n    while (isFdsOuFeriado(envio)) {\n      envio.setDate(envio.getDate() + 1);\n    }\n  }\n\n  const envioBR = envio.toLocaleDateString('pt-BR');\n\n  // (Opcional) Só envie se o boleto foi gerado no Omie\n  const boletoOk = (item.boleto?.cGerado?.toUpperCase() ?? 'S') === 'S';\n\n  return hojeBR === envioBR && boletoOk;\n});\n\nreturn filtrado.map(item => ({ json: item }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3456,-1744],"id":"3c00d5c4-33a8-4a8f-9c6c-0259217db876","name":"FiltroVencer1","executeOnce":false,"alwaysOutputData":false,"retryOnFail":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[5872,-1568],"id":"73f5da66-0b16-49d7-bdbd-10816d17922a","name":"Loop Over Items8"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[6384,-1552],"id":"458a1dbb-5044-415c-9746-21f8b52dc8ff","name":"Wait8","webhookId":"35732a36-53f9-4363-b0f3-6a4430104193"},{"parameters":{"resource":"messages-api","operation":"send-document","instanceName":"Financeiro","remoteJid":"={{ $json.telefone }}","media":"={{ $json.data }}","caption":"={{ $json.caption }}","fileName":"BOLETO CASTELO BRANCO CONTABILIDADE.pdf","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[6160,-1552],"id":"9e7904c8-c7f2-405e-b366-0f02395638a2","name":"Evolution API5","credentials":{"evolutionApi":{"id":"BOdDN0nhnxIv749g","name":"Evolution Financeiro"}},"onError":"continueRegularOutput"},{"parameters":{"content":"Enviar Mensagens","height":260,"width":760,"color":3},"type":"n8n-nodes-base.stickyNote","position":[5792,-1616],"typeVersion":1,"id":"fa6a7781-87f3-4dde-83ab-d39ec8039b51","name":"Sticky Note5"},{"parameters":{"url":"={{ $('ObterBoleto2').item.json.cLinkBoleto }}","options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"={{$json[\"filename\"] || \"boleto.pdf\"}}"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4448,-1648],"id":"a63aa38e-9f98-488f-b64c-e184b1cbe204","name":"Baixar2"},{"parameters":{"operation":"binaryToPropery","binaryPropertyName":"boleto.pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[4608,-1648],"id":"e822b60b-2c58-44d4-8530-b300519b2657","name":"Extract from File"},{"parameters":{"jsCode":"return items.map((item, index) => {\n  // Output do Code3 (dados base)\n  const c3 = ($items(\"Code\")[index] || { json: {} }).json;\n  // Output do Code4 (onde sai o código de barras)\n  const c4 = ($items(\"Code9\")[index] || { json: {} }).json;\n\n  const out = {\n    json: {\n      // ---- do Code3 ----\n      codigo_cliente_fornecedor: c3.codigo_cliente_fornecedor,\n      codigo_lancamento_omie: String(c3.codigo_lancamento_omie ?? ''),\n      valor: c3.valor,\n      vencimento: c3.vencimento,\n      parcela: c3.parcela,\n\n      // ---- do item atual ----\n      data: item.json.data,\n\n      // ---- do Code4 (código de barras) ----\n      codBarras: c4.cCodBarras ?? c4.codBarras ?? item.json.cCodBarras ?? null,\n      // se quiser manter também com o nome original:\n      cCodBarras: c4.cCodBarras ?? item.json.cCodBarras ?? null,\n    }\n  };\n\n  // preserva o binário como binary.data, se existir\n  const b = item.binary || {};\n  const chosen =\n    b.data || b.file || (Object.keys(b).length ? b[Object.keys(b)[0]] : null);\n  if (chosen) out.binary = { data: chosen };\n\n  return out;\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4768,-1648],"id":"fd8e852e-7c6f-4e30-a864-376317438aa7","name":"Code10"},{"parameters":{"mode":"combine","fieldsToMatchString":"codigo_lancamento_omie","joinMode":"enrichInput1","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[5024,-1744],"id":"d5611219-d4c2-4821-ba36-10118a133be1","name":"Boletos2"}],"connections":{"Tempo de espera":{"main":[[{"node":"Loop Ler Pag","type":"main","index":0}]]},"Loop Ler Pag":{"main":[[{"node":"MergeContas","type":"main","index":0}],[{"node":"ContasReceber","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Boletos","type":"main","index":0}],[{"node":"Code3","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"PlanilhaNomes":{"main":[[{"node":"Clientes","type":"main","index":0}]]},"Clientes":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Code3":{"main":[[{"node":"ObterBoleto","type":"main","index":0}]]},"Code4":{"main":[[{"node":"Baixar","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Mensagem para Evolution","type":"main","index":0}]]},"BuscarTotalPaginas":{"main":[[{"node":"GerarUltimasPaginas","type":"main","index":0}]]},"ContasReceber":{"main":[[{"node":"Tempo de espera","type":"main","index":0}]]},"Zerando Item":{"main":[[{"node":"PlanilhaNomes","type":"main","index":0}]]},"Mensagem para Evolution":{"main":[[{"node":"Loop Over Items4","type":"main","index":0}]]},"Loop Over Items2":{"main":[[],[{"node":"Evolution API","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Evolution API":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"GerarUltimasPaginas":{"main":[[{"node":"Loop Ler Pag","type":"main","index":0}]]},"MergeContas":{"main":[[{"node":"FiltroAtrasado3dias","type":"main","index":0},{"node":"FiltroVencer1","type":"main","index":0},{"node":"FiltroAtrasado","type":"main","index":0},{"node":"Filtro3Dias","type":"main","index":0},{"node":"FiltroVencer","type":"main","index":0},{"node":"FiltroLembrete","type":"main","index":0}]]},"ObterBoleto":{"main":[[{"node":"Code4","type":"main","index":0}]]},"FiltroVencer":{"main":[[{"node":"Zerando Item","type":"main","index":0},{"node":"Loop Over Items1","type":"main","index":0}]]},"PlanilhaNomes1":{"main":[[{"node":"Clientes1","type":"main","index":0}]]},"Zerando Item1":{"main":[[{"node":"PlanilhaNomes1","type":"main","index":0}]]},"FiltroLembrete":{"main":[[{"node":"Zerando Item1","type":"main","index":0},{"node":"Loop Over Items3","type":"main","index":0}]]},"PlanilhaNomes2":{"main":[[{"node":"Clientes2","type":"main","index":0}]]},"Zerando Item2":{"main":[[{"node":"PlanilhaNomes2","type":"main","index":0}]]},"FiltroAtrasado":{"main":[[{"node":"Zerando Item2","type":"main","index":0}]]},"Clientes1":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Clientes2":{"main":[[{"node":"Mensagem Atrasado","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"BuscarTotalPaginas","type":"main","index":0}]]},"PlanilhaNomes3":{"main":[[{"node":"Clientes3","type":"main","index":0}]]},"Clientes3":{"main":[[{"node":"Mensagem 3dias","type":"main","index":0}]]},"Zerando Item3":{"main":[[{"node":"PlanilhaNomes3","type":"main","index":0}]]},"Mensagem Atrasado":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Mensagem Lembrete":{"main":[[{"node":"Loop Over Items5","type":"main","index":0}]]},"Loop Over Items3":{"main":[[{"node":"Boletos1","type":"main","index":0}],[{"node":"Code5","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Code5":{"main":[[{"node":"ObterBoleto1","type":"main","index":0}]]},"Code6":{"main":[[{"node":"Baixar1","type":"main","index":0}]]},"Boletos1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"ObterBoleto1":{"main":[[{"node":"Code6","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Mensagem Lembrete","type":"main","index":0}]]},"Mensagem 3dias":{"main":[[]]},"Loop Over Items":{"main":[[],[{"node":"Evolution API1","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Evolution API1":{"main":[[{"node":"Wait3","type":"main","index":0}]]},"Loop Over Items4":{"main":[[],[{"node":"Evolution API2","type":"main","index":0}]]},"Wait4":{"main":[[{"node":"Loop Over Items4","type":"main","index":0}]]},"Evolution API2":{"main":[[{"node":"Wait4","type":"main","index":0}]]},"Loop Over Items5":{"main":[[],[{"node":"Evolution API3","type":"main","index":0}]]},"Wait5":{"main":[[{"node":"Loop Over Items5","type":"main","index":0}]]},"Evolution API3":{"main":[[{"node":"Wait5","type":"main","index":0}]]},"Baixar":{"main":[[{"node":"Extract from File1","type":"main","index":0}]]},"Extract from File1":{"main":[[{"node":"Code7","type":"main","index":0}]]},"Boletos":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Code7":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Baixar1":{"main":[[{"node":"Extract from File2","type":"main","index":0}]]},"Extract from File2":{"main":[[{"node":"Code8","type":"main","index":0}]]},"Code8":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"Filtro3Dias":{"main":[[{"node":"Zerando Item3","type":"main","index":0}]]},"Loop Over Items6":{"main":[[],[{"node":"Evolution API4","type":"main","index":0}]]},"Wait6":{"main":[[{"node":"Loop Over Items6","type":"main","index":0}]]},"Evolution API4":{"main":[[{"node":"Wait6","type":"main","index":0}]]},"PlanilhaNomes4":{"main":[[{"node":"Clientes4","type":"main","index":0}]]},"Clientes4":{"main":[[{"node":"Mensagem Atrasado1","type":"main","index":0}]]},"Zerando Item4":{"main":[[{"node":"PlanilhaNomes4","type":"main","index":0}]]},"Mensagem Atrasado1":{"main":[[]]},"FiltroAtrasado3dias":{"main":[[{"node":"Zerando Item4","type":"main","index":0}]]},"Loop Over Items7":{"main":[[{"node":"Boletos2","type":"main","index":0}],[{"node":"Code","type":"main","index":0}]]},"Wait7":{"main":[[{"node":"Loop Over Items7","type":"main","index":0}]]},"PlanilhaNomes5":{"main":[[{"node":"Clientes5","type":"main","index":0}]]},"Clientes5":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"Merge2":{"main":[[{"node":"Mensagem para Evolution1","type":"main","index":0}]]},"Code":{"main":[[{"node":"ObterBoleto2","type":"main","index":0}]]},"Code9":{"main":[[{"node":"Baixar2","type":"main","index":0}]]},"Zerando Item5":{"main":[[{"node":"PlanilhaNomes5","type":"main","index":0}]]},"Mensagem para Evolution1":{"main":[[]]},"ObterBoleto2":{"main":[[{"node":"Code9","type":"main","index":0}]]},"FiltroVencer1":{"main":[[{"node":"Zerando Item5","type":"main","index":0},{"node":"Loop Over Items7","type":"main","index":0}]]},"Loop Over Items8":{"main":[[],[{"node":"Evolution API5","type":"main","index":0}]]},"Wait8":{"main":[[{"node":"Loop Over Items8","type":"main","index":0}]]},"Evolution API5":{"main":[[{"node":"Wait8","type":"main","index":0}]]},"Baixar2":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Code10","type":"main","index":0}]]},"Code10":{"main":[[{"node":"Wait7","type":"main","index":0}]]},"Boletos2":{"main":[[{"node":"Merge2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"GJoEkByGgHbx83q5"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Schedule Trigger1":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"1b4233f7-8010-4fbf-a9b6-22176eb152f4","triggerCount":1,"shared":[{"createdAt":"2025-07-30T11:38:16.747Z","updatedAt":"2025-07-30T11:38:16.747Z","role":"workflow:owner","workflowId":"1OVIStjCGdc9rwGo","projectId":"g8BnYlos8HJUUVcr","project":{"createdAt":"2025-05-28T13:28:04.746Z","updatedAt":"2025-05-28T13:31:33.202Z","id":"g8BnYlos8HJUUVcr","name":"IA Pessoas <comercial@castelobrancocontabilidade.com.br>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-05-28T13:28:04.746Z","updatedAt":"2025-05-28T13:28:04.746Z","userId":"17ee4480-754a-4392-9fc2-a6bc3c46ebad","projectId":"g8BnYlos8HJUUVcr","user":{"createdAt":"2025-05-28T13:28:03.022Z","updatedAt":"2025-10-09T03:00:30.587Z","id":"17ee4480-754a-4392-9fc2-a6bc3c46ebad","email":"comercial@castelobrancocontabilidade.com.br","firstName":"IA","lastName":"Pessoas","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-05-28T13:31:41.717Z","personalization_survey_n8n_version":"1.94.1"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"fN5uSWvKRujKur6R","userActivatedAt":1757621781409,"npsSurvey":{"responded":true,"lastShownAt":1749478378830},"dismissedCallouts":{"preBuiltAgentsCalloutHttpRequest":true,"preBuiltAgentsCalloutGoogleDrive":true,"preBuiltAgentsModalCallout":true,"preBuiltAgentsCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-10-09","isPending":false}}]}}],"tags":[]}