workflows/ChatBot_-_Atas_(100%_Funcional)_DlDYQdJspVRSqilv.json
{"createdAt":"2025-09-19T13:26:37.783Z","id":"DlDYQdJspVRSqilv","name":"ChatBot - Atas (100% Funcional)","active":true,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.Mensagem }}","options":{"systemMessage":"[REDACTED]"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[1456,-16],"id":"80f61df7-bd37-44b3-a0b9-39fda682d1fb","name":"AI Agent"},{"parameters":{"assignments":{"assignments":[{"id":"efec7649-fb01-4d99-81a1-14ed09d1b220","name":"Quem Mandou","value":"={{ $json.body.data.key.remoteJid }}","type":"string"},{"id":"b621fa5a-8058-4417-9695-e56bec2a93ac","name":"instancia","value":"={{ $json.body.instance }}","type":"string"},{"id":"e04d08b1-5f6a-440c-92b3-706da6472fe4","name":"Mensagem","value":"={{ $json.body.data.message.conversation }}","type":"string"},{"id":"f0b30b8d-143a-4046-8710-23dbcf98e6e1","name":"Id da Mensagem","value":"={{ $json.body.data.key.id }}","type":"string"},{"id":"3ef22280-079f-4dbe-8008-7bbdaf97cde1","name":"Nome da Pessoa","value":"={{ $json.body.data.pushName }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[416,-16],"id":"d9699dd6-3f05-4e17-8ca4-180a26bf4f9e","name":"Dados"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1376,160],"id":"2bafca97-8f18-47a1-b6a6-54af4d28e459","name":"OpenAI Chat Model"},{"parameters":{"sessionIdType":"customKey","sessionKey":"[REDACTED]","sessionTTL":3600,"contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[1520,192],"id":"cb837318-19e7-4e6a-958d-7eee54788fb5","name":"Redis Chat Memory"},{"parameters":{"resource":"chat-api","operation":"read-messages","instanceName":"={{ $('Dados3').item.json.instancia }}","remoteJid":"={{ $('Dados3').item.json['Nome da Pessoa'] }}","messageId":"={{ $('Dados3').item.json['Id da Mensagem'] }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1888,-16],"id":"8a632ca5-0c33-4e27-8546-4f4c93615558","name":"Marcar mensagens como lidas"},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Dados3').item.json.instancia }}","remoteJid":"={{ $('Dados3').item.json['Quem Mandou'] }}","messageText":"={{ $('AI Agent').item.json.output }}","options_message":{"delay":3000}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2080,-16],"id":"b3452fba-d935-4406-ac85-e857598193db","name":"Enviar texto"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"a3a9502b-9926-4002-85ce-3bdba946107e","leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"=557592991249@s.whatsapp.net","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-128,0],"id":"c4d73bf6-9552-4008-a46e-8be3893d28f2","name":"só_meu_numero_passa"},{"parameters":{"httpMethod":"POST","path":"3f42e459-e571-4645-b6f7-1c59263e1265","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-368,0],"id":"885bb4cf-24cf-4530-b1f4-623341d97412","name":"entrada_whatsapp","webhookId":"3f42e459-e571-4645-b6f7-1c59263e1265"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.data.messageType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals"},"id":"29a0f42b-613f-4939-92b7-8350fc9396e7"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1ccbf4f4-14b5-4e4c-9dda-927a3149a293","leftValue":"={{ $json.body.data.messageType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[96,0],"id":"fa12047c-ed5c-4aba-b4ea-e71bda4e702d","name":"Switch"},{"parameters":{"assignments":{"assignments":[{"id":"e6c25186-142a-49bc-9bf5-c06499698fb4","name":"Mensagem","value":"={{ $json.Mensagem }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[656,-16],"id":"d8565a18-f836-4bab-97d9-942072cf4685","name":"Mensagem de Texto"},{"parameters":{"assignments":{"assignments":[{"id":"a1feda2f-e95c-4d9b-b660-e32b89ec620a","name":"Mensagem","value":"={{ $json.Mensagem }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[928,-16],"id":"5b0f4436-c572-4f1f-ab75-e29a898f5a36","name":"Mensagem"},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"={{ $json.body.instance }}","messageId":"={{ $json.body.data.key.id }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[320,144],"id":"72f4220d-e12c-4a64-b5f2-ea885ed41905","name":"Obter m dia em base64"},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{"mimeType":"audio/mpeg"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[464,144],"id":"bfd6026a-e9a6-418d-b5ca-18b889867857","name":"Convert to File"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[608,144],"id":"79f0f992-d5cb-47d9-adc3-f46fb1f5605d","name":"Transcribe a recording"},{"parameters":{"assignments":{"assignments":[{"id":"7ca47c50-6034-458c-8d7f-f1cff08e0515","name":"Mensagem","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[752,144],"id":"2c794d3a-a7e9-446b-90f8-9ad9c521d7e0","name":"Set Transcription"},{"parameters":{"assignments":{"assignments":[{"id":"efec7649-fb01-4d99-81a1-14ed09d1b220","name":"Quem Mandou","value":"={{ $('entrada_whatsapp').item.json.body.data.key.remoteJid }}","type":"string"},{"id":"b621fa5a-8058-4417-9695-e56bec2a93ac","name":"instancia","value":"={{ $('entrada_whatsapp').item.json.body.instance }}","type":"string"},{"id":"e04d08b1-5f6a-440c-92b3-706da6472fe4","name":"Mensagem","value":"={{ $json.Mensagem }}","type":"string"},{"id":"f0b30b8d-143a-4046-8710-23dbcf98e6e1","name":"Id da Mensagem","value":"={{ $('entrada_whatsapp').item.json.body.data.key.id }}","type":"string"},{"id":"3ef22280-079f-4dbe-8008-7bbdaf97cde1","name":"Nome da Pessoa","value":"={{ $('entrada_whatsapp').item.json.body.data.pushName }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1200,-16],"id":"8aab2e85-bbda-4510-a1b4-e0b89daea056","name":"Dados3"}],"connections":{"Dados":{"main":[[{"node":"Mensagem de Texto","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Redis Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[{"node":"Marcar mensagens como lidas","type":"main","index":0}]]},"Marcar mensagens como lidas":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]},"só_meu_numero_passa":{"main":[[{"node":"Switch","type":"main","index":0}]]},"entrada_whatsapp":{"main":[[{"node":"só_meu_numero_passa","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Dados","type":"main","index":0}],[{"node":"Obter m dia em base64","type":"main","index":0}]]},"Mensagem de Texto":{"main":[[{"node":"Mensagem","type":"main","index":0}]]},"Mensagem":{"main":[[{"node":"Dados3","type":"main","index":0}]]},"Obter m dia em base64":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Transcribe a recording","type":"main","index":0}]]},"Transcribe a recording":{"main":[[{"node":"Set Transcription","type":"main","index":0}]]},"Set Transcription":{"main":[[{"node":"Mensagem","type":"main","index":0}]]},"Dados3":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}}}