workflows/choque_infos_Ktog3gEejmpnIpd0.json
{"createdAt":"2025-09-16T13:23:23.046Z","id":"Ktog3gEejmpnIpd0","name":"choque_infos","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-480,0],"id":"ee4d8b87-9fd3-4d6a-9a1c-7541b87defcd","name":"When clicking ‘Execute workflow’"},{"parameters":{"resource":"fileFolder","returnAll":true,"filter":{"folderId":{"__rl":true,"value":"[REDACTED]","mode":"list","cachedResultName":"processed","cachedResultUrl":"[REDACTED]"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-192,0],"id":"69228a36-1557-42e4-b73e-ab256003d636","name":"Search files and folders"},{"parameters":{"compare":"selectedFields","fieldsToCompare":"name","options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[16,0],"id":"6355aae8-949e-481f-9c03-cb3aba4ef8da","name":"Remove Duplicates"},{"parameters":{"resource":"fileFolder","returnAll":true,"filter":{"folderId":{"__rl":true,"value":"[REDACTED]","mode":"list","cachedResultName":"TESTE","cachedResultUrl":"[REDACTED]"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-192,176],"id":"4da1771b-f42a-44cf-844b-604b16e2229f","name":"Search files and folders1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"772669ae-8cb9-4975-bd16-3add2aa290f4","leftValue":"={{ $json.name }}","rightValue":".xlsx","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[16,176],"id":"b7b96de1-e8b4-43f4-8b5d-0caae7d0ba7f","name":"Filter"},{"parameters":{"mode":"combineBySql","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1072,-16],"id":"aab8d936-368f-465a-a028-ec6227a1a855","name":"Merge"},{"parameters":{"operation":"xlsx","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[528,176],"id":"c389489f-c2d3-4e9b-a496-3db620329f73","name":"Extract from File"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[224,176],"id":"4ecc4780-9e3d-4622-871e-179fb13d12b1","name":"Download file"},{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[528,0],"id":"03b09a30-5c4d-481c-beac-5752c4a50ef5","name":"Extract from File1"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[224,0],"id":"5fd05b62-d959-463b-a548-b0794163de58","name":"Download file1"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Search files and folders","type":"main","index":0},{"node":"Search files and folders1","type":"main","index":0}]]},"Search files and folders":{"main":[[{"node":"Remove Duplicates","type":"main","index":0}]]},"Search files and folders1":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Download file","type":"main","index":0}]]},"Remove Duplicates":{"main":[[{"node":"Download file1","type":"main","index":0}]]},"Download file":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Extract from File1":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Download file1":{"main":[[{"node":"Extract from File1","type":"main","index":0}]]}}}