workflows/Clientes_Omie_j8ubvfyM8zsBPQlP.json
{"createdAt":"2025-10-30T14:02:48.846Z","id":"j8ubvfyM8zsBPQlP","name":"Clientes Omie","active":false,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"[REDACTED]","sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"[REDACTED]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[976,16],"id":"ddaba695-f64b-47df-bf43-727460b0de3d","name":"HTTP Request","retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"jsCode":"const { pagina, total_de_paginas } = items[0].json;\nif (pagina < total_de_paginas) {\n  return [{ json: { pagina: pagina + 1 } }];\n} else {\n  return [];\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1232,16],"id":"881047d7-59c6-4198-b4a6-649829fb050e","name":"Code"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[736,0],"id":"cd3652b9-3c43-4ac0-90ce-745343f287e3","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1472,32],"id":"73745a43-c48e-4f1c-b9e5-7e7baad3735b","name":"Merge"},{"parameters":{"method":"POST","url":"[REDACTED]","sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"[REDACTED]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[240,0],"id":"eaad5196-d36a-4b32-b6d7-b9cf7bea0471","name":"HTTP Request1"},{"parameters":{"jsCode":"const { total_de_paginas } = items[0].json;\nconst paginas = [];\nfor (let i = 1; i <= total_de_paginas; i++) {\n  paginas.push({ json: { pagina: i } });\n}\nreturn paginas;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[448,0],"id":"58efe864-2dad-420c-a787-890786ca4ca1","name":"Code in JavaScript"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[48,0],"id":"da1803ac-9f2f-4f82-afca-b938d277c7bf","name":"When clicking ‘Execute workflow’"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"[REDACTED]","mode":"list","cachedResultName":"E-mails Omie","cachedResultUrl":"[REDACTED]"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"[REDACTED]"},"columns":{"mappingMode":"defineBelow","value":{"CNPJ":"={{ $json.cnpj_cpf }}","NOME":"={{ $json.nome_fantasia }}","E-MAIL":"={{ $json.email }}"},"matchingColumns":[],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"CNPJ","displayName":"CNPJ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"E-MAIL","displayName":"E-MAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1984,32],"id":"a87917d8-b850-4112-821d-47dbc10834f0","name":"Append row in sheet"},{"parameters":{"jsCode":"const clientes = items[0].json.clientes_cadastro || [];\n\nreturn clientes.map(cliente => ({\n  json: {\n    nome_fantasia: cliente.nome_fantasia || null,\n    cnpj_cpf: cliente.cnpj_cpf || null,\n    email: cliente.email || null\n  }\n}));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1760,32],"id":"29f6da0b-82ee-41dd-8c6e-0b1173c35c58","name":"Code in JavaScript1"}],"connections":{"HTTP Request":{"main":[[{"node":"Code","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"Code":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]}}}