workflows/Contatos_Omie_qndMPnb7hg2sfIYg.json
{"createdAt":"2025-06-04T11:47:59.273Z","id":"qndMPnb7hg2sfIYg","name":"Contatos Omie","active":true,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"[REDACTED]","sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"[REDACTED]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2336,-800],"id":"e860baa0-9bd8-41ca-a504-178a4befd4c8","name":"HTTP Request","retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"jsCode":"const { pagina, total_de_paginas } = items[0].json;\nif (pagina < total_de_paginas) {\n  return [{ json: { pagina: pagina + 1 } }];\n} else {\n  return [];\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2592,-800],"id":"85b4db94-156d-4fb5-a741-ca88509e35f3","name":"Code"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2096,-816],"id":"61e24e3e-d4c2-495a-9a8f-212317edf30f","name":"Loop Over Items"},{"parameters":{"content":"Criando Planilha com Dados Clientes\n","height":368,"width":2344,"color":3},"type":"n8n-nodes-base.stickyNote","position":[1296,-896],"typeVersion":1,"id":"1ed64cfc-0f03-40ef-9c22-dd7d872c6ab4","name":"Sticky Note"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"[REDACTED]","mode":"list","cachedResultName":"Contatos Omie","cachedResultUrl":"[REDACTED]"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"[REDACTED]"},"columns":{"mappingMode":"autoMapInputData","value":{"codigo_cliente_omie":"={{ $json.codigo_cliente_omie }}","nome":"={{ $json.nome }}","contato":"={{ $json.contato }}","telefone1":"={{ $json.telefone1 }}","telefone2":"={{ $json.telefone2 }}","cnpj_cpf":"={{ $json.cnpj_cpf }}"},"matchingColumns":["codigo_cliente_omie"],"schema":[{"id":"codigo_cliente_omie","displayName":"codigo_cliente_omie","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"contato","displayName":"contato","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"telefone1","displayName":"telefone1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"telefone2","displayName":"telefone2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"cnpj_cpf","displayName":"cnpj_cpf","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[3376,-784],"id":"9db0ded0-d307-41b2-af97-743df4e642a3","name":"Google Sheets1"},{"parameters":{"jsCode":"const clientes = items[0].json.clientes_cadastro || [];\n\nreturn clientes.map(cliente => {\n  const codigo = cliente.codigo_cliente_omie;\n  const nome = cliente.razao_social || cliente.nome_fantasia || 'Cliente';\n  const contato = cliente.contato || '';\n\n  const telefone1 = (cliente.telefone1_ddd ?? '') + (cliente.telefone1_numero ?? '');\n  const telefone2 = (cliente.telefone2_ddd ?? '') + (cliente.telefone2_numero ?? '');\n\n  // Novo campo CNPJ/CPF\n  const cnpj_cpf = cliente.cnpj_cpf || null;\n\n  return {\n    json: {\n      codigo_cliente_omie: codigo,\n      nome: nome,\n      contato: contato,\n      telefone1: telefone1 !== '' ? telefone1 : null,\n      telefone2: telefone2 !== '' ? telefone2 : null,\n      cnpj_cpf: cnpj_cpf\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3072,-784],"id":"175401c1-0b02-41a6-a405-c43b18ba1418","name":"Code1","alwaysOutputData":true},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2832,-784],"id":"64eb8bdf-3fb6-4834-b2fa-8f6d7ef28cba","name":"Merge"},{"parameters":{"method":"POST","url":"[REDACTED]","sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"[REDACTED]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1600,-816],"id":"0aff4f9d-e8e6-4a34-aabb-60cb0cbc8cf7","name":"HTTP Request1"},{"parameters":{"jsCode":"const { total_de_paginas } = items[0].json;\nconst paginas = [];\nfor (let i = 1; i <= total_de_paginas; i++) {\n  paginas.push({ json: { pagina: i } });\n}\nreturn paginas;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1808,-816],"id":"1b30c9d1-742f-4cb1-81c4-b3b39d285356","name":"Code in JavaScript"},{"parameters":{"rule":{"interval":[{"triggerAtHour":6}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[1360,-816],"id":"990c2a71-d9fa-4892-98bb-2da58f2b20e6","name":"Schedule Trigger"}],"connections":{"HTTP Request":{"main":[[{"node":"Code","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"Code":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"HTTP Request","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Google Sheets1":{"main":[[]]},"Merge":{"main":[[{"node":"Code1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]}}}