workflows/CRM_328ajuvOJHE6p0gs.json
{"createdAt":"2025-11-05T12:40:08.078Z","id":"328ajuvOJHE6p0gs","name":"CRM","active":false,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"[REDACTED]","sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"[REDACTED]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[976,16],"id":"2daf1b92-f944-4009-a80f-6fd09fad404a","name":"HTTP Request","retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"jsCode":"const { pagina, total_de_paginas } = items[0].json;\nif (pagina < total_de_paginas) {\n  return [{ json: { pagina: pagina + 1 } }];\n} else {\n  return [];\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1232,16],"id":"d41a51c7-4fdb-45d6-85df-172b6e087be7","name":"Code"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[736,0],"id":"83d1b884-314f-4b50-81d3-b5ae098c8505","name":"Loop Over Items"},{"parameters":{"jsCode":"const clientes = items[0].json.clientes_cadastro || [];\n\nreturn clientes.map(cliente => {\n  const codigo = cliente.codigo_cliente_omie;\n  const nome = cliente.razao_social || cliente.nome_fantasia || 'Cliente';\n  const contato = cliente.contato || '';\n\n  const telefone1 = (cliente.telefone1_ddd ?? '') + (cliente.telefone1_numero ?? '');\n  const telefone2 = (cliente.telefone2_ddd ?? '') + (cliente.telefone2_numero ?? '');\n\n  // Novo campo CNPJ/CPF\n  const cnpj_cpf = cliente.cnpj_cpf || null;\n\n  return {\n    json: {\n      codigo_cliente_omie: codigo,\n      nome: nome,\n      contato: contato,\n      telefone1: telefone1 !== '' ? telefone1 : null,\n      telefone2: telefone2 !== '' ? telefone2 : null,\n      cnpj_cpf: cnpj_cpf\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1712,32],"id":"39d5fd52-d958-4c88-bd19-143c52cd59fe","name":"Code1","alwaysOutputData":true},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1472,32],"id":"f43d3e89-713b-4d19-82f8-b8972ea6e742","name":"Merge"},{"parameters":{"method":"POST","url":"[REDACTED]","sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"[REDACTED]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[240,0],"id":"e8b99441-0c56-4209-affd-6eca889f8921","name":"HTTP Request1"},{"parameters":{"jsCode":"const { total_de_paginas } = items[0].json;\nconst paginas = [];\nfor (let i = 1; i <= total_de_paginas; i++) {\n  paginas.push({ json: { pagina: i } });\n}\nreturn paginas;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[448,0],"id":"289c80a4-15d6-4b76-8a55-eb9ebec1c331","name":"Code in JavaScript"},{"parameters":{"rule":{"interval":[{"triggerAtHour":6}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"id":"37272163-9b90-4870-867a-14c46354ff20","name":"Schedule Trigger"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"[REDACTED]","mode":"list","cachedResultName":"Codigos Clientes","cachedResultUrl":"[REDACTED]"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"P치gina1","cachedResultUrl":"[REDACTED]"},"columns":{"mappingMode":"defineBelow","value":{"C칩digo":"={{ $json.codigo_cliente_omie }}","Nome":"={{ $json.nome }}","Cnpj":"={{ $json.cnpj_cpf }}"},"matchingColumns":[],"schema":[{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"C칩digo","displayName":"C칩digo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Cnpj","displayName":"Cnpj","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1904,32],"id":"81921e27-caff-404c-8e91-de6295ef5443","name":"Append row in sheet"}],"connections":{"HTTP Request":{"main":[[{"node":"Code","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"Code":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"HTTP Request","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Code1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]}}}