workflows/Dia_do_vencimento_-_teste_U7mILvKe015bY8vj.json
{"createdAt":"2025-11-10T16:31:22.533Z","id":"U7mILvKe015bY8vj","name":"Dia do vencimento - teste","active":false,"isArchived":false,"nodes":[{"parameters":{"jsCode":"function isFeriado(date) { \n  // 🗓️ FERIADOS FIXOS (DD/MM)\n  const fixos = [\n    \"01/01\", \"21/04\", \"01/05\", \"07/09\",\n    \"12/10\", \"02/11\", \"15/11\", \"25/12\"\n  ];\n\n  // 🕊️ FERIADOS MÓVEIS (YYYY-MM-DD)\n  const moveis = new Set([\n    // \"2025-02-03\", \"2025-02-04\", \"2025-04-18\",\n  ]);\n\n  const diaMes = date.toLocaleDateString('pt-BR').substring(0, 5);\n  const iso = date.toISOString().slice(0, 10);\n  return fixos.includes(diaMes) || moveis.has(iso);\n}\n\nfunction proximoDiaUtil(date) {\n  const d = new Date(date);\n  while ([0, 6].includes(d.getDay()) || isFeriado(d)) {\n    d.setDate(d.getDate() + 1);\n  }\n  return d;\n}\n\n// 🔠 Função utilitária para normalizar texto\nconst up = s => (s ?? '').toString().trim().toUpperCase();\n\nconst hoje = new Date();\nconst hojeBR = hoje.toLocaleDateString('pt-BR');\n\n// 📦 Itens vindos do Omie\nconst data = items.flatMap(item => item.json.conta_receber_cadastro || []);\n\n// 🧩 Filtragem principal\nconst filtrado = data.filter(item => {\n  // ❌ Ignora itens sem vencimento ou código\n  if (!item?.data_vencimento || !item?.codigo_lancamento_omie) return false;\n\n  // ❌ Bloqueia títulos já recebidos\n  if (up(item.status_titulo) === 'RECEBIDO') return false;\n\n  // 🗓️ Converte dd/mm/yyyy → Date\n  const [dia, mes, ano] = item.data_vencimento.split('/');\n  const vencimento = new Date(`${ano}-${mes}-${dia}T00:00:00`);\n\n  // 📅 Ajusta para o próximo dia útil caso caia em fds/feriado\n  const envio = ([0,6].includes(vencimento.getDay()) || isFeriado(vencimento))\n    ? proximoDiaUtil(vencimento)\n    : vencimento;\n\n  const envioBR = envio.toLocaleDateString('pt-BR');\n\n  // 💳 Apenas títulos com boleto gerado\n  const boletoOk = (item.boleto?.cGerado?.toUpperCase() ?? 'S') === 'S';\n\n  // 💰 Captura valor do título independente do campo\n  let rawValor = item.valor ?? item.valor_titulo ?? item.valor_documento ?? 0;\n\n  // 🔢 Normaliza para número\n  if (typeof rawValor === 'string') {\n    rawValor = rawValor.replace(/\\./g, '').replace(',', '.');\n  }\n  const valorNum = parseFloat(rawValor) || 0;\n\n  // 🚫 Bloquear 0.01 com tolerância\n  if (Math.abs(valorNum - 0.01) < 0.000001) return false;\n\n  // ✅ Passa apenas se vence hoje, tem boleto e valor válido\n  return hojeBR === envioBR && boletoOk;\n});\n\n// 🔁 Retorna no formato esperado pelo n8n\nreturn filtrado.map(item => ({\n  json: item\n}));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,0],"id":"108e6d0d-28ef-49a5-99cc-7448e6ab319b","name":"FiltroLembrete","executeOnce":false,"alwaysOutputData":false,"retryOnFail":true},{"parameters":{"documentId":{"__rl":true,"value":"[REDACTED]","mode":"list","cachedResultName":"Contatos Omie","cachedResultUrl":"[REDACTED]"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"[REDACTED]"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[592,368],"id":"d22e5eff-d3df-4a4f-acc7-20ec76316cc1","name":"PlanilhaNomes1"},{"parameters":{"jsCode":"// 1️⃣ Recebe os códigos válidos da etapa anterior (filtro do Omie)\nconst codigosValidos = $items(\"FiltroLembrete\", 0).map(item => item.json.codigo_cliente_fornecedor);\n\n// 2️⃣ Filtra os dados da planilha atual (entrada desse Function)\nreturn items.filter(item =>\n  codigosValidos.includes(item.json.codigo_cliente_omie)\n);\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1584,368],"id":"72caaced-e555-4445-8dd7-db72d59cb662","name":"Clientes1"},{"parameters":{"jsCode":"return [{ json: {} }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,368],"id":"61dfe1d5-5b3b-452d-ac9d-60745834a1d5","name":"Zerando Item1"},{"parameters":{"jsCode":"// Sempre força existir apenas item.binary.data\nconst desiredBinaryKey = 'data';\n\nreturn items.map((item) => {\n  const j = item.json || {};\n  const b = item.binary || {};\n\n  // ---- campos básicos do seu input ----\n  const codigoCliente = j.codigo_cliente_fornecedor ?? null;\n  const codigoLanc    = j.codigo_lancamento_omie != null ? String(j.codigo_lancamento_omie) : '';\n  const vencimento    = j.vencimento || 'data não informada';\n  const parcela       = j.parcela || '';\n  const codBarras     = j.cCodBarras || j.codBarras || 'código não disponível';\n\n  // valor -> formatação pt-BR\n  let valorNum = j.valor;\n  if (typeof valorNum === 'string') {\n    valorNum = parseFloat(valorNum.replace(/\\./g, '').replace(',', '.'));\n  }\n  const valorFmt = isNaN(valorNum) ? '0,00' : valorNum.toFixed(2).replace('.', ',');\n\n  // telefone (se existir nos dados)\n  let telefone = (j.telefone || j.telefone1 || j.telefone2 || '')\n    .toString()\n    .replace(/\\D/g, '');\n  if (telefone && !telefone.startsWith('55')) telefone = `55${telefone}`;\n  const nacional = telefone.replace(/^55/, '');\n  const telefoneValido =\n    telefone && (nacional.length === 10 || nacional.length === 11) ? telefone : '';\n\n  // nome do cliente\n  const nomeCliente = j.nome || 'Cliente';\n\n  // ---- CAPTION solicitado ----\n  // (Se quiser sem parênteses, troque \"(${nomeCliente})\" por \"${nomeCliente}\")\n  const caption =\n    `Olá! ${nomeCliente} 😊\\n` +\n    `Lembrando que seu boleto vence hoje! Caso ainda não tenha efetuado o pagamento, pode aproveitar para realizar dentro do prazo.\\n\\n` +\n    `💰 *Valor:* R$ ${valorFmt}\\n` +\n    `📄 *Código de Barras:* ${codBarras}\\n\\n` +\n    `Agradecemos pela atenção e parceria! 💙\\n\\n` +\n    `Financeiro – Castelo Branco Contabilidade Avançada Ltda.`;\n\n  // filename\n  let filename = 'boleto.pdf';\n  const linkBoleto = j.cLinkBoleto || '';\n  const m = (linkBoleto || '').match(/([^\\/\\?]+\\.pdf)(?:\\?|$)/i);\n  if (m) filename = m[1];\n  if (b?.file?.fileName && (!m || !m[1])) filename = b.file.fileName;\n\n  // ---- BINÁRIO: força apenas binary.data ----\n  const newBinary = {};\n  if (b?.file) {\n    newBinary[desiredBinaryKey] = b.file;           // vem do Extract/Download com chave 'file'\n  } else if (b && Object.keys(b).length > 0) {\n    const firstKey = Object.keys(b)[0];             // qualquer outra chave\n    newBinary[desiredBinaryKey] = b[firstKey];\n  }\n\n  // ---- JSON final (mantendo campos do input) ----\n  const out = {\n    json: {\n      codigo_cliente_fornecedor: codigoCliente,\n      codigo_lancamento_omie:    codigoLanc,\n      valor:                     j.valor,\n      vencimento:                j.vencimento,\n      parcela:                   parcela,\n\n      // extras úteis para o envio\n      telefone: telefoneValido,\n      caption,\n      filename,\n      url_pdf: linkBoleto || null,\n      has_pdf: !!linkBoleto || !!newBinary[desiredBinaryKey],\n\n      // mantém texto extraído se houver\n      pdf_text: j.pdf_text || null,\n\n      // se seu item vier com \"data\" em JSON, preserva sem quebrar\n      data: j.data ?? null,\n\n      // (opcionais que você já tinha calculado)\n      codigo_barras: codBarras,\n      valor_formatado: `R$ ${valorFmt}`,\n    },\n  };\n\n  if (newBinary[desiredBinaryKey]) {\n    out.binary = newBinary;\n  }\n\n  return out;\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2032,336],"id":"a1ba2c88-876b-4243-8561-f0963420832a","name":"Mensagem Lembrete"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[224,0],"id":"4b001e58-b1ba-4c58-935a-dc19f6f49aa5","name":"Loop Over Items3"},{"parameters":{"path":"3a81350f-99be-4f58-9892-c73e2b6369b7"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1392,96],"id":"badf674c-2298-4584-a05d-ae1b52b11a9a","name":"Wait2","webhookId":"3a81350f-99be-4f58-9892-c73e2b6369b7"},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"codigo_cliente_fornecedor","field2":"codigo_cliente_omie"}]},"joinMode":"keepEverything","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[1760,176],"id":"4c7b09fe-9a42-47c0-a654-ebf2e908b41b","name":"Merge"},{"parameters":{"jsCode":"return items.map(item => {\n  return {\n    json: {\n      codigo_cliente_fornecedor: item.json.codigo_cliente_fornecedor,\n      codigo_lancamento_omie: item.json.codigo_lancamento_omie,\n      valor: item.json.valor_documento,\n      vencimento: item.json.data_vencimento,\n      parcela: item.json.parcela,\n      // ... passe tudo que precisa junto\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[416,96],"id":"5c35cb64-8a00-42fc-86e8-78ebd3590e0b","name":"Code5"},{"parameters":{"jsCode":"return items.map((item, index) => {\n  const boletoData = item.json;\n  const codigoData = $items(\"Code5\")[index].json;\n\n  // Debug para verificar estrutura\n  console.log(\"codigoData recebido:\", codigoData);\n\n  return {\n    json: {\n      codigo_cliente_fornecedor: codigoData?.codigo_cliente_fornecedor ?? null,\n      codigo_lancamento_omie: codigoData?.codigo_lancamento_omie ?? null,\n\n      // Tenta vários caminhos/nomeações para não perder o dado\n      valor: codigoData?.valor\n        ?? codigoData?.Valor\n        ?? codigoData?.dados?.valor\n        ?? null,\n\n      vencimento: codigoData?.vencimento\n        ?? codigoData?.Vencimento\n        ?? codigoData?.dados?.vencimento\n        ?? null,\n\n      parcela: codigoData?.parcela\n        ?? codigoData?.Parcela\n        ?? codigoData?.dados?.parcela\n        ?? null,\n\n      // Dados do boleto\n      cLinkBoleto: boletoData?.cLinkBoleto ?? null,\n      cCodBarras: boletoData?.cCodBarras ?? null,\n      cCodStatus: boletoData?.cCodStatus ?? null,\n      cDesStatus: boletoData?.cDesStatus ?? null,\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[736,96],"id":"ee5e11bb-8b73-446e-afae-5d0f53c6d89b","name":"Code6"},{"parameters":{"mode":"combine","fieldsToMatchString":"codigo_lancamento_omie","joinMode":"enrichInput1","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[1552,0],"id":"11f099d4-87fb-430c-8a2b-ce79c4875886","name":"Boletos1"},{"parameters":{"method":"POST","url":"[REDACTED]","sendBody":true,"specifyBody":"json","jsonBody":"[REDACTED]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[576,96],"id":"8da1126b-fd47-4bdb-9add-c295d4c81575","name":"ObterBoleto1"},{"parameters":{"url":"={{ $json.cLinkBoleto }}","options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"={{$json[\"filename\"] || \"boleto.pdf\"}}"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[912,96],"id":"a780f3c6-73ab-4504-ba22-4a65d131c548","name":"Baixar1"},{"parameters":{"operation":"binaryToPropery","binaryPropertyName":"boleto.pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1072,96],"id":"b048e128-ade1-4fd4-9e8a-226124ef5706","name":"Extract from File2"},{"parameters":{"jsCode":"return items.map((item, index) => {\n  // Output do Code3 (dados base)\n  const c5 = ($items(\"Code5\")[index] || { json: {} }).json;\n  // Output do Code4 (onde sai o código de barras)\n  const c6 = ($items(\"Code6\")[index] || { json: {} }).json;\n\n  const out = {\n    json: {\n      // ---- do Code3 ----\n      codigo_cliente_fornecedor: c5.codigo_cliente_fornecedor,\n      codigo_lancamento_omie: String(c5.codigo_lancamento_omie ?? ''),\n      valor: c5.valor,\n      vencimento: c5.vencimento,\n      parcela: c5.parcela,\n\n      // ---- do item atual ----\n      data: item.json.data,\n\n      // ---- do Code4 (código de barras) ----\n      codBarras: c6.cCodBarras ?? c6.codBarras ?? item.json.cCodBarras ?? null,\n      // se quiser manter também com o nome original:\n      cCodBarras: c6.cCodBarras ?? item.json.cCodBarras ?? null,\n    }\n  };\n\n  // preserva o binário como binary.data, se existir\n  const b = item.binary || {};\n  const chosen =\n    b.data || b.file || (Object.keys(b).length ? b[Object.keys(b)[0]] : null);\n  if (chosen) out.binary = { data: chosen };\n\n  return out;\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1232,96],"id":"feda3da7-3215-4827-b0bd-7465b3fa9da5","name":"Code8"},{"parameters":{"inputSource":"passthrough"},"type":"[REDACTED]","typeVersion":1.1,"position":[-160,0],"id":"c97d5bc9-2231-4c3e-8ebb-00651c093497","name":"When Executed by Another Workflow"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"[REDACTED]","mode":"list","cachedResultName":"Mensagens Boletos","cachedResultUrl":"[REDACTED]"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"[REDACTED]"},"columns":{"mappingMode":"defineBelow","value":{"Nome":"={{ $json.nome }}","Vencimento":"={{ $json.vencimento}}"},"matchingColumns":[],"schema":[{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Vencimento","displayName":"Vencimento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2016,0],"id":"0ef0db19-e620-44cb-a59d-17cf6fa4fed7","name":"Append row in sheet","onError":"[REDACTED]"}],"connections":{"FiltroLembrete":{"main":[[{"node":"Zerando Item1","type":"main","index":0},{"node":"Loop Over Items3","type":"main","index":0}]]},"PlanilhaNomes1":{"main":[[{"node":"Clientes1","type":"main","index":0}]]},"Clientes1":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Zerando Item1":{"main":[[{"node":"PlanilhaNomes1","type":"main","index":0}]]},"Mensagem Lembrete":{"main":[[]]},"Loop Over Items3":{"main":[[{"node":"Boletos1","type":"main","index":0}],[{"node":"Code5","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Mensagem Lembrete","type":"main","index":0},{"node":"Append row in sheet","type":"main","index":0}]]},"Code5":{"main":[[{"node":"ObterBoleto1","type":"main","index":0}]]},"Code6":{"main":[[{"node":"Baixar1","type":"main","index":0}]]},"Boletos1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"ObterBoleto1":{"main":[[{"node":"Code6","type":"main","index":0}]]},"Baixar1":{"main":[[{"node":"Extract from File2","type":"main","index":0}]]},"Extract from File2":{"main":[[{"node":"Code8","type":"main","index":0}]]},"Code8":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"FiltroLembrete","type":"main","index":0}]]}},"versionCounter":3}