workflows/Envio_E-mails_AcPYJKdpWAp8b5gB.json
{"createdAt":"2025-10-31T14:32:53.779Z","id":"AcPYJKdpWAp8b5gB","name":"Envio E-mails","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"b82a078a-9146-4464-a8d8-18ee27c38a58","name":"When clicking ‘Execute workflow’"},{"parameters":{"documentId":{"__rl":true,"value":"[REDACTED]","mode":"list","cachedResultName":"Teste email financeiro","cachedResultUrl":"[REDACTED]"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"[REDACTED]"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[208,0],"id":"cc63a922-9ba2-430a-a2cb-02b8a5951d20","name":"Get row(s) in sheet"},{"parameters":{"sendTo":"={{ $json.EMAIL }}","subject":"COMUNICADO – DECLARAÇÃO ACESSÓRIA DE FIM DE ANO / ENCERRAMENTO CONTÁBIL 2025","message":"<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n<meta charset=\"UTF-8\" />\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\" />\n<title>Comunicado – Mensalidade Adicional (Encerramento 2025)</title>\n</head>\n<body style=\"margin:0;padding:0;background:#f6f7f9;font-family:Arial,Helvetica,sans-serif;color:#1f2937;\">\n  <div style=\"max-width:640px;margin:0 auto;padding:24px;\">\n    <div style=\"background:#ffffff;border:1px solid #e5e7eb;border-radius:8px;overflow:hidden;\">\n      <div style=\"padding:24px 24px 8px 24px;\">\n        <p style=\"margin:0 0 12px 0;font-size:14px;line-height:1.6;color:#374151;\">Prezado(a) Cliente,</p>\n\n        <p style=\"margin:0 0 12px 0;font-size:14px;line-height:1.6;color:#374151;\">\n          Em conformidade com a <strong>Cláusula 4.3 do Contrato de Prestação de Serviços Contábeis</strong>, informamos que a\n          <strong>mensalidade adicional</strong> referente às declarações acessórias e ao <strong>encerramento contábil do exercício de 2025</strong>\n          será cobrada em <strong>duas parcelas</strong>, com vencimentos em\n          <strong>14/11/2025</strong> e <strong>14/12/2025</strong>.\n        </p>\n\n        <p style=\"margin:0 0 12px 0;font-size:14px;line-height:1.6;color:#374151;\">\n          Embora o contrato preveja originalmente o pagamento em parcela única, a\n          <strong>Castelo Branco Contabilidade Avançada Ltda.</strong>, visando proporcionar maior comodidade e equilíbrio financeiro\n          aos seus clientes, adotou a divisão em duas parcelas, <strong>sem qualquer acréscimo</strong> ou alteração de valor,\n          mantendo integralmente as condições contratuais vigentes.\n        </p>\n\n        <div style=\"margin:16px 0;padding:12px 14px;border:1px solid #d1d5db;border-radius:6px;background:#f9fafb;\">\n          <p style=\"margin:0;font-size:14px;line-height:1.6;color:#111827;\">\n            <strong>Envio dos boletos:</strong> até <strong>07/11/2025</strong>, de forma a permitir o devido planejamento financeiro.\n          </p>\n        </div>\n\n        <p style=\"margin:0 0 12px 0;font-size:14px;line-height:1.6;color:#374151;\">\n          Essa cobrança corresponde aos <strong>serviços extraordinários de fechamento do exercício</strong>, incluindo:\n        </p>\n\n        <ul style=\"margin:0 0 12px 20px;padding:0;color:#374151;font-size:14px;line-height:1.6;\">\n          <li>Elaboração das demonstrações contábeis obrigatórias (Balanço Patrimonial, DRE, ECD e ECF);</li>\n          <li>Processamento da folha do <strong>13º salário</strong>;</li>\n          <li>Apoio no inventário de estoques;</li>\n          <li>Entrega das obrigações fiscais e acessórias: <strong>PGDAS-D, DCTFWeb, EFD-Reinf, eSocial e RAIS</strong>, em estrita observância à legislação vigente e às Normas Brasileiras de Contabilidade.</li>\n        </ul>\n\n        <p style=\"margin:0 0 12px 0;font-size:14px;line-height:1.6;color:#374151;\">\n          Cumpre ressaltar que a <strong>DIRF</strong> será transmitida pela última vez em 2025, referente ao ano-calendário de 2024,\n          sendo definitivamente substituída pelos sistemas <strong>EFD-Reinf</strong> e <strong>eSocial</strong>, conforme estabelece a\n          <strong>Instrução Normativa RFB nº 2.163/2023</strong>.\n        </p>\n\n        <p style=\"margin:0 0 12px 0;font-size:14px;line-height:1.6;color:#374151;\">\n          Esses procedimentos asseguram que sua empresa permaneça em <strong>plena conformidade contábil e fiscal</strong>, evitando riscos\n          de multas, autuações ou restrições cadastrais, além de fortalecer a credibilidade das informações financeiras e a segurança\n          dos demonstrativos contábeis.\n        </p>\n\n        <p style=\"margin:0 0 12px 0;font-size:14px;line-height:1.6;color:#374151;\">\n          A <strong>Castelo Branco Contabilidade Avançada Ltda.</strong> reafirma seu compromisso com a <strong>transparência</strong>,\n          <strong>ética</strong> e <strong>excelência técnica</strong>, mantendo a qualidade e o zelo que caracterizam nosso atendimento.\n        </p>\n\n        <p style=\"margin:16px 0 0 0;font-size:14px;line-height:1.6;color:#374151;\">Atenciosamente,</p>\n        <p style=\"margin:4px 0 0 0;font-size:14px;line-height:1.6;color:#111827;\"><strong>Castelo Branco Contabilidade Avançada Ltda.</strong></p>\n        <p style=\"margin:0;font-size:13px;line-height:1.6;color:#6b7280;\">CRC/BA 006316/O-0</p>\n      </div>\n\n      <hr style=\"border:none;border-top:1px solid #e5e7eb;margin:0;\" />\n\n      <div style=\"padding:16px 24px 24px 24px;\">\n        <p style=\"margin:0;font-size:13px;line-height:1.6;color:#6b7280;\">\n          📍 R. Prof. Fernando São Paulo, 470 – Ponto Central – Feira de Santana/BA<br />\n          📞 (75) 2102-9597 | (75) 9 8260-2359\n        </p>\n      </div>\n    </div>\n\n    <p style=\"margin:12px 0 0 0;font-size:12px;line-height:1.6;color:#9ca3af;text-align:center;\">\n      Mensagem automática. Por favor, não responda este e-mail.\n    </p>\n  </div>\n</body>\n</html>\n","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[704,16],"id":"33efd5d1-841d-4460-999e-0d167d9421f0","name":"Send a message","webhookId":"ffdfec41-e7fe-40cc-9171-d190f2d6d6fc"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[416,0],"id":"1eec46e9-4665-4eee-b1d8-00050ee5fbac","name":"Loop Over Items"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[912,16],"id":"32a54d81-ef2e-4f10-9024-20115608a1b4","name":"Wait","webhookId":"79a24fc3-ad0d-4bee-ba43-9aaef1e4004a"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Send a message","type":"main","index":0}]]},"Send a message":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}}}