workflows/Envio_de_mensagens_simples_Ql2Em80zQC6tCIhc.json
{"createdAt":"2025-10-13T12:46:15.338Z","id":"Ql2Em80zQC6tCIhc","name":"Envio de mensagens simples","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[0,0],"id":"f9c8a78b-2ed4-4939-9311-1bfba0afe220","name":"Loop Over Items"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[432,16],"id":"91615c36-7253-476c-aa59-f3819d9e4cae","name":"Wait3","webhookId":"35732a36-53f9-4363-b0f3-6a4430104193"},{"parameters":{"resource":"messages-api","instanceName":"Financeiro","remoteJid":"={{$json[\"telefone\"]}}","messageText":"={{$json[\"mensagem\"]}}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[208,16],"id":"782d7bb4-63ee-48e7-a835-a6309fca9f3d","name":"Evolution API1","onError":"[REDACTED]"},{"parameters":{"inputSource":"passthrough"},"type":"[REDACTED]","typeVersion":1.1,"position":[-224,0],"id":"b13d1a18-1e25-4908-8682-b84fa94d6ef9","name":"When Executed by Another Workflow"}],"connections":{"Loop Over Items":{"main":[[],[{"node":"Evolution API1","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Evolution API1":{"main":[[{"node":"Wait3","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}}}