workflows/envia_tarefas_3dhI3JPja1vr8TSK.json
{"createdAt":"2025-10-28T18:46:02.642Z","id":"3dhI3JPja1vr8TSK","name":"envia_tarefas","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"titulo"},{"name":"resumo_completo"},{"name":"data_hora"},{"name":"tarefas","type":"any"}]}},"type":"[REDACTED]","typeVersion":1.1,"position":[0,16],"id":"66b278fb-44ae-49fb-8728-689262613a4e","name":"When Executed by Another Workflow"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"947c62ef-c06b-4989-a0d1-6ec0ce9b3b9c","leftValue":"={{ $json.departamento }}","rightValue":"Triagem","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c2bef5d6-e36e-4fd7-8151-39ee11623876","leftValue":"={{ $json.departamento }}","rightValue":"Marketing (MKT)","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4f16bfce-c401-4e53-b9f9-65e85de0c6ee","leftValue":"={{ $json.departamento }}","rightValue":"Pessoal","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"80e849a1-fe85-49be-9a8e-b9232fd9a699","leftValue":"={{ $json.departamento }}","rightValue":"Fiscal","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"986a07ca-ee37-4729-a572-fe4cf5f95d0c","leftValue":"={{ $json.departamento }}","rightValue":"IA","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d626dca9-a0be-4e91-b8bb-4a2bf888d412","leftValue":"={{ $json.departamento }}","rightValue":"Atendimento","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"425c552f-c236-44f7-b5f6-de4eba8efdc6","leftValue":"={{ $json.departamento }}","rightValue":"RH","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"df746765-efaa-4b40-b79c-e9412cbdc0d8","leftValue":"={{ $json.departamento }}","rightValue":"Contábil","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2a01da01-bdd6-420a-8e12-fb50481c2598","leftValue":"={{ $json.departamento }}","rightValue":"Regularize","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bdeda037-4faf-49b1-8d22-85f6b741b3a2","leftValue":"={{ $json.departamento }}","rightValue":"Comercial","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"39f071f2-f038-46c3-9d8b-3055711d7572","leftValue":"={{ $json.departamento }}","rightValue":"Manutenção","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6e5007ce-87f4-4c49-9c82-2fe9071f1184","leftValue":"={{ $json.departamento }}","rightValue":"TI","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fb659ae7-2710-47ba-8123-a502b35bf732","leftValue":"={{ $json.departamento }}","rightValue":"Financeiro","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"dbe9e8e6-4cfe-40c8-8eb2-bd0ccb5e7cb7","leftValue":"={{ $json.departamento }}","rightValue":"Parcelamento","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f1c0fd92-fa38-40e1-9a84-54d379641b4f","leftValue":"={{ $json.departamento }}","rightValue":"Diretoria (RH e Geral)","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a24b6ea9-e7da-4dd0-b565-9b27dc9ffd84","leftValue":"={{ $json.departamento }}","rightValue":"Diretoria (Comercial, Inovação, Estratégia e Tributário-Operacional)","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"52a4d2dd-f619-4cd5-988b-a6b0c3cccac6","leftValue":"={{ $json.departamento }}","rightValue":"Diretoria (Financeira)","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a1446c3b-2040-45ed-a4f9-941aaec4ffb4","leftValue":"={{ $json.departamento }}","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-528,-320],"id":"ffbd0167-de15-410c-8e2f-e704b21ecdf2","name":"Switch"},{"parameters":{"fieldToSplitOut":"tarefas","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[320,16],"id":"c6a980c4-2f4d-4cf9-8f12-ad776be78e8c","name":"Split Out"},{"parameters":{"workflowId":{"__rl":true,"value":"OwGA9iaDz9AngYGt","mode":"list","cachedResultUrl":"[REDACTED]","cachedResultName":"timbrado_ia"},"workflowInputs":{"mappingMode":"defineBelow","value":{"resumo_texto":"={{ $('When Executed by Another Workflow').item.json.resumo_completo }}"},"matchingColumns":["resumo_texto"],"schema":[{"id":"resumo_texto","displayName":"resumo_texto","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[944,16],"id":"f4e33002-6e21-4400-a4e5-c15c36db8bee","name":"Call 'timbrado_ia'"},{"parameters":{"jsCode":"// Mapeamento: Departamento -> Número de WhatsApp\nconst contatos = {\n  \"Triagem\": \"5571999991111\",\n  \"Marketing (MKT)\": \"5571999992222\",\n  \"Pessoal\": \"5571999993333\",\n  \"Fiscal\": \"5571999994444\",\n  \"IA\": \"5571999995555\",\n  \"Atendimento\": \"5571999996666\",\n  \"RH\": \"5571999997777\",\n  \"Contábil\": \"5571999998888\",\n  \"Regularize\": \"5571999999999\",\n  \"Comercial\": \"5571988881111\",\n  \"Manutenção\": \"5571988882222\",\n  \"TI\": \"5571988883333\",\n  \"Financeiro\": \"5571988884444\",\n  \"Parcelamento\": \"5571988885555\",\n  \"Diretoria (RH e Geral)\": \"5571988886666\",\n  \"Diretoria (Comercial, Inovação, Estratégia e Tributário-Operacional)\": \"5571988887777\",\n  \"Diretoria (Financeira)\": \"5571988888888\"\n};\n\nreturn items.map(item => {\n  const dpto = item.json.departamento?.trim() || \"\";\n  item.json.telefone = contatos[dpto] || null; // se não encontrar, deixa null\n  return item;\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[640,16],"id":"79fae91d-5b21-4b91-8831-25d7d0534d9e","name":"Code in JavaScript"},{"parameters":{"method":"POST","url":"[REDACTED]","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"[REDACTED]"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Code in JavaScript').item.json.telefone }}"},{"name":"text","value":"={{ $json.output[0].content[0].text }}"},{}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1504,-208],"id":"203f234c-12d8-48ff-96b6-8779b40a8c69","name":"Análise WhatsApp"},{"parameters":{"resource":"messages-api","operation":"send-document","instanceName":"IAPessoas","remoteJid":"={{ $('Code in JavaScript').item.json.telefone }}","media":"timbrado_tarefas","caption":"Olá, segue as tarefas ","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1248,16],"id":"205d8baa-d28d-4667-a66e-a861ac60b147","name":"Enviar documento"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Switch":{"main":[[],[],[],[],[],[],[],[]]},"Call 'timbrado_ia'":{"main":[[{"node":"Enviar documento","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Call 'timbrado_ia'","type":"main","index":0}]]}}}