workflows/Fluxo_principal_wWK8Jp8sysVuPClM.json
{"createdAt":"2025-09-15T17:12:49.800Z","id":"wWK8Jp8sysVuPClM","name":"Fluxo principal","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $('mensagem_completa1').item.json.mensagens }}","options":{"systemMessage":"=Aja como um assistente corporativo altamente educado e eficiente que atende diretores e assistentes de uma empresa via WhatsApp. Você opera dentro de um sistema de buffer que concatena múltiplas mensagens trocadas com o usuário, junto com o conteúdo extraído de um único arquivo PDF de transcrição de reunião.\n\nVocê receberá os seguintes dados do N8N:\n\nUm campo de texto contendo todas as mensagens trocadas com o usuário e o conteúdo da transcrição da reunião: {{ $('mensagem_completa1').item.json.mensagens }}\n\nSua tarefa é:\n\nLer e interpretar o conteúdo completo do conteudo passado, que pode conter:\n\nMensagens do usuário solicitando informações (ex: “Me envie os tópicos”, “Quero os dados do projeto do cliente”).\n\nO conteúdo da transcrição de uma reunião (extraído de um PDF anexado).\n\nIdentificar, com base nas mensagens do usuário, se há uma ou mais das seguintes intenções:\n\nObter um resumo da ata em tópicos.\n\nObter as informações de um projeto de cliente discutido na reunião.\n\nCom base na intenção detectada:\n\nSe for pedido de resumo, acione a tool ata_em_topicos e envie o conteúdo completo como input.\n\nSe for pedido para a criação de projeto de cliente, acione a tool criar_projeto e como input.\n\nSempre responda com um tom profissional e educado, como por exemplo:\n\n“Entendido, estou processando os tópicos principais da reunião. Em instantes te envio o resumo.”\n\n“Perfeito, irei extrair os detalhes do projeto mencionado. Um momento por favor.”\n\nCaso a mensagem esteja confusa ou incompleta, peça esclarecimentos de forma respeitosa:\n\n“Poderia confirmar se deseja o resumo da reunião ou os dados de um projeto específico?”\n\nNunca processe diretamente a transcrição. Sua função é identificar a intenção e redirecionar o conteúdo para a tool apropriada."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[3152,-32],"id":"804fd5cf-cce1-4c64-86ec-bfe442841530","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[3008,160],"id":"f0c9a779-250e-4d4b-9300-4f97f1845ed8","name":"OpenAI Chat Model"},{"parameters":{"assignments":{"assignments":[{"id":"007d1e13-c25f-45c5-bb06-38f556025184","name":"output","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3552,-32],"id":"99f46633-dadf-4890-96d3-1dfa65bd7e7b","name":"Edit Fields"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a3a9502b-9926-4002-85ce-3bdba946107e","leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"=557592239427@s.whatsapp.net","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-368,0],"id":"3c5d2372-c810-4886-b7ff-849006b1de8e","name":"só_meu_numero_passa"},{"parameters":{"assignments":{"assignments":[{"id":"f587b4d2-9b2e-40a7-a00a-ba2c32bc248e","name":"nome","value":"={{ $json.body.data.pushName }}","type":"string"},{"id":"c50ed7b8-aa83-4b43-aac3-fea7ba8344bc","name":"whatsapp","value":"={{ $json.body.data.key.remoteJid }}","type":"string"},{"id":"ccb8aa9f-64ad-43eb-b6d5-9fe8cbeee046","name":"message_text","value":"={{ $json.body.data.message.conversation }}","type":"string"},{"id":"a3a1e7ee-937c-414d-863e-f2635aa05873","name":"message_audio","value":"={{ $json.body.data.message.audioMessage.url }}","type":"string"},{"id":"92f03312-b86b-4cc2-b447-d83acda799f0","name":"message_pdf","value":"={{ $json.body.data.message.documentMessage.url }}","type":"string"},{"id":"c86d6152-4c6c-4580-8c2e-188834f4fa88","name":"instance","value":"={{ $json.body.instance }}","type":"string"},{"id":"c44b7650-8b8b-4427-b45e-13de3435695d","name":"id","value":"={{ $json.body.data.key.id }}","type":"string"},{"id":"593cae6c-546f-423e-9c9a-7892e85c1db3","name":"body.data.messageType","value":"={{ $json.body.data.messageType }}","type":"string"},{"id":"e51ef2b4-6ea4-4669-88e0-d5259af2a2dc","name":"body.data.key.remoteJid","value":"={{ $json.body.data.key.remoteJid }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-96,0],"id":"d854c546-1a8a-47ef-b714-5d2a3c152143","name":"simplificando_dados"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message_text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"3bd6bf85-ad66-40d6-851f-078628286a5c"}],"combinator":"and"},"renameOutput":true,"outputKey":"[REDACTED]"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e699e86d-625a-477e-9032-e122d499150c","leftValue":"={{ $json.message_audio }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"[REDACTED]"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fd12ea83-a512-48e2-a7d5-003565d52fd7","leftValue":"={{ $json.message_pdf }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"[REDACTED]"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[144,-16],"id":"55dd88d2-25c8-454c-812d-3c51d0f95d6d","name":"Switch"},{"parameters":{"assignments":{"assignments":[{"id":"9bd7b394-1dbf-4799-832a-08af55dc612d","name":"mensagem","value":"={{ $('simplificando_dados').item.json.message_text }}","type":"string"},{"id":"c65603e2-12da-4cec-8d52-c4ad5389de0f","name":"id","value":"={{ $json.id }}","type":"string"},{"id":"e22116d6-7b18-4497-9a1a-52184c8c3814","name":"numero","value":"={{ $json.body.data.key.remoteJid }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[688,-528],"id":"243e155e-01be-4bdb-ab99-75337a3f0777","name":"mensagem_texto"},{"parameters":{"assignments":{"assignments":[{"id":"395e0d71-8223-4974-a508-c5f7a5078517","name":"id","value":"={{ $json.id }}","type":"string"},{"id":"77f96d5f-f249-42f0-abb9-d0794424ff8c","name":"instance","value":"={{ $json.instance }}","type":"string"},{"id":"0b0fa2a5-88cb-476a-aeac-a90429c53d46","name":"numero","value":"={{ $('simplificando_dados').item.json.body.data.key.remoteJid }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[496,-304],"id":"9b2faf0b-4a93-4877-91a3-f810d068af9f","name":"mensagem_audio"},{"parameters":{"workflowId":{"__rl":true,"value":"hQws9w8wbOp4Zaxd","mode":"list","cachedResultName":"pdf_para_texto"},"workflowInputs":{"mappingMode":"defineBelow","value":{"message_id":"={{ $json.id }}","instance":"={{ $json.instance }}","numero":"={{ $json.numero }}"},"matchingColumns":[],"schema":[{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"instance","displayName":"instance","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"numero","displayName":"numero","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[944,496],"id":"49382745-6fc9-4241-a809-85bcf8cd3748","name":"Call 'pdf_para_texto'"},{"parameters":{"assignments":{"assignments":[{"id":"4b658d78-c1b6-4eb4-af56-37907a50b406","name":"instance","value":"={{ $json.instance }}","type":"string"},{"id":"926e89c5-9921-4e1c-ab01-5ccbbe6230da","name":"id","value":"={{ $json.id }}","type":"string"},{"id":"5485043b-0c0e-47e3-a3c6-01e716a1059d","name":"numero","value":"={{ $json.body.data.key.remoteJid }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[416,496],"id":"56c08df8-1e1c-42b9-85b1-55127a3d2728","name":"mensagem_pdf"},{"parameters":{"numberInputs":4},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1200,-48],"id":"118ca755-c506-4e34-adca-a1824c794101","name":"mensagem_formatada"},{"parameters":{"operation":"push","list":"={{ $json.numero.split('@')[0] }}","messageData":"={{ $json.mensagem }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1584,-16],"id":"167a5fd8-6487-4576-96be-ecbbbacd8d74","name":"Redis"},{"parameters":{"amount":7},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1760,-16],"id":"1259e6ac-1620-4438-b692-5f15d3795673","name":"Wait","webhookId":"8ece0f8b-e007-4458-8786-58038308be4b"},{"parameters":{"operation":"get","propertyName":"mensagens","key":"[REDACTED]","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1968,-16],"id":"7ee2033a-c3cc-473e-915c-16a05c95eb39","name":"Redis1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"089d92c4-bed4-42fa-93a4-7d1b7cd57380","leftValue":"={{ $json.mensagens.last() }}","rightValue":"={{ $('Wait').item.json.mensagem }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2176,-16],"id":"3d658507-8a56-471b-9675-38402d32f607","name":"If"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2464,144],"id":"f691e43a-57ed-4ea7-882a-693375e20797","name":"No Operation, do nothing"},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Switch').item.json.instance }}","remoteJid":"={{ $('Wait').item.json.numero }}","messageText":"={{ $('AI Agent').item.json.output }}","options_message":{"delay":3600}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[4112,-32],"id":"ce075983-bab1-43f5-9a13-25d3d3787cfa","name":"Enviar texto"},{"parameters":{"httpMethod":"POST","path":"e6620f62-5e97-4064-8c40-8e03c6e7ee1f","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-672,0],"id":"eb4d04f1-d18e-46a9-ae43-ea7040782d31","name":"Webhook","webhookId":"e6620f62-5e97-4064-8c40-8e03c6e7ee1f"},{"parameters":{"workflowId":{"__rl":true,"value":"5Ugz07XUD7Hj8OOs","mode":"list","cachedResultName":"áudio_para_texto"},"workflowInputs":{"mappingMode":"defineBelow","value":{"message_id":"={{ $json.id }}","instance":"={{ $json.instance }}","numero":"={{ $json.numero }}"},"matchingColumns":[],"schema":[{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"instance","displayName":"instance","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"numero","displayName":"numero","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[880,-304],"id":"78db6d3f-082e-4a8d-a2fe-7ce3f066be49","name":"Call 'áudio_para_texto'"},{"parameters":{"resource":"chat-api","operation":"read-messages","instanceName":"={{ $('simplificando_dados').item.json.instance }}","remoteJid":"={{ $('Redis').item.json.numero }}","messageId":"={{ $('mensagens_reunidas').item.json.id }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[3824,-32],"id":"577c3ade-74fc-4fd6-9b54-e69679e7ba11","name":"Marcar mensagens como lidas"},{"parameters":{"operation":"delete","key":"[REDACTED]"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2784,-32],"id":"0857321d-b323-4be5-b5de-6b87cb54c2c3","name":"Redis2"},{"parameters":{"assignments":{"assignments":[{"id":"30ab410c-0d11-4723-8a09-c6309d1e943d","name":"mensagens","value":"={{ $json.mensagens.join(\" \") }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2464,-32],"id":"f6faa8de-f408-4ddc-a544-89cc75c0174b","name":"mensagem_completa1"},{"parameters":{"assignments":{"assignments":[{"id":"141f1ac6-3c42-481c-8781-614ccd748f08","name":"mensagem","value":"={{ $json.mensagem }}","type":"string"},{"id":"25157744-9d03-47ab-855f-2b72f1b46999","name":"numero","value":"={{ $json.numero.split('@')[0] }}","type":"string"},{"id":"d1434214-f0a3-4b83-b388-eb0677704772","name":"id","value":"={{ $json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1392,-16],"id":"45888f7d-4cbc-4e43-9c3e-bbd2c8539768","name":"mensagens_reunidas"},{"parameters":{"description":"Fluxo responsável por listar em tópicos a ata passada.","workflowId":{"__rl":true,"value":"jOnezXk9L2envjQI","mode":"list","cachedResultName":"ata_em_topicos"},"workflowInputs":{"mappingMode":"defineBelow","value":{"prompt":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('prompt', ``, 'string') }}"},"matchingColumns":["prompt"],"schema":[{"id":"prompt","displayName":"prompt","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[3456,176],"id":"ab0ce72f-acc0-485d-bff5-ed4f0152eb3d","name":"ata_em_topicos"},{"parameters":{"description":"Ferramenta para criar o projeto do cliente","workflowId":{"__rl":true,"value":"gV0qYR4wM59YyAL6","mode":"list","cachedResultUrl":"[REDACTED]","cachedResultName":"criar_projeto"},"workflowInputs":{"mappingMode":"defineBelow","value":{"prompt":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('prompt', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"prompt","displayName":"prompt","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[3584,176],"id":"9259ee36-7bd4-41ac-8e7c-2eb397e5b72d","name":"criar_projeto"},{"parameters":{"sessionIdType":"customKey","sessionKey":"[REDACTED]","sessionTTL":3600,"contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[3168,160],"id":"530a23d5-fd21-4d0c-b38d-71f05cd7c5d4","name":"Redis Chat Memory"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Marcar mensagens como lidas","type":"main","index":0}]]},"só_meu_numero_passa":{"main":[[{"node":"simplificando_dados","type":"main","index":0}]]},"simplificando_dados":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"mensagem_texto","type":"main","index":0}],[{"node":"mensagem_audio","type":"main","index":0}],[{"node":"mensagem_pdf","type":"main","index":0}]]},"mensagem_texto":{"main":[[{"node":"mensagem_formatada","type":"main","index":0}]]},"mensagem_audio":{"main":[[{"node":"Call 'áudio_para_texto'","type":"main","index":0}]]},"Call 'pdf_para_texto'":{"main":[[{"node":"mensagem_formatada","type":"main","index":3}]]},"mensagem_pdf":{"main":[[{"node":"Call 'pdf_para_texto'","type":"main","index":0}]]},"mensagem_formatada":{"main":[[{"node":"mensagens_reunidas","type":"main","index":0}]]},"Redis":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Redis1","type":"main","index":0}]]},"Redis1":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"mensagem_completa1","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"só_meu_numero_passa","type":"main","index":0}]]},"Call 'áudio_para_texto'":{"main":[[{"node":"mensagem_formatada","type":"main","index":1}]]},"Marcar mensagens como lidas":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]},"Redis2":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"mensagem_completa1":{"main":[[{"node":"Redis2","type":"main","index":0}]]},"mensagens_reunidas":{"main":[[{"node":"Redis","type":"main","index":0}]]},"ata_em_topicos":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"criar_projeto":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Redis Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]}}}