workflows/Historico_Omie_-_FOCUS_VKQ27iEIiB6anmQk.json
{"createdAt":"2025-09-25T14:14:59.365Z","updatedAt":"2025-10-08T18:07:34.077Z","id":"VKQ27iEIiB6anmQk","name":"Historico Omie - FOCUS","active":true,"isArchived":false,"nodes":[{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[800,-80],"id":"0773c3d8-5177-4e9c-b3a6-7fd3b5f56252","name":"Tempo de espera","webhookId":"87baa425-3f0b-43c9-a951-0a117600adec"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[384,-96],"id":"0d96a82b-41de-422d-9393-d99453a3f772","name":"Loop Ler Pag"},{"parameters":{"method":"POST","url":"https://app.omie.com.br/api/v1/financas/contareceber/","sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={\n  \"call\": \"ListarContasReceber\",\n  \"app_key\": \"3312211354452\",\n  \"app_secret\": \"b3a80ae716b74674647c2138d7a9ff53\",\n  \"param\": [\n    {\n      \"pagina\": \"={{$json.pagina}}\",\n      \"registros_por_pagina\": 500,\n      \"ordenar_por\": \"DATA_VENCIMENTO\"\n    }\n  ]\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-112,-96],"id":"2d3635e3-9988-41d6-815a-340f35a18424","name":"BuscarTotalPaginas","alwaysOutputData":true,"retryOnFail":true},{"parameters":{"method":"POST","url":"https://app.omie.com.br/api/v1/financas/contareceber/","sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={ \"call\": \"ListarContasReceber\",   \"app_key\": \"3312211354452\",   \"app_secret\": \"b3a80ae716b74674647c2138d7a9ff53\",   \"param\": [     {      \"pagina\": {{$json.pagina}},       \"registros_por_pagina\": 500,         \"ordenar_por\": \"DATA_VENCIMENTO\"     }   ] } ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[608,-80],"id":"4b0420e6-2ee7-47d5-b6f9-fd8c6e8766a2","name":"ContasReceber","alwaysOutputData":true,"retryOnFail":true},{"parameters":{"jsCode":"// Pega o total de páginas do nó anterior (troque pelo nome real do nó se for diferente)\nconst totalPaginas = $items(\"BuscarTotalPaginas\", 0)[0].json.total_de_paginas;\n\n// Define quantas últimas páginas você quer processar\nconst ultimasPaginas = 22;\n\n// Garante que o valor mínimo da primeira página seja 1\nconst primeiraPagina = Math.max(1, totalPaginas - ultimasPaginas + 1);\n\n// Gera os itens para as últimas páginas\nconst items = [];\n\nfor (let i = primeiraPagina; i <= totalPaginas; i++) {\n  items.push({ json: { pagina: i } });\n}\n\nreturn items;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[128,-96],"id":"b37e3ed8-98ef-4f7c-af1b-f2b011c71571","name":"GerarUltimasPaginas"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[1088,-96],"id":"aa13c13f-4d96-4ebd-bdd2-341e9e3a3761","name":"MergeContas"},{"parameters":{"documentId":{"__rl":true,"value":"1iFus7KHV-699r8HvUdpoH1BvoyRz1a7AhtjXesyeWpI","mode":"list","cachedResultName":"Contatos - Focus","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1iFus7KHV-699r8HvUdpoH1BvoyRz1a7AhtjXesyeWpI/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1iFus7KHV-699r8HvUdpoH1BvoyRz1a7AhtjXesyeWpI/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1648,-96],"id":"76396b93-a428-4481-adbe-83a77a77b19e","name":"PlanilhaNomes2","credentials":{"googleSheetsOAuth2Api":{"id":"tygFBBOupO6wlHLF","name":"Estagio Financeiro"}}},{"parameters":{"jsCode":"return [{ json: {} }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1456,-96],"id":"20b41dfb-0e14-413b-a373-d8bf2a7cc288","name":"Zerando Item2"},{"parameters":{"jsCode":"return items.flatMap(item => {\n  const norm = (s) => String(s || \"\")\n    .normalize(\"NFD\").replace(/[\\u0300-\\u036f]/g, \"\") // tira acentos\n    .toUpperCase().replace(/\\s+/g, \" \").trim();      // caixa alta + espaços\n\n  const dados = (item.json.conta_receber_cadastro || [])\n    .filter(lanc => {\n      const st = norm(lanc.status_titulo);\n      return st === \"ATRASADO\" || st === \"A VENCER\" || st === \"VENCE HOJE\";\n    });\n\n  const hoje = new Date().toLocaleDateString('pt-BR');\n\n  return dados.map(lanc => ({\n    json: {\n      Cliente: lanc.nome_cliente || \"Não informado\",\n      CNPJ_CPF: lanc.cnpj_cpf || \"\",\n      DataVencimento: lanc.data_vencimento || \"\",\n      Categoria: lanc.categoria || lanc.codigo_categoria || \"\",\n      Valor: lanc.valor_documento || 0,\n      codigo_cliente_fornecedor: lanc.codigo_cliente_fornecedor || null,\n      DataCaptura: hoje\n    }\n  }));\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1280,-96],"id":"1d58d9b5-cc8e-4e32-a649-8b0fcf65fa13","name":"Normalizar","executeOnce":false,"alwaysOutputData":false,"retryOnFail":true},{"parameters":{"method":"POST","url":"https://app.omie.com.br/api/v1/geral/categorias/","sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={\n  \"call\": \"ListarCategorias\",\n  \"app_key\": \"3312211354452\",\n  \"app_secret\": \"b3a80ae716b74674647c2138d7a9ff53\",\n  \"param\": [\n    {\n  \"pagina\": 1,\n  \"registros_por_pagina\": 500\n}\n  ]\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-96,192],"id":"233d017a-89eb-4e1f-b617-8e3d25205469","name":"BuscarTotalPaginas1","alwaysOutputData":true,"retryOnFail":true},{"parameters":{"jsCode":"// Extrai todas as categorias retornadas\nconst categorias = items.map(item => item.json.categoria_cadastro || []).flat();\n\n// Cria mapa código -> descrição\nconst mapa = {};\nfor (const c of categorias) {\n  mapa[c.codigo] = c.descricao;\n}\n\nreturn [{ json: { mapaCategorias: mapa } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[528,192],"id":"3de53275-07f4-4972-b66d-1a725fd1c8e9","name":"Code in JavaScript"},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"codigo_cliente_omie","field2":"codigo_cliente_fornecedor"}]},"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1904,-80],"id":"8456810e-db04-4f0a-ba74-bc2778287065","name":"Merge1"},{"parameters":{"jsCode":"// Pega o objeto que tem o mapaCategorias\nconst mapaItem = items.find(i => i.json.mapaCategorias);\nconst mapaCategorias = mapaItem ? mapaItem.json.mapaCategorias : {};\n\n// Pega apenas os lançamentos (aqueles que têm codigo_cliente_omie)\nconst lancamentos = items.filter(i => i.json.codigo_cliente_omie).map(i => i.json);\n\n// Substitui Categoria pelo nome\nconst resultado = lancamentos.map(l => {\n  const codigo = l.Categoria;\n  const nome = mapaCategorias[codigo] || l.Categoria || \"Categoria não encontrada\";\n\n  return {\n    json: {\n      ...l,\n      Categoria: nome\n    }\n  };\n});\n\nreturn resultado;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2272,176],"id":"65a9590c-2f55-4bf8-9be5-3513642ce06f","name":"Code in JavaScript1"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2016,176],"id":"334e525c-841c-42b4-8ebb-5e1b81ba37a7","name":"Merge2"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"11wh0ShNNY8g1hbNTgdNGC_idIFSVytUGlKtjKuGkRDk","mode":"list","cachedResultName":"FOCUS - CRM DE COBRANÇAS ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11wh0ShNNY8g1hbNTgdNGC_idIFSVytUGlKtjKuGkRDk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1iRJihB1RgljilaHtpUmbxh59EQ0dY6w6ayxCCKyDXTI/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Cliente ou Fornecedor (Razão Social)":"={{ $json.nome }}","CNPJ/CPF":"={{ $json.cnpj_cpf }}","Data de Vencimento (completa)":"={{ $json.DataVencimento }}","Categoria":"={{ $json.Categoria }}","A Pagar ou Receber":"={{ $json.Valor }}","DataCaptura":"={{ $json.DataCaptura }}"},"matchingColumns":["DataCaptura"],"schema":[{"id":"Cliente ou Fornecedor (Razão Social)","displayName":"Cliente ou Fornecedor (Razão Social)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"CNPJ/CPF","displayName":"CNPJ/CPF","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data de Vencimento (completa)","displayName":"Data de Vencimento (completa)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Responsável","displayName":"Responsável","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"A Pagar ou Receber","displayName":"A Pagar ou Receber","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Categoria","displayName":"Categoria","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data de cobrança","displayName":"Data de cobrança","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Retorno do Cliente","displayName":"Retorno do Cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data para contato","displayName":"Data para contato","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status Final","displayName":"Status Final","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Cliente Ativo","displayName":"Cliente Ativo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DataCaptura","displayName":"DataCaptura","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[3200,176],"id":"a9a331a7-33a2-48cd-bddc-62b2bfbb0c1a","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"tygFBBOupO6wlHLF","name":"Estagio Financeiro"}}},{"parameters":{"documentId":{"__rl":true,"value":"1iRJihB1RgljilaHtpUmbxh59EQ0dY6w6ayxCCKyDXTI","mode":"list","cachedResultName":"FINANCEIRO - CRM DE COBRANÇAS ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1iRJihB1RgljilaHtpUmbxh59EQ0dY6w6ayxCCKyDXTI/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1iRJihB1RgljilaHtpUmbxh59EQ0dY6w6ayxCCKyDXTI/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2720,176],"id":"09d74672-2134-451b-8e39-71bb30b6b24f","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"tygFBBOupO6wlHLF","name":"Estagio Financeiro"}}},{"parameters":{"jsCode":"// Só passa as linhas onde \"Responsável\" NÃO está vazio\nreturn items.filter(i => String(i.json[\"Responsável\"] || \"\").trim() !== \"\");\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2992,176],"id":"ba00cbdc-495a-4413-bf62-1424cc403ab9","name":"Code in JavaScript2"},{"parameters":{"jsCode":"return [{ json: {} }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2512,176],"id":"25077fbd-58ab-4a82-979f-2d55b57abb06","name":"Zerando Item"},{"parameters":{"rule":{"interval":[{"triggerAtHour":10}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-368,32],"id":"700f4dff-b2f9-4a79-8e9a-88fb882e61eb","name":"Schedule Trigger"}],"connections":{"Tempo de espera":{"main":[[{"node":"Loop Ler Pag","type":"main","index":0}]]},"Loop Ler Pag":{"main":[[{"node":"MergeContas","type":"main","index":0}],[{"node":"ContasReceber","type":"main","index":0}]]},"BuscarTotalPaginas":{"main":[[{"node":"GerarUltimasPaginas","type":"main","index":0}]]},"ContasReceber":{"main":[[{"node":"Tempo de espera","type":"main","index":0}]]},"GerarUltimasPaginas":{"main":[[{"node":"Loop Ler Pag","type":"main","index":0}]]},"PlanilhaNomes2":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Zerando Item2":{"main":[[{"node":"PlanilhaNomes2","type":"main","index":0}]]},"MergeContas":{"main":[[{"node":"Normalizar","type":"main","index":0}]]},"Normalizar":{"main":[[{"node":"Zerando Item2","type":"main","index":0},{"node":"Merge1","type":"main","index":1}]]},"BuscarTotalPaginas1":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"Merge1":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Merge2":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Zerando Item","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Code in JavaScript2","type":"main","index":0}]]},"Code in JavaScript2":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"Zerando Item":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Append row in sheet":{"main":[[]]},"Schedule Trigger":{"main":[[{"node":"BuscarTotalPaginas","type":"main","index":0},{"node":"BuscarTotalPaginas1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"GJoEkByGgHbx83q5"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0ba684a8-41b3-4587-9c8e-1a76a0f519e5","triggerCount":1,"shared":[{"createdAt":"2025-09-25T14:14:59.365Z","updatedAt":"2025-09-25T14:14:59.365Z","role":"workflow:owner","workflowId":"VKQ27iEIiB6anmQk","projectId":"g8BnYlos8HJUUVcr","project":{"createdAt":"2025-05-28T13:28:04.746Z","updatedAt":"2025-05-28T13:31:33.202Z","id":"g8BnYlos8HJUUVcr","name":"IA Pessoas <comercial@castelobrancocontabilidade.com.br>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-05-28T13:28:04.746Z","updatedAt":"2025-05-28T13:28:04.746Z","userId":"17ee4480-754a-4392-9fc2-a6bc3c46ebad","projectId":"g8BnYlos8HJUUVcr","user":{"createdAt":"2025-05-28T13:28:03.022Z","updatedAt":"2025-10-08T03:00:53.489Z","id":"17ee4480-754a-4392-9fc2-a6bc3c46ebad","email":"comercial@castelobrancocontabilidade.com.br","firstName":"IA","lastName":"Pessoas","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-05-28T13:31:41.717Z","personalization_survey_n8n_version":"1.94.1"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"fN5uSWvKRujKur6R","userActivatedAt":1757621781409,"npsSurvey":{"responded":true,"lastShownAt":1749478378830},"dismissedCallouts":{"preBuiltAgentsCalloutHttpRequest":true,"preBuiltAgentsCalloutGoogleDrive":true,"preBuiltAgentsModalCallout":true,"preBuiltAgentsCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-10-08","isPending":false}}]}}],"tags":[]}