workflows/Inadiplentes_Ativos_9DdL8bt9V1nz3los.json
{"createdAt":"2025-11-04T13:01:15.046Z","id":"9DdL8bt9V1nz3los","name":"Inadiplentes Ativos","active":false,"isArchived":false,"nodes":[{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[848,128],"id":"7005995f-08e4-4794-aa9c-650ed8e9a694","name":"Tempo de espera","webhookId":"67385d61-7b55-406e-8220-db0eb81b8752"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[384,0],"id":"b88a6cdb-c4e4-4fdc-a35e-3f3e72af485a","name":"Loop Ler Pag"},{"parameters":{"method":"POST","url":"[REDACTED]","sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"[REDACTED]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,0],"id":"2f4acc4f-ed18-40b5-bb11-3514e7631840","name":"BuscarTotalPaginas","alwaysOutputData":true,"retryOnFail":true},{"parameters":{"method":"POST","url":"[REDACTED]","sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"[REDACTED]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[624,80],"id":"16efdfc4-1325-4797-a250-f9a39ce79d6b","name":"ContasReceber","alwaysOutputData":true,"retryOnFail":true},{"parameters":{"jsCode":"// Pega o total de páginas do nó anterior (troque pelo nome real do nó se for diferente)\nconst totalPaginas = $items(\"BuscarTotalPaginas\", 0)[0].json.total_de_paginas;\n\n// Define quantas últimas páginas você quer processar\nconst ultimasPaginas = 11;\n\n// Garante que o valor mínimo da primeira página seja 1\nconst primeiraPagina = Math.max(1, totalPaginas - ultimasPaginas + 1);\n\n// Gera os itens para as últimas páginas\nconst items = [];\n\nfor (let i = primeiraPagina; i <= totalPaginas; i++) {\n  items.push({ json: { pagina: i } });\n}\n\nreturn items;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[176,0],"id":"13ab5e40-6fb5-40ca-a578-0b09e2b8af50","name":"GerarUltimasPaginas"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[992,0],"id":"4cd733dd-2dbc-4618-807c-532843221a88","name":"MergeContas"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-176,0],"id":"77a0f1c0-1fce-43d2-9d4a-6af858784929","name":"When clicking ‘Execute workflow’"}],"connections":{"Tempo de espera":{"main":[[{"node":"Loop Ler Pag","type":"main","index":0}]]},"Loop Ler Pag":{"main":[[{"node":"MergeContas","type":"main","index":0}],[{"node":"ContasReceber","type":"main","index":0}]]},"BuscarTotalPaginas":{"main":[[{"node":"GerarUltimasPaginas","type":"main","index":0}]]},"ContasReceber":{"main":[[{"node":"Tempo de espera","type":"main","index":0}]]},"GerarUltimasPaginas":{"main":[[{"node":"Loop Ler Pag","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"BuscarTotalPaginas","type":"main","index":0}]]}}}