workflows/Link_Mensagens_DO6b7M3SPe30sI2f.json
{"createdAt":"2025-11-17T14:47:32.696Z","id":"DO6b7M3SPe30sI2f","name":"Link Mensagens","active":false,"isArchived":false,"nodes":[{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1072,128],"id":"10527937-4618-4482-bd24-78da78b1c80d","name":"Tempo de espera","webhookId":"67385d61-7b55-406e-8220-db0eb81b8752"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[608,0],"id":"8880697f-697a-4481-90b0-f3db954b7116","name":"Loop Ler Pag"},{"parameters":{"method":"POST","url":"[REDACTED]","sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"[REDACTED]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[224,0],"id":"da072ff0-fbbd-4a10-94f9-f49fedf279be","name":"BuscarTotalPaginas","alwaysOutputData":true,"retryOnFail":true},{"parameters":{"method":"POST","url":"[REDACTED]","sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"[REDACTED]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[848,80],"id":"b76a6008-46f8-4239-9dbf-69a51843d517","name":"ContasReceber","alwaysOutputData":true,"retryOnFail":true},{"parameters":{"jsCode":"// Pega o total de páginas do nó anterior (troque pelo nome real do nó se for diferente)\nconst totalPaginas = $items(\"BuscarTotalPaginas\", 0)[0].json.total_de_paginas;\n\n// Define quantas últimas páginas você quer processar\nconst ultimasPaginas = 11;\n\n// Garante que o valor mínimo da primeira página seja 1\nconst primeiraPagina = Math.max(1, totalPaginas - ultimasPaginas + 1);\n\n// Gera os itens para as últimas páginas\nconst items = [];\n\nfor (let i = primeiraPagina; i <= totalPaginas; i++) {\n  items.push({ json: { pagina: i } });\n}\n\nreturn items;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[400,0],"id":"349406ca-22c6-407a-81a2-c535ebe6857c","name":"GerarUltimasPaginas"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[1216,0],"id":"ec484efd-d14b-4fe0-879b-d1a44eb49234","name":"MergeContas"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1792,0],"id":"b698d2fa-9932-44a6-a745-b212ad41f4ba","name":"Loop Over Items7"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2896,96],"id":"5dcdfce8-8143-475a-9dde-abbeda161abf","name":"Wait7","webhookId":"d8c60c36-6959-4acf-ab90-96589b27617f"},{"parameters":{"documentId":{"__rl":true,"value":"[REDACTED]","mode":"list","cachedResultName":"Contatos Omie","cachedResultUrl":"[REDACTED]"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"[REDACTED]"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2192,352],"id":"8eb5036d-92e0-49a2-b31f-bcf524f647e5","name":"PlanilhaNomes5"},{"parameters":{"jsCode":"// 1️⃣ Recebe os códigos válidos da etapa anterior (filtro do Omie)\nconst codigosValidos = $items(\"FiltroVencer1\", 0).map(item => item.json.codigo_cliente_fornecedor);\n\n// 2️⃣ Filtra os dados da planilha atual (entrada desse Function)\nreturn items.filter(item =>\n  codigosValidos.includes(item.json.codigo_cliente_omie)\n);\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3024,352],"id":"cb33c78f-9ad0-4873-8b42-90cad4435960","name":"Clientes5"},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"codigo_cliente_fornecedor","field2":"codigo_cliente_omie"}]},"joinMode":"keepEverything","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[3376,208],"id":"ed4b8379-f366-4a32-84b4-3a5b6065fb07","name":"Merge2"},{"parameters":{"jsCode":"return items.map(item => {\n  return {\n    json: {\n      codigo_cliente_fornecedor: item.json.codigo_cliente_fornecedor,\n      codigo_lancamento_omie: item.json.codigo_lancamento_omie,\n      valor: item.json.valor_documento,\n      vencimento: item.json.data_vencimento,\n      parcela: item.json.parcela,\n      // ... passe tudo que precisa junto\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1968,96],"id":"f1d98eef-32df-4b0d-8a28-f3362669c4d3","name":"Code"},{"parameters":{"jsCode":"return items.map((item, index) => {\n  const boletoData = item.json;\n  const codigoData = $items(\"Code\")[index].json; // ajuste o nome do nó aqui\n\n  return {\n    json: {\n      codigo_cliente_fornecedor: codigoData.codigo_cliente_fornecedor,\n      codigo_lancamento_omie: codigoData.codigo_lancamento_omie,\n      valor: codigoData.valor,\n      vencimento: codigoData.vencimento,\n      parcela: codigoData.parcela,\n      // Dados do boleto\n      cLinkBoleto: boletoData.cLinkBoleto,\n      codBarras: boletoData.cCodBarras,\n      cCodStatus: boletoData.cCodStatus,\n      cDesStatus: boletoData.cDesStatus,\n      // outros campos do boleto, se quiser\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2288,96],"id":"7a7ebed5-ab64-42fd-9cb4-1e2d6602d4b9","name":"Code9"},{"parameters":{"jsCode":"return [{ json: {} }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1792,352],"id":"cd1d5754-4e45-4c83-bf2d-3f5b5703767d","name":"Zerando Item5"},{"parameters":{"method":"POST","url":"[REDACTED]","sendBody":true,"specifyBody":"json","jsonBody":"[REDACTED]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2128,96],"id":"aaf51aa0-7cbf-4322-9479-9744985e5852","name":"ObterBoleto2"},{"parameters":{"jsCode":"// Lista de datas alvo (formato dd/mm/yyyy)\nconst ALVOS = [\n  '15/11/2025'\n];\n\n// Coleta dos títulos\nconst data = items.flatMap(i => i.json.conta_receber_cadastro || []);\n\nfunction normalizaDMY(raw) {\n  const s = String(raw || '').trim();\n\n  // yyyy-mm-dd -> dd/mm/yyyy\n  if (/^\\d{4}-\\d{2}-\\d{2}$/.test(s)) {\n    const [Y, M, D] = s.split('-');\n    return `${D}/${M}/${Y}`;\n  }\n  // dd/mm/yy -> dd/mm/20yy\n  if (/^\\d{2}\\/\\d{2}\\/\\d{2}$/.test(s)) {\n    const [D, M, YY] = s.split('/');\n    return `${D}/${M}/20${YY}`;\n  }\n  // assume dd/mm/yyyy\n  return s;\n}\n\nconst filtrado = data.filter(item => {\n  const statusOK = String(item?.status_titulo || '').toUpperCase() === 'ATRASADO';\n  const boletoOK = String(item?.boleto?.cGerado || '').toUpperCase() === 'S';\n  const vencBR = normalizaDMY(item?.data_vencimento);\n\n  return statusOK && boletoOK && ALVOS.includes(vencBR);\n});\n\n// Saída para o n8n\nreturn filtrado.map(item => ({ json: item }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1456,0],"id":"78f1240a-894f-4398-8252-ce8ff3b5a2ef","name":"FiltroVencer1","executeOnce":false,"alwaysOutputData":false,"retryOnFail":true},{"parameters":{"url":"={{ $('ObterBoleto2').item.json.cLinkBoleto }}","options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"={{$json[\"filename\"] || \"boleto.pdf\"}}"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2448,96],"id":"543bf934-ac86-49bd-8da3-863edc137cff","name":"Baixar2"},{"parameters":{"jsCode":"return items.map((item, index) => {\n  // Output do Code3 (dados base)\n  const c3 = ($items(\"Code\")[index] || { json: {} }).json;\n  // Output do Code4 (onde sai o código de barras)\n  const c4 = ($items(\"Code9\")[index] || { json: {} }).json;\n\n  const out = {\n    json: {\n      // ---- do Code3 ----\n      codigo_cliente_fornecedor: c3.codigo_cliente_fornecedor,\n      codigo_lancamento_omie: String(c3.codigo_lancamento_omie ?? ''),\n      valor: c3.valor,\n      vencimento: c3.vencimento,\n      parcela: c3.parcela,\n\n      // ---- do item atual ----\n      data: item.json.data,\n\n      // ---- do Code4 (código de barras) ----\n      codBarras: c4.cCodBarras ?? c4.codBarras ?? item.json.cCodBarras ?? null,\n      // se quiser manter também com o nome original:\n      cCodBarras: c4.cCodBarras ?? item.json.cCodBarras ?? null,\n    }\n  };\n\n  // preserva o binário como binary.data, se existir\n  const b = item.binary || {};\n  const chosen =\n    b.data || b.file || (Object.keys(b).length ? b[Object.keys(b)[0]] : null);\n  if (chosen) out.binary = { data: chosen };\n\n  return out;\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2768,96],"id":"166da40e-021a-4e5f-8a0f-b7a783d090a3","name":"Code10"},{"parameters":{"mode":"combine","fieldsToMatchString":"codigo_lancamento_omie","joinMode":"enrichInput1","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[3024,0],"id":"b1968b79-2c6e-4e35-a7f8-5d097d23c0b7","name":"Boletos2"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[3360,-80],"id":"444912d4-419f-4fce-8366-5177d0583438","name":"When clicking ‘Execute workflow’"},{"parameters":{"name":"=CASTELO BRANCO CONTABILIDADE - {{$json.nome}}.pdf","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"[REDACTED]","mode":"list","cachedResultName":"BOLETOS 15/11","cachedResultUrl":"[REDACTED]"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[3664,32],"id":"cd84e6d8-bddc-410b-bfcb-db19914d2bc6","name":"Upload file"},{"parameters":{"jsCode":"return items.map((item) => {\n  const j = item.json || {};\n\n  // Dados básicos\n  const nome        = j.nome || 'Cliente';\n  const vencimento  = j.vencimento || 'data não informada';\n\n  let valorNum = j.valor;\n  if (typeof valorNum === 'string') {\n    valorNum = parseFloat(valorNum.replace(/\\./g, '').replace(',', '.'));\n  }\n  const valorFmt = isNaN(valorNum) ? '0,00' : valorNum.toFixed(2).replace('.', ',');\n\n  // Telefone\n  let telefone = (j.telefone || j.telefone1 || j.telefone2 || '')\n    .toString()\n    .replace(/\\D/g, '');\n\n  if (telefone && !telefone.startsWith('55')) telefone = `55${telefone}`;\n\n  const nacional = telefone.replace(/^55/, '');\n  const telefoneValido =\n    telefone && (nacional.length === 10 || nacional.length === 11) ? telefone : '';\n\n  // --- MENSAGEM ---\n  const caption =\n    `Olá ${nome},\\n\\n` +\n    `Verificamos que o boleto com vencimento em ${vencimento} ainda não teve o pagamento identificado em nosso sistema.\\n\\n` +\n    `Por gentileza, poderia nos enviar o comprovante?\\n\\n` +\n    `Valor: R$ ${valorFmt}\\n\\n` +\n    `Agradecemos sua atenção!`;\n\n  // --- LINK DE WHATSAPP ---\n  const mensagemEncoded = encodeURIComponent(caption);\n  const linkWhatsapp = telefoneValido\n    ? `https://wa.me/${telefoneValido}?text=${mensagemEncoded}`\n    : '';\n\n  return {\n    json: {\n      nome,\n      telefone: telefoneValido,\n      mensagem: caption,\n      link_whatsapp: linkWhatsapp,\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3664,208],"id":"359cda6b-b0af-41ba-96be-c38172a61038","name":"Code in JavaScript"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"[REDACTED]","mode":"list","cachedResultName":"Link Mensagens","cachedResultUrl":"[REDACTED]"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"[REDACTED]"},"columns":{"mappingMode":"defineBelow","value":{"Nome":"={{ $json.nome }}","Telefone":"={{ $json.telefone }}","Whatsapp":"={{ $json.link_whatsapp }}"},"matchingColumns":[],"schema":[{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Whatsapp","displayName":"Whatsapp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[3904,208],"id":"58ab302b-3bfc-4e6e-bd51-6ad7e8fd1383","name":"Append row in sheet"}],"connections":{"Tempo de espera":{"main":[[{"node":"Loop Ler Pag","type":"main","index":0}]]},"Loop Ler Pag":{"main":[[{"node":"MergeContas","type":"main","index":0}],[{"node":"ContasReceber","type":"main","index":0}]]},"BuscarTotalPaginas":{"main":[[{"node":"GerarUltimasPaginas","type":"main","index":0}]]},"ContasReceber":{"main":[[{"node":"Tempo de espera","type":"main","index":0}]]},"GerarUltimasPaginas":{"main":[[{"node":"Loop Ler Pag","type":"main","index":0}]]},"MergeContas":{"main":[[{"node":"FiltroVencer1","type":"main","index":0}]]},"Loop Over Items7":{"main":[[{"node":"Boletos2","type":"main","index":0}],[{"node":"Code","type":"main","index":0}]]},"Wait7":{"main":[[{"node":"Loop Over Items7","type":"main","index":0}]]},"PlanilhaNomes5":{"main":[[{"node":"Clientes5","type":"main","index":0}]]},"Clientes5":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"Merge2":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code":{"main":[[{"node":"ObterBoleto2","type":"main","index":0}]]},"Code9":{"main":[[{"node":"Baixar2","type":"main","index":0}]]},"Zerando Item5":{"main":[[{"node":"Clientes5","type":"main","index":0},{"node":"PlanilhaNomes5","type":"main","index":0}]]},"ObterBoleto2":{"main":[[{"node":"Code9","type":"main","index":0}]]},"FiltroVencer1":{"main":[[{"node":"Loop Over Items7","type":"main","index":0},{"node":"Zerando Item5","type":"main","index":0}]]},"Baixar2":{"main":[[{"node":"Code10","type":"main","index":0}]]},"Code10":{"main":[[{"node":"Wait7","type":"main","index":0}]]},"Boletos2":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]}},"versionCounter":3}