workflows/MegaZord_do_Parcelamento_OaJlzLJf7xOLLCBA.json
{"createdAt":"2025-06-04T16:10:25.659Z","updatedAt":"2025-10-08T18:09:25.035Z","id":"OaJlzLJf7xOLLCBA","name":"MegaZord do Parcelamento","active":true,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $('Extract from File1').item.json.text }}","hasOutputParser":true,"messages":{"messageValues":[{"type":"=SystemMessagePromptTemplate","message":"={{ $json.PROMPT }}"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[-2180,60],"id":"40f7a8e9-a845-4e50-bdd8-10ba6a21a18d","name":"Basic LLM Chain"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{"temperature":0.4}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-2160,280],"id":"be7e7e91-b536-4e3d-b69a-0d91fa43d83d","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"KmxPJCVo0EDgxnqi","name":"API IA PESSOAS OG"}}},{"parameters":{"jsonSchemaExample":"{\n   \"Nome da Empresa\":\"JTD TRANSPORTES LTDA - CNPJ: 18.805.360/0001-26\",\n   \"Modalidade de Parcelamento\":{\n      \"Receita Federal\":[\n         {\n            \"Tipo\":\"Parcelamento Simplificado\"\n         },\n         {\n            \"Tipo\":\"Parcelamento Simplificado\"\n         }\n      ],\n      \"PGFN\":[\n         {\n            \"Conta\":\"006710266\"\n         },\n         {\n            \"Conta\":\"500310266\"\n         }\n      ]\n   },\n  \"QuantidadeParcelamentoIRPF\": 2,\n  \"QuantidadeParcelamentoPGFN\": 2\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-2020,-240],"id":"883f83d5-4e3c-4af7-9ae5-af152476e076","name":"Structured Output Parser"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f8586f8f-69ae-4cf5-9e1a-14d86dbc636e","leftValue":"1","rightValue":"2","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3720,420],"id":"bb4a90d9-105a-478f-9809-b9ca2e16b41d","name":"If"},{"parameters":{"promptType":"define","text":"={{ $('Extract from File1').item.json.text }}","hasOutputParser":true,"messages":{"messageValues":[{"type":"=SystemMessagePromptTemplate","message":"={{ $json.PROMPT }}"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[-2180,-440],"id":"6eec9699-9699-4a9c-b3ff-03da340eadaa","name":"Basic LLM Chain1"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[-1584,-140],"id":"6af86564-c407-4512-a5da-2f6eb152038a","name":"Merge"},{"parameters":{"assignments":{"assignments":[{"id":"560d7123-c0a6-4f8f-8f55-47d2b010c8e1","name":"Nome de Empresa","value":"={{ $json.output[\"Nome da Empresa\"] }}","type":"string"},{"id":"60bbfa9c-38c5-4293-ba75-c4c0c7b8a92c","name":"QuantidadeParcelamentoIRPF","value":"={{ Number($json.output.QuantidadeParcelamentoIRPF) }}","type":"string"},{"id":"8ad490fd-9738-488e-9be4-5741559705cb","name":"QuantidadeParcelamentoPGFN","value":"={{ $json.output.QuantidadeParcelamentoPGFN }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1800,-340],"id":"380012d5-b46d-43c1-80b2-b27bc2b57555","name":"Edit Fields2"},{"parameters":{"assignments":{"assignments":[{"id":"560d7123-c0a6-4f8f-8f55-47d2b010c8e1","name":"Nome de Empresa","value":"={{ $json.output[\"Nome da Empresa\"] }}","type":"string"},{"id":"60bbfa9c-38c5-4293-ba75-c4c0c7b8a92c","name":"QuantidadeParcelamentoIRPF","value":"={{ Number($json.output.QuantidadeParcelamentoIRPF) }}","type":"string"},{"id":"8ad490fd-9738-488e-9be4-5741559705cb","name":"QuantidadeParcelamentoPGFN","value":"={{ $json.output.QuantidadeParcelamentoPGFN }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1800,60],"id":"5a08f0b7-3948-4cd2-a461-c1ac453948e1","name":"Edit Fields4"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-1364,-140],"id":"db4888ce-4dd4-451f-b145-37dab2cbf05d","name":"Aggregate"},{"parameters":{"jsCode":"const data = $input.first().json.data;\nconst irpfValues = [];\nconst pgfnValues = [];\n\n// Coletar os valores\nfor (let i = 0; i < data.length; i++) {\n    if (data[i]['QuantidadeParcelamentoIRPF'] !== undefined) {\n        irpfValues.push(data[i]['QuantidadeParcelamentoIRPF']);\n    }\n    if (data[i]['QuantidadeParcelamentoPGFN'] !== undefined) {\n        pgfnValues.push(data[i]['QuantidadeParcelamentoPGFN']);\n    }\n}\n\n// Função para encontrar o valor mais frequente\nfunction encontrarMaisRepetido(arr) {\n    let maisRepetido = null;\n    let maxCount = 0;\n\n    for (let i = 0; i < arr.length; i++) {\n        let count = 0;\n        for (let j = 0; j < arr.length; j++) {\n            if (arr[i] === arr[j]) {\n                count++;\n            }\n        }\n        if (count > maxCount) {\n            maxCount = count;\n            maisRepetido = arr[i];\n        }\n    }\n\n    return maisRepetido;\n}\n\n// Encontrar os valores mais repetidos\nconst maisRepetidoIRPF = encontrarMaisRepetido(irpfValues);\nconst maisRepetidoPGFN = encontrarMaisRepetido(pgfnValues);\n\nreturn [{\n    json: {\n        maisRepetidoIRPF: maisRepetidoIRPF,\n        maisRepetidoPGFN: maisRepetidoPGFN\n    }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1140,-140],"id":"e0936c1b-0ca1-4cb2-82d6-86f80f5cbde0","name":"Code"},{"parameters":{"operation":"pdf","binaryPropertyName":"file","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-3500,-140],"id":"7843bfcb-c9f8-4f2c-9162-bfc0addadb48","name":"Extract from File1"},{"parameters":{"httpMethod":"POST","path":"bernardo","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-3720,-140],"id":"737df4ac-c221-4db8-b6da-122037a892a9","name":"Webhook2","webhookId":"b73dc0b6-785a-4ae3-bf6f-e19ade91b4b3"},{"parameters":{"resource":"spreadsheet","title":"=FISCAL {{ $now.format('yyyy-MM-dd')}}","options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-2620,-65],"id":"a57cffdd-ed27-4834-9474-fceb45226d16","name":"CRIAR ARQUIVAS1","credentials":{"googleSheetsOAuth2Api":{"id":"ikCsPDocQe5HfNYt","name":"API GOOGLE"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5aab3eb2-4e81-479e-baeb-f6b9c0f410ce","leftValue":"={{ $json.name }}","rightValue":"=FISCAL {{ $now.format('yyyy-MM-dd')}}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2840,-140],"id":"0bdf1743-7b94-40e7-b90c-9c86d943a232","name":"EXISTE?1"},{"parameters":{"resource":"fileFolder","queryString":"=FISCAL {{ $now.format('yyyy-MM-dd')}}","returnAll":true,"filter":{},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-3280,-140],"id":"45dee7ab-6074-4dc9-aff1-594abaf07bd4","name":"Google Drive1","alwaysOutputData":true,"credentials":{"googleDriveOAuth2Api":{"id":"rzP1eQCZan8TdHlL","name":"API IA PESSOAS"}}},{"parameters":{"assignments":{"assignments":[{"id":"9015e1b4-e317-4ee5-a392-694dea44afae","name":"PROMPT","value":"=# Persona\nVocê é um robô especializado na extração de dados a partir de arquivos PDF.\n\n## Objetivo\n1 - Sua função é ler o conteúdo do PDF com total atenção, analisando cuidadosamente todas as informações contidas no arquivo. Quero que extraia os seguintes tópicos.\n\n**Nome da Empresa**: Nome da Empresa e CNPJ\n\n**Modalidade de Parcelamento**: Existem apenas dois tipos de parcelamento: `Receita Federal`, `PGFN`.\n\n**Dividindo o parcelamento por modalidades**:\n\n1. IRPF: Tudo apartir de **Diagnóstico Fiscal na Receita Federal** pertence a modalidade IRPF.\n2. PGFN: Tudo apartir de **Diagnóstico Fiscal na Procuradoria-Geral da Fazenda Nacional** pertence a modalidade PFGN.\n\n**Localização dos parcelamentos dentro de suas modalidades:**\n\n0. **(Ambas modalidades)**: Aparece **Pendência - Parcelamento** ou **Parcelamento com Exigibilidade Suspensa** e logo apos uma lista com os parcelamentos, junto do tipo, e parcelas em atraso e valor em atraso se existir.\n1. PGFN: Sempre possue uma **Conta**.\n2. IRPF:\n   - Sempre possue um **Tipo**.\n\n## Casos de uso:\n> REGRA DA PROCURA DE PARCELAS: Aparece **Pendência - Parcelamento** ou **Parcelamento com Exigibilidade Suspensa** e logo apos uma lista com os parcelamentos,\n\n\n## Prompt Negativo:\n\n\n1. NUNCA COLETAR DADOS DAS SEÇÕES PARECIDAS COM: \n    - **Inscrição com Exigibilidade Suspensa**\n    - **Pendência - Débito**\n    \n\n### 1. CASO IRPF\n**Input APROXIMADO**:\n```\nParcelamento com Exigibilidade Suspensa\n________________________________________________________\nCNPJ: 45.244.211/0001-08 SIMPLES NACIONAL\n- EM PARCELAMENTO Pendência\n```\n\nOutput:\n```json\n{\n  \"Tipo\": \"SIMPLES NACIONAL\",\n}\n```\n\n### 2. CASO IRPF\n**Input APROXIMADO**:\n```\nParcelamento com Exigibilidade Suspensa\n________________________________________________________\nCNPJ: 45.244.211/0001-08\n\nParcelamento: 02110001200573530192516 Valor Suspenso: 1.738,01 Parcelamento Simplificado\nParcelamento: 02110001200573530192516 Valor Suspenso: 1.738,01 Parcelamento IIIb\n```\n\nOutput:\n```json\n{\n  \"Tipo\": \"SIMPLIFICADO\",\n  \"Tipo\": \"IIIb\",\n}\n```\n\n### 3. CASO PGFN\n**Input APROXIMADO**:\n```\nParcelamento com Exigibilidade Suspensa\n________________________________________________________________\nCNPJ: 14.293.425/0001-40\n\nConta 012463434 TRANSACAO POR ADESAO - EDITAL PGDAU N 06/2024\nModalidade: SIMPLES NACIONAL - ME/EPP - PEQUENO VALOR - REDUCAO ATE 50% - ATE 12 MESES\n012463595 PARCELAMENTO CONVENCIONAL\nModalidade: PARCELAMENTO SEM GARANTIA - SIMPLES NACIONA\n```\n\nOutput:\n```json\n\"PGFN\": [\n  {\n    \"Conta\": \"012463434\"\n  },\n  {\n    \"Conta\": \"012463595\"\n  }\n]\n```\n\n---\n\n**Exemplo de Formatação:**\n```json\n{\n   \"Nome da Empresa\":\"JTD TRANSPORTES LTDA - CNPJ: 18.805.360/0001-26\",\n   \"Modalidade de Parcelamento\":{\n      \"IRPF\":[\n         {\n            \"Tipo\":\"SIMPLIFICADO\"\n         },\n         {\n            \"Tipo\":\"SIMPLIFICADO\"\n         }\n      ],\n      \"PGFN\":[\n         {\n            \"Conta\":\"006710266\"\n         },\n         {\n            \"Conta\":\"500310266\"\n         }\n      ]\n   },\n  \"QuantidadeParcelamentoIRPF\": 2,\n  \"QuantidadeParcelamentoPGFN\": 2\n}\n```\n\n## REGRAS GLOBAIS:\n1 - Nunca crie nenhum dado, coloque os nomes que foram informados, não simplifique e nem crie.\n2 - Extraia com precisão todos os dados relevantes e retorne em JSON.\n3 - Releia novamente e confira os dados.\n\n\n\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2400,-140],"id":"780126b6-9fdb-4490-9a2f-4adc6aeef0d9","name":"Edit Fields8"},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.3,"position":[-484,-140],"id":"0918ad90-1c34-45ba-bfa5-e7b3847dd6a9","name":"Respond to Webhook1"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"={{ $('Google Drive1').item.json.id || $('CRIAR ARQUIVAS1').item.json.spreadsheetId }}","mode":"id"},"sheetName":{"__rl":true,"value":"Página1","mode":"name"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[{"id":"empresa","displayName":"empresa","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Qtd IRF","displayName":"Qtd IRF","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Qtd PGFN","displayName":"Qtd PGFN","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-700,-140],"id":"db20e674-9779-4b73-b46a-5f0386c0b590","name":"Google Sheets1","credentials":{"googleSheetsOAuth2Api":{"id":"ikCsPDocQe5HfNYt","name":"API GOOGLE"}}},{"parameters":{"assignments":{"assignments":[{"id":"6149a72c-0977-4acb-a619-6dcdf3b67388","name":"empresa","value":"={{ $('Basic LLM Chain1').item.json.output['Nome da Empresa'] }}","type":"string"},{"id":"8e3a3e19-1345-465b-9b82-89e8dedd9b69","name":"Qtd IRF","value":"={{ $json.maisRepetidoIRPF }}","type":"string"},{"id":"516c64e5-b37c-4326-b9a4-2ddca706cbea","name":"Qtd PGFN","value":"={{ $json.maisRepetidoPGFN }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-920,-140],"id":"a4ec05d0-4954-4c07-8cb6-bc1b1ce0d75e","name":"Edit Fields9"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-3060,-140],"id":"354c3f9d-c491-40d7-89aa-b34e074d9ef6","name":"Limit"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{"temperature":0.4}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-2180,-240],"id":"5baf8d10-0eb9-445a-8ca4-6bc7cc659cde","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"KmxPJCVo0EDgxnqi","name":"API IA PESSOAS OG"}}},{"parameters":{"content":"0,4 TEMPERATURE\n","height":240,"width":340},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2220,-20],"id":"c37c123f-db44-40ef-b308-df75dedebf05","name":"Sticky Note"},{"parameters":{"content":"0,4 TEMPERATURE\n","height":240,"width":340},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2220,-520],"id":"d7568106-a1da-4a58-ad34-d10188d0a1e3","name":"Sticky Note1"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Basic LLM Chain","type":"ai_outputParser","index":0},{"node":"Basic LLM Chain1","type":"ai_outputParser","index":0}]]},"If":{"main":[[],[]]},"Basic LLM Chain1":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Aggregate":{"main":[[{"node":"Code","type":"main","index":0}]]},"Extract from File1":{"main":[[{"node":"Google Drive1","type":"main","index":0}]]},"Webhook2":{"main":[[{"node":"Extract from File1","type":"main","index":0}]]},"EXISTE?1":{"main":[[{"node":"Edit Fields8","type":"main","index":0}],[{"node":"CRIAR ARQUIVAS1","type":"main","index":0}]]},"Google Drive1":{"main":[[{"node":"Limit","type":"main","index":0}]]},"CRIAR ARQUIVAS1":{"main":[[{"node":"Edit Fields8","type":"main","index":0}]]},"Edit Fields8":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0},{"node":"Basic LLM Chain1","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]},"Edit Fields9":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Code":{"main":[[{"node":"Edit Fields9","type":"main","index":0}]]},"Limit":{"main":[[{"node":"EXISTE?1","type":"main","index":0}]]},"Respond to Webhook1":{"main":[[]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Basic LLM Chain1","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"GJoEkByGgHbx83q5"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook2":[{"json":{"headers":{"host":"webhook.iapessoas.com.br","user-agent":"python-requests/2.31.0","content-length":"33383","accept":"*/*","accept-encoding":"gzip, br","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"2804:203c:8016:3000:d6c1:e7e7:9e25:e7c","cf-ipcountry":"BR","cf-ray":"95fb0cc4ff1fbd85-GIG","cf-visitor":"{\"scheme\":\"https\"}","content-type":"multipart/form-data; boundary=c1f165ca18c7eaef7b7bc13c0c279831","x-forwarded-for":"172.70.140.69","x-forwarded-host":"webhook.iapessoas.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"abfe0f8f798e","x-real-ip":"172.70.140.69"},"params":{},"query":{},"body":{},"webhookUrl":"https://webhook.iapessoas.com.br/webhook/bernardo","executionMode":"production"}}]},"versionId":"c8947cfd-2711-41b9-afe9-bb59f2ecadd5","triggerCount":1,"shared":[{"createdAt":"2025-06-04T16:10:25.659Z","updatedAt":"2025-06-04T16:10:25.659Z","role":"workflow:owner","workflowId":"OaJlzLJf7xOLLCBA","projectId":"g8BnYlos8HJUUVcr","project":{"createdAt":"2025-05-28T13:28:04.746Z","updatedAt":"2025-05-28T13:31:33.202Z","id":"g8BnYlos8HJUUVcr","name":"IA Pessoas <comercial@castelobrancocontabilidade.com.br>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-05-28T13:28:04.746Z","updatedAt":"2025-05-28T13:28:04.746Z","userId":"17ee4480-754a-4392-9fc2-a6bc3c46ebad","projectId":"g8BnYlos8HJUUVcr","user":{"createdAt":"2025-05-28T13:28:03.022Z","updatedAt":"2025-10-08T03:00:53.489Z","id":"17ee4480-754a-4392-9fc2-a6bc3c46ebad","email":"comercial@castelobrancocontabilidade.com.br","firstName":"IA","lastName":"Pessoas","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-05-28T13:31:41.717Z","personalization_survey_n8n_version":"1.94.1"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"fN5uSWvKRujKur6R","userActivatedAt":1757621781409,"npsSurvey":{"responded":true,"lastShownAt":1749478378830},"dismissedCallouts":{"preBuiltAgentsCalloutHttpRequest":true,"preBuiltAgentsCalloutGoogleDrive":true,"preBuiltAgentsModalCallout":true,"preBuiltAgentsCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-10-08","isPending":false}}]}}],"tags":[{"createdAt":"2025-05-28T13:35:47.754Z","updatedAt":"2025-05-28T13:35:47.754Z","id":"1DfavlTBWEW637E1","name":"Davi Araujo"},{"createdAt":"2025-05-28T13:36:25.076Z","updatedAt":"2025-05-28T13:36:25.076Z","id":"rHvdxJEHsbone3GI","name":"Gustavo Cristovam"},{"createdAt":"2025-05-28T13:42:26.381Z","updatedAt":"2025-05-28T13:42:26.381Z","id":"rIhzAmFU3vWFuUWG","name":"Regularize"},{"createdAt":"2025-05-28T13:42:36.788Z","updatedAt":"2025-05-28T13:42:36.788Z","id":"WAZjBah3dok1fH3o","name":"Lino Menezes"}]}