workflows/My_workflow_15_qBDJTBxDYcWD4wGY.json
{"createdAt":"2025-10-24T11:47:54.989Z","id":"qBDJTBxDYcWD4wGY","name":"My workflow 15","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[-112,-384],"id":"ba5ad0d9-a13f-4112-ab17-2d4ed05872ea","name":"When chat message received","webhookId":"2f5e727e-44b1-407d-a68d-28b33f3d84d9"},{"parameters":{"promptType":"define","options":{"systemMessage":"=You are a helpful assistant {{ $json.chatInput }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[272,-368],"id":"e6d48551-d613-4650-b175-966c63dc2776","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[32,-112],"id":"d36b5762-f1b4-4e16-95ea-511030715aa7","name":"OpenAI Chat Model"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[208,-112],"id":"427be758-b2ba-4550-8e6a-6fc86f0ca0d6","name":"Simple Memory"},{"parameters":{"toolDescription":"Get row - departamentos","url":"[REDACTED]","authentication":"[REDACTED]","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[384,-112],"id":"030ffd2b-ea72-4af8-a094-af95c5a7fa15","name":"Ver Departamentos"},{"parameters":{"toolDescription":"Ver Tarefas","url":"[REDACTED]","authentication":"[REDACTED]","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[560,-112],"id":"ef5ed512-3bcb-4321-8e21-068f11189443","name":"Ver Tarefas"},{"parameters":{"toolDescription":"Ver Reuniões","url":"[REDACTED]","authentication":"[REDACTED]","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[720,-112],"id":"b9ae6c3f-ba5a-4214-9b95-a324f6b447d3","name":"Ver Reuniões"},{"parameters":{"toolDescription":"Criar Reuniões","method":"POST","url":"[REDACTED]","authentication":"[REDACTED]","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[384,64],"id":"31a5dd77-0996-43dd-839f-75b101588f5e","name":"Criar Reuniões"},{"parameters":{"toolDescription":"Criar Tarefas","method":"POST","url":"[REDACTED]","authentication":"[REDACTED]","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[560,64],"id":"a241cc77-fbbd-47a3-b69f-f2a399cc40eb","name":"Criar Tarefas"},{"parameters":{"toolDescription":"Deletar Reunião","method":"DELETE","url":"[REDACTED]","authentication":"[REDACTED]","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[384,256],"id":"c75e5814-b73d-42cf-98bc-f3ca0058b7d3","name":"Deletar Reunião"},{"parameters":{"toolDescription":"Deletar Tarefas","method":"DELETE","url":"[REDACTED]","authentication":"[REDACTED]","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[560,256],"id":"82d7af18-8641-43be-b543-d2dc15a380d1","name":"Deletar Tarefa"}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Ver Departamentos":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Ver Tarefas":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Ver Reuniões":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Criar Reuniões":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Criar Tarefas":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Deletar Reunião":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Deletar Tarefa":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}}}