workflows/My_workflow_13_tVdIuY60j15tMHP9.json
{"createdAt":"2025-10-16T11:38:52.526Z","id":"tVdIuY60j15tMHP9","name":"My workflow 13","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-32,0],"id":"35355bcb-e9d1-4b2e-88b9-2dd8cdd9f046","name":"When clicking ‘Execute workflow’"},{"parameters":{"resource":"fileFolder","filter":{"folderId":{"__rl":true,"value":"[REDACTED]","mode":"list","cachedResultName":"Planilha","cachedResultUrl":"[REDACTED]"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[208,0],"id":"cad88d88-cbc6-42bd-b4bf-c78057fdd651","name":"Search files and folders"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[416,0],"id":"cbf30398-1da0-4f50-8d14-3f6d92cc930f","name":"Download file"},{"parameters":{"operation":"xlsx","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[624,0],"id":"341ace2c-bf02-450f-8515-fcdc01e04ee3","name":"Extract from File"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"={{ $json['DESCRIÇÃO'] }}"},{"content":"Com base na descrição retorne o NCM do item","role":"system"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[832,0],"id":"52f42afa-dc6d-4ab6-b718-b432a2a86fff","name":"Message a model"},{"parameters":{"assignments":{"assignments":[{"id":"8f1ec435-e5b0-46f5-9edf-f76fc6c9fe7a","name":"message.content.NCM","value":"={{ $json.message.content.NCM }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1184,0],"id":"ff82d9e7-d983-450c-a528-a8a567c144d0","name":"Edit Fields"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Search files and folders","type":"main","index":0}]]},"Search files and folders":{"main":[[{"node":"Download file","type":"main","index":0}]]},"Download file":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}}}