workflows/My_workflow_14_odygzj5LBXVyThLs.json
{"createdAt":"2025-10-17T12:52:07.351Z","id":"odygzj5LBXVyThLs","name":"My workflow 14","active":false,"isArchived":false,"nodes":[{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-448,144],"id":"8f7224a9-128f-43f1-926e-962f0ab96ad7","name":"Tempo de espera","webhookId":"67385d61-7b55-406e-8220-db0eb81b8752"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-912,16],"id":"a5404aef-b397-415d-ba9a-aae145076976","name":"Loop Ler Pag"},{"parameters":{"method":"POST","url":"[REDACTED]","sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"[REDACTED]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1296,16],"id":"6bd3505a-9150-452e-8b16-5f7c6c1276ee","name":"BuscarTotalPaginas","alwaysOutputData":true,"retryOnFail":true},{"parameters":{"method":"POST","url":"[REDACTED]","sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"[REDACTED]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-672,96],"id":"c06f09fe-8d63-4b34-8b05-33562cc25e19","name":"ContasReceber","alwaysOutputData":true,"retryOnFail":true},{"parameters":{"jsCode":"// Pega o total de páginas do nó anterior (troque pelo nome real do nó se for diferente)\nconst totalPaginas = $items(\"BuscarTotalPaginas\", 0)[0].json.total_de_paginas;\n\n// Define quantas últimas páginas você quer processar\nconst ultimasPaginas = 11;\n\n// Garante que o valor mínimo da primeira página seja 1\nconst primeiraPagina = Math.max(1, totalPaginas - ultimasPaginas + 1);\n\n// Gera os itens para as últimas páginas\nconst items = [];\n\nfor (let i = primeiraPagina; i <= totalPaginas; i++) {\n  items.push({ json: { pagina: i } });\n}\n\nreturn items;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1120,16],"id":"b69e69d8-8718-4bc4-bd1c-d93ddaa9317a","name":"GerarUltimasPaginas"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[-304,16],"id":"8e4826fc-0764-4454-8072-bf8df67922df","name":"MergeContas"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1568,48],"id":"e6175833-bda3-4383-9297-6178b17f7bc9","name":"When clicking ‘Execute workflow’"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[224,16],"id":"19a77a02-7102-4705-8702-be99725e1692","name":"Loop Over Items7"},{"parameters":{"amount":3.5},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1328,112],"id":"adb83f05-3900-48f6-8394-b497f006ea80","name":"Wait7","webhookId":"d8c60c36-6959-4acf-ab90-96589b27617f"},{"parameters":{"documentId":{"__rl":true,"value":"[REDACTED]","mode":"list","cachedResultName":"Contatos Omie","cachedResultUrl":"[REDACTED]"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"[REDACTED]"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[624,368],"id":"f4e5c05a-8ad4-425b-b4cd-6411efbe8a7e","name":"PlanilhaNomes5"},{"parameters":{"jsCode":"// 1️⃣ Recebe os códigos válidos da etapa anterior (filtro do Omie)\nconst codigosValidos = $items(\"FiltroVencer1\", 0).map(item => item.json.codigo_cliente_fornecedor);\n\n// 2️⃣ Filtra os dados da planilha atual (entrada desse Function)\nreturn items.filter(item =>\n  codigosValidos.includes(item.json.codigo_cliente_omie)\n);\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1456,368],"id":"4d8ca9f3-0b3a-455a-a0e0-6b275478ee65","name":"Clientes5"},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"codigo_cliente_fornecedor","field2":"codigo_cliente_omie"}]},"joinMode":"keepEverything","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[1680,192],"id":"022523ce-56d5-4ba9-ac1a-eee36658157f","name":"Merge2"},{"parameters":{"jsCode":"return items.map(item => {\n  return {\n    json: {\n      codigo_cliente_fornecedor: item.json.codigo_cliente_fornecedor,\n      codigo_lancamento_omie: item.json.codigo_lancamento_omie,\n      valor: item.json.valor_documento,\n      vencimento: item.json.data_vencimento,\n      parcela: item.json.parcela,\n      // ... passe tudo que precisa junto\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[400,112],"id":"78afdf1b-4610-4961-bb06-13d521f4fac3","name":"Code"},{"parameters":{"jsCode":"return items.map((item, index) => {\n  const boletoData = item.json;\n  const codigoData = $items(\"Code\")[index].json; // ajuste o nome do nó aqui\n\n  return {\n    json: {\n      codigo_cliente_fornecedor: codigoData.codigo_cliente_fornecedor,\n      codigo_lancamento_omie: codigoData.codigo_lancamento_omie,\n      valor: codigoData.valor,\n      vencimento: codigoData.vencimento,\n      parcela: codigoData.parcela,\n      // Dados do boleto\n      cLinkBoleto: boletoData.cLinkBoleto,\n      codBarras: boletoData.cCodBarras,\n      cCodStatus: boletoData.cCodStatus,\n      cDesStatus: boletoData.cDesStatus,\n      // outros campos do boleto, se quiser\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[720,112],"id":"b6d7ffd5-4965-4707-a71f-bc30bca8256a","name":"Code9"},{"parameters":{"jsCode":"return [{ json: {} }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[224,368],"id":"b96763bf-afb7-437f-a801-acd1464b2012","name":"Zerando Item5"},{"parameters":{"jsCode":"// Sempre força existir apenas item.binary.data\nconst desiredBinaryKey = 'data';\n\nreturn items.map((item) => {\n  const j = item.json || {};\n  const b = item.binary || {};\n\n  // ---- campos básicos do seu input ----\n  const codigoCliente = j.codigo_cliente_fornecedor ?? null;\n  const codigoLanc    = j.codigo_lancamento_omie != null ? String(j.codigo_lancamento_omie) : '';\n  const vencimento    = j.vencimento || 'data não informada';\n  const parcela       = j.parcela || '';\n  const codBarras     = j.cCodBarras || j.codBarras || 'código não disponível';\n\n  // valor -> formatação pt-BR\n  let valorNum = j.valor;\n  if (typeof valorNum === 'string') {\n    valorNum = parseFloat(valorNum.replace(/\\./g, '').replace(',', '.'));\n  }\n  const valorFmt = isNaN(valorNum) ? '0,00' : valorNum.toFixed(2).replace('.', ',');\n\n  // telefone (se existir nos dados)\n  let telefone = (j.telefone || j.telefone1 || j.telefone2 || '')\n    .toString()\n    .replace(/\\D/g, '');\n  if (telefone && !telefone.startsWith('55')) telefone = `55${telefone}`;\n  const nacional = telefone.replace(/^55/, '');\n  const telefoneValido =\n    telefone && (nacional.length === 10 || nacional.length === 11) ? telefone : '';\n\n  // ---- NOVO TEXTO DO AVISO FINANCEIRO ----\n  let caption =\n    `⚠ *Aviso Financeiro*\\n\\n` +\n    `Olá! Verificamos que o boleto com vencimento em *${vencimento}* ainda está em aberto.\\n\\n` +\n    `💰 *Valor:* R$ ${valorFmt}\\n` +\n    `📄 *Código de Barras:* ${codBarras}\\n\\n` +\n    `Por gentileza, verifique o pagamento — estamos encaminhando o boleto nesta mensagem.\\n\\n` +\n    `Agradecemos pela atenção!\\n` +\n    `*Financeiro – Castelo Branco Contabilidade*`;\n\n  // filename\n  let filename = 'boleto.pdf';\n  const linkBoleto = j.cLinkBoleto || '';\n  const m = (linkBoleto || '').match(/([^\\/\\?]+\\.pdf)(?:\\?|$)/i);\n  if (m) filename = m[1];\n  if (b?.file?.fileName && (!m || !m[1])) filename = b.file.fileName;\n\n  // ---- BINÁRIO: força apenas binary.data ----\n  const newBinary = {};\n  if (b?.file) {\n    newBinary[desiredBinaryKey] = b.file;           // vem do Extract/Download com chave 'file'\n  } else if (b && Object.keys(b).length > 0) {\n    const firstKey = Object.keys(b)[0];             // qualquer outra chave\n    newBinary[desiredBinaryKey] = b[firstKey];\n  }\n\n  // ---- JSON final (mantendo campos do input) ----\n  const out = {\n    json: {\n      codigo_cliente_fornecedor: codigoCliente,\n      codigo_lancamento_omie:    codigoLanc,\n      valor:                     j.valor,\n      vencimento:                j.vencimento,\n      parcela:                   parcela,\n\n      // extras úteis para o envio\n      telefone: telefoneValido,\n      caption,\n      filename,\n      url_pdf: linkBoleto || null,\n      has_pdf: !!linkBoleto || !!newBinary[desiredBinaryKey],\n\n      // mantém texto extraído se houver\n      pdf_text: j.pdf_text || null,\n\n      // se seu item vier com \"data\" em JSON, preserva sem quebrar\n      data: j.data ?? null,\n    },\n  };\n\n  if (newBinary[desiredBinaryKey]) {\n    out.binary = newBinary;\n  }\n\n  return out;\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1936,192],"id":"13b5af11-cb7c-4837-b52f-d16cebda6c63","name":"Mensagem para Evolution1"},{"parameters":{"method":"POST","url":"[REDACTED]","sendBody":true,"specifyBody":"json","jsonBody":"[REDACTED]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[560,112],"id":"d3936cee-b727-4723-b1e1-a5de902fbc00","name":"ObterBoleto2"},{"parameters":{"jsCode":"function isFeriado(date) {\n  // Feriados FIXOS (DD/MM) — ajuste à sua realidade\n  const fixos = [\"01/01\",\"21/04\",\"01/05\",\"07/09\",\"12/10\",\"02/11\",\"15/11\",\"25/12\"];\n\n  // Feriados MÓVEIS (YYYY-MM-DD)\n  const moveis = new Set([\n    // Exemplo: \"2025-02-03\", \"2025-02-04\", \"2025-04-18\"\n  ]);\n\n  const diaMes = date.toLocaleDateString('pt-BR').substring(0, 5);\n  const iso = date.toISOString().slice(0, 10);\n  return fixos.includes(diaMes) || moveis.has(iso);\n}\n\nconst isFdsOuFeriado = (d) => [0, 6].includes(d.getDay()) || isFeriado(d);\n\nfunction addDiasUteis(date, qtd) {\n  const d = new Date(date);\n  let restantes = qtd;\n  while (restantes > 0) {\n    d.setDate(d.getDate() + 1);\n    if (!isFdsOuFeriado(d)) restantes--;\n  }\n  return d;\n}\n\nconst hoje = new Date();\nconst hojeBR = hoje.toLocaleDateString('pt-BR');\n\n// Títulos retornados do Omie\nconst data = items.flatMap(item => item.json.conta_receber_cadastro || []);\n\nconst filtrado = data.filter(item => {\n  if (!item?.data_vencimento || !item?.codigo_lancamento_omie) return false;\n  if ((item.status_titulo || '').toUpperCase() !== 'ATRASADO') return false;\n\n  // Parse dd/mm/yyyy -> Date\n  const [dia, mes, ano] = item.data_vencimento.split('/');\n  const vencimento = new Date(`${ano}-${mes}-${dia}T00:00:00`);\n\n  // Calcula o dia de envio (baseado em dias úteis)\n  let envio;\n  if (isFdsOuFeriado(vencimento)) {\n    envio = addDiasUteis(vencimento, 2);\n  } else {\n    envio = new Date(vencimento);\n    envio.setDate(envio.getDate() + 1);\n    while (isFdsOuFeriado(envio)) {\n      envio.setDate(envio.getDate() + 1);\n    }\n  }\n\n  const envioBR = envio.toLocaleDateString('pt-BR');\n\n  // ✅ Verifica boleto: queremos apenas os que NÃO têm boleto gerado\n  const cGerado = (item.boleto?.cGerado || '').toUpperCase();\n  const semBoleto = cGerado === 'N' || cGerado === '' || !cGerado;\n\n  // ✅ Incluir também títulos vencidos em 15/10/2025\n  const vencimentoAlvo = \"15/10/2025\";\n\n  // Enviar se: é o dia certo OU é o vencimento alvo, E ainda não tem boleto\n  return (hojeBR === envioBR || item.data_vencimento === vencimentoAlvo) && semBoleto;\n});\n\nreturn filtrado.map(item => ({ json: item }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-112,16],"id":"0f86474e-aca5-4894-a5d4-516ae724bddf","name":"FiltroVencer1","executeOnce":false,"alwaysOutputData":false,"retryOnFail":true},{"parameters":{"url":"={{ $('ObterBoleto2').item.json.cLinkBoleto }}","options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"={{$json[\"filename\"] || \"boleto.pdf\"}}"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[880,112],"id":"ff984f50-951d-4104-be69-64bd7313231c","name":"Baixar2"},{"parameters":{"operation":"binaryToPropery","binaryPropertyName":"boleto.pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1040,112],"id":"2eae2014-4f0a-4f46-adf6-1daba8c65174","name":"Extract from File"},{"parameters":{"jsCode":"return items.map((item, index) => {\n  // Output do Code3 (dados base)\n  const c3 = ($items(\"Code\")[index] || { json: {} }).json;\n  // Output do Code4 (onde sai o código de barras)\n  const c4 = ($items(\"Code9\")[index] || { json: {} }).json;\n\n  const out = {\n    json: {\n      // ---- do Code3 ----\n      codigo_cliente_fornecedor: c3.codigo_cliente_fornecedor,\n      codigo_lancamento_omie: String(c3.codigo_lancamento_omie ?? ''),\n      valor: c3.valor,\n      vencimento: c3.vencimento,\n      parcela: c3.parcela,\n\n      // ---- do item atual ----\n      data: item.json.data,\n\n      // ---- do Code4 (código de barras) ----\n      codBarras: c4.cCodBarras ?? c4.codBarras ?? item.json.cCodBarras ?? null,\n      // se quiser manter também com o nome original:\n      cCodBarras: c4.cCodBarras ?? item.json.cCodBarras ?? null,\n    }\n  };\n\n  // preserva o binário como binary.data, se existir\n  const b = item.binary || {};\n  const chosen =\n    b.data || b.file || (Object.keys(b).length ? b[Object.keys(b)[0]] : null);\n  if (chosen) out.binary = { data: chosen };\n\n  return out;\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,112],"id":"ee9d8d89-bfd6-4589-9cab-71994bc6a2d5","name":"Code10"},{"parameters":{"mode":"combine","fieldsToMatchString":"codigo_lancamento_omie","joinMode":"enrichInput1","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[1456,16],"id":"4c36c403-34ab-4a36-8ad6-f458db7e84bf","name":"Boletos2"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2208,192],"id":"687cd160-b262-4e1a-b639-76ffa0c92754","name":"Loop Over Items8"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2720,208],"id":"3abaee18-2153-41c5-986b-08f1ccd4e494","name":"Wait8","webhookId":"35732a36-53f9-4363-b0f3-6a4430104193"},{"parameters":{"resource":"messages-api","operation":"send-document","instanceName":"Financeiro","remoteJid":"={{ $json.telefone }}","media":"={{ $json.data }}","caption":"={{ $json.caption }}","fileName":"BOLETO CASTELO BRANCO CONTABILIDADE.pdf","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2496,208],"id":"dc12003a-3e44-483a-83c8-f856ce124fa4","name":"Evolution API5","onError":"[REDACTED]"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"[REDACTED]","mode":"list","cachedResultName":"Mensagens Boletos","cachedResultUrl":"[REDACTED]"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"[REDACTED]"},"columns":{"mappingMode":"defineBelow","value":{"Vencimento":"=","Mensagem":"={{ $json.mensagem }}"},"matchingColumns":[],"schema":[{"id":"Vencimento","displayName":"Vencimento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Mensagem","displayName":"Mensagem","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2192,0],"id":"9077867f-a6d4-437a-8d40-1060f8b4534c","name":"Append row in sheet","onError":"[REDACTED]"},{"parameters":{"documentId":{"__rl":true,"value":"[REDACTED]","mode":"list","cachedResultName":"Contatos Omie","cachedResultUrl":"[REDACTED]"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"[REDACTED]"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[512,-416],"id":"582714c9-6130-42d5-9cda-b8ad06eb7ddd","name":"PlanilhaNomes2"},{"parameters":{"jsCode":"// 1️⃣ Recebe os códigos válidos da etapa anterior (filtro do Omie)\nconst codigosValidos = $items(\"FiltroVencer1\", 0).map(item => item.json.codigo_cliente_fornecedor);\n\n// 2️⃣ Filtra os dados da planilha atual (entrada desse Function)\nreturn items.filter(item =>\n  codigosValidos.includes(item.json.codigo_cliente_omie)\n);\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[736,-416],"id":"8df62130-0740-456b-966a-89532e9fb189","name":"Clientes2"},{"parameters":{"jsCode":"return [{ json: {} }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[320,-416],"id":"284cf3a1-fcc2-40d1-8e55-e2f4a600de7b","name":"Zerando Item2"},{"parameters":{"jsCode":"return items.map(item => {\n  const nome = item.json.nome || 'Cliente';\n  const contato = item.json.contato || '';\n  const valor = item.json.valor \n    ? parseFloat(item.json.valor).toFixed(2).replace('.', ',') \n    : '0,00';\n  const vencimento = item.json.vencimento || 'data não informada';\n  const linkBoleto = item.json.cLinkBoleto || '';\n\n  // ---- telefone formatado ----\n  let telefone = item.json.telefone1 || item.json.telefone2 || '';\n  telefone = telefone.toString().replace(/\\D/g, '').replace(/\\s+/g, '');\n  if (telefone && !telefone.startsWith('55')) telefone = `55${telefone}`;\n\n  // ---- mensagem personalizada ----\n  const mensagem = \n    `⚠ *Aviso Financeiro*\\n\\n` +\n    `Olá! Verificamos que o boleto com vencimento em 15/10/2025 ainda está em aberto.\\n\\n` +\n    `Por gentileza, verifique o pagamento — estamos encaminhando o boleto nesta mensagem.\\n\\n` +\n    `Agradecemos pela atenção!\\n` +\n    `*Financeiro – Castelo Branco Contabilidade*`;\n\n  return {\n    json: {\n      telefone: telefone,\n      mensagem: mensagem\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[976,-416],"id":"3a470ba9-757e-45f8-bcc6-805dfc36c5f6","name":"Mensagem Atrasado"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1232,-624],"id":"de434f89-8075-4acd-8007-d4e716f8b4b0","name":"Loop Over Items"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1616,-400],"id":"214df575-d6f3-4839-84fd-55f764b4e177","name":"Wait3","webhookId":"35732a36-53f9-4363-b0f3-6a4430104193"},{"parameters":{"resource":"messages-api","instanceName":"Financeiro","remoteJid":"={{$json[\"telefone\"]}}","messageText":"={{$json[\"mensagem\"]}}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1408,-400],"id":"dd0b00ed-2900-4c06-ad74-350cb7c46de1","name":"Evolution API1","onError":"[REDACTED]"}],"connections":{"Tempo de espera":{"main":[[{"node":"Loop Ler Pag","type":"main","index":0}]]},"Loop Ler Pag":{"main":[[{"node":"MergeContas","type":"main","index":0}],[{"node":"ContasReceber","type":"main","index":0}]]},"BuscarTotalPaginas":{"main":[[{"node":"GerarUltimasPaginas","type":"main","index":0}]]},"ContasReceber":{"main":[[{"node":"Tempo de espera","type":"main","index":0}]]},"GerarUltimasPaginas":{"main":[[{"node":"Loop Ler Pag","type":"main","index":0}]]},"MergeContas":{"main":[[{"node":"FiltroVencer1","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"BuscarTotalPaginas","type":"main","index":0}]]},"Loop Over Items7":{"main":[[{"node":"Boletos2","type":"main","index":0}],[{"node":"Code","type":"main","index":0}]]},"Wait7":{"main":[[{"node":"Loop Over Items7","type":"main","index":0}]]},"PlanilhaNomes5":{"main":[[{"node":"Clientes5","type":"main","index":0}]]},"Clientes5":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"Merge2":{"main":[[{"node":"Mensagem para Evolution1","type":"main","index":0}]]},"Code":{"main":[[{"node":"ObterBoleto2","type":"main","index":0}]]},"Code9":{"main":[[{"node":"Baixar2","type":"main","index":0}]]},"Zerando Item5":{"main":[[{"node":"PlanilhaNomes5","type":"main","index":0}]]},"ObterBoleto2":{"main":[[{"node":"Code9","type":"main","index":0}]]},"FiltroVencer1":{"main":[[{"node":"Zerando Item2","type":"main","index":0}]]},"Baixar2":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Code10","type":"main","index":0}]]},"Code10":{"main":[[{"node":"Wait7","type":"main","index":0}]]},"Boletos2":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Mensagem para Evolution1":{"main":[[]]},"Loop Over Items8":{"main":[[],[{"node":"Evolution API5","type":"main","index":0}]]},"Wait8":{"main":[[{"node":"Loop Over Items8","type":"main","index":0}]]},"Evolution API5":{"main":[[{"node":"Wait8","type":"main","index":0}]]},"PlanilhaNomes2":{"main":[[{"node":"Clientes2","type":"main","index":0}]]},"Clientes2":{"main":[[{"node":"Mensagem Atrasado","type":"main","index":0}]]},"Zerando Item2":{"main":[[{"node":"PlanilhaNomes2","type":"main","index":0}]]},"Mensagem Atrasado":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Evolution API1","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Evolution API1":{"main":[[{"node":"Wait3","type":"main","index":0}]]}}}