workflows/My_workflow_5_AX3dS2qd2DqCpiOL.json
{"createdAt":"2025-08-21T11:04:21.161Z","id":"AX3dS2qd2DqCpiOL","name":"My workflow 5","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"seconds","secondsInterval":3}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[32,0],"id":"3c369f69-f0fb-431b-a9de-29f673d01167","name":"Schedule Trigger","disabled":true},{"parameters":{"jsCode":"  const mensagem = `Bom dia ${$now.toFormat('dd/MM/yyyy HH:mm:ss')}`;\n\nreturn {\n  json: {\n    'mensagem': mensagem\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[240,0],"id":"669d60c0-2f14-494a-9258-0274b94a1bde","name":"Code"},{"parameters":{"resource":"spreadsheet","title":"Horarios","sheetsUi":{"sheetValues":[{}]},"options":{"locale":""}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[448,0],"id":"eebe4975-da46-4a8a-aa53-a44932fb834f","name":"Google Sheets","disabled":true},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1dwmrcmtFah4dr_7czzUVx4h35__v8DuirMLLoUqAZg4","mode":"list","cachedResultName":"Horarios","cachedResultUrl":"[REDACTED]"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"[REDACTED]"},"columns":{"mappingMode":"defineBelow","value":{"Data":"={{ $('Code').item.json.mensagem.split(' ')[2] }}","Hora":"={{ $('Code').item.json.mensagem.split(' ')[3] }}","Nome":"={{ $('Code').item.json.mensagem }}"},"matchingColumns":["Horario"],"schema":[{"id":"Data","displayName":"Data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Hora","displayName":"Hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"cellFormat":"RAW"}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[704,0],"id":"2c9636de-7018-4aa3-8104-3a28d7fbd453","name":"Google Sheets1","disabled":true},{"parameters":{"operation":"getAllPeople","limit":10},"type":"[REDACTED]","typeVersion":1,"position":[224,272],"id":"179c6794-9361-4f81-b711-18ed213c1902","name":"Customer Datastore (n8n training)","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"bf63c555-e96d-4f55-b4ea-c3d546bdfd40","name":"name","value":"={{ $json.name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[448,272],"id":"34f7e15b-cd4c-4d4c-9db4-d498d118afbf","name":"Edit Fields","disabled":true},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nlet nomes = \n$input.all().map((x) => x['json']['name']);\nnomes = nomes.map((x) => x.toUpperCase())\n\n\n\nreturn {\n  json: {\n    'mensagem': nomes\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[672,272],"id":"feac27f0-f783-4cd9-8535-df59a4963c67","name":"Code1","disabled":true},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"[REDACTED]","mode":"list","cachedResultName":"Nomes","cachedResultUrl":"[REDACTED]"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"[REDACTED]"},"columns":{"mappingMode":"defineBelow","value":{"Nome":"={{ $json.mensagem }}"},"matchingColumns":["Nome"],"schema":[{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1120,272],"id":"0db4412e-6cc5-48f0-9c57-74028bbb0966","name":"Google Sheets2","disabled":true},{"parameters":{"fieldToSplitOut":"mensagem","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[912,272],"id":"a0a179f2-07e9-4aea-ab33-a5a948391271","name":"Split Out","disabled":true},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"[REDACTED]","mode":"list","cachedResultName":"teste.csv","cachedResultUrl":"[REDACTED]"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[256,848],"id":"0ab1509e-42e0-434d-b24b-362a2459f370","name":"Google Drive","disabled":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[496,848],"id":"404f4c0c-376c-4ab2-947d-f82af40709e2","name":"Extract from File","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"8ff67a44-4692-4d99-b6b4-3724ed1a7337","name":"ID_Cliente","value":"={{ $json.ID_Cliente == ' ' || $json.ID_Cliente == 'NULL' || $json.ID_Cliente == NULL ? 'Vazio' : $json.ID_Cliente  }}","type":"string"},{"id":"bd97a169-c13a-44a0-997d-e12420bfe06b","name":"Nome","value":"={{ $json.Nome == ' ' || $json.Nome == 'NULL' || $json.Nome == NULL ? 'Vazio' : $json.Nome  }}","type":"string"},{"id":"ee3d1512-5c7e-4b30-a5bf-7183f2e078fd","name":"Email","value":"={{ $json.Email == ' ' || $json.Email == 'NULL' || $json.Email == NULL ? 'Vazio' : $json.Email  }}","type":"string"},{"id":"a914f604-a220-40d9-bfa3-4bd9a6d92949","name":"Data_Cadastro","value":"={{ $json.Data_Cadastro == ' ' || $json.Data_Cadastro == 'NULL' || $json.Data_Cadastro == NULL ? 'Vazio' : $json.Data_Cadastro  }}","type":"string"},{"id":"c10ff538-aa15-40a7-8faa-507d983c3843","name":"Ultima_Compra_Valor","value":"={{ $json.Ultima_Compra_Valor == ' ' || $json.Ultima_Compra_Valor == 'NULL' || $json.Ultima_Compra_Valor == NULL ? 'Vazio' : $json.Ultima_Compra_Valor  }}","type":"string"},{"id":"0ce1bda0-248f-49e1-9c57-ddd7761d5886","name":"Status","value":"={{ $json.Status == ' ' || $json.Status == 'N/A' || $json.Status == NULL ? 'Vazio' : $json.Status  }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[704,848],"id":"8b12e131-889b-4b40-b6c5-004aad962939","name":"Edit Fields1","disabled":true},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"[REDACTED]","mode":"list","cachedResultName":"Clientes atualizados","cachedResultUrl":"[REDACTED]"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"[REDACTED]"},"columns":{"mappingMode":"defineBelow","value":{"ID":"={{ $json.ID_Cliente }}","Nome":"={{ $json.Nome }}","Email":"={{ $json.Email }}","Data_cadastro":"={{ $json.Data_Cadastro }}","Ultima_compra":"={{ $json.Ultima_Compra_Valor }}","Status":"={{ $json.Status }}"},"matchingColumns":["ID"],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data_cadastro","displayName":"Data_cadastro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Ultima_compra","displayName":"Ultima_compra","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[912,848],"id":"849d0c68-abc8-4652-9aa6-fe1e3a2a8a65","name":"Append or update row in sheet","disabled":true},{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[784,1168],"id":"ed08b384-20b6-4a6f-9c92-19124a70749c","name":"Extract from File1"},{"parameters":{"options":{"allowFileUploads":true}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[144,1184],"id":"d4cf7e19-dd7b-4671-8f0c-328fc7cd97b5","name":"When chat message received","webhookId":"6d679b53-3fef-4e25-a545-508d41c161be"},{"parameters":{"jsCode":"// Garante que exista binary.data a partir da 1ª chave binária\nreturn items.map(item => {\n  const bin = item.binary || {};\n  const keys = Object.keys(bin);\n  if (keys.length === 0) {\n    throw new Error('Nenhum arquivo recebido no chat (item.binary vazio).');\n  }\n  const firstKey = keys[0];\n  // Copia para 'data' sem perder o original\n  item.binary = { ...bin, data: { ...bin[firstKey] } };\n  // opcional: logar para depuração\n  item.json._binKeys = keys;\n  return item;\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[352,1184],"id":"e2cb79c9-b84b-4fc7-adb5-b46df7b37df7","name":"Code2"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[]]},"Google Sheets":{"main":[[]]},"Google Sheets1":{"main":[[]]},"Customer Datastore (n8n training)":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Google Sheets2":{"main":[[]]},"Split Out":{"main":[[{"node":"Google Sheets2","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]},"Append or update row in sheet":{"main":[[]]},"When chat message received":{"main":[[{"node":"Code2","type":"main","index":0}]]}}}