workflows/My_workflow_6_p4jiQDUjJnNdkQB2.json
{"createdAt":"2025-08-21T18:32:08.905Z","id":"p4jiQDUjJnNdkQB2","name":"My workflow 6","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-112,112],"id":"adff0135-d967-40f3-ac77-5294fb7e35b6","name":"When clicking ‘Execute workflow’"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"[REDACTED]","mode":"list","cachedResultName":"teste.csv","cachedResultUrl":"[REDACTED]"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[112,112],"id":"e6713771-95da-49d7-b5f6-bc5588394d26","name":"Google Drive"},{"parameters":{"options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[352,112],"id":"00f25ed1-94b0-4999-a04e-ef02bbe6a848","name":"Extract from File"},{"parameters":{"assignments":{"assignments":[{"id":"8ff67a44-4692-4d99-b6b4-3724ed1a7337","name":"ID_Cliente","value":"={{ $json.ID_Cliente == ' ' || $json.ID_Cliente == 'NULL' || $json.ID_Cliente == NULL ? 'Vazio' : $json.ID_Cliente  }}","type":"string"},{"id":"bd97a169-c13a-44a0-997d-e12420bfe06b","name":"Nome","value":"={{ $json.Nome == ' ' || $json.Nome == 'NULL' || $json.Nome == NULL ? 'Vazio' : $json.Nome  }}","type":"string"},{"id":"ee3d1512-5c7e-4b30-a5bf-7183f2e078fd","name":"Email","value":"={{ $json.Email == ' ' || $json.Email == 'NULL' || $json.Email == NULL ? 'Vazio' : $json.Email  }}","type":"string"},{"id":"a914f604-a220-40d9-bfa3-4bd9a6d92949","name":"Data_Cadastro","value":"={{ $json.Data_Cadastro == ' ' || $json.Data_Cadastro == 'NULL' || $json.Data_Cadastro == NULL ? 'Vazio' : $json.Data_Cadastro  }}","type":"string"},{"id":"c10ff538-aa15-40a7-8faa-507d983c3843","name":"Ultima_Compra_Valor","value":"={{ $json.Ultima_Compra_Valor == ' ' || $json.Ultima_Compra_Valor == 'NULL' || $json.Ultima_Compra_Valor == NULL ? 'Vazio' : $json.Ultima_Compra_Valor  }}","type":"string"},{"id":"0ce1bda0-248f-49e1-9c57-ddd7761d5886","name":"Status","value":"={{ $json.Status == ' ' || $json.Status == 'N/A' || $json.Status == NULL ? 'Vazio' : $json.Status  }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[560,112],"id":"799c2f48-4918-4835-a19a-5dbe5a1e729a","name":"Edit Fields1"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"[REDACTED]","mode":"list","cachedResultName":"Clientes atualizados","cachedResultUrl":"[REDACTED]"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"[REDACTED]"},"columns":{"mappingMode":"defineBelow","value":{"ID":"={{ $json.ID_Cliente }}","Nome":"={{ $json.Nome }}","Email":"={{ $json.Email }}","Data_cadastro":"={{ $json.Data_Cadastro }}","Ultima_compra":"={{ $json.Ultima_Compra_Valor }}","Status":"={{ $json.Status }}"},"matchingColumns":["ID"],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data_cadastro","displayName":"Data_cadastro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Ultima_compra","displayName":"Ultima_compra","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[768,112],"id":"486ee16f-8e4b-4a79-9f54-9c78b3709fcb","name":"Append or update row in sheet"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]}}}