workflows/N8N_INICIANTE_|_PROJETO_FINAL_(Cópia)_90dd95v8HG4zGwDf.json
{"createdAt":"2025-10-08T19:00:45.945Z","id":"90dd95v8HG4zGwDf","name":"N8N INICIANTE | PROJETO FINAL (Cópia)","active":false,"isArchived":false,"nodes":[{"parameters":{"formTitle":"Análise de serviços de IA para sua Empresa","formDescription":"Olá, seja bem-vindo ao nosso formulário de triagem, preencha os dados e receba uma análise gratuita de serviços que podem auxiliar o seu negócio","formFields":{"values":[{"fieldLabel":"Nome da empresa","placeholder":"Qual é o nome da empresa","requiredField":true},{"fieldLabel":"Seu nome","placeholder":"Qual é o seu nome","requiredField":true},{"fieldLabel":"E-mail","fieldType":"email","placeholder":"Qual o seu e-mail para contato?","requiredField":true},{"fieldLabel":"Qual seu WhatsApp?","placeholder":"(xx)xxxx-xxxx","requiredField":true},{"fieldLabel":"Setor de atuação","placeholder":"Qual setor sua empresa atua?","requiredField":true},{"fieldLabel":"Qual porte da empresa?","fieldType":"dropdown","fieldOptions":{"values":[{"option":"Pequena: Até 20 funcionários"},{"option":"Média: Entre 21 e 50 funcionários"},{"option":"Grande: Mais que 50 funcionários"}]},"requiredField":true},{"fieldLabel":"Qual nível de urgência precisa do serviço?","fieldType":"dropdown","fieldOptions":{"values":[{"option":"Imediata"},{"option":" 1-3 meses"},{"option":"Sem prazo"},{"option":"Pesquisando"}]},"requiredField":true},{"fieldLabel":"Já teve experiência com algum serviço de IA?","placeholder":"Ex: Sim, contratei um chatbot... Não, primeira vez"},{"fieldLabel":"Quais são os principais desafios de atendimento da sua empresa?","fieldType":"textarea","placeholder":"ex: tempo de resposta, escala limitada, dúvidas frequentes, qualificação de leads...","requiredField":true},{"fieldLabel":"Volume de atendimento","fieldType":"dropdown","fieldOptions":{"values":[{"option":"Menos de 50 por dia"},{"option":"Entre 50 e 200 por dia"},{"option":"Mais de 200 por dia"}]},"requiredField":true},{"fieldLabel":"Orçamento disponível para inserção do serviço de IA","fieldType":"dropdown","fieldOptions":{"values":[{"option":"Até R$5.000/mês"},{"option":"Entre R$5.000 e R$15.000"},{"option":"Acima de R$15.000"}]},"requiredField":true},{"fieldLabel":"Quais das nossas soluções, você tem interesse?","fieldType":"dropdown","fieldOptions":{"values":[{"option":"Agente de Triagem: Reduz em até 70% o tempo de qualificação de leads"},{"option":"Agente de Suporte: Responde dúvidas frequentes em segundos, 24/7"},{"option":"Agente de Conversão: Pode aumentar em até 40% a taxa de fechamento de vendas"}]},"requiredField":true}]},"options":{"appendAttribution":false,"buttonLabel":"Enviar Análise","customCss":":root {\n\t/* Font Family */\n\t--font-family: 'Inter', sans-serif;\n\t--font-weight-normal: 400;\n\t--font-weight-bold: 600;\n\t\n\t/* Font Sizes */\n\t--font-size-body: 14px;\n\t--font-size-label: 14px;\n\t--font-size-test-notice: 12px;\n\t--font-size-input: 14px;\n\t--font-size-header: 22px;\n\t--font-size-paragraph: 14px;\n\t--font-size-link: 13px;\n\t--font-size-error: 12px;\n\t--font-size-html-h1: 28px;\n\t--font-size-html-h2: 22px;\n\t--font-size-html-h3: 18px;\n\t--font-size-html-h4: 16px;\n\t--font-size-html-h5: 14px;\n\t--font-size-html-h6: 12px;\n\t--font-size-subheader: 15px;\n\t\n\t/* Colors - Dark Mode */\n\t--color-background: #171717;\n\t--color-test-notice-text: #ffb74d;\n\t--color-test-notice-bg: #2d2816;\n\t--color-test-notice-border: #54461c;\n\t--color-card-bg: #222222;\n\t--color-card-border: #333333;\n\t--color-card-shadow: rgba(0, 0, 0, 0.25);\n\t--color-link: #a0a0a0;\n\t--color-header: #ffffff;\n\t--color-label: #e0e0e0;\n\t--color-input-border: #444444;\n\t--color-input-text: #e0e0e0;\n\t--color-focus-border: #6366f1;\n\t--color-submit-btn-bg: #4f46e5;\n\t--color-submit-btn-text: #ffffff;\n\t--color-error: #ef4444;\n\t--color-required: #f59e0b;\n\t--color-clear-button-bg: #3d3d3d;\n\t--color-html-text: #d1d5db;\n\t--color-html-link: #6366f1;\n\t--color-header-subtext: #9ca3af;\n\t\n\t/* Border Radii */\n\t--border-radius-card: 10px;\n\t--border-radius-input: 8px;\n\t--border-radius-clear-btn: 50%;\n\t--card-border-radius: 10px;\n\t\n\t/* Spacing */\n\t--padding-container-top: 28px;\n\t--padding-card: 28px;\n\t--padding-test-notice-vertical: 14px;\n\t--padding-test-notice-horizontal: 28px;\n\t--margin-bottom-card: 20px;\n\t--padding-form-input: 14px;\n\t--card-padding: 28px;\n\t--card-margin-bottom: 20px;\n\t\n\t/* Dimensions */\n\t--container-width: 460px;\n\t--submit-btn-height: 50px;\n\t--checkbox-size: 18px;\n\t\n\t/* Others */\n\t--box-shadow-card: 0px 8px 24px 0px rgba(0, 0, 0, 0.3);\n\t--opacity-placeholder: 0.6;\n}\n\n/* Adicionar importação da fonte Inter do Google Fonts */\n@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');\n\n/* Estilos adicionais para melhorar a experiência no dark mode */\nbody {\n\tbackground-color: var(--color-background);\n\tcolor: var(--color-html-text);\n\tfont-family: var(--font-family);\n}\n\ninput, textarea, select {\n\tbackground-color: #2a2a2a;\n\tborder: 1px solid var(--color-input-border);\n\tcolor: var(--color-input-text);\n\ttransition: all 0.2s ease-in-out;\n}\n\ninput:focus, textarea:focus, select:focus {\n\tborder-color: var(--color-focus-border);\n\tbox-shadow: 0 0 0 2px rgba(99, 102, 241, 0.25);\n\toutline: none;\n}\n\nbutton[type=\"submit\"] {\n\tbackground-color: var(--color-submit-btn-bg);\n\tborder: none;\n\tfont-weight: 500;\n\ttext-transform: none;\n\tletter-spacing: 0.02em;\n\ttransition: all 0.2s ease;\n}\n\nbutton[type=\"submit\"]:hover {\n\tbackground-color: #4338ca;\n\tbox-shadow: 0 4px 12px rgba(99, 102, 241, 0.25);\n}\n\n/* Melhorias para checkbox e radio */\ninput[type=\"checkbox\"], input[type=\"radio\"] {\n\taccent-color: var(--color-submit-btn-bg);\n}\n\n/* Estilo para labels */\nlabel {\n\tfont-weight: 500;\n\tcolor: var(--color-label);\n\tmargin-bottom: 8px;\n}\n\n/* Estilo para placeholder */\n::placeholder {\n\tcolor: var(--color-input-text);\n\topacity: var(--opacity-placeholder);\n}\n\n/* Melhorias para campos obrigatórios */\n.required::after {\n\tcontent: '*';\n\tcolor: var(--color-required);\n\tmargin-left: 4px;\n}"}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-1648,928],"id":"8782a234-e483-42f7-9d9d-045a6f387c24","name":"Formulario","webhookId":"b7ebdbdb-2b9b-4cd1-a030-aa369e746f73","notesInFlow":true,"notes":"Display Notes"},{"parameters":{"assignments":{"assignments":[{"id":"21ab4e1e-b612-481f-bf1e-1766e0144e97","name":"Nome da empresa","value":"={{ $json['Nome da empresa'] }}","type":"string"},{"id":"afc0d359-64de-4a3f-94d1-a47445e3e8a8","name":"Seu nome","value":"={{ $json['Seu nome'] }}","type":"string"},{"id":"d9116cf2-a77b-4573-8875-c9cd2626532e","name":"E-mail","value":"={{ $json['E-mail'] }}","type":"string"},{"id":"56fd4f1d-7df8-47cc-a2e7-91a0cdf4f946","name":"Qual seu WhatsApp?","value":"={{ $json['Qual seu WhatsApp?'] }}","type":"string"},{"id":"e94a7883-8a64-42d5-bced-40dbe9011218","name":"Setor de atuação","value":"={{ $json['Setor de atuação'] }}","type":"string"},{"id":"df27c714-00b0-4ce4-9c19-0a805e7ac910","name":"Qual porte da empresa?","value":"={{ $json['Qual porte da empresa?'] }}","type":"string"},{"id":"06c26bfd-aaba-4aed-bca2-d518d7ae130d","name":"Qual nível de urgência precisa do serviço?","value":"={{ $json['Qual nível de urgência precisa do serviço?'] }}","type":"string"},{"id":"4e94577a-f57e-4229-ae38-a8509417b667","name":"Já teve experiência com algum serviço de IA?","value":"={{ $json['Já teve experiência com algum serviço de IA?'] }}","type":"string"},{"id":"aece715f-2b2b-4116-85d4-06132dee4da5","name":"Quais são os principais desafios de atendimento da sua empresa?","value":"={{ $json['Quais são os principais desafios de atendimento da sua empresa?'] }}","type":"string"},{"id":"22200c39-f22d-4afc-a472-fb54b2af96ee","name":"Volume de atendimento","value":"={{ $json['Volume de atendimento'] }}","type":"string"},{"id":"ab5f88ed-7f81-42a7-a499-97151f4f2d61","name":"Orçamento disponível para inserção do serviço de IA","value":"={{ $json['Orçamento disponível para inserção do serviço de IA'] }}","type":"string"},{"id":"11feb34f-aff9-44e4-8997-69aa8158fbf5","name":"Solução de interesse (Pode escolher mais de uma)","value":"={{ $json['Solução de interesse (Pode escolher mais de uma)'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1248,928],"id":"3f063067-60cc-4d04-8448-49e199a8091c","name":"Edit Fields"},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/responses","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer {cole api aqui}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"gpt-4o"},{"name":"input","value":"=# Contexto\nEste é o perfil do meu cliente:\nEmpresa: {{ $json[\"Nome da empresa\"] }}\nNome: {{ $json['Seu nome'] }}\nSetor: {{ $json['Setor de atuação'] }}\nPorte da empresa: {{ $json['Qual porte da empresa?'] }}\nNível de urgência é: {{ $json['Qual nível de urgência precisa do serviço?'] }}\nExperiência prévia: {{ $json['Já teve experiência com algum serviço de IA?'] }}\nAs principais dificuldades são: {{ $json['Quais são os principais desafios de atendimento da sua empresa?'] }}\nO volume de atendimento dele é: {{ $json['Volume de atendimento'] }}\nO orçamento disponível dele é: {{ $json['Orçamento disponível para inserção do serviço de IA'] }}\nA solução que ele deseja é: {{ $json['Solução de interesse (Pode escolher mais de uma)'] }}\n\n## Objetivo\nAnalise as informações fornecidas e classifique o potencial do cliente com base nos critérios abaixo. \n\n## Instruções\n1. Leia atentamente as informações do formulário do cliente\n2. Atribua a pontuação correspondente para cada um dos 6 critérios\n3. Some os pontos para obter a pontuação total\n4. Classifique o cliente conforme a pontuação final\n5. Identifique oportunidades específicas com base nas necessidades do cliente\n\n## Critérios de Avaliação (Máximo 100 pontos)\n\n### 1. Tamanho da Empresa (máximo 20 pontos)\n- Grande (mais que 50 funcionários): 20 pontos\n- Média: 15 pontos\n- Pequena: 10 pontos\n\n### 2. Orçamento (máximo 25 pontos)\n- Entre R$ 5.000 e R$ 15.000: 25 pontos\n- Até R$ 5.000: 15 pontos\n- Até R$ 2.000: 5 pontos\n\n### 3. Volume de Atendimento (máximo 20 pontos)\n- Mais de 200 por dia: 20 pontos\n- Entre 50 e 200 por dia: 15 pontos\n- Menos de 50 por dia: 5 pontos\n\n### 4. Urgência (máximo 15 pontos)\n- Imediata: 15 pontos\n- 1-3 meses: 10 pontos\n- Sem prazo definido: 5 pontos\n- Apenas pesquisando: 0 pontos\n\n### 5. Poder de Decisão (máximo 10 pontos)\n- Possui poder de decisão (cargo de liderança/gerência): 10 pontos\n- Não possui poder de decisão: 0 pontos\n- Dica: Verificar cargo, email ou perguntar diretamente\n\n### 6. Tentativas Anteriores (máximo 10 pontos)\n- Já tentou outras soluções sem sucesso: 10 pontos\n- Usa solução básica atualmente: 8 pontos\n- Primeira vez buscando esse tipo de solução: 5 pontos\n- Nunca usou nenhuma solução similar: 3 pontos\n\n## Classificação do Cliente\n- Cliente Quente: mais de 75 pontos\n  * Requer atenção imediata e abordagem personalizada\n  * Alta probabilidade de conversão\n  * Indicado para contato direto do gerente comercial\n\n- Cliente Morno: entre 45 e 75 pontos\n  * Requer nutrição adicional antes de avançar no funil\n  * Potencial médio de conversão\n  * Indicado para demonstrações e materiais educativos\n\n- Cliente Frio: menos de 45 pontos\n  * Baixa prioridade imediata\n  * Requer mais qualificação e educação sobre o valor da solução\n  * Indicado para automação de marketing e contatos periódicos\n\n## Exemplo de Análise (para o caso da Beta Group)\nDados do cliente:\n- Empresa: Beta Group (Grande porte) = 20 pontos\n- Orçamento: Entre R$5.000 e R$15.000 = 25 pontos\n- Volume: Mais de 200 atendimentos por dia = 20 pontos\n- Urgência: Imediata = 15 pontos\n- Poder de Decisão: Email contém \"ceo\" = 10 pontos\n- Experiência prévia: Já tentou outras soluções sem sucesso = 10 pontos\n\nPontuação total: 100 pontos\nClassificação: Cliente Quente\n\n# Formato de resposta\nGere apenas a classificação em frio, morno ou quente e a pontuação"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-816,928],"id":"06b2394c-e184-4738-a2fa-602519384e68","name":"IA Analista de Lead"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.output[0].content[0].text }}","rightValue":"Quente","operator":{"type":"string","operation":"contains"},"id":"83c9b744-f03d-4db9-a33b-177ee9642c0e"}],"combinator":"and"},"renameOutput":true,"outputKey":"[REDACTED]"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"eab95bac-f090-4e54-879f-cb9e5c1f1a1b","leftValue":"={{ $json.output[0].content[0].text }}","rightValue":"Morno","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"[REDACTED]"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bb71f7d3-f3dc-4115-9eca-bd0cd10f164d","leftValue":"={{ $json.output[0].content[0].text }}","rightValue":"Frio","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"[REDACTED]"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-368,912],"id":"1e40e751-e1e3-42d6-9b90-81f63434dd47","name":"Classificando Leads"},{"parameters":{"content":"## 2. CRM no Trello\n1. Crie uma conta ou faça login: https://id.atlassian.com/login\n\n2. Crie um quadro chamado \"CRM\" e crie 3 colunas: Lead quente, Lead morno, Lead frio\n\n3. Adicione o código do quadro em {código do bard} na URL dos 3 nodes de \"Acesso ao Quadro\"\n\n4. Acesse sua chave de API: Após fazer login, você pode visitar seu Portal de Administração do Power-Up https://trello.com/power-ups/admin/. De lá, clique em “Novo”.\n\n5. Preencha os campos para nova integração\n\n6. Clique em Gerar nova chave de API\n\n7. Cole aqui a chave de API: \n\n8. Clique em gerar um token manualmente\n\n9. Cole aqui o token: ","height":440,"width":840,"color":3},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"18151151-fd0d-4da6-aa9c-19c5fb945713","name":"Sticky Note2"},{"parameters":{"content":"[REDACTED]","height":300,"width":380,"color":4},"type":"n8n-nodes-base.stickyNote","position":[0,512],"typeVersion":1,"id":"c524abd5-4c28-436d-bb9b-ed837854bad9","name":"Sticky Note3"},{"parameters":{"method":"POST","url":"https://api.trello.com/1/cards","sendQuery":true,"queryParameters":{"parameters":[{"name":"idList","value":"={{ $json.body[0].id }}"},{"name":"key","value":"={{ $('Setar API e Token').item.json.api }}"},{"name":"token","value":"={{ $('Setar API e Token').item.json.token }}"},{"name":"name","value":"={{ $('Edit Fields').item.json[\"Seu nome\"] }} da {{ $('Edit Fields').item.json[\"Nome da empresa\"] }}"},{"name":"desc","value":"=E-mail: {{ $('Edit Fields').item.json[\"E-mail\"] }}\nWhatsApp: https://wa.me/55{{ $('Edit Fields').item.json['Qual seu WhatsApp?'] }}\nSetor: {{ $('Edit Fields').item.json['Setor de atuação'] }}\nPorte da Empresa: {{ $('Edit Fields').item.json['Qual porte da empresa?'] }}\nNível de urgência: {{ $('Edit Fields').item.json['Qual nível de urgência precisa do serviço?'] }}\nExperiência anterior: {{ $('Edit Fields').item.json['Já teve experiência com algum serviço de IA?'] }}\nPrincipais dificuldades: {{ $('Edit Fields').item.json['Quais são os principais desafios de atendimento da sua empresa?'] }}\nVolume de atendimento: {{ $('Edit Fields').item.json['Volume de atendimento'] }}\nOrçamento disponível: {{ $('Edit Fields').item.json['Orçamento disponível para inserção do serviço de IA'] }}\nSolução de interesse: {{ $('Edit Fields').item.json['Solução de interesse (Pode escolher mais de uma)'] }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1520,640],"id":"e6eb499a-658d-402e-9ad5-5b15b321c37d","name":"Criar Card no Trello"},{"parameters":{"content":"[REDACTED]","height":300,"width":380,"color":4},"type":"n8n-nodes-base.stickyNote","position":[1392,512],"typeVersion":1,"id":"6dcbee7b-3194-4ea6-a859-2a0bed548bd3","name":"Sticky Note4"},{"parameters":{"url":"https://api.trello.com/1/boards/{código do bard}","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"{api key aqui}"},{"name":"token","value":"{token aqui}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[128,640],"id":"e570a430-3562-459d-b0cc-71b44ded045b","name":"Acesso ao Quadro"},{"parameters":{"url":"=https://api.trello.com/1/boards/{{ $json.id }}/lists ","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"={{ $json.api }}"},{"name":"token","value":"={{ $json.token }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"}]},"options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1024,640],"id":"760c60ee-412f-439d-8edd-8043c9e42de4","name":"Acesso às Listas"},{"parameters":{"content":"[REDACTED]","height":300,"width":380,"color":4},"type":"n8n-nodes-base.stickyNote","position":[912,512],"typeVersion":1,"id":"764f3293-3a78-46ab-905c-8161765fad57","name":"Sticky Note5"},{"parameters":{"content":"[REDACTED]","height":300,"width":380,"color":4},"type":"n8n-nodes-base.stickyNote","position":[1872,512],"typeVersion":1,"id":"c7e99ece-62f0-4d1e-a3aa-6b02be958f98","name":"Sticky Note6"},{"parameters":{"method":"POST","url":"=https://api.trello.com/1/cards/{{ $json.id }}/checklists ","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"={{ $('Setar API e Token').item.json.api }}"},{"name":"token","value":"={{ $('Setar API e Token').item.json.token }}"},{"name":"name","value":"Checkilist para Fechamento"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2000,640],"id":"6609e635-aa74-4b72-afd2-678af67d836d","name":"Criar Checklist no Card"},{"parameters":{"method":"POST","url":"=https://api.trello.com/1/checklists/{{ $json.id }}/checkItems ","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"={{ $('Setar API e Token').item.json.api }}"},{"name":"token","value":"={{ $('Setar API e Token').item.json.token }}"},{"name":"name","value":"Contato inicial (até 24h após cadastro)"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"due","value":"={{ new Date(Date.now() + 1 * 24 * 60 * 60 * 1000).toISOString() }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2352,640],"id":"9cbfdd50-a8df-42f9-a4e3-9fc2ab106bba","name":"Criar Tarefa"},{"parameters":{"method":"POST","url":"=https://api.trello.com/1/checklists/{{ $json.idChecklist }}/checkItems ","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"={{ $('Setar API e Token').item.json.api }}"},{"name":"token","value":"={{ $('Setar API e Token').item.json.token }}"},{"name":"name","value":"Agendamento de reunião de diagnóstico"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2480,640],"id":"247f008b-04b0-4ee0-b4e0-39de1b5b6a29","name":"Criar Tarefa1"},{"parameters":{"method":"POST","url":"=https://api.trello.com/1/checklists/{{ $json.idChecklist }}/checkItems ","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"={{ $('Setar API e Token').item.json.api }}"},{"name":"token","value":"={{ $('Setar API e Token').item.json.token }}"},{"name":"name","value":"Realização da reunião de diagnóstico"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2624,640],"id":"c3cf2615-87aa-4ccf-b8ad-d4d4a977fc64","name":"Criar Tarefa2"},{"parameters":{"method":"POST","url":"=https://api.trello.com/1/checklists/{{ $json.idChecklist }}/checkItems ","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"={{ $('Setar API e Token').item.json.api }}"},{"name":"token","value":"={{ $('Setar API e Token').item.json.token }}"},{"name":"name","value":"Envio de proposta personalizada"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2768,640],"id":"5099eae4-7767-4418-9554-ba23ba076123","name":"Criar Tarefa3"},{"parameters":{"method":"POST","url":"=https://api.trello.com/1/checklists/{{ $json.idChecklist }}/checkItems ","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"={{ $('Setar API e Token').item.json.api }}"},{"name":"token","value":"={{ $('Setar API e Token').item.json.token }}"},{"name":"name","value":"Follow-up da proposta (48h após envio)"},{"name":"due","value":"={{ new Date(Date.now() + 5 * 24 * 60 * 60 * 1000).toISOString() }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2912,640],"id":"a51fabb2-98df-40bc-a3a0-cc558b43f0d5","name":"Criar Tarefa4"},{"parameters":{"method":"POST","url":"=https://api.trello.com/1/checklists/{{ $json.idChecklist }}/checkItems ","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"={{ $('Setar API e Token').item.json.api }}"},{"name":"token","value":"={{ $('Setar API e Token').item.json.token }}"},{"name":"name","value":"Envio de contrato"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3040,640],"id":"68577e45-951e-4fc0-a70f-e84d457f570d","name":"Criar Tarefa5"},{"parameters":{"method":"POST","url":"=https://api.trello.com/1/checklists/{{ $json.idChecklist }}/checkItems ","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"={{ $('Setar API e Token').item.json.api }}"},{"name":"token","value":"={{ $('Setar API e Token').item.json.token }}"},{"name":"name","value":"=Reunião de onboarding"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3184,640],"id":"39a2f89d-8f03-4bad-b814-fb65dce32143","name":"Criar Tarefa6"},{"parameters":{"method":"POST","url":"=https://api.trello.com/1/checklists/{{ $json.idChecklist }}/checkItems ","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"={{ $('Setar API e Token').item.json.api }}"},{"name":"token","value":"={{ $('Setar API e Token').item.json.token }}"},{"name":"name","value":"Definição de cronograma de implementação"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3328,640],"id":"f2e419c1-ca69-4001-9eb4-72da82f7de28","name":"Criar Tarefa7"},{"parameters":{"method":"POST","url":"=https://api.trello.com/1/checklists/{{ $json.idChecklist }}/checkItems ","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"={{ $('Setar API e Token').item.json.api }}"},{"name":"token","value":"={{ $('Setar API e Token').item.json.token }}"},{"name":"name","value":"Setup inicial do sistema"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3472,640],"id":"1405a8d4-65c9-4b03-ae04-491a0116a32f","name":"Criar Tarefa8"},{"parameters":{"content":"## Criação das tarefas \nCada node criar um item no Checklist do card para executar","height":300,"width":1440,"color":4},"type":"n8n-nodes-base.stickyNote","position":[2304,512],"typeVersion":1,"id":"27a88f78-53ed-417b-8272-550a17333b64","name":"Sticky Note7"},{"parameters":{"url":"https://api.trello.com/1/boards/{código do bard}","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"{api key aqui}"},{"name":"token","value":"{token aqui}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[128,928],"id":"d0749151-6202-43dc-95b0-efee4662fb59","name":"Acesso ao Quadro1"},{"parameters":{"url":"=https://api.trello.com/1/boards/{{ $json.id }}/lists ","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"={{ $json.api }}"},{"name":"token","value":"={{ $json.token }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"}]},"options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1024,928],"id":"1cb1c0b0-fea7-4286-9f97-5e8898f7db01","name":"Acesso às Listas1"},{"parameters":{"method":"POST","url":"https://api.trello.com/1/cards","sendQuery":true,"queryParameters":{"parameters":[{"name":"idList","value":"={{ $json.body[1].id }}"},{"name":"key","value":"={{ $('Setar API e Token1').item.json.api }}"},{"name":"token","value":"={{ $('Setar API e Token1').item.json.token }}"},{"name":"name","value":"={{ $('Edit Fields').item.json[\"Seu nome\"] }} da {{ $('Edit Fields').item.json[\"Nome da empresa\"] }}"},{"name":"desc","value":"=E-mail: {{ $('Edit Fields').item.json[\"E-mail\"] }}\nWhatsApp: https://wa.me/55{{ $('Edit Fields').item.json['Qual seu WhatsApp?'] }}\nSetor: {{ $('Edit Fields').item.json['Setor de atuação'] }}\nPorte da Empresa: {{ $('Edit Fields').item.json['Qual porte da empresa?'] }}\nNível de urgência: {{ $('Edit Fields').item.json['Qual nível de urgência precisa do serviço?'] }}\nExperiência anterior: {{ $('Edit Fields').item.json['Já teve experiência com algum serviço de IA?'] }}\nPrincipais dificuldades: {{ $('Edit Fields').item.json['Quais são os principais desafios de atendimento da sua empresa?'] }}\nVolume de atendimento: {{ $('Edit Fields').item.json['Volume de atendimento'] }}\nOrçamento disponível: {{ $('Edit Fields').item.json['Orçamento disponível para inserção do serviço de IA'] }}\nSolução de interesse: {{ $('Edit Fields').item.json['Solução de interesse (Pode escolher mais de uma)'] }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1520,928],"id":"21394e9f-f06b-45fd-802c-59e5ae2d81f8","name":"Criar Card no Trello1"},{"parameters":{"method":"POST","url":"=https://api.trello.com/1/cards/{{ $json.id }}/checklists ","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"={{ $('Setar API e Token1').item.json.api }}"},{"name":"token","value":"[REDACTED]"},{"name":"name","value":"Checkilist para Esquentar Lead"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2000,928],"id":"45beb7f5-436b-4eb0-9e35-57304d1479c1","name":"Criar Checklist no Card1"},{"parameters":{"method":"POST","url":"=https://api.trello.com/1/checklists/{{ $json.id }}/checkItems ","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"={{ $('Setar API e Token1').item.json.api }}"},{"name":"token","value":"[REDACTED]"},{"name":"name","value":"Contato inicial (até 48h após cadastro)"},{"name":"due","value":"={{ new Date(Date.now() + 2 * 24 * 60 * 60 * 1000).toISOString() }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2352,928],"id":"860490b2-a50c-474d-a773-f7bac76bdcf3","name":"Criar Tarefa9"},{"parameters":{"method":"POST","url":"=https://api.trello.com/1/checklists/{{ $json.idChecklist }}/checkItems ","sendQuery":true,"queryParameters":{"parameters":[{"name":"=key","value":"={{ $('Setar API e Token1').item.json.api }}"},{"name":"token","value":"={{ $('Setar API e Token1').item.json.token }}"},{"name":"name","value":"Envio de material educativo sobre IA no setor específico"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2480,928],"id":"32417fbe-1ddc-4b15-b1e8-769a1666ad4f","name":"Criar Tarefa10"},{"parameters":{"method":"POST","url":"=https://api.trello.com/1/checklists/{{ $json.idChecklist }}/checkItems ","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"={{ $('Setar API e Token1').item.json.api }}"},{"name":"token","value":"={{ $('Setar API e Token1').item.json.token }}"},{"name":"name","value":"Follow-up sobre material enviado (3 dias após)"},{"name":"due","value":"={{ new Date(Date.now() + 5 * 24 * 60 * 60 * 1000).toISOString() }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2624,928],"id":"1f0ee9f7-a38a-43f4-805b-e8fa4df6dc4d","name":"Criar Tarefa11"},{"parameters":{"method":"POST","url":"=https://api.trello.com/1/checklists/{{ $json.idChecklist }}/checkItems ","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"={{ $('Setar API e Token1').item.json.api }}"},{"name":"token","value":"={{ $('Setar API e Token1').item.json.token }}"},{"name":"name","value":"Envio de estudo de caso relacionado ao desafio que ele enfrenta"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2768,928],"id":"10665797-f50e-434e-bbea-c9eedb4a63c3","name":"Criar Tarefa12"},{"parameters":{"method":"POST","url":"=https://api.trello.com/1/checklists/{{ $json.idChecklist }}/checkItems ","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"={{ $('Setar API e Token1').item.json.api }}"},{"name":"token","value":"={{ $('Setar API e Token1').item.json.token }}"},{"name":"name","value":"Convite para webinar/demonstração"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2912,928],"id":"ed59ecf2-532c-436d-b6cd-514adbda865d","name":"Criar Tarefa13"},{"parameters":{"method":"POST","url":"=https://api.trello.com/1/checklists/{{ $json.idChecklist }}/checkItems ","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"={{ $('Setar API e Token1').item.json.api }}"},{"name":"token","value":"={{ $('Setar API e Token1').item.json.token }}"},{"name":"name","value":"Participação no webinar/demonstração"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3040,928],"id":"11f7216f-2045-4df5-aab7-6463559ffaa6","name":"Criar Tarefa14"},{"parameters":{"method":"POST","url":"=https://api.trello.com/1/checklists/{{ $json.idChecklist }}/checkItems ","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"={{ $('Setar API e Token1').item.json.api }}"},{"name":"token","value":"={{ $('Setar API e Token1').item.json.token }}"},{"name":"name","value":"Realização da call de diagnóstico"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3184,928],"id":"db0a0316-d09d-4069-adcd-a4f049648a5d","name":"Criar Tarefa15"},{"parameters":{"method":"POST","url":"=https://api.trello.com/1/checklists/{{ $json.idChecklist }}/checkItems ","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"={{ $('Setar API e Token1').item.json.api }}"},{"name":"token","value":"={{ $('Setar API e Token1').item.json.token }}"},{"name":"name","value":"Envio de pré-proposta com opções"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3328,928],"id":"14d2408e-c9b7-4be8-82c2-8768643968a6","name":"Criar Tarefa16"},{"parameters":{"method":"POST","url":"=https://api.trello.com/1/checklists/{{ $json.idChecklist }}/checkItems ","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"={{ $('Setar API e Token1').item.json.api }}"},{"name":"token","value":"={{ $('Setar API e Token1').item.json.token }}"},{"name":"name","value":"Transição para processo de Cliente Quente"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3472,928],"id":"fd650a92-bb1a-4b2f-818f-e7dc6e49c51d","name":"Criar Tarefa17"},{"parameters":{"content":"## Criação das tarefas \nCada node criar um item no Checklist do card para executar","height":300,"width":1440},"type":"n8n-nodes-base.stickyNote","position":[2304,832],"typeVersion":1,"id":"cd40daf5-3c79-475c-8d48-f731227a5789","name":"Sticky Note8"},{"parameters":{"content":"[REDACTED]","height":300,"width":380},"type":"n8n-nodes-base.stickyNote","position":[0,832],"typeVersion":1,"id":"551de5af-0af3-448d-ab98-04e68c0cd20a","name":"Sticky Note9"},{"parameters":{"content":"[REDACTED]","height":300,"width":380},"type":"n8n-nodes-base.stickyNote","position":[912,832],"typeVersion":1,"id":"21dab9bf-1ff2-42cf-aa65-1af56dd6e0b1","name":"Sticky Note10"},{"parameters":{"content":"[REDACTED]","height":300,"width":380},"type":"n8n-nodes-base.stickyNote","position":[1392,832],"typeVersion":1,"id":"7f50e119-000c-48e6-90db-86163d980f60","name":"Sticky Note11"},{"parameters":{"content":"[REDACTED]","height":300,"width":380},"type":"n8n-nodes-base.stickyNote","position":[1872,832],"typeVersion":1,"id":"422ebe50-790a-4148-98e1-0deca41b24ce","name":"Sticky Note12"},{"parameters":{"url":"https://api.trello.com/1/boards/{código do bard}","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"{api key aqui}"},{"name":"token","value":"{token aqui}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[128,1248],"id":"50af6d18-0722-4463-868e-9bd983083ebb","name":"Acesso ao Quadro2"},{"parameters":{"url":"=https://api.trello.com/1/boards/{{ $json.id }}/lists ","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"={{ $json.api }}"},{"name":"token","value":"={{ $json.token }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"}]},"options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1024,1248],"id":"ab89cb4e-3648-43b9-8ce6-e83204359b4d","name":"Acesso às Listas2"},{"parameters":{"method":"POST","url":"https://api.trello.com/1/cards","sendQuery":true,"queryParameters":{"parameters":[{"name":"idList","value":"={{ $json.body[2].id }}"},{"name":"key","value":"={{ $('Setar API e Token2').item.json.api }}"},{"name":"token","value":"={{ $('Setar API e Token2').item.json.token }}"},{"name":"name","value":"={{ $('Edit Fields').item.json[\"Seu nome\"] }} da {{ $('Edit Fields').item.json[\"Nome da empresa\"] }}"},{"name":"desc","value":"=E-mail: {{ $('Edit Fields').item.json[\"E-mail\"] }}\nWhatsApp: https://wa.me/55{{ $('Edit Fields').item.json['Qual seu WhatsApp?'] }}\nSetor: {{ $('Edit Fields').item.json['Setor de atuação'] }}\nPorte da Empresa: {{ $('Edit Fields').item.json['Qual porte da empresa?'] }}\nNível de urgência: {{ $('Edit Fields').item.json['Qual nível de urgência precisa do serviço?'] }}\nExperiência anterior: {{ $('Edit Fields').item.json['Já teve experiência com algum serviço de IA?'] }}\nPrincipais dificuldades: {{ $('Edit Fields').item.json['Quais são os principais desafios de atendimento da sua empresa?'] }}\nVolume de atendimento: {{ $('Edit Fields').item.json['Volume de atendimento'] }}\nOrçamento disponível: {{ $('Edit Fields').item.json['Orçamento disponível para inserção do serviço de IA'] }}\nSolução de interesse: {{ $('Edit Fields').item.json['Solução de interesse (Pode escolher mais de uma)'] }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1520,1248],"id":"25af7c6d-339e-4f70-9d38-56c5f75ac76c","name":"Criar Card no Trello2"},{"parameters":{"method":"POST","url":"=https://api.trello.com/1/cards/{{ $json.id }}/checklists ","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"={{ $('Setar API e Token2').item.json.api }}"},{"name":"token","value":"={{ $('Setar API e Token2').item.json.token }}"},{"name":"name","value":"Checkilist para Esquentar Lead"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2000,1248],"id":"f7b7a18c-796b-4125-a614-94533a31c13f","name":"Criar Checklist no Card2"},{"parameters":{"method":"POST","url":"=https://api.trello.com/1/checklists/{{ $json.id }}/checkItems ","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"={{ $('Setar API e Token2').item.json.api }}"},{"name":"token","value":"={{ $('Setar API e Token2').item.json.token }}"},{"name":"name","value":"Agendamento de série de mensagens no WhatsApp (nutrição)"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2352,1248],"id":"7576852f-bbae-4399-9912-c20fa7638309","name":"Criar Tarefa18"},{"parameters":{"method":"POST","url":"=https://api.trello.com/1/checklists/{{ $json.idChecklist }}/checkItems ","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"={{ $('Setar API e Token2').item.json.api }}"},{"name":"token","value":"={{ $('Setar API e Token2').item.json.token }}"},{"name":"name","value":"Compartilhamento de link para vídeo curto educativo"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2480,1248],"id":"2cc96619-51c4-4415-bedf-74b6b274072f","name":"Criar Tarefa19"},{"parameters":{"method":"POST","url":"=https://api.trello.com/1/checklists/{{ $json.idChecklist }}/checkItems ","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"={{ $('Setar API e Token2').item.json.api }}"},{"name":"token","value":"={{ $('Setar API e Token2').item.json.token }}"},{"name":"name","value":"Envio de card/infográfico sobre tendências do setor"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2624,1248],"id":"120630c5-4f6e-4e13-a158-8fdbd88f4d77","name":"Criar Tarefa20"},{"parameters":{"method":"POST","url":"=https://api.trello.com/1/checklists/{{ $json.idChecklist }}/checkItems ","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"={{ $('Setar API e Token2').item.json.api }}"},{"name":"token","value":"={{ $('Setar API e Token2').item.json.token }}"},{"name":"name","value":"Mensagem de follow-up após 7 dias do cadastro"},{"name":"due","value":"={{ new Date(Date.now() + 7 * 24 * 60 * 60 * 1000).toISOString() }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2768,1248],"id":"adc55da1-720d-4131-809f-519eb35763f8","name":"Criar Tarefa21"},{"parameters":{"method":"POST","url":"=https://api.trello.com/1/checklists/{{ $json.idChecklist }}/checkItems ","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"={{ $('Setar API e Token2').item.json.api }}"},{"name":"token","value":"={{ $('Setar API e Token2').item.json.token }}"},{"name":"name","value":"Envio de pequeno questionário de interesse via WhatsApp"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2912,1248],"id":"a6a854f0-f13a-480c-ae19-89da70f2b5ca","name":"Criar Tarefa22"},{"parameters":{"method":"POST","url":"=https://api.trello.com/1/checklists/{{ $json.idChecklist }}/checkItems ","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"={{ $('Setar API e Token2').item.json.api }}"},{"name":"token","value":"={{ $('Setar API e Token2').item.json.token }}"},{"name":"name","value":"Compartilhamento de material específico baseado nas respostas"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3040,1248],"id":"4f1a1be5-2898-4904-a4fb-06e98cd5e36b","name":"Criar Tarefa23"},{"parameters":{"method":"POST","url":"=https://api.trello.com/1/checklists/{{ $json.idChecklist }}/checkItems ","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"={{ $('Setar API e Token2').item.json.api }}"},{"name":"token","value":"={{ $('Setar API e Token2').item.json.token }}"},{"name":"name","value":"Convite para uma call rápida de demonstração gratuita"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3184,1248],"id":"0a35a8c6-b04c-4af9-9d99-98e723ca6c1e","name":"Criar Tarefa24"},{"parameters":{"method":"POST","url":"=https://api.trello.com/1/checklists/{{ $json.idChecklist }}/checkItems ","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"={{ $('Setar API e Token2').item.json.api }}"},{"name":"token","value":"={{ $('Setar API e Token2').item.json.token }}"},{"name":"name","value":"Follow-up após 21 dias do cadastro"},{"name":"due","value":"={{ new Date(Date.now() + 21 * 24 * 60 * 60 * 1000).toISOString() }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3328,1248],"id":"f1bf66d3-f91c-4846-9c4a-4ce37d84fa88","name":"Criar Tarefa25"},{"parameters":{"method":"POST","url":"=https://api.trello.com/1/checklists/{{ $json.idChecklist }}/checkItems ","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"={{ $('Setar API e Token2').item.json.api }}"},{"name":"token","value":"={{ $('Setar API e Token2').item.json.token }}"},{"name":"name","value":"Reavaliação de potencial"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3472,1248],"id":"15a0a7d8-6322-4382-884b-6bbc1f4aa805","name":"Criar Tarefa26"},{"parameters":{"content":"[REDACTED]","height":300,"width":380,"color":5},"type":"n8n-nodes-base.stickyNote","position":[0,1152],"typeVersion":1,"id":"3e7a4b37-cb53-4a3f-bd91-5042136cb49c","name":"Sticky Note13"},{"parameters":{"content":"[REDACTED]","height":300,"width":380,"color":5},"type":"n8n-nodes-base.stickyNote","position":[912,1152],"typeVersion":1,"id":"6c80863f-70b5-4a44-a55f-ba2666d796ab","name":"Sticky Note14"},{"parameters":{"content":"[REDACTED]","height":300,"width":380,"color":5},"type":"n8n-nodes-base.stickyNote","position":[1392,1152],"typeVersion":1,"id":"0e1b74c9-b06a-46f8-8da7-333d7e057e02","name":"Sticky Note15"},{"parameters":{"content":"[REDACTED]","height":300,"width":380,"color":5},"type":"n8n-nodes-base.stickyNote","position":[1872,1152],"typeVersion":1,"id":"19921769-3c64-4ca0-acad-9079a717839b","name":"Sticky Note16"},{"parameters":{"content":"## Criação das tarefas \nCada node criar um item no Checklist do card para executar","height":300,"width":1440,"color":5},"type":"n8n-nodes-base.stickyNote","position":[2304,1152],"typeVersion":1,"id":"5094fd8a-3812-4575-9926-19a9c9a7a153","name":"Sticky Note17"},{"parameters":{"content":"## 4. Envio de análise personalizada com ChatGPT\n1. Preencha o campo {api}","height":300,"width":740,"color":3},"type":"n8n-nodes-base.stickyNote","position":[3824,512],"typeVersion":1,"id":"9b4e16f4-29aa-4b08-9e2f-ca6801515553","name":"Sticky Note18"},{"parameters":{"content":"## 4. Envio de análise personalizada com Gemini\n1. Preencha o campo {api}","height":300,"width":740,"color":3},"type":"n8n-nodes-base.stickyNote","position":[3824,832],"typeVersion":1,"id":"de51ced9-d9de-40c2-a950-d365985bcc08","name":"Sticky Note19"},{"parameters":{"content":"## 4. Envio de análise personalizada com DeepSeek\n1. Preencha o campo {api}","height":300,"width":740,"color":3},"type":"n8n-nodes-base.stickyNote","position":[3824,1152],"typeVersion":1,"id":"91176c26-1313-4edf-9331-02d7285e4b79","name":"Sticky Note20"},{"parameters":{"method":"POST","url":"={URL SERVER}/message/sendText/{INSTANCIA}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"{API Key da linha 106 no Evolution do Easy Panel}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"=55{{ $('Edit Fields').item.json['Qual seu WhatsApp?'] }}"},{"name":"text","value":"={{ $json.output[0].content[0].text }}"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4720,640],"id":"f52de895-b235-431d-baae-ce990bd33270","name":"Análise WhatsApp"},{"parameters":{"content":"## 5. Preenchimento Evo\n1. URL Server:\n2. Instância \n3. API Key","height":360,"width":320,"color":3},"type":"n8n-nodes-base.stickyNote","position":[4672,512],"typeVersion":1,"id":"867492df-b919-4f9d-b4e5-0462e829bcb1","name":"Sticky Note21"},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/responses","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer {cole api ChatGPT aqui}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"gpt-4o"},{"name":"input","value":"=# Contexto\nEste é o perfil do meu cliente:\nEmpresa: {{ $('Edit Fields').item.json['Nome da empresa'] }}\nNome: {{ $('Edit Fields').item.json['Seu nome'] }}\nWhatsApp: {{ $('Edit Fields').item.json['Qual seu WhatsApp?'] }}\nSetor: {{ $('Edit Fields').item.json['Setor de atuação'] }}\nPorte da empresa: {{ $('Edit Fields').item.json['Qual porte da empresa?'] }}\nNível de urgência é: {{ $('Edit Fields').item.json['Qual nível de urgência precisa do serviço?'] }}\nExperiência prévia: {{ $('Edit Fields').item.json['Já teve experiência com algum serviço de IA?'] }}\nAs principais dificuldades são: {{ $('Edit Fields').item.json['Quais são os principais desafios de atendimento da sua empresa?'] }}\nO volume de atendimento dele é: {{ $('Edit Fields').item.json['Volume de atendimento'] }}\nO orçamento disponível dele é: {{ $('Edit Fields').item.json['Orçamento disponível para inserção do serviço de IA'] }}\nA solução que ele deseja é: {{ $('Edit Fields').item.json['Solução de interesse (Pode escolher mais de uma)'] }}\n\n# Prompt para Análise Personalizada com ROI Detalhado via WhatsApp\n\n## Objetivo\nGerar uma mensagem profissional para WhatsApp que apresente uma análise quantitativa focada exclusivamente na solução de IA específica escolhida pelo cliente, com cálculos de ROI detalhados.\n\n## Instruções\n1. Identifique qual solução o cliente escolheu com base na variável: {{ $('Edit Fields').item.json['Solução de interesse (Pode escolher mais de uma)'] }}\n2. Concentre toda a análise apenas na solução específica selecionada pelo cliente\n3. Personalize os cálculos e projeções financeiras para essa solução específica\n4. Mantenha um tom profissional mas conversacional (adequado para WhatsApp)\n5. Valores de investimento: R$5.000 (implementação) + R$1.500 (mensalidade mensal) = R$23.000/ano\n\n## Estrutura da Mensagem\n\n### Introdução\n- Saudação personalizada com nome do contato\n- Referência direta à solução que o cliente demonstrou interesse\n\n### Situação Atual (Quantificada)\n- Calcule o custo atual baseado no volume de atendimento\n- Foque apenas nos aspectos relacionados à solução escolhida\n- Projete o custo anual mantendo o cenário atual sem a solução\n\n### Análise Detalhada da Solução Escolhida\nCustomize a análise baseada na solução específica selecionada:\n\n#### SE escolheu \"Agente de Triagem\":\n- Calcule quanto tempo é gasto atualmente na qualificação de leads (em horas)\n- Demonstre a redução de 70% desse tempo e seu valor monetário\n- Calcule a economia de recursos humanos ou o aumento da capacidade de processamento de leads\n- Projete o número adicional de leads que podem ser processados com o mesmo time\n\n#### SE escolheu \"Agente de Suporte\":\n- Calcule o custo atual de suporte considerando horário comercial vs. 24/7\n- Demonstre a economia com automação de dúvidas frequentes\n- Calcule o valor do atendimento instantâneo vs. tempo de espera atual\n- Estime a melhoria na satisfação do cliente e redução de churn\n\n#### SE escolheu \"Agente de Conversão\":\n- Calcule a taxa atual de conversão e número de fechamentos\n- Projete o aumento de 40% e o impacto financeiro direto\n- Demonstre o valor adicional gerado mensalmente e anualmente\n- Calcule o aumento da receita baseado no ticket médio atual\n\n### Análise Financeira Completa\n- Demonstre o investimento total: R$5.000 + (R$1.500 × 12) = R$23.000/ano\n- Calcule o retorno total projetado em 12 meses com a solução específica\n- Apresente o ROI líquido (Retorno - Investimento)\n- Calcule o tempo para o \"break-even\" (quando o retorno paga o investimento)\n\n### Disclaimer/Alerta\n- Inclua um alerta que estes são números conservadores baseados em médias do setor\n- Enfatize que o retorno real pode ser significativamente maior, dependendo da operação específica do cliente\n\n### Próximos Passos\n- Ofereça uma demonstração personalizada focada na solução escolhida\n- Proponha uma reunião para aprofundar os cálculos com métricas internas mais precisas\n\n## Exemplo de Saída - SEMPRE USE ESTE FORMATO\n\n```\nOlá [Nome], tudo bem?\n\nAnalisei os dados da [Empresa] com foco no Agente de Triagem que você demonstrou interesse, considerando seu volume de [X] atendimentos diários.\n\nSITUAÇÃO ATUAL:\n• Com [X] leads para qualificar diariamente, sua equipe investe aproximadamente [Y] horas nesse processo mensalmente\n• Considerando o custo por hora de um profissional em [Setor], isso representa cerca de R$[Z] mensais apenas em qualificação\n• Anualmente, isso soma R$[Z×12] investidos apenas neste processo\n\nPROJEÇÃO COM AGENTE DE TRIAGEM:\n• Nossa solução reduz em até 70% o tempo de qualificação de leads\n• Isso significa reduzir de [Y] para apenas [Y×0.3] horas mensais nessa atividade\n• Sua equipe poderá processar [X÷0.3] leads com o mesmo esforço atual\n• Economia direta: R$[Valor] mensais ou R$[Valor×12] anuais apenas em tempo de equipe\n\nANÁLISE FINANCEIRA:\n• Investimento: R$5.000 (implementação) + R$1.500 (mensal) = R$23.000 no primeiro ano\n• Economia projetada: R$[Valor calculado] no primeiro ano\n• ROI líquido: R$[Retorno - 23.000]\n• Tempo para break-even: [N] meses\n\n⚠️ IMPORTANTE: Estes números são baseados em projeções conservadoras. O retorno real pode ser significativamente maior dependendo da eficiência atual da sua operação de qualificação de leads.\n\nNa prática, o investimento de R$23.000 no primeiro ano se transforma em [múltiplo]× esse valor em economia operacional e aumento de capacidade.\n\nPodemos agendar 15 minutos para discutir como adaptar o Agente de Triagem especificamente para seu fluxo de qualificação?\n```\n\nA mensagem deve ser personalizada de acordo com a solução específica escolhida pelo cliente, apresentando apenas os cálculos e benefícios relevantes para essa solução."}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3984,640],"id":"2f515027-2896-4cc6-8f80-da7159004c41","name":"Análise Prévia - ChatGPT"},{"parameters":{"method":"POST","url":"[REDACTED]","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"{cole API do Gemini aqui}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"Contexto\\nEste é o perfil do meu cliente:\\nEmpresa: {{ $('Edit Fields').item.json['Nome da empresa'] }}\\nNome: {{ $('Edit Fields').item.json['Seu nome'] }}\\nWhatsApp: {{ $('Edit Fields').item.json['Qual seu WhatsApp?'] }}\\nSetor: {{ $('Edit Fields').item.json['Setor de atuação'] }}\\nPorte da empresa: {{ $('Edit Fields').item.json['Qual porte da empresa?'] }}\\nNível de urgência é: {{ $('Edit Fields').item.json['Qual nível de urgência precisa do serviço?'] }}\\nExperiência prévia: {{ $('Edit Fields').item.json['Já teve experiência com algum serviço de IA?'] }}\\nAs principais dificuldades são: {{ $('Edit Fields').item.json['Quais são os principais desafios de atendimento da sua empresa?'] }}\\nO volume de atendimento dele é: {{ $('Edit Fields').item.json['Volume de atendimento'] }}\\nO orçamento disponível dele é: {{ $('Edit Fields').item.json['Orçamento disponível para inserção do serviço de IA'] }}\\nA solução que ele deseja é: {{ $('Edit Fields').item.json['Solução de interesse (Pode escolher mais de uma)'] }}\\n\\n# Prompt para Análise Personalizada com ROI Detalhado via WhatsApp\\n\\n## Objetivo\\nGerar o texto de uma mensagem profissional para WhatsApp que apresente uma análise quantitativa focada exclusivamente na solução de IA específica escolhida pelo cliente, com cálculos de ROI detalhados. A saída final deve ser *apenas* a mensagem formatada, pronta para ser enviada.\\n\\n## Instruções\\n1.  Identifique qual solução o cliente escolheu com base na variável: {{ $('Edit Fields').item.json['Solução de interesse (Pode escolher mais de uma)'] }}\\n2.  Concentre toda a análise apenas na solução específica selecionada pelo cliente.\\n3.  Personalize os cálculos e projeções financeiras para essa solução específica.\\n4.  Mantenha um tom profissional mas conversacional (adequado para WhatsApp).\\n5.  Valores de investimento: R$5.000 (implementação) + R$1.500 (mensalidade mensal) = R$23.000/ano.\\n\\n## Estrutura da Mensagem (Siga esta estrutura EXATAMENTE)\\n\\n### Introdução\\n*   Saudação personalizada com nome do contato (Ex: \\\"Olá, [Nome]!\\\")\\n*   Referência direta à solução que o cliente demonstrou interesse\\n\\n### Situação Atual (Quantificada)\\n*   Calcule o custo atual baseado no volume de atendimento\\n*   Foque apenas nos aspectos relacionados à solução escolhida\\n*   Projete o custo anual mantendo o cenário atual sem a solução\\n\\n### Análise Detalhada da Solução Escolhida\\nCustomize a análise baseada na solução específica selecionada:\\n\\n#### SE escolheu \\\"Agente de Triagem\\\":\\n*   Calcule quanto tempo é gasto atualmente na qualificação de leads (em horas)\\n*   Demonstre a redução de 70% desse tempo e seu valor monetário\\n*   Calcule a economia de recursos humanos ou o aumento da capacidade de processamento de leads\\n*   Projete o número adicional de leads que podem ser processados com o mesmo time\\n\\n#### SE escolheu \\\"Agente de Suporte\\\":\\n*   Calcule o custo atual de suporte considerando horário comercial vs. 24/7\\n*   Demonstre a economia com automação de dúvidas frequentes\\n*   Calcule o valor do atendimento instantâneo vs. tempo de espera atual\\n*   Estime a melhoria na satisfação do cliente e redução de churn\\n\\n#### SE escolheu \\\"Agente de Conversão\\\":\\n*   Calcule a taxa atual de conversão e número de fechamentos\\n*   Projete o aumento de 40% e o impacto financeiro direto\\n*   Demonstre o valor adicional gerado mensalmente e anualmente\\n*   Calcule o aumento da receita baseado no ticket médio atual\\n\\n### Análise Financeira Completa\\n*   Demonstre o investimento total: R$5.000 + (R$1.500 × 12) = R$23.000/ano\\n*   Calcule o retorno total projetado em 12 meses com a solução específica\\n*   Apresente o ROI líquido (Retorno - Investimento)\\n*   Calcule o tempo para o \\\"break-even\\\" (quando o retorno paga o investimento)\\n\\n### Disclaimer/Alerta\\n*   Inclua um alerta que estes são números conservadores baseados em médias do setor\\n*   Enfatize que o retorno real pode ser significativamente maior, dependendo da operação específica do cliente\\n\\n### Próximos Passos\\n*   Ofereça uma demonstração personalizada focada na solução escolhida\\n*   Proponha uma reunião para aprofundar os cálculos com métricas internas mais precisas\\n\\n## Formato da Saída (Importante!)\\n*   **Sua resposta deve conter *unicamente* o texto da mensagem do WhatsApp, começando diretamente pela saudação (Ex: \\\"Olá, [Nome]!\\\").**\\n*   **Não adicione nenhuma introdução, explicação, comentário ou formatação externa (como negrito inicial ou a frase 'Mensagem WhatsApp:') antes ou depois da mensagem gerada.**\\n*   **Siga rigorosamente a estrutura de mensagem definida acima.**\"\n        }\n      ]\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3984,928],"id":"ec2b9ec6-93c6-45e4-8df0-e621ae104424","name":"Análise Prévia - Gemini"},{"parameters":{"content":"# Acesse o https://aistudio.google.com/\n\n# Prompt para Transformar Prompt Textual em JSON Otimizado para Gemini\n\n## Seu Papel\nVocê é um especialista em engenharia de prompts. Sua tarefa é pegar um prompt textual detalhado fornecido pelo usuário e transformá-lo em um formato JSON específico, otimizado para o Gemini, garantindo que a LLM que usar o prompt final gere *apenas* o texto de saída desejado, sem introduções ou comentários.\n\n## Instruções\n\n1.  **Receba o Prompt do Usuário:** O usuário fornecerá o prompt textual dele na seção designada abaixo.\n2.  **Analise a Estrutura:** Identifique as seções principais do prompt do usuário (Contexto, Objetivo, Instruções, Estrutura da Mensagem, Exemplos, etc.).\n3.  **Preserve o Conteúdo:** Mantenha todo o conteúdo e a estrutura lógica original do prompt do usuário.\n4.  **Adicione a Seção de Formato de Saída:** Ao final do conteúdo do prompt original do usuário, *antes* de fechar a string de texto no JSON, adicione a seguinte seção *exatamente* como está abaixo:\n\n    ```\n    ## Formato da Saída (Importante!)\n    *   **Sua resposta deve conter *unicamente* o texto da mensagem/saída final, começando diretamente pelo primeiro caractere esperado (Ex: \"Olá, [Nome]!\", ou o início do código, ou a primeira frase do texto).**\n    *   **Não adicione NENHUMA introdução, explicação, comentário, formatação externa (como negrito inicial ou frases como 'Aqui está:', 'Mensagem:', 'Código:', etc.) antes ou depois da saída solicitada.**\n    *   **Siga rigorosamente a estrutura de saída definida nas instruções ou exemplos acima.**\n    ```\n\n5.  **Encapsule em JSON:** Coloque todo o texto resultante (prompt original do usuário + a seção \"Formato da Saída\" adicionada) dentro da seguinte estrutura JSON:\n\n    ```json\n    {\n      \"contents\": [\n        {\n          \"parts\": [\n            {\n              \"text\": \"[AQUI VAI TODO O TEXTO DO PROMPT DO USUÁRIO + A SEÇÃO 'FORMATO DA SAÍDA']\"\n            }\n          ]\n        }\n      ]\n    }\n    ```\n    Certifique-se de que as aspas e caracteres especiais dentro do texto do prompt sejam devidamente escapados se necessário para formar um JSON válido (embora, para a estrutura `text`, geralmente não seja preciso escapar muito além de `\"` se estiver dentro da string).\n\n6.  **Saída Final:** Sua resposta deve ser *apenas* o bloco de código JSON completo e válido contendo o prompt transformado. Não inclua nenhuma outra explicação, saudação ou texto antes ou depois do JSON.\n\n## Cole aqui seu prompt estilo ChatGPT:{ }\n\n\n**Instrução Final para a LLM:** Execute as instruções acima, pegando o prompt da seção \"Cole aqui seu prompt estilo ChatGPT\" e gerando *apenas* o JSON resultante.","height":960,"width":1820},"type":"n8n-nodes-base.stickyNote","position":[3424,1728],"typeVersion":1,"id":"cc9126d9-3e5d-46e3-acf4-25933920fa9c","name":"Sticky Note22"},{"parameters":{"content":"# Acesse o https://aistudio.google.com/\n\n# Prompt para Transformar Prompt Textual em JSON para DeepSeek\n\n## Seu Papel\nVocê é um especialista em engenharia de prompts. Sua tarefa é pegar um prompt textual detalhado fornecido pelo usuário e transformá-lo em um formato JSON específico, adequado para ser usado com o modelo `deepseek-chat`. O objetivo é garantir que a LLM (`deepseek-chat`, neste caso) que receber o prompt final gere *apenas* o texto de saída desejado, sem introduções ou comentários.\n\n## Instruções\n\n1.  **Receba o Prompt do Usuário:** O usuário fornecerá o prompt textual dele na seção designada abaixo (\"Cole aqui seu prompt original...\").\n2.  **Adicione a Seção de Formato de Saída:** Pegue todo o texto do prompt do usuário e, ao final dele, adicione a seguinte seção *exatamente* como está abaixo:\n\n    ```\n    ## Formato da Saída (Importante!)\n    *   **Sua resposta deve conter *unicamente* o texto da mensagem/saída final, começando diretamente pelo primeiro caractere esperado (Ex: \"Olá, [Nome]!\", ou o início do código, ou a primeira frase do texto).**\n    *   **Não adicione NENHUMA introdução, explicação, comentário, formatação externa (como negrito inicial ou frases como 'Aqui está:', 'Mensagem:', 'Código:', etc.) antes ou depois da saída solicitada.**\n    *   **Siga rigorosamente a estrutura de saída definida nas instruções ou exemplos acima.**\n    ```\n\n3.  **Construa o JSON:** Crie a seguinte estrutura JSON:\n\n    ```json\n    {\n      \"model\": \"deepseek-chat\",\n      \"messages\": [\n        {\n          \"role\": \"system\",\n          \"content\": \"Você é um especialista em análise de serviços de IA generativa para empresas e negócios com proposta de aumentar produtividade e escala\"\n        },\n        {\n          \"role\": \"user\",\n          \"content\": \"[AQUI VAI O TEXTO COMPLETO DO PROMPT DO USUÁRIO + A SEÇÃO 'FORMATO DA SAÍDA']\"\n        }\n      ],\n      \"stream\": false\n    }\n    ```\n\n4.  **Insira o Conteúdo:** Coloque todo o texto resultante do Passo 2 (prompt original do usuário + a seção \"Formato da Saída\" adicionada) como o valor da chave `content` dentro do objeto que tem `\"role\": \"user\"`. Certifique-se de que quaisquer caracteres especiais dentro desse texto (como aspas `\"` ou barras invertidas `\\`) sejam devidamente escapados para formar um JSON válido. Por exemplo, uma aspa dupla `\"` dentro do texto deve se tornar `\\\"`.\n\n5.  **Saída Final:** Sua resposta deve ser *apenas* o bloco de código JSON completo e válido contendo o prompt transformado. Não inclua nenhuma outra explicação, saudação ou texto antes ou depois do JSON.\n\n## Cole aqui seu prompt estilo ChatGPT: { }\n\n**Instrução Final para a LLM:** Execute as instruções acima, pegando o prompt da seção \"Cole aqui seu prompt original\" e gerando *apenas* o JSON resultante no formato especificado para `deepseek-chat`.","height":960,"width":1820},"type":"n8n-nodes-base.stickyNote","position":[5312,1728],"typeVersion":1,"id":"a6ec0924-f826-48b5-90ca-3c15b256f346","name":"Sticky Note23"},{"parameters":{"method":"POST","url":"[REDACTED]","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer {cole api do DeeSeek aqui}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"deepseek-chat\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Você é um especialista em análise de serviços de IA generativa para empresas e negócios com proposta de aumentar produtividade e escala\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"# Contexto\\nEste é o perfil do meu cliente:\\nEmpresa: {{ $('Edit Fields').item.json['Nome da empresa'] }}\\nNome: {{ $('Edit Fields').item.json['Seu nome'] }}\\nWhatsApp: {{ $('Edit Fields').item.json['Qual seu WhatsApp?'] }}\\nSetor: {{ $('Edit Fields').item.json['Setor de atuação'] }}\\nPorte da empresa: {{ $('Edit Fields').item.json['Qual porte da empresa?'] }}\\nNível de urgência é: {{ $('Edit Fields').item.json['Qual nível de urgência precisa do serviço?'] }}\\nExperiência prévia: {{ $('Edit Fields').item.json['Já teve experiência com algum serviço de IA?'] }}\\nAs principais dificuldades são: {{ $('Edit Fields').item.json['Quais são os principais desafios de atendimento da sua empresa?'] }}\\nO volume de atendimento dele é: {{ $('Edit Fields').item.json['Volume de atendimento'] }}\\nO orçamento disponível dele é: {{ $('Edit Fields').item.json['Orçamento disponível para inserção do serviço de IA'] }}\\nA solução que ele deseja é: {{ $('Edit Fields').item.json['Solução de interesse (Pode escolher mais de uma)'] }}\\n\\n# Prompt para Análise Personalizada com ROI Detalhado via WhatsApp\\n\\n## Objetivo\\nGerar uma mensagem profissional para WhatsApp que apresente uma análise quantitativa focada exclusivamente na solução de IA específica escolhida pelo cliente, com cálculos de ROI detalhados.\\n\\n## Instruções\\n1. Identifique qual solução o cliente escolheu com base na variável: {{ $('Edit Fields').item.json['Solução de interesse (Pode escolher mais de uma)'] }}\\n2. Concentre toda a análise apenas na solução específica selecionada pelo cliente\\n3. Personalize os cálculos e projeções financeiras para essa solução específica\\n4. Mantenha um tom profissional mas conversacional (adequado para WhatsApp)\\n5. Valores de investimento: R$5.000 (implementação) + R$1.500 (mensalidade mensal) = R$23.000/ano\\n\\n## Estrutura da Mensagem\\n\\n### Introdução\\n- Saudação personalizada com nome do contato\\n- Referência direta à solução que o cliente demonstrou interesse\\n\\n### Situação Atual (Quantificada)\\n- Calcule o custo atual baseado no volume de atendimento\\n- Foque apenas nos aspectos relacionados à solução escolhida\\n- Projete o custo anual mantendo o cenário atual sem a solução\\n\\n### Análise Detalhada da Solução Escolhida\\nCustomize a análise baseada na solução específica selecionada:\\n\\n#### SE escolheu \\\"Agente de Triagem\\\":\\n- Calcule quanto tempo é gasto atualmente na qualificação de leads (em horas)\\n- Demonstre a redução de 70% desse tempo e seu valor monetário\\n- Calcule a economia de recursos humanos ou o aumento da capacidade de processamento de leads\\n- Projete o número adicional de leads que podem ser processados com o mesmo time\\n\\n#### SE escolheu \\\"Agente de Suporte\\\":\\n- Calcule o custo atual de suporte considerando horário comercial vs. 24/7\\n- Demonstre a economia com automação de dúvidas frequentes\\n- Calcule o valor do atendimento instantâneo vs. tempo de espera atual\\n- Estime a melhoria na satisfação do cliente e redução de churn\\n\\n#### SE escolheu \\\"Agente de Conversão\\\":\\n- Calcule a taxa atual de conversão e número de fechamentos\\n- Projete o aumento de 40% e o impacto financeiro direto\\n- Demonstre o valor adicional gerado mensalmente e anualmente\\n- Calcule o aumento da receita baseado no ticket médio atual\\n\\n### Análise Financeira Completa\\n- Demonstre o investimento total: R$5.000 + (R$1.500 × 12) = R$23.000/ano\\n- Calcule o retorno total projetado em 12 meses com a solução específica\\n- Apresente o ROI líquido (Retorno - Investimento)\\n- Calcule o tempo para o \\\"break-even\\\" (quando o retorno paga o investimento)\\n\\n### Disclaimer/Alerta\\n- Inclua um alerta que estes são números conservadores baseados em médias do setor\\n- Enfatize que o retorno real pode ser significativamente maior, dependendo da operação específica do cliente\\n\\n### Próximos Passos\\n- Ofereça uma demonstração personalizada focada na solução escolhida\\n- Proponha uma reunião para aprofundar os cálculos com métricas internas mais precisas\\n\\n## Exemplo de Saída para Agente de Triagem\\n```\\nOlá [Nome], tudo bem?\\n\\nAnalisei os dados da [Empresa] com foco no Agente de Triagem que você demonstrou interesse, considerando seu volume de [X] atendimentos diários.\\n\\nSITUAÇÃO ATUAL:\\n• Com [X] leads para qualificar diariamente, sua equipe investe aproximadamente [Y] horas nesse processo mensalmente\\n• Considerando o custo por hora de um profissional em [Setor], isso representa cerca de R$[Z] mensais apenas em qualificação\\n• Anualmente, isso soma R$[Z×12] investidos apenas neste processo\\n\\nPROJEÇÃO COM AGENTE DE TRIAGEM:\\n• Nossa solução reduz em até 70% o tempo de qualificação de leads\\n• Isso significa reduzir de [Y] para apenas [Y×0.3] horas mensais nessa atividade\\n• Sua equipe poderá processar [X÷0.3] leads com o mesmo esforço atual\\n• Economia direta: R$[Valor] mensais ou R$[Valor×12] anuais apenas em tempo de equipe\\n\\nANÁLISE FINANCEIRA:\\n• Investimento: R$5.000 (implementação) + R$1.500 (mensal) = R$23.000 no primeiro ano\\n• Economia projetada: R$[Valor calculado] no primeiro ano\\n• ROI líquido: R$[Retorno - 23.000]\\n• Tempo para break-even: [N] meses\\n\\n⚠️ IMPORTANTE: Estes números são baseados em projeções conservadoras. O retorno real pode ser significativamente maior dependendo da eficiência atual da sua operação de qualificação de leads.\\n\\nNa prática, o investimento de R$23.000 no primeiro ano se transforma em [múltiplo]× esse valor em economia operacional e aumento de capacidade.\\n\\nPodemos agendar 15 minutos para discutir como adaptar o Agente de Triagem especificamente para seu fluxo de qualificação?\\n```\\n\\nA mensagem deve ser personalizada de acordo com a solução específica escolhida pelo cliente, apresentando apenas os cálculos e benefícios relevantes para essa solução.\\n\\n## Formato da Saída (Importante!)\\n*   **Sua resposta deve conter *unicamente* o texto da mensagem/saída final, começando diretamente pelo primeiro caractere esperado (Ex: \\\"Olá, [Nome]!\\\", ou o início do código, ou a primeira frase do texto).**\\n*   **Não adicione NENHUMA introdução, explicação, comentário, formatação externa (como negrito inicial ou frases como 'Aqui está:', 'Mensagem:', 'Código:', etc.) antes ou depois da saída solicitada.**\\n*   **Siga rigorosamente a estrutura de saída definida nas instruções ou exemplos acima.**\"\n    }\n  ],\n  \"stream\": false\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3984,1248],"id":"5864ad37-e9a9-4fe4-84be-4293f16f5c4e","name":"Análise Prévia - DeepSeek"},{"parameters":{"assignments":{"assignments":[{"id":"5eb0746f-75f5-45f1-a22e-051867de1521","name":"id","value":"={{ $json.id }}","type":"string"},{"id":"6dbf5aa1-4659-4157-a897-de77beb5d206","name":"api","value":"{cole api aqui}","type":"string"},{"id":"a1a0dd16-5e59-4cc5-96bc-7dca1f3c2c49","name":"token","value":"{cole token aqui}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[592,640],"id":"5df5acab-6867-4fad-9c5a-0171f848f783","name":"Setar API e Token"},{"parameters":{"assignments":{"assignments":[{"id":"5eb0746f-75f5-45f1-a22e-051867de1521","name":"id","value":"={{ $json.id }}","type":"string"},{"id":"6dbf5aa1-4659-4157-a897-de77beb5d206","name":"api","value":"{cole api aqui}","type":"string"},{"id":"a1a0dd16-5e59-4cc5-96bc-7dca1f3c2c49","name":"token","value":"{cole token aqui}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[592,928],"id":"b0fb5316-851d-4686-b78a-002967641807","name":"Setar API e Token1"},{"parameters":{"assignments":{"assignments":[{"id":"5eb0746f-75f5-45f1-a22e-051867de1521","name":"id","value":"={{ $json.id }}","type":"string"},{"id":"6dbf5aa1-4659-4157-a897-de77beb5d206","name":"api","value":"{cole api aqui}","type":"string"},{"id":"a1a0dd16-5e59-4cc5-96bc-7dca1f3c2c49","name":"token","value":"{cole token aqui}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[592,1248],"id":"2d76704b-73c7-4462-883a-ef3fbf90e155","name":"Setar API e Token2"},{"parameters":{"content":"## 1. Chave de API\nhttps://platform.openai.com/api-keys\n\nGere e cole no node","width":260,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-896,1104],"typeVersion":1,"id":"5ce49e7d-4547-4afe-8b5c-7ed1fd403b82","name":"Sticky Note"},{"parameters":{"content":"## 3. Cole API e Token\n1. Cole sua API no campo: {cole a API aqui}\n\n2. Cole seu token no campo: {cole o token aqui}","height":940,"width":360,"color":3},"type":"n8n-nodes-base.stickyNote","position":[464,512],"typeVersion":1,"id":"7824accd-0a5f-43af-974c-78728c88eadc","name":"Sticky Note1"}],"connections":{"Formulario":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"IA Analista de Lead","type":"main","index":0}]]},"IA Analista de Lead":{"main":[[{"node":"Classificando Leads","type":"main","index":0}]]},"Classificando Leads":{"main":[[{"node":"Acesso ao Quadro","type":"main","index":0}]]},"Acesso ao Quadro":{"main":[[{"node":"Setar API e Token","type":"main","index":0}]]},"Acesso às Listas":{"main":[[{"node":"Criar Card no Trello","type":"main","index":0}]]},"Criar Card no Trello":{"main":[[{"node":"Criar Checklist no Card","type":"main","index":0}]]},"Criar Checklist no Card":{"main":[[{"node":"Criar Tarefa","type":"main","index":0}]]},"Criar Tarefa":{"main":[[{"node":"Criar Tarefa1","type":"main","index":0}]]},"Criar Tarefa1":{"main":[[{"node":"Criar Tarefa2","type":"main","index":0}]]},"Criar Tarefa2":{"main":[[{"node":"Criar Tarefa3","type":"main","index":0}]]},"Criar Tarefa3":{"main":[[{"node":"Criar Tarefa4","type":"main","index":0}]]},"Criar Tarefa4":{"main":[[{"node":"Criar Tarefa5","type":"main","index":0}]]},"Criar Tarefa5":{"main":[[{"node":"Criar Tarefa6","type":"main","index":0}]]},"Criar Tarefa6":{"main":[[{"node":"Criar Tarefa7","type":"main","index":0}]]},"Criar Tarefa7":{"main":[[{"node":"Criar Tarefa8","type":"main","index":0}]]},"Acesso ao Quadro1":{"main":[[{"node":"Setar API e Token1","type":"main","index":0}]]},"Acesso às Listas1":{"main":[[{"node":"Criar Card no Trello1","type":"main","index":0}]]},"Criar Card no Trello1":{"main":[[{"node":"Criar Checklist no Card1","type":"main","index":0}]]},"Criar Checklist no Card1":{"main":[[{"node":"Criar Tarefa9","type":"main","index":0}]]},"Criar Tarefa9":{"main":[[{"node":"Criar Tarefa10","type":"main","index":0}]]},"Criar Tarefa10":{"main":[[{"node":"Criar Tarefa11","type":"main","index":0}]]},"Criar Tarefa12":{"main":[[{"node":"Criar Tarefa13","type":"main","index":0}]]},"Criar Tarefa13":{"main":[[{"node":"Criar Tarefa14","type":"main","index":0}]]},"Criar Tarefa14":{"main":[[{"node":"Criar Tarefa15","type":"main","index":0}]]},"Criar Tarefa15":{"main":[[{"node":"Criar Tarefa16","type":"main","index":0}]]},"Criar Tarefa16":{"main":[[{"node":"Criar Tarefa17","type":"main","index":0}]]},"Criar Tarefa11":{"main":[[{"node":"Criar Tarefa12","type":"main","index":0}]]},"Acesso ao Quadro2":{"main":[[{"node":"Setar API e Token2","type":"main","index":0}]]},"Acesso às Listas2":{"main":[[{"node":"Criar Card no Trello2","type":"main","index":0}]]},"Criar Card no Trello2":{"main":[[{"node":"Criar Checklist no Card2","type":"main","index":0}]]},"Criar Tarefa18":{"main":[[{"node":"Criar Tarefa19","type":"main","index":0}]]},"Criar Tarefa19":{"main":[[{"node":"Criar Tarefa20","type":"main","index":0}]]},"Criar Tarefa20":{"main":[[{"node":"Criar Tarefa21","type":"main","index":0}]]},"Criar Tarefa21":{"main":[[{"node":"Criar Tarefa22","type":"main","index":0}]]},"Criar Tarefa22":{"main":[[{"node":"Criar Tarefa23","type":"main","index":0}]]},"Criar Tarefa23":{"main":[[{"node":"Criar Tarefa24","type":"main","index":0}]]},"Criar Tarefa24":{"main":[[{"node":"Criar Tarefa25","type":"main","index":0}]]},"Criar Tarefa25":{"main":[[{"node":"Criar Tarefa26","type":"main","index":0}]]},"Criar Checklist no Card2":{"main":[[{"node":"Criar Tarefa18","type":"main","index":0}]]},"Criar Tarefa8":{"main":[[{"node":"Análise Prévia - ChatGPT","type":"main","index":0}]]},"Criar Tarefa17":{"main":[[{"node":"Análise Prévia - Gemini","type":"main","index":0}]]},"Criar Tarefa26":{"main":[[{"node":"Análise Prévia - DeepSeek","type":"main","index":0}]]},"Análise Prévia - ChatGPT":{"main":[[{"node":"Análise WhatsApp","type":"main","index":0}]]},"Setar API e Token":{"main":[[{"node":"Acesso às Listas","type":"main","index":0}]]},"Setar API e Token1":{"main":[[{"node":"Acesso às Listas1","type":"main","index":0}]]},"Setar API e Token2":{"main":[[{"node":"Acesso às Listas2","type":"main","index":0}]]}}}