workflows/NOTIFICAÇÃO TRIAGEM v1_OkVO3LNvBxa5CfXa.json
{"createdAt":"2025-09-12T17:31:13.906Z","updatedAt":"2025-09-29T20:27:11.334Z","id":"OkVO3LNvBxa5CfXa","name":"NOTIFICAÇÃO TRIAGEM v1","active":false,"isArchived":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"16823a29-3071-4c5b-915a-269ecf8f4e18","leftValue":"={{ $json.Caminho }}","rightValue":"X CASTELO","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[352,-304],"id":"fe3b4845-f8fc-469f-8dfd-8398e0cea033","name":"If","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"181c6717-b2f2-4287-a437-07afff70cdbd","leftValue":"= {{ $json['Data Criação'] }}","rightValue":"={{ $now.toFormat('dd/MM/yyyy') }}","operator":{"type":"string","operation":"contains"}},{"id":"96474ed9-d7db-433a-b496-a8d625e72da8","leftValue":"={{$json['Data Modificação']}}","rightValue":"={{ $now.toFormat('dd/MM/yyyy') }}","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[80,-304],"id":"c1540589-208d-4d9e-b0db-14abd63573c2","name":"Verifica se é do dia atual","disabled":true},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"1412776659505119316","mode":"list","cachedResultName":"Desenvolvimento - Dep IA","cachedResultUrl":"https://discord.com/channels/1412776659505119316"},"channelId":{"__rl":true,"value":"1417832389589209170","mode":"list","cachedResultName":"teste-bot","cachedResultUrl":"https://discord.com/channels/1412776659505119316/1417832389589209170"},"content":"={{ $json.content }}","options":{"flags":["SUPPRESS_NOTIFICATIONS","SUPPRESS_EMBEDS"]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1344,16],"id":"3d18e7e0-6148-4b46-8b68-f1e3d3691ca8","name":"Envia a mensagem","webhookId":"16ae9620-96c4-4fe7-ade8-5acceb47e0e9","credentials":{"discordBotApi":{"id":"b3RHY2Z9JAZTOY8E","name":"Discord Bot - Notificação Triagem"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[960,16],"id":"51b9a4aa-b491-4e22-a4ea-caa300d38195","name":"Merge"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json['Data Criação'] }}","rightValue":"={{ $now.toFormat('dd/MM/yyyy') }}","operator":{"type":"string","operation":"contains"},"id":"916916bf-fd18-4953-90ec-779380516cac"}],"combinator":"and"},"renameOutput":true,"outputKey":"Adicionado"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"af2739d7-074a-4143-a92f-c7e39bde8c5e","leftValue":"={{$json['Data Modificação']}}","rightValue":"={{ $now.toFormat('dd/MM/yyyy') }}","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Modificado"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[496,16],"id":"82557f3a-691c-4b78-91ca-5cfc2972d0fb","name":"Switch add/mod","notesInFlow":true,"notes":"Verifica se a adição ou modificação foi feita naquele dia"},{"parameters":{"documentId":{"__rl":true,"value":"1160RATC80bli13YPXIKNn2ERPlKaWajFgcqnotbFB5A","mode":"list","cachedResultName":"[TESTE - TRIAGEM]","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1160RATC80bli13YPXIKNn2ERPlKaWajFgcqnotbFB5A/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"={{ $json.tab }}","mode":"name"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[160,16],"id":"e7d52b71-ffe1-49ae-8844-9d32ba7772a2","name":"Lê planilha","notesInFlow":true,"credentials":{"googleSheetsOAuth2Api":{"id":"ikCsPDocQe5HfNYt","name":"API GOOGLE - IAPESSOAS"}},"notes":"Lê todas as linhas da planilha"},{"parameters":{"assignments":{"assignments":[{"id":"7f88ba67-aa66-447f-b5da-c0c06afa038b","name":"tab","value":"={{ $now.toFormat('yyyy-MM') }}","type":"string"},{"id":"cd6227c2-cf13-4a9d-8377-b08f4be45db3","name":"len","value":"={{ $now.toFormat('yyyy-MM').length }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-48,16],"id":"4e94841d-f655-45dc-982a-e8518347def7","name":"Cria campo","notesInFlow":true,"notes":"Cria campos para comparação da data com o nome da planilha"},{"parameters":{"rule":{"interval":[{"triggerAtHour":22,"triggerAtMinute":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-224,16],"id":"cfae9c6e-aee2-40b7-b3ed-d98cc1026f7b","name":"Schedule Trigger"},{"parameters":{"assignments":{"assignments":[{"id":"191b63df-4dcd-4d11-9921-e7509cc37b22","name":"empresa","value":"={{ $json.Caminho\n   .replaceAll('X CASTELO', '')\n   .replaceAll('Tudo', '')\n   .trimEnd()\n   .trimStart()\n}}\n","type":"string"},{"id":"b2348cb2-e2e6-4fb9-9bef-94560e27dde4","name":"link","value":"=https://drive.google.com/drive/folders/{{ $json['ID da Pasta'] }}","type":"string"},{"id":"66f08488-54f7-424e-983b-9e41da4b8af2","name":"ultima_modificacao","value":"={{$json['Data Modificação']}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[736,128],"id":"f1ad5777-08a2-4b5d-b7b2-c95a415c2f8b","name":"Modificados","notesInFlow":true,"notes":"Adiciona campos de modificados para a mensagem"},{"parameters":{"assignments":{"assignments":[{"id":"191b63df-4dcd-4d11-9921-e7509cc37b22","name":"empresa","value":"={{ $json.Caminho\n   .replaceAll('X CASTELO', '')\n   .replaceAll('Tudo', '')\n   .trimEnd()\n   .trimStart()\n}}\n","type":"string"},{"id":"b2348cb2-e2e6-4fb9-9bef-94560e27dde4","name":"link","value":"=https://drive.google.com/drive/folders/{{ $json['ID da Pasta'] }}","type":"string"},{"id":"66f08488-54f7-424e-983b-9e41da4b8af2","name":"ultima_adicao","value":"={{ $json['Data Criação'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[736,-80],"id":"0ef2630d-1dab-4955-8ed1-3e5b57a5ae83","name":"Adicionados","notesInFlow":true,"notes":"Adiciona campo de adição para a mensagem "},{"parameters":{"jsCode":"const items = $input.all();\n\n// Estruturas para agrupamento\nlet adicionados = {};\nlet modificados = {};\n\n// Distribui os itens em adicionados ou modificados\nfor (const item of items) {\n  const empresa = item.json.empresa;\n  const link = item.json.link;\n  const ultimaAdicao = item.json.ultima_adicao;\n  const ultimaModificacao = item.json.ultima_modificacao;\n\n  if (ultimaAdicao && ultimaAdicao !== \"undefined\") {\n    if (!adicionados[empresa]) adicionados[empresa] = {};\n    adicionados[empresa][link] = ultimaAdicao;\n  }\n\n  if (ultimaModificacao && ultimaModificacao !== \"undefined\") {\n    if (!modificados[empresa]) modificados[empresa] = {};\n    modificados[empresa][link] = ultimaModificacao;\n  }\n}\n\n// Função para montar mensagem de uma categoria\nfunction montarMensagem(titulo, empresas) {\n  let mensagens = [];\n  let bloco = `**${titulo}**, <@&1412776735401054219>!\\n\\n`;\n\n  for (const [empresa, pastas] of Object.entries(empresas)) {\n    let linha = `\\n**${empresa}**\\n`;\n\n    for (const [link, data] of Object.entries(pastas)) {\n      linha += `📂 Pasta: ${link}\\n🕒 Data: ${data}\\n===================================================\\n`;\n    }\n\n    linha += \"\\n\";\n\n    if ((bloco + linha).length > 1900) {\n      mensagens.push(bloco);\n      bloco = linha;\n    } else {\n      bloco += linha;\n    }\n  }\n\n  if (bloco.trim()) {\n    mensagens.push(bloco);\n  }\n\n  return mensagens;\n}\n\n// Monta mensagens finais\nlet mensagens = [];\nif (Object.keys(adicionados).length) {\n  mensagens.push(...montarMensagem(\"📥 Novos arquivos adicionados\", adicionados));\n}\nif (Object.keys(modificados).length) {\n  mensagens.push(...montarMensagem(\"✏️ Arquivos modificados\", modificados));\n}\n\n// Retorna para o Discord\nreturn mensagens.map(m => ({ json: { content: m } }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1152,16],"id":"d0b231bf-f208-48ab-bb94-2f766c4d2bc7","name":"Set Message"}],"connections":{"If":{"main":[[],[]]},"Verifica se é do dia atual":{"main":[[],[]]},"Envia a mensagem":{"main":[[]]},"Merge":{"main":[[{"node":"Set Message","type":"main","index":0}]]},"Switch add/mod":{"main":[[{"node":"Adicionados","type":"main","index":0}],[{"node":"Modificados","type":"main","index":0}]]},"Lê planilha":{"main":[[{"node":"Switch add/mod","type":"main","index":0}]]},"Cria campo":{"main":[[{"node":"Lê planilha","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Cria campo","type":"main","index":0}]]},"Modificados":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Adicionados":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Set Message":{"main":[[{"node":"Envia a mensagem","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Google Drive Trigger":{"lastTimeChecked":"2025-09-16T20:14:07Z"},"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3478679a-eb32-48de-ba76-a597f8416f9a","triggerCount":1,"shared":[{"createdAt":"2025-09-12T17:31:13.906Z","updatedAt":"2025-09-12T17:31:13.906Z","role":"workflow:owner","workflowId":"OkVO3LNvBxa5CfXa","projectId":"g8BnYlos8HJUUVcr","project":{"createdAt":"2025-05-28T13:28:04.746Z","updatedAt":"2025-05-28T13:31:33.202Z","id":"g8BnYlos8HJUUVcr","name":"IA Pessoas <comercial@castelobrancocontabilidade.com.br>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-05-28T13:28:04.746Z","updatedAt":"2025-05-28T13:28:04.746Z","userId":"17ee4480-754a-4392-9fc2-a6bc3c46ebad","projectId":"g8BnYlos8HJUUVcr","user":{"createdAt":"2025-05-28T13:28:03.022Z","updatedAt":"2025-10-09T03:00:30.587Z","id":"17ee4480-754a-4392-9fc2-a6bc3c46ebad","email":"comercial@castelobrancocontabilidade.com.br","firstName":"IA","lastName":"Pessoas","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-05-28T13:31:41.717Z","personalization_survey_n8n_version":"1.94.1"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"fN5uSWvKRujKur6R","userActivatedAt":1757621781409,"npsSurvey":{"responded":true,"lastShownAt":1749478378830},"dismissedCallouts":{"preBuiltAgentsCalloutHttpRequest":true,"preBuiltAgentsCalloutGoogleDrive":true,"preBuiltAgentsModalCallout":true,"preBuiltAgentsCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-10-09","isPending":false}}]}}],"tags":[{"createdAt":"2025-06-05T19:11:47.772Z","updatedAt":"2025-06-05T19:11:47.772Z","id":"QxWPCrzStxcHudYm","name":"Johan"}]}