workflows/NOTIFICACAO_RENOMEADOS_copy_q19r3cYj32nGR0Fo.json
{"createdAt":"2025-10-15T18:00:33.791Z","id":"q19r3cYj32nGR0Fo","name":"NOTIFICACAO RENOMEADOS copy","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"id"}]}},"type":"[REDACTED]","typeVersion":1.1,"position":[-224,-16],"id":"3e6a053e-4b39-4616-a177-65cf4e249c1d","name":"When Executed by Another Workflow"},{"parameters":{"url":"[REDACTED]","authentication":"[REDACTED]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[832,0],"id":"c3480a1c-b08e-4101-bd3e-d68cc95253a7","name":"HTTP Request","onError":"[REDACTED]"},{"parameters":{"url":"=https://www.googleapis.com/drive/v3/files/{{ $json.parents ||  $('Concatena caminho').item.json.id}}?fields=id,name","authentication":"[REDACTED]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1328,-96],"id":"72f3c2a6-cf1c-4c33-8e8b-dd8c139f2e7f","name":"HTTP Request1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"83605b8d-538a-404b-a5bf-c438227ac143","leftValue":"={{ $json.name }}","rightValue":"X CASTELO","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1760,-96],"id":"b3c6ccef-ba7b-4095-ad06-8f0855e18e8f","name":"If"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4b7b334e-ce93-4ab5-ada7-9afc1d49113e","leftValue":"={{ $json.parents.map(item => item).toJsonString() }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1008,0],"id":"8c03348a-99aa-408c-8812-1c1464088a59","name":"If1"},{"parameters":{"jsCode":"let caminhoFinal = \"\";\n\ntry {\n  caminhoFinal = $('Preserva acumulado').item.json.caminho_acumulado || \"\";\n} catch (e) {\n  caminhoFinal = $json.caminho_acumulado || \"\";\n}\n\n// Divide o caminho e limpa espaços\nlet partes = caminhoFinal.split(\"/\").map(p => p.trim()).filter(Boolean);\n\n// Remove duplicatas consecutivas\nlet filtradas = [];\nfor (let i = 0; i < partes.length; i++) {\n  if (partes[i] !== partes[i - 1]) {\n    filtradas.push(partes[i]);\n  }\n}\n\n// Monta o resultado final\nreturn [\n  {\n    json: {\n      caminho_completo: filtradas.join(\"/\").replace(/\\/{2,}/g, \"/\")\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2288,16],"id":"bd35c2a6-bd3d-4b55-b031-35016aa69747","name":"Caminho completo"},{"parameters":{"jsCode":"// Garante que o array parents exista\n//const parentId = $json.id && $json.id.length > 0 ? $json.id[0] : null;\n\n// Se já existe caminho acumulado, adiciona o nome atual antes dele\nlet novoCaminho = \"\";\nif ($json.caminho_acumulado) {\n  novoCaminho = `${$json.name}/${$json.caminho_acumulado}`;\n} else {\n  novoCaminho = $json.name;\n}\n\n// Retorna o novo acumulado e o próximo ID (pasta pai)\nreturn [\n  {\n    json: {\n      caminho_acumulado: novoCaminho,\n      id: $json.id\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1952,112],"id":"0c992b58-4e9d-49c0-925e-27026c005bfd","name":"Concatena caminho"},{"parameters":{"jsCode":"let acumuladoAntigo = \"\";\ntry {\n  acumuladoAntigo = $('Concatena caminho').item.json.caminho_acumulado || \"\";\n} catch (e) {\n  acumuladoAntigo = \"\"; // primeira execução: não existe concatena\n}\n\nconst atual = $json.name || \"\";\n\nreturn [\n  {\n    json: {\n      ...$json,\n      caminho_acumulado: acumuladoAntigo\n        ? `${atual}/${acumuladoAntigo}`\n        : atual\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1536,-96],"id":"f0764277-a567-4449-bcd7-ace6e5a6daf5","name":"Preserva acumulado"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[416,-16],"id":"58b6d698-79c9-448f-8b51-74d858c83a53","name":"Loop Over Items"},{"parameters":{"compare":"selectedFields","fieldsToCompare":"caminho_completo","options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[2096,-336],"id":"793e28fe-267c-4208-b323-ce2897c92d05","name":"Remove Duplicates","onError":"[REDACTED]"},{"parameters":{"jsCode":"const items = $input.all();\n\n// Extrai todos os caminhos do nó anterior\nconst caminhos = items\n  .map(item => item.json.caminho_completo)\n  .filter(c => c && c.trim() !== \"\")\n  .map(c => `📂 ${c}`)\n  .join(\"\\n\");\n\n// Monta a mensagem final\nlet mensagem = `⚠️ **Atenção, <@&1412776735401054219>!**\\n\\nChegaram **novos documentos** nas pastas abaixo:\\n\\n${caminhos}\\n\\n=======================`;\n\n// Se não houver caminhos, envia mensagem neutra\nif (!caminhos.trim()) {\n  mensagem = \"✅ Nenhum novo documento foi encontrado no momento.\";\n}\n\n// Retorna mensagem única para o Discord\nreturn [{ json: { content: mensagem } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2320,-336],"id":"c7bc1f7f-5417-4438-abc3-d9ca3aaf9eb3","name":"Set Message"},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"1412776659505119316","mode":"list","cachedResultName":"Desenvolvimento - Dep IA","cachedResultUrl":"[REDACTED]"},"channelId":{"__rl":true,"value":"1417832389589209170","mode":"list","cachedResultName":"teste-bot","cachedResultUrl":"[REDACTED]"},"content":"={{ $json.content }}","options":{},"path":"c6c0aae0-e2a5-4703-b20c-a54f4c41d5ff"},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[2576,-336],"id":"700499a8-d326-4903-b9e0-ef6401031959","name":"Send a message","webhookId":"c6c0aae0-e2a5-4703-b20c-a54f4c41d5ff"},{"parameters":{"assignments":{"assignments":[{"id":"d5d6ab92-5328-45b9-a273-edc775f1af51","name":"primeiraExec","value":true,"type":"boolean"},{"id":"2a41de1f-70a9-4803-ae75-b1acf0b2a837","name":"caminho_completo","value":"={{ $json.caminho_completo }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2464,16],"id":"71a51efa-c84f-40ae-bd63-100ddf07e6b5","name":"Edit Fields"},{"parameters":{"assignments":{"assignments":[{"id":"9059f33a-ea94-4df3-96a4-72e0fca8cc01","name":"caminho_acumulado","value":"={{ $json.caminho_acumulado }}","type":"string"},{"id":"f1c0d501-9900-4fa8-9e2e-67e42c417425","name":"id","value":"={{ $json.id }}","type":"string"},{"id":"91e94cfc-fd0a-45d9-898a-8378c724c882","name":"primeiraExec","value":false,"type":"boolean"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2160,112],"id":"62b35bc3-b65c-46a9-a048-0f734efee90e","name":"Edit Fields1"},{"parameters":{"assignments":{"assignments":[{"id":"f6f6fe93-9d21-429a-ab1a-76e402b41143","name":"id","value":"={{ $json.id }}","type":"string"},{"id":"f64b1af9-9777-47ff-af6e-1fe43fc568e2","name":"primeiraExec","value":true,"type":"boolean"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[96,-16],"id":"2eda1150-8622-46ad-9556-80fc719d88c8","name":"Edit Fields2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"93298d24-da72-4fe0-a404-7994472e82f6","leftValue":"={{ $json.primeiraExec }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1856,-320],"id":"e39dda4c-baf5-4261-9f24-b87ac05cf4df","name":"If2"},{"parameters":{"jsCode":"// ======================================================\n// 🔹 Code (JavaScript) — comportamento refinado para recursão\n// ======================================================\n\n// Captura o valor de parents do HTTP atual\nconst parents = $json.parents ?? null;\n\n// Define padrão inicial\nlet primeiraExec = true;\n\n// ======================================================\n// 🧭 Lógica:\n// - Enquanto estiver em recursão (parents != null): usa Edit Fields1\n// - Quando chegar no último nível (parents == null):\n//     ainda devolve o valor de Edit Fields1,\n//     mas na próxima execução do loop (novo documento),\n//     o fluxo já virá com o valor do Loop Over Items\n// ======================================================\n\ntry {\n  if (parents && Array.isArray(parents) && parents.length > 0) {\n    // Ainda estamos subindo na recursão: valor vem do Edit Fields1\n    const temp = $item(0).$node[\"Edit Fields1\"].json.primeiraExec;\n    if (temp !== undefined && temp !== null) {\n      primeiraExec = temp;\n    }\n  } else {\n    // Última execução da recursão (parents == null)\n    // Mantém o valor atual do Edit Fields1, se disponível\n    try {\n      const tempEdit = $item(0).$node[\"Edit Fields1\"].json.primeiraExec;\n      if (tempEdit !== undefined && tempEdit !== null) {\n        primeiraExec = tempEdit;\n      }\n    } catch (e) {\n      // Se o Edit Fields1 ainda não foi executado, usa o valor do Loop\n      const tempLoop = $item(0).$node[\"Loop Over Items\"].json.primeiraExec;\n      if (tempLoop !== undefined && tempLoop !== null) {\n        primeiraExec = tempLoop;\n      }\n    }\n  }\n} catch (e) {\n  // Fallback geral — tenta pelo menos pegar do Loop\n  try {\n    const tempLoop = $item(0).$node[\"Loop Over Items\"].json.primeiraExec;\n    if (tempLoop !== undefined && tempLoop !== null) {\n      primeiraExec = tempLoop;\n    }\n  } catch (err) {}\n}\n\n// ======================================================\n// 🔁 Retorno final\n// ======================================================\nreturn [\n  {\n    json: {\n      primeiraExec,\n      parents,\n    },\n  },\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1008,-320],"id":"1ffc8d1a-8fc0-493b-800d-303e66a6abf1","name":"Code in JavaScript"},{"parameters":{"assignments":{"assignments":[{"id":"cb983064-ee70-48aa-bf38-de7a81faa3ff","name":"caminho_completo","value":"={{ $json.caminho_completo }}","type":"string"},{"id":"24d6639c-da91-4442-b89e-fed3a7019fcf","name":"ultimaExec","value":true,"type":"boolean"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1008,-160],"id":"67ad737b-9d9e-416b-bc50-774fd0d4b0ef","name":"Edit Fields3"},{"parameters":{"jsCode":"// ======================================================\n// 🔹 Code (JavaScript)\n// Objetivo: percorrer todos os itens retornados do nó anterior\n// e, quando encontrar `parents == null`, definir\n// `primeiraExec = true` no item seguinte.\n// ======================================================\n\nconst items = $input.all();  // pega todos os itens de entrada\nconst result = [];\n\n// percorre todos os itens\nfor (let i = 0; i < items.length; i++) {\n  const atual = { ...items[i].json }; // cópia do item atual\n\n  // se o item anterior teve parents == null, este deve reiniciar\n  if (i > 0) {\n    const anterior = items[i - 1].json;\n    if (anterior.parents === null || anterior.parents === undefined) {\n      atual.primeiraExec = true;\n    }\n  }\n\n  result.push({ json: atual });\n}\n\nreturn result;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1488,-400],"id":"25031794-d983-45b2-b918-5a57104aa933","name":"Code in JavaScript1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"79f45717-b3e8-4e4c-9d1f-dfea3eecab49","leftValue":"={{$json.ultimaExec}}","rightValue":"","operator":{"type":"boolean","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1200,-256],"id":"c04a4349-1e94-44c9-933a-8b77b3d9147d","name":"If3"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1680,-320],"id":"860cff88-e545-4dc9-b3ff-c57e89b0b712","name":"Merge"},{"parameters":{"compare":"selectedFields","fieldsToCompare":"caminho_completo","options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[1488,-240],"id":"da10e5ee-77e5-433d-b5c8-52758d5eecb3","name":"Remove Duplicates1","onError":"[REDACTED]"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"If1","type":"main","index":0},{"node":"Code in JavaScript","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Preserva acumulado","type":"main","index":0}]]},"If":{"main":[[{"node":"Caminho completo","type":"main","index":0}],[{"node":"Concatena caminho","type":"main","index":0}]]},"If1":{"main":[[{"node":"HTTP Request1","type":"main","index":0}],[{"node":"Caminho completo","type":"main","index":0}]]},"Concatena caminho":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Preserva acumulado":{"main":[[{"node":"If","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Edit Fields3","type":"main","index":0}],[{"node":"HTTP Request","type":"main","index":0}]]},"Caminho completo":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Remove Duplicates":{"main":[[{"node":"Set Message","type":"main","index":0}]]},"Set Message":{"main":[[]]},"Edit Fields":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"If2":{"main":[[{"node":"Remove Duplicates","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"If3","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"If3","type":"main","index":0}]]},"If3":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}],[{"node":"Remove Duplicates1","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"If2","type":"main","index":0}]]},"Remove Duplicates1":{"main":[[{"node":"Merge","type":"main","index":1}]]}}}