workflows/Notifica_Usuário_CFsUJnjV1qDyincg.json
{"createdAt":"2025-08-19T12:25:37.780Z","id":"CFsUJnjV1qDyincg","name":"Notifica Usuário","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-40,0],"id":"f0d13692-cb73-4b7e-9638-ef7d6399d81a","name":"verifica_a_cada_5_minutos"},{"parameters":{"operation":"getAll","tableId":"Appointments","matchType":"allFilters","filters":{"conditions":[{"keyName":"[REDACTED]","condition":"eq","keyValue":"[REDACTED]"},{"keyName":"[REDACTED]","condition":"eq","keyValue":"[REDACTED]"},{"keyName":"[REDACTED]","condition":"gte","keyValue":"[REDACTED]"},{"keyName":"[REDACTED]","condition":"gte","keyValue":"[REDACTED]"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[220,0],"id":"d5e15a7a-7123-4bc8-a3db-39e686da48ca","name":"pega_agendamentos_nao_notificados"},{"parameters":{"operation":"get","tableId":"Users","filters":{"conditions":[{"keyName":"[REDACTED]","keyValue":"[REDACTED]"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[440,0],"id":"bc24c1fd-49e6-41fc-8830-9ae901a5d68c","name":"pega_usuario"},{"parameters":{"resource":"messages-api","instanceName":"IAPessoas","remoteJid":"={{ $json.phone }}","messageText":"=Olá {{ $json.name }}. \n\nPassando para te lembrar que você tem uma consulta marcada às \n{{DateTime.fromISO($('pega_agendamentos_nao_notificados').item.json.start_date_time).toFormat(\"dd/MM/yyyy HH:mm\") }}.  Caso precise remarcar, me avise por aqui.","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[660,0],"id":"2c11d49c-458d-485c-9d59-99682ccee62a","name":"notifica_usuario_no_whatsapp"},{"parameters":{"operation":"update","tableId":"Appointments","filters":{"conditions":[{"keyName":"[REDACTED]","condition":"eq","keyValue":"[REDACTED]"}]},"fieldsUi":{"fieldValues":[{"fieldId":"notificated","fieldValue":"true"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[880,0],"id":"d626b184-68b2-4867-9ca5-fc3245f2d95f","name":"marca_como_notificado"}],"connections":{"verifica_a_cada_5_minutos":{"main":[[{"node":"pega_agendamentos_nao_notificados","type":"main","index":0}]]},"pega_agendamentos_nao_notificados":{"main":[[{"node":"pega_usuario","type":"main","index":0}]]},"pega_usuario":{"main":[[{"node":"notifica_usuario_no_whatsapp","type":"main","index":0}]]},"notifica_usuario_no_whatsapp":{"main":[[{"node":"marca_como_notificado","type":"main","index":0}]]}}}