workflows/PAGINACAO_DRIVE_SEARCH_KHP4wW9NdsxB6pTo.json
{"createdAt":"2025-10-09T18:10:56.187Z","id":"KHP4wW9NdsxB6pTo","name":"PAGINACAO DRIVE SEARCH","active":false,"isArchived":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"baf5cc61-f0a2-4c94-a834-b27a30d7f55f","leftValue":"={{ $json.nextPageToken }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"211e4eda-0bc8-4d6f-aaad-59422779eab6","name":"Continuar?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-464,112]},{"parameters":{"workflowInputs":{"values":[{"name":"nextPageToken"}]}},"type":"[REDACTED]","typeVersion":1.1,"position":[-928,112],"id":"97314f8c-b408-4f17-b942-d4d213f729d4","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"11e21546-29ad-4e71-8f87-dd88f3650635","name":"files","value":"={{ $json.files }}","type":"array"},{"id":"6638113d-033c-4dbb-a02c-0ac0f8c32d2a","name":"nextPageToken","value":"={{ $json.nextPageToken }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-224,32],"id":"a4b8be0a-8cf8-4237-895e-f98d236fa330","name":"Edit Fields"},{"parameters":{"assignments":{"assignments":[{"id":"ea285083-ce4f-44b1-a7d4-7ecb2c02a171","name":"files","value":"={{ $('Busca 1. Movimento').item.json.files }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-224,224],"id":"52dd783d-3ccb-4843-9109-221e9d98ba45","name":"Edit Fields1"},{"parameters":{"url":"https://www.googleapis.com/drive/v3/files","authentication":"[REDACTED]","sendQuery":true,"specifyQuery":"json","jsonQuery":"[REDACTED]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-704,112],"id":"211a86d8-ecfd-49da-bbd4-3a7c055e6cc4","name":"Busca 1. Movimento"},{"parameters":{"jsCode":"let files = $json.files;\n\n// Garante que \"files\" é um array\nif (typeof files === 'string') {\n  try {\n    files = JSON.parse(files);\n  } catch (e) {\n    throw new Error('Campo \"files\" não é JSON válido.');\n  }\n}\n\n// Pega o token de próxima página, se existir\nconst nextPageToken = $json.nextPageToken || null;\n\n// Retorna os arquivos como novos itens e mantém o token no contexto de cada um\nreturn files.map(f => ({\n  json: {\n    ...f,\n    nextPageToken\n  }\n}));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-16,128],"id":"1b3f8eda-9fe5-40f2-9c04-2d8d953c95b3","name":"Code in JavaScript"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Busca 1. Movimento","type":"main","index":0}]]},"Continuar?":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Edit Fields1","type":"main","index":0}]]},"Busca 1. Movimento":{"main":[[{"node":"Continuar?","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]}}}