workflows/Parcelamento_Supremo_ndSRYP7I8upRBs2i.json
{"createdAt":"2025-06-11T12:37:39.104Z","updatedAt":"2025-10-08T18:09:38.877Z","id":"ndSRYP7I8upRBs2i","name":"Parcelamento Supremo","active":true,"isArchived":false,"nodes":[{"parameters":{"jsonSchemaExample":"{\n   \"Nome da Empresa\":\"JTD TRANSPORTES LTDA - CNPJ: 18.805.360/0001-26\",\n   \"Modalidade de Parcelamento\":{\n      \"Receita Federal\":[\n         {\n            \"Tipo\":\"Parcelamento Simplificado\"\n         },\n         {\n            \"Tipo\":\"Parcelamento Simplificado\"\n         }\n      ],\n      \"PGFN\":[\n         {\n            \"Conta\":\"006710266\"\n         },\n         {\n            \"Conta\":\"500310266\"\n         }\n      ]\n   },\n  \"QuantidadeParcelamentoIRPF\": 2,\n  \"QuantidadeParcelamentoPGFN\": 2\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-2020,-240],"id":"07dec73a-008a-4ee4-8df3-8326f76d3f5e","name":"Structured Output Parser"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f8586f8f-69ae-4cf5-9e1a-14d86dbc636e","leftValue":"1","rightValue":"2","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3720,420],"id":"68f2023d-b76e-48aa-868d-a37c001d47e1","name":"If"},{"parameters":{"promptType":"define","text":"={{ $('Extract from File1').item.json.text }}","hasOutputParser":true,"messages":{"messageValues":[{"type":"=SystemMessagePromptTemplate","message":"={{ $json.PROMPT }}"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[-2180,-440],"id":"de9b8c9d-bf26-472b-a0d2-8f493cc72fb8","name":"Basic LLM Chain1"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[-1580,-140],"id":"a9fe7779-f88e-4029-9905-79442bd2f745","name":"Merge"},{"parameters":{"assignments":{"assignments":[{"id":"560d7123-c0a6-4f8f-8f55-47d2b010c8e1","name":"Nome de Empresa","value":"={{ $json.output[\"Nome da Empresa\"] }}","type":"string"},{"id":"60bbfa9c-38c5-4293-ba75-c4c0c7b8a92c","name":"QuantidadeParcelamentoIRPF","value":"={{ Number($json.output.QuantidadeParcelamentoIRPF) }}","type":"string"},{"id":"8ad490fd-9738-488e-9be4-5741559705cb","name":"QuantidadeParcelamentoPGFN","value":"={{ $json.output.QuantidadeParcelamentoPGFN }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1800,-340],"id":"b335d803-16c4-4e1e-a99a-e07c9217ee68","name":"Edit Fields2"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-1360,-140],"id":"68b84307-6b76-4f5b-8e11-a7e38491a85b","name":"Aggregate"},{"parameters":{"operation":"pdf","binaryPropertyName":"file","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-3500,-140],"id":"9ff427b4-2b02-446d-9db6-987e5d1a0b12","name":"Extract from File1"},{"parameters":{"httpMethod":"POST","path":"df719e10-dd6d-474a-8502-f6bec9836e4a","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-3720,-140],"id":"280a67b7-bf14-4d67-9cb5-f05837715579","name":"Webhook2","webhookId":"df719e10-dd6d-474a-8502-f6bec9836e4a"},{"parameters":{"resource":"spreadsheet","title":"=FISCAL {{ $now.format('yyyy-MM-dd')}}","options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-2680,200],"id":"93e37d6f-6fce-4e20-ba68-c68f8849c435","name":"CRIAR ARQUIVAS1","credentials":{"googleSheetsOAuth2Api":{"id":"ikCsPDocQe5HfNYt","name":"API GOOGLE"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5aab3eb2-4e81-479e-baeb-f6b9c0f410ce","leftValue":"={{ $json.name }}","rightValue":"=FISCAL {{ $now.format('yyyy-MM-dd')}}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2840,-140],"id":"6a6c5db3-da23-4120-8218-69ed29cc369e","name":"EXISTE?1"},{"parameters":{"resource":"fileFolder","queryString":"=FISCAL {{ $now.format('yyyy-MM-dd')}}","returnAll":true,"filter":{},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-3280,-140],"id":"30e46ace-5fa7-461c-b0f6-3a1617074872","name":"Google Drive1","alwaysOutputData":true,"credentials":{"googleDriveOAuth2Api":{"id":"rzP1eQCZan8TdHlL","name":"API IA PESSOAS"}}},{"parameters":{"assignments":{"assignments":[{"id":"9015e1b4-e317-4ee5-a392-694dea44afae","name":"PROMPT","value":"=# Persona\nVocê é um robô especializado na extração de dados a partir de arquivos PDF.\n\n## Objetivo\n1 - Sua função é ler o conteúdo do PDF com total atenção, analisando cuidadosamente todas as informações contidas no arquivo. Quero que extraia os seguintes tópicos.\n\n**Nome da Empresa**: Nome da Empresa e CNPJ\n\n**Modalidade de Parcelamento**: Existem apenas dois tipos de parcelamento: `Receita Federal`, `PGFN`.\n\n**Dividindo o parcelamento por modalidades**:\n\n1. IRPF: Tudo apartir de **Diagnóstico Fiscal na Receita Federal** pertence a modalidade IRPF.\n2. PGFN: Tudo apartir de **Diagnóstico Fiscal na Procuradoria-Geral da Fazenda Nacional** pertence a modalidade PFGN.\n\n**Localização dos parcelamentos dentro de suas modalidades:**\n\n0. **(Ambas modalidades)**: Aparece **Pendência - Parcelamento** ou **Parcelamento com Exigibilidade Suspensa** e logo apos uma lista com os parcelamentos, junto do tipo, e parcelas em atraso e valor em atraso se existir.\n1. PGFN: Sempre possue uma **Conta**.\n2. IRPF:\n   - Sempre possue um **Tipo**.\n\n## Casos de uso:\n> REGRA DA PROCURA DE PARCELAS: Aparece **Pendência - Parcelamento** ou **Parcelamento com Exigibilidade Suspensa** e logo apos uma lista com os parcelamentos,\n\n\n## Prompt Negativo:\n\n\n1. NUNCA COLETAR DADOS DAS SEÇÕES PARECIDAS COM: \n    - **Inscrição com Exigibilidade Suspensa**\n    - **Pendência - Débito**\n    \n\n### 1. CASO IRPF\n**Input APROXIMADO**:\n```\nParcelamento com Exigibilidade Suspensa\n________________________________________________________\nCNPJ: 45.244.211/0001-08 SIMPLES NACIONAL\n- EM PARCELAMENTO Pendência\n```\n\nOutput:\n```json\n{\n  \"Tipo\": \"SIMPLES NACIONAL\",\n}\n```\n\n### 2. CASO IRPF\n**Input APROXIMADO**:\n```\nParcelamento com Exigibilidade Suspensa\n________________________________________________________\nCNPJ: 45.244.211/0001-08\n\nParcelamento: 02110001200573530192516 Valor Suspenso: 1.738,01 Parcelamento Simplificado\nParcelamento: 02110001200573530192516 Valor Suspenso: 1.738,01 Parcelamento IIIb\n```\n\nOutput:\n```json\n{\n  \"Tipo\": \"SIMPLIFICADO\",\n  \"Tipo\": \"IIIb\",\n}\n```\n\n### 3. CASO PGFN\n**Input APROXIMADO**:\n```\nParcelamento com Exigibilidade Suspensa\n________________________________________________________________\nCNPJ: 14.293.425/0001-40\n\nConta 012463434 TRANSACAO POR ADESAO - EDITAL PGDAU N 06/2024\nModalidade: SIMPLES NACIONAL - ME/EPP - PEQUENO VALOR - REDUCAO ATE 50% - ATE 12 MESES\n012463595 PARCELAMENTO CONVENCIONAL\nModalidade: PARCELAMENTO SEM GARANTIA - SIMPLES NACIONA\n```\n\nOutput:\n```json\n\"PGFN\": [\n  {\n    \"Conta\": \"012463434\"\n  },\n  {\n    \"Conta\": \"012463595\"\n  }\n]\n```\n\n---\n\n**Exemplo de Formatação:**\n```json\n{\n   \"Nome da Empresa\":\"JTD TRANSPORTES LTDA - CNPJ: 18.805.360/0001-26\",\n   \"Modalidade de Parcelamento\":{\n      \"IRPF\":[\n         {\n            \"Tipo\":\"SIMPLIFICADO\"\n         },\n         {\n            \"Tipo\":\"SIMPLIFICADO\"\n         }\n      ],\n      \"PGFN\":[\n         {\n            \"Conta\":\"006710266\"\n         },\n         {\n            \"Conta\":\"500310266\"\n         }\n      ]\n   },\n  \"QuantidadeParcelamentoIRPF\": 2,\n  \"QuantidadeParcelamentoPGFN\": 2\n}\n```\n\n## REGRAS GLOBAIS:\n1 - Nunca crie nenhum dado, coloque os nomes que foram informados, não simplifique e nem crie.\n2 - Extraia com precisão todos os dados relevantes e retorne em JSON.\n3 - Releia novamente e confira os dados.\n\n\n\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2400,-140],"id":"2db8b76a-5986-4126-89a3-d6b257db5d34","name":"Edit Fields8"},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.3,"position":[-484,-140],"id":"53a85587-c3f4-4991-bf31-2b23722f6045","name":"Respond to Webhook1"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"={{ $('Google Drive1').item.json.id || $('CRIAR ARQUIVAS1').item.json.spreadsheetId }}","mode":"id"},"sheetName":{"__rl":true,"value":"Página1","mode":"name"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[{"id":"empresa","displayName":"empresa","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Qtd IRF","displayName":"Qtd IRF","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Qtd PGFN","displayName":"Qtd PGFN","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-780,-140],"id":"1176454a-8c9c-4e92-95a4-1531770b7108","name":"Google Sheets1","credentials":{"googleSheetsOAuth2Api":{"id":"ikCsPDocQe5HfNYt","name":"API GOOGLE"}}},{"parameters":{"assignments":{"assignments":[{"id":"6149a72c-0977-4acb-a619-6dcdf3b67388","name":"Empresa","value":"={{ $('Basic LLM Chain1').item.json.output['Nome da Empresa'] }}","type":"string"},{"id":"d13a7c1f-c6eb-45fb-aad9-0bc7e55dce7d","name":"CNPJ","value":"={{ $json.data[1].CNPJ }}","type":"string"},{"id":"8e3a3e19-1345-465b-9b82-89e8dedd9b69","name":"Qtd IRF","value":"={{ $json.data[0].QuantidadeParcelamentoIRPF }}","type":"string"},{"id":"516c64e5-b37c-4326-b9a4-2ddca706cbea","name":"Qtd PGFN","value":"={{ $json.data[0].QuantidadeParcelamentoPGFN }}","type":"string"},{"id":"03e84a33-e39c-4da6-bd55-677109d5395b","name":"Qtd P.Atraso","value":"={{ $json.data[1].QUANTIDADES_PARCELAS_EM_ATRASO }}","type":"string"},{"id":"72cc4b56-bfda-4a4d-a506-f0ddc5056c42","name":"V.Atraso","value":"={{ $json.data[1].VALOR_TOTAL_EM_ATRASO }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1080,-140],"id":"54b056b9-47fe-4f27-a9b5-285a3e80111f","name":"Edit Fields9"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-3060,-140],"id":"76ea63f2-ee99-4638-aa58-913f9f315814","name":"Limit"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{"temperature":0.4}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-2180,-240],"id":"6d6fe862-7cf2-4cbc-ba93-7f8d48dd050c","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"tt7ZuQiKAHQoVWEc","name":"API IA PESSOAS"}}},{"parameters":{"content":"0,4 TEMPERATURE\n","height":240,"width":340},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2220,-520],"id":"6f5f35f9-f02f-48d4-985b-ea54bd373318","name":"Sticky Note1"},{"parameters":{"promptType":"define","text":"={{ $('Extract from File1').item.json.text }}","hasOutputParser":true,"messages":{"messageValues":[{"type":"=SystemMessagePromptTemplate","message":"={{ $json.PROMPT }}"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[-2100,200],"id":"6af36258-8709-4aea-86ab-212099a04e04","name":"Basic LLM Chain2"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{"temperature":0.5}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-2100,420],"id":"5b5bbc4c-a090-49e2-8474-38c1cd07daff","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"tt7ZuQiKAHQoVWEc","name":"API IA PESSOAS"}}},{"parameters":{"content":"0,5 TEMPERATURE\n","height":240,"width":340},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2160,140],"id":"231bad18-386b-4bf0-a4e4-33b8eb3c24b3","name":"Sticky Note2"},{"parameters":{"jsonSchemaExample":"{\n  \"CNPJ\": \"18.805.360/0001-26\",\n  \"QUANTIDADES_PARCELAS_EM_ATRASO\": 27,\n  \"VALOR_TOTAL_EM_ATRASO\": 109379.79\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-1920,420],"id":"86c6683f-4847-4103-9d68-0c80e1cb0860","name":"Structured Output Parser1"},{"parameters":{"assignments":{"assignments":[{"id":"6bc79948-b0b8-4c3b-bd69-5e42cc9bf8bf","name":"CNPJ","value":"={{ $json.output.CNPJ }}","type":"string"},{"id":"8d90e434-3134-4d05-8628-428a946097c4","name":"QUANTIDADES_PARCELAS_EM_ATRASO","value":"={{ $json.output.QUANTIDADES_PARCELAS_EM_ATRASO }}","type":"string"},{"id":"1f25cad2-6240-4ef9-b1de-8dc7336b3b00","name":"VALOR_TOTAL_EM_ATRASO","value":"={{ $json.output.VALOR_TOTAL_EM_ATRASO }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1740,200],"id":"45779b9e-bf75-4333-8a00-3ee5ca20e3e9","name":"Edit Fields1"},{"parameters":{"assignments":{"assignments":[{"id":"9015e1b4-e317-4ee5-a392-694dea44afae","name":"PROMPT","value":"={\n  \"nodes\": [\n    {\n      \"parameters\": {\n        \"assignments\": {\n          \"assignments\": [\n            {\n              \"id\": \"9015e1b4-e317-4ee5-a392-694dea44afae\",\n              \"name\": \"PROMPT\",\n              \"value\": \"=# Persona\\nVocê é um robô especializado na extração de dados a partir de arquivos PDF.\\n\\n## Objetivo\\n1 - Sua função é ler o conteúdo do PDF com total atenção, analisando cuidadosamente todas as informações contidas no arquivo. Quero que extraia os seguintes tópicos.\\n\\n**Nome da Empresa**: Nome da Empresa e CNPJ\\n\\n**Modalidade de Parcelamento**: Existem apenas dois tipos de parcelamento: `Receita Federal`, `PGFN`.\\n\\n**Dividindo o parcelamento por modalidades**:\\n\\n1. IRPF: Tudo apartir de **Diagnóstico Fiscal na Receita Federal** pertence a modalidade IRPF.\\n2. PGFN: Tudo apartir de **Diagnóstico Fiscal na Procuradoria-Geral da Fazenda Nacional** pertence a modalidade PFGN.\\n\\n**Localização dos parcelamentos dentro de suas modalidades:**\\n\\n0. **(Ambas modalidades)**: Aparece **Pendência - Parcelamento** ou **Parcelamento com Exigibilidade Suspensa** e logo apos uma lista com os parcelamentos, junto do tipo, e parcelas em atraso e valor em atraso se existir.\\n1. PGFN: Sempre possue uma **Conta**.\\n2. IRPF:\\n   - Sempre possue um **Tipo**.\\n\\n## Casos de uso:\\n> REGRA DA PROCURA DE PARCELAS: Aparece **Pendência - Parcelamento** ou **Parcelamento com Exigibilidade Suspensa** e logo apos uma lista com os parcelamentos,\\n\\n\\n## Prompt Negativo:\\n\\n\\n1. NUNCA COLETAR DADOS DAS SEÇÕES PARECIDAS COM: \\n    - **Inscrição com Exigibilidade Suspensa**\\n    - **Pendência - Débito**\\n    \\n\\n### 1. CASO IRPF\\n**Input APROXIMADO**:\\n```\\nParcelamento com Exigibilidade Suspensa\\n________________________________________________________\\nCNPJ: 45.244.211/0001-08 SIMPLES NACIONAL\\n- EM PARCELAMENTO Pendência\\n```\\n\\nOutput:\\n```json\\n{\\n  \\\"Tipo\\\": \\\"SIMPLES NACIONAL\\\",\\n}\\n```\\n\\n### 2. CASO IRPF\\n**Input APROXIMADO**:\\n```\\nParcelamento com Exigibilidade Suspensa\\n________________________________________________________\\nCNPJ: 45.244.211/0001-08\\n\\nParcelamento: 02110001200573530192516 Valor Suspenso: 1.738,01 Parcelamento Simplificado\\nParcelamento: 02110001200573530192516 Valor Suspenso: 1.738,01 Parcelamento IIIb\\n```\\n\\nOutput:\\n```json\\n{\\n  \\\"Tipo\\\": \\\"SIMPLIFICADO\\\",\\n  \\\"Tipo\\\": \\\"IIIb\\\",\\n}\\n```\\n\\n### 3. CASO PGFN\\n**Input APROXIMADO**:\\n```\\nParcelamento com Exigibilidade Suspensa\\n________________________________________________________________\\nCNPJ: 14.293.425/0001-40\\n\\nConta 012463434 TRANSACAO POR ADESAO - EDITAL PGDAU N 06/2024\\nModalidade: SIMPLES NACIONAL - ME/EPP - PEQUENO VALOR - REDUCAO ATE 50% - ATE 12 MESES\\n012463595 PARCELAMENTO CONVENCIONAL\\nModalidade: PARCELAMENTO SEM GARANTIA - SIMPLES NACIONA\\n```\\n\\nOutput:\\n```json\\n\\\"PGFN\\\": [\\n  {\\n    \\\"Conta\\\": \\\"012463434\\\"\\n  },\\n  {\\n    \\\"Conta\\\": \\\"012463595\\\"\\n  }\\n]\\n```\\n\\n---\\n\\n**Exemplo de Formatação:**\\n```json\\n{\\n   \\\"Nome da Empresa\\\":\\\"JTD TRANSPORTES LTDA - CNPJ: 18.805.360/0001-26\\\",\\n   \\\"Modalidade de Parcelamento\\\":{\\n      \\\"IRPF\\\":[\\n         {\\n            \\\"Tipo\\\":\\\"SIMPLIFICADO\\\"\\n         },\\n         {\\n            \\\"Tipo\\\":\\\"SIMPLIFICADO\\\"\\n         }\\n      ],\\n      \\\"PGFN\\\":[\\n         {\\n            \\\"Conta\\\":\\\"006710266\\\"\\n         },\\n         {\\n            \\\"Conta\\\":\\\"500310266\\\"\\n         }\\n      ]\\n   },\\n  \\\"QuantidadeParcelamentoIRPF\\\": 2,\\n  \\\"QuantidadeParcelamentoPGFN\\\": 2\\n}\\n```\\n\\n## REGRAS GLOBAIS:\\n1 - Nunca crie nenhum dado, coloque os nomes que foram informados, não simplifique e nem crie.\\n2 - Extraia com precisão todos os dados relevantes e retorne em JSON.\\n3 - Releia novamente e confira os dados.\\n\\n\\n\\n\",\n              \"type\": \"string\"\n            }\n          ]\n        },\n        \"options\": {}\n      },\n      \"type\": \"n8n-nodes-base.set\",\n      \"typeVersion\": 3.4,\n      \"position\": [\n        -2400,\n        -140\n      ],\n      \"id\": \"2db8b76a-5986-4126-89a3-d6b257db5d34\",\n      \"name\": \"Edit Fields8\"\n    }\n  ],\n  \"connections\": {\n    \"Edit Fields8\": {\n      \"main\": [\n        []\n      ]\n    }\n  },\n  \"pinData\": {},\n  \"meta\": {\n    \"templateCredsSetupCompleted\": true,\n    \"instanceId\": \"ae6b7b28ace20b71032a7a26c3c00670419905ff8c225296de9e2cfab4fdb998\"\n  }\n}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2400,220],"id":"9ed42762-be5d-4b91-8830-9d4cd0e4414c","name":"Edit Fields"}],"connections":{"Structured Output Parser":{"ai_outputParser":[[{"node":"Basic LLM Chain1","type":"ai_outputParser","index":0}]]},"If":{"main":[[],[]]},"Basic LLM Chain1":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Edit Fields9","type":"main","index":0}]]},"Extract from File1":{"main":[[{"node":"Google Drive1","type":"main","index":0}]]},"Webhook2":{"main":[[{"node":"Extract from File1","type":"main","index":0}]]},"EXISTE?1":{"main":[[{"node":"Edit Fields8","type":"main","index":0},{"node":"Edit Fields","type":"main","index":0}],[{"node":"CRIAR ARQUIVAS1","type":"main","index":0}]]},"Google Drive1":{"main":[[{"node":"Limit","type":"main","index":0}]]},"CRIAR ARQUIVAS1":{"main":[[{"node":"Edit Fields8","type":"main","index":0},{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields8":{"main":[[{"node":"Basic LLM Chain1","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]},"Edit Fields9":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Limit":{"main":[[{"node":"EXISTE?1","type":"main","index":0}]]},"Respond to Webhook1":{"main":[[]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Basic LLM Chain1","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Basic LLM Chain2","type":"ai_languageModel","index":0}]]},"Basic LLM Chain2":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"Basic LLM Chain2","type":"ai_outputParser","index":0}]]},"Edit Fields1":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Edit Fields":{"main":[[{"node":"Basic LLM Chain2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"GJoEkByGgHbx83q5"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook2":[{"json":{"headers":{"host":"webhook.iapessoas.com.br","user-agent":"python-requests/2.32.4","content-length":"45011","accept":"*/*","accept-encoding":"gzip, br","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"2804:5e74:12a7:8900:2197:2c3c:2803:99c9","cf-ipcountry":"BR","cf-ray":"94ea0847f838a532-GRU","cf-visitor":"{\"scheme\":\"https\"}","content-type":"multipart/form-data; boundary=6acbdc2b43f3729e431ecf7c7af11f11","x-forwarded-for":"172.71.10.146","x-forwarded-host":"webhook.iapessoas.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"dbf0426a8fb2","x-real-ip":"172.71.10.146"},"params":{},"query":{},"body":{},"webhookUrl":"https://webhook.iapessoas.com.br/webhook/df719e10-dd6d-474a-8502-f6bec9836e4a","executionMode":"production"}}]},"versionId":"7655e48b-743e-4395-884e-d755dc90bf64","triggerCount":1,"shared":[{"createdAt":"2025-06-11T12:37:39.104Z","updatedAt":"2025-06-11T12:37:39.104Z","role":"workflow:owner","workflowId":"ndSRYP7I8upRBs2i","projectId":"g8BnYlos8HJUUVcr","project":{"createdAt":"2025-05-28T13:28:04.746Z","updatedAt":"2025-05-28T13:31:33.202Z","id":"g8BnYlos8HJUUVcr","name":"IA Pessoas <comercial@castelobrancocontabilidade.com.br>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-05-28T13:28:04.746Z","updatedAt":"2025-05-28T13:28:04.746Z","userId":"17ee4480-754a-4392-9fc2-a6bc3c46ebad","projectId":"g8BnYlos8HJUUVcr","user":{"createdAt":"2025-05-28T13:28:03.022Z","updatedAt":"2025-10-08T03:00:53.489Z","id":"17ee4480-754a-4392-9fc2-a6bc3c46ebad","email":"comercial@castelobrancocontabilidade.com.br","firstName":"IA","lastName":"Pessoas","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-05-28T13:31:41.717Z","personalization_survey_n8n_version":"1.94.1"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"fN5uSWvKRujKur6R","userActivatedAt":1757621781409,"npsSurvey":{"responded":true,"lastShownAt":1749478378830},"dismissedCallouts":{"preBuiltAgentsCalloutHttpRequest":true,"preBuiltAgentsCalloutGoogleDrive":true,"preBuiltAgentsModalCallout":true,"preBuiltAgentsCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-10-08","isPending":false}}]}}],"tags":[{"createdAt":"2025-05-28T13:35:47.754Z","updatedAt":"2025-05-28T13:35:47.754Z","id":"1DfavlTBWEW637E1","name":"Davi Araujo"},{"createdAt":"2025-05-28T13:36:25.076Z","updatedAt":"2025-05-28T13:36:25.076Z","id":"rHvdxJEHsbone3GI","name":"Gustavo Cristovam"},{"createdAt":"2025-05-28T13:42:26.381Z","updatedAt":"2025-05-28T13:42:26.381Z","id":"rIhzAmFU3vWFuUWG","name":"Regularize"},{"createdAt":"2025-05-28T13:42:36.788Z","updatedAt":"2025-05-28T13:42:36.788Z","id":"WAZjBah3dok1fH3o","name":"Lino Menezes"}]}