workflows/ParcelamentoV2_UBDWYKK1al3oAoEJ.json
{
  "createdAt": "2025-06-03T13:32:59.726Z",
  "id": "UBDWYKK1al3oAoEJ",
  "name": "ParcelamentoV2",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "file",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1700,
        -200
      ],
      "id": "c56272a3-0258-407c-8d6d-04881c46374f",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Extract from File').item.json.text }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "type": "[REDACTED]",
              "message": "[REDACTED]"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -820,
        -200
      ],
      "id": "77999a59-2f26-4300-be63-8e82a41db319",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lino",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1920,
        -200
      ],
      "id": "cc184f7c-961a-4d3f-89b2-f58c4f80742c",
      "name": "Webhook",
      "webhookId": "b73dc0b6-785a-4ae3-bf6f-e19ade91b4b3"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -800,
        40
      ],
      "id": "7b328810-b620-44d1-8dfc-4d689927d5cd",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "jsonSchemaExample": "[REDACTED]"
      },
      "type": "[REDACTED]",
      "typeVersion": 1.2,
      "position": [
        -680,
        40
      ],
      "id": "cde97bd7-c3ba-4b94-9d02-8ab560695758",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "respondWith": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        40,
        -240
      ],
      "id": "b97c1bf4-3940-49f0-9cba-c6fcf3a881b6",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "resource": "spreadsheet",
        "title": "=FISCAL {{ $now.format('yyyy-MM-dd')}}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -1040,
        -120
      ],
      "id": "5698d237-6968-4567-a4ee-176a64aa34d6",
      "name": "CRIAR ARQUIVAS"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5aab3eb2-4e81-479e-baeb-f6b9c0f410ce",
              "leftValue": "={{ $json.name }}",
              "rightValue": "=FISCAL {{ $now.format('yyyy-MM-dd')}}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1260,
        -200
      ],
      "id": "5ab68dce-ae39-4196-8dcc-681544b9de55",
      "name": "EXISTE?"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "=FISCAL {{ $now.format('yyyy-MM-dd')}}",
        "returnAll": true,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1480,
        -200
      ],
      "id": "c34de7dd-80cb-4818-b872-5beb69d8c593",
      "name": "Google Drive",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Google Drive').item.json.id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Página1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "empresa": "={{ $json.empresa }}",
            "Qtd IRF": "={{ $json['Qtd IRF'] }}",
            "Qtd PGFN": "={{ $json['Qtd PGFN'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "empresa",
              "displayName": "empresa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Qtd IRF",
              "displayName": "Qtd IRF",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Qtd PGFN",
              "displayName": "Qtd PGFN",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -180,
        -180
      ],
      "id": "8da56a5a-aad9-405c-99d4-608d8a4a7896",
      "name": "Google Sheets"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6149a72c-0977-4acb-a619-6dcdf3b67388",
              "name": "empresa",
              "value": "={{ $json.output['Nome da Empresa'] }}",
              "type": "string"
            },
            {
              "id": "8e3a3e19-1345-465b-9b82-89e8dedd9b69",
              "name": "Qtd IRF",
              "value": "[REDACTED]",
              "type": "string"
            },
            {
              "id": "516c64e5-b37c-4326-b9a4-2ddca706cbea",
              "name": "Qtd PGFN",
              "value": "[REDACTED]",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -460,
        -200
      ],
      "id": "ab6d0b57-1b2a-4d79-b9f0-807ca5740f00",
      "name": "Edit Fields"
    }
  ],
  "connections": {
    "Extract from File": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CRIAR ARQUIVAS": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EXISTE?": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CRIAR ARQUIVAS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "EXISTE?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "versionCounter": 1
}
