workflows/ParcelamentoV3_ho9IkvnvPE8DQMJd.json
{
  "createdAt": "2025-06-05T12:17:37.362Z",
  "id": "ho9IkvnvPE8DQMJd",
  "name": "ParcelamentoV3",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "file",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1880,
        -200
      ],
      "id": "8f796f6b-a990-4211-b511-62cc5cfd85a2",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Code').item.json.nomeEmpresa }}{{ $('Code').item.json.ReceitaFederal }}{{ $('Code').item.json.PGFN }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "type": "[REDACTED]",
              "message": "[REDACTED]"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -820,
        -200
      ],
      "id": "0878d56c-7040-47bf-8e2e-2ca4fc93c742",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "0db45118-3104-4e35-b3dd-08a45dfa2597",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2100,
        -200
      ],
      "id": "7a95c657-7597-49a0-a11d-98bb98b39d1e",
      "name": "Webhook",
      "webhookId": "0db45118-3104-4e35-b3dd-08a45dfa2597"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -800,
        40
      ],
      "id": "06db96f3-2a15-42e6-93c6-2623f0a2c0cb",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "jsonSchemaExample": "[REDACTED]"
      },
      "type": "[REDACTED]",
      "typeVersion": 1.2,
      "position": [
        -680,
        40
      ],
      "id": "b4d333a7-95bf-4746-b820-9e90bac0563b",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "respondWith": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        40,
        -240
      ],
      "id": "4c30f080-c726-4653-9023-4198b274993f",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "resource": "spreadsheet",
        "title": "=FISCAL {{ $now.format('yyyy-MM-dd')}}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -1040,
        -120
      ],
      "id": "c86366fa-e700-40a8-a395-ebe09f5e7d52",
      "name": "CRIAR ARQUIVAS"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5aab3eb2-4e81-479e-baeb-f6b9c0f410ce",
              "leftValue": "={{ $json.name }}",
              "rightValue": "=FISCAL {{ $now.format('yyyy-MM-dd')}}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1260,
        -200
      ],
      "id": "09676383-8d7d-402d-8d28-59fe6fb524e0",
      "name": "EXISTE?"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "=FISCAL {{ $now.format('yyyy-MM-dd')}}",
        "returnAll": true,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1480,
        -200
      ],
      "id": "992ccba8-35fc-490c-ba11-be259c15a944",
      "name": "Google Drive",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Google Drive').item.json.id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Página1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "empresa": "={{ $json.empresa }}",
            "Qtd IRF": "={{ $json['Qtd IRF'] }}",
            "Qtd PGFN": "={{ $json['Qtd PGFN'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "empresa",
              "displayName": "empresa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Qtd IRF",
              "displayName": "Qtd IRF",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Qtd PGFN",
              "displayName": "Qtd PGFN",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -180,
        -180
      ],
      "id": "83e64530-b4fd-43a8-ae4c-ba85b86f9594",
      "name": "Google Sheets"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6149a72c-0977-4acb-a619-6dcdf3b67388",
              "name": "empresa",
              "value": "={{ $json.output['Nome da Empresa'] }}",
              "type": "string"
            },
            {
              "id": "8e3a3e19-1345-465b-9b82-89e8dedd9b69",
              "name": "Qtd IRF",
              "value": "[REDACTED]",
              "type": "string"
            },
            {
              "id": "516c64e5-b37c-4326-b9a4-2ddca706cbea",
              "name": "Qtd PGFN",
              "value": "[REDACTED]",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -460,
        -200
      ],
      "id": "d2d4e8a1-75d5-430d-a979-25f0f32a8ba6",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "const textoBruto = $input.first().json.text;\n\n// 1. Limpeza básica\nlet textoLimpo = textoBruto\n  .replace(/\\n/g, ' ')\n  .replace(/\\s+/g, ' ')\n  .trim();\n\n// 2. Extrair nome da empresa e CNPJ\nconst empresaRegex = /CNPJ:\\s*([\\d.\\-\\/]+)\\s*-\\s*(.*?)\\s+Dados\\s+Cadastrais/i;\nconst empresaMatch = textoLimpo.match(empresaRegex);\n\nlet nomeEmpresa = 'NÃO ENCONTRADO';\nif (empresaMatch) {\n  nomeEmpresa = `${empresaMatch[2]} - CNPJ: ${empresaMatch[1]}`;\n}\n\n// 3. Blocos mais amplos\nconst diagnosticoRF = textoLimpo.match(/Diagnóstico Fiscal na Receita Federal(.*?)(Diagnóstico Fiscal na Procuradoria|Diagnóstico Fiscal na Procuradoria-Geral da Fazenda Nacional|Final do Relatório|$)/i);\nconst diagnosticoPGFN = textoLimpo.match(/Diagnóstico Fiscal na Procuradoria.*?Fazenda Nacional(.*?)(Final do Relatório|Página:|\\s*$)/i);\n\nconst blocoIRPF = diagnosticoRF ? diagnosticoRF[1].trim() : '';\nconst blocoPGFN = diagnosticoPGFN ? diagnosticoPGFN[1].trim() : '';\n\nreturn [\n  {\n    json: {\n      nomeEmpresa,\n      ReceitaFederal: blocoIRPF,\n      PGFN: blocoPGFN\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1680,
        -380
      ],
      "id": "485cfc33-31e4-4a17-89a1-144dc3770db4",
      "name": "Code"
    }
  ],
  "connections": {
    "Extract from File": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CRIAR ARQUIVAS": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EXISTE?": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CRIAR ARQUIVAS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "EXISTE?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "versionCounter": 1
}
