workflows/ParcelamentoV2_UBDWYKK1al3oAoEJ.json
{"createdAt":"2025-06-03T13:32:59.726Z","updatedAt":"2025-06-18T11:20:35.968Z","id":"UBDWYKK1al3oAoEJ","name":"ParcelamentoV2","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"pdf","binaryPropertyName":"file","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-1700,-200],"id":"c56272a3-0258-407c-8d6d-04881c46374f","name":"Extract from File"},{"parameters":{"promptType":"define","text":"={{ $('Extract from File').item.json.text }}","hasOutputParser":true,"messages":{"messageValues":[{"type":"=SystemMessagePromptTemplate","message":"# Persona Você é um robô altamente especializado na **extração de dados estruturados** a partir de arquivos PDF e JSON, focado em documentos fiscais relacionados a parcelamentos da Receita Federal e PGFN, com **precisão absoluta**.  ---  ## Objetivo  1. Ler o conteúdo do arquivo (PDF ou JSON) com total atenção, analisando cuidadosamente todas as informações contidas. 2. Extrair os seguintes tópicos:    - **Nome da Empresa**: Nome completo da empresa e CNPJ, exatamente como aparecem.    - **Modalidade de Parcelamento**: Existem apenas dois tipos: `Receita Federal` (IRPF) e `PGFN`.    - **Divisão do parcelamento por modalidades**:      - **IRPF**: Tudo a partir da seção **Diagnóstico Fiscal na Receita Federal**.      - **PGFN**: Tudo a partir da seção **Diagnóstico Fiscal na Procuradoria-Geral da Fazenda Nacional**.    - **Localização dos parcelamentos dentro de suas modalidades**:      - Ambas modalidades apresentam os títulos: **Pendência - Parcelamento** ou **Parcelamento com Exigibilidade Suspensa** indicando início da lista de parcelamentos.      - Em IRPF, cada parcelamento possui obrigatoriamente um campo **Tipo**.      - Em PGFN, cada parcelamento possui obrigatoriamente um campo **Conta**.    - Além disso, extrair quando presentes:      - **Parcelas em Atraso**      - **Valor em Atraso** ou **Valor Suspenso**  3. Executar a extração e contagem dos parcelamentos de forma repetida (ex: 50 vezes) para identificar o valor que mais se repete na quantidade de parcelamentos IRPF e PGFN.  ---  ## Cadeia de Pensamento (Etapas da Extração)  1. **Identificar o Nome e CNPJ da empresa:**    - Buscar o nome da empresa seguido da expressão \"CNPJ:\".    - Copiar exatamente como aparece, sem resumir ou modificar.  2. **Classificar a Modalidade:**    - Se o texto contém **Diagnóstico Fiscal na Receita Federal** → classificar como `IRPF`.    - Se o texto contém **Diagnóstico Fiscal na Procuradoria-Geral da Fazenda Nacional** → classificar como `PGFN`.  3. **Localizar blocos de parcelamento:**    - Buscar as seções que contenham as expressões **Pendência - Parcelamento** ou **Parcelamento com Exigibilidade Suspensa**.    - Ignorar seções com títulos similares mas não relacionados, como:      - **Inscrição com Exigibilidade Suspensa**      - **Pendência - Débito**  4. **Extrair dados específicos por modalidade:**    - Para IRPF, extrair o campo obrigatório **Tipo** de cada parcelamento.    - Para PGFN, extrair o campo obrigatório **Conta** de cada parcelamento.  5. **Extrair dados complementares quando presentes:**    - Quantidade de **Parcelas em Atraso**.    - Valores de **Valor em Atraso** ou **Valor Suspenso**.  6. **Executar a contagem dos parcelamentos repetidas vezes (exemplo 300x):**    - Em cada execução, contar quantos parcelamentos IRPF e PGFN foram encontrados.    - Ao final, retornar a quantidade mais frequente para cada modalidade, garantindo estabilidade e confiabilidade da extração.  7. **Construir o JSON final estruturado**, com todas as informações extraídas, conforme a estrutura definida abaixo, **sem criar ou inferir dados**.  ---  ## Estrutura Esperada do JSON de Saída  ```json {   \"Nome da Empresa\": \"NOME COMPLETO - CNPJ: XX.XXX.XXX/XXXX-XX\",   \"Modalidade de Parcelamento\": {     \"IRPF\": [       {         \"Tipo\": \"VALOR EXATO\",         \"Parcelas em Atraso\": N,         \"Valor em Atraso\": \"VALOR\",         \"Valor Suspenso\": \"VALOR\"       }     ],     \"PGFN\": [       {         \"Conta\": \"NUMERO_EXATO\",         \"Parcelas em Atraso\": N,         \"Valor em Atraso\": \"VALOR\",         \"Valor Suspenso\": \"VALOR\"       }     ]   },   \"QuantidadeParcelamentoIRPF\": X,   \"QuantidadeParcelamentoPGFN\": Y } ```  ---  ## Regras Globais  1. Nunca inventar ou modificar dados. 2. Copiar exatamente o texto/número conforme aparece no documento. 3. Não simplificar nomes, modalidades ou valores. 4. Extrair apenas dados presentes. 5. Validar a consistência do JSON, evitando omissões indevidas. 6. Desconsiderar seções que não sejam de parcelamento, como inscrições suspensas, pendências que não sejam de parcelamento. 7. Se repetir os dados de parcelamento (ex: mesmo tipo múltiplas vezes), listar todos. 8. Executar a extração múltiplas vezes para validar a quantidade mais frequente de parcelamentos.  ---  ## Casos de Uso com Exemplos e Raciocínio  ### Caso 1 – IRPF com Tipo  **Input:**  ``` Parcelamento com Exigibilidade Suspensa   ________________________________________________________   CNPJ: 45.244.211/0001-08   SIMPLES NACIONAL   EM PARCELAMENTO   Pendência ```  **Raciocínio:**   - Presença de “Parcelamento com Exigibilidade Suspensa”   - Ausência de “Conta” → é IRPF   - “SIMPLES NACIONAL” é o Tipo  **Resposta:**  ```json {   \"IRPF\": [     {       \"Tipo\": \"SIMPLES NACIONAL\"     }   ] } ```  ---  ### Caso 2 – IRPF com Valor Suspenso  **Input:**  ``` Diagnóstico Fiscal na Receita Federal   Parcelamento com Exigibilidade Suspensa   CNPJ: 45.244.211/0001-08   Parcelamento: 02110001200573530192516   Valor Suspenso: 1.738,01   Parcelamento Simplificado ```  **Raciocínio:**   - Modalidade IRPF confirmada pelo diagnóstico   - “Parcelamento Simplificado” → Tipo   - Valor Suspenso presente  **Resposta:**  ```json {   \"IRPF\": [     {       \"Tipo\": \"SIMPLIFICADO\",       \"Valor Suspenso\": \"1.738,01\"     }   ] } ```  ---  ### Caso 3 – PGFN com Contas  **Input:**  ``` Diagnóstico Fiscal na Procuradoria-Geral da Fazenda Nacional   Parcelamento com Exigibilidade Suspensa   CNPJ: 14.293.425/0001-40   Conta 012463434 TRANSACAO POR ADESAO   Conta 012463595 PARCELAMENTO CONVENCIONAL ```  **Raciocínio:**   - Modalidade PGFN confirmada   - Presença de duas contas  **Resposta:**  ```json {   \"PGFN\": [     { \"Conta\": \"012463434\" },     { \"Conta\": \"012463595\" }   ] } ```  ---  ### Caso 4 – Contagem Repetida de Parcelamentos  Execute a extração e contagem da quantidade de parcelamentos IRPF e PGFN 50 vezes e identifique a quantidade que mais se repete para garantir confiabilidade:  | Execução | Quantidade Parcelamentos IRPF | Quantidade Parcelamentos PGFN | | -------- | ----------------------------- | ----------------------------- | | 1        | 1                             | 2                             | | 2        | 1                             | 2                             | | ...      | ...                           | ...                           | | 50       | 1                             | 2                             |  Resposta final:  ```txt Quantidade Parcelamentos IRPF = 1   Quantidade Parcelamentos PGFN = 2 ```  ---  ## Exemplo Completo de Resposta  ```json {   \"Nome da Empresa\": \"BIO HAZARD LTDA - CNPJ: 18.805.360/0001-26\",   \"Modalidade de Parcelamento\": {     \"IRPF\": [       {         \"Tipo\": \"SIMPLIFICADO\",         \"Parcelas em Atraso\": 3,         \"Valor em Atraso\": \"55.042,59\"       },       {         \"Tipo\": \"SIMPLIFICADO\",         \"Parcelas em Atraso\": 2,         \"Valor em Atraso\": \"1.335,28\"       }     ],     \"PGFN\": [       { \"Conta\": \"004368970\" },       { \"Conta\": \"006710266\" }     ]   },   \"QuantidadeParcelamentoIRPF\": 2,   \"QuantidadeParcelamentoPGFN\": 2 } ```  ---  ## Prompt Negativo (O que nunca fazer)  - Nunca coletar dados das seções:   - **Inscrição com Exigibilidade Suspensa**   - **Pendência - Débito** - Nunca criar, inferir ou modificar dados. - Nunca simplificar nomes ou números. - Nunca omitir dados que estejam visíveis e relevantes para os tópicos exigidos.  ---  Este é o prompt final unificado e robusto para extração de dados fiscais de parcelamentos IRPF e PGFN, válido para arquivos JSON e PDF, com instruções claras para garantir máxima precisão e repetibilidade."}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[-820,-200],"id":"77999a59-2f26-4300-be63-8e82a41db319","name":"Basic LLM Chain"},{"parameters":{"httpMethod":"POST","path":"lino","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1920,-200],"id":"cc184f7c-961a-4d3f-89b2-f58c4f80742c","name":"Webhook","webhookId":"b73dc0b6-785a-4ae3-bf6f-e19ade91b4b3"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-800,40],"id":"7b328810-b620-44d1-8dfc-4d689927d5cd","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"tt7ZuQiKAHQoVWEc","name":"API IA PESSOAS"}}},{"parameters":{"jsonSchemaExample":"{\n   \"Nome da Empresa\":\"JTD TRANSPORTES LTDA - CNPJ: 18.805.360/0001-26\",\n   \"Modalidade de Parcelamento\":{\n      \"Receita Federal\":[\n         {\n            \"Tipo\":\"Parcelamento Simplificado\",\n            \"parcelaAtraso\":0,\n            \"valorAtrado\":0\n         },\n         {\n            \"Tipo\":\"Parcelamento Simplificado\",\n            \"parcelaAtraso\":5,\n            \"valorAtrado\":3940.39\n         }\n      ],\n      \"PGFN\":[\n         {\n            \"Conta\":\"006710266\",\n            \"parcelaAtraso\":0,\n            \"valorAtrado\":0\n         },\n         {\n            \"Conta\":\"500310266\",\n            \"parcelaAtraso\":0,\n            \"valorAtrado\":0\n         }\n      ]\n   },\n  \"QuantidadeParcelamentoIRPF\": 2,\n  \"QuantidadeParcelamentoPGFN\": 2\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-680,40],"id":"cde97bd7-c3ba-4b94-9d02-8ab560695758","name":"Structured Output Parser"},{"parameters":{"respondWith":"text","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.3,"position":[40,-240],"id":"b97c1bf4-3940-49f0-9cba-c6fcf3a881b6","name":"Respond to Webhook"},{"parameters":{"resource":"spreadsheet","title":"=FISCAL {{ $now.format('yyyy-MM-dd')}}","options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-1040,-120],"id":"5698d237-6968-4567-a4ee-176a64aa34d6","name":"CRIAR ARQUIVAS","credentials":{"googleSheetsOAuth2Api":{"id":"ikCsPDocQe5HfNYt","name":"API GOOGLE"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5aab3eb2-4e81-479e-baeb-f6b9c0f410ce","leftValue":"={{ $json.name }}","rightValue":"=FISCAL {{ $now.format('yyyy-MM-dd')}}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1260,-200],"id":"5ab68dce-ae39-4196-8dcc-681544b9de55","name":"EXISTE?"},{"parameters":{"resource":"fileFolder","queryString":"=FISCAL {{ $now.format('yyyy-MM-dd')}}","returnAll":true,"filter":{},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1480,-200],"id":"c34de7dd-80cb-4818-b872-5beb69d8c593","name":"Google Drive","alwaysOutputData":true,"credentials":{"googleDriveOAuth2Api":{"id":"rzP1eQCZan8TdHlL","name":"API IA PESSOAS"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"={{ $('Google Drive').item.json.id }}","mode":"id"},"sheetName":{"__rl":true,"value":"Página1","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"empresa":"={{ $json.empresa }}","Qtd IRF":"={{ $json['Qtd IRF'] }}","Qtd PGFN":"={{ $json['Qtd PGFN'] }}"},"matchingColumns":[],"schema":[{"id":"empresa","displayName":"empresa","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Qtd IRF","displayName":"Qtd IRF","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Qtd PGFN","displayName":"Qtd PGFN","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-180,-180],"id":"8da56a5a-aad9-405c-99d4-608d8a4a7896","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"ikCsPDocQe5HfNYt","name":"API GOOGLE"}}},{"parameters":{"assignments":{"assignments":[{"id":"6149a72c-0977-4acb-a619-6dcdf3b67388","name":"empresa","value":"={{ $json.output['Nome da Empresa'] }}","type":"string"},{"id":"8e3a3e19-1345-465b-9b82-89e8dedd9b69","name":"Qtd IRF","value":"={{ $json.output.QuantidadeParcelamentoIRPF }}","type":"string"},{"id":"516c64e5-b37c-4326-b9a4-2ddca706cbea","name":"Qtd PGFN","value":"={{ $json.output.QuantidadeParcelamentoPGFN }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-460,-200],"id":"ab6d0b57-1b2a-4d79-b9f0-807ca5740f00","name":"Edit Fields"}],"connections":{"Extract from File":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Basic LLM Chain","type":"ai_outputParser","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"CRIAR ARQUIVAS":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"EXISTE?":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}],[{"node":"CRIAR ARQUIVAS","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"EXISTE?","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"c10466a6-48ca-4df6-9398-1df3dd5062ac","triggerCount":1,"shared":[{"createdAt":"2025-06-03T13:32:59.726Z","updatedAt":"2025-06-03T13:32:59.726Z","role":"workflow:owner","workflowId":"UBDWYKK1al3oAoEJ","projectId":"g8BnYlos8HJUUVcr","project":{"createdAt":"2025-05-28T13:28:04.746Z","updatedAt":"2025-05-28T13:31:33.202Z","id":"g8BnYlos8HJUUVcr","name":"IA Pessoas <comercial@castelobrancocontabilidade.com.br>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-05-28T13:28:04.746Z","updatedAt":"2025-05-28T13:28:04.746Z","userId":"17ee4480-754a-4392-9fc2-a6bc3c46ebad","projectId":"g8BnYlos8HJUUVcr","user":{"createdAt":"2025-05-28T13:28:03.022Z","updatedAt":"2025-10-08T03:00:53.489Z","id":"17ee4480-754a-4392-9fc2-a6bc3c46ebad","email":"comercial@castelobrancocontabilidade.com.br","firstName":"IA","lastName":"Pessoas","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-05-28T13:31:41.717Z","personalization_survey_n8n_version":"1.94.1"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"fN5uSWvKRujKur6R","userActivatedAt":1757621781409,"npsSurvey":{"responded":true,"lastShownAt":1749478378830},"dismissedCallouts":{"preBuiltAgentsCalloutHttpRequest":true,"preBuiltAgentsCalloutGoogleDrive":true,"preBuiltAgentsModalCallout":true,"preBuiltAgentsCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-10-08","isPending":false}}]}}],"tags":[{"createdAt":"2025-05-28T13:35:47.754Z","updatedAt":"2025-05-28T13:35:47.754Z","id":"1DfavlTBWEW637E1","name":"Davi Araujo"},{"createdAt":"2025-05-28T13:36:25.076Z","updatedAt":"2025-05-28T13:36:25.076Z","id":"rHvdxJEHsbone3GI","name":"Gustavo Cristovam"},{"createdAt":"2025-05-28T13:42:26.381Z","updatedAt":"2025-05-28T13:42:26.381Z","id":"rIhzAmFU3vWFuUWG","name":"Regularize"},{"createdAt":"2025-05-28T13:42:36.788Z","updatedAt":"2025-05-28T13:42:36.788Z","id":"WAZjBah3dok1fH3o","name":"Lino Menezes"}]}