workflows/pdf_para_texto_hQws9w8wbOp4Zaxd.json
{"createdAt":"2025-09-18T17:11:28.332Z","id":"hQws9w8wbOp4Zaxd","name":"pdf_para_texto","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"message_id"},{"name":"instance"},{"name":"numero"}]}},"type":"[REDACTED]","typeVersion":1.1,"position":[-208,-16],"id":"ead063ad-7bde-4376-9ee3-861e47db213f","name":"Start"},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"={{ $json.instance }}","messageId":"={{ $json.message_id }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[48,-16],"id":"3a554dd0-025f-4352-a26c-a7def19c8daf","name":"Obter m dia em base64"},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[256,-16],"id":"29adeef3-6e83-4b5a-8ffa-6fdaf3cb148f","name":"Convert to File"},{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[432,-16],"id":"8a03f8bf-a90f-4bb1-8cbe-090f5d6baadb","name":"Extrair texto"},{"parameters":{"assignments":{"assignments":[{"id":"995664ec-26a0-4c90-b8ae-a31c1b3950a8","name":"mensagem","value":"={{ $json.text }}","type":"string"},{"id":"98be00a7-1d6f-49d6-86cd-714e4fa68777","name":"numero","value":"={{ $('Start').item.json.numero }}","type":"string"},{"id":"543181a5-8464-4902-99cb-91240b682d04","name":"id","value":"={{ $('Start').item.json.message_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[640,-16],"id":"2ecd9d28-f472-46d0-99e8-754444d6da93","name":"response"}],"connections":{"Obter m dia em base64":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Extrair texto","type":"main","index":0}]]},"Start":{"main":[[{"node":"Obter m dia em base64","type":"main","index":0}]]},"Extrair texto":{"main":[[{"node":"response","type":"main","index":0}]]}}}