workflows/Principal_[IAConsultas]_kMJNfFX5h6jQi3GD.json
{"createdAt":"2025-08-08T11:44:37.387Z","updatedAt":"2025-09-19T11:40:43.959Z","id":"kMJNfFX5h6jQi3GD","name":"Principal [IAConsultas]","active":false,"isArchived":false,"nodes":[{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[656,672],"id":"324ddb4a-f529-451c-aadb-2e7d7cfd9447","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"Xbn3th2PsGCRkOUs","name":"CHAVE TESTE C MARINHO"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('entrada_formatada').item.json.phone }}","contextWindowLength":25},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[800,672],"id":"34ea2301-a0d9-4af1-97b9-68284ca4eacf","name":"Simple Memory"},{"parameters":{"promptType":"define","text":"=Você é uma IA especializada em agendamentos da IAPessoas. Sua missão é atender o usuário do sistema de forma cordial, guiada e eficiente, respeitando as regras do sistema e o papel de acesso do interlocutor.\n\n---\n\nPapel do usuário: {{\n  $('pega_profissional').first().json[\"id\"]\n    ? ($('pega_profissional').first().json.is_admin === true ? 'admin' : 'profissional')\n    : 'cliente'\n}}\n\n{{ $('pega_usuario').isExecuted && $('pega_usuario').first().json ? 'Dados do usuário:\\\\n' + JSON.stringify($('pega_usuario').first().json) : '' }}\n\n{{ $('pega_profissional').first().json ? 'Dados do profissional:\\\\n' + JSON.stringify($('pega_profissional').first().json) : '' }}\n\n---\n\nComportamento por papel\n\nSe papel = admin:\n- Pode gerenciar agendamentos, usuários, profissionais e serviços\n- Pode analisar dados e usar qualquer ferramenta\n\nSe papel = profissional:\n- Pode visualizar seus agendamentos (use a função pega_agendamentos_do_profissional)\n- Consultar disponibilidade e serviços\n- Criar ou cancelar agendamentos onde ele seja o profissional\n\nSe papel = cliente:\n- Pode apenas criar e cancelar seus próprios agendamentos\n- Pode consultar disponibilidade e serviços\n- Nunca deve acessar dados de outros usuários\n- Nunca deve acionar tools como agente_db_admin ou qualquer função administrativa\n\n---\n\nVerificação de cadastro\n\nAntes de criar ou cancelar agendamentos:\n- Verifique se o usuário está cadastrado (via pega_usuario)\n- Se não estiver:\n  - Para criar agendamento: solicite nome, telefone e e-mail, depois use criar_usuario\n  - Para cancelar: diga “Você ainda não possui nenhum agendamento ativo para ser cancelado” e finalize\n\n---\n\nInício da conversa\n\nCumprimente o usuário pelo primeiro nome (se disponível). Explique brevemente as funcionalidades disponíveis, com base no papel identificado:\n- admin: acesso total\n- profissional: foco em seus atendimentos\n- cliente: foco em criar/cancelar suas próprias consultas\n\n---\n\nFluxo para criação de agendamento\n\n1. Pergunte se o usuário quer escolher por serviço ou profissional\n2. Se escolher serviço:\n   - Liste serviços ativos\n   - Depois, profissionais que atendem esse serviço\n3. Se escolher profissional:\n   - Liste profissionais ativos\n   - Depois, serviços realizados por ele\n4. Solicite data e horário desejado (formato livre)\n5. Verifique disponibilidade\n6. Se indisponível, ofereça sugestões próximas\n7. Antes de criar, confirme cadastro\n8. Apresente resumo antes da confirmação\n\n---\n\nRegras gerais\n\n- Nunca solicite IDs manualmente\n- Apenas cliente pode mexer em seus próprios dados\n- Permita atualização de agendamento se houver confirmação\n- Respeite o escopo de acesso conforme o papel\n\n---\n\nEsquema de dados\n\nAppointments:\nid, created_at, user_id, service_id, start_date_time, end_date_time, status, calendar_event_id, notification_date_time, notificated, professional_id, notes\n\nProfessionalServices:\nid, professional_id, service_id\n\nProfessionals:\nid, name, email, phone, is_admin, description, expertise, active\n\nServices:\nid, name, description, duration_minutes, active\n\nUsers:\nid, name, phone, email\n\n---\n\nTools disponíveis\n\n- criar_usuario, criar_agendamento, cancelar_agendamento, consulta_disponibilidade\n- pega_usuario_com_agendamentos, pega_profissionais_com_servicos, pega_agendamentos_do_profissional\n- (Somente admin) agente_db_admin\n\n---\n\nContexto da interação\n\n- Mensagem: {{ $('entrada_formatada').item.json.message }}\n- Telefone: {{ $('entrada_formatada').item.json.phone }}\n- Data/hora atual: {{ $now }}\n- Timezone: América/São_Paulo\n","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[992,432],"id":"51b18b68-acf0-4a1c-afac-4ae846632ecd","name":"Agente assistente de agendamento"},{"parameters":{"operation":"get","tableId":"Professionals","filters":{"conditions":[{"keyName":"phone","keyValue":"={{ $json.phone }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[80,448],"id":"318176f9-ae04-4e5c-b40a-3e9cebe709df","name":"pega_profissional","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"YXkD4rzxC3ARktn0","name":"Supabase IAPessoasAgenteConsulta"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d8166451-df23-4d2c-ac53-4bc77ba26c06","leftValue":"={{ !!$json.id }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[304,448],"id":"b1a7d927-504d-4bef-935e-496bd2785b35","name":"é_profissional?"},{"parameters":{"operation":"get","tableId":"Users","filters":{"conditions":[{"keyName":"phone","keyValue":"={{ $('entrada_formatada').item.json.phone }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[656,464],"id":"20408a60-42b6-4e5d-b15e-3a436ff65aa8","name":"pega_usuario","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"YXkD4rzxC3ARktn0","name":"Supabase IAPessoasAgenteConsulta"}}},{"parameters":{"toolDescription":"Pega:\n- dados do usuário\n- seus agendamentos\n","url":"=https://knpgytkgliehtbpohixd.supabase.co/rest/v1/Users?phone=eq.{{ $('entrada_formatada').item.json.phone }}&select=id,name,phone,Appointments(id,start_date_time,end_date_time,status,Services(name),Professionals(name))&Appointments.start_date_time=gt.{{ $now.toString() }}\n\n\n\n","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[960,672],"id":"3c9c4e97-8d4c-4c9c-9fa6-120bdb66d12f","name":"pega_usuario_com_agendamentos","credentials":{"supabaseApi":{"id":"YXkD4rzxC3ARktn0","name":"Supabase IAPessoasAgenteConsulta"}}},{"parameters":{"assignments":{"assignments":[{"id":"fbb2bd53-b3a8-4d8e-9fa4-249c5dccff65","name":"message","value":"={{ $json.message.text }}","type":"string"},{"id":"f3088102-4730-48ec-8e56-503fef440a3d","name":"phone","value":"7786085892","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-96,448],"id":"aa7b7df5-3e84-4eb7-84e0-0a28760273bd","name":"entrada_formatada"},{"parameters":{"toolDescription":"Pega:\n- dados dos profissionais\n- dados dos serviços","url":"=https://knpgytkgliehtbpohixd.supabase.co/rest/v1/Professionals?active=eq.true&select=id,name,email,phone,description,expertise,ProfessionalServices(service:Services(id,name,duration_minutes))","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[1136,672],"id":"6283c7bc-1f7a-4db4-ae61-36582e321e5b","name":"pega_profissionais_com_servicos","credentials":{"supabaseApi":{"id":"YXkD4rzxC3ARktn0","name":"Supabase IAPessoasAgenteConsulta"}}},{"parameters":{"toolDescription":"Cria novo usuário no sistema com:\n- nome\n- telefone\n- e-mail","method":"POST","url":"https://knpgytkgliehtbpohixd.supabase.co/rest/v1/Users?on_conflict=phone","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"},{"name":"phone","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', ``, 'string') }}"},{"name":"email","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', ``, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[1296,672],"id":"839a5f5b-6fa8-49ff-bb5b-0bab9c3882fb","name":"cria_usuario","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"YXkD4rzxC3ARktn0","name":"Supabase IAPessoasAgenteConsulta"}}},{"parameters":{"toolDescription":"Pega:\n- futuros agendamentos do profissional\n","url":"=https://knpgytkgliehtbpohixd.supabase.co/rest/v1/Professionals?id=eq.{{ $('pega_profissional').first().json.id }}&select=id,name,Appointments(start_date_time,end_date_time,status,Users(name),Services(name))&Appointments.start_date_time=gt.{{ $now.toString() }}","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[1440,672],"id":"c286b4ab-71cd-4bc6-98a0-ec8d1d0dbafb","name":"pega_agendamentos_do_profissional","credentials":{"supabaseApi":{"id":"YXkD4rzxC3ARktn0","name":"Supabase IAPessoasAgenteConsulta"}}},{"parameters":{"description":"Função principal para criar agendamento","workflowId":{"__rl":true,"value":"ZKzuWwwv0sEwEnlT","mode":"list","cachedResultName":"criar_agendamento"},"workflowInputs":{"mappingMode":"defineBelow","value":{"user_phone":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('user_phone', ``, 'string') }}","start_date_time":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('start_date_time', `timestamptz\n* Timezone São Paulo\n`, 'string') }}","end_date_time":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('end_date_time', `timestamptz\n* Timezone São Paulo\n`, 'string') }}","professional_id":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('professional_id', `UUID do profissional `, 'string') }}","service_id":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('service_id', `UUID do serviço`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"user_phone","displayName":"user_phone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"start_date_time","displayName":"start_date_time","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"end_date_time","displayName":"end_date_time","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"professional_id","displayName":"professional_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"service_id","displayName":"service_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1776,672],"id":"22d28107-2248-42dc-bbeb-deacd21bf79f","name":"criar_agendamento"},{"parameters":{"description":"Chame essa função quando for cancelar um agendamento.\nPara cancelar, busque e use o ID do agendamento","workflowId":{"__rl":true,"value":"rJ0iIfdWHdgiiTHq","mode":"list","cachedResultName":"cancelar_agendamento"},"workflowInputs":{"mappingMode":"defineBelow","value":{"appointment_id":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('appointment_id', `ID do agendamento`, 'string') }}"},"matchingColumns":["appointment_id"],"schema":[{"id":"appointment_id","displayName":"appointment_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1952,672],"id":"03775a63-7e27-4ade-ad0c-9af485625b75","name":"cancelar_agendamento"},{"parameters":{"description":"IA especializada em consultar, criar, atualizar ou remover dados do banco.\nExemplos de uso:\n- Ver profissionais ativos e seus serviços\n- Atualizar informações de um profissional\n- Criar novos serviços ou agendamentos\n- Remover registros quando necessário","workflowId":{"__rl":true,"value":"sMp9fq5pHs7ifE0e","mode":"list","cachedResultName":"agente_db_admin"},"workflowInputs":{"mappingMode":"defineBelow","value":{"is_admin":"={{ $('pega_profissional').all().length > 0 && $('pega_profissional').first().json.is_admin === true }}","prompt":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('prompt', ``, 'string') }}","phone":"={{ $('entrada_formatada').item.json.phone }}"},"matchingColumns":[],"schema":[{"id":"prompt","displayName":"prompt","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"is_admin","displayName":"is_admin","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean"},{"id":"phone","displayName":"phone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[2128,672],"id":"15a1030d-a32e-4b06-be54-0a3f334af759","name":"agente_db_admin"},{"parameters":{"chatId":"7786085892","text":"={{ $json.output }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1632,432],"id":"1fcf9a01-1a88-4e56-aedc-80290e6fa237","name":"Telegram","webhookId":"9c61e9b9-1602-4f73-ac34-e605546f21cd","credentials":{"telegramApi":{"id":"WQ9sDj05QfYLo16v","name":"Telegram Davi"}}},{"parameters":{"description":"Função para consulta de disponibilidade de horários","workflowId":{"__rl":true,"value":"35ZK3bQrEy5cHrYZ","mode":"list","cachedResultName":"consulta_disponibilidade"},"workflowInputs":{"mappingMode":"defineBelow","value":{"start_time":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('start_time', `timestamptz\n* Timezone São Paulo`, 'string') }}","end_time":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('end_time', `timestamptz\n* Timezone São Paulo`, 'string') }}","professional_id":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('professional_id', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"start_time","displayName":"start_time","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"end_time","displayName":"end_time","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"professional_id","displayName":"professional_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1616,672],"id":"3a3d361c-e1de-420e-bca6-aefce222df20","name":"consulta_disponibilidade"},{"parameters":{"path":"595aef29-1454-4c78-8cfb-90991a65a536","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-368,448],"id":"9dbe0848-62b0-4b90-95a8-2576ffbd4b11","name":"Webhook","webhookId":"595aef29-1454-4c78-8cfb-90991a65a536"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Agente assistente de agendamento","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Agente assistente de agendamento","type":"ai_memory","index":0}]]},"Agente assistente de agendamento":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"pega_profissional":{"main":[[{"node":"é_profissional?","type":"main","index":0}]]},"é_profissional?":{"main":[[{"node":"Agente assistente de agendamento","type":"main","index":0}],[{"node":"pega_usuario","type":"main","index":0}]]},"pega_usuario":{"main":[[{"node":"Agente assistente de agendamento","type":"main","index":0}]]},"pega_usuario_com_agendamentos":{"ai_tool":[[{"node":"Agente assistente de agendamento","type":"ai_tool","index":0}]]},"entrada_formatada":{"main":[[{"node":"pega_profissional","type":"main","index":0}]]},"pega_profissionais_com_servicos":{"ai_tool":[[{"node":"Agente assistente de agendamento","type":"ai_tool","index":0}]]},"cria_usuario":{"ai_tool":[[{"node":"Agente assistente de agendamento","type":"ai_tool","index":0}]]},"pega_agendamentos_do_profissional":{"ai_tool":[[{"node":"Agente assistente de agendamento","type":"ai_tool","index":0}]]},"criar_agendamento":{"ai_tool":[[{"node":"Agente assistente de agendamento","type":"ai_tool","index":0}]]},"cancelar_agendamento":{"ai_tool":[[{"node":"Agente assistente de agendamento","type":"ai_tool","index":0}]]},"agente_db_admin":{"ai_tool":[[{"node":"Agente assistente de agendamento","type":"ai_tool","index":0}]]},"consulta_disponibilidade":{"ai_tool":[[{"node":"Agente assistente de agendamento","type":"ai_tool","index":0}]]},"Webhook":{"main":[[{"node":"entrada_formatada","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"31eed64e-edd1-4aec-a5d4-e8f03be56ebc","triggerCount":1,"shared":[{"createdAt":"2025-08-08T11:44:37.387Z","updatedAt":"2025-08-08T11:44:37.387Z","role":"workflow:owner","workflowId":"kMJNfFX5h6jQi3GD","projectId":"g8BnYlos8HJUUVcr","project":{"createdAt":"2025-05-28T13:28:04.746Z","updatedAt":"2025-05-28T13:31:33.202Z","id":"g8BnYlos8HJUUVcr","name":"IA Pessoas <comercial@castelobrancocontabilidade.com.br>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-05-28T13:28:04.746Z","updatedAt":"2025-05-28T13:28:04.746Z","userId":"17ee4480-754a-4392-9fc2-a6bc3c46ebad","projectId":"g8BnYlos8HJUUVcr","user":{"createdAt":"2025-05-28T13:28:03.022Z","updatedAt":"2025-10-08T03:00:53.489Z","id":"17ee4480-754a-4392-9fc2-a6bc3c46ebad","email":"comercial@castelobrancocontabilidade.com.br","firstName":"IA","lastName":"Pessoas","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-05-28T13:31:41.717Z","personalization_survey_n8n_version":"1.94.1"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"fN5uSWvKRujKur6R","userActivatedAt":1757621781409,"npsSurvey":{"responded":true,"lastShownAt":1749478378830},"dismissedCallouts":{"preBuiltAgentsCalloutHttpRequest":true,"preBuiltAgentsCalloutGoogleDrive":true,"preBuiltAgentsModalCallout":true,"preBuiltAgentsCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-10-08","isPending":false}}]}}],"tags":[{"createdAt":"2025-05-28T13:35:47.754Z","updatedAt":"2025-05-28T13:35:47.754Z","id":"1DfavlTBWEW637E1","name":"Davi Araujo"}]}