workflows/Principal_y76pVAiBFUYbJN88.json
{"createdAt":"2025-08-21T17:04:22.736Z","id":"y76pVAiBFUYbJN88","name":"Principal","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"dados-do-leads","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-352,0],"id":"a82a7463-a4c0-4d48-8d8e-f64a7d4f734d","name":"Recebe dados do lead","webhookId":"77e334c0-0a0d-439d-996a-6d96d731326e"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"=Você é um analista de leads sênior especializado no mercado de automação com Python e Inteligência Artificial. \nSua tarefa é analisar as informações de um potencial cliente, entender seus desafios e interesses relacionados à automação/IA, \ne retornar uma análise concisa em formato JSON.\n\nAnalise os seguintes dados do lead:\n\nNome: \"{{ $json.message.content.nome }}\"\n\nWhatsApp: \"{{ $json.message.content.whatsapp }}\"\n\nTipo de Representante: \"{{ $json.message.content.tipo_representante }}\"\n\nDesafio Principal: \"{{ $json.message.content.desafio_principal }}\"\n\nÁreas de Interesse: \"{{ $json.message.content.areas_interesse }}\"\n\nOutros: \"{{ $json.message.content.outros }}\"\n\nUso Atual de Automação/IA: \"{{ $json.message.content.usa_hoje_automacao_ia }}\"\n\nUrgência: \"{{ $json.message.content.urgencia }}\"\n\nDeseja Receber Conteúdos: \"{{ $json.message.content.receber_conteudos }}\"\n\nBaseado nesses dados, execute as seguintes tarefas:\n\nclassificacao: Classifique o lead como \"Quente\", \"Morno\" ou \"Frio\".\nCritério Quente: Demonstra necessidade imediata (ex: precisa automatizar um processo urgente, relatou problema crítico ou alta urgência na implementação).\n\nCritério Morno: Demonstra interesse real, mas não urgente (ex: busca eficiência, está explorando áreas de automação/IA como Python, n8n ou análise de documentos).\n\nCritério Frio: Apenas curiosidade, sem intenção clara ou respostas vagas (ex: interesse superficial, sem problema específico a resolver).\n\nintencao: Resuma a intenção principal do lead em uma frase curta e objetiva.\n\nsugestao_abordagem: Crie uma sugestão de 1 a 2 frases para o primeiro contato do vendedor, personalizada e direta.\n\nRetorne APENAS um objeto JSON válido, SEM Markdown ou formatação de código. O JSON deve seguir EXATAMENTE a seguinte estrutura:\n"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[320,0],"id":"380bf6bc-ffbf-450c-8096-3d9ca6375b27","name":"Classifica o lead"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-nano","mode":"list","cachedResultName":"GPT-4.1-NANO"},"messages":{"values":[{"content":"=Dado esses dados de entrada\n{{ JSON.stringify($json.body) }}\n\nDevolva apenas um JSON exatamente assim com os dados preenchidos:\n\n{\n  \"nome\": \"\",\n  \"whatsapp\": \"\",\n  \"tipo_representante\": \"\",\n  \"desafio_principal\": \"\",\n  \"areas_interesse\": [\n    \"\",\n    \"\"\n  ],\n  \"outros\": \"\",\n  \"usa_hoje_automacao_ia\": \"\",\n  \"urgencia\": \"\",\n  \"receber_conteudos\": \n}\n\nRegras:\n- o que não souber preencher, coloque \"\"\n- quando houver opções, coloque a opção que o usuário selecionou\n"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-80,0],"id":"1ed8748e-24d7-4c12-ae25-cfc16b5192cf","name":"Formata os dados"}],"connections":{"Recebe dados do lead":{"main":[[{"node":"Formata os dados","type":"main","index":0}]]},"Formata os dados":{"main":[[{"node":"Classifica o lead","type":"main","index":0}]]}}}