workflows/Principal_[IAConsultas]_eIljfUhZkPbll3nJ.json
{
  "createdAt": "2025-08-05T13:17:19.495Z",
  "id": "eIljfUhZkPbll3nJ",
  "name": "Principal [IAConsultas]",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1280,
        672
      ],
      "id": "324ddb4a-f529-451c-aadb-2e7d7cfd9447",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "[REDACTED]",
        "contextWindowLength": 12
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1424,
        672
      ],
      "id": "34ea2301-a0d9-4af1-97b9-68284ca4eacf",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "Professionals",
        "filters": {
          "conditions": [
            {
              "keyName": "[REDACTED]",
              "keyValue": "[REDACTED]"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        752,
        448
      ],
      "id": "318176f9-ae04-4e5c-b40a-3e9cebe709df",
      "name": "pega_profissional",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d8166451-df23-4d2c-ac53-4bc77ba26c06",
              "leftValue": "={{ !!$json.id }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        960,
        448
      ],
      "id": "b1a7d927-504d-4bef-935e-496bd2785b35",
      "name": "é_profissional?"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "Users",
        "filters": {
          "conditions": [
            {
              "keyName": "[REDACTED]",
              "keyValue": "[REDACTED]"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1200,
        528
      ],
      "id": "20408a60-42b6-4e5d-b15e-3a436ff65aa8",
      "name": "pega_usuario",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "toolDescription": "Pega:\n- dados do usuário\n- seus agendamentos\n",
        "url": "[REDACTED]",
        "authentication": "[REDACTED]",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        1584,
        672
      ],
      "id": "3c9c4e97-8d4c-4c9c-9fa6-120bdb66d12f",
      "name": "pega_usuario_com_agendamentos"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fbb2bd53-b3a8-4d8e-9fa4-249c5dccff65",
              "name": "message",
              "value": "={{ $('entrada_whatsapp').item.json.body.data.message.conversation }}",
              "type": "string"
            },
            {
              "id": "f3088102-4730-48ec-8e56-503fef440a3d",
              "name": "phone",
              "value": "={{ $('entrada_whatsapp').item.json.body.data.key.remoteJid.split('@')[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        528,
        448
      ],
      "id": "aa7b7df5-3e84-4eb7-84e0-0a28760273bd",
      "name": "entrada_formatada"
    },
    {
      "parameters": {
        "toolDescription": "Pega:\n- dados dos profissionais\n- dados dos serviços",
        "url": "[REDACTED]",
        "authentication": "[REDACTED]",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        1744,
        672
      ],
      "id": "6283c7bc-1f7a-4db4-ae61-36582e321e5b",
      "name": "pega_profissionais_com_servicos"
    },
    {
      "parameters": {
        "toolDescription": "Cria novo usuário no sistema com:\n- nome\n- telefone\n- e-mail",
        "method": "POST",
        "url": "[REDACTED]",
        "authentication": "[REDACTED]",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"
            },
            {
              "name": "phone",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', ``, 'string') }}"
            },
            {
              "name": "email",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        1936,
        672
      ],
      "id": "839a5f5b-6fa8-49ff-bb5b-0bab9c3882fb",
      "name": "cria_usuario",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "toolDescription": "Pega:\n- futuros agendamentos do profissional\n",
        "url": "[REDACTED]",
        "authentication": "[REDACTED]",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        2144,
        672
      ],
      "id": "c286b4ab-71cd-4bc6-98a0-ec8d1d0dbafb",
      "name": "pega_agendamentos_do_profissional"
    },
    {
      "parameters": {
        "description": "Função principal para criar agendamento",
        "workflowId": {
          "__rl": true,
          "value": "ZKzuWwwv0sEwEnlT",
          "mode": "list",
          "cachedResultName": "criar_agendamento"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "user_phone": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('user_phone', ``, 'string') }}",
            "start_date_time": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('start_date_time', `timestamptz\n* Timezone São Paulo\n`, 'string') }}",
            "end_date_time": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('end_date_time', `timestamptz\n* Timezone São Paulo\n`, 'string') }}",
            "professional_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('professional_id', ``, 'string') }}",
            "service_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('service_id', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "user_phone",
              "displayName": "user_phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "start_date_time",
              "displayName": "start_date_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "end_date_time",
              "displayName": "end_date_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "professional_id",
              "displayName": "professional_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "service_id",
              "displayName": "service_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        2464,
        672
      ],
      "id": "22d28107-2248-42dc-bbeb-deacd21bf79f",
      "name": "criar_agendamento"
    },
    {
      "parameters": {
        "description": "Chame essa função quando for cancelar um agendamento.\nPara cancelar, busque e use o ID do agendamento",
        "workflowId": {
          "__rl": true,
          "value": "rJ0iIfdWHdgiiTHq",
          "mode": "list",
          "cachedResultName": "cancelar_agendamento"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "appointment_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('appointment_id', `use o ID do agendamento que você pegou `, 'string') }}"
          },
          "matchingColumns": [
            "appointment_id"
          ],
          "schema": [
            {
              "id": "appointment_id",
              "displayName": "appointment_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        2672,
        672
      ],
      "id": "03775a63-7e27-4ade-ad0c-9af485625b75",
      "name": "cancelar_agendamento"
    },
    {
      "parameters": {
        "description": "IA especializada em consultar, criar, atualizar ou remover dados do banco.\nExemplos de uso:\n- Ver profissionais ativos e seus serviços\n- Atualizar informações de um profissional\n- Criar novos serviços ou agendamentos\n- Remover registros quando necessário",
        "workflowId": {
          "__rl": true,
          "value": "sMp9fq5pHs7ifE0e",
          "mode": "list",
          "cachedResultName": "agente_db_admin"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "is_admin": "={{ $('pega_profissional').all().length\n > 0 && $('pega_profissional').first().json.is_admin === true }}",
            "prompt": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('prompt', ``, 'string') }}",
            "phone": "={{ $('entrada_formatada').item.json.phone }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "prompt",
              "displayName": "prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "is_admin",
              "displayName": "is_admin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean"
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        2912,
        672
      ],
      "id": "15a1030d-a32e-4b06-be54-0a3f334af759",
      "name": "agente_db_admin"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=- Mensagem: {{ $('entrada_formatada').item.json.message }}",
        "options": {
          "systemMessage": "[REDACTED]"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1664,
        432
      ],
      "id": "51b18b68-acf0-4a1c-afac-4ae846632ecd",
      "name": "Agente assistente de agendamento"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "710588c2-52d0-433d-a580-85e39f4bdd08",
              "leftValue": "={{ $json.body.data.key.remoteJid }}",
              "rightValue": "557592991249@s.whatsapp.net",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "a3a9502b-9926-4002-85ce-3bdba946107e",
              "leftValue": "={{ $json.body.data.key.remoteJid }}",
              "rightValue": "=557592239427@s.whatsapp.net",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -672,
        432
      ],
      "id": "e13482f5-cae0-4da8-a2d7-c3d4cd563486",
      "name": "só_meu_numero_passa"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('entrada_whatsapp').item.json.body.instance }}",
        "remoteJid": "={{ $('entrada_whatsapp').item.json.body.data.key.remoteJid.split('@')[0] }}",
        "messageText": "={{ $json.output }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        2096,
        432
      ],
      "id": "18f61eaa-0499-406d-9911-099275ec3916",
      "name": "Evolution API"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "evolution-api",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -880,
        432
      ],
      "id": "8ecd6571-8775-49d2-b123-cd3e2d684cf1",
      "name": "entrada_whatsapp",
      "webhookId": "d837255f-ccbc-4117-b8bb-9cbadfd3be47"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f695f916-4d07-4bcf-8ef2-f2e518b5fdba",
              "leftValue": "={{ $json.body.data.messageType }}",
              "rightValue": "audioMessage",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -400,
        432
      ],
      "id": "aa8844d1-1559-4520-bf83-8a752f079ec4",
      "name": "é_um_audio_?"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "5Ugz07XUD7Hj8OOs",
          "mode": "list",
          "cachedResultName": "áudio_para_texto"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "message_id": "={{ $('entrada_whatsapp').item.json.body.data.key.id }}",
            "instance": "={{ $('entrada_whatsapp').item.json.body.instance }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "message_id",
              "displayName": "message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "instance",
              "displayName": "instance",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -64,
        320
      ],
      "id": "df161c36-a69e-4c1d-9b0e-1e103e67124f",
      "name": "audio_para_texto"
    },
    {
      "parameters": {
        "description": "Função para consulta de disponibilidade de horários",
        "workflowId": {
          "__rl": true,
          "value": "35ZK3bQrEy5cHrYZ",
          "mode": "list",
          "cachedResultName": "consulta_disponibilidade"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "start_time": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('start_time', `timestampz\n`, 'string') }}",
            "end_time": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('end_time', `timestampz`, 'string') }}",
            "professional_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('professional_id', `UUID do Profissional`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "start_time",
              "displayName": "start_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "end_time",
              "displayName": "end_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "professional_id",
              "displayName": "professional_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        2304,
        672
      ],
      "id": "3a3d361c-e1de-420e-bca6-aefce222df20",
      "name": "consulta_disponibilidade"
    }
  ],
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agente assistente de agendamento",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Agente assistente de agendamento",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "pega_profissional": {
      "main": [
        [
          {
            "node": "é_profissional?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "é_profissional?": {
      "main": [
        [
          {
            "node": "Agente assistente de agendamento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "pega_usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pega_usuario": {
      "main": [
        [
          {
            "node": "Agente assistente de agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pega_usuario_com_agendamentos": {
      "ai_tool": [
        [
          {
            "node": "Agente assistente de agendamento",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "entrada_formatada": {
      "main": [
        [
          {
            "node": "pega_profissional",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pega_profissionais_com_servicos": {
      "ai_tool": [
        [
          {
            "node": "Agente assistente de agendamento",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "cria_usuario": {
      "ai_tool": [
        [
          {
            "node": "Agente assistente de agendamento",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "pega_agendamentos_do_profissional": {
      "ai_tool": [
        [
          {
            "node": "Agente assistente de agendamento",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "criar_agendamento": {
      "ai_tool": [
        [
          {
            "node": "Agente assistente de agendamento",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "cancelar_agendamento": {
      "ai_tool": [
        [
          {
            "node": "Agente assistente de agendamento",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "agente_db_admin": {
      "ai_tool": [
        [
          {
            "node": "Agente assistente de agendamento",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Agente assistente de agendamento": {
      "main": [
        [
          {
            "node": "Evolution API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "só_meu_numero_passa": {
      "main": [
        [
          {
            "node": "é_um_audio_?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "entrada_whatsapp": {
      "main": [
        [
          {
            "node": "só_meu_numero_passa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "é_um_audio_?": {
      "main": [
        [
          {
            "node": "audio_para_texto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "entrada_formatada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "audio_para_texto": {
      "main": [
        [
          {
            "node": "entrada_formatada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "consulta_disponibilidade": {
      "ai_tool": [
        [
          {
            "node": "Agente assistente de agendamento",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  }
}
