workflows/RAG_slbqeMHqONT3fFlf.json
{"createdAt":"2025-10-01T18:29:20.040Z","id":"slbqeMHqONT3fFlf","name":"RAG","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"[REDACTED]","mode":"list","cachedResultName":"rag","cachedResultUrl":"[REDACTED]"},"event":"fileCreated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-416,0],"id":"ead1432f-0d5c-4082-b935-938efa521d6b","name":"Google Drive Trigger"},{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"value":"departamentos","mode":"list"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.3,"position":[144,0],"id":"0af49a62-745c-4832-a90d-235730f9a419","name":"Pinecone Vector Store"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[80,208],"id":"2bf5de10-0d7a-4407-adb4-9614eef1f8bf","name":"Embeddings OpenAI"},{"parameters":{"dataType":"binary","textSplittingMode":"custom","options":{}},"type":"[REDACTED]","typeVersion":1.1,"position":[224,176],"id":"c99da0ab-ae1a-4a26-8168-7e2d3d47be28","name":"Default Data Loader"},{"parameters":{"chunkOverlap":250,"options":{}},"type":"[REDACTED]","typeVersion":1,"position":[368,320],"id":"51914e22-ec36-4afc-a5b0-f95997f7269b","name":"Recursive Character Text Splitter"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-208,0],"id":"39b91691-289d-4127-994b-aaf5c932cc16","name":"Download file"}],"connections":{"Google Drive Trigger":{"main":[[{"node":"Download file","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Pinecone Vector Store","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Download file":{"main":[[{"node":"Pinecone Vector Store","type":"main","index":0}]]}}}