workflows/RENOMEIO_PDFS_INCORRETOS(ERRO)_fN5uSWvKRujKur6R.json
{"createdAt":"2025-09-11T16:36:51.094Z","id":"fN5uSWvKRujKur6R","name":"RENOMEIO PDFS INCORRETOS(ERRO)","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"ID"},{"name":"name"}]}},"type":"[REDACTED]","typeVersion":1.1,"position":[0,0],"id":"6150d3a5-7936-4b6b-8877-659966bb2e55","name":"When Executed by Another Workflow"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"[REDACTED]","mode":"list","cachedResultName":"Arquivos","cachedResultUrl":"[REDACTED]"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"[REDACTED]"},"columns":{"mappingMode":"defineBelow","value":{"ID":"={{ $json.id }}","Nome":"={{ $json.name }}"},"matchingColumns":["ID"],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[688,0],"id":"8e94a948-9f28-4359-b322-ba0722b095b8","name":"ATUALIZAR PLANILHA1","disabled":true},{"parameters":{"operation":"update","fileId":{"__rl":true,"value":"={{ $json.ID }}","mode":"id"},"newUpdatedFileName":"={{ $json.name.replace('.pdf', '') + ' - RENOMEIO MANUAL.pdf' }}\n","options":{"propertiesUi":{"propertyValues":[{"key":"[REDACTED]","value":"={{ true }}"}]}}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[352,0],"id":"82917588-7480-4b2f-8e0a-d3b6cadee115","name":"RENOMEAR PDF INCORRETO"},{"parameters":{"url":"=https://www.googleapis.com/drive/v3/files/{{$json.ID}}?alt=media&supportsAllDrives=true","authentication":"[REDACTED]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[192,0],"id":"c9af3e6e-7535-4e51-b527-b7cb2bbe3b4d","name":"BAIXA PDFS COM ERRO"}],"connections":{"RENOMEAR PDF INCORRETO":{"main":[[]]},"When Executed by Another Workflow":{"main":[[{"node":"BAIXA PDFS COM ERRO","type":"main","index":0}]]},"BAIXA PDFS COM ERRO":{"main":[[{"node":"RENOMEAR PDF INCORRETO","type":"main","index":0}]]}}}