workflows/RENOMEIO_GOOGLE_DRIVE_MOVIMENTO_CONTABIL_V_2.0_alSTcyScPXFTO6D7.json
{
  "createdAt": "2025-10-09T17:32:53.423Z",
  "id": "alSTcyScPXFTO6D7",
  "name": "RENOMEIO GOOGLE DRIVE MOVIMENTO CONTABIL V 2.0",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a1a462b5-53ac-4af0-9216-c85b3827b8d5",
              "leftValue": "={{ $json.name.includes('.pdf') }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "48208eb1-bc8f-4810-a7d9-83179814d06b",
              "leftValue": "={{ $json.name.includes('.jpg') }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "469a8599-cc65-4e7f-adc9-b7272f2cf7ee",
              "leftValue": "={{ $json.name.includes('.PDF') }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "2ede9023-2e61-4e49-8273-46cc84079e04",
              "leftValue": "={{ $json.name.includes('.jpeg') }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "1cbe92b2-d97e-4c0a-88f6-64edccabea87",
              "leftValue": "={{ $json.name.includes('.png') }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -416,
        1920
      ],
      "id": "90443d19-3cb7-427c-b47d-0b3acefc8a9d",
      "name": "FILTRO TIPO DE ARQUIVO"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        736,
        1904
      ],
      "id": "69dfa089-df7c-4199-b5bc-530a858ef03c",
      "name": "EXTRAÇÃO DO PDF",
      "retryOnFail": false,
      "alwaysOutputData": false,
      "executeOnce": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "01e0a39b-0dce-4e56-9d74-72d6011fd69d",
              "leftValue": "={{ $json.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "83546bc8-1221-40a4-a9ce-2bf7eb823dff",
              "leftValue": "={{ $json.text }}",
              "rightValue": "=^\\s*$",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            },
            {
              "id": "1342be4f-c657-4ee7-8181-d5dcd4360379",
              "leftValue": "={{ (($json.text ?? '')).length < 30 }}",
              "rightValue": "={{ $json.text.length < 30 ? \"\" : $json.text }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1184,
        1888
      ],
      "id": "a8408fb8-f244-4400-af4d-dea47f53b09e",
      "name": "SE O TEXTO FOR VAZIO"
    },
    {
      "parameters": {
        "content": "## Agente Responsavel por renomear Imagens\n\n\n",
        "height": 476,
        "width": 1080
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        688,
        2384
      ],
      "id": "80d2ace0-daa6-49b8-b52f-78e1465fec94",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Varredura de arquivos do drive e filtragem\n",
        "height": 556,
        "width": 2104,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2560,
        1824
      ],
      "id": "eb16cb6d-14ec-479f-955e-9b4d751d4636",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4a2fe75b-0ab7-4a66-b6c6-ad4a8da7fd2f",
              "name": "ID",
              "value": "={{ $('BAIXA ARQUIVOS').item.json.ID }}",
              "type": "string"
            },
            {
              "id": "cc351c79-e5a6-4604-a6de-a333a134f574",
              "name": "name",
              "value": "={{ $('BAIXA ARQUIVOS').item.json.name }}",
              "type": "string"
            },
            {
              "id": "8c96cd2d-5c5a-4a47-8858-f39cd5b3bdda",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        1888
      ],
      "id": "20af442a-4bf8-4154-a8bf-49d92666e164",
      "name": "JUNTA TODOS OS DADOS"
    },
    {
      "parameters": {
        "content": "## Baixa os arquivos, extrai informações se for PDF, salva os binarios de cada arquivo e caso seja PDF Extraivel segue fluxo de cima e caso seja imagem segue fluxo de baixo\n\n\n",
        "height": 556,
        "width": 1080,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -448,
        1824
      ],
      "id": "c31bbd8e-06ca-422d-b3b3-86ba50cd1ec1",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Agente Responsável por renomear PDFS com texto Extraivel\n",
        "height": 540,
        "width": 1080
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        688,
        1824
      ],
      "id": "c2a221f5-dc59-42fc-a9ac-afbbd7b9f0d8",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "🚀 **Ferramentas utilizadas no fluxo**\n\n🟦 **Google Drive**  \nNó: Google Drive  \nFunção: Upload, download e gerenciamento de arquivos\n\n🤖 **OpenAI**  \nNó: HTTP Request + Funções  \nFunção: Processamento, análise e geração de texto com IA\n",
        "height": 280,
        "width": 540,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1616,
        1504
      ],
      "id": "59c439ed-2960-4059-8384-6ad35970c02c",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "2beea2a1-ff79-4412-9d9a-f552009ea040",
              "leftValue": "={{ $json.createdTime }}",
              "rightValue": "2025-10-08T08:00:00",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -560,
        1920
      ],
      "id": "082ae978-1f8e-4ab0-97af-a3132d0cf79d",
      "name": "Filtrar por data"
    },
    {
      "parameters": {
        "url": "=https://www.googleapis.com/drive/v3/files/{{$json.ID}}?alt=media&supportsAllDrives=true",
        "authentication": "[REDACTED]",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        528,
        2016
      ],
      "id": "0769ba74-b6c7-4f6b-afcd-ea012e81ac86",
      "name": "BAIXA ARQUIVOS",
      "retryOnFail": false
    },
    {
      "parameters": {
        "batchSize": 6,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        32,
        1920
      ],
      "id": "ddef646c-15c3-4b43-bcab-365c298ac0ab",
      "name": "Loop Over Items",
      "retryOnFail": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "10bcaaa0-e92e-4ee4-8920-357d15b51ba0",
              "leftValue": "={{ $json.name }}",
              "rightValue": ".pdf",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "89f11755-c4c5-4c22-a14c-45fc89260bc6",
              "leftValue": "={{ $json.name }}",
              "rightValue": ".PDF",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        928,
        2160
      ],
      "id": "ab018294-33e2-4b7a-b3e1-1e8fbed431ab",
      "name": "É UM PDF ?"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "uTiS3qSlbvXUlCnx",
          "mode": "list",
          "cachedResultUrl": "[REDACTED]",
          "cachedResultName": "RENOMEIO PDF INCORRETO"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.ID }}",
            "name": "={{ $json.name }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1440,
        1872
      ],
      "id": "37a18411-aaf7-4f5d-93f8-5f5358b75d19",
      "name": "RENOMEIA PDF VAZIO"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "fN5uSWvKRujKur6R",
          "mode": "list",
          "cachedResultUrl": "[REDACTED]",
          "cachedResultName": "RENOMEIO PDFS INCORRETOS(ERRO)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.ID }}",
            "name": "={{ $json.name }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1456,
        2432
      ],
      "id": "15afe3c6-2ab9-4baf-b959-f0900ef22b45",
      "name": "RENOMEIA PDF SCANNEAVEL"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "YDH3keRYE4xE3V2m",
          "mode": "list",
          "cachedResultUrl": "[REDACTED]",
          "cachedResultName": "RENOMEIA IMAGENS"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.ID }}",
            "name": "={{ $json.name}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1456,
        2656
      ],
      "id": "c2320380-d18f-4493-85aa-0f83cac0ea88",
      "name": "RENOMEIA IMAGEM"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Wc7jGiKMw11GOwwj",
          "mode": "list",
          "cachedResultUrl": "[REDACTED]",
          "cachedResultName": "RENOMEIA PDFS"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.ID }}",
            "name": "={{ $json.name }}",
            "text": "={{ $json.text }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1440,
        2080
      ],
      "id": "b86a3e6b-0a92-44fe-a81a-421c06a01211",
      "name": "RENOMEIA PDF"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        336,
        2016
      ],
      "id": "171f51ac-cb9a-43bc-a9c1-9e396ce01784",
      "name": "Wait",
      "webhookId": "f3088f27-a454-480b-bcd8-0c6676d570ca"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e0d7e7e2-9fef-434b-9793-7f7d06d3f38c",
              "leftValue": "={{ $json.ownedByMe }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -656,
        2208
      ],
      "id": "f7b31e34-2ef0-4efa-9cc8-5117eb0f93da",
      "name": "FILTRAR ARQUIVOS COMPARTILHADOS",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "78053564-cef8-4093-914e-2a037d918c05",
              "name": "ID",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "b85242f0-8095-4a11-88ea-4d677125d6c3",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "6bcf176f-ecb6-4eea-b99a-74d66dd6ff2b",
              "name": "createdTime",
              "value": "={{ $json.createdTime }}",
              "type": "string"
            },
            {
              "id": "69879d98-b5f6-4f85-bf62-52ee44a3a6ab",
              "name": "modifiedByMe",
              "value": "={{ $json.modifiedByMe }}",
              "type": "boolean"
            },
            {
              "id": "2ada4a96-8b9d-4eea-ad96-5aed13a6b995",
              "name": "fileExtension",
              "value": "={{ $json.fileExtension }}",
              "type": "string"
            },
            {
              "id": "d44e894e-4257-4784-a52c-318a459865eb",
              "name": "=modifiedByMeTime",
              "value": "={{ $json.modifiedByMe }}",
              "type": "boolean"
            },
            {
              "id": "dae67acf-5226-43e2-9bc2-ef2cb4c51c48",
              "name": "properties.Renomeado",
              "value": "={{ $json.renomeado }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -736,
        1920
      ],
      "id": "311ae0f7-d54c-4f27-bfeb-48b744a86d23",
      "name": "PEGA INFORMAÇÕES NECESSARIAS"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "=name contains '1.MOVIMENTO' and mimeType = 'application/vnd.google-apps.folder'\n",
        "returnAll": true,
        "filter": {},
        "options": {
          "fields": [
            "*"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2352,
        2000
      ],
      "id": "99be6774-5933-45d7-b6cb-66a716454fcf",
      "name": "PROCURAR NOME \"MOVIMENTO\""
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2096,
        2432
      ],
      "id": "5290bf61-427f-4be1-8860-cc0faac0deb7",
      "name": "VARREDURA NAS PASTAS DE MOVIMENTO"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "444c7313-b2ac-43b9-8754-01477448837c",
              "leftValue": "={{ $json.name }}",
              "rightValue": "^(0?[1-9]|1[0-2])[.-]\\d{4}$",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1920,
        2432
      ],
      "id": "b27b6755-1e11-443f-a561-1de3be857b75",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "mode": "id",
            "value": "={{ $json.id }}"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1808,
        2576
      ],
      "id": "59397fa8-b372-4fb8-a623-05804300864a",
      "name": "Search files and folders"
    },
    {
      "parameters": {
        "batchSize": 50,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1376,
        1984
      ],
      "id": "b8a1b981-019a-42c8-b758-bfd6c425dc35",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "fknoxGG9U5fLOwI4",
          "mode": "list",
          "cachedResultUrl": "[REDACTED]",
          "cachedResultName": "Drive Activity"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "folder_ids": "={{ $items().map(i => i.json.id) }}"
          },
          "matchingColumns": [
            "folder_ids"
          ],
          "schema": [
            {
              "id": "folder_ids",
              "displayName": "folder_ids",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1168,
        2000
      ],
      "id": "3a00ac11-3d36-4bcb-88c2-618a793fb03c",
      "name": "Call 'Drive Activity'"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -864,
        2000
      ],
      "id": "904f5f7c-bfb0-4299-a39b-ed02289662e4",
      "name": "Wait2",
      "webhookId": "6ab1d210-c444-4708-920f-d0e6d0731b25"
    },
    {
      "parameters": {
        "jsCode": "// Cria um array para acumular todos os arquivos encontrados\nconst allFiles = [];\n\nfor (const item of $input.all()) {\n  const files = item.json.files;\n\n  // se o campo \"files\" não existe ou é vazio, pula\n  if (!Array.isArray(files) || files.length === 0) continue;\n\n  // adiciona os arquivos encontrados no acumulador\n  for (const f of files) {\n    allFiles.push(f);\n  }\n}\n\n// Se não houver nada, retorna um item vazio só pra manter consistência\nif (allFiles.length === 0) {\n  return [{ json: { info: 'Nenhum arquivo encontrado neste batch.' } }];\n}\n\n// Mapeia o formato final desejado\nreturn allFiles.map(file => ({\n  json: {\n    id: file.id,\n    name: file.name,\n    createdTime: file.createdTime,\n    fileExtension: file.fileExtension || file.name.split('.').pop(),\n    modifiedByMe: file.modifiedByMe || false,\n    renomeado: file.properties?.Renomeado || file.appProperties?.Renomeado || false\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1024,
        2000
      ],
      "id": "034b0685-163b-48bd-b3b4-8bda0900c2c0",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1696,
        2432
      ],
      "id": "dc7a83e4-d23b-46b9-aba6-414efd26942f",
      "name": "Merge"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8af132c0-3ab3-429e-91a5-9fc6e657d217",
              "leftValue": "={{ $json.properties.Renomeado }}",
              "rightValue": "=true",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -240,
        1920
      ],
      "id": "765f2fcd-dbd0-41a0-a4f8-7d199e1f6fc1",
      "name": "FILTRAR ARQUIVOS NÃO RENOMEADOS"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2512,
        2000
      ],
      "id": "36b7bdc3-0ff1-4153-9e96-b86d61970eb9",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/drive/v3/files",
        "authentication": "[REDACTED]",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "[\n  { \"name\": \"q\", \"value\": \"name contains '1.MOVIMENTO' and mimeType = 'application/vnd.google-apps.folder' and trashed = false\" },\n  { \"name\": \"fields\", \"value\": \"files(id, name, mimeType, parents, createdTime, modifiedTime)\" },\n  { \"name\": \"spaces\", \"value\": \"drive\" },\n  {\"name\": \"pageSize\", \"value\": 100}\n]\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1424,
        2400
      ],
      "id": "c356ab79-0845-4f9d-9581-95cb4859da3e",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "// Obtém o token da página atual\nconst nextToken = $json.nextPageToken;\n\n// Se existir, passa para o próximo ciclo\nif (nextToken) {\n  return [{\n    json: {\n      nextPageToken: nextToken,\n      hasNext: true\n    }\n  }];\n}\n\n// Se acabou, encerra o loop\nreturn [{\n  json: {\n    hasNext: false\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1232,
        2416
      ],
      "id": "d5b6416e-efe6-4e51-904d-4581ea86ca85",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "49268425-dace-4d40-83a4-23e4b5dc1a58",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1056,
        2416
      ],
      "id": "e6c5f192-77ef-4166-99b0-12434f998f4c",
      "name": "If1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "KHP4wW9NdsxB6pTo",
          "mode": "list",
          "cachedResultUrl": "[REDACTED]",
          "cachedResultName": "PAGINACAO DRIVE SEARCH"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "nextPageToken": "[REDACTED]"
          },
          "matchingColumns": [
            "nextPageToken"
          ],
          "schema": [
            {
              "id": "nextPageToken",
              "displayName": "nextPageToken",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -2624,
        2592
      ],
      "id": "1d1518bc-7a2f-47b3-85b4-a68ab62558ed",
      "name": "Busca '1. Movimento'1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "baf5cc61-f0a2-4c94-a834-b27a30d7f55f",
              "leftValue": "={{ $json.nextPageToken }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c4057dbd-dc0d-455a-92c7-0118fdbe511d",
      "name": "Continuar?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2448,
        2592
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2336,
        2784
      ],
      "id": "378ac465-63e7-4c73-82f3-5e4c5a772012",
      "name": "Merge1"
    },
    {
      "parameters": {
        "batchSize": 20,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -2176,
        2000
      ],
      "id": "90f7479a-9f4f-48d1-a2b2-cf179a7ce75c",
      "name": "Loop Over Items2"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "knQJLgSU9w0wNET1",
          "mode": "list",
          "cachedResultUrl": "[REDACTED]",
          "cachedResultName": "Varredura"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}"
          },
          "matchingColumns": [
            "id_pasta"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nextPageToken",
              "displayName": "nextPageToken",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -2016,
        2080
      ],
      "id": "fceb3468-11f6-4226-8bc2-89e47e31750c",
      "name": "Call 'Varredura'"
    }
  ],
  "connections": {
    "FILTRO TIPO DE ARQUIVO": {
      "main": [
        [
          {
            "node": "FILTRAR ARQUIVOS NÃO RENOMEADOS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EXTRAÇÃO DO PDF": {
      "main": [
        [
          {
            "node": "JUNTA TODOS OS DADOS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "É UM PDF ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SE O TEXTO FOR VAZIO": {
      "main": [
        [
          {
            "node": "RENOMEIA PDF VAZIO",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RENOMEIA PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JUNTA TODOS OS DADOS": {
      "main": [
        [
          {
            "node": "SE O TEXTO FOR VAZIO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar por data": {
      "main": [
        [
          {
            "node": "FILTRO TIPO DE ARQUIVO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BAIXA ARQUIVOS": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "EXTRAÇÃO DO PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É UM PDF ?": {
      "main": [
        [
          {
            "node": "RENOMEIA PDF SCANNEAVEL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RENOMEIA IMAGEM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "BAIXA ARQUIVOS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FILTRAR ARQUIVOS COMPARTILHADOS": {
      "main": [
        []
      ]
    },
    "PEGA INFORMAÇÕES NECESSARIAS": {
      "main": [
        [
          {
            "node": "Filtrar por data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RENOMEIA PDF VAZIO": {
      "main": [
        []
      ]
    },
    "RENOMEIA PDF": {
      "main": [
        []
      ]
    },
    "RENOMEIA IMAGEM": {
      "main": [
        []
      ]
    },
    "RENOMEIA PDF SCANNEAVEL": {
      "main": [
        []
      ]
    },
    "PROCURAR NOME \"MOVIMENTO\"": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VARREDURA NAS PASTAS DE MOVIMENTO": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "PEGA INFORMAÇÕES NECESSARIAS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'Drive Activity'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Drive Activity'": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        []
      ]
    },
    "FILTRAR ARQUIVOS NÃO RENOMEADOS": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "PROCURAR NOME \"MOVIMENTO\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        []
      ]
    },
    "Code in JavaScript1": {
      "main": [
        []
      ]
    },
    "Busca '1. Movimento'1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Continuar?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Continuar?1": {
      "main": [
        [
          {
            "node": "Busca '1. Movimento'1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        []
      ]
    },
    "Loop Over Items2": {
      "main": [
        [],
        [
          {
            "node": "Call 'Varredura'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Varredura'": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
