workflows/RENOMEIO_GOOGLE_DRIVE_MOVIMENTO_CONTABIL_V_2.0_IhpmjBjtagVW4DS8.json
{
  "createdAt": "2025-10-14T14:43:00.100Z",
  "id": "IhpmjBjtagVW4DS8",
  "name": "RENOMEIO GOOGLE DRIVE MOVIMENTO CONTABIL V 2.0",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a1a462b5-53ac-4af0-9216-c85b3827b8d5",
              "leftValue": "={{ $json.name.includes('.pdf') }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "48208eb1-bc8f-4810-a7d9-83179814d06b",
              "leftValue": "={{ $json.name.includes('.jpg') }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "469a8599-cc65-4e7f-adc9-b7272f2cf7ee",
              "leftValue": "={{ $json.name.includes('.PDF') }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "2ede9023-2e61-4e49-8273-46cc84079e04",
              "leftValue": "={{ $json.name.includes('.jpeg') }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "1cbe92b2-d97e-4c0a-88f6-64edccabea87",
              "leftValue": "={{ $json.name.includes('.png') }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -416,
        1920
      ],
      "id": "6cbc5051-d6c1-4e35-b723-597b132bca34",
      "name": "FILTRO TIPO DE ARQUIVO"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        736,
        1904
      ],
      "id": "e767aed0-a3c6-4011-9c9b-0eaa46eb9a23",
      "name": "EXTRAÇÃO DO PDF",
      "retryOnFail": false,
      "alwaysOutputData": false,
      "executeOnce": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "01e0a39b-0dce-4e56-9d74-72d6011fd69d",
              "leftValue": "={{ $json.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "83546bc8-1221-40a4-a9ce-2bf7eb823dff",
              "leftValue": "={{ $json.text }}",
              "rightValue": "=^\\s*$",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            },
            {
              "id": "1342be4f-c657-4ee7-8181-d5dcd4360379",
              "leftValue": "={{ (($json.text ?? '')).length < 30 }}",
              "rightValue": "={{ $json.text.length < 30 ? \"\" : $json.text }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1184,
        1888
      ],
      "id": "0f2e9497-caaf-428d-98fa-781095e54242",
      "name": "SE O TEXTO FOR VAZIO"
    },
    {
      "parameters": {
        "content": "## Agente Responsavel por renomear Imagens\n\n\n",
        "height": 476,
        "width": 1080
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        688,
        2384
      ],
      "id": "36d9e64f-4be2-48a5-9a99-47e18b2ddc97",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Varredura de arquivos do drive e filtragem\n",
        "height": 556,
        "width": 2104,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2560,
        1824
      ],
      "id": "c2ebdc89-406c-45cf-8084-abf2297033d2",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4a2fe75b-0ab7-4a66-b6c6-ad4a8da7fd2f",
              "name": "=ID",
              "value": "={{ $('BAIXA ARQUIVOS').item.json.ID }}",
              "type": "string"
            },
            {
              "id": "cc351c79-e5a6-4604-a6de-a333a134f574",
              "name": "name",
              "value": "={{ $('BAIXA ARQUIVOS').item.json.name }}",
              "type": "string"
            },
            {
              "id": "8c96cd2d-5c5a-4a47-8858-f39cd5b3bdda",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        1888
      ],
      "id": "dc1a22c6-faba-4c37-8cbf-0c846ddcda3b",
      "name": "JUNTA TODOS OS DADOS"
    },
    {
      "parameters": {
        "content": "## Baixa os arquivos, extrai informações se for PDF, salva os binarios de cada arquivo e caso seja PDF Extraivel segue fluxo de cima e caso seja imagem segue fluxo de baixo\n\n\n",
        "height": 556,
        "width": 1080,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -448,
        1824
      ],
      "id": "d9804fb8-7999-458c-b891-e2a03429103f",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Agente Responsável por renomear PDFS com texto Extraivel\n",
        "height": 540,
        "width": 1080
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        688,
        1824
      ],
      "id": "0b370467-b338-4139-89ee-82023b819967",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "🚀 **Ferramentas utilizadas no fluxo**\n\n🟦 **Google Drive**  \nNó: Google Drive  \nFunção: Upload, download e gerenciamento de arquivos\n\n🤖 **OpenAI**  \nNó: HTTP Request + Funções  \nFunção: Processamento, análise e geração de texto com IA\n",
        "height": 280,
        "width": 540,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1616,
        1504
      ],
      "id": "166136c2-7c7d-46c8-bc32-1c663d93202c",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "2beea2a1-ff79-4412-9d9a-f552009ea040",
              "leftValue": "={{ $json.createdTime }}",
              "rightValue": "2025-10-08T08:00:00",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -560,
        1920
      ],
      "id": "3a1cc313-f480-49a2-afcd-bac7f6221798",
      "name": "Filtrar por data"
    },
    {
      "parameters": {
        "url": "=https://www.googleapis.com/drive/v3/files/{{$json.ID}}?alt=media&supportsAllDrives=true",
        "authentication": "[REDACTED]",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        528,
        2016
      ],
      "id": "db5c1754-8a1b-4a4b-926e-dfc8e3f6be95",
      "name": "BAIXA ARQUIVOS",
      "retryOnFail": false
    },
    {
      "parameters": {
        "batchSize": 6,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        32,
        1920
      ],
      "id": "40739644-19e7-4734-b14c-a56c13236d40",
      "name": "Loop Over Items",
      "retryOnFail": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "10bcaaa0-e92e-4ee4-8920-357d15b51ba0",
              "leftValue": "={{ $json.name }}",
              "rightValue": ".pdf",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "89f11755-c4c5-4c22-a14c-45fc89260bc6",
              "leftValue": "={{ $json.name }}",
              "rightValue": ".PDF",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        928,
        2160
      ],
      "id": "08d0af0f-e707-4835-b9be-c506a9f40382",
      "name": "É UM PDF ?"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "uTiS3qSlbvXUlCnx",
          "mode": "list",
          "cachedResultUrl": "[REDACTED]",
          "cachedResultName": "RENOMEIO PDF INCORRETO"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.ID }}",
            "name": "={{ $json.name }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1440,
        1872
      ],
      "id": "eba713e2-3a04-4079-bd5f-eba649c9ed2c",
      "name": "RENOMEIA PDF VAZIO"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "fN5uSWvKRujKur6R",
          "mode": "list",
          "cachedResultUrl": "[REDACTED]",
          "cachedResultName": "RENOMEIO PDFS INCORRETOS(ERRO)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.ID }}",
            "name": "={{ $json.name }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1456,
        2432
      ],
      "id": "50847db2-cb7e-405e-9f5b-754a668ce951",
      "name": "RENOMEIA PDF SCANNEAVEL"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "YDH3keRYE4xE3V2m",
          "mode": "list",
          "cachedResultUrl": "[REDACTED]",
          "cachedResultName": "RENOMEIA IMAGENS"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.ID }}",
            "name": "={{ $json.name}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1456,
        2656
      ],
      "id": "3a58b254-3eb2-47c3-b9ba-4cf00ee8268c",
      "name": "RENOMEIA IMAGEM"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Wc7jGiKMw11GOwwj",
          "mode": "list",
          "cachedResultUrl": "[REDACTED]",
          "cachedResultName": "RENOMEIA PDFS"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.ID }}",
            "name": "={{ $json.name }}",
            "text": "={{ $json.text }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1440,
        2080
      ],
      "id": "52dc3d30-5711-460e-a3d6-7e917801063d",
      "name": "RENOMEIA PDF"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        336,
        2016
      ],
      "id": "9abee0f5-8e63-4f69-820b-a553de4aad27",
      "name": "Wait",
      "webhookId": "c05a8790-421f-4616-a675-651f665fb114"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e0d7e7e2-9fef-434b-9793-7f7d06d3f38c",
              "leftValue": "={{ $json.ownedByMe }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -656,
        2208
      ],
      "id": "dc0ee303-919e-48b9-8362-df706e651b65",
      "name": "FILTRAR ARQUIVOS COMPARTILHADOS",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "78053564-cef8-4093-914e-2a037d918c05",
              "name": "ID",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "b85242f0-8095-4a11-88ea-4d677125d6c3",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "6bcf176f-ecb6-4eea-b99a-74d66dd6ff2b",
              "name": "createdTime",
              "value": "={{ $json.createdTime }}",
              "type": "string"
            },
            {
              "id": "69879d98-b5f6-4f85-bf62-52ee44a3a6ab",
              "name": "modifiedByMe",
              "value": "={{ $json.modifiedByMe }}",
              "type": "boolean"
            },
            {
              "id": "2ada4a96-8b9d-4eea-ad96-5aed13a6b995",
              "name": "fileExtension",
              "value": "={{ $json.fileExtension }}",
              "type": "string"
            },
            {
              "id": "d44e894e-4257-4784-a52c-318a459865eb",
              "name": "=modifiedByMeTime",
              "value": "={{ $json.modifiedByMe }}",
              "type": "boolean"
            },
            {
              "id": "dae67acf-5226-43e2-9bc2-ef2cb4c51c48",
              "name": "properties.Renomeado",
              "value": "={{ $json.renomeado }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -704,
        1920
      ],
      "id": "fccf9aa0-f16b-49c1-a01f-53abf82d044a",
      "name": "PEGA INFORMAÇÕES NECESSARIAS"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "=name contains '1.MOVIMENTO' and mimeType = 'application/vnd.google-apps.folder'\n",
        "returnAll": true,
        "filter": {},
        "options": {
          "fields": [
            "*"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2320,
        1984
      ],
      "id": "022d6327-9a89-4296-abc9-2e66b349e66a",
      "name": "PROCURAR NOME \"MOVIMENTO\""
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2128,
        1984
      ],
      "id": "c9325c0b-adc0-408c-9de7-00bb8b234d00",
      "name": "VARREDURA NAS PASTAS DE MOVIMENTO"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "444c7313-b2ac-43b9-8754-01477448837c",
              "leftValue": "={{ $json.name }}",
              "rightValue": "^(0?[1-9]|1[0-2])[.-]\\d{4}$",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1952,
        1984
      ],
      "id": "5318621e-baed-4c31-bfef-b5a413cf96e0",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "mode": "id",
            "value": "={{ $json.id }}"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1840,
        2128
      ],
      "id": "97572888-71e4-4af5-b922-10584b4a611a",
      "name": "Search files and folders"
    },
    {
      "parameters": {
        "batchSize": 50,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1376,
        1984
      ],
      "id": "708e8031-30e8-4b00-8aa5-df8b638bac8f",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "fknoxGG9U5fLOwI4",
          "mode": "list",
          "cachedResultUrl": "[REDACTED]",
          "cachedResultName": "File Add + Time Filter"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "folder_ids": "={{ $items().map(i => i.json.id) }}"
          },
          "matchingColumns": [
            "folder_ids"
          ],
          "schema": [
            {
              "id": "folder_ids",
              "displayName": "folder_ids",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1168,
        2000
      ],
      "id": "9d00d5cc-05b0-4337-bd3a-4753473f60ee",
      "name": "Call 'Drive Activity'"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -864,
        2000
      ],
      "id": "e0b1e0c9-56e9-4497-af29-941d06d39c66",
      "name": "Wait2",
      "webhookId": "a0fd6d7b-dc1b-44b9-80aa-c5cd3d2b5923"
    },
    {
      "parameters": {
        "jsCode": "// Cria um array para acumular todos os arquivos encontrados\nconst allFiles = [];\n\nfor (const item of $input.all()) {\n  const files = item.json.files;\n\n  // se o campo \"files\" não existe ou é vazio, pula\n  if (!Array.isArray(files) || files.length === 0) continue;\n\n  // adiciona os arquivos encontrados no acumulador\n  for (const f of files) {\n    allFiles.push(f);\n  }\n}\n\n// Se não houver nada, retorna um item vazio só pra manter consistência\nif (allFiles.length === 0) {\n  return [{ json: { info: 'Nenhum arquivo encontrado neste batch.' } }];\n}\n\n// Mapeia o formato final desejado\nreturn allFiles.map(file => ({\n  json: {\n    id: file.id,\n    name: file.name,\n    createdTime: file.createdTime,\n    fileExtension: file.fileExtension || file.name.split('.').pop(),\n    modifiedByMe: file.modifiedByMe || false,\n    renomeado: file.properties?.Renomeado || file.appProperties?.Renomeado || false\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1024,
        2000
      ],
      "id": "5fb1d3da-d97e-43a9-a341-21f7f9489acd",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1728,
        1984
      ],
      "id": "ecd111b8-878a-4133-842c-dab2ed0a1f98",
      "name": "Merge"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8af132c0-3ab3-429e-91a5-9fc6e657d217",
              "leftValue": "={{ $json.properties.Renomeado }}",
              "rightValue": "=true",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -240,
        1920
      ],
      "id": "907bf152-160e-49fd-88fd-c62470c65e42",
      "name": "FILTRAR ARQUIVOS NÃO RENOMEADOS"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2512,
        1984
      ],
      "id": "94d654fb-7369-4b72-9b5b-b8f13584127b",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "vN8RqT0WCvxgwu6R",
          "mode": "list",
          "cachedResultUrl": "[REDACTED]",
          "cachedResultName": "NOTIFICACAO RENOMEADOS"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1920,
        2304
      ],
      "id": "35ac92a3-a65e-4e99-9bc2-edf8a35206ac",
      "name": "Call 'NOTIFICACAO RENOMEADOS'",
      "onError": "[REDACTED]"
    }
  ],
  "connections": {
    "FILTRO TIPO DE ARQUIVO": {
      "main": [
        [
          {
            "node": "FILTRAR ARQUIVOS NÃO RENOMEADOS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EXTRAÇÃO DO PDF": {
      "main": [
        [
          {
            "node": "JUNTA TODOS OS DADOS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "É UM PDF ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SE O TEXTO FOR VAZIO": {
      "main": [
        [
          {
            "node": "RENOMEIA PDF VAZIO",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RENOMEIA PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JUNTA TODOS OS DADOS": {
      "main": [
        [
          {
            "node": "SE O TEXTO FOR VAZIO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar por data": {
      "main": [
        [
          {
            "node": "FILTRO TIPO DE ARQUIVO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BAIXA ARQUIVOS": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "EXTRAÇÃO DO PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É UM PDF ?": {
      "main": [
        [
          {
            "node": "RENOMEIA PDF SCANNEAVEL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RENOMEIA IMAGEM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "BAIXA ARQUIVOS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FILTRAR ARQUIVOS COMPARTILHADOS": {
      "main": [
        []
      ]
    },
    "PEGA INFORMAÇÕES NECESSARIAS": {
      "main": [
        [
          {
            "node": "Filtrar por data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RENOMEIA PDF VAZIO": {
      "main": [
        [
          {
            "node": "Call 'NOTIFICACAO RENOMEADOS'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RENOMEIA PDF": {
      "main": [
        [
          {
            "node": "Call 'NOTIFICACAO RENOMEADOS'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RENOMEIA IMAGEM": {
      "main": [
        [
          {
            "node": "Call 'NOTIFICACAO RENOMEADOS'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RENOMEIA PDF SCANNEAVEL": {
      "main": [
        [
          {
            "node": "Call 'NOTIFICACAO RENOMEADOS'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PROCURAR NOME \"MOVIMENTO\"": {
      "main": [
        [
          {
            "node": "VARREDURA NAS PASTAS DE MOVIMENTO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VARREDURA NAS PASTAS DE MOVIMENTO": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "PEGA INFORMAÇÕES NECESSARIAS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'Drive Activity'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Drive Activity'": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FILTRAR ARQUIVOS NÃO RENOMEADOS": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "PROCURAR NOME \"MOVIMENTO\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "versionCounter": 1
}
