workflows/RENOMEIA_PDFS_Wc7jGiKMw11GOwwj.json
{"createdAt":"2025-09-11T17:39:01.100Z","id":"Wc7jGiKMw11GOwwj","name":"RENOMEIA PDFS","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"update","fileId":{"__rl":true,"value":"={{ $('When Executed by Another Workflow').item.json.ID }}","mode":"id"},"newUpdatedFileName":"={{ $json.message.content['Data de pagamento'] }} - {{ $json.message.content.Beneficiario.toUpperCase() }} - {{ $json.message.content['Valor total'] }}{{ $json.message.content['Tipo de arquivo'] != [empty] && $json.message.content['Tipo de arquivo'] != \"DADO_NAO_ENCONTRADO\" ? $json.message.content['Tipo de arquivo'] : $json.message.content.TipoDocumento  }}.pdf","options":{"propertiesUi":{"propertyValues":[{"key":"[REDACTED]","value":"={{ true }}"}]}}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[560,176],"id":"9153eab2-b550-4aae-a9ab-6b0f5d7d5756","name":"RENOMEAR ARQUIVO1"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"[REDACTED]","mode":"list","cachedResultName":"Arquivos","cachedResultUrl":"[REDACTED]"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"[REDACTED]"},"columns":{"mappingMode":"defineBelow","value":{"ID":"={{ $json.id }}","Nome":"={{ $json.name }}"},"matchingColumns":["ID"],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[752,176],"id":"20d81636-073e-42cc-838c-9797e7d82a3d","name":"ATUALIZAR PLANILHA2"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"[REDACTED]","role":"system"}]},"jsonOutput":true,"options":{"temperature":0.1}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[48,224],"id":"996057c2-1453-49d0-8d89-651cba87e879","name":"OpenAI","retryOnFail":true},{"parameters":{"batchSize":6,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-128,192],"id":"bed5f544-e718-43ca-a36e-9b55202741cd","name":"Loop Over Items1"},{"parameters":{"amount":0.3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[336,224],"id":"55ee06cf-ce65-42af-b103-34040d0cfa26","name":"ESPERA 1 SEC1","webhookId":"98aa0b75-6c3b-46bf-8e9e-09b0f7bc809c"},{"parameters":{"workflowInputs":{"values":[{"name":"ID"},{"name":"name"},{"name":"text"}]}},"type":"[REDACTED]","typeVersion":1.1,"position":[-368,192],"id":"cb854a78-c0e3-4148-abd6-570172640ec5","name":"When Executed by Another Workflow"}],"connections":{"RENOMEAR ARQUIVO1":{"main":[[]]},"OpenAI":{"main":[[{"node":"ESPERA 1 SEC1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"RENOMEAR ARQUIVO1","type":"main","index":0}],[{"node":"OpenAI","type":"main","index":0}]]},"ESPERA 1 SEC1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]}}}