workflows/RENOMEIO_GOOGLE_DRIVE_MOVIMENTO_CONTABIL_V_1.0_48iQdohRDtlHvC2r.json
{
  "createdAt": "2025-10-06T18:19:14.689Z",
  "id": "48iQdohRDtlHvC2r",
  "name": "RENOMEIO GOOGLE DRIVE MOVIMENTO CONTABIL V 1.0",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a1a462b5-53ac-4af0-9216-c85b3827b8d5",
              "leftValue": "={{ $json.name.includes('.pdf') }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "48208eb1-bc8f-4810-a7d9-83179814d06b",
              "leftValue": "={{ $json.name.includes('.jpg') }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "469a8599-cc65-4e7f-adc9-b7272f2cf7ee",
              "leftValue": "={{ $json.name.includes('.PDF') }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "2ede9023-2e61-4e49-8273-46cc84079e04",
              "leftValue": "={{ $json.name.includes('.jpeg') }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "1cbe92b2-d97e-4c0a-88f6-64edccabea87",
              "leftValue": "={{ $json.name.includes('.png') }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -864,
        1872
      ],
      "id": "ffbe6698-edc3-4474-a166-8d230c656fae",
      "name": "FILTRO TIPO DE ARQUIVO"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        176,
        1920
      ],
      "id": "32b71fc9-7207-4d3f-be57-ad336ad24884",
      "name": "EXTRAÇÃO DO PDF",
      "retryOnFail": false,
      "alwaysOutputData": false,
      "executeOnce": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "01e0a39b-0dce-4e56-9d74-72d6011fd69d",
              "leftValue": "={{ $json.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "83546bc8-1221-40a4-a9ce-2bf7eb823dff",
              "leftValue": "={{ $json.text }}",
              "rightValue": "=^\\s*$",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            },
            {
              "id": "1342be4f-c657-4ee7-8181-d5dcd4360379",
              "leftValue": "={{ (($json.text ?? '')).length < 30 }}",
              "rightValue": "={{ $json.text.length < 30 ? \"\" : $json.text }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        752,
        1904
      ],
      "id": "613484bb-8e86-447c-b297-ff62706a9e0b",
      "name": "SE O TEXTO FOR VAZIO"
    },
    {
      "parameters": {
        "content": "## Agente Responsavel por renomear Imagens\n\n\n",
        "height": 476,
        "width": 1080
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        688,
        2384
      ],
      "id": "1b8a1bab-0cd3-4cb4-829d-b648c4da0947",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Varredura de arquivos do drive e filtragem\n",
        "height": 556,
        "width": 2104,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2560,
        1824
      ],
      "id": "74d965a0-aa29-45dc-9e27-cd32612e76dd",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4a2fe75b-0ab7-4a66-b6c6-ad4a8da7fd2f",
              "name": "=ID",
              "value": "={{ $('BAIXA ARQUIVOS').item.json.ID }}",
              "type": "string"
            },
            {
              "id": "cc351c79-e5a6-4604-a6de-a333a134f574",
              "name": "name",
              "value": "={{ $('BAIXA ARQUIVOS').item.json.name }}",
              "type": "string"
            },
            {
              "id": "8c96cd2d-5c5a-4a47-8858-f39cd5b3bdda",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        1904
      ],
      "id": "e2cfa5cb-3585-4e5b-97b9-f70e3d5b770f",
      "name": "JUNTA TODOS OS DADOS"
    },
    {
      "parameters": {
        "content": "## Baixa os arquivos, extrai informações e chama os subfluxos para cada caso\n\n\n\n",
        "height": 556,
        "width": 1112,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -448,
        1824
      ],
      "id": "89ea2d89-a751-432d-9d68-4044cd09e3b2",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Agente Responsável por renomear PDFS com texto Extraivel\n",
        "height": 540,
        "width": 1080
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        688,
        1824
      ],
      "id": "832cffa5-2758-479a-95c4-fe1f54681c01",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "🚀 **Ferramentas utilizadas no fluxo**\n\n🟦 **Google Drive**  \nNó: Google Drive  \nFunção: Upload, download e gerenciamento de arquivos\n\n🤖 **OpenAI**  \nNó: HTTP Request + Funções  \nFunção: Processamento, análise e geração de texto com IA\n",
        "height": 280,
        "width": 540,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1616,
        1504
      ],
      "id": "61e693bc-97aa-4710-ae8d-d6a1789232dd",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "2beea2a1-ff79-4412-9d9a-f552009ea040",
              "leftValue": "={{ $json.createdTime }}",
              "rightValue": "2025-10-08T08:00:00",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -1024,
        1872
      ],
      "id": "4e6e4980-c444-4f00-9b3f-294eb4b12be4",
      "name": "Filtrar por data"
    },
    {
      "parameters": {
        "url": "=https://www.googleapis.com/drive/v3/files/{{$json.ID}}?alt=media&supportsAllDrives=true",
        "authentication": "[REDACTED]",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        2016
      ],
      "id": "c7dc852c-b7d6-41c4-9a3a-1de7aae1f91b",
      "name": "BAIXA ARQUIVOS",
      "retryOnFail": false
    },
    {
      "parameters": {
        "batchSize": 6,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -384,
        1936
      ],
      "id": "20981ad5-95e3-4bdd-a2e6-fd476af2e6d6",
      "name": "Loop Over Items",
      "retryOnFail": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "10bcaaa0-e92e-4ee4-8920-357d15b51ba0",
              "leftValue": "={{ $json.name }}",
              "rightValue": ".pdf",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "89f11755-c4c5-4c22-a14c-45fc89260bc6",
              "leftValue": "={{ $json.name }}",
              "rightValue": ".PDF",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        752,
        2080
      ],
      "id": "2d9dc0e5-8a8e-4197-9e1e-c909fb2ce100",
      "name": "É UM PDF ?"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "uTiS3qSlbvXUlCnx",
          "mode": "list",
          "cachedResultUrl": "[REDACTED]",
          "cachedResultName": "RENOMEIO PDF INCORRETO"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.ID }}",
            "name": "={{ $json.name }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1440,
        1872
      ],
      "id": "599b2a73-2a1e-4dcf-8bfd-b9f8d10f3222",
      "name": "RENOMEIA PDF VAZIO"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "fN5uSWvKRujKur6R",
          "mode": "list",
          "cachedResultUrl": "[REDACTED]",
          "cachedResultName": "RENOMEIO PDFS INCORRETOS(ERRO)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.ID }}",
            "name": "={{ $json.name }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1456,
        2432
      ],
      "id": "bebfd29c-40f7-4c87-af1d-1fb0e7feab1a",
      "name": "RENOMEIA PDF SCANNEAVEL"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "YDH3keRYE4xE3V2m",
          "mode": "list",
          "cachedResultUrl": "[REDACTED]",
          "cachedResultName": "RENOMEIA IMAGENS"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.ID }}",
            "name": "={{ $json.name}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1456,
        2656
      ],
      "id": "924550ea-dae1-4ea0-a8c0-66ffb9613749",
      "name": "RENOMEIA IMAGEM"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Wc7jGiKMw11GOwwj",
          "mode": "list",
          "cachedResultUrl": "[REDACTED]",
          "cachedResultName": "RENOMEIA PDFS"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.ID }}",
            "name": "={{ $json.name }}",
            "text": "={{ $json.text }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1440,
        2080
      ],
      "id": "751e6ea4-4f85-426b-90a3-6101b4991e83",
      "name": "RENOMEIA PDF"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -208,
        2016
      ],
      "id": "41092726-97c3-489b-b7d2-4cc2494a1fab",
      "name": "Wait",
      "webhookId": "b6b473ad-42ab-4323-8ff1-a7c12a6f2703"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e0d7e7e2-9fef-434b-9793-7f7d06d3f38c",
              "leftValue": "={{ $json.ownedByMe }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -656,
        2208
      ],
      "id": "25c8131c-47a4-4dd2-836d-a2757b2fd439",
      "name": "FILTRAR ARQUIVOS COMPARTILHADOS",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "78053564-cef8-4093-914e-2a037d918c05",
              "name": "ID",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "b85242f0-8095-4a11-88ea-4d677125d6c3",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "6bcf176f-ecb6-4eea-b99a-74d66dd6ff2b",
              "name": "createdTime",
              "value": "={{ $json.createdTime }}",
              "type": "string"
            },
            {
              "id": "69879d98-b5f6-4f85-bf62-52ee44a3a6ab",
              "name": "modifiedByMe",
              "value": "={{ $json.modifiedByMe }}",
              "type": "boolean"
            },
            {
              "id": "2ada4a96-8b9d-4eea-ad96-5aed13a6b995",
              "name": "fileExtension",
              "value": "={{ $json.fileExtension }}",
              "type": "string"
            },
            {
              "id": "d44e894e-4257-4784-a52c-318a459865eb",
              "name": "=modifiedByMeTime",
              "value": "={{ $json.modifiedByMe }}",
              "type": "boolean"
            },
            {
              "id": "dae67acf-5226-43e2-9bc2-ef2cb4c51c48",
              "name": "properties.Renomeado",
              "value": "={{ $json.renomeado }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1168,
        1872
      ],
      "id": "7aab10da-7561-47e8-9b1f-5d31cee1924c",
      "name": "PEGA INFORMAÇÕES NECESSARIAS"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "=name contains '1.MOVIMENTO' and mimeType = 'application/vnd.google-apps.folder'\n",
        "returnAll": true,
        "filter": {},
        "options": {
          "fields": [
            "*"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2320,
        1984
      ],
      "id": "ddeb8f28-5e67-4cf2-ba34-68c6181a4332",
      "name": "PROCURAR NOME \"MOVIMENTO\"",
      "retryOnFail": true
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2128,
        1984
      ],
      "id": "78eafef3-c6f6-49b6-94a7-6cf3106efa5c",
      "name": "VARREDURA NAS PASTAS DE MOVIMENTO",
      "retryOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "444c7313-b2ac-43b9-8754-01477448837c",
              "leftValue": "={{ $json.name }}",
              "rightValue": "^(0?[1-9]|1[0-2])[.-]\\d{4}$",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1952,
        1984
      ],
      "id": "2a64c219-9a17-409e-ac23-63af254d5bd5",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "mode": "id",
            "value": "={{ $json.id }}"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1840,
        2128
      ],
      "id": "b5c1e84a-589f-407c-83d5-0a6d8160fcab",
      "name": "Search files and folders",
      "retryOnFail": true
    },
    {
      "parameters": {
        "batchSize": 50,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1376,
        1984
      ],
      "id": "69f2abaf-1c14-4df3-bf72-4e65add684d7",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -864,
        2000
      ],
      "id": "d96300e7-2ff7-491b-86ed-481760608ad3",
      "name": "Wait2",
      "webhookId": "ed8e5501-8900-4307-9973-93b08de8b914"
    },
    {
      "parameters": {
        "jsCode": "// Cria um array para acumular todos os arquivos encontrados\nconst allFiles = [];\n\nfor (const item of $input.all()) {\n  const files = item.json.files;\n\n  // se o campo \"files\" não existe ou é vazio, pula\n  if (!Array.isArray(files) || files.length === 0) continue;\n\n  // adiciona os arquivos encontrados no acumulador\n  for (const f of files) {\n    allFiles.push(f);\n  }\n}\n\n// Se não houver nada, retorna um item vazio só pra manter consistência\nif (allFiles.length === 0) {\n  return [{ json: { info: 'Nenhum arquivo encontrado neste batch.' } }];\n}\n\n// Mapeia o formato final desejado\nreturn allFiles.map(file => ({\n  json: {\n    id: file.id,\n    name: file.name,\n    createdTime: file.createdTime,\n    fileExtension: file.fileExtension || file.name.split('.').pop(),\n    modifiedByMe: file.modifiedByMe || false,\n    renomeado: file.properties?.Renomeado || file.appProperties?.Renomeado || false\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1024,
        2000
      ],
      "id": "5b0123d0-1732-47e5-90a2-dee37493e9df",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1728,
        1984
      ],
      "id": "7fce6aee-e699-4147-bbc9-d852ba105c1c",
      "name": "Merge"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8af132c0-3ab3-429e-91a5-9fc6e657d217",
              "leftValue": "={{ $json.properties.Renomeado }}",
              "rightValue": "=true",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -672,
        1872
      ],
      "id": "766c361e-419a-419a-be9a-f8e49404cbd0",
      "name": "FILTRAR ARQUIVOS NÃO RENOMEADOS"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2512,
        1984
      ],
      "id": "f464b4de-ad49-4637-88a0-18d6a05f3aee",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "fknoxGG9U5fLOwI4",
          "mode": "list",
          "cachedResultUrl": "[REDACTED]",
          "cachedResultName": "File Add + Time Filter"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "folder_ids": "={{ $items().map(i => i.json.id) }}"
          },
          "matchingColumns": [
            "folder_ids"
          ],
          "schema": [
            {
              "id": "folder_ids",
              "displayName": "folder_ids",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1168,
        2000
      ],
      "id": "7f4c0885-a5c5-41ea-b197-7fa70955a5fd",
      "name": "varredura_arquivos"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "vN8RqT0WCvxgwu6R",
          "mode": "list",
          "cachedResultUrl": "[REDACTED]",
          "cachedResultName": "NOTIFICACAO RENOMEADOS"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1824,
        2240
      ],
      "id": "4b733bd2-3531-4cff-9743-081cb559b752",
      "name": "Call 'NOTIFICACAO RENOMEADOS'",
      "onError": "[REDACTED]"
    }
  ],
  "connections": {
    "FILTRO TIPO DE ARQUIVO": {
      "main": [
        [
          {
            "node": "FILTRAR ARQUIVOS NÃO RENOMEADOS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EXTRAÇÃO DO PDF": {
      "main": [
        [
          {
            "node": "JUNTA TODOS OS DADOS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "É UM PDF ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SE O TEXTO FOR VAZIO": {
      "main": [
        [
          {
            "node": "RENOMEIA PDF VAZIO",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RENOMEIA PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JUNTA TODOS OS DADOS": {
      "main": [
        [
          {
            "node": "SE O TEXTO FOR VAZIO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar por data": {
      "main": [
        [
          {
            "node": "FILTRO TIPO DE ARQUIVO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BAIXA ARQUIVOS": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "EXTRAÇÃO DO PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É UM PDF ?": {
      "main": [
        [
          {
            "node": "RENOMEIA PDF SCANNEAVEL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RENOMEIA IMAGEM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "BAIXA ARQUIVOS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FILTRAR ARQUIVOS COMPARTILHADOS": {
      "main": [
        []
      ]
    },
    "PEGA INFORMAÇÕES NECESSARIAS": {
      "main": [
        [
          {
            "node": "Filtrar por data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RENOMEIA PDF VAZIO": {
      "main": [
        [
          {
            "node": "Call 'NOTIFICACAO RENOMEADOS'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RENOMEIA PDF": {
      "main": [
        [
          {
            "node": "Call 'NOTIFICACAO RENOMEADOS'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RENOMEIA IMAGEM": {
      "main": [
        [
          {
            "node": "Call 'NOTIFICACAO RENOMEADOS'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RENOMEIA PDF SCANNEAVEL": {
      "main": [
        [
          {
            "node": "Call 'NOTIFICACAO RENOMEADOS'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PROCURAR NOME \"MOVIMENTO\"": {
      "main": [
        [
          {
            "node": "VARREDURA NAS PASTAS DE MOVIMENTO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VARREDURA NAS PASTAS DE MOVIMENTO": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "PEGA INFORMAÇÕES NECESSARIAS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "varredura_arquivos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FILTRAR ARQUIVOS NÃO RENOMEADOS": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "PROCURAR NOME \"MOVIMENTO\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "varredura_arquivos": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "versionCounter": 128
}
