workflows/RENOMEIO_GOOGLE_DRIVE_MOVIMENTO_CONTABIL_6yxkTWgRGKvqyqyl.json
{
  "createdAt": "2025-05-28T13:36:07.852Z",
  "id": "6yxkTWgRGKvqyqyl",
  "name": "RENOMEIO GOOGLE DRIVE MOVIMENTO CONTABIL",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "ID",
        "joinMode": "keepNonMatches",
        "outputDataFrom": "input2",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        2224,
        3040
      ],
      "id": "a0cb7c7c-66f7-4205-ba0e-3b702acb6dcc",
      "name": "RETORNA O ITEM FORA DA PLANILHA",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a1a462b5-53ac-4af0-9216-c85b3827b8d5",
              "leftValue": "={{ $json.name.includes('.pdf') }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "48208eb1-bc8f-4810-a7d9-83179814d06b",
              "leftValue": "={{ $json.name.includes('.jpg') }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "469a8599-cc65-4e7f-adc9-b7272f2cf7ee",
              "leftValue": "={{ $json.name.includes('.PDF') }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "2ede9023-2e61-4e49-8273-46cc84079e04",
              "leftValue": "={{ $json.name.includes('.jpeg') }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "1cbe92b2-d97e-4c0a-88f6-64edccabea87",
              "leftValue": "={{ $json.name.includes('.png') }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -800,
        1920
      ],
      "id": "17874312-8a23-48ed-a21a-f15b59f59a24",
      "name": "FILTRO TIPO DE ARQUIVO"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1008,
        1904
      ],
      "id": "391667a6-1a7e-4b20-8f79-d615d4f33b3f",
      "name": "EXTRAÇÃO DO PDF",
      "retryOnFail": false,
      "alwaysOutputData": false,
      "executeOnce": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "01e0a39b-0dce-4e56-9d74-72d6011fd69d",
              "leftValue": "={{ $json.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "83546bc8-1221-40a4-a9ce-2bf7eb823dff",
              "leftValue": "={{ $json.text }}",
              "rightValue": "=^\\s*$",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            },
            {
              "id": "1342be4f-c657-4ee7-8181-d5dcd4360379",
              "leftValue": "={{ (($json.text ?? '')).length < 30 }}",
              "rightValue": "={{ $json.text.length < 30 ? \"\" : $json.text }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1504,
        1904
      ],
      "id": "d4714139-8d17-4419-bf1c-9072d32dbc5e",
      "name": "SE O TEXTO FOR VAZIO"
    },
    {
      "parameters": {
        "content": "## Agente Responsavel por renomear Imagens\n\n\n",
        "height": 540,
        "width": 1080
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        752,
        2400
      ],
      "id": "15881868-2278-44e0-98f6-8063d9ae13f3",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1fvoZsrFIUSPYah3jmH4N-aotcEOyYtFkSm8RYkW8nFQ",
          "mode": "list",
          "cachedResultName": "Arquivos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fvoZsrFIUSPYah3jmH4N-aotcEOyYtFkSm8RYkW8nFQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fvoZsrFIUSPYah3jmH4N-aotcEOyYtFkSm8RYkW8nFQ/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        2416,
        3040
      ],
      "id": "a4af93c4-8d16-4fe3-8ee4-20a03fe76e29",
      "name": "CONSULTAR IDS NA PLANILHA",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ikCsPDocQe5HfNYt",
          "name": "API GOOGLE - IAPESSOAS"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Varredura de arquivos do drive e filtragem\n",
        "height": 540,
        "width": 1640,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2176,
        1792
      ],
      "id": "a5a6c61e-3ffe-4d7f-8aa9-9cfee34f67c2",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4a2fe75b-0ab7-4a66-b6c6-ad4a8da7fd2f",
              "name": "ID",
              "value": "={{ $('BAIXA ARQUIVOS').item.json.ID }}",
              "type": "string"
            },
            {
              "id": "cc351c79-e5a6-4604-a6de-a333a134f574",
              "name": "name",
              "value": "={{ $('BAIXA ARQUIVOS').item.json.name }}",
              "type": "string"
            },
            {
              "id": "8c96cd2d-5c5a-4a47-8858-f39cd5b3bdda",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1200,
        1904
      ],
      "id": "26e386cf-fced-4bbf-86e0-aa01d99dd497",
      "name": "JUNTA TODOS OS DADOS"
    },
    {
      "parameters": {
        "content": "## Baixa os arquivos, extrai informações se for PDF, salva os binarios de cada arquivo e caso seja PDF Extraivel segue fluxo de cima e caso seja imagem segue fluxo de baixo\n\n\n",
        "height": 540,
        "width": 1080,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -448,
        1792
      ],
      "id": "749a33cd-c4dc-4113-a74d-4cce3295921d",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Agente Responsável por renomear PDFS com texto Extraivel\n",
        "height": 540,
        "width": 1080
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        736,
        1792
      ],
      "id": "6ce1cfc5-3d01-4823-80b1-f6432203b5e1",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "🚀 **Ferramentas utilizadas no fluxo**\n\n🟦 **Google Drive**  \nNó: Google Drive  \nFunção: Upload, download e gerenciamento de arquivos\n\n🤖 **OpenAI**  \nNó: HTTP Request + Funções  \nFunção: Processamento, análise e geração de texto com IA\n",
        "height": 280,
        "width": 540,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1616,
        1504
      ],
      "id": "5b4492c1-30ee-4635-b5f9-05e4a667e9ae",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "2beea2a1-ff79-4412-9d9a-f552009ea040",
              "leftValue": "={{ $json.createdTime }}",
              "rightValue": "2025-10-06T14:45:26",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -192,
        1920
      ],
      "id": "4da56c91-383b-4981-826a-1e4b493f8b33",
      "name": "Filtrar por data"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1fvoZsrFIUSPYah3jmH4N-aotcEOyYtFkSm8RYkW8nFQ",
          "mode": "list",
          "cachedResultName": "Arquivos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fvoZsrFIUSPYah3jmH4N-aotcEOyYtFkSm8RYkW8nFQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fvoZsrFIUSPYah3jmH4N-aotcEOyYtFkSm8RYkW8nFQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.id }}",
            "Nome": "={{ $json.name }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        2352,
        2736
      ],
      "id": "365e754a-d39d-41df-ae0b-3fd8a0e67080",
      "name": "ATUALIZAR PLANILHA1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ikCsPDocQe5HfNYt",
          "name": "API GOOGLE - IAPESSOAS"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "url": "=https://www.googleapis.com/drive/v3/files/{{$json.ID}}?alt=media&supportsAllDrives=true",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2512,
        2720
      ],
      "id": "8e631e7a-cfa8-424d-9598-0a304c2185e9",
      "name": "BAIXA PDFS INCORRETOS2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "rzP1eQCZan8TdHlL",
          "name": "API IA PESSOAS"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "url": "=https://www.googleapis.com/drive/v3/files/{{$json.ID}}?alt=media&supportsAllDrives=true",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        528,
        2016
      ],
      "id": "fd581e4c-6136-476a-a490-a3dea1c540fe",
      "name": "BAIXA ARQUIVOS",
      "retryOnFail": false,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "rzP1eQCZan8TdHlL",
          "name": "API IA PESSOAS"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 6,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        112,
        1920
      ],
      "id": "412b0aa1-ca5e-4529-8170-b91481bda809",
      "name": "Loop Over Items",
      "retryOnFail": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "10bcaaa0-e92e-4ee4-8920-357d15b51ba0",
              "leftValue": "={{ $json.name }}",
              "rightValue": ".pdf",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "89f11755-c4c5-4c22-a14c-45fc89260bc6",
              "leftValue": "={{ $json.name }}",
              "rightValue": ".PDF",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1008,
        2160
      ],
      "id": "fb7daf57-cb9e-4ad9-ba86-18301288d9bd",
      "name": "É UM PDF ?"
    },
    {
      "parameters": {
        "operation": "update",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.ID }}",
          "mode": "id"
        },
        "newUpdatedFileName": "={{ $json.name.replace('.pdf', '') + ' - RENOMEIO MANUAL.pdf' }}\n",
        "options": {
          "propertiesUi": {
            "propertyValues": [
              {
                "key": "[REDACTED]",
                "value": "={{ true }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2160,
        2736
      ],
      "id": "32b897ab-c460-4545-bf37-d9fc94576389",
      "name": "RENOMEAR PDF INCORRETO",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "rzP1eQCZan8TdHlL",
          "name": "API IA PESSOAS"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "uTiS3qSlbvXUlCnx",
          "mode": "list",
          "cachedResultName": "RENOMEIO PDF INCORRETO"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.ID }}",
            "Name": "={{ $json.name }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1856,
        1920
      ],
      "id": "750a5db7-b9ae-4986-aa53-aacadbd1db79",
      "name": "RENOMEIA PDF VAZIO"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "fN5uSWvKRujKur6R",
          "mode": "list",
          "cachedResultName": "RENOMEIO PDFS INCORRETOS(ERRO)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.ID }}",
            "name": "={{ $json.name }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1328,
        2560
      ],
      "id": "3f4824f4-f66e-4ccd-a7ad-6060aa9531fb",
      "name": "RENOMEIA PDF SCANNEAVEL"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "YDH3keRYE4xE3V2m",
          "mode": "list",
          "cachedResultName": "RENOMEIA IMAGENS"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.ID }}",
            "name": "={{ $json.name}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1856,
        2592
      ],
      "id": "679fa076-245e-4862-896f-78dcac95c829",
      "name": "RENOMEIA IMAGEM"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Wc7jGiKMw11GOwwj",
          "mode": "list",
          "cachedResultUrl": "/workflow/Wc7jGiKMw11GOwwj",
          "cachedResultName": "RENOMEIA PDFS"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.ID }}",
            "name": "={{ $json.name }}",
            "text": "={{ $json.text }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1856,
        2064
      ],
      "id": "cdc6106d-2a77-4d06-b130-3ea1a989641f",
      "name": "RENOMEIA PDF"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        336,
        2016
      ],
      "id": "faf3519c-a85c-4633-828f-edde31f53cb9",
      "name": "Wait",
      "webhookId": "c01df5f2-ca18-499e-9173-e2c16d3f13eb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5f680dd5-8bf5-4f4c-90e1-2add8019ea67",
              "name": "Response",
              "value": "Feito",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2336,
        2896
      ],
      "id": "b87d78cd-0f14-42b6-8106-fecc83ed2a18",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e0d7e7e2-9fef-434b-9793-7f7d06d3f38c",
              "leftValue": "={{ $json.ownedByMe }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -1040,
        2144
      ],
      "id": "d52407aa-dd77-4f05-bd1d-80cdcf7d988e",
      "name": "FILTRAR ARQUIVOS COMPARTILHADOS"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "78053564-cef8-4093-914e-2a037d918c05",
              "name": "ID",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "b85242f0-8095-4a11-88ea-4d677125d6c3",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "6bcf176f-ecb6-4eea-b99a-74d66dd6ff2b",
              "name": "createdTime",
              "value": "={{ $json.createdTime }}",
              "type": "string"
            },
            {
              "id": "69879d98-b5f6-4f85-bf62-52ee44a3a6ab",
              "name": "modifiedByMe",
              "value": "={{ $json.modifiedByMe }}",
              "type": "boolean"
            },
            {
              "id": "2ada4a96-8b9d-4eea-ad96-5aed13a6b995",
              "name": "fileExtension",
              "value": "={{ $json.fileExtension }}",
              "type": "string"
            },
            {
              "id": "d44e894e-4257-4784-a52c-318a459865eb",
              "name": "modifiedByMeTime",
              "value": "={{ $json.modifiedByMeTime }}",
              "type": "string"
            },
            {
              "id": "dae67acf-5226-43e2-9bc2-ef2cb4c51c48",
              "name": "properties.Renomeado",
              "value": "={{ $json.properties.Renomeado }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -976,
        1920
      ],
      "id": "ef73dce0-a16b-411b-88a4-6e42ffc81d63",
      "name": "PEGA INFORMAÇÕES NECESSARIAS"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8af132c0-3ab3-429e-91a5-9fc6e657d217",
              "leftValue": "={{ $json.properties.Renomeado }}",
              "rightValue": "=true",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -656,
        1920
      ],
      "id": "b2231e31-a48b-4f9e-9f01-2e3fcfc222cf",
      "name": "FILTRAR ARQUIVOS RENOMEADOS"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1936,
        2464
      ],
      "id": "dcc0d1f4-2e41-4d59-ac23-d27b54a71973",
      "name": "Schedule Trigger",
      "disabled": true
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          }
        },
        "options": {
          "fields": [
            "*"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1232,
        1920
      ],
      "id": "36deaf69-87c7-4398-9dd5-1202d5f8d3db",
      "name": "Search files and folders1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "rzP1eQCZan8TdHlL",
          "name": "API IA PESSOAS"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "=name contains '1.MOVIMENTO' and mimeType = 'application/vnd.google-apps.folder'\n",
        "returnAll": true,
        "filter": {},
        "options": {
          "fields": [
            "*"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1904,
        1936
      ],
      "id": "819ff63f-aefd-41a8-ad7b-548db4d5c11f",
      "name": "PROCURAR NOME \"MOVIMENTO\"",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "NSZ4PVYUVpW9BRa9",
          "name": "Google Drive API Triagem"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1744,
        1936
      ],
      "id": "313d8b32-8fbc-45f9-9fa4-1d2f682c0abf",
      "name": "VARREDURA NAS PASTAS DE MOVIMENTO",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "NSZ4PVYUVpW9BRa9",
          "name": "Google Drive API Triagem"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "444c7313-b2ac-43b9-8754-01477448837c",
              "leftValue": "={{ $json.name }}",
              "rightValue": "^(0?[1-9]|1[0-2])[.-]\\d{4}$",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1584,
        1936
      ],
      "id": "4204ce48-e34f-4246-9a26-64d1c886f06d",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "mode": "id",
            "value": "={{ $json.id }}"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1424,
        2096
      ],
      "id": "b495e452-74fe-41fa-889d-39557e30e891",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "rzP1eQCZan8TdHlL",
          "name": "API IA PESSOAS"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2400,
        2544
      ],
      "id": "1946baa9-023a-4dfa-99b1-0a1b842814e0",
      "name": "Search files and folders2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "rzP1eQCZan8TdHlL",
          "name": "API IA PESSOAS"
        }
      },
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2144,
        1936
      ],
      "id": "b0a35df4-83ab-49e3-8852-3f904d99b9c0",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1888,
        2144
      ],
      "id": "a15caec8-9a31-4ade-90db-f6f0e63a2d2d",
      "name": "PROCURAR NOME \"MOVIMENTO\"1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "NSZ4PVYUVpW9BRa9",
          "name": "Google Drive API Triagem"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://www.googleapis.com/drive/v3/files/{{$json.id}}?alt=media&supportsAllDrives=true",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1696,
        2464
      ],
      "id": "a5dd5bf6-800d-4bfd-b7df-ce2869d34114",
      "name": "HTTP Request",
      "retryOnFail": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "NSZ4PVYUVpW9BRa9",
          "name": "Google Drive API Triagem"
        }
      },
      "disabled": true,
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "RETORNA O ITEM FORA DA PLANILHA": {
      "main": [
        []
      ]
    },
    "FILTRO TIPO DE ARQUIVO": {
      "main": [
        [
          {
            "node": "FILTRAR ARQUIVOS RENOMEADOS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EXTRAÇÃO DO PDF": {
      "main": [
        [
          {
            "node": "JUNTA TODOS OS DADOS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "É UM PDF ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SE O TEXTO FOR VAZIO": {
      "main": [
        [
          {
            "node": "RENOMEIA PDF VAZIO",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RENOMEIA PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CONSULTAR IDS NA PLANILHA": {
      "main": [
        []
      ]
    },
    "JUNTA TODOS OS DADOS": {
      "main": [
        [
          {
            "node": "SE O TEXTO FOR VAZIO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar por data": {
      "main": [
        []
      ]
    },
    "BAIXA PDFS INCORRETOS2": {
      "main": [
        [
          {
            "node": "RENOMEAR PDF INCORRETO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BAIXA ARQUIVOS": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "EXTRAÇÃO DO PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É UM PDF ?": {
      "main": [
        [
          {
            "node": "RENOMEIA PDF SCANNEAVEL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RENOMEIA IMAGEM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RENOMEAR PDF INCORRETO": {
      "main": [
        [
          {
            "node": "ATUALIZAR PLANILHA1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "BAIXA ARQUIVOS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        []
      ]
    },
    "FILTRAR ARQUIVOS COMPARTILHADOS": {
      "main": [
        []
      ]
    },
    "PEGA INFORMAÇÕES NECESSARIAS": {
      "main": [
        [
          {
            "node": "FILTRO TIPO DE ARQUIVO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FILTRAR ARQUIVOS RENOMEADOS": {
      "main": [
        [
          {
            "node": "Filtrar por data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RENOMEIA PDF VAZIO": {
      "main": [
        []
      ]
    },
    "RENOMEIA PDF": {
      "main": [
        []
      ]
    },
    "RENOMEIA IMAGEM": {
      "main": [
        []
      ]
    },
    "RENOMEIA PDF SCANNEAVEL": {
      "main": [
        []
      ]
    },
    "Schedule Trigger": {
      "main": [
        []
      ]
    },
    "Search files and folders1": {
      "main": [
        [
          {
            "node": "PEGA INFORMAÇÕES NECESSARIAS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PROCURAR NOME \"MOVIMENTO\"": {
      "main": [
        [
          {
            "node": "VARREDURA NAS PASTAS DE MOVIMENTO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VARREDURA NAS PASTAS DE MOVIMENTO": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Search files and folders1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Search files and folders1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "PROCURAR NOME \"MOVIMENTO\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        []
      ]
    }
  }
}
