workflows/Renomeador_DP_1CreBeYmIg5yF9Dt.json
{"createdAt":"2025-08-12T18:12:06.135Z","id":"1CreBeYmIg5yF9Dt","name":"Renomeador DP","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"enviar-pdf","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-864,-16],"id":"bf1c314d-5e62-457c-a321-8b740c22ff06","name":"Webhook","webhookId":"cb1b265d-71f1-4e84-ad07-43521893f241"},{"parameters":{"operation":"pdf","binaryPropertyName":"file","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-592,-16],"id":"681a10dc-1111-48fb-ac29-19400f3e9985","name":"Extract from File"},{"parameters":{"promptType":"define","text":"[REDACTED]","hasOutputParser":true,"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[-288,-16],"id":"75143e99-acc7-463d-9457-299367421dfc","name":"Basic LLM Chain"},{"parameters":{"model":{"__rl":true,"value":"gpt-5-mini","mode":"list","cachedResultName":"gpt-5-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[256,432],"id":"dfc0e2dd-b489-4235-b7ab-580eaab4bc46","name":"OpenAI Chat Model"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"rename\": {\n    \"name\": \"{{ $json.text }}.pdf\"\n  }\n}\n","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.3,"position":[224,-16],"id":"32866349-257c-4aa0-909f-dabcae78cbaf","name":"Respond to Webhook"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"[REDACTED]"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-288,208],"id":"28c83438-acc7-4415-b594-d2ddd9f7734c","name":"Message a model"}],"connections":{"Webhook":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0},{"node":"Message a model","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}}}