workflows/RENOMEIA_IMAGENS_YDH3keRYE4xE3V2m.json
{"createdAt":"2025-09-11T17:19:33.519Z","id":"YDH3keRYE4xE3V2m","name":"RENOMEIA IMAGENS","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"update","fileId":{"__rl":true,"value":"={{ $('BAIXA IMAGENS').item.json.ID }}","mode":"id"},"newUpdatedFileName":"={{ $json.message.content['Data de pagamento'] }} - {{ $json.message.content.Beneficiario.toUpperCase() }} - {{ $json.message.content['Valor total'] }}{{ $json.message.content['Tipo de arquivo'] != [empty] || $json.message.content['Tipo de arquivo'] != \"DADO_NAO_ENCONTRADO\" ? $json.message.content['Tipo de arquivo'] : $json.message.content.TipoDocumento  }}.pdf","options":{"propertiesUi":{"propertyValues":[{"key":"[REDACTED]","value":"={{ true }}"}]}}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[896,320],"id":"a8e7e2fa-a2cf-4928-9ac0-bf1cb0670601","name":"RENOMEAR ARQUIVO"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"[REDACTED]","mode":"list","cachedResultName":"Arquivos","cachedResultUrl":"[REDACTED]"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"[REDACTED]"},"columns":{"mappingMode":"defineBelow","value":{"ID":"={{ $('BAIXA IMAGENS').item.json.ID }}","Nome":"={{ $json.name }}"},"matchingColumns":["ID"],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1152,320],"id":"f11cd872-a358-4bd8-987e-5122f2c86abc","name":"ATUALIZAR PLANILHA","disabled":true},{"parameters":{"options":{}},"type":"n8n-nodes-tesseractjs.tesseractNode","typeVersion":1,"position":[368,304],"id":"efc305b0-d209-439b-abfe-94470d08b2f3","name":"Tesseract"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"[REDACTED]","role":"system"}]},"jsonOutput":true,"options":{"temperature":0.1}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[768,64],"id":"370e071d-552d-45c7-8a9c-670270f13dab","name":"OpenAI2"},{"parameters":{"url":"=https://www.googleapis.com/drive/v3/files/{{$json.ID}}?alt=media&supportsAllDrives=true","authentication":"[REDACTED]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[112,304],"id":"439b8b5a-db1b-4bd9-baa3-00f61ddd6349","name":"BAIXA IMAGENS"},{"parameters":{"batchSize":5,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[592,64],"id":"47f0397a-4f56-490d-aea2-b36286c557d0","name":"Loop Over Items3"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[640,304],"id":"d42d2bae-6653-4c16-a5ed-04e11c7928c3","name":"ESPERA 1 SEC2","webhookId":"98aa0b75-6c3b-46bf-8e9e-09b0f7bc809c"},{"parameters":{"workflowInputs":{"values":[{"name":"ID"},{"name":"name"}]}},"type":"[REDACTED]","typeVersion":1.1,"position":[-128,304],"id":"dfba0884-bc34-4de7-877f-6f9952188657","name":"When Executed by Another Workflow"}],"connections":{"RENOMEAR ARQUIVO":{"main":[[]]},"Tesseract":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"OpenAI2":{"main":[[{"node":"ESPERA 1 SEC2","type":"main","index":0}]]},"BAIXA IMAGENS":{"main":[[{"node":"Tesseract","type":"main","index":0}]]},"Loop Over Items3":{"main":[[{"node":"RENOMEAR ARQUIVO","type":"main","index":0}],[{"node":"OpenAI2","type":"main","index":0}]]},"ESPERA 1 SEC2":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"BAIXA IMAGENS","type":"main","index":0}]]}}}