workflows/salva_reuniao_tarefas_Lgb518t80SVqXqbx.json
{"createdAt":"2025-10-22T11:59:58.916Z","id":"Lgb518t80SVqXqbx","name":"salva_reuniao_tarefas","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"resumo_completo"},{"name":"data_hora"},{"name":"titulo"},{"name":"tarefas","type":"array"}]}},"type":"[REDACTED]","typeVersion":1.1,"position":[-352,16],"id":"44c3ba36-bdb5-4664-96d7-f62ad03d22d0","name":"When Executed by Another Workflow"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1008,-112],"id":"c0a6a6b8-e79a-4b29-988c-1c5240329c7a","name":"OpenAI Chat Model"},{"parameters":{"assignments":{"assignments":[{"id":"8dc5d0ee-fff6-4657-bb8b-2ff446d8bcc5","name":"output.tarefas_por_departamento","value":"={{ $json.output.tarefas_por_departamento }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[912,-48],"id":"7361b507-3d1c-4daa-93a9-e7e4bcbbc260","name":"Edit Fields"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"={{ $json.texto }}"},{"content":"=Você receberá um texto contendo uma lista de tarefas organizadas por departamentos. Sua tarefa é extrair essas tarefas e gerar um JSON onde:\n\n- Cada chave é exatamente o nome do departamento, como aparece no texto.\n- O valor de cada chave é um único bloco de texto contendo todas as tarefas atribuídas a esse departamento, mantendo a ordem e a integridade do conteúdo.\n- O JSON deve ser válido e formatado corretamente para posterior uso em banco de dados.\n\nImportante:\n- Ignore qualquer parte do texto que não pertença à seção \"Listagem de Tarefas\".\n- Mantenha a formatação básica de pontuação e acentuação das tarefas.\n- Não crie resumos ou interpretações — use o texto das tarefas exatamente como aparecem, agrupando apenas por departamento.\n\n### Exemplo de saída esperada:\n```json\n{\n  \"Atendimento\": \"Texto completo das tarefas do departamento de Atendimento.\",\n  \"Financeiro\": \"Texto completo das tarefas do departamento Financeiro.\"\n}","role":"system"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[256,-256],"id":"6f228959-6e85-4511-a6e7-134aa9bafc77","name":"Message a model"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[624,-176],"id":"05f85828-b4a6-43f2-a612-b2676491d10e","name":"AI Agent"},{"parameters":{"sessionIdType":"customKey","sessionKey":"[REDACTED]"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[112,352],"id":"8c3a3eb6-8ca5-4487-97a6-737185fdc766","name":"Simple Memory"},{"parameters":{"toolDescription":"Pega:\n- Reuniões, tarefas e departamentos","url":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', ``, 'string') }}","authentication":"[REDACTED]","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[272,352],"id":"a06eaf5a-8cde-412b-bc32-a0f6a535f901","name":"consultar_registro_db"},{"parameters":{"toolDescription":"=Create:\n- reuniões, tarefas\n","method":"POST","url":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', `URL da requisição`, 'string') }}","authentication":"[REDACTED]","sendBody":true,"specifyBody":"json","jsonBody":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('JSON', ``, 'json') }}","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[416,352],"id":"d2a198fe-fe2f-4f2b-8fb2-9b3e9b459009","name":"criar_registro_db"},{"parameters":{"toolDescription":"Update:\n- Reuniões, tarefas e departamentos","method":"PATCH","url":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', ``, 'string') }}","authentication":"[REDACTED]","sendBody":true,"specifyBody":"json","jsonBody":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('JSON', ``, 'json') }}","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[576,352],"id":"1b45e320-3995-43d9-bd90-4c9f4962c76e","name":"atualizar_registro_db"},{"parameters":{"toolDescription":"Delete:\n- Reuniões, tarefas e departamentos","method":"DELETE","url":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', ``, 'string') }}","authentication":"[REDACTED]","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[704,352],"id":"1d44ecf6-2a67-4718-88f4-66e2fbba4f23","name":"remover_registro_db"},{"parameters":{"promptType":"define","text":"={{ $json }}","options":{"systemMessage":"[REDACTED]"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[192,16],"id":"2d72d1a9-771b-43ef-91d0-2665e28ed5c4","name":"agente_db_admin","onError":"continueErrorOutput"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-48,352],"id":"3bb6fc49-7247-4de7-a4ad-9ebcef75c763","name":"OpenAI Chat Model1"},{"parameters":{"assignments":{"assignments":[{"id":"ee6309a0-427e-47e6-96c4-a144fa73c63b","name":"data_hora","value":"={{ $json.data_hora }}","type":"string"},{"id":"2b0f6a03-7ed8-4204-be7e-0ebdff6de3eb","name":"titulo","value":"={{ $json.titulo }}","type":"string"},{"id":"03e6f204-9c07-4694-bfab-51daa8fa13f4","name":"resumo_completo","value":"={{ $json.resumo_completo }}","type":"string"},{"id":"7d760462-4524-4ca0-8deb-4d2f2e8d6288","name":"tarefas","value":"={{ JSON.stringify($json.tarefas, null, 2) }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-64,16],"id":"7995bdee-1503-43f3-9813-0959826f2008","name":"Edit Fields1"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[]]},"consultar_registro_db":{"ai_tool":[[{"node":"agente_db_admin","type":"ai_tool","index":0}]]},"criar_registro_db":{"ai_tool":[[{"node":"agente_db_admin","type":"ai_tool","index":0}]]},"atualizar_registro_db":{"ai_tool":[[{"node":"agente_db_admin","type":"ai_tool","index":0}]]},"remover_registro_db":{"ai_tool":[[{"node":"agente_db_admin","type":"ai_tool","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"agente_db_admin","type":"ai_languageModel","index":0}]]},"Edit Fields1":{"main":[[{"node":"agente_db_admin","type":"main","index":0}]]}}}