workflows/Teste_-_bot_VsaZ0VloDxA2a8h9.json
{"createdAt":"2025-09-19T19:15:26.759Z","id":"VsaZ0VloDxA2a8h9","name":"Teste - bot","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"83eb66d0-d4d5-4ecc-9be8-846396b2fede","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-336,912],"id":"1402da47-8210-4a1a-88ee-6dc1ca3e4cfa","name":"Webhook","webhookId":"83eb66d0-d4d5-4ecc-9be8-846396b2fede","disabled":true},{"parameters":{"requestMethod":"POST","url":"[REDACTED]","options":{},"bodyParametersUi":{"parameter":[{"name":"name","value":"teste"},{"name":"description","value":"testando"},{"name":"type","value":"1"}]},"headerParametersUi":{"parameter":[{"name":"Authorization","value":"=Bot {{ $json.bot_token }}"}]}},"id":"a4bfe5cf-aa5b-4317-ad40-aa54ef23efda","name":"Registrar Slash Command","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[272,912],"disabled":true},{"parameters":{"jsCode":"return {\n  type: 1\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-128,912],"id":"cf798d48-916b-433e-8022-0e7fae3a603a","name":"Code in JavaScript","disabled":true},{"parameters":{"options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[80,912],"id":"128bd922-15f1-43dd-b60e-eda9ff38d685","name":"Respond to Webhook","disabled":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.content }}","rightValue":"={{ $('Comands').item.json.commands[0] }}","operator":{"type":"string","operation":"equals"},"id":"38685b63-05ff-4571-a940-b24b8a210b43"}],"combinator":"and"},"renameOutput":true,"outputKey":"[REDACTED]"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ceca3d15-c566-4e3e-b17f-f0c0383168c7","leftValue":"={{ $json.content }}","rightValue":"={{ $('Comands').item.json.commands[1] }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"[REDACTED]"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"292692ea-6509-4cbd-a5d9-e936899943d3","leftValue":"={{ $json.content }}","rightValue":"={{ $('Comands').item.json.commands[2] }}","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"[REDACTED]"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"eea47f6c-cfe5-4c52-a574-1248443335fc","leftValue":"={{ $('Comands').item.json.commands.includes($json.content) }}","rightValue":"=","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"[REDACTED]"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[896,368],"id":"a68226f6-e612-4b51-92e9-e8ef2d9c0a0c","name":"Switch"},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"1412776659505119316","mode":"list","cachedResultName":"Desenvolvimento - Dep IA","cachedResultUrl":"[REDACTED]"},"channelId":{"__rl":true,"value":"={{ $('Get many messages').item.json.channel_id }}","mode":"id"},"content":"={{$json.response_content}}","options":{"flags":["SUPPRESS_NOTIFICATIONS"]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1440,192],"id":"e5dadcd6-53bb-472a-9cfd-692bde7b664c","name":"Send a message","webhookId":"35c7652d-8b02-4943-8688-95b57e4cf287"},{"parameters":{"assignments":{"assignments":[{"id":"b6089f82-b2e9-4765-91b7-365736d7741b","name":"response_content","value":"Pong!","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1232,112],"id":"1529fd3e-ce72-4042-ac25-8c58f5714541","name":"Pong"},{"parameters":{"assignments":{"assignments":[{"id":"eddc1512-8125-47a3-9faa-6ed3689d81c3","name":"commands","value":"[ \"!ping\", \"!clear\", \"!credenciais\"]","type":"array"},{"id":"bcb828b9-bafd-4e3d-b1f4-5222175fea0f","name":"application_id","value":"={{ $('Definir IDs').item.json.application_id }}","type":"string"},{"id":"2faf67f4-b507-4fab-9eda-3edd61be7e0f","name":"guild_id","value":"={{ $('Definir IDs').item.json.guild_id }}","type":"string"},{"id":"e9b53aa9-3c02-4712-b95b-7a9cf62e60d6","name":"bot_token","value":"={{ $('Definir IDs').item.json.bot_token }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[512,896],"id":"25cc9d0e-5be3-4530-8849-16d153cd1a7c","name":"Reseta dados1","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"0bfdbbb3-e61f-425e-b447-b762c240accf","name":"response_content","value":"[REDACTED]","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1232,272],"id":"c77bfe4b-f8a8-4117-822d-67240f80b2e4","name":"credenciais"},{"parameters":{"assignments":{"assignments":[{"id":"55d31e7d-fc4e-4582-8061-93644319d589","name":"num","value":"={{ $json.content.replaceAll('!clear', '').toNumber()}}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1232,416],"id":"cafa7028-c726-4363-8d30-4af17c08818c","name":"clear"},{"parameters":{"resource":"message","operation":"getAll","guildId":{"__rl":true,"value":"1412776659505119316","mode":"list","cachedResultName":"Desenvolvimento - Dep IA","cachedResultUrl":"[REDACTED]"},"channelId":{"__rl":true,"value":"={{ $('Switch').item.json.channel_id }}","mode":"id"},"limit":"={{ $json.num }}","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1440,416],"id":"dd2f67ef-7822-4dcb-ac92-3ec521229ba9","name":"Get many messages1","webhookId":"59bf5c12-ea2d-44e2-a62c-cf2ae86a239e"},{"parameters":{"resource":"message","operation":"deleteMessage","guildId":{"__rl":true,"value":"1412776659505119316","mode":"list","cachedResultName":"Desenvolvimento - Dep IA","cachedResultUrl":"[REDACTED]"},"channelId":{"__rl":true,"value":"={{ $json.channel_id }}","mode":"id"},"messageId":"={{ $json.id }}"},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1648,416],"id":"68bbca88-2c2d-4bc8-829d-235174a462f4","name":"Delete a message","webhookId":"ced24432-cfd5-4ebb-8808-ae2c05ed0f87","onError":"[REDACTED]"},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1888,400],"id":"b6c3adbd-b298-45c0-afcf-1354dc52608f","name":"Merge"},{"parameters":{"assignments":{"assignments":[{"id":"eddc1512-8125-47a3-9faa-6ed3689d81c3","name":"commands","value":"[ \"!ping\", \"!clear\", \"!credenciais\"]","type":"array"},{"id":"bcb828b9-bafd-4e3d-b1f4-5222175fea0f","name":"application_id","value":"={{ $('Definir IDs').item.json.application_id }}","type":"string"},{"id":"2faf67f4-b507-4fab-9eda-3edd61be7e0f","name":"guild_id","value":"={{ $('Definir IDs').item.json.guild_id }}","type":"string"},{"id":"e9b53aa9-3c02-4712-b95b-7a9cf62e60d6","name":"bot_token","value":"={{ $('Definir IDs').item.json.bot_token }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2080,416],"id":"0823e5de-6466-4984-b112-88290f3d2365","name":"Reseta dados"},{"parameters":{"assignments":{"assignments":[{"id":"eddc1512-8125-47a3-9faa-6ed3689d81c3","name":"commands","value":"[ \"!ping\", \"!credenciais\", \"!clear\"]","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-384,400],"id":"d6389e83-427e-4587-9490-65bc831dc223","name":"Comands"},{"parameters":{"options":{"reset":true}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-48,400],"id":"995e9b98-f67f-4f37-8d70-8055297f55b0","name":"Loop Over Items"},{"parameters":{"events":["activate"]},"type":"n8n-nodes-base.n8nTrigger","typeVersion":1,"position":[-544,400],"id":"bef11ed0-7e76-47dd-915e-858166b7ed0e","name":"n8n Trigger"},{"parameters":{"fieldToSplitOut":"id","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[512,400],"id":"f397056d-fa69-427f-85ac-59a5cac023c8","name":"Split Out"},{"parameters":{"url":"=https://discord.com/api/v10/guilds/{{ $json.guild_id }}/channels","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bot {{ $json.bot_token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[144,400],"id":"a590ab82-8dcf-4b27-8109-90cc020c6a9c","name":"HTTP Request"},{"parameters":{"jsCode":"// Pega a saída do HTTP Request\nconst canais = $input.all().map(item => item.json);\n\n// Se não for array, provavelmente é erro\nif (!Array.isArray(canais)) {\n  return [{ json: { erro: true, resposta: canais } }];\n}\n\nconst formatados = canais.map(c => ({\n  id: c.id,\n  // nome: c.name,\n  // tipo: c.type,   // 0 = texto, 2 = voz, 4 = categoria\n  // parentId: c.parent_id || null,\n  // posicao: c.position,\n  // \n}));\n\nreturn formatados.map(c => ({ json: c }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[320,400],"id":"ba2bff7e-ec0a-4e55-b3ae-0c196e682076","name":"Code in JavaScript1"},{"parameters":{"values":{"string":[{"name":"application_id","value":"1418331570728734814"},{"name":"guild_id","value":"1412776659505119316"},{"name":"bot_token","value":"[REDACTED]"}]},"options":{}},"id":"e82df95f-954f-473f-9339-a54f98a0583a","name":"Definir IDs","type":"n8n-nodes-base.set","typeVersion":2,"position":[-224,400]},{"parameters":{"resource":"message","operation":"getAll","guildId":{"__rl":true,"value":"1412776659505119316","mode":"list","cachedResultName":"Desenvolvimento - Dep IA","cachedResultUrl":"[REDACTED]"},"channelId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"limit":1,"options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[704,400],"id":"f7774c86-625f-4c92-8e15-e7d10c7eabfb","name":"Get many messages","webhookId":"1176651c-4078-4e3c-bde1-b5065fdd6c1a","retryOnFail":false,"onError":"continueErrorOutput"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2288,416],"id":"8a17d4ab-da30-46a7-9a84-f1f3694b4f3e","name":"Wait","webhookId":"61d2a47e-0123-4635-89a7-431e89cb4abb"}],"connections":{"Webhook":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Respond to Webhook":{"main":[[]]},"Switch":{"main":[[{"node":"Pong","type":"main","index":0}],[{"node":"credenciais","type":"main","index":0}],[{"node":"clear","type":"main","index":0}],[{"node":"Merge","type":"main","index":2}]]},"Send a message":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Pong":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Reseta dados1":{"main":[[]]},"credenciais":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"clear":{"main":[[{"node":"Get many messages1","type":"main","index":0}]]},"Get many messages1":{"main":[[{"node":"Delete a message","type":"main","index":0}]]},"Delete a message":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Reseta dados","type":"main","index":0}]]},"Reseta dados":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Get many messages","type":"main","index":0}]]},"Comands":{"main":[[{"node":"Definir IDs","type":"main","index":0}]]},"n8n Trigger":{"main":[[{"node":"Comands","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"HTTP Request","type":"main","index":0}],[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Definir IDs":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Get many messages":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}}}