workflows/timbrado_ia_OwGA9iaDz9AngYGt.json
{"createdAt":"2025-10-28T19:18:17.756Z","id":"OwGA9iaDz9AngYGt","name":"timbrado_ia","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"resumo_texto"}]}},"type":"[REDACTED]","typeVersion":1.1,"position":[0,0],"id":"2d35ada5-3d96-46ef-a5ca-153508339dff","name":"When Executed by Another Workflow"},{"parameters":{"method":"POST","url":"http://147.93.66.91:55503/timbrar","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"arquivo","inputDataFieldName":"arquivo"}]},"options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"=timbrado_tarefas"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[528,0],"id":"5f9dd34f-e162-49a5-ac74-e2b6b222310d","name":"HTTP Request"},{"parameters":{"operation":"toText","sourceProperty":"=resumo","binaryPropertyName":"arquivo","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[352,0],"id":"c4bfb6c6-c717-4a3e-8da9-7fc04ad64b17","name":"Convert to File"},{"parameters":{"assignments":{"assignments":[{"id":"aef3a46f-b775-4504-93b6-b09aab6cc4d6","name":"=resumo","value":"={{ $json.resumo_texto }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[176,0],"id":"ab2a0f75-f9a3-40e8-b0ee-0ca2308114f3","name":"texto_resumo"}],"connections":{"Convert to File":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"texto_resumo":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"texto_resumo","type":"main","index":0}]]}}}