workflows/áudio_para_texto_5Ugz07XUD7Hj8OOs.json
{"createdAt":"2025-08-12T17:02:58.552Z","id":"5Ugz07XUD7Hj8OOs","name":"áudio_para_texto","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"message_id"},{"name":"instance"},{"name":"numero"}]}},"type":"[REDACTED]","typeVersion":1.1,"position":[0,0],"id":"c54914d6-99ea-49f9-ae5f-7fc2b28c9c44","name":"Start"},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{"fileName":"audio.mp3","mimeType":"audio/mpeg"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[448,0],"id":"4c4ddfae-28dc-4125-90e8-27f8826176a7","name":"base64_para_arquivo"},{"parameters":{"assignments":{"assignments":[{"id":"fe29320c-40ce-467e-a94f-836ee4f23ce0","name":"mensagem","value":"={{ $json.text\n}}","type":"string"},{"id":"a2239b97-a459-4a10-ab48-0f88fa05455b","name":"numero","value":"={{ $('Start').item.json.numero }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[880,0],"id":"8f845ead-5545-4d2a-b1c6-70b6ff7ebf8f","name":"response"},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"={{ $('Start').item.json.instance }}","messageId":"={{ $('Start').item.json.message_id; }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[224,0],"id":"d09314bc-b14a-4f19-8829-2a9410a7f297","name":"obter_midia_em_base64"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[672,0],"id":"2ca5b1ce-26d8-413a-96b5-0a62fdf2217a","name":"transcreve_audio"}],"connections":{"Start":{"main":[[{"node":"obter_midia_em_base64","type":"main","index":0}]]},"base64_para_arquivo":{"main":[[{"node":"transcreve_audio","type":"main","index":0}]]},"obter_midia_em_base64":{"main":[[{"node":"base64_para_arquivo","type":"main","index":0}]]},"transcreve_audio":{"main":[[{"node":"response","type":"main","index":0}]]}}}